<div class="evo-table-container">
	<div class="evo-filter-container">
		<div class="row">

			<div class="col-sm-3 col-md-3 col-lg-2">
				<div class="form-group">
					<label for="">{{ 'FILTERBYDEALNAME' | translate }}</label>
					<input id="DealNameFilterText" type="text" (keyup)="updateSearch();" [(ngModel)]="searchString" name="DealNameFilter" class="form-control"
					 placeholder="{{'NAME' | translate}}">
				</div>
			</div>
			<div class="col-sm-3 col-md-3 col-lg-2">
				<div class="form-group">
					<label for="">{{ 'ACCOUNT' | translate }}</label>
					<account-select [value]="selectedaccount" (selectAccount)="selectedaccount=$event;accountListSeach($event)"></account-select>
				</div>

			</div>
			<div class="col-sm-3 col-md-3 col-lg-2">
				<div class="form-group">
					<label for="">{{ 'FILTERBYDEALOWNER' | translate }}</label>
					<chosen id="DealOwnerFilterDropdown" [width]="'100%'" [multiple]="false" [options]="users" [(ngModel)]="owner" name="DealOwnerFilter"
					 (change)="owner=$event;updateSearch();"></chosen>
				</div>
			</div>
			<div class="col-sm-3 col-md-3 col-lg-2">
				<div class="form-group">
					<label for="">{{ 'FILTERBYDEALSTATUS' | translate }}</label>
					<chosen id="DealStatusFilterDropdown" [width]="'100%'" [multiple]="false" [options]="dealStatuses" [optionsGroups]="saleProcess"
					 [(ngModel)]="dealstatus" name="DealStatusFilter" (change)="dealstatus=$event;updateSearch();"></chosen>
				</div>

			</div>
		</div>
	</div>
	<div class="gridWrapper evo-table">
		<table>
			<thead>
				<tr>
					<th *ngFor="let column of columns">{{column.label | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let row of deals;let i=index">
					<td *ngFor="let column of columns" [attr.data-label]="column.name" [attr.class]="column.class">
						<a *ngIf="column.Link" (click)="_dealAddEdit.showDeal(row)"> {{row[column.name]}}</a>
						<div *ngIf="column.AccountLink" class="accountLabel" [style.background]="row.AccountTypeColor"></div><a *ngIf="column.AccountLink" (click)="showAccountInfo(row.AccountId)">{{row[column.name]}}</a>
						<span *ngIf="column.Owner"><img style="max-width: 25px; margin-right: 1px;" [profilepicture]="owner.UserId" [tooltip]="owner.OwenerName" *ngFor="let owner of row.Owners" /></span>
						<span *ngIf="!column.Owner && !column.Link && !column.AccountLink && !column.Act && !column.pipe">{{row[column.name]}}</span>
						<span *ngIf="column.pipe">{{row[column.name] | bigNumber}} {{currentOrg.CurrencyName}}</span>
						<a (click)="delete(row.Id,i)" *ngIf="column.Act" class="link icon"><i class="fa fa-trash-o"></i></a>
					</td>
				</tr>
				<tr *ngIf="deals && deals.length==0">
					<td colspan="5">
						{{'DEALSINTRO' | translate}}
					</td>
				</tr>
			</tbody>
		</table>

		<div class="preloaderWrapper" *ngIf="listing.apiInProgress">
			<div class="preloader">
				<div class="cssload-container">
					<div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>