<select [multiple]="multiple" style="padding:0 0 0 4px !important">
    <ng-template [ngIf]="options != null">
        <option *ngIf="allowSingleDeselect"></option>

        <!--Normal-->
        <ng-template [ngIf]="optionsGroups == null && !labelHtml">
            <option *ngFor="let option of options" [value]="option.value">{{option.label}}</option>
        </ng-template>

        <!--Normal-->
        <ng-template [ngIf]="optionsGroups == null && labelHtml">
            <option *ngFor="let option of options" [value]="option.value" [innerHtml]="option.label"></option>
        </ng-template>

        <!--With Groups-->
        <ng-template [ngIf]="optionsGroups != null">
            <ng-template *ngFor="let option of options">
                <ng-template [ngIf]="option.group == null">
                    <option [value]="option.value">{{option.label}}</option>
                </ng-template>
            </ng-template>
            <optgroup *ngFor="let group of optionsGroups" label="{{group.label | translate}}">
                <!-- Todo! Cant seem to use templae inside optgroup. Nothing gets rendered. Works if ng-template is removed. Using Pipe instead-->
                <!--<ng-template ngFor [ngForOf]="options" #option>
                    <option *ngIf="option.group === group.value" [value]="option.value">{{option.label}}</option>
                </ng-template>-->
                <option *ngFor="let option of options | OptionGroup : group.value"  [value]="option.value">{{option.label}}</option>
            </optgroup>
        </ng-template>

    </ng-template>
</select>

<!--<select [multiple]="multiple" style="padding:0 0 0 4px !important">
    <option *ngIf="allowSingleDeselect && options!= null"></option>
    <option *ngFor="let option of options" *ngIf="option.group == null" [value]="option.value">{{option.label}}</option>

    <optgroup *ngFor="let group of optionsGroups" *ngIf="optionsGroups != null" label="{{group.label | translate}}">
        <option *ngFor="let option of options" *ngIf="option.group == group.value" [value]="option.value">{{option.label}}</option>
    </optgroup>
</select>-->
