.popup-icons{
    display: inline-block;
}

.popup-icon-img{
    max-width: 40px;
}

.icon-span {
    width: 34px;
    display: inline-block;
    text-align: center;
    height: 34px;
    padding-top: 5px;
    background-color: #DDD;
    border: solid 1px #CCC;
}

.icon-span.selected {
    background-color: #bbb;
    border: #aaa solid 1px;
}

.add-minus-btn{
    display: inline-block;
    width: 34px;
    height: 34px;
    text-align: center;
    cursor: pointer;
    /*border: solid 1px #CCC;
    padding: 4px 1px;
    background: #DDD;*/
}

.add-minus-input{
    display: inline-block;
    width: calc(100% - 75px);
}

.cp-container {
    display: inline-block;
    border: solid 1px #CCC;
    border-right: none;
    height: 34px;
    border-right: none;
    width: 34px;
    padding: 7px;
}

.cp-span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: solid 1px #CCC;
    cursor: pointer;
}

.cp-input {
    display: inline-block;
    width: calc(100% - 34px);
    position: absolute;
}

.border-container {
    margin-bottom: 15px;
}

.border-style-container {
    position: relative;
    float: left;
    width: 40%;
}

.border-style-container.small {
    width: 20%;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.button-style-container{
    display: inline-block;
    padding: 5px;
}

.button-style-container.selected{
    background-color: #DDD;
    border: solid 1px #CCC;
}

.button-style{
    display: inline-block;
    border: solid 1px #CCC;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

.button-style.round{
    border-radius: 100px;
}

.inner-col {
  height: 100px;
  background-color: #ccc;
  padding: 0;
}

.inner-col.left{
  padding-left: 1px;
}

.default-row-container{
    padding-top: 5px;
    padding-bottom: 5px;
    width: calc(100% - 50px);
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 25px;
    cursor: pointer;
}

.default-row-container:hover .inner-col{
    background-color: #aaa;
}

.default-col {
    padding-left: 1px;
    padding-right: 1px;
}

.default-block-container{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #eee;
}

.default-block {
  height: 120px;
  width: 120px;
  border: solid 1px #ccc;
  border-bottom-color: transparent;
}

.default-block-inner {
  display: table-cell;
  height: 120px;
  width: 120px;
  vertical-align: middle;
  text-align: center;
}

.default-block-label{
    border: solid 1px #ccc;
    border-top-color: transparent;
    text-align: center;
}

.default-text {
  font-size: 48px;
  font-family: serif
}

.default-divider {
  color: #ccc;
  background-color: black;
  height: 20px;
  width: 90%;
  display: block;
  margin: auto;
}

.default-image {
    max-width: 80%;
}

.drag-row{
    width: 20%;
    display: inline-block;
}

.styling-drop-menu {
    border: solid 1px #CCC;
    padding: 2px;
    padding-left: 5px;
    background-color: #EEE;
    margin-bottom: 5px;
}

.template-inline-block{
    display: inline-block;
    cursor: pointer;
    padding-top: 6px;
}

.template-cancel{
    padding-top: 0;
}

.part-container {
    background-color: #eee;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
    border: solid 1px #CCC;
}

.product-column-icons {
    margin-left: 3px;
}