<div class="mainTitle leftFree">
    <h1>{{ "CALENDAR" | translate }}</h1>
</div>
<div class="contentPanel leftFree">
    <div class="projectBox">
        <div class="row monthNav">
            <div class="col-lg-4">
                <h3>
                    <a class="icon" (click)="getMonth(-1)"><i class="fa fa-arrow-left"></i> {{ lastMonth | translate }}</a>
                </h3>
            </div>
            <div class="col-lg-4 text-center">
                <h2>
                    {{ thisMonth | translate }} {{ year }}
                </h2>
            </div>
            <div class="col-lg-4 text-right">
                <h3>
                    <a class="icon" (click)="getMonth(1)">{{ nextMonth | translate }} <i class="fa fa-arrow-right"></i></a>
                </h3>
            </div>
            <!--<div class="col-lg-3">
                <a (click)="viewDay()" class="btn">{{ "DAY" | translate }}</a>
                <a (click)="viewWeek()" class="btn">{{ "WEEK" | translate }}</a>
                <a (click)="viewMonth()" class="btn">{{ "MONTH" | translate }}</a>  
            </div>-->
        </div>
        <div class="calendar">
            <div class="weekDay" *ngFor="let weekDay of weekDays">
                {{ weekDay.Name }}
                <div class="calendarDay" [class.expandRight]="weekDay.Num == 0" [class.expandLeft]="weekDay.Num == 6" [class.today]="day.Today"
                    [class.weekend]="day.Weekend" [class.greyed]="!day.ThisMonth" *ngFor="let day of days[weekDay.Num]" (mouseenter)="openDay(day)"
                    (mouseleave)="day.Expanded = false" (dblclick)="day.ThisMonth && createAction(day.Date)">
                    <div class="date">{{ day.Date }}</div>
                    <div *ngIf="day.Events?.length < 3">
                        <div class="event" *ngFor="let ev of day.Events">
                            <div class="start">{{ ev.Start | timeonly }}</div>
                            <div class="subject" (mouseenter)="checkTrunc($event)" (mouseleave)="showToolTip = false" [tooltip]="showToolTip && !day.Expanded && ev.Subject">
                                <a class="icon" *ngIf="ev.ActionId" (click)="openActionModal(ev.ActionId)"><i class="fa fa-check-square-o"></i></a>
                                <span *ngIf="!ev.ActionId && ev.Provider == 'Microsoft'"><i class="fa fa-windows"></i></span>
                                <span *ngIf="!ev.ActionId && ev.Provider == 'Google'"><i class="fa fa-google"></i></span>                                {{ ev.Subject }}
                            </div>
                        </div>
                    </div>
                    <div *ngIf="day.Events?.length > 2">
                        <div class="event">
                            <div class="start">{{ day.Events[0].Start | timeonly }}</div>
                            <div class="subject" (mouseenter)="checkTrunc($event)" (mouseleave)="showToolTip = false" [tooltip]="showToolTip && !day.Expanded && day.Events[0].Subject">
                                <a class="icon" *ngIf="day.Events[0].ActionId" (click)="openActionModal(day.Events[0].ActionId)"><i class="fa fa-check-square-o"></i></a>
                                <span *ngIf="!day.Events[0].ActionId && day.Events[0].Provider == 'Microsoft'"><i class="fa fa-windows"></i></span>
                                <span *ngIf="!day.Events[0].ActionId && day.Events[0].Provider == 'Google'"><i class="fa fa-google"></i></span>                                {{ day.Events[0].Subject }} </div>
                            <div>{{ "MOREEVENTS" | translate:{ count: day.Events?.length-1 } }}</div>
                        </div>
                    </div>
                    <div class="absolute" [class.expanded]="day.Expanded">
                        <div class="text-center">
                            <h4 style="margin-top: 5px">{{ day.Date }} {{ thisMonth }}</h4>
                        </div>
                        <div class="event row" *ngFor="let ev of day.Events">
                            <div class="start col-lg-3">{{ ev.Start | timeonly }}</div>
                            <div class="subject col-lg-9">
                                <a class="icon" *ngIf="ev.ActionId" (click)="openActionModal(ev.ActionId)"><i class="fa fa-check-square-o"></i></a>
                                <span *ngIf="!ev.ActionId && ev.Provider == 'Microsoft'"><i class="fa fa-windows"></i></span>
                                <span *ngIf="!ev.ActionId && ev.Provider == 'Google'"><i class="fa fa-google"></i></span>                                {{ ev.Subject }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>