.weekDay {
    display: inline-block;
    width: calc(100% / 7);
    text-align: center;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    vertical-align: top;
    position: relative;
}
 
.weekDay:first-child{
    border-left: 1px solid #ddd;
}

.calendarDay {
    display: block;
    text-align: left;
    height: 100px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    min-width: 100%;
    position: relative;
}

.calendarDay .date {
    color: #b4b4b4;
    font-size: 10px;
    width: 18px;
    height: 18px;
    text-align: center;
    border-radius: 9px;
}

.calendarDay .event {
    font-size: 12px;
}

.calendarDay > .absolute {
    position: absolute;
    visibility: hidden;
    background-color: white;
    width: 0px;
    height: unset;
    z-index: 1;
    overflow:hidden;
    transition: width 100ms linear;
}
.calendarDay > .absolute .subject {
    overflow: hidden;
    white-space: normal;
    text-overflow: unset;
}
.calendarDay > .absolute.expanded {
    top:0px;
    left:50%;
    transform: translate(-50%);
    width: 180%;
    visibility: visible;
    box-shadow: 0px 8px 33px #9e9e9e;
    padding:20px;
    border-radius: 5px;
}

.event .subject {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

:host >>> .tooltip {
    white-space: normal;
}
/*
.event .subject:hover {
    overflow: visible;
}*/

.calendarDay.weekend {
    background-color: #eef7ee;
}

.calendarDay.greyed {
    background-color: #efefef;
}

.calendarDay.today {
    background-color: #eff;
}
.calendarDay.expandRight > .absolute.expanded {
    transform: unset;
    left:0px;
}
.calendarDay.expandLeft > .absolute.expanded {
    transform: unset;
    left:unset;
    right: 0px;
}


.weekDay .calendarDay:first-child {
    border-top: 1px solid #ddd;
}
