<div class="mainTitle">
    <h1>{{ 'PHONESETTINGS' | translate }}</h1>
</div>
<div class="panelAction">

</div>
<div class="contentPanel settingsPage">
    <div class="contentWrapper">
        <div class="projectBox clearfix">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12" innerHtml="{{'PHONENUMBERSINTRO' | translate}}">
                    
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="pull-right" style="background-color:#eee;border:1px solid #dddddd ;padding:5px;">

                        <div *ngIf="defaultOrgNumber">
                            <div style="text-align:right">
                                <b>{{'DEFAULTNUMBER' | translate }}:</b>
                                <div style="display:inline-block;width:150px;text-align:left">
                                    {{defaultOrgNumber.Description ? defaultOrgNumber.Description : defaultOrgNumber.Number }}
                                </div>
                            </div>

                        </div>

                        <div *ngIf="selectedNumber">
                            <div style="text-align:right">
                                <b>{{'SELECTEDNUMBER' | translate }}:</b>
                                <div style="display:inline-block;width:150px;text-align:left">
                                    {{selectedNumber.Description ? selectedNumber.Description : selectedNumber.Number }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn custom small" (click)="refresh()">{{'REFRESH' | translate}}</button>
                    </div>
                </div>
            </div>
            <div>
                <h4>{{'ORGNUMBERS' | translate }}</h4>
            </div>
            <phonelist [numbers]="orgNumbers" [selectedNumber]="selectedNumber" (add)="addNewOrgNumber($event)" (delete)="deleteOrgNumber($event)" (verify)="verify($event)" [enableSetDefault]="true"></phonelist>
            <div>
                <h4>{{'USERNUMBERS' | translate }}</h4>
            </div>
            <phonelist [numbers]="userNumbers" [selectedNumber]="selectedNumber" (add)="addNewUserNumber($event)" (delete)="deleteUserNumber($event)" (verify)="verify($event)"></phonelist>

        </div>
    </div>
</div>
