<div>
    <div class="row" style="background-color:#eee; border:1px solid #dddddd;margin-bottom:5px;">
        <div class="col-md-2"><b>{{'DESCRIPTION' | translate}}</b></div>
        <div class="col-md-2"><b>{{'PHONENUMBER' | translate}}</b></div>
        <div class="col-md-2"><b>{{'STATUS' | translate}}</b></div>
        <div class="col-md-6" style="text-align:right"><a class="link" (click)="showNewNumber=true">+ {{'ADDNEWNUMBER' | translate}}</a></div>
    </div>
    <div *ngFor="let nr of numbers" class="row">
        <div class="col-md-2">{{nr.Description}}</div>
        <div class="col-md-2">{{nr.Number}}</div>
        <div class="col-md-2">
            {{ ( nr.Verified ? "VERIFIED" : "NOTVERIFIED" ) | translate}}
            <button *ngIf="!nr.Verified" (click)="verify(nr)" class="btn custom small">{{'VERIFY' | translate}}</button>
        </div>
        <div class="col-md-6" style="text-align:right">
            <button [disabled]="!nr.Verified" *ngIf="enableSetDefault" (click)="setNewDefaultNumber(nr)" class="btn custom small">{{'SETDEFAULTNUMBER' | translate }}</button>
            <button [disabled]="!nr.Verified || (selectedNumber && nr.Number == selectedNumber.Number)" (click)="selectNumber(nr)" class="btn custom small">{{'SELECT' | translate}}</button>
            <button (click)="delete.next(nr.Id)" class="btn custom small">{{'DELETE' | translate }}</button>
        </div>
    </div>
    <div *ngIf="showNewNumber" class="form-group row">
        <div class="col-md-2">
            <input type="text" class="form-control" [(ngModel)]="newNumber.Description" placeholder="{{'DESCRIPTION' | translate}}" />
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" [(ngModel)]="newNumber.Number" placeholder="{{'PHONENUMBER' | translate}}" />
        </div>
        <div class="col-md-2">
            <button class="btn btn custom small" (click)="add.next(newNumber);showNewNumber=false;">{{'ADDNEWNUMBER' | translate }}</button>
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="row" style="border-bottom:1px solid #efefef"></div>
</div>
