<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-8 col-xs-10">
                <a class="logo" [routerLink]="['/CRM', 'Dashboard']">
                    <img [src]="logoUrl" alt="" class="hidden-xs" />
                    <img src="assets/images/evolumi-icon.png" alt="" class="hidden-sm hidden-md hidden-lg" />
                </a>
                
                <select class="navSelect" [class.clickable]="navMenus.length > 1" [(ngModel)]="selectedMenu" [disabled]="navMenus.length < 2">
                    <option [selected]="menu == selectedMenu" *ngFor="let menu of navMenus" [value]="menu">&nbsp;&nbsp;&nbsp;{{ menu }}<span *ngIf="userIsPlus && menu=='CRM'">+</span>&nbsp;&nbsp;&nbsp;</option>
                </select>
                <div class="mobileMenu" (click)="openSideMenu();">
                    <i class="fa fa-bars"></i>
                </div>
            </div>

            <div class="col-lg-7 col-md-6 col-sm-4 col-xs-2">
                <click-to-close class="avatar hidden-xs hidden-sm" (click)="showSettingMenu()">
                    <div>
                        <img [profilepicture]="currentUser.Id" id="headerBlackImage">
                    </div>
                </click-to-close>
            </div>

        </div>
    </div>
</header>


<div Id="PrimaryMenu" class="primaryMenu" [ngClass]="{ userDetailsActive: show, 'systemActive':menuActive }">

    <!--Dropdown Menu-->
    <click-to-close (clickOutSide)="hideSettingMenu($event)">
        <div class="userDetails" [ngClass]="{systemActive: show}" [class.showUserMenu]="userMenu">
            <div class="title">
                <div class="icon">
                    <img [profilepicture]="currentUser.Id">
                </div>
                <font>
                    {{Name}}
                </font>
                <div class="viewSettings" (click)="showmenu()">
                    <i class="fa fa-{{ userMenu ? 'angle-up' : 'angle-down' }}"></i>
                </div>
            </div>
            <ul class="subMenu">
                <li>
                    <a Id="MyverviewLink" [routerLink]="['/Overview']" (click)="show=false;">
                        <i class="fa fa-user"></i>
                        <font>{{ 'MYOVERVIEW' | translate }}</font>
                    </a>
                </li>
            </ul>

            <ul class="subMenu">
                <li *ngIf="orgName !=='null' && orgName" class="title">{{orgName}}</li>

                <li *ngIf="!permissions.isGuest && permissions.handleUsers">
                    <a Id="MenuAddUserLink" (click)="orgService.toggleInviteUserPopup();show=false;">
                        <i class="fa fa-plus"></i>
                        <font>{{ 'USERADD' | translate }}</font>
                    </a>
                </li>

                <li *ngIf="!permissions.isGuest">
                    <a Id="MenuSettingsLink" [routerLink]="['Settings']" (click)="show=false;">
                        <i class="fa fa-cog"></i>
                        <font>{{ 'SETTINGS' | translate }}</font>
                    </a>
                </li>
            </ul>

            <ul class="subMenu">
                <li>
                    <a Id="MenuChangeLanguageLink" (click)="showLanguageMenu()">
                        <i class="fa fa-globe"></i>
                        <font>{{ 'LANGUAGE' | translate }}</font>
                    </a>
                </li>
                <li>
                    <a Id="MenuHelpcenterLink" (click)="openHelp(); show=false">
                        <i class="fa fa-coffee"></i>
                        <font>{{ 'HELPCENTER' | translate }}</font>
                    </a>
                </li>
                <li>
                    <a Id="MenuLogOffLink" (click)="logOff()">
                        <i class="fa fa-power-off"></i>
                        <font>{{ 'LOGOFF' | translate }}</font>
                    </a>
                </li>
            </ul>
        </div>
    </click-to-close>

    <!--Section Icons-->
    <!--<span class="navLinks" [class.selected]="selectedMenu == 'CRM'">-->
    <a *ngFor="let link of links.CRM" 
        [id]="link.id" 
        [routerLink]="[link.path]" 
        [routerLinkActive]="['evo-nav-active']" class="evo-nav-section-link" 
        evo-require [permissions]="link.permissions" [features]="link.features" 
        tooltip="{{link.text | translate}}" placement="right"
        (click)="closeSideMenu()">
        
        <i class="fa fa-{{link.icon}}"></i>
        <b>{{link.text | translate}}</b>
    </a>
<!--</span>
    <span *ngIf="false" class="navLinks" [class.selected]="selectedMenu == 'Sales'">
    <a *ngFor="let link of links.Sales" 
        [id]="link.id" 
        [routerLink]="[link.path]" 
        [routerLinkActive]="['evo-nav-active']" class="evo-nav-section-link" 
        evo-require [permissions]="link.permissions" [features]="link.features" 
        tooltip="{{link.text | translate}}" placement="right"
        (click)="closeSideMenu()">
        
        <i class="fa fa-{{link.icon}}"></i>
        <b>{{link.text | translate}}</b>
    </a>
    </span>-->

</div>

<searchbar></searchbar>

<!--For Mobile-->
<div class="popupOverlay" id="sidemenuPopUpHeader" [ngClass]="{'systemActive': menuActive}" (click)="closeSideMenu()"></div>

<!--Language-->
<div class="customPopup small" [ngClass]="{'systemActive':languageActive}" id="language" (click)="closeLanguageMenu($event)">
    <div class="popupBox">
        <div class="title">
            {{ 'LANGUAGE' | translate }}
            <a class="close pull-right" (click)="closeLanguageMenu($event)"><i class="fa fa-times" id="close1"></i></a>
        </div>
        <div class="popupContent">
            <form>
                <chosen Id="LanguageSelectDropdown" [width]="'100%'" [multiple]="false" [options]="languages" [(ngModel)]="selectedLanguage"
                    [ngModelOptions]="{standalone: true}"></chosen>
                <br />
                <br />
                <button class="btn pull-right" (click)="changeLanguage(selectedLanguage)">Save</button>
            </form>
        </div>
    </div>
</div>