<h3> {{"CROPIMAGE" | translate}} </h3>
<div>
    <img-cropper #imgCropper [image]="data" [settings]="settings || cropperSettings" (onCrop)="croppedEvent($event)"></img-cropper>
    <button class="btn" (click)="getCroppedImage()">Done</button>
</div>