.evo-header-buttons{
    position: absolute;
    top:0px;
    right:50px;
    height: 50px;
    padding: 10px;
    background-color: #444;
}

.evo-header-buttons.compact{
    width: 40%;
    padding:0px;
}

@media screen and (max-width: 992px) {
    .evo-header-buttons{
        right:0px;
    }
}

.evo-button-panel{
    position: absolute;
    top:50px;
    right:0px;
    height: 50px;
    z-index: 100;
}

.evo-header-button{
    position: relative;
    height: 50px;

    color: #ffffff;
    font-size: 20px;
    float: right;
    padding: 0px 4px 0px 4px;
    cursor: pointer;
}
.evo-header-button:hover{
    color: #5fc764;
}
.evo-header-button.ringing{
    color: green;
}

.evo-header-buttons.compact .evo-header-button{
    height: 25px;
    font-size: 18px;
    padding: 0px 4px 0px 4px;
}

.evo-panel-button{

    float: right;
    height: 46px;
    padding: 10px 15px;
    margin: 0;
    background: #efefef;
    border-left: 1px solid #ccc;
    color: #333;
    margin-top: 1px;
    margin-bottom: 1px;
    font-weight: 400;   
    text-decoration: none;
    font-size: 18px;    
}

.evo-panel-button:hover{
    background-color: #fff;
    color: #333;
    text-decoration: none;
}

.notify{
    position: absolute;
    background-color: #d90303;
    color: white;
    height: 15px;
    font-size: 10px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
    top: 0px;
    right: 0;
}