<div class="evo-header-buttons" [class.compact]="service.compact">
    <a [id]="button.command" class="evo-header-button" *ngFor="let button of service.headerButtons" (click)="click(button.command)" tooltip="{{ button.label | translate }} {{button.shortcutString }}" placement="left">
        <i class="fa fa-{{button.icon}} fa-fw"></i>
        <label class="notify" *ngIf="dataContainer[button.command]">{{dataContainer[button.command]}}</label>
    </a>
    <span *ngIf="service.isPhone">
        <a [id]="button.command" class="evo-header-button" *ngFor="let button of service.panelButtons" (click)="click(button.command)" tooltip="{{ button.label | translate }} {{button.shortcutString }}" placement="left">
            <i class="fa fa-{{button.icon}} fa-fw"></i>
            <label class="notify" *ngIf="dataContainer[button.command]">{{dataContainer[button.command]}}</label>
        </a>
    </span>
</div>
<div class="evo-button-panel" *ngIf="!service.isPhone">
    <a class="evo-panel-button" *ngFor="let button of service.panelButtons" (click)="click(button.command)">
        <i class="fa fa-{{button.icon}} fa-fw"></i>
        <font>{{ button.label | translate }}</font>
    </a>
</div>