#componentContent {
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    min-width:180px;
}
.fa-check {
    color:#2ecc71;
}
.fa-times {
    color:#c1c1c1 ;
}
i {
    margin-right:10px;
    top: initial;
    left:initial;
    max-width:10px;
}
.li-head {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding:0px;
}