<div id="componentContent">
    <ul>
        <li class="li-head">Password requirements:</li>
        <li><i [ngClass]="SetClass(mypass.six)"></i>{{"CHARACTERS" | translate}}</li>
        <li><i [ngClass]="SetClass(mypass.num)"></i>{{"NUMBER" | translate}}</li>
        <li><i [ngClass]="SetClass(mypass.upper)"></i>{{"UPPERCASELETTER" | translate}}</li>
        <li><i [ngClass]="SetClass(mypass.lower)"></i>{{"LOWERCASELETTER" | translate}}</li>
        <li><i [ngClass]="SetClass(mypass.sign)"></i>{{"SPECIALCHARACTER" | translate}}</li>
    </ul>
</div>