.timeline-container{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    padding:10px;	
    position: relative;
    border-radius: 3px;
}

.timeline-container:hover, .timeline-container.selected{
    background-color: rgba(200, 200, 200, 0.1);
    border: 1px solid rgba(55, 55, 55, 0.2);    
}

.clickable-info:hover{
    background-color: rgba(200, 200, 200, 0.1);
    border: 1px solid rgba(55, 55, 55, 0.2);
    border-radius: 3px;
}

.clickable-info{
    border: 1px solid rgba(55, 55, 55, 0);
    border-radius: 3px;
}

.timeline-icon{
    display: inline-block;
    border-radius: 50%;
    text-decoration: none;
    background-color: #eee!important;
    color:#666!important;
    border: 2px solid #666!important;
}

.timeline-icon.connection::after{
    content: "";
    width: 114px;
    height: calc(100% - 50px);
    border-right: 2px solid #666;
    top: 20px;
    left:0;
    position: absolute;
    display: inline-block;
    z-index: -1;
}

.timeline-icon:hover{
    text-decoration: none;
}

.timeline-icon i{
    height: 30px;
    width: 30px;
    font-size: 22px;
    display: table-cell;
    vertical-align: middle; 
    text-align: center; 
}

.timeline-icon.small i{
    height: 15px;
    width: 15px;
    font-size: 12px;
}

.timeline-icon.Phone{
    background-color: green;
    color:darkgreen;
    border: 2px solid darkgreen;
}


.timeline-icon.Email{
    background-color: blueviolet;
    color:#441144;
    border: 2px solid #441144;
}


.timeline-icon.Meeting{
    background-color: orange;
    color:#ee6611;
    border: 2px solid #ee6611;
}


.timeline-icon.Reminder{
    background-color: red;
    color:#441111;
    border: 2px solid #441111;
}

.timeline-icon.Other{
    background-color: gray;
    color:darkslategray;
    border: 2px solid darkslategray;
}

.timeline-container span{
    font-size: 12px;
    float: left;
    font-weight: 600;
    width: 100%;
}

.timeline-date{
    display: inline-block;
    width: 83px;
    vertical-align: top;
}

.timeline-date.small{
    display: inline-block;
    width: 90px;
}
.timeline-date.small span{
    display: inline-block;
    width: 100%;
    font-size: 12px;
}

.timeline-date span{
    color:#ccc;
}

.timeline-name{
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    margin-bottom: 10px;
    max-width: 300px;
}
.timeline-name font{
    color:#ccc;
}
.timeline-name span i{
    margin-right: 2px;
    margin-left: -18px;
}

.timeline-info{
    float:left;
    margin-top: 5px;
    width:180px;
}

.timeline-labelfield{
    display: inline-block;
    max-width: 130px;
    overflow: hidden;
    margin-top: 2px;
    margin-right: 0px!important;
}

.timeline-label{
    background-color: #f0ad4e;
    color:white!important;
    border-radius: 3px;
    padding: 0px 2px;
    font-size: 12px!important;
    vertical-align: top;
    margin-right: 0px!important;
    font-style:normal;
    font-weight: 600;
    margin-top: 2px;
    float:right;
}

.timline-right-info{
    position: absolute;
    padding: 10px;
    top: 0;
    right:0;
    text-align: right;
}

.timline-right-info img{
    border-radius: 3px;
    vertical-align: top;
    height: 25px;
    width: 25px;
    margin-left: 5px;
}

.timline-right-info i{
    font-size: 16px;
    color: #999;
    margin-right: 2px;
    margin-left: 2px;
    vertical-align: top;
}

.timline-right-info i:hover{
    color: #333;
}

.timline-note-box{
    position: absolute;
    background-color: white;
    border: 1px solid #555;
    border-radius: 5px;
    top:30px;
    right:10px;
    width:auto;
    min-width:300px;
    z-index: 100;
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

.fa-phone {
    padding-top: 3px;
}
