<section class="timeline-container" [class.selected]="selected" (click)="expand()">

    <div class="timeline-date">
        <span>{{action[dateField] | dateonly}}</span>
        <span>{{action[dateField] | timeonly}}</span>
    </div>

    <div class="timeline-icon {{action.Type}}" [class.connection]="!hideConnection">
        <i class="fa fa-{{action.icon}}"></i>
    </div>

    <div class="timeline-name">
        <!-- <span>{{ getType(action.Type) | translate  }} {{ showEmailTracking }}</span> -->
        <span>{{ getType(action.Type) | translate  }}</span>
        <span>{{ getStatus(action.Status) | translate }}</span>

        <div class="timeline-info" *ngIf="(expanded || selected) && !hideTimelineInfo">
            <!--Contacts-->
            <span *ngFor="let contact of action.RelatedPersonsData"><a (click)="$event.stopPropagation();clickContact(contact);"><i class="fa fa-user fa-fw"></i>{{contact.FirstName}} {{contact.LastName}}</a></span>
            <!--Email-->
            <span *ngIf="action.Type == 'Email' && !action.RelatedPersonsData.length && action.Account && action.Account.Email"><i class="fa fa-envelope fa-fw"></i><a (click)="$event.stopPropagation();clickMail()">{{ action.Account.Email }}</a></span>
            <!--Phone-->
            <span *ngIf="action.Type == 'Phone' && !action.RelatedPersonsData.length && action.Account && action.Account.Phone"><click2call  [number]="action.Account.Phone" [account]="action.Account.Id"></click2call></span>
            <span *ngIf="action.Type == 'Phone' && !action.RelatedPersonsData.length && action.Account && action.Account.Phone2"><click2call  [number]="action.Account.Phone2" [account]="action.Account.Id"></click2call></span>
            <!--Location-->
            <span *ngIf="action.Location"><i class="fa fa-globe fa-fw"></i>{{action.Location}}</span>

        </div>

    </div>

    <div class="timline-right-info">

        <!--Edit-->
        <i *ngIf="(expanded || selected) && !hideEdit" class="fa fa-pencil timeline-edit" (click)="$event.stopPropagation();edit();"></i>

        <!--Comments-->
        <i *ngIf="action.Comments" class="fa fa-file-text-o timline-note" (mouseenter)="mouseover('Comments')" (mouseleave)="mouseout()">

        </i>
        <div class="timline-note-box" *ngIf="showComment">
            <div>
                <pre>{{action.Comments}}</pre>
            </div>
        </div>

        <!--Labels-->
        <i *ngIf="action.Labels.length" class="fa fa-tag timline-note" (mouseenter)="mouseover('Labels')" (mouseleave)="mouseout()"></i>
        <div class="timline-note-box" *ngIf="showLabels">
            <div>
                <i class="timeline-labelfield"><i class="timeline-label" *ngFor="let label of action.Labels">{{label}}</i></i>
            </div>
        </div>

        <i *ngIf="action.Reminder" class="fa fa-clock-o timline-note"></i>

        <!--Assigned user-->
        <img [profilepicture]="action.UserAssignedId" tooltip="{{action.UserAssigned?.FullName}}" placement="left" /><br>


    </div>

    <div *ngIf="expanded || selected">

        <!--Placeholder for empty history-->
        <div class="action-content" *ngIf="!action.History.length">

            <div class="timeline-date small">
                <span></span>
            </div>

            <div class="timeline-icon {{action.Type}} small">
                <i></i>
            </div>

            <div class="timeline-name">
                <span><font>{{ action.DateCreated | dateonly }}</font> {{'CREATED' | translate }} </span>
            </div>

        </div>

        <!--NudgeLink-->
        <div class="action-content" *ngIf="!emailTracking && action.Type == 'Email'">

            <div class="timeline-date small">
                <span></span>
            </div>

            <div class="timeline-icon {{action.Type}} small">
                <i></i>
            </div>

            <div class="timeline-name">
                <span *ngIf="!emailTracking && action.Type == 'Email'">
                    <a featureLink="EmailTracking">{{'NUDGEEMAILTRACKINGSHORT' | translate}}</a>
                </span>
            </div>

        </div>

        <!--History-->
        <div class="action-content" *ngFor="let event of action.History">

            <div *ngIf="(event.Type!='Opened' && event.Type!='Clicked') || emailTracking">
                <div class="timeline-date small">
                </div>

                <div class="timeline-icon {{action.Type}} small">
                    <i></i>
                </div>

                <div class="timeline-name">
                    <span><font>{{ event.Date | dateonly }}</font> {{ getEvent(event.Type) | translate: {data: event.Text} }}</span>
                    <span *ngIf="event.Text">{{ event.Text }}</span>
                </div>
            </div>
        </div>
    </div>
</section>