<!--<div class="customPopup" id="addOrganisationOverlay" [class.systemActive]="displayAddOrganisation" (click)="back()"></div>-->
<div class="customPopup" id="addOrganisationPopup" [class.systemActive]="displayAddOrganisation" (click)="clickOutside($event)">
    <div class="popupBox addOrganisation" id="addOrganisation">
        <div class="title">
            {{ 'ADDNEWORG' | translate }}
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <form #organisation="ngForm">
            <div class="popupContent">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <h4>{{ 'CREATEORGYOURORGNAME' | translate }}</h4>
                            <input type="text" class="form-control" placeholder="{{ 'ORGNAME' | translate }}" [(ngModel)]="organisation_name" name="organisationName"
                                #organisationName="ngModel" required>
                            <div [hidden]="organisationName.untouched || organisationName.valid">{{ 'INVALID' | translate }}</div>
                        </div>

                    </div>
                </div>

                <h4>{{ "CREATEORGCUSTOMERTYPE" | translate }}</h4>
                <div style="padding-top:10px;" class="row companyFocus">
                    <!--<div class="col-lg-4 clickable" (click)="selectedFocus = option" [class.selected]="option == selectedFocus" *ngFor="let option of companyFocusOptions">
                        <span style="padding:2px 8px;"> {{ option | translate }}</span>
                    </div>-->
                    <div class="col-lg-6">
                        <div class="range">
                        <i class="fa fa-user pull-left"></i><i class="fa fa-industry pull-right"></i>
                            <input type="range" min="1" max="5" steps="1" value="3" (input)="changeFocus($event)">
                            <span class="selectedFocusOutput">{{ selectedFocus | translate }}</span> 
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <h4>{{ "DESCRIBEORGANISATION" | translate }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <select class="form-control" [class.greyed]="!selectedIndustry" [(ngModel)]="selectedIndustry" [ngModelOptions]="{standalone: true}">
                            <option value="" selected hidden>{{ "CREATEORGINDUSTRY" | translate }}</option>
                            <option *ngFor="let option of options?.Industries"> {{ option | translate }} </option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <select class="form-control" [class.greyed]="!selectedEmployeeCount" [(ngModel)]="selectedEmployeeCount" [ngModelOptions]="{standalone: true}">
                            <option value="" selected hidden>{{ "CREATEORGEMPLOYEES" | translate }}</option>
                            <option *ngFor="let option of options?.Employees"> {{ option }} </option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <h4>{{ "CREATEORGINTERACTION" | translate }}</h4>
                        <div class="interactionContainer row">
                            <div class="interactionOption clickable col-lg-4" (click)="interactionOption.Selected = !interactionOption.Selected" *ngFor="let interactionOption of options?.Interactions"
                                [class.selected]="interactionOption.Selected">
                                <span style="padding:10px;">
                                    <i *ngIf="interactionOption.Selected" style="color:#88de93" class="fa fa-check"></i>
                                    <i *ngIf="!interactionOption.Selected" class="fa fa-square-o"></i>
                                    {{ interactionOption.Text | translate }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12 evo-button-row">   
                        <button type="submit" (click)="create(organisation)" [disabled]="orgService.creatingOrganisation || !organisation.valid"
                            class="btn pull-right">{{ 'CREATEBTN' | translate }}</button>
                        <a class="evo-cancel-link pull-right" (click)="back()" >{{ "CANCELBTN" | translate }}</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>