.companyFocus div.selected span {
    outline: 1px solid black;
}

select.greyed {
    color:#aaa;
}

select.greyed option {
    color:black;
}
/*
.interactionOption.selected span {
    outline: 1px solid black !important;
}*/

.interactionContainer {
    padding-left: 10px;
}

.selectedFocusOutput {
    position: absolute;
    right: 0;
    top: -1px;
    transform: translateX(calc(100% + 25px));
}

.interactionOption span i {
    position: absolute;
    left: 5px;
    top: 5px;
}

.interactionOption {
    margin-bottom: 5px;
}


/*Slider stuff*/
.range {
  position: relative;
  height: 5px;
}

.range input {
  width: calc(100% - 40px);
  margin-left:20px;
  position: absolute;
  top: 5px;
  height: 11px;
  -webkit-appearance: none;
}
.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #37afcf;
  cursor: pointer;
  border: 0 !important;
}
.range input::-moz-range-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #1fafe9;
  cursor: pointer;
  border: 0 !important;
}
.range input::-ms-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #1fafe9;
  cursor: pointer;
  border: 0 !important;
}
.range input::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}
.range input::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}
.range input::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}
.range input:focus {
  background: none;
  outline: none;
}
.range input::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}