<tabset class="customTab withIcon">

    <!--- Note -->
    <tab *ngIf="accountId">

        <ng-template tabHeading>
            <i class="fa fa-check-square-o"></i>
            <font>{{ 'NOTE' | translate }}</font>
        </ng-template>

        <textarea class="form-control" [(ngModel)]="textArea"></textarea>

    </tab>

    <!--- Account -->
    <tab>

        <ng-template tabHeading>
            <i class="fa fa-bullseye"></i>
            <font>{{ 'ACCOUNTS' | translate }}</font>
        </ng-template>
        <div class="row inputrow">
            <div class="row-input col-md-4 col-sm-4 col-xs-12">
                <input class="form-control" type="text" [(ngModel)]="account.ShownName" placeholder="{{'NAME' | translate}}" />
            </div>
            <div class="row-input col-md-4 col-sm-4 col-xs-12">
                <chosen [width]="'100%'" [options]="accountTypes" [ngModel]="account.AccountTypeId" (change)="account.AccountTypeId=$event"></chosen>
            </div>
            <div class="row-input col-md-4 col-sm-4 col-xs-12">
                <chosen [width]="'100%'" [options]="users" [ngModel]="account.AccountManagerId" (change)="account.AccountManagerId=$event"></chosen>
            </div>
            <div class="row-input col-md-10 col-sm-10 col-xs-12">
                <tag-edit-text id="accountTagEdit" class="form-control boxify" [items]="account.Tags" (itemsChange)="account.Tags=$event"></tag-edit-text>
            </div>
            <div class="row-input col-md-2 col-sm-2 col-xs-12">
                <button class="btn custom" [disabled]="!account.ShownName" (click)="createAccount()" style="width:100%;margin-left:0px;">
                        <div *ngIf="loading">
                            <img src="assets/images/preloader.gif" alt="loading" />
                        </div>
                        <div *ngIf="!loading">
                            {{'CREATE' | translate}}
                        </div>
                    </button>
            </div>
        </div>
    </tab>
    <!--- Action -->
    <tab>
        <ng-template tabHeading>
            <i class="fa fa-check-square-o"></i>
            <font>{{ 'ACTIONS' | translate }}</font>
        </ng-template>
        <div *ngIf="!accounts || !accounts.length">
            <label class="error-text large">{{'NEEDTOADDACCOUNT' | translate}}</label>
        </div>
        <div *ngIf="accounts && accounts.length">
            <textarea class="form-control" placeholder="{{'NOTE' | translate}}" [(ngModel)]="textArea"></textarea>
            <div class="row inputrow">
                <div class="row-input col-md-3 col-sm-6 col-xs-12">
                    <evo-datepicker id="QuickActionStartDatePicker" [(ngModel)]="selectedDate"></evo-datepicker>
                </div>
                <div class="row-input col-md-3 col-sm-6 col-xs-12">
                    <chosen *ngIf="accounts.length" [width]="'100%'" [options]="accounts" [ngModel]="action.AccountId" (change)="action.AccountId=$event;updateContacts($event);"></chosen>
                </div>
                <div class="row-input col-md-3 col-sm-6 col-xs-12">
                    <chosen [width]="'100%'" [options]="contacts" [ngModel]="action.RelatedContactId" (change)="action.RelatedContactId=$event"></chosen>
                </div>
                <div class="row-input col-md-3 col-sm-6 col-xs-12">
                    <chosen [width]="'100%'" [options]="users" [ngModel]="action.UserAssignedId" (change)="action.UserAssignedId=$event"></chosen>
                </div>
                <div class="row-input col-md-6 col-sm-4 col-xs-12">
                    <action-type [model]="action.Type" (change)="action.Type=$event"></action-type>
                </div>
                <div class="row-input col-md-4 col-sm-8 col-xs-12" style="text-align:right;">
                    <reminder [showLabel]="false" [size]="25" [reminder]="action.Reminder" (change)="action.Reminder=$event" [dateFieldNames]="actionReminderDates"></reminder>
                </div>
                <div class="row-input col-md-2 col-sm-12 col-xs-12">
                    <button class="btn custom" [disabled]="!action.AccountId" (click)="createAction()" style="width:100%;margin-left:0px;">
                        <div *ngIf="loading">
                            <img src="assets/images/preloader.gif" alt="loading" />
                        </div>
                        <div *ngIf="!loading">
                            {{'CREATE' | translate}}
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </tab>
    <!--- Contact -->
    <tab>
        <ng-template tabHeading>
            <i class="fa fa-user"></i>
            <font>{{ 'CONTACTS' | translate }}</font>
        </ng-template>
        <div *ngIf="!accounts || !accounts.length">
            <label class="error-text">{{'NEEDTOADDACCOUNT' | translate}}</label>
        </div>
        <div *ngIf="accounts && accounts.length">
            <textarea class="form-control" placeholder="{{'NOTE' | translate}}" [(ngModel)]="textArea"></textarea>
            <div class="row inputrow">
                <div class="row-input col-md-3 col-sm-6 col-xs-12">

                    <input class="form-control" type="text" [(ngModel)]="contact.FirstName" placeholder="{{'FIRSTNAME' | translate}}" />
                </div>
                <div class="row-input col-md-3 col-sm-6 col-xs-12">

                    <input class="form-control" type="text" [(ngModel)]="contact.LastName" placeholder="{{'LASTNAME' | translate}}" />
                </div>
                <div class="row-input col-md-3 col-sm-6 col-xs-12">

                    <input class="form-control" type="text" [(ngModel)]="contact.Title" placeholder="{{'TITLE' | translate}}" />
                </div>
                <div class="row-input col-md-3 col-sm-6 col-xs-12">
                    <chosen *ngIf="accounts.length" [width]="'100%'" [options]="accounts" [ngModel]="contact.AccountId" (change)="contact.AccountId=$event"></chosen>
                </div>
                <div class="row-input col-md-3 col-sm-6 col-xs-12">
                    <input class="form-control" type="text" [(ngModel)]="contact.PhoneNumber" placeholder="{{'PHONE' | translate}}" />
                </div>
                <div class="row-input col-md-3 col-sm-6 col-xs-12">
                    <input class="form-control" type="text" [(ngModel)]="contact.Email" placeholder="{{'EMAIL' | translate}}" />
                </div>
                <div class="row-input col-md-4 col-sm-12 col-xs-12">
                    &nbsp;
                </div>
                <div class="row-input col-md-2 col-sm-12 col-xs-12" style="text-align:right;">
                    <button class="btn custom" [disabled]="!contact.AccountId" (click)="createContact()" style="width:100%;margin-left:0px;">
                        <div *ngIf="loading">
                            <img src="assets/images/preloader.gif" alt="loading" />
                        </div>
                        <div *ngIf="!loading">
                            {{'CREATE' | translate}}
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </tab>
    <!--- Deal -->
    <tab>
        <ng-template tabHeading>
            <i class="fa fa-money"></i>
            <font>{{ 'DEALS' | translate }}</font>
        </ng-template>
        <div>
            <label class="error-text">{{'NEEDTOADDACCOUNT' | translate}}</label>
        </div>
        <div *ngIf="accounts && accounts.length">
            <textarea class="form-control" placeholder="{{'NOTE' | translate}}" [(ngModel)]="textArea"></textarea>

            <div class="row inputrow">
                <div class="row-input col-md-4 col-sm-4 col-xs-12">
                    <chosen [width]="'100%'" [options]="accounts" [ngModel]="deal.AccountId" (change)="deal.AccountId=$event"></chosen>
                </div>
                <div class="row-input col-md-4 col-sm-4 col-xs-12">
                    <chosen [width]="'100%'" [options]="saleProcess" [ngModel]="deal.SaleProcessId" (change)="deal.SaleProcessId=$event"></chosen>
                </div>
                <div class="row-input col-md-2 col-sm-2 col-xs-12">
                    <input class="form-control" type="number" [(ngModel)]="deal.Value" placeholder="{{'VALUE' | translate}}" />
                </div>
                <div class="row-input col-md-2 col-sm-2 col-xs-12">
                    <button class="btn custom" [disabled]="!deal.AccountId" (click)="createDeal()" style="width:100%;margin-left:0px;">
                        <div *ngIf="loading">
                            <img src="assets/images/preloader.gif" alt="loading" />
                        </div>
                        <div *ngIf="!loading">
                            {{'CREATE' | translate}}
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </tab>
</tabset>