.row-input {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    height: 35px;
    margin-bottom: 3px;
}

.inputrow {
    text-align: left !important;
    color: black !important;
    margin-right: -5px;
    margin-left: -5px;
}