<div class="title">
    <h4>{{ "RELATIVES" | translate }}</h4>
    <a class="btn" (click)="modal.showCreateContactModal(null, account.Id)">+</a>
</div>

<div class="content">
    <ul class="iconList" *ngIf="contactSvc.contactByAccount.length != 0">
        <li *ngFor="let cont of contactSvc.contactByAccount">
            <i class="fa fa-user left icon"></i>
            <a href="javascript:;" (click)="modal.showContactModal(cont.Id,'')">                 
                                    {{ cont.FullName }}
                                </a>
            <p class="contactTitle">{{cont.Title}}</p>
            <a class="icon mail right" *ngIf="cont.Email" (click)="modal.showMailModal(cont.Email, null, null, cont)"><i class="fa fa-envelope"></i></a>
            <a class="icon phone right" *ngIf="cont.PhoneNumber && auth.isEvolumi" (click)="callContact(cont)"><i class="fa fa-phone"></i></a>
            <a class="icon dlt right" *ngIf="enableDelete" (click)="deleteContact(cont.Id)"><i class="fa fa-trash"></i></a>
        </li>
    </ul>
    <span *ngIf="contactSvc.contactByAccount.length==0">{{'NORELATIVES' | translate }}</span>
</div>