<audio id="incoming" autoplay></audio>
<audio id="ringback" src="/assets/ringtones/Phone_01.mp3"></audio>

<div class="customPopup" [class.systemActive]="displayModal">
    <div class="popupBox">
        <div class="title">
            {{ 'PHONECALL' | translate }}
            <a class="close pull-right" (click)="hideModal()"><i class="fa fa-times"></i></a>
            <font *ngIf="callService.status" style="padding-right: 20px;" class="pull-right">{{callService.status}}</font>
        </div>
        <div class="popupContent">
            <div class="pull-right" *ngIf="callService.status">
                <label></label>
            </div>
            <div>
                <input class="form-control pull-left" [disabled]="callService.calling" style="width:250px" type="text" [(ngModel)]="number"
                    placeholder="{{ 'PHONENUMBER' | translate }}" />
                <button class="btn custom pull-left" *ngIf="!callService.call" [disabled]="!number || !callService.active" (click)="call()">{{'CALL' | translate}}</button>
                <button class="btn custom pull-left red" *ngIf="callService.calling" (click)="callService.hangUp()">{{'HANGUP' | translate}}</button>
            </div>
            <div *ngIf="callService.cli">
                <label class="note">{{ 'DISPLAYNUMBER' | translate }} : {{ callService.cli.Number }}</label>
            </div>

            <label>{{'PHONECALLTIMELEFT' | translate}}: {{ callService.timeLeft }} {{ 'SECONDS' | translate }}</label>

            <div *ngIf="callService.callData">
                <div class="notebox solid">
                    <label class="notebox-title">{{(callService.calling ? 'CALLINFO': 'LASTCALL' )| translate}}</label>
                    <div>
                        <label>{{'PHONENUMBER' | translate}}: {{callService.callData.Number}}</label><br>
                        <label>{{'PHONECALLDURATION' | translate}}: {{callService.callDuration}}</label>
                    </div>
                    <div class="col-sm-12 col-md-12 padding-l-r-0 clearFloat" style="padding-top:20px;" *ngIf="callService.action">
                        <textarea autosize class="form-control" id="PhoneActionCommentText" [value]="callService.action.Comments" [formControl]="textArea"></textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>