
<div class="click2call" id="clicktoCall" *ngIf="callService.active && auth.isEvolumi && number">
    <a (click)="call()" class="link"><i class="fa fa-phone" [class.fa-fw]="iconFixedWidth" *ngIf="showIcon"></i>&nbsp;{{number}}</a><a *ngIf="callService.calling && callService.number == number" (click)="callService.hangUp()" class="pull-right" style="color:red;font-size:10px;">{{ 'HANGUP' | translate }}</a>
</div>
<div *ngIf="!auth.isEvolumi || !callService.active" id="Phonenumber">
    {{number}}
</div>

