<div class="contentPanel accounts leftFree">
    <div class="myOverview">
        <div class="mainTitle leftFree whiteHeader">
            <h1>{{ 'PAY' | translate }}</h1>
        </div>
        <div class="container-fluid">
            <div class="row" style="text-align:center">

                <div class="col-md-4"></div>

                <div class="col-md-4">
                    One time payment to Evolumi. <b>{{amount}} {{currency}}</b><br />
                    <div class="form-group">
                        <label>Select one of your Organisations to connect the payment with</label>
                        <chosen id="organisationDropdown" [width]="'100%'" [multiple]="false" [options]="organisations" [(ngModel)]="orgId" (change)="orgId=$event"></chosen>
                    </div>
                    <credit-card-select [orgId]="orgId" (cardSelected)="cardSelected=$event"></credit-card-select>
                    <br />
                    <div *ngIf="cardSelected">
                        <button class="btn btn-default" type="button" (click)="pay()">Pay now</button>
                    </div>
                </div>

                <div class="col-md-4"></div>

            </div>
        </div>
    </div>
</div>

