<ul>
    <li *ngFor="let val of options; let i = index">
        <div *ngIf="!tooltips || i == value" class="dot" [class.clickable]="clickable" [class.selected]="i == value" (click)="clabable && optionClicked($event, i)"></div>
        <div *ngIf="tooltips && i != value" class="dot" [tooltip]="val" [class.clickable]="clickable" [class.selected]="i == value" (click)="clickable && optionClicked($event, i)"></div>
        <div *ngIf="i == value" class="caption">{{val}}</div>
    </li>
</ul>