ul {
    display: flex;
    list-style-type: none;
    padding-left:0px;
    padding-bottom: 30px;
}

li {
    flex: 1;
    position: relative;
}

li:last-child {
    flex: 0;
}

.dot {
    width:10px;
    height: 10px;
    border-radius: 5px;
    background-color: #5f67c7;
}

.dot.selected {
    background-color: white;
    width: 7px;
    height: 7px;
    margin-top: 2px
}

.dot.selected:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 2px solid white;
    margin-top: -6.5px;
    margin-left: -6.5px;
    border-radius: 10px;
    background-color: #5f67c7;
    z-index: -1
}

.dot.selected::after {
    margin-top: 0.5px !important;
}

li:not(:last-child) div.dot::after {
    content: "";
    position: absolute;
    border: 2px solid #5f67c7;
    width: 100%;
    margin-top: 2.5px;
    margin-left: 5px;
    z-index: -2;
}

li:last-child:not(:first-child) .caption {
    transform: translateX(calc(-100% + 12px));
    position: absolute;
    margin-top: 8px;
    font-size: 90%;
}

li:not(:first-child):not(:last-child) .caption {
    margin-left: 5px;
    text-align: center;
    transform: translatex(-50%);
}

li:first-child:last-child {
    min-width: 100%;
}

li:first-child:last-child div {
    margin-left:50%;
}

li:first-child:last-child div.dot::after {
    content: "";
    position: absolute;
    border: 2px solid #5f67c7;
    width: 100%;
    margin-top: 2.5px;
    margin-left: calc(-50% + 5px);
    z-index: -2;
}

.caption {
    font-size: 90%;
    margin-top: 8px;
}