<div class="tab-pane active" id="stab2">
                    <div id="binding-container-newsfeed">
                        <form role="form" class="add-note">
                            <div class="form-group" style="text-align:left!important;">
                                <input type="hidden" id="newsTextArea" [(ngModel)]="newsTextArea" rows="2" class="form-control"
                                (keyup)="newsError=false;" [ngModelOptions]="{standalone: true}">
                                <textarea class="redactor" style="margin-right:100px;" name="content"></textarea>
                                <div [hidden]="!newsError" class="bg-danger">Invalid</div>
                            </div>
                            <button *ngIf="!isEdit" type="button" (click)="addNews()" class="btn custom pull-right"><i class="fa fa-pencil"></i> {{ 'ADDNOTE' | translate }}</button>
                            <div class="clearfix"></div>
                        </form>
                        <div class="clearfix"></div>