<div class="chatBox">
    <div class="messageBox" (scroll)="onScroll($event)">
        <div *ngFor="let message of messages">

            <div class="chatRow">
                <!--*ngIf="!message.isMe"-->
                <b class="userName">{{message.userName}}</b>
                <div class="avatar">
                    <img [profilepicture]="message.userCreatedId">
                </div>
                <div class="chatmessage">
                    <div *ngIf="!message.isFile">{{message.text}}</div>
                    <div *ngIf="message.isFile">
                        <a [downloadFile]="message.file" target="_blank">
                            <!--<img *ngIf="message.isImage" height="200" [src]="message.fileUrl" />-->
                            <span>{{message.text}}</span>
                        </a>
                    </div>
                    <div class="time">{{message.dateCreated | datetimeago }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="chattextarea">
        <label for="file-input-chat">
            <i class="fa fa-paperclip"></i>
            <input id="file-input-chat" multiple="multiple" name="image" (change)="upload($event.target.files)" type="file" [disabled]="!canSendMessage || !isConnected" />
        </label>
        <span class="info-text" *ngIf="canSendMessage && isConnected" style="padding-left: 70px"> {{ 'PRESSENTERTOPOST' | translate }}</span>
        <span class="info-text" style="padding-left:70px">{{status}}</span>
        <input type="text" #chatinput id="chatmessageinput" class="form-control new-message" [(ngModel)]="newMessage" (keyup)="sendMessage($event)" [disabled]="!canSendMessage || !isConnected"/>
    </div>
</div>
