<div class="title usersList accordionActive">
    <h2>
        {{'MEMBERS' | translate}}
    </h2>
    <ul class="users" *ngFor="let user of users">
        <li>
            <div class="avatar">
                <img [profilepicture]="user.icon"/>
            </div>
            <div class="userName">{{user.name}}</div>
        </li>
    </ul>
</div>

<!--<add-users-to-conversation #addUsers [conversation]="conversation"></add-users-to-conversation>-->