<header class="header white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-8 col-xs-10">
                <a class="logo" [routerLink]="['/CRM', 'Dashboard']">
                    <img src="assets/images/evolumi_logo.png" alt="" class="hidden-xs" />
                    <img src="assets/images/evolumi-icon.png" alt="" class="hidden-sm hidden-md hidden-lg" />
                </a>
                <div class="mobileMenu" (click)="openSideMenu();">
                    <i class="fa fa-bars"></i>
                </div>
            </div>

            <div class="col-lg-7 col-md-6 col-sm-4 col-xs-2">
                <click-to-close class="avatar hidden-xs hidden-sm" (click)="showSettingMenu()" id="headerWhiteImage">
                    <img [profilepicture]="currentUser.Id" id="headerWhiteImage">
                </click-to-close>
            </div>

        </div>
    </div>
</header>

<click-to-close (clickOutSide)="hideSettingMenu($event)">
    <div class="primaryMenu whiteHeader " [ngClass]="{userDetailsActive: show}">
        <div class="userDetails" [ngClass]="{systemActive: show}">
            <div class="title">
                <div class="icon" (click)="showSettingMenu()">
                        <img [profilepicture]="currentUser.Id" id="headerBlackImage">
                </div>
                <font>
                    {{Name}}
                </font>

                <div class="viewSettings" (click)="showSettingMenu()">
                    <i class="fa fa-angle-down"></i>
                </div>
            </div>

            <ul class="subMenu">
                <li>
                    <a (click)="userSettings.showModal()">
                        <i class="fa fa-cog"></i>
                        <font>{{'PERSONALSETTINGS' | translate}}</font>
                    </a>
                </li>
                <li>
                    <a (click)="showLanguageMenu()">
                        <i class="fa fa-globe"></i>
                        <font>{{'LANGUAGE' | translate}}</font>
                    </a>
                </li>
                <li>
                    <a (click)="openHelp()">
                        <i class="fa fa-coffee"></i>
                        <font>{{'HELPCENTER' | translate}}</font>
                    </a>
                </li>
                <li>
                    <a (click)="logOff()">
                        <i class="fa fa-power-off"></i>
                        <font>{{'LOGOFF' | translate}}</font>
                    </a>
                </li>
            </ul>
        </div>
        <a *ngFor="let link of links" [id]="link.id" [routerLink]="[link.path]" [hidden]="!link.showing" class="view" (click)="closeSideMenu()" [routerLinkActive]="['evo-nav-active']" class="evo-nav-section-link white-menu">
            {{ link.text| translate}}
        </a>
    </div>

</click-to-close>

<!--For Mobile-->
<div class="popupOverlay" id="sidemenuPopUpHeader" (click)="closeSideMenu()"></div>

<!--Language-->
<div class="customPopup small" id="language1" (click)="closeLanguageMenu($event)">
    <div class="popupBox">
        <div class="title">
            {{'LANGUAGE' | translate}}
            <a class="close pull-right" (click)="closeLanguageMenu($event)"><i class="fa fa-times" id="close"></i></a>
        </div>
        <div class="popupContent">
            <form>
                <chosen Id="LanguageSelectDropdown" [width]="'100%'" [multiple]="false" [options]="languages" [(ngModel)]="selectedLanguage"
                    [ngModelOptions]="{standalone: true}" (change)="selectedLanguage=$event;"></chosen>
                    <br />
                    <br />
                    <button class="btn pull-right" (click)="changeLanguage(selectedLanguage)">{{'SAVEBTN' | translate}}</button>
            </form>
        </div>
    </div>
</div>

<!--User Settings-->
<user-settings #userSettings> </user-settings>