<div id="bubblePopupElem" *ngIf="popupVisible" class="bubblePopup {{arrowPosition + 'Arrow'}} {{classes}}">
    <div *ngIf="arrowPosition != 'bottom'" class="relative">
        <span class="triangle1">▲</span>
        <span class="triangle2">▲</span>
    </div>
    <div>
        <ng-content></ng-content>
    </div>
    <div *ngIf="arrowPosition == 'bottom'" class="relative">
        <span class="{{arrowPosition + 'Arrow'}}">▲</span>
        <span class="{{arrowPosition + 'Arrow'}}">▲</span>
    </div>
</div>