.bubblePopup {
    border-radius: 5px;
    background: #e7fcff;
    position: absolute;
    z-index: 1;
    min-width: 100px;
    min-height: 40px;
    font-size: 12px;
    box-shadow: 0px 0px 20px #888;
    padding:10px;
}

.rightArrow {
    top:-25px;
    right: calc(100% + 20px);
}

.leftArrow {
    top: -26px;
    left: calc(100% + 20px)
}

.rightTopArrow{
    top: -45px;
    right: calc(100% + 20px);
}

.bubblePopup .triangle1 {
    position: absolute;
    z-index: 2;
    color: #e7fcff;
}
.bubblePopup .triangle2 {
    position: absolute;
    text-shadow: 0px 0px 3px #888;
    z-index: 1;
    color: transparent;
}

.topArrow .triangle1 {
    transform: scale(2);
    top: -26px;
}
.topArrow .triangle2 {
    transform: scale(1.5);
    top: -28px;
}
.rightArrow .triangle1,
.rightTopArrow .triangle1 {
    transform: scale(2) rotate(90deg);
    right: -22px;
}
.rightArrow .triangle2,
.rightTopArrow .triangle2 {
    transform: scale(1.5) rotate(90deg);
    right: -26px;

}
.bottomArrow .triangle1 {
    transform: scale(2) rotate(180deg);
    bottom: -27px;
}
.bottomArrow .triangle2 {
    transform: scale(1.5) rotate(180deg);
    bottom: -29px;
}
.leftArrow .triangle1 {
    transform: scale(2) rotate(270deg);
    left: -24px;
}
.leftArrow .triangle2 {
    transform: scale(1.5) rotate(270deg);
    left: -26px;
}

.bubblePopup .relative{
    position: relative;
}

.full-width{
    width: 100%;
}