.add-project-card {

    height:200px;

    padding:50px;

    border:1px dashed #5fc764;

    color: #5fc764;
    font-size: 16px;
    font-weight: 300;
    text-align:center;

    cursor:pointer;

    margin-top:10px;
    margin-bottom:10px;
}

.report-card-box{
    
    width:100%;
    height:auto;

}

.layout-select-box {

}

.layout-card{
    text-align:center;
    height:150px;
    border:1px solid gray;
    margin:10px;
    border-radius:4px 4px 4px;
    box-shadow:gray 5px 5px 5px;
    cursor:pointer;
}

.layout-card.active{
    background-color:#e8e8e8;
}

.layout-card label{
    font-weight:600;
}

.insight-select-box{

}

.insight-chart-type-box{
    
    background-color:white;
    display:inline-block;
    text-align:center;
    height:150px;
    border:1px solid gray;
    margin:10px;
    border-radius:4px 4px 4px;
    box-shadow:gray 5px 5px 5px;    
    cursor:pointer;
}

.insight-chart-type-box :hover {
    background-color:#ebebeb;
    box-shadow:none;
}

.insight-chart-type-box i{
    
    margin-top:25px;
    padding:5px;
    font-size:50px;
    border:1px solid gray;
    border-radius:3px 3px 3px;
}

.insight-chart-type-box label{
    font-weight:600;
}