<div class="leftPanel" [class.systemActive]="openLeftPanel">
    <h2>{{'ACCOUNTS' | translate}}</h2>
    <ul class="menuItems">
        <li *ngFor="let insight of reportService.groupedInsightTypes?.Account">
            <a routerLink="{{'Standard/' + insight.DocumentType + '/' + insight.Type }}">{{ insight.Name | translate}}</a>
        </li>
    </ul>

    <h2>{{'ACTIONS' | translate}}</h2>
    <ul class="menuItems">
        <li *ngFor="let insight of reportService.groupedInsightTypes?.Action">
            <a routerLink="{{'Standard/' + insight.DocumentType + '/' + insight.Type }}">{{ insight.Name | translate}}</a>
        </li>
    </ul>

    <h2>{{'DEALS' | translate}}</h2>
    <ul class="menuItems">
        <li *ngFor="let insight of reportService.groupedInsightTypes?.Deal">
            <a routerLink="{{'Standard/' + insight.DocumentType + '/' + insight.Type }}">{{ insight.Name | translate}}</a>
        </li>
    </ul>

    <div evo-require [features]="['Goals']">
        <h2 class="pull-left">{{'GOALS' | translate}}</h2><a (click)="routeGoal()"><h6 class="pull-right">{{'SHOWALL' | translate}}</h6></a>
        <div class="clearfix"></div>
        <ul class="menuItems">
            <li *ngFor="let goal of (goalsSvc.goalListObservable() | async) | slice:0:5">
                <a (click)="routeGoal(goal.Id)" >{{ goal.Name | translate}}</a>
            </li>
        </ul>
    </div>

    <div evo-require [permissions]="['EvolumiAdmin']">
        <h2>{{'SALESCOMMISSION' | translate}}</h2>
        <ul class="menuItems">
            <li *ngFor="let insight of (salesCommSvc.salesCommissionListObs() | async) | slice:0:5">
                <a routerLink="{{'Standard/' + insight.DocumentType + '/' + insight.Type }}">{{ insight.Name | translate}}</a>
            </li>
        </ul>
    </div>


    <!--<h2>{{'REPORTS' | translate}}</h2>
    <ul class="menuItems">
        <li>
            <a routerLink="Reports">{{'NEWREPORT' | translate}}</a>
        </li>
        <li *ngFor="let report of reports">
            <a [routerLink]="['Reports', report.Id]">{{report.Name}}</a>
        </li>
    </ul>-->

    <div class="mobileSideMenu" (click)="openLeftPanel = true;">
        <ul class="dots">
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

</div>

<div class="popupOverlay" id="SideMenuOverlayLeft" [class.systemActive]="openLeftPanel" (click)="openLeftPanel = false;"></div>