.action-img-container{
    display: inline-block;
}

.saved-note{
    font-size: 12px;
    color: #333;
}

.evo-filter-container.action-filter{
    margin: -15px -15px 10px -15px;
    padding: 5px 15px 15px 15px;
}

.actionFilterRow > div {
    margin-right: 15px;
    display: inline-block;
}

.userBlock img, .ownerBlock img {
    width: 30px;
}

.userBlock {
    display: inline-block;
}

.percentBlock, .addOwnerBlock {
    width: 200px;
    white-space: normal;
}

.dateFilterDiv {
    position: absolute;
    height: 100%;
    right: 0;
}

.invisible {
    visibility: hidden;
}

.padding-l-0 {
    padding-left: 0px !important;
}

.padding-r-0 {
    padding-right: 0px !important;
}

@media screen and (max-width: 801px) {
    .gridWrapper table tr td.actionTd {
        width: 80px;
    }

    .gridWrapper .smallHidden {
    display: none;
    }
}

.datepickerRow {
    height: 64px;
}

.addContactRow {
    margin-top:5px;
}
.addContactRow > div {
    display: inline-block;
}