<div class="customPopup big actionsInfo systemActive" id="editAction" (click)="clickToClose($event)" *ngIf="showing">

    <div class="popupBox">
        <div>
            <div class="title">
                <span>{{ (action.Id ? 'EDITACTION' : 'ADDACTION') | translate }} </span>
                <a class="close pull-right" (click)="close()"><i class="fa fa-times"></i></a>
            </div>
            <div class="popupContent">
                <form #f="ngForm" class="row" id="AddActionForm">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ 'ACTIONNAME' | translate }}</label>
                            <input id="ActionNameText" type="text" class="form-control" [(ngModel)]="action.Name" placeholder="{{ 'ACTIONNAME' | translate }}"
                                name="Name" #Name="ngModel" required>
                        </div>
                        <div class="form-group">
                            <label>{{ 'STATUS' | translate }}</label>
                            <chosen id="ActionStatusDropdown" [width]="'100%'" [multiple]="false" [options]="actionStatus" [(ngModel)]="action.Status"
                                (change)="action.status=$event;" name="Status" #Status="ngModel"></chosen>
                        </div>

                        <div class="row">
                            <!--COMPANIES-->
                            <div class="col-lg-6">
                                <div class="form-group" *ngIf="!accountIds && !multiMode">
                                    <label>{{ 'COMPANY' | translate }}</label>
                                    <account-select onlyCompanies="true" [value]="action.AccountId" [valueLabel]="action.AccountName" (selectAccount)="selectCompany($event)"></account-select>
                                </div>
                            </div>

                            <!--PERSONS-->
                            <div class="col-lg-6" *ngIf="action.AccountIsPerson">
                                <div class="form-group" *ngIf="!accountIds && !multiMode">
                                    <label>{{ 'PERSON' | translate }}</label>
                                    <account-select onlyPerson="true" [value]="action.AccountId" [valueLabel]="action.AccountName" (selectAccount)="selectPerson($event)"></account-select>
                                </div>
                            </div>

                            <!--COMPANYRELATEDPERSONS-->
                            <div class="col-lg-6" *ngIf="action.AccountId && !action.AccountIsPerson && !multiMode">
                                <label>{{ "CONTACTS" | translate }}</label>
                                <div *ngFor="let person of action.RelatedPersons">
                                    {{ getPersonName(person) }}
                                    <a (click)="removeContact(person)" class="link icon pull-right"><i class="fa fa-trash"></i></a>
                                </div>
                                <div class="addContactRow">
                                    <div style="display: inline-block">
                                        <a id="DealAddContactButton" class="link icon" (click)="contactpopup.open()"><i id="DealAddContactIcon" class="fa fa-plus fa-1"></i></a>
                                    </div>
                                    <div class="bubble-popup contacts" #contactpopup arrowPosition="left">
                                        <div *ngFor="let contact of notAddedContacts">
                                            <div class="contactName clickable" (click)="addContact(contact.PersonId)">
                                                {{ contact.FirstName }} {{ contact.LastName }}
                                            </div>
                                        </div>
                                        <div *ngIf="notAddedContacts.length == 0">
                                            {{ "NOCONTACTS" | translate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" *ngIf="!simpleMode">
                            <label>{{ 'LOCATION' | translate }}</label>
                            <input id="ActionLocationText" type="text" class="form-control" [(ngModel)]="action.Location" placeholder="{{ 'LOCATION' | translate }}"
                                name="Location" #Location="ngModel">
                        </div>

                        <div class="form-group">
                            <div class="row datepickerRow">
                                <div class="col-xs-12">
                                    <label>{{ 'STARTDATE' | translate }}</label>
                                    <evo-datepicker id="ActionStartDatePicker" [(ngModel)]="action.StartDate"></evo-datepicker>
                                    <label class="link" *ngIf="simpleMode" (click)="simpleMode=false"><i class="fa fa-eye"></i>&nbsp;{{'SHOWMOREFIELDS' | translate}}</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" *ngIf="!simpleMode">
                            <div class="row datepickerRow">
                                <div class="col-xs-12">
                                    <label>{{ 'ENDDATE' | translate }}</label>
                                    <evo-datepicker id="ActionEndDatePicker" [(ngModel)]="action.EndDate" [minDate]="action.StartDate"></evo-datepicker>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <reminder [reminder]="action.Reminder" [dateFieldNames]="dateNames" (change)="action.Reminder = $event"></reminder>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            <label>{{ 'ACTIONTYPE' | translate }}</label>
                            <action-type [model]="action.Type" (change)="action.Type=$event"></action-type>
                        </div>

                        <div class="form-group">
                            <label>{{ 'ASSIGNEDTO' | translate }}</label>
                            <chosen id="ActionAssignedToDropdown" [width]="'100%'" [multiple]="false" [options]="users" [(ngModel)]="action.UserAssignedId"
                                ngControl="UserAssignedId" name="UserAssignedId" #UserAssignedId="ngModel" required></chosen>
                        </div>
                        <!--<div class="form-group" *ngIf="!accountIds">
                            <label>{{ 'LINKTO' | translate }}</label>
                            <chosen id="ActionRelatedContactDropdown" [width]="'100%'" [multiple]="true" [options]="contacts" [(ngModel)]="action.RelatedPersons"
                                ngControl="RelateContactId" placeholderTextSingle="{{ 'SELECTCONTACT' | translate}}" name="RelateContactId"
                                #RelateContactId="ngModel"></chosen>
                        </div>-->
                        <div class="form-group" *ngIf="!simpleMode && !multiMode">
                            <label>{{ 'RELATEDTO' | translate }}</label>
                            <chosen id="ActionRelatedDealDropdown" [width]="'100%'" [multiple]="false" [options]="deals" [(ngModel)]="action.RelatedDealId"
                                ngControl="RelatedDealId" name="RelatedDealId" #RelatedDealId="ngModel" placeholderTextSingle="{{ 'SELECTDEAL' | translate}}"></chosen>
                        </div>
                        <div class="form-group" *ngIf="!simpleMode">
                            <label>{{ 'PRIORITY' | translate }}</label>
                            <chosen id="ActionPriorityDropdown" [width]="'100%'" [multiple]="false" [options]="priority" [(ngModel)]="action.Priority"
                                ngControl="Priority" name="Priority" #Priority="ngModel"></chosen>
                        </div>
                        <div class="form-group">
                            <label>{{ 'ACTIVITYLISTS' | translate }}</label>

                            <tag-edit-text id="ActionTagText" class="form-control boxify" [clear]="clear" [items]="action.Labels" (itemsChange)="onitemsChange($event)"
                                [itemsSource]="currentOrg?.Labels" showFilter="true"
                                bgColor="#f0ad4e" placeholder="{{'ACTIVITYLISTS' | translate}}"></tag-edit-text>

                            <label>{{'CHOOSEACTIVITYLIST' | translate}}</label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label>{{ 'NOTE' | translate }}</label>
                        <textarea id="ActionNoteText" ngControl="Comments" [(ngModel)]="action.Comments" name="Comments" #Comments="ngModel" class="form-control"></textarea>
                    </div>
                    <div class="col-md-12">
                        <button id="ActionAddCreateButton" type="button" class="btn pull-right" *ngIf="!action.Id" (click)="addAction()" [disabled]="!f.valid || !action.AccountId">
                                <span *ngIf=!process>{{ 'CREATEBTN' | translate }}</span>
                                <div [hidden]="!process">
                                    <img src="assets/images/preloader.gif" alt="loading" />
                                </div>
                            </button>

                        <button id="ActionEditSaveButton" type="button" class="btn pull-right" *ngIf="action.Id" (click)="editAction()" [disabled]="!f.valid || !action.AccountId">
                                <span *ngIf=!process>{{ 'SAVEBTN' | translate }}</span>
                                <div [hidden]="!process">
                                    <img src="assets/images/preloader.gif" alt="loading" />
                                </div>
                            </button>
                        <div class="pull-right">
                            <div style="display: inline-block">
                                <label *ngIf="accountService.selectedAccounts.length > 1" class="customCheckBox" id="custome-check" placement="right">
                                    <input type="checkbox" name="syncAllCheckbox" [(ngModel)]="syncAll"  class="checker">
                                    <div class="custonCkeck"></div>
                                </label>
                            </div>
                            <div *ngIf="multiMode" style="display: inline-block">
                                {{ "SYNCALL" | translate}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>