<div class="mainTitle leftFree">
    <h1>{{ 'ACTIONS' | translate }}</h1>
</div>

<div class="contentPanel leftFree actionsPage" id="actionContentPanel" [class.accountsPage]="!display" scrollTracker scrollStart="1000"
    (scrollBottom)="scroll()" [class.showingAction]="activeTab === 'ActionFlow'" id="Act">
    <div class="contentWrapper">
        <div class="projectBox">
            <tabset class="customTab">
                <tab heading="{{'ACTIONFLOW' | translate}}" (select)="onTabSelect('ActionFlow')">
                    <actionflow (out)="getAccount($event)"></actionflow>
                </tab>
                <tab heading="{{'ACTIONLIST' | translate}}" (select)="onTabSelect('ActionList')">
                    <actionlist (openAccountInfo)="showAccountInfo($event)"></actionlist>
                </tab>
            </tabset>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<actionright *ngIf="activeTab === 'ActionList'" [display]='display' [account]="account" [closeFunc]="closeRightPanel"></actionright>
<actionright *ngIf="activeTab !== 'ActionList'" [display]='display' [account]="account"></actionright>
<router-outlet></router-outlet>
<export [type]="'Action'" [extra]="activeTab" *ngIf="showExport" (close)="showExport = false"></export>