<form #reportForm="ngForm" *ngIf="deal">
    <div class="tab-content" (click)="clickToClose($event)">
        <div class="row">
            <div [class.col-sm-6]="deal.Id != null" [class.col-sm-12]="deal.Id == null" style="z-index: 1">
                <div class="dotlineContainer">
                    <div class="dotlineHeader"> {{dotlineHeader}}</div>
                    <div class="row">
                        <div class="col-xs-11">
                            <dotline [clickable]="true" [tooltips]="true" [options]="dotlineOptions" (valueChanged)="lineDealStatusChange($event)" [value]="dotlineValue"></dotline>
                        </div>
                        <div class="col-xs-1" style="transform: translateY(-25%); padding-left: 0px;">
                            <dotmenu [options]="dotmenuOptions"></dotmenu>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <!-- Name -->
                    <div *ngIf="deal.Editmode">
                        <label for="">{{ 'DEALNAME' | translate }}</label>
                        <input id="DealNameText" class="form-control" [ngModel]="deal.Name" (ngModelChange)="deal.Name=$event;checkFormValidity();"
                            ngControl="Name" #name="ngModel" name="Name" placeholder="{{ 'DEALNAME' | translate }}" Value=""
                            required>
                        <div [hidden]="name.untouched || name.valid">{{ 'REQ' | translate }}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <!-- Company -->
                        <label for="DealAccountDropdown">{{ 'COMPANY' | translate }}</label>
                        <div *ngIf="deal.Editmode" class="form-group">
                            <account-select onlyCompanies="true" [value]="deal.AccountId" [valueLabel]="deal.AccountName" (selectAccount)="selectCompany($event)"></account-select>
                        </div>
                        <div *ngIf="!deal.Editmode && !deal.AccountIsPerson">
                            <a class="link" (click)="goToAccount();">{{ deal.AccountName }}</a>
                        </div>

                        <!-- ExpectedCloseDate -->
                        <div class="closeDate form-group">
                            <label *ngIf="deal.Editmode || (!deal.Editmode && deal.ExpectedCloseDate)">{{ "EXPECTEDCLOSEDATE" | translate }}</label>
                            <div *ngIf="deal.Editmode">
                                <evo-datepicker #closedatepicker id="CloseDatePicker" [dateOnly]="true" [(ngModel)]="deal.ExpectedCloseDate" name="CloseDatePicker"></evo-datepicker>
                            </div>
                            <div *ngIf="!deal.Editmode && deal.ExpectedCloseDate">
                                {{ deal.ExpectedCloseDate | dateonly }}
                            </div>
                        </div>
                    </div>

                    <!-- Person -->
                    <div class="col-lg-6 ownerComp">
                        <div *ngIf="!deal.AccountId || deal.AccountIsPerson">
                            <label for="DealAccountDropdown">{{ 'PERSON' | translate }}</label>
                            <div *ngIf="deal.Editmode" class="form-group">
                                <account-select onlyPerson="true" [value]="deal.AccountId" [valueLabel]="deal.AccountName" (selectAccount)="selectPerson($event)"></account-select>
                            </div>
                            <div *ngIf="!deal.Editmode">
                                <a class="link" (click)="goToAccount()">{{ deal.AccountName }}</a>
                            </div>
                        </div>
                        <owner-contact #ownercontact [deal]='deal' [accountId]="deal.AccountId"></owner-contact>
                    </div>
                </div>
                <!-- Note -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label *ngIf="deal.Note || deal.Editmode" for="">{{ 'NOTE' | translate }}</label>
                            <div *ngIf="deal.Editmode">
                                <textarea autosize id="DealNoteText" [(ngModel)]="deal.Note" ngControl="Note" class="form-control" name="Note"></textarea>
                            </div>
                            <div *ngIf="!deal.Editmode">
                                <pre>{{ deal.Note }}</pre>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Products -->
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="">{{ 'PRODUCTS' | translate }}</label>
                        </div>
                        <div [hidden]="deal.DealAsProducts">
                            <div class="col-md-4">
                                <div class="">
                                    {{"DEALVALUE" | translate }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div *ngIf="deal.Editmode">
                                    <input class="form-control" no-scroll [(ngModel)]="deal.Value" name="dealvalue" type="number" />
                                </div>
                                <div *ngIf="!deal.Editmode">
                                    {{ deal.Value | bigNumber}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div *ngIf="deal.Editmode">
                                    <chosen id="DealCurrencyDropdown" [width]="'100%'" [multiple]="false" [options]="currencies" [(ngModel)]="deal.CurrencyName"
                                        #currency="ngModel" name="Currency"></chosen>
                                </div>
                                <div *ngIf="!deal.Editmode">
                                    {{ deal.CurrencyName }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" [hidden]="!deal.DealAsProducts">
                            <product-deal #productdeal [deal]="deal"></product-deal>
                        </div>
                        <div class="pull-right">
                            <table class="vatTable">
                                <tbody>
                                    <tr>
                                        <td><b>{{ 'TOTAL' | translate }}: </b></td>
                                        <td id="DealTotalValue" *ngIf="deal.Vat != null"><b>{{deal.Value | bigNumber}}</b></td>
                                        <td *ngIf="deal.Vat != null"><b>{{deal.CurrencyName}}</b></td>
                                    </tr>
                                    <tr>
                                        <td *ngIf="deal.Vat != null && deal.Editmode" class="clickable" (click)="quickselectvat.toggleQuickSelectBox()"><b>{{ 'VAT' | translate }} ({{deal.Vat}}% <quickselect #quickselectvat [items]="org.Vats" (select)="changeVat($event)"></quickselect>) : </b></td>
                                        <td *ngIf="deal.Vat != null && !deal.Editmode"><b>{{ 'VAT' | translate }} ({{deal.Vat}}%) : </b></td>
                                        <td id="DealTotalVat" *ngIf="deal.Vat != null"><b>{{deal.Value*deal.Vat/100 | bigNumber}}</b></td>
                                        <td *ngIf="deal.Vat != null"><b>{{deal.CurrencyName}}</b></td>
                                    </tr>
                                    <tr>
                                        <td><b>{{ 'PAYABLE' | translate }}: </b></td>
                                        <td id="DealTotalPay" *ngIf="deal.Vat != null"><b>{{deal.Value+(deal.Value*deal.Vat/100 ) | bigNumber}}</b></td>
                                        <td *ngIf="deal.Vat != null"><b>{{deal.CurrencyName}}</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="deal.Editmode">
                            <div class="col-md-12" *ngIf="deal.DealAsProducts">
                                <a class="link" (click)="toggleDealAsProducts()">{{"DEALASDEAL" | translate }}</a>
                            </div>
                            <div class="col-md-12" *ngIf="!deal.DealAsProducts">
                                <a class="link" (click)="toggleDealAsProducts()">{{"DEALASPRODUCTS" | translate }}</a>
                            </div>
                        </div>

                    </div>
                </div>


                <!-- <div class="row"> -->
                <!-- SaleProcess -->
                <!-- <div class=" col-lg-6 form-group">
                        <label for="">{{ 'SALESPROCESS' | translate }}</label>
                        <div *ngIf="deal.Editmode">
                            <chosen id="DealSaleProcessDropdown" [width]="'100%'" [multiple]="false" [options]="salesProcess" [ngModel]="deal.SaleProcessId"
                                #saleProcess="ngModel" name="SaleProcessId" (change)="deal.SaleProcessId=$event;changeStatus();"></chosen>
                        </div>
                        <div *ngIf="!deal.Editmode">
                            {{ getSaleProcessName(deal.SaleProcessId) }}
                        </div>
                    </div> -->

                <!-- Deal Status -->
                <!-- <div class="col-lg-6 form-group" *ngIf="currentStatusDropDown">
                        <label for="">{{ 'STATUS' | translate }}</label>
                        <div *ngIf="deal.Editmode">
                            <chosen id="DealStatusDropdown" [width]="'100%'" [multiple]="false" [options]="currentStatusDropDown.salesPipe" [optionsGroups]="groups"
                                [ngModel]="deal.DealStatusId" #dealStatus="ngModel" name="DealStatusId" (change)="deal.DealStatusId=$event;"></chosen>
                        </div>
                        <div *ngIf="!deal.Editmode">
                            {{ getDealStatusName(deal.DealStatusId) }}
                        </div>
                    </div>
                </div> 
                <delivery-deal [deal]="deal"></delivery-deal>-->

                <!-- Reminder -->
                <div class="col-md-6" *ngIf="deal.Editmode">
                    <div class="form-group">
                        <reminder [reminder]="deal.Reminder" [dateFieldNames]="dateNames" (change)="deal.Reminder = $event"></reminder>
                    </div>
                </div>

            </div>
            <div *ngIf="deal.Id != null && (openActions.length > 0 || closedActions.length > 0)" class="col-sm-6">
                <div>
                    <h5>{{ "PLANNEDACTIONS" | translate }}</h5>
                </div>
                <div class="timeline-outer-box">
                    <timeline-action *ngFor="let action of openActions" hideTimelineInfo="true" hideEdit="true" [action]="action" dateField="StartDate"></timeline-action>
                </div>
                <div *ngIf="openActions.length == 0">
                    <span>{{ "NONEXTACTIONS" | translate }}</span>
                </div>
                <div *ngIf="closedActions.length > 0">
                    <h5>{{ "TIMELINE" | translate }}</h5>
                </div>
                <div class="timeline-outer-box">
                    <div class="timeline-box">
                        <timeline-action *ngFor="let action of closedActions" hideTimelineInfo="true" hideEdit="true" hideConnection="true" [action]="action"
                            dateField="StartDate"></timeline-action>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="customPopup tiny" [class.systemActive]="changeDealStatusOptions" id="changeDealStatusPopup" (click)="changeDealStatusOptions = null">
    <div class="popupBox">
        <div class="popupContent">
            <div class="optionContainer">
                <div *ngFor="let status of changeDealStatusOptions" class="clickable option" (click)="setNewDealStatus(status, deal.Id != null)">
                    {{status.Name}}
                </div>
            </div>
        </div>
    </div>
</div>