.vatTable td{
    white-space: nowrap;
    text-align: right;
    padding-right: 10px;
}

.vatTable {
    width:100%
}

.ownerComp {
    margin-bottom: 15px;
}

.closeDate {
    margin-bottom: 15px;
    margin-top: 20px;
}

.dotlineContainer {
    margin-top: 20px;
    margin-bottom: 10px;
}

.optionContainer div {
    padding:2px 0px;
}

.optionContainer div:hover {
    font-weight: 500;
}

.dotlineHeader {
    margin-bottom: 10px;
}