<div class="customPopup" [class.big]="_deal.deal.Id != null" [class.medium]="_deal.deal.Id == null" [class.systemActive]="_deal.deal" id="addeditdealmodal" (click)="clickToClose($event)" style="z-index: 199 !important">
    <div class="popupBox">
        <div id="DealCloseButton" class="title" *ngIf="!_deal.deal?.Id">
            {{ 'ADDDEAL' | translate }}
            <a class="close pull-right" (click)="_deal.clear()"><i class="fa fa-times"></i></a>
        </div>
        <div id="DealCloseButton" class="title" *ngIf="_deal.deal?.Id">
            {{ _deal.deal.Name }}
            <a class="close pull-right" (click)="_deal.clear()"><i class="fa fa-times"></i></a>
            <a class="close pull-right" (click)="_deal.deal.Editmode = true"><i class="fa fa-pencil"></i></a>
        </div>
        <div class="popupContent">

            <basic-deal #basicdeal (formValidity)="formValidSetter($event)" [deal]="_deal.deal" [salesProcess]='salesProcess' [currencies]='currencies'
                [vat]='vat' [ocr]="ocr" [internalId]="internalId" [externalId]="externalId" [currentStatusDropDown]='currentStatusDropDown'></basic-deal>

            <div class="buttonRow">
                <button id="DealCreateButton" *ngIf="!_deal.deal.Id" [disabled]="!formValid" type="button" class="btn pull-right" (click)="AddOrUpdate()">
                   <span [hidden]="apiprogress">{{ 'CREATEBTN' | translate }}</span>
                   <div [hidden]="!apiprogress">
                       <img src="assets/images/preloader.gif" alt="loading" />
                   </div>
               </button>

                <button id="DealSaveButton" *ngIf="_deal.deal.Id && _deal.deal.Editmode" [disabled]="!formValid" type="button" class="btn pull-right"
                    (click)="AddOrUpdate(); _deal.deal.Editmode = false">
                   <span [hidden]="apiprogress">{{ 'SAVEBTN' | translate }}</span>
                   <div [hidden]="!apiprogress">
                       <img src="assets/images/preloader.gif" alt="loading" />
                   </div>
               </button>

                <!-- <button id="DealSaveButton" *ngIf="_deal.deal.Id && !_deal.deal.Editmode" [disabled]="!formValid" type="button" class="btn pull-right"
                    (click)="_deal.deal.Editmode = true">

                   <span [hidden]="apiprogress">{{ 'EDIT' | translate }}</span>
                   <div [hidden]="!apiprogress">
                       <img src="assets/images/preloader.gif" alt="loading" />
                   </div>
               </button> -->

                <a id="DealCancleButton" *ngIf="_deal.deal.Id && _deal.deal.Editmode" class="evo-cancel-link pull-right" (click)="_deal.deal.Editmode = false">{{ 'CANCELBTN' | translate }}</a>
            </div>
        </div>
    </div>
</div>
<productpicker *ngIf="_deal.deal"></productpicker>