<div *ngIf="salesComp" class="customPopup big systemActive" id="addSalesComp" (click)="clickToClose($event)">
    <div class="popupBox">
        <div *ngIf="!edit" class="title">
            <span>{{ 'ADDSALESCOMP' | translate }} </span>
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="row">
                <form #salesForm="ngForm" id="salesCompForm" novalidate>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'NAME' | translate}}</label>
                            <input class="form-control" [(ngModel)]="salesComp.Name" name="name" #name="ngModel" required/>
                            <div [hidden]="name.untouched || name.valid" class="bg-danger">
                                {{ 'REQ' | translate }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{'DESCRIPTION' | translate}}</label>
                            <textarea class="form-control" [(ngModel)]="salesComp.Description" name="description" #description="ngModel"></textarea>
                        </div>
                        <div class="col-md-6 sc-form-group-left">
                            <div class="form-group">
                                <label>{{'STARTDATE' | translate}}</label>
                                <evo-datepicker [(ngModel)]="salesComp.StartDate" name="startDate" #startDate="ngModel" [dateOnly]="dateOnly" [maxDate]="salesComp.EndDate"
                                    required></evo-datepicker>
                                <div [hidden]="startDate.untouched || startDate.valid" class="bg-danger">
                                    {{ 'REQ' | translate }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 sc-form-group-right">
                            <div class="form-group">
                                <label>{{'ENDDATE' | translate}}</label>
                                <evo-datepicker [(ngModel)]="salesComp.EndDate" [minDate]="salesComp.StartDate" [dateOnly]="salesComp.IsDateOnly" [defaultDate]="salesComp.StartDate"
                                    name="endDate" #endDate="ngModel" required></evo-datepicker>
                                <div [hidden]="endDate.untouched || endDate.valid" class="bg-danger">
                                    {{ 'REQ' | translate }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 sc-form-group-left">
                            <div class="form-group">
                                <label for="dateOnly" class="evo-cb-label">{{ 'DATEONLY' | translate }}</label>
                                <label class="customCheckBox leftFolat" id="custome-check">
                                    <input type="checkbox" id="dateOnly" [(ngModel)]="salesComp.IsDateOnly" class="checker" name="actualClose">
                                    <div class="custonCkeck"></div>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 sc-form-group-left">
                            <div class="form-group">
                                <label style="display: block;">{{'PARTICIPANTS' | translate}}</label>
                                <div class="sc-img-cont" *ngFor="let part of addedParticipants" [tooltip]="part.value | username">
                                    <img class="sc-display-img" [profilepicture]="part.value" />
                                </div>
                                <a class="link" (click)="popupPart.open()">
                                    <i class="fa fa-plus"></i>
                                </a>
                                <div #popupPart class="bubble-popup" arrowPosition="left" classAvoidClose="evo-img-hover">
                                    <div>
                                        <div>
                                            <label>{{'ADDEDUSERS' | translate}}</label>
                                        </div>
                                        <div>
                                            <a class="link" *ngIf="addedParticipants?.length > 0" (click)="onRemoveAllParticipants()">{{'REMOVEALL' | translate}}</a>
                                        </div>
                                        <div class="sc-img-cont evo-img-hover" *ngFor="let user of addedParticipants; let i = index" (click)="onRemoveParticipant(user, i)"
                                            [tooltip]="user.value | username">
                                            <img class="sc-display-img" [profilepicture]="user.value" />
                                        </div>
                                    </div>
                                    <hr class="sc-hr">
                                    <div class="addUsers">
                                        <div>
                                            <label>{{'USERSTOADD' | translate}}</label>
                                        </div>
                                        <div>
                                            <a class="link" (click)="onAddAllParticipants()">{{'CHOOSEALL' | translate}}</a>
                                        </div>
                                        <div>
                                            <div *ngFor="let user of participantList; let i = index;" class="sc-img-cont" tooltip="{{user.value | username}}" (click)="onAddParticipant(user, i)">
                                                <img class="sc-display-img" [profilepicture]="user.value" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 sc-form-group-right">
                            <div class="form-group">
                                <label style="display: block;">{{'OBSERVERS' | translate}}</label>
                                <div #popupObs class="bubble-popup" arrowPosition="right" classAvoidClose="evo-img-hover">
                                    <div>
                                        <label>{{'ADDEDUSERS' | translate}}</label><br>
                                        <div *ngFor="let user of addedObservers; let i = index" class="sc-img-cont evo-img-hover" [tooltip]="user.value | username"
                                            (click)="onRemoveObserver(user, i)">
                                            <img class="sc-display-img" [profilepicture]="user.value" />
                                        </div>
                                    </div>
                                    <hr class="sc-hr">
                                    <div>
                                        <label>{{'USERSTOADD' | translate}}</label><br>
                                        <div *ngFor="let user of observerList; let i = index;" class="sc-img-cont" (click)="onAddObserver(user, i)" tooltip="{{user.value | username}}">
                                            <img class="sc-display-img" [profilepicture]="user.value" />
                                        </div>
                                    </div>
                                </div>
                                <div *ngFor="let obs of addedObservers; let i=index" class="sc-img-cont" [tooltip]="obs.value | username">
                                    <img class="sc-display-img" [profilepicture]="obs.value" />
                                </div>
                                <a class="link" (click)="popupObs.open()">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'SALESCOMPRULES' | translate}}</label>
                            <rules-display *ngFor="let rule of salesComp?.Rules; let i = index" [compRule]="rule" [index]="i" (removeRule)="removeRule($event)"></rules-display>
                        </div>
                        <div>
                            <a class="evo-add-link" (click)="onOpenAddRule()">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="evo-btn-row">
                            <button *ngIf="!isEditMode" type="button" class="evo-btn pull-right" [disabled]="!salesForm.valid || salesComp?.Rules.length < 1 || addedParticipants?.length < 1"
                                (click)="createSalesComp()">
                                {{'CREATEBTN' | translate}}
                            </button>
                            <button *ngIf="isEditMode" type="button" class="evo-btn pull-right" [disabled]="!salesForm.valid || salesComp?.Rules.length < 1 || addedParticipants?.length < 1"
                                (click)="updateSalesComp()">
                                {{'SAVEBTN' | translate}}
                            </button>
                            <a *ngIf="!isEditMode" class="evo-cancel-link pull-right" (click)="back()">{{ 'CANCELBTN' | translate }}</a>
                            <a *ngIf="isEditMode" class="evo-cancel-link pull-right" (click)="cancelChanges()">{{ 'CANCELBTN' | translate }}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<addedit-comprule (ruleAdded)="onAddRule($event)" *ngIf="salesSvc.currentRuleObs() | async"></addedit-comprule>