<div class="customPopup systemActive" id="addCompRule" (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title">
            <span>{{ 'ADDCOMPRULE' | translate }} </span>
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="row">
                <form #rulesForm="ngForm" id="salesCompRuleForm" novalidate>
                    <div class="form-group col-md-12">
                        <label>{{'COMPTYPE' | translate}}</label>
                        <chosen id="compRuleType" [(ngModel)]="compRule.SalesGoalType " [width]="'100%'" [multiple]="false" [options]="compTypeList"
                            #compType name="compType" required (change)="onTypeChange($event)"></chosen>
                    </div>
                    <div *ngIf="compRule.SalesGoalType  === 'ClosedActions' || compRule.SalesGoalType  === 'CreatedActions'" class="form-group col-md-12">
                        <label for="compActionTypes">{{'ACTIONTYPE' | translate}}</label>
                        <span (click)="chooseAll('ActionTypes')" *ngIf="compRule.ActionTypes.length !== actionTypeList.length" class="pull-right clickable">{{'CHOOSEALL' | translate}}</span>
                        <span (click)="compRule.ActionTypes = [];" *ngIf="compRule.ActionTypes.length === actionTypeList.length" class="pull-right clickable">{{'REMOVEALL' | translate}}</span>
                        <chosen id="compActionTypes" [ngModel]="compRule.ActionTypes" (ngModelChange)="onActionTypeChanged($event)" [width]="'100%'"
                            [multiple]="true" [options]="actionTypeList" name="actionType"></chosen>
                    </div>
                    <div *ngIf="compRule.SalesGoalType === 'ClosedActions'" class="form-group col-md-12">
                        <label>{{'ACTIONSTATUSES'}}</label>
                        <span (click)="chooseAll('ActionStatuses')" *ngIf="actionStatusList.length && compRule.ActionStatuses.length !== actionStatusList.length"
                            class="pull-right clickable">{{'CHOOSEALL' | translate}}</span>
                        <span (click)="compRule.ActionStatuses = [];" *ngIf="actionStatusList.length && compRule.ActionStatuses.length === actionStatusList.length"
                            class="pull-right clickable">{{'REMOVEALL' | translate}}</span>
                        <chosen id="compRuleActionStatuses" [(ngModel)]="compRule.ActionStatuses" [width]="'100%'" [multiple]="true" [options]="actionStatusList"
                            name="actionStatus"></chosen>
                    </div>
                    <div *ngIf="compRule.SalesGoalType  === 'ClosedActions'" class="form-group col-md-12">
                        <label for="useActualClose" class="evo-cb-label">{{ 'USEACTUALCLOSEDATE' | translate }}</label>
                        <label class="customCheckBox leftFolat" id="custome-check">
                            <input type="checkbox" id="useActualClose" [(ngModel)]="compRule.UseActualCloseDate" class="checker" name="actualClose">
                            <div class="custonCkeck"></div>
                        </label>
                    </div>
                    <div *ngIf="compRule.SalesGoalType  === 'ClosedActions' || compRule.SalesGoalType  === 'CreatedActions'" class="form-group col-md-12">
                        <label for="compLabels">{{'ACTIVITYLISTS' | translate}}</label>
                        <tag-edit-text class="form-control boxify" [clear]="clear" [items]="compRule.Labels" [itemsSource]="currentOrg?.Labels"
                            showFilter="true" bgColor="#f0ad4e" placeholder="{{'ACTIVITYLISTS' | translate}}"></tag-edit-text>
                            <span>{{'CHOOSEACTIVITYLIST' | translate}}</span>
                    </div>
                    <div class="form-group col-md-6" *ngIf="(compRule.SalesGoalType  === 'DealsValueOf' || compRule.SalesGoalType  === 'NumberOfDeals') && salesProcessList.length > 1">
                        <label for="compSalesProcess">{{'SALESPROCESS'}}</label>
                        <chosen id="compSalesProcess" [(ngModel)]="compRule.SalesProcessId" [width]="'100%'" [multiple]="false" [options]="salesProcessList"
                            name="salesProcess" (change)="onSaleProcessChange($event)" required></chosen>
                    </div>
                    <div class="form-group" [class.col-md-6]="salesProcessList.length > 1" [class.col-md-12]="salesProcessList.length === 1"
                        *ngIf="compRule.SalesGoalType  === 'DealsValueOf' || compRule.SalesGoalType  === 'NumberOfDeals'">
                        <label for="compDealStatus">{{'DEALSTATUS'}}</label>
                        <chosen id="compDealStatus" [(ngModel)]="compRule.DealStatusId" [width]="'100%'" [multiple]="false" [options]="dealStatusList"
                            [optionsGroups]="statusGroups" required name="dealStatus"></chosen>
                    </div>
                    <div class="form-group" [class.col-md-4]="compRule.SalesGoalType  === 'DealsValueOf' && compRule.Currency" [class.col-md-6]="compRule.SalesGoalType  !== 'DealsValueOf' || !compRule.Currency"
                        *ngIf="compRule.SalesGoalType?.length > 0">
                        <label>{{'POINTS' | translate}}</label>
                        <input class="form-control text-right" type="number" [(ngModel)]="compRule.Value" name="points" required/>
                    </div>
                    <div class="form-group" [class.col-md-4]="compRule.SalesGoalType  === 'DealsValueOf' && compRule.Currency" [class.col-md-6]="compRule.SalesGoalType  !== 'DealsValueOf' || !compRule.Currency"
                        *ngIf="compRule.SalesGoalType?.length > 0">
                        <label *ngIf="compRule.SalesGoalType === 'ClosedActions'">{{'CLOSEDACTIONS' | translate}}</label>
                        <label *ngIf="compRule.SalesGoalType === 'CreatedActions'">{{'CREATEDACTIONS' | translate}}</label>
                        <label *ngIf="compRule.SalesGoalType === 'DealsValueOf'">{{'TURNOVERAMOUNT' | translate}}</label>
                        <label *ngIf="compRule.SalesGoalType === 'CreatedDeals'">{{'CREATEDDEALS' | translate}}</label>
                        <label *ngIf="compRule.SalesGoalType === 'NumberOfDeals'">{{'DEALS' | translate}}</label>
                        <input class="form-control text-right" type="number" [(ngModel)]="compRule.Quantity" name="quantity" required/>
                    </div>
                    <div class="form-group col-md-4" *ngIf="compRule.SalesGoalType  === 'DealsValueOf' && compRule.Currency">
                        <label>{{'CURRENCY' | translate}}</label><br>
                        <chosen id="compCurrency" [(ngModel)]="compRule.Currency" [width]="'100%'" [multiple]="false" [options]="currencies" required
                            name="currency"></chosen>
                    </div>
                    <div class="col-md-12">
                        <div class="evo-btn-row">
                            <button type="button" class="evo-btn pull-right" [disabled]="!rulesForm.valid" (click)="addRule()">
                                {{'CREATEBTN' | translate}}
                            </button>
                            <a class="evo-cancel-link pull-right" (click)="back()">{{ 'CANCELBTN' | translate }}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>