<div class="">
    <div class="row">
        <div class="col-md-12">
            <div class="button-box">

                <a class="evo-filter-btn" [class.enabled]="enableButtons" tooltip="{{'DELETE' | translate}}" (click)="buttonClick('delete')">
                    <i class="fa fa-trash fa-fw"> </i>
                </a>

                <a class="evo-filter-btn" [class.enabled]="enableButtons" tooltip="{{'SENDMAIL' | translate}}" (click)="buttonClick('massmail')">
                    <i class="fa fa-envelope fa-fw"> </i>
                </a>

                <a class="evo-filter-btn" [class.enabled]="enableButtons" tooltip="{{'ADDACTION' | translate}}" (click)="buttonClick('addaction')">
                    <i class="fa fa-check-square-o fa-fw"> </i>
                </a>

                <a class="evo-filter-btn" [class.enabled]="enableButtons" tooltip="{{'CHANGEACCMAN' | translate}}" (click)="buttonClick('changeacm')">
                    <i class="fa fa-user-secret fa-fw"> </i>
                </a>

                <a class="evo-filter-btn" [class.enabled]="enableButtons" tooltip="{{'CHANGEACCTYPE' | translate}}" (click)="buttonClick('changeactype')">
                    <i class="fa fa-paw fa-fw"> </i>
                </a>

                <a class="evo-filter-btn doubble" [class.enabled]="enableButtons" tooltip="{{'ADDTAGS' | translate}}" (click)="buttonClick('addtags')">
                    <i class="fa fa-tag"> </i>
                    <i class="fa fa-plus"> </i>
                </a>

                <a class="evo-filter-btn doubble" [class.enabled]="enableButtons" tooltip="{{'REMOVETAGS' | translate}}" (click)="buttonClick('removetags')">
                    <i class="fa fa-tag"> </i>
                    <i class="fa fa-minus"> </i>
                </a>

                <a class="evo-filter-btn" [class.enabled]="enableButtons" tooltip="{{'CHECKMAP' | translate}}" (click)="buttonClick('showmap')">
                    <i class="fa fa-map-marker fa-fw"> </i>
                </a>

            </div>
           
            <div evo-require [features]="['Filters']" (onFail)="showFeature=true" class="filter-box">
                <!--<div style="display: inline-block;width:140px;">
                <select [value]="selectedFilter?.Id" (change)="setFilter($event.target.value)" class="form-control" style="height: 31px;" [class.star]="accountService.defaultFilter == selectedFilter.Id">
                    <option *ngFor="let filter of accountService.filters" [class.star]="accountService.defaultFilter == filter.Id" [value]="filter.Id">{{filter.Name}}</option>
                </select>
            </div>-->
                <a class="enabled" *ngIf="!editMode" (click)="createFilter()">
                    <!--<i class="fa fa-plus fa-fw"> </i> -->
                    <label style="font-size: 15px;cursor: pointer; font-weight: 500;">{{'NEWFILTER' | translate}}</label>
                </a>

                <div *ngIf="editMode" style="display:inline-block;">
                    <input type="text" class="form-control" [(ngModel)]="selectedFilter.Name" placeholder="{{'NAME' | translate }}" style="height: 29px;"
                    />
                </div>

                <div *ngIf="selectedFilter && selectedFilter.Id && editMode" style="display:inline-block">
                    <a class="filterbutton enabled" tooltip="{{'DELETEFILTER' | translate}}" (click)="deleteFilter()">
                        <i class="fa fa-trash fa-fw"> </i>
                    </a>
                    <a *ngIf="accountService.defaultFilter != selectedFilter.Id" class="filterbutton enabled" tooltip="{{'SETDEFAULTFILTER' | translate}}"
                        (click)="setDefaultFilter()">
                        <i class="fa fa-star fa-fw"> </i>
                        </a>
                        <a *ngIf="accountService.defaultFilter == selectedFilter.Id" class="filterbutton enabled" tooltip="{{'REMOVEDEFAULTFILTER' | translate}}"
                            (click)="removeDefaultFilter()">
                            <i class="fa fa-star fa-fw star"> </i>
                            </a>
                </div>
                <button [disabled]="!selectedFilter.Name" [class.enabled]="selectedFilter.Name" *ngIf="editMode" class="filterbutton" tooltip="{{'SAVEFILTER' | translate}}"
                    (click)="saveFilter()">
                    <i class="fa fa-save fa-fw"> </i>
                    </button>

                    <div *ngIf="accountService.filters" style="display: inline-block">
                        <div class="filterlabel">|</div>
                        <div class="filterlabel" style="margin-right: 15px">
                            <a [class.selected]="!selectedFilter.Id" (click)="setFilter('')">{{'NOFILTER' | translate}}</a>
                        </div>
                        <div *ngFor="let filter of accountService.filters" class="filterlabel">
                            <a [class.selected]="selectedFilter.Id == filter.Id" (click)="setFilter(filter.Id)">{{filter.Name}}</a>
                            <div>
                                <a tooltip="{{'EDIT' | translate}}" (click)="setFilter(filter.Id);editMode=true;">
                                    <i class="fa fa-pencil fa-fw"> </i>
                                </a>
                            </div>
                        </div>

                    </div>
            </div>
            <div *ngIf="showFeature">
                <a [featureLink]="'Filters'">{{'NUDGESAVEDFILTERS' | translate}}</a>
            </div>
        </div>
    </div>
</div>

