.filterbar{
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    overflow: visible;
    margin: -38px -20px 20px;
    padding: 5px 20px;
    background: #f4f4f4;
}

.button-box{
    float:left;
    margin-right: 30px;
}

.filter-box{
    float:left;
    height: 34px;
}

.trash{
    padding-left: 8px;
}

.filterbutton.enabled{
    cursor:pointer;
    color: #333;
}

.filterbutton.enabled:hover{
    color: #5fc764;
}

.selected{
    font-weight: bold;
}

.star{
    color:  goldenrod!important;
}

.filterlabel{
    display: inline-block;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 600px;
}
.filterlabel a:hover{
    text-decoration: none;
}

.hide{
    visibility: hidden;
}

.filterlabel div{
    display: inline-block;
    visibility: hidden;
}

.filterlabel:hover div{
    visibility: initial;
}