<div class="mainTitle">
    <h1>{{(higchart.insightName ? higchart.insightName : 'INSIGHTS') | translate }}</h1>
</div>
<div class="contentPanel reports">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 contentPanelLeft" style="height:1000px">
                <div class="projectBox">
                    <highchart-multi></highchart-multi>
                </div>
            </div>
            <div class="col-md-3 rightPanel">
                <chartfilter [type]="insightType" [id]="insightId" [filter]="higchart.filter" (changeFilter)="update($event)"></chartfilter>
            </div>
        </div>
    </div>
</div>





