<div id="authModal" class="customPopup" [class.systemActive]="calendarSvc.showAuthModal" (click)="closeModal($event)">
    <div class="popupBox">
        <div class="title">
            {{ "AUTHPOPUPTITLE" | translate }}
            <a class="close pull-right" (click)="close()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent" *ngIf="calendarSvc.authModel">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label> {{ "USERNAME" | translate }}</label>
                        <input type="text" [(ngModel)]="calendarSvc.authModel.Username" [ngModelOptions]="{ standalone: true }" />
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label> {{ "PASSWORD" | translate }}</label>
                        <input type="password" [(ngModel)]="calendarSvc.authModel.Password" [ngModelOptions]="{ standalone: true }" />
                    </div>
                </div>
            </div>
            <div>
                <a class="btn pull-right" (click)="sendAuthRequest()"> {{ "AUTHWITH" | translate }} {{ calendarSvc.authModel.Provider }}</a>
            </div>
        </div>
    </div>
</div>