.fireworkContainer {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    position: absolute;
    top:50%;
    left:50%;
}

/* .fireworkContainer > div {
    height: 1px;
    width: 1px;
    background-color: red;
    position: relative;
    display: inline-block
}

.fireworkContainer > div:nth-child(5n){
    display: block;
} */