<div class="sidePopup showAction" id="rightPanel" [ngClass]="{visible: display}" style="z-index:0;" (scrollBottom)="newsScroll()">
    <div *ngIf="account != undefined">
        <div class="title">
            <i *ngIf="closeFunc" class="closeButton clickable fa fa-times" (click)="closeFunc()"></i>
            <a [routerLink]="['/CRM/Accounts', account.Id]">        
                {{account.ShownName}}
            </a>
        </div>
        <tabset class="customTab actionsTab">
            <tab>
                <ng-template tabHeading>
                    <i class='fa fa-info'></i>
                </ng-template>

                <div class="tab-contents accountsView">
                    <account-info *ngIf="!showEditAccount" [account]="account" [enableEdit]="true" (editAccount)="showEditAccount=$event"></account-info>
                    <account-edit *ngIf="showEditAccount" (showAccount)="showEditAccount=$event"></account-edit>
                    <div>&nbsp;</div>
                    <address-list [account]="account"></address-list>
                    <daughter-companies-list [account]="account"></daughter-companies-list>
                </div>
            </tab>

            <tab>
                <ng-template tabHeading>
                    <i class="fa fa-list"></i>
                </ng-template>

                <div class="tab-contents" scrollTracker (scrollBottom)="newsScroll()">
                    <addnotes [account]="account.Id"></addnotes>
                    <div>&nbsp;</div>
                    <newsfeeds *ngIf="account" [newsSearch]='{accountId:account.Id}' [showEdit]="canEdit"></newsfeeds>
                </div>
            </tab>

            <tab>
                <ng-template tabHeading>
                    <i class="fa fa-paw"></i>
                </ng-template>
                <div class="tab-contents">
                    <!-- <ActionBlockByAccount (updateFromCheckBox)="updateleftPannel()" [enableDelete]="true" [enableAdd]="true" [accountId]='account.Id'></ActionBlockByAccount> -->
                    <action-group-block [enableDelete]="true" [accountId]="account.Id"></action-group-block>
                    <contactblock [enableDelete]="true" [enableAdd]="true" [account]="account"></contactblock>

                    <deals-by-account [enableDelete]="true" [enableAdd]="true" [search]='{accountId:account.Id}'></deals-by-account>
                    <file-box [account]="account"></file-box>
                </div>
            </tab>

            <tab *ngIf="auth.isEvolumi && customerSuccess" id="AccountAdminTab" class="accountsInfo">
                <ng-template tabHeading>
                    {{'ACCOUNTADMIN' | translate }}
                </ng-template>
                <div class="tab-contents">
                    <admin-account-data [account]="_accountCollection.currentAccount"></admin-account-data>
                </div>
            </tab>

        </tabset>
    </div>
</div>
<router-outlet></router-outlet>