﻿<div id="addpricelist-modal" class="customPopup small" [class.systemActive]="displayModal" (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title">
            {{ "NEWPRICELIST" | translate }}
            <a class="close pull-right" (click)="hideModal()"><i class="fa fa-times"></i></a>
        </div>
        <add-pricelist-component  (OnSave)="saved()"></add-pricelist-component>
    </div>
</div>