﻿<div *ngIf="pricelist" class="row">
    <div id="addPriceListForm" class="col-lg-12">
        <form #f="ngForm" novalidate>
                <div class="row">
                    <div class="form-group col-lg-9">
                        <label class="">{{"NAME" | translate}}</label>
                        <input name="name" [(ngModel)]="pricelist.Name" class="form-control" type="text" required/>
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="currency">{{"CURRENCY" | translate}}</label>
                        <select name="currency" [(ngModel)]="pricelist.Currency" class="form-control" required>
                    <option *ngFor="let cur of selectedCurrencies" [value]="cur">{{cur}}</option>
                </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label class="">{{"DESCRIPTION" | translate}}</label>
                        <input name="desc" [(ngModel)]="pricelist.Description" class="form-control" type="text"/>
                    </div>
                </div>

                <div>
                    <button type="button" [disabled]="f.invalid" class="btn btn-success pull-right" (click)="savePriceList(f)">{{"CREATE" | translate}}</button>
                </div>
           
        </form>
    </div>
    <div class="clearfix"></div>
</div>