#productpicker-modal {
    width: 100%;
    min-height: 100%;
    margin: 0px;
    left: 0px;
    z-index: 60000 !important;
    background: white;
    position: absolute;
    padding:20px;   
}

#productpicker-modal .title {
    border-bottom: none;
    background-color: inherit;
    border-bottom: 1px solid #888; 
    padding-bottom: 0px;
    top:0px;
    left: 0px;
    padding: 0px 20px;
    width:100%;
    position: fixed;
    background: white;
    z-index: 1;
}
#productpicker-modal .title .titleBlock {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.titleBlock .icon {
    vertical-align: middle;
    padding-right: 10px;
}

.titleBlock .btn {
    background:orange;
}


#productpicker-modal  .titleBlock div {
    font-weight: normal;
}

#productpicker-modal  .titleBlock:first-child {
    width:30%;
}
#productpicker-modal .titleBlock:not(:first-child) {
    margin:20px;
}

#productpicker-modal .titleBlock:not(:first-child) div {
    display: table-cell;
}
#productpicker-modal .titleBlock:not(:first-child) > div > div > div {
    display: block;
}
#productpicker-modal .title .titleBlock div {
    font-size: 14px;
}

#productpicker-modal .content {
    margin-top: 60px;
}

#cartContainer {
    display: inline-block;
}
.cartMenu {
    position: absolute;
    background: white;
    padding: 10px;
    box-shadow: 0px 0px 20px #aaa;
    border: 1px solid #aaa;
}

.cartMenu table th, .cartMenu table td {
    padding: 0px 10px;
}

.cartMenu table td {
    font-weight: normal;
    font-size: 15px;
}

.productRow div {
    display: inline-block;    
    font-size: 13px;
    font-weight: 500;
    color: #888;
    vertical-align: middle;
}

.productRow img, .productRow i {
    max-width: 40px;
    vertical-align: bottom;
}

.productRow {
    border-bottom: 1px solid #ddd;
    padding: 5px;   
    position: relative;
    text-align: left;
}

.productRow:first-of-type {
    border-top: 1px solid #ddd;
}

#productlist {
    margin-top:50px;
}

#productForm {
    margin-top: 30px;
}

.siteColumn {
    height: 100%;
    overflow:auto;
    padding: 30px 30px 0px 30px;

}

.catalogueList {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding-top:30px;
}

.catalogueObject {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex:1;
    min-width: 250px;
    max-width: 250px;
    text-align:center;
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.catalogueObject:hover {
    border : 1px solid #ddd;
}

.catalogueViewDescription {
    margin-top: 10px;
}

.catalogueDetails{
    
}

.siteColumn:first-child {
    border-right: 1px solid #888;
}

.catalogueName {
    font-size:16px;
}

.catalogueDescription {
    font-size:15px;
}

.catalogueThumbnail{
    max-height:100px;
}

.label {
    padding: none;
}

.articleNumber {
    font-size: 14px;
    color: #bbb;
}

.noBottomMargin {
    margin-bottom: 0px;
}

.noMoreProducts {
    color: #aaa;
    font-size: 12px;
    text-align: center;
    padding-top: 15px;
}

.prodArrow {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}