<div id="productpicker-modal" class="" [hidden]="!showModal">
    <div class="">
        <div class="title">
            <div class="titleBlock">
                <div>
                    <h4>
                        {{org?.OrganisationName}}
                    </h4>
                </div>
                <div>
                    {{"PRODUCTPICKERTITLETEXT" | translate:{"Account": account?.ShownName || 0, "Dealname": productSvc.productPickerDeal?.Name
                    || "Deal"} }}
                </div>
            </div>
            <div class="titleBlock clickable">
                <div (click)="browseCatalogues()">
                    <div class="icon">
                        <i class="fa fa-book fa-2x"></i>
                    </div>
                    <div>
                        <div>
                            {{"BROWSE" | translate }}
                        </div>
                        <div>
                            {{"CATALOGUES" | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="titleBlock clickable">
                <div id="cartButton">
                    <div class="icon">
                        <i class="fa fa-shopping-cart fa-2x"></i>
                    </div>
                    <div>
                        <div>
                            {{cart.length}} {{"ITEMS" | translate}}
                        </div>
                        <div>
                            {{cartSum | bigNumber}} {{account?.PriceList.Currency}}
                        </div>
                    </div>
                </div>
            </div>
            <div id="cartContainer">
                <div class="cartMenu" *ngIf="viewCart">
                    <table>
                        <th>{{"NAME" | translate}}</th>
                        <th>{{"UNITS" | translate}}</th>
                        <th>{{"TOTALPRICE" | translate}}</th>
                        <th></th>
                        <tr *ngFor="let cartItem of cart; let i = index">
                            <td>{{cartItem.Name}}</td>
                            <td>{{cartItem.Units | bigNumber}}</td>
                            <td>{{cartItem.Sum | bigNumber}}</td>
                            <td><i (click)="removeFromCart(i)" class="fa fa-trash-o"></i></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="titleBlock clickable">
                <div (click)="addCartToDeal()">
                    <div class="btn">{{"CHECKOUT" | translate }}</div>
                </div>
            </div>
            <div class="titleBlock pull-right">
                <a class="close" (click)="closePicker()"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="content">

            <div class="row" *ngIf="displayCatalogue">
                <div id="catalogueDetails" scrollTracker (scrollBottom)="getProductsForCatalogue()" class="col-sm-6 siteColumn">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="{{ displayCatalogue.Image || '/assets/images/book.png'}}" />
                        </div>
                        <div class="col-sm-9">
                            <h3>{{displayCatalogue.Name}}</h3>
                            <div class="catalogueViewDescription">{{displayCatalogue.Description}}</div>
                        </div>
                    </div>
                    <div id="productlist">
                        <label>{{"PRODUCTS" | translate }}</label>
                        <input class="form-control" [ngModel]="searchFilters.Name" (ngModelChange)="searchForProducts($event)" />
                        <!--<button (click)="getProductsForCatalogue()"> Klicka för mer</button>-->
                        <div class="productRow clickable" (click)="setDisplayProduct(product)" *ngFor="let product of displayCatalogue.Products">
                            <div>
                                <img src="{{ product.Image || 'assets/images/barcode.png'}}" />
                            </div>
                            <div>
                                {{product.Name}}
                            </div>
                            <div *ngIf="displayProduct && product.Id == displayProduct.Id" class="pull-right prodArrow">
                                <i class="fa fa-angle-right fa-2x"></i>
                            </div>
                        </div>
                        <div class="noMoreProducts" *ngIf="noMoreProducts">
                            No more products with specified filters
                        </div>
                    </div>
                </div>

                <div id="productDetails" class="col-sm-6 siteColumn">
                    <div *ngIf="displayProduct">
                        <div class="row">
                            <div class="col-sm-5">
                                <img src="{{ displayProduct.Image || '/assets/images/barcode.png' }}" />
                            </div>
                            <div class="col-sm-7">
                                <div>
                                    <h4 class="noBottomMargin">{{displayProduct.Name}}</h4>
                                    <div class="articleNumber">{{displayProduct.ArticleNumber}}</div>
                                    <div class="catalogueViewDescription">{{displayProduct.Description}}</div>
                                </div>
                            </div>
                        </div>
                        <div id="productForm">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>{{"UNITS" | translate}} ({{displayProduct.Unit}})</label>
                                </div>
                                <div class="col-sm-4" *ngIf="!displayProduct.PriceIsManual">
                                    <label>{{"PRICE" | translate}}</label>
                                </div>
                                <div class="col-sm-4" *ngIf="displayProduct.PriceIsManual">
                                    <label>{{"PRICEPERUNIT" | translate}}</label>
                                </div>
                                <div class="col-sm-4" *ngIf="displayProduct.PriceIsManual">
                                    <label>{{ "TOTALPRICE" | translate }}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <input id="productPickerUnitsInput" autofocus="autofocus" (ngModelChange)="displayProductUnitsChange($event)" type="text"
                                        (keydown.enter)="addToCart()" [ngModel]="displayProduct.Units" class="form-control" />
                                </div>
                                <div class="col-sm-4" *ngIf="!displayProduct.PriceIsManual">
                                    {{currentProductSum | bigNumber}} {{account?.PriceList.Currency}}
                                </div>
                                <div class="col-sm-4" *ngIf="displayProduct.PriceIsManual">
                                    <input id="productPickerManualPrice" class="form-control" (keydown.enter)="addToCart()" [(ngModel)]="displayProduct.Price"
                                        type="number" no-scroll />
                                </div>
                                <div class="col-sm-4" *ngIf="displayProduct.PriceIsManual">
                                    {{ (displayProduct.Price * displayProduct.Units) | bigNumber }} {{account?.PriceList.Currency}}
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn" (click)="addToCart()">{{"ADDTOCART" | translate}}</button>
                                </div>
                            </div>
                            <div *ngIf="!displayProduct.PriceIsManual">
                                <label>{{"PRICELIST" | translate }}</label>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h4>
                                            {{"UNITS" | translate }}
                                        </h4>
                                    </div>
                                    <div class="col-sm-4">
                                        <h4 *ngIf="displayProduct.PricesAsTotal">
                                            {{"TOTALPRICE" | translate }}
                                        </h4>
                                        <h4 *ngIf="!displayProduct.PricesAsTotal">
                                            {{"PRICEPERUNIT" | translate }}
                                        </h4>
                                    </div>
                                </div>
                                <div class="row" *ngFor="let price of displayProductPrices">
                                    <div class="col-sm-4">
                                        {{price.Range | beautifyRange:[displayProductPrices, displayProduct.PricesAsTotal]}}
                                    </div>
                                    <div class="col-sm-4">
                                        {{price.Price}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="!displayProduct">
                        {{"SELECTPRODUCTFROMLIST" | translate}}
                    </div>
                </div>
            </div>

            <div class="catalogueList" *ngIf="!displayCatalogue">
                <div *ngFor="let catalogue of catalogues" class="catalogueObject clickable" (click)="setDisplayCatalogue(catalogue)">
                    <div class="catalogueImage">
                        <img class="catalogueThumbnail" src="{{ catalogue.Image || '/assets/images/book.png'}}" />
                    </div>
                    <div class="catalogueDetails">
                        <div class="catalogueName">{{catalogue.Name}}</div>
                        <div class="catalogueProductCount">{{catalogue.ProductsCount}} {{"PRODUCTS" | translate}}</div>
                        <div class="catalogueDescription">{{catalogue.Description}}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>