<div class="row blockContent">
    <div class="title">
        <h4>{{  'DAUGTHERACCOUNTS' | translate }}</h4>
    </div>
    <div class="clearfix"></div>
    <div *ngIf="account && account.RelatedAccounts">
        <div class="contentRow col-sm-12" *ngFor="let acc of account.RelatedAccounts">
            <div class="col-sm-1">
                <div class="actionIcon"><img [profilepicture]="acc.AccountManagerId" [tooltip]="acc.AccountManagerName"></div>
            </div>
            <div class="col-sm-11">
                <div class="accountLabel" [style.background]="acc.AccountTypeCollor"></div>
                <a [routerLink]="['/CRM/Accounts', acc.Id]">
                    <span>{{acc.ShownName}}</span><br>
                </a>
            </div>
        </div>
        <p *ngIf="account.RelatedAccounts.length<=0">{{  'NODAUGHTERCOMPANIES' | translate }}</p>
    </div>
</div>