<!-- Top content -->
<div class="top-content loginPage">
    <div class="inner-bg ">
        <div class="container">
            <div class="col-lg-6 col-sm-6 col-lg-offset-3 col-sm-offset-3 form-box jumbotron">
                <div class="logo">
                    <img src="assets/images/evolumi_logo.png" alt="Evolumi" />
                </div>
                <div [hidden]="!error" class="wrongCredentials">
                    <p>{{ error }}</p>
                </div>

                <div class="form-bottom">
                    <form>
                        <div class="form-group">

                            <input type="email" class="form-control" required [(ngModel)]="Email" [ngModelOptions]="{standalone: true}">
                            <label for="username">{{ 'EMAIL' | translate }}</label>
                        </div>
                        <button type="submit" (click)="onSubmit()" class="btn pull-right">{{ 'RESETPWD' | translate }}</button>

                    </form>

                </div>
                <div class="loginLinks">

                    <a [routerLink]="['/Login']" class="signInbtn">{{ 'LOGIN' | translate }}</a>
                    | <a [routerLink]="['/Signup']">{{ 'SIGNUP' | translate }}</a>
                </div>
            </div>
        </div>
    </div>

</div>

