<div class="customPopup big" [class.systemActive]="displayAddWorkGroup">
    <div class="popupBox">
        <div class="title">
            {{ 'ADDNEWPUBLICWORKGROUP' | translate }}
            <a class="close pull-right" (click)="hideAddWorkGroup()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <form #workGroupForm="ngForm">
                <div class="col-md-12">
                    <div class="form-group">
                        <input id="WorkGroupName" type="text" [(ngModel)]="conversationName" ngControl="workGroupName" class="form-control workGroupName" placeholder="{{ 'NAME' | translate }}" #workGroupName="ngModel" name="workGroupName" required>
                        <div [hidden]="!workGroupName.valid && workGroupName.untouched ">{{ 'REQ' | translate }}</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="text-warning">
                            {{ 'NOTE' | translate }} : {{ 'ACCOUNTNOTE' | translate }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>{{ 'THISUSERSGETNOTIFICATIONS' | translate }}</label>
                        <chosen id="WorkGroupUsers" [width]="'100%'" [multiple]="true" [options]="availableUsers" [(ngModel)]="userIds" [ngModelOptions]="{standalone: true}"></chosen>
                    </div>
                </div>
                <div class="col-md-12">
                    <!--Can add Contacts-->
                    <div class="form-group" evo-require [features]="['GuestUsers']" (onFail)="upgrade=true">
                        <label>{{ 'INVITETHISCONTACTSASGUEST' | translate }}</label>
                        <chosen  id="WorkGroupGuests" [width]="'100%'" [multiple]="true" [options]="availableGuestsUsers" [(ngModel)]="guestUserIds" [ngModelOptions]="{standalone: true}"></chosen>
                        <span class="text-warning">{{'NOTE' | translate}} : {{ 'ADDCONTACTNOTE' | translate }}</span>
                    </div>
                    <!--Can not add Contacts-->
                    <div *ngIf="upgrade">
                        <a [featureLink]="'GuestUsers'">
                            <span class="link">{{'NUDGEINVITEGUESTS' | translate}}</span>
                        </a>
                     </div>
                </div>
                <div class="col-md-12">
                    <div class="buttonRow">
                        <input type="button" id="WorkGroupCancleButton" class="btn gray" value="{{ 'CANCELBTN' | translate }}" (click)="hideAddWorkGroup()" />
                        <input type="button" id="WorkGroupCreateButton" [disabled]="!workGroupForm.valid" class="btn pull-right" (click)="addPublicWorkGroup()" value="{{ 'CREATEBTN' | translate }}" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>