<div class="customPopup" [class.systemActive]="displayAddUser">
    <div class="popupBox">
        <div class="title">
            {{ 'USERADD' | translate }}
            <a class="close pull-right" (click)="hideAddUsers()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <form>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>{{ 'USERS' | translate }}</label>
                        <chosen [width]="'100%'" [multiple]="true" [options]="availableUsers" [(ngModel)]="userIds" [ngModelOptions]="{standalone: true}"></chosen>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="isPublicWorkGroup()">
                    <div class="form-group">
                        <label>{{ 'INVITETHISCONTACTSASGUEST' | translate }}</label>
                        <chosen [width]="'100%'" [multiple]="true" [options]="availableGuestsUsers" [(ngModel)]="guestUserIds" [ngModelOptions]="{standalone: true}"></chosen>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="buttonRow">
                        <input type="button" class="btn gray" value="{{ 'CANCELBTN' | translate }}" (click)="hideAddUsers()" />
                        <input type="button" [disabled]="disabledAddUsersSubmit()" class="btn pull-right" (click)="addUsersToConversation()" value="{{ 'SAVEBTN' | translate }}" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>