<div class="customPopup" [class.systemActive]="showSettings">
    <div class="popupBox">
        <div class="title">
            {{ 'SETTINGS' | translate }}
            <a class="close pull-right" (click)="hide()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="col-md-12">
                <input class="btn custom gray" *ngIf="conversation && conversation.type != 'Channel'" (click)="leave()" value="{{ 'LEAVE' | translate }}">
                <input class="btn custom red pull-right" [disabled]="!conversation?.creator" (click)="delete()" value="{{ 'DELETE' | translate }}">
            </div>
        </div>
    </div>
</div>