<form enctype="multipart/form-data" [formGroup]="addSponsorForm">
    <h3>Add new sponsor spot</h3>
    <div class="row">
        <div class="col-xs-12">
            <input type="text" class="form-control" placeholder="Company Name" required [(ngModel)]="sponsor.Title" controlGroupName="Title" name="Title">
            <input type="url" class="form-control" placeholder="URL" required [(ngModel)]="sponsor.Link" controlGroupName="Link" name="Link">
            <textarea class="form-control" placeholder="Note" required [(ngModel)]="sponsor.Description" controlGroupName="Description" name="Description"></textarea>
        </div>
        <div class="col-xs-12">
            <label class="uploadAd">
                Upload sponsor spot
                <input id="file" name="image" type="file" />
                <img id="adimage" *ngIf="fileSelected" src="{{fileSelected}}}}" alt="" />
            </label>
            <div class="row">
                <div class="col-xs-6">
                    <select class="form-control" required [(ngModel)]="sponsor.NumberOfDays" name="NumberOfDays" controlGroupName="NumberOfDays">
                        <option *ngFor="let day of days" [value]="day">{{day}} days</option>
                    </select>
                </div>
                <div class="col-xs-6">
                    <button type="submit" class="btn creatAd" [disabled]="!addSponsorForm.valid" (click)="submit()" name="create_ad" id="create_ad">Create</button>
                </div>
            </div>
        </div>
    </div>
</form>