<div class="addLists" *ngFor="let adInfo of sponsorsArray ; let i = index">                          
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-4">
      <h4>{{adInfo.Title}}</h4>
      <a class="link">{{adInfo.Link}}</a>
      <p>
        {{adInfo.Description}}
      </p>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-3 links">
      <div class="uploadAd">
       
        <img src="{{adInfo.AdImage}}">
      </div>
      <div class="row ">
        <div class="col-xs-4">
          <b>{{adInfo.PrevDays}}</b>
          <p>prev</p>
        </div>
        <div class="col-xs-4">
          <b>{{adInfo.PlanedDays}}</b>
          <p>planned</p>
        </div>
        <div class="col-xs-4">
          <b>{{adInfo.LeftDays}}</b>
          <p>left</p>
        </div>
      </div>
      <!--main page start-->
      <div class="row" *ngIf="mainpage">
        <div class="col-xs-4">
          <a class="link" href="javascript:;" (click)="enablePop(i,'days')">Add days</a>
        </div>
        <div class="col-xs-4">
          <a class="link" href="javascript:;" (click)="enablePop(i,'schedule')">Schedule</a>
        </div>
        <div class="col-xs-4">
          <a class="link" href="javascript:;" (click)="deleteAd(adInfo.Id)">Delete</a>
        </div>
        <div class="dropDownPopup" [ngClass]="{systemActive: adInfo.showDays}">
          <select class="form-control" required [(ngModel)]="sponsorItem.NumberOfDays">
            <option *ngFor="let day of days" [value]="day">{{day}} days</option>
          </select>
          <button class="btn gray" (click)="disablePop(i,'days')">Cancel</button>
          <button class="btn pull-right" (click)="addDays(i)">Add</button>
        </div>
      </div>
      <!--main page end-->
    </div>
      <!--when in popup page start-->
     <div class="col-sm-4 col-md-4 col-lg-3 choosebtn" *ngIf="!mainpage">
      <button class="btn">Choose</button>
    </div>
     <!--when in popup page end-->
     <!--main page start-->
    <div class="schedulePopupOuter" [ngClass]="{systemActive: adInfo.showSchedule}" *ngIf="mainpage">
      <div class="schedulePopup">
    <div class="addLists" *ngFor="let dateStr of agendaDateList">
  <div class="row" *ngIf="dateStr.objIndex>-1">
    <div class="col-sm-4 col-md-4 col-lg-2 schedulesLeft">
        <p>
          <b>{{stringAsDate(dateStr.date) | dateonly}}</b>
        </p>
        <button class="btn overridebtn" (click) = "deleteAgenda(activeArray[dateStr.objIndex].Id)" >Delete</button>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-4" *ngIf="activeArray.length > 0">
      <h4>{{activeArray[dateStr.objIndex].Title}}</h4>
      <a class="link">{{activeArray[dateStr.objIndex].Link}}</a>
      <p>
        {{activeArray[dateStr.objIndex].Description}}
      </p>
    </div>
  </div>
  <div class="row"  *ngIf="dateStr.objIndex==-1">
    <div class="col-sm-4 col-md-4 col-lg-2 schedulesLeft">
        <p>
          <b>{{stringAsDate(dateStr.date) | dateonly}}</b>
        </p>
        
    </div>
    <div class="col-sm-8 col-md-8 col-lg-4">
      
      <p>
        No Scheduled sponsor
      </p>
      <button class="btn" (click)="addSchedule(adInfo.Id,dateStr.date)">Choose this day</button>
    </div>
  </div> 
</div>
        <a class="close" (click)="disablePop(i,'schedule')"><i class="fa fa-times"></i></a>
       
      </div>
    </div>
    <!--main page end-->
  </div>
</div> 