
    <div class="addLists" *ngFor="let agendaInfo of agendaDateList ; let i = index">
      <div class="row" *ngIf="agendaInfo.objIndex>-1">
        <div class="col-sm-4 col-md-4 col-lg-2 schedulesLeft2222">
            <p>
              <b>{{stringAsDate(agendaInfo.date) | dateonly}}</b>
            </p>
            <button class="btn overridebtn" *ngIf="!adInfo" (click)="enablePop(i,'editAgenda')">Override</button>
            <button class="btn" *ngIf="!adInfo" (click)="deleteAgenda(activeArray[agendaInfo.objIndex].Id)">Delete</button>
            <!--<button class="btn overridebtn" *ngIf="adInfo" (click) = "reSchedule(activeArray[agendaInfo.objIndex].Id,adInfo.Id,agendaInfo.date)" >Override</button>-->
        </div>
        <div class="col-sm-8 col-md-8 col-lg-4" *ngIf="activeArray.length > 0">
          <h4>{{activeArray[agendaInfo.objIndex].Title}}</h4>
          <a class="link">{{activeArray[agendaInfo.objIndex].Link}}</a>
          <p>
            {{activeArray[agendaInfo.objIndex].Description}}
          </p>
        </div>
      </div>
      <div class="row"  *ngIf="agendaInfo.objIndex==-1">
        <div class="col-sm-4 col-md-4 col-lg-2111 schedulesLeft">
            <p>
              <b>{{stringAsDate(agendaInfo.date) | dateonly}}</b>
            </p>
            
        </div>
        <div class="col-sm-8 col-md-8 col-lg-4">
          
          <p>
            No Scheduled sponsor
          </p>
          <button class="btn" *ngIf="mainpage" (click) = "enablePop(i,'editAgenda')" >Choose Ad</button>
          <button class="btn" *ngIf="!mainpage" (click) = "addSchedule(adInfo.Id, agendaInfo.date)">Choose this day</button>
        </div>
      </div> 
      <div class="schedulePopupOuter"  [ngClass]="{systemActive: agendaDateList[i].showEditAgenda}">

          <div class="schedulePopup">
            <a class="close" (click)="disablePop(i,'editAgenda')"><i class="fa fa-times"></i></a>
              


                <div class="addLists" *ngFor="let adInfo of sponsorsArray ; let i = index">                          
              <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-4">
                  <h4>{{adInfo.Title}}</h4>
                  <a class="link">{{adInfo.Link}}</a>
                  <p>
                    {{adInfo.Description}}
                  </p>
                </div>

                <div class="col-sm-4 col-md-4 col-lg-3 links">
                  <div class="uploadAd">
                   <img src="{{adInfo.AdImage}}">
                  </div>
                  <div class="row ">
                    <div class="col-xs-4">
                      <b>{{adInfo.PrevDays}}</b>
                      <p>prev</p>
                    </div>
                    <div class="col-xs-4">
                      <b>{{adInfo.PlanedDays}}</b>
                      <p>planned</p>
                    </div>
                    <div class="col-xs-4">
                      <b>{{adInfo.LeftDays}}</b>
                      <p>left</p>
                    </div>
                  </div>
                </div>
                 <div class="col-sm-4 col-md-4 col-lg-3 choosebtn">
                  <button class="btn" *ngIf="agendaInfo.objId" (click)="reSchedule(activeArray[agendaInfo.objIndex].SponsorId,adInfo.Id,agendaInfo.date)">Choose</button>
                  <button class="btn" *ngIf="!agendaInfo.objId" (click)="addSchedule(adInfo.Id,agendaInfo.date)" >Choose</button>
                </div>   
              </div>
            </div> 





          </div>
        </div>
    </div>
