<div class="contentPanel leftFree adminPanel sponsors">
    <div class="contentWrapper">
        <div class="projectBox">
            <tabset class="customTab">
                <tab heading="Sponsor Spots">
                    <div class="tab-content">
                        <div class="row">
                            <div class="col-md-3 addNewAd">
                                <form enctype="multipart/form-data" #sponsor_form="ngForm" (ngSubmit)="sponsor_form.valid && onSubmit()" [formGroup]="addSponsorForm">
                                    <h3>Add new sponsor spot</h3>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input type="text" class="form-control" placeholder="Company Name" required [(ngModel)]="sponsor.Title" controlGroupName="Title" name="Title">
                                            <input type="url" class="form-control" placeholder="URL" required [(ngModel)]="sponsor.Link" controlGroupName="Link" name="Link">
                                            <textarea class="form-control" placeholder="Note" required [(ngModel)]="sponsor.Description" controlGroupName="Description" name="Description"></textarea>
                                        </div>
                                        <div class="col-xs-12">
                                            <label class="uploadAd">                                            
                                                Upload sponsor spot
                                                <input id="file" name="image"  type="file" />
                                                  <img id="adimage" *ngIf="fileSelected" src="{{fileSelected}}}}" alt="" />
                                            </label>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <select class="form-control" required [(ngModel)]="sponsor.NumberOfDays" name="NumberOfDays" controlGroupName="NumberOfDays">
                                                        <option *ngFor="let day of days" [value]="day">{{day}} days</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-6">
                                                    <button type="submit" class="btn creatAd" name="create_ad" id="create_ad">Create</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-9 listAllAds">
                                <h3>Existings ads</h3>
                                <ad-list [mainpage]="true"></ad-list>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Agenda">
                    <div class="tab-content">
                        <agenda [mainpage]="true"></agenda>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>
