<div class="contentPanel leftFree adminPanel">
	<div class="contentWrapper">
  		<div class="projectBox">
  			<tabset class="customTab">
  		  <tab heading="Sponsor Spots">
            <div class="tab-content">
             <div class="row">
                <div class="col-md-3 addNewAd">
                    <h3>Add new sponsor spot</h3>
                   <div class="row">
                    
                    <div class="col-xs-12">
                      <input type="text" class="form-control" placeholder="Company Name">
                      <input type="text" class="form-control" placeholder="URL">
                      <textarea class="form-control" placeholder="Note"></textarea>
                    </div>
                    <div class="col-xs-12">
                      <label class="uploadAd">
                        Upload sponsor spot
                        <input type="file">
                      </label>
                      <div class="row">
                        <div class="col-xs-6">
                          <select class="form-control">
                            <option>5 days</option>
                            <option>6 days</option>
                          </select>
                        </div>
                        <div class="col-xs-6">
                          <button class="btn creatAd">Create</button>
                        </div>
                      </div>    
                      
                    </div>
                  </div>
                
              </div>

                <div class="col-md-9 listAllAds">
                  <h3>Existing ads</h3>
                  <div class="addLists">
                    <div class="row">
                      <div class="col-sm-8 col-md-8 col-lg-4">
                        <h4>SEB</h4>
                        <a class="link">www.google.com</a>
                        <p>
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                      </div>

                      <div class="col-sm-4 col-md-4 col-lg-3 links">
                        <div class="uploadAd">
                          IMG PLACEHOLDER
                        </div>
                        <div class="row ">
                          <div class="col-xs-4">
                            <b>5</b>
                            <p>prev</p>
                          </div>
                          <div class="col-xs-4">
                            <b>2</b>
                            <p>planned</p>
                          </div>
                          <div class="col-xs-4">
                            <b>1</b>
                            <p>left</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-xs-4">
                            <a class="link">Add days</a>
                          </div>
                          <div class="col-xs-4">
                            <a class="link">Schedule</a>
                          </div>
                          <div class="col-xs-4">
                            <a class="link">Delete</a>
                          </div>
                          <div class="dropDownPopup">
                             <select class="form-control">
                              <option>5 days</option>
                              <option>6 days</option>
                            </select>
                            <button class="btn gray">Cancel</button>
                            <button class="btn pull-right">Add</button>
                          </div>
                        </div>
                      </div>

                      <div class="schedulePopupOuter">
                        <div class="schedulePopup">
                          <a class="close"><i class="fa fa-times"></i></a>
                          <div class="addLists">
                            <div class="row">
                              <div class="col-sm-4 col-md-4 col-lg-2 schedulesLeft">
                                  <p>
                                    <b>14 Oct 2016</b>
                                  </p>
                                  <button class="btn">Override</button>
                              </div>

                              <div class="col-sm-8 col-md-8 col-lg-4">
                                <h4>SEB</h4>
                                <a class="link">www.google.com</a>
                                <p>
                                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                </p>
                              </div>
                            </div>
                          </div>

                          <div class="addLists">
                            <div class="row">
                              <div class="col-sm-4 col-md-4 col-lg-2 schedulesLeft">
                                  <p>
                                    <b>14 Oct 2016</b>
                                  </p>
                                  <button class="btn">Override</button>
                              </div>

                              <div class="col-sm-8 col-md-8 col-lg-4">
                                <h4>SEB</h4>
                                <a class="link">www.google.com</a>
                                <p>
                                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                </p>
                              </div>
                            </div>
                          </div>

                          <div class="addLists">
                            <div class="row">
                              <div class="col-sm-4 col-md-4 col-lg-2 schedulesLeft">
                                  <p>
                                    <b>14 Oct 2016</b>
                                  </p>
                                  
                              </div>

                              <div class="col-sm-8 col-md-8 col-lg-4">
                                
                                <p>
                                  No Scheduled sponsor
                                </p>
                                <button class="btn">Choose this day</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="addLists">
                    <div class="row">
                      <div class="col-sm-8 col-md-8 col-lg-4">
                        <h4>SEB</h4>
                        <a class="link">www.google.com</a>
                        <p>
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                      </div>

                      <div class="col-sm-4 col-md-4 col-lg-3 links">
                        <div class="uploadAd">
                          IMG PLACEHOLDER
                        </div>
                        <div class="row ">
                          <div class="col-xs-4">
                            <b>5</b>
                            <p>prev</p>
                          </div>
                          <div class="col-xs-4">
                            <b>2</b>
                            <p>planned</p>
                          </div>
                          <div class="col-xs-4">
                            <b>1</b>
                            <p>left</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-xs-4">
                            <a class="link">Add days</a>
                          </div>
                          <div class="col-xs-4">
                            <a class="link">Schedule</a>
                          </div>
                          <div class="col-xs-4">
                            <a class="link">Delete</a>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="addLists">
                    <div class="row">
                      <div class="col-sm-8 col-md-8 col-lg-4">
                        <h4>SEB</h4>
                        <a class="link">www.google.com</a>
                        <p>
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                      </div>

                      <div class="col-sm-4 col-md-4 col-lg-3 links">
                        <div class="uploadAd">
                          IMG PLACEHOLDER
                        </div>
                        <div class="row ">
                          <div class="col-xs-4">
                            <b>5</b>
                            <p>prev</p>
                          </div>
                          <div class="col-xs-4">
                            <b>2</b>
                            <p>planned</p>
                          </div>
                          <div class="col-xs-4">
                            <b>1</b>
                            <p>left</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-xs-4">
                            <a class="link">Add days</a>
                          </div>
                          <div class="col-xs-4">
                            <a class="link">Schedule</a>
                          </div>
                          <div class="col-xs-4">
                            <a class="link">Delete</a>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="addLists">
                    <div class="row">
                      <div class="col-sm-8 col-md-8 col-lg-4">
                        <h4>SEB</h4>
                        <a class="link">www.google.com</a>
                        <p>
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                      </div>

                      <div class="col-sm-4 col-md-4 col-lg-3 links">
                        <div class="uploadAd">
                          IMG PLACEHOLDER
                        </div>
                        <div class="row ">
                          <div class="col-xs-4">
                            <b>5</b>
                            <p>prev</p>
                          </div>
                          <div class="col-xs-4">
                            <b>2</b>
                            <p>planned</p>
                          </div>
                          <div class="col-xs-4">
                            <b>1</b>
                            <p>left</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-xs-4">
                            <a class="link">Add days</a>
                          </div>
                          <div class="col-xs-4">
                            <a class="link">Schedule</a>
                          </div>
                          <div class="col-xs-4">
                            <a class="link">Delete</a>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  
                </div>
              
             </div>
              

            </div>
        </tab>
        <tab heading="Agenda">
          <div class="tab-content">
            <div class="addLists">
                    <label>
                      <input type="radio"/>
                      Coming
                    </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label>
                      <input type="radio"/>
                      Past
                    </label>

                    <div class="row">
                      <div class="col-sm-4 col-md-4 col-lg-2 schedulesLeft">
                          <p>
                            <b>14 Oct 2016</b>
                          </p>
                          <button class="btn">Edit</button>
                      </div>

                      <div class="col-sm-8 col-md-8 col-lg-4">
                        <h4>SEB</h4>
                        <a class="link">www.google.com</a>
                        <p>
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                      </div>
                    </div>
            </div>

            <div class="addLists">
                    <div class="row">
                      <div class="col-sm-4 col-md-4 col-lg-2 schedulesLeft">
                          <p>
                            <b>14 Oct 2016</b>
                          </p>
                          <button class="btn">Edit</button>
                      </div>

                      <div class="col-sm-8 col-md-8 col-lg-4">
                        <h4>SEB</h4>
                        <a class="link">www.google.com</a>
                        <p>
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                      </div>
                    </div>
            </div>

            <div class="addLists">
                    <div class="row">
                      <div class="col-sm-4 col-md-4 col-lg-2 schedulesLeft">
                          <p>
                            <b>14 Oct 2016</b>
                          </p>
                          <button class="btn">Edit</button>
                      </div>

                      <div class="col-sm-8 col-md-8 col-lg-4">
                        <h4>SEB</h4>
                        <a class="link">www.google.com</a>
                        <p>
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                      </div>
                    </div>
            </div>

            <div class="addLists">
                    <div class="row">
                      <div class="col-sm-4 col-md-4 col-lg-2 schedulesLeft">
                          <p>
                            <b>14 Oct 2016</b>
                          </p>
                          <button class="btn">Edit</button>
                      </div>

                      <div class="col-sm-8 col-md-8 col-lg-4">
                        <h4>SEB</h4>
                        <a class="link">www.google.com</a>
                        <p>
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                      </div>
                    </div>
            </div>

            <div class="addLists">
              <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-2 schedulesLeft">
                    <p>
                      <b>14 Oct 2016</b>
                    </p>
                    
                </div>

                <div class="col-sm-8 col-md-8 col-lg-4">
                  
                  <p>
                    No Scheduled sponsor
                  </p>
                  <button class="btn">Choose this day</button>
                </div>
              </div>
            </div>

            
          </div>
        </tab>
    </tabset>
  		</div>
  	</div>
</div>