<div class="dotmenuContainer">
    <i class="fa fa-ellipsis-v fa-fw clickable dotmenuBtn" (click)="toggleMenu()"></i>
    <div class="menu" [class.open]="menuOpen">
        <div *ngFor="let option of options" class="clickable" (click)="option.Function()">
            <i *ngIf="option.Icon" class="fa fa-fw fa-{{option.Icon}}"></i> {{ option.Label }}
        </div>
    </div>
</div>