.dotmenuContainer {
    position: relative;
}

.menu {
    position: absolute;
}

.menu:not(.open) {
    display: none;
}

.menu.open {
    background-color: white;
    border: 1px solid black;
    border-radius: 0px 5px 5px 5px;
    transform: translateX(15px) translateY(-3px);
    box-shadow: 1px 1px 10px #aaa;
}

.menu.open div:not(:last-child){
    border-bottom: 1px solid black;
}

.menu.open div {
    padding: 0px 10px;
    white-space: nowrap;
}

.menu.open div:hover {
    background-color: #eee;
}

.dotmenuBtn {
    color: #aaa;
}