<div *ngIf="summary" style="font-size: 14px!important">
    <div class="row">

        <div class="col-md-12 evo-section">

            <div class="row">
                <div class="col-md-6">
                    <div class="contentRow">
                        <label>Date Created</label>
                        <p>{{summary.Created | dateonly}}</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="contentRow">
                        <label>Last Login</label>
                        <p>{{summary.LastLogin | dateonly}}</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="contentRow">
                        <label>Active days (30days)</label>
                        <p>{{summary.LoginsLast30Days}}</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-12" *ngIf="summary.Questions && summary.Questions.length">
            <div class="user-answers">
                <div *ngFor="let question of summary.Questions" class="row">
                    <div class="col-md-5">{{ question.QuestionTag | translate }} </div>
                    <div class="col-md-7"><span *ngFor="let answer of question.Answer">{{ answer | translate }}</span></div>
                </div>
            </div>
        </div>

        <div class="col-md-12 evo-section">
            <div class="title"><b>Users</b> ({{summary.Users.length}})</div>

            <div class="user-row" *ngFor="let user of summary.Users" (click)="clickUser(user.Id)">
                <div class="row">
                    <p class="col-md-5">{{user.FullName}}</p>
                    <a (click)="modal.showMailModal(user.Email, account, null, null);" class="link"><i class="fa fa-envelope"></i>&nbsp;{{user.Email}}</a>
                    <div class="col-md-12" *ngIf="selectedUser == user.Id && user.Questions && user.Questions.length">
                        <div class="user-answers">
                            <div *ngFor="let question of user.Questions" class="row">
                                <div class="col-md-5">{{ question.QuestionTag | translate }} </div>
                                <div class="col-md-7"><span *ngFor="let answer of question.Answer">{{ answer | translate }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-12 evo-section" *ngIf="summary.Invites.length">
            <div class="title"><b>Invited Users</b> ({{summary.Invites.length}})</div>

            <div class="user-row">
                <div class="row" *ngFor="let invite of summary.Invites">
                    <p class="col-md-5">{{invite.FirstName + ' ' + invite.LastName}}</p>
                    <p class="col-md-7">{{invite.Email}}</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 evo-section" *ngIf="summary.Packages.length">
            <div class="title"><b>Packages</b></div>
            <div class="user-row">
                <div class="row" *ngFor="let pack of summary.Packages">
                    <div class="col-md-2">{{pack.Package.NameLabel | translate}}</div>
                    <div class="col-md-3">
                        <font>Licences: {{pack.Licences}}</font>
                    </div>
                    <div class="col-md-7">
                        <font>Paid Untill: {{pack?.PaidUntil | dateonly}}</font>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-12 evo-section">
            <div class="title">
                <b>Activity</b> (Max 200)
            </div>

            <div style="background-color:#f4f4f4;padding-left:5px;">
                <div style="display:inline-block;width:200px;vertical-align:top">
                    User
                    <select class="form-control" [(ngModel)]="userId" (ngModelChange)="getActivity()">
                        <option [value]="">Alla</option>
                        <option *ngFor="let user of summary.Users" [value]="user.Id">{{user.FullName}}</option>
                    </select>
                </div>
                <div style="display:inline-block;width:300px;vertical-align:top">
                    Timespan
                    <evo-datepicker [range]="true" [(rangeStartDate)]="startDate" [(rangeEndDate)]="endDate" (valueChange)="getActivity()"></evo-datepicker>
                </div>
            </div>

            <table class="table table-compact" style="font-size: 12px!important;font-weight: 500">
                <tr>
                    <td>Date</td>
                    <td>User</td>
                    <td>Type</td>
                    <td>Document Type</td>
                    <td style="width:25%!important">Note</td>
                </tr>
                <tr *ngFor="let act of summary.RecentActivity">
                    <td>{{ act.Date | dateonly}}</td>
                    <td>{{ act.UserName }}</td>
                    <td>{{ act.Type }}</td>
                    <td>{{ act.ActivityObjectType}}</td>
                    <td>{{ act.Note}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div *ngIf="!summary" style="font-size: 14px!important">
        <div class="row">
            <div class="col-md-12">
                <label>This Account is not linked to a Organisation</label>
            </div>
        </div>
    </div>
</div>