.user-row{
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: 500;
    cursor: pointer;
}
.user-row:hover{
    background-color: #fafafa;
}

.user-answers{
    padding: 5px;
    background-color: #fafafa;
    border: 1px solid #ccc;
}