﻿<div id="addcatalogue-modal" class="customPopup medium" [class.systemActive]="displayModal" (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title">
            {{ 'NEWCATALOGUE' | translate }}
            <a class="close pull-right" (click)="hideModal()"><i class="fa fa-times"></i></a>
        </div>
        <add-catalogue-component (OnSave)="saved($event)"></add-catalogue-component>
    </div>
</div>