﻿<div [hidden]="cropping" class="row">
    <div id="addCatalogueImage" class="col-lg-3">
        <div [hidden]="image" class="imageDiv">
            <img src="{{ catalogue?.Image || '/assets/images/book.png' }}" class="clickable" (click)="imgpicker.click()" />
            <input #imgpicker id="pic" type="file" style="visibility: hidden;" multiple="false" accept="image/*" (change)="imageChanged($event)" />
        </div>
        <div [hidden]="!image" class="imageDiv">
            <img [src]="image?.src" class="clickable" (click)="imgpicker.value=''; imgpicker.click()"/>
        </div>
    </div>
    <div id="addCatalogueForm" class="col-lg-9">
        <form #addCatalogueForm="ngForm" class="form-group">
            <div>
                <label class="">{{"NAME" | translate}}</label>
                <input name="name" required [(ngModel)]="catalogue.Name" class="form-control" type="text" />
            </div>
            <div>
                <label class="">{{"DESCRIPTION" | translate}}</label>
                <input name="desc" [(ngModel)]="catalogue.Description" class="form-control" type="text" />
            </div>
            <div>
                <label class="margin-top-10 customCheckBox">
                            <input id="CatalogueActiveCheckbox" type="checkbox" [(ngModel)]="catalogue.IsActive" [ngModelOptions]="{standalone: true}">
                            <div class="custonCkeck"></div>
                        </label>
                <span>{{"ACTIVATED" | translate}}</span>
            </div>
            <div>
                <button type="button" [disabled]="addCatalogueForm.invalid" class="btn btn-success pull-right" (click)="saveCatalogue()">{{"CREATE" | translate}}</button>
            </div>
        </form>
    </div>
    <div class="clearfix"></div>
</div>

<cropmodal [hidden]="!cropping" #cropmodal (cropped)="cropped($event)" [data]="data"></cropmodal>