﻿<div [hidden]="cropping">
<div *ngIf="catalogue?.Id != 'ALL'" class="row catalogue">
    <div class="col-lg-3">
        
        <input #imgpicker id="pic" type="file" style="visibility: hidden"  accept="image/*" (change)="imageChanged($event)" />
        <img *ngIf="!editmode" src="{{ catalogue?.Image || '/assets/images/book.png' }}" />
        <img *ngIf="editmode" class="clickable" (click)="imgpicker.value=''; imgpicker.click()" src="{{ catalogue.Image || '/assets/images/book.png'"/>
    </div>
    <div class="col-lg-9">
        <div class="col-lg-8">
            <div *ngIf="!editmode"> {{catalogue?.Name}} </div>
            <div *ngIf="editmode">
                <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="catalogue.Name" />
            </div>
        </div>
        <div class="col-lg-4">
            <div class="buttonGroup">
                <a class="icon" *ngIf="!editmode" (click)="toggleEditMode()"><i class="fa fa-wrench"></i></a>
                <a class="icon" *ngIf="editmode" (click)="toggleEditMode()"><i class="fa fa-floppy-o"></i></a>
                <a *ngIf="editmode" class="icon" (click)="confirmDeleteCatalogue()"><i class="fa fa-trash-o"></i></a>
            </div>
        </div>
        <div class="col-lg-8">
            <div *ngIf="!editmode"> {{catalogue?.Description}} </div>
            <div *ngIf="editmode">
                <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="catalogue.Description" />
            </div>
        </div>
        <div class="col-lg-12" *ngIf="catalogue">
            <label class="margin-top-10 customCheckBox">
                            <input id="CatalogueActiveCheckbox" type="checkbox" [disabled]="!editmode" [(ngModel)]="catalogue.IsActive" [ngModelOptions]="{standalone: true}">
                            <div class="custonCkeck"></div>
                        </label>
            <span>{{"ACTIVATED" | translate}}</span>

        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="row catalogue">
    <div class="col-lg-4">
        <div>
            <h4>{{"PRODUCTS" | translate}}</h4>
        </div>
        <div class="form-group">
            <input class="form-control" name="searchName" placeholder="Search for products" [(ngModel)]="searchobj.Name" (keyup)="productSearch()" />
        </div>
    </div>
    <div class="col-lg-8">

    </div>
    <div class="row blockContent" *ngFor="let product of products[catalogue?.Id]">

        <product-component class="col-lg-12" (productDeleted)="productDeleted($event)" [product]="product"></product-component>
        <div class="col-lg-12">
            <hr class="" />
        </div>
    </div>
    <button class="form-control" (click)="getNextPage()">Load more results</button>
</div>
</div>

<cropmodal [hidden]="!cropping" #cropmodal (cropped)="cropped($event)" [data]="data"></cropmodal>