﻿<div id="catalogue-modal" class="customPopup big" [class.systemActive]="displayModal" (click)="clickToClose($event)">
    <div class="popupBox">
        <div *ngIf="catalogue?.Id != 'ALL'" class="title">
            {{"EDITCATALOGUE" | translate}}
            <a class="close pull-right" (click)="hideModal()"><i class="fa fa-times"></i></a>
        </div>
        <div *ngIf="catalogue?.Id == 'ALL'" class="title">
            {{"ALLPRODUCTS" | translate}}
            <a class="close pull-right" (click)="hideModal()"><i class="fa fa-times"></i></a>
        </div>
        <catalogue-component #cataloguecomponent (catalogueUpdated)="emitCatalogueChanges($event)" [catalogue]="catalogue"></catalogue-component>
    </div>
</div>