<div class="customPopup systemActive " id="addCategoryGroup" (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title">
            <span *ngIf="!isEdit">{{ 'CATEGORYGROUPCREATE' | translate }}</span>
            <span *ngIf="isEdit">{{ 'CATEGORYGROUPEDIT' | translate }}</span>
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <form #catForm="ngForm" novalidate>
                <div class="basicDetails">
                    <div class="form-group">
                        <label for="Name">{{ 'NAME' | translate }}</label>
                        <input id="Name" type="text" class="form-control" required [(ngModel)]="categoryGroup.Name" name="name" #name="ngModel">
                        <div [hidden]="name.untouched || name.valid" class="bg-danger">
                            {{ 'REQ' | translate }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ 'COLOR' | translate }}</label>
                        <div class="colorWrapper">
                            <input id="CategoryGroupColor" style="color: #FFF; font-weight: normal;" class="form-control" [(colorPicker)]="categoryGroup.Color" 
                            [style.background]="categoryGroup.Color" [cpFallbackColor]="'#4E4'"
                            [(ngModel)]="categoryGroup.Color" [value]="categoryGroup.Color" [cpHeight]="'310px'" [cpPosition]="'bottom'" name="categoryColor" #categoryColor="ngModel" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CategoryRequired">{{ 'CATGROUPREQUIRED' | translate }}</label>
                        <label class="customCheckBox leftFolat" id="custome-check">
                            <input type="checkbox" id="CategoryRequired" [(ngModel)]="categoryGroup.IsRequired" class="checker" name="catIsRequired" #categoryIsRequired="ngModel">
                            <div class="custonCkeck"></div>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="CategoryEditable">{{ 'CATGROUPEDITABLE' | translate }}</label>
                        <label class="customCheckBox leftFolat" id="custome-check">
                            <input type="checkbox" id="CategoryEditable" [(ngModel)]="categoryGroup.IsEditable" class="checker" name="catIsEditable" #categoryIsEditable="ngModel">
                            <div class="custonCkeck"></div>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="CategoryMultiSelect">{{ 'CATGROUPMULTISELECT' | translate }}</label>
                        <label class="customCheckBox leftFolat" id="custome-check">
                            <input type="checkbox" id="CategoryMultiSelect" [(ngModel)]="categoryGroup.CanMultiSelect" class="checker" name="catMultiSelect" #categoryMultiSelect="ngModel">
                            <div class="custonCkeck"></div>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>{{ 'CREATECATEGORIES' | translate }}</label>
                        <tag-edit-text id="Categories" class="form-control boxify" [items]="categoryGroup.Categories" [itemsSource]="categoryGroup.Categories" [bgColor]="categoryGroup.Color" [color]="categoryGroup.FontColor || '#FFF'" [placeholder]="'CATEGORIES' | translate"></tag-edit-text>
                        <label>{{ 'SEPARATECATEGORIES' | translate }}</label>
                        <div><label class="text-danger" [hidden]="!showCategoryValid || categoryGroup.Categories.length > 0">{{'CATEGORIESREQ' | translate}}</label></div>
                    </div>
                    <div class="buttonRow">
                        <button *ngIf="!isEdit" id="CategoryGroupCreateBtn" type="button" (click)="createCategory()" [disabled]="catForm.invalid" class="btn pull-right">{{ 'CREATEBTN' | translate }}</button>
                        <button *ngIf="isEdit" id="CategoryGroupEditBtn" type="button" (click)="updateCategory()" [disabled]="catForm.invalid" class="btn pull-right">{{ 'SAVEBTN' | translate }}</button>
                        <a id="CategoryGroupCancel" type="button" (click)="back()" class="evo-cancel-link pull-right">{{'CANCELBTN' | translate}}</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>