@keyframes slideDown {
  0% {
    transform:  translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.date-input {
    cursor: pointer;
}

.date-icon {
    position: absolute;
    top: 26px;
    height: 34px;
    width: 31px;
    text-align: center;
    padding-top: 4px;
    cursor: pointer;
}

.date-icon.calendar {
    border: 1px solid #CCC;
    background-color: #F2F2F2;
    right: 0px;
}

.date-icon.clear-date{
    right: 25px;
}

.date-icon.clear-date:hover{
    color: #5fc764;
}

.date-icon.top-zero{
    top: 0px;
}

.evo-datetime-picker {
    color: #333;
    outline-width: 0;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid #ddd;
    display: inline-block;
    background: #fff;
    animation: slideDown 0.1s ease-in-out;
    animation-fill-mode: both;
    position: absolute;
    z-index: 50;
    margin-top: -5px;
}
.evo-datetime-picker > .month {
    text-align: center;
    line-height: 22px;
    padding: 10px;
    background: #fcfcfc;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.evo-datetime-picker > .month > .prev-next {
    color: #555;
    display: block;
    font: normal 24px sans-serif;
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 15px;
    text-align: center;
}
.evo-datetime-picker > .month > .prev-next:hover {
  background-color: #333;
  color: #fff;
}
.evo-datetime-picker > .month > .prev-next.prev {
  float: left;
}
.evo-datetime-picker > .month > .prev-next.next {
  float: right;
}
.evo-datetime-picker > .days {
    width: 210px; /* 30 x 7 */
    margin: 10px;
    text-align: center;
}
.evo-datetime-picker > .days .day-of-week,
.evo-datetime-picker > .days .day {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid transparent;
    width: 30px;
    line-height: 28px;
    float: left;
}
.evo-datetime-picker > .days .day-of-week {
    font-weight: bold;
}
.evo-datetime-picker > .days .day-of-week.weekend {
    color: #ccc;
    background-color: inherit;
}
.evo-datetime-picker > .days .day:not(.selectable) {
    color: #ccc;
    cursor: default;
}
.evo-datetime-picker > .days .day.other-month {
    color: #ccc;
}
.evo-datetime-picker > .days .weekend {
    color: #333;
    background-color: #eee;
}
.evo-datetime-picker > .days .day.selectable  {
    cursor: pointer;
}
.evo-datetime-picker > .days .day.selected {
    background: gray;
    color: #fff;
}
.evo-datetime-picker > .days .day.today:not(.selected):not(.in-range){
    background-color: #ccc;
    border-radius: 15px;
    color: #333;
}
.evo-datetime-picker > .days .day.today.other-month:not(.selected):not(.selectable){
    background-color: #ccc;
    border-radius: 15px;
    color: #FFF;
}
.evo-datetime-picker > .days .day.in-range:not(.selected){
    background-color: #bbb;
}
.evo-datetime-picker > .days .day.other-month.in-range {
    color: white;
}
.evo-datetime-picker > .days .day:not(.selected).selectable:hover {
    background: #ccc;
}
.evo-datetime-picker > .days:after {
    content: '';
    display: block;
    clear: left;
    height: 0;
}
.evo-datetime-picker .hourLabel,
.evo-datetime-picker .minutesLabel {
    display: inline-block;
    width: 40px;
    text-align: right;
}
.evo-datetime-picker input[type=range] {
    width: 200px;
}

.evo-datetime-picker .ampm-container{
    margin-left: 10px;
}

.evo-datetime-picker .not-12h{
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
}

.evo-datetime-picker .selected-12h{
    color: #333;
    background-color: #CCC;
    font-weight: bold;
}

.evo-datetime-picker .time-container {
    padding-left: 15px;
}

.evo-datetime-picker .time-label{
    display: block
}

.evo-datetime-picker .time-control {
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 4px;
    width: 50px;
}