<div *ngIf="!range && dateOnly" [attr.id]="inputId" class="form-control date-input" (click)="onFocus()" name="input">{{selectedDate | dateonly}}</div>
<div *ngIf="!range && timeOnly" [attr.id]="inputId" class="form-control date-input" (click)="onFocus()" name="input">{{selectedDate | timeonly}}</div>
<div *ngIf="!range && !dateOnly && !timeOnly" [attr.id]="inputId" class="form-control date-input" (click)="onFocus()" name="input">{{selectedDate | datetime}}</div>
<div *ngIf="range" [attr.id]="inputId" class="form-control date-input" (click)="onFocus()" name="input">{{(rangeStartDate | dateonly) + (rangeEndDate ? ' - ' + (rangeEndDate | dateonly) : '')}}</div>
<span *ngIf="!hideClear" class="date-icon clear-date" [class.top-zero]="iconTopZero" (click)="clearDates()"><i class="fa fa-times"></i></span>
<span class="date-icon calendar" [class.top-zero]="iconTopZero" (click)="onIconClick()"><i class="fa fa-calendar"></i></span>

<div *ngIf="show" class="evo-datetime-picker" tabindex="0">

  <!-- Month - Year  -->
  <div class="month" *ngIf="!timeOnly">
    <b class="prev-next prev" (click)="updateMonthData(-1, 'month')">&lsaquo;</b>
    <b class="prev-next prev" (click)="updateMonthData(-1, 'year')">&laquo;</b>
    <span title="{{monthData?.fullName}}">
           {{monthData?.shortName}}
     </span> {{monthData?.year}}
    <b class="prev-next next" (click)="updateMonthData(1, 'month')">&rsaquo;</b>
    <b class="prev-next next" (click)="updateMonthData(1, 'year')">&raquo;</b>
  </div>

  <!-- Date -->
  <div class="days" *ngIf="!timeOnly">

    <!-- Su Mo Tu We Th Fr Sa -->
    <div class="day-of-week" *ngFor="let dayOfWeek of monthData.translatedDaysOfWeek; let i = index" [class.weekend]="dayOfWeek.isWeekend"
      title="{{dayOfWeek.fullname}}">
      {{dayOfWeek.shortname}}
    </div>

    <!-- Fill up blank days for this month -->
    <div *ngIf="monthData.leadingDays.length < 7">
      <div class="day other-month" *ngFor="let day of monthData.leadingDays" (click)="selectDate(day.date, monthData.month - 1)"
        [ngClass]="{
             selectable: day.selectable,
             weekend: day.weekend,
             selected: day.selected,
             today: day.today,
             'in-range': day.inRange
           }">
        {{day.date}}
      </div>
    </div>

    <div class="day" *ngFor="let day of monthData.days" (click)="selectDate(day.date)" [ngClass]="{
           selectable: day.selectable,
           selected: day.selected,
           today: day.today,
           weekend: day.weekend,
           'in-range': day.inRange
         }">
      {{day.date}}
    </div>

    <!-- Fill up blank days for this month -->
    <div *ngIf="monthData.trailingDays.length < 7">
      <div class="day other-month" (click)="selectDate(day.date, monthData.month + 1)" *ngFor="let day of monthData.trailingDays"
        [ngClass]="{
             selectable: day.selectable,
             weekend: day.weekend,
             selected: day.selected,
             today: day.today,
             'in-range': day.inRange
           }">
        {{day.date}}
      </div>
    </div>
  </div>

  <!-- Time -->
  <div class="time-container" id="time" *ngIf="!dateOnly">
    <label class="time-label">{{'TIME' | translate}}:</label>
    <input class="time-control" #hourInput type="number" [attr.min]="is12h ? 1 : 0" [attr.max]="is12h ? 12 : 23" [(ngModel)]="hour"
      (blur)="validateHour()" />
    <input class="time-control" #minuteInput type="number" min="0" max="59" [(ngModel)]="minute" (blur)="validateMinute()" />
    <span *ngIf="is12h" class="ampm-container">
        <span (click)="changeAmPm(false)" class="not-12h" [class.selected-12h]="!isPm">AM</span>&nbsp;
    <span (click)="changeAmPm(true)" class="not-12h" [class.selected-12h]="isPm">PM</span>
    </span>
    <!--<span class="timeValue">
      {{('0' + hour).slice(-2)}} : {{('0' + minute).slice(-2)}}
    </span><br/>-->
  </div>
</div>