.navLinks:not(.selected) a {
    /*transform: translateY(-100%);
    animation: showNav 5s linear 0s 0 normal;
    -webkit-animation: showNav 5s linear 0s 0 normal; */
    display: none;
}

.salesLinks.selected a {
    display: unset;
    /*transform: translateY(0%);
    animation: hideNav 5s linear 0s 0 normal; 
    -webkit-animation: hideNav 5s linear 0s 0 normal; */
}


@keyframes hideNav {
    0% {
        transform: translateY(0%);
    }
    99% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%)
    }
}
@keyframes showNav {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.navLinks {
    position: inherit;
}

.navSelect {
    background: rgba(255,255,255,0);
    border: none;
    color: white;
    margin-top: 22px;
    margin-left: -15px;
    -moz-appearance: none;
    -ms-progress-appearance: none; 
    -webkit-appearance: none;
    font-size: 12px;
}

@media (max-width: 992px) {
    .navSelect {
        display: none;
    }
}

.navSelect option {
    background: black;
    padding: 10px;
}

.navSelect:focus {
    outline: none;
}

.logo {
    transform: scale(0.8);
}


header.header {
    background: #3c3c3c;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
}

@media screen and (max-width: 991px) {
    header.header {
        height: 50px;
    }
}
header.header.userDetailsActive, header.header.menuActive {
    z-index: 100000;
}
header.header .logo {
    padding: 4px 15px 4px 0;
    float: left;
}
    header.header .logo img {
        height: 41px;
    }

@media screen and (max-width: 1023px) {
    header.header .logo {
        padding: 6px 15px 6px 0;
    }
}

@media screen and (max-width: 991px) {
    header.header .logo {
        display: none;
    }
}
header.header .mobileMenu {
    background: rgba(255, 255, 255, 0.1);
    float: left;
    font-size: 35px;
    padding: 2px 15px;
    cursor: pointer;
    display: none;
    color: #ffffff;
}

@media screen and (max-width: 991px) {
    header.header .mobileMenu {
        display: block;
        background: none;
        padding: 0px 8px;
        margin-left: -15px;
    }
}
header.header .avatar {
    float: right;
    margin-right: -15px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    overflow: hidden;
}
    header.header .avatar img {
        width: 100%;
    }
header.header.white {
    background: #ffffff;
    border-bottom: 1px solid #ddd;
}
    header.header.white .mobileMenu {
        color: #333333;
    }
header.header.admin {
    border-bottom: 1px solid #eeeeee;
}

.primaryMenu {
    left: 229px;
    position: fixed;
    top: 0;
}
    .primaryMenu.userDetailsActive {
        z-index: 5000;
    }
        .primaryMenu a b {
            display: none;
        }
    .primaryMenu .userDetails {
        position: fixed;
        right: 0px;
        top: 50px;
        width: 200px;
        background: #ffffff;
        box-shadow: 0 0 10px 0 #666666;
        -moz-box-shadow: 0 0 10px 0 #666666;
        -webkit-box-shadow: 0 0 10px 0 #666666;
        -o-box-shadow: 0 0 10px 0 #666666;
        display: none;
    }
        .primaryMenu .userDetails.systemActive {
            display: block;
        }
        .primaryMenu .userDetails .title {
            padding: 10px 15px 0;
            font-weight: 700;
            font-size: 15px;
            border: 0px;
            width: 100%;
            float: left;
            position: relative;
        }
            .primaryMenu .userDetails .title .viewSettings {
                display: none;
            }
            .primaryMenu .userDetails .title b {
                display: none;
            }
            .primaryMenu .userDetails .title .icon {
                width: 27px;
                height: 27px;
                margin: 0 10px 0 0;
                border-radius: 5px 0 5px 0;
                -moz-border-radius: 5px 0 5px 0;
                -webkit-border-radius: 5px 0 5px 0;
                -o-border-radius: 5px 0 5px 0;
                overflow: hidden;
                float: left;
            }
        .primaryMenu .userDetails ul {
            list-style: none;
            margin: 0px;
            padding: 0;
            border-bottom: 1px solid #eeeeee;
            float: left;
            width: 100%;
        }
            .primaryMenu .userDetails ul li {
                display: block;
            }
                .primaryMenu .userDetails ul li a {
                    display: block;
                    float: none;
                    text-align: left;
                    height: auto;
                    line-height: 21px;
                    padding: 7px 15px;
                    color: #333333;
                    font-size: 15px;
                    overflow: hidden;
                }
                    .primaryMenu .userDetails ul li a:hover {
                        text-decoration: none;
                        color: #5fc764;
                    }
                    .primaryMenu .userDetails ul li a i {
                        margin: 0;
                        text-align: center;
                        width: 35px;
                    }

@media screen and (max-width: 1023px) {
    .primaryMenu {
        left: 200px;
    }
}

@media screen and (max-width: 991px) {
    .primaryMenu {
        display: block;
        position: fixed;
        bottom: 0px;
        top: 0px;
        left: 0px;
        width: 280px;
        background: #333;
        z-index: 20001;
        overflow: auto;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-transform: translate3d(-300px, 0, 0);
        -moz-transform: translate3d(-300px, 0, 0);
        -o-transform: translate3d(-300px, 0, 0);
        -ms-transform: translate3d(-300px, 0, 0);
        transform: translate3d(-300px, 0, 0);
    }
        .primaryMenu a {
            display: block;
            width: 100%;
            float: left;
            text-align: left;
            padding: 10px 15px;
            height: auto;
            font-size: 15px !important;
        }
            .primaryMenu a b {
                display: block;
                float: left;
                font-weight: 300;
                line-height: 20px;
                padding: 0 0 0 10px;
            }
            .primaryMenu a i {
                margin: 3px 0 0;
                float: left;
            }
        .primaryMenu.systemActive {
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
            .primaryMenu.systemActive .userDetails {
                position: static;
                display: block;
                width: 100%;
                background: none;
                color: #ffffff;
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                -o-box-shadow: none;
                border-bottom: 1px solid #222222;
                float: left;
                z-index: 500000;
            }
                .primaryMenu.systemActive .userDetails .title {
                    padding: 0px;
                    margin: 0px;
                }
                    .primaryMenu.systemActive .userDetails .title .icon {
                        width: 40px;
                        height: 40px;
                        border-radius: 0 0 0 0;
                        -moz-border-radius: 0 0 0 0;
                        -webkit-border-radius: 0 0 0 0;
                        -o-border-radius: 0 0 0 0;
                    }
                    .primaryMenu.systemActive .userDetails .title b {
                        display: block;
                        font-weight: 300;
                        font-size: 13px;
                    }
                    .primaryMenu.systemActive .userDetails .title font {
                        display: block;
                        margin: 9px 0 0;
                    }
                    .primaryMenu.systemActive .userDetails .title .viewSettings {
                        display: block;
                        font-size: 26px;
                        height: 48px;
                        padding-top: 8px;
                        position: absolute;
                        right: 0;
                        text-align: center;
                        top: -7px;
                        width: 40px;
                    }
                .primaryMenu.systemActive .userDetails ul {  
                    display: none;                  
                    opacity: 1;
                    border-color: #222222;
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                }
                .primaryMenu.systemActive .userDetails.showUserMenu ul{
                    display:inherit;
                }

                    .primaryMenu.systemActive .userDetails ul li a {
                        color: #cccccc;
                    }
                        .primaryMenu.systemActive .userDetails ul li a:hover {
                            color: #333333;
                        }
                        .primaryMenu.systemActive .userDetails ul li a i {
                            margin: 3px 0 0 0;
                            text-align: left;
                            width: 25px;
                        }
                    .primaryMenu.systemActive .userDetails ul li.title {
                        padding: 10px 15px 0;
                    }
                    .primaryMenu.systemActive .userDetails ul.systemActive {
                        display: block;
                        opacity: 1;
                    }
}

@media screen and (min-width: 992px) {
    .primaryMenu.whiteHeader a {
        color: #000000;
    }
        .primaryMenu.whiteHeader a.systemActive {
            border-bottom: 3px solid #666666;
        }
}
.primaryMenu.whiteHeader a b {
    display: block;
    font-weight: 300;
}

.evo-nav-section-link{
    color: #cccccc;
    float: left;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    min-width: 60px;
    padding: 0 10px;
    text-align: center;

    transition: 0.5s;
}

.evo-nav-section-link.locked{
    color: #7777aa;
}

.evo-nav-active,.evo-nav-section-link.locked.evo-nav-active {
    color: white;
    text-shadow: -1px 1px 20px white;
}

.evo-nav-active:focus{
    color: white;
}

.evo-nav-section-link:hover{
    color: white;
    text-shadow: -1px 1px 20px white;
}

/*White menu*/
.evo-nav-active.white-menu{
    background-color: white;
    text-shadow: -1px 1px 40px #2255ff, 1px -1px 10px #2255ff;
}

.evo-nav-section-link.white-menu{
    color: #333;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
}

.evo-nav-section-link.white-menu:hover{
    background-color: white;
    text-shadow: -1px 1px 40px #2255ff, 1px -1px 10px #2255ff;
}
