<div class="mainTitle">
    <h1>{{ 'ACCOUNTSETTINGS' | translate }}</h1>
</div>
<div class="panelAction">
    <a class="btn" (click)="newRole()">
        <i class="fa fa-plus"></i> <font>{{ 'URCREATE' | translate }}</font>
    </a>
</div>
<div class="contentPanel settingsPage">

    <div class="contentWrapper">

        <div class="projectBox clearfix">
            <h4>
                {{ 'USERROLES' | translate }}
            </h4>
            <div class="gridWrapper">
                <table>
                    <thead>
                        <tr>
                            <th *ngFor="let column of columns">{{column.label | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of rows">
                            <td *ngFor="let column of columns" [attr.data-label]="column.name" [attr.class]="column.class">
                                <a (click)="getRole(row.Id)" *ngIf="column.Link">{{row.Name}}</a>
                                <a *ngIf="!column.Link && !column.Act">{{row.EmployeesInRole}}</a>
                                <a (click)="delete(row.Id)" *ngIf="column.Act" class="link icon"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <h4 style="margin: 20px 0px;">{{ "SELECTDEFAULTROLE" | translate }}</h4>
                    <chosen width="100%" [options]="roleOptions" [ngModel]="defaultRole" (ngModelChange)="setDefaultRole($event)"></chosen>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="customPopup big systemActive" id="editRole" (click)="clickToClose($event,'edt')" *ngIf="popUpVisible">
    <div class="popupBox">
        <div class="title">
            {{ (edit ? 'UREDIT' : 'URCREATE') | translate }}
            <!-- &nbsp;&nbsp;<a class="editDeal"><i class="fa fa-pencil-square-o"></i></a>-->
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="form-group">
                <label>{{ 'URNAME' | translate }}</label>
                <input id="RoleName" type="text" class="form-control" required [(ngModel)]="name">
            </div>

            <div *ngIf="!editable">
                <label>{{ 'ADMINROLEINFO' | translate }}</label>
            </div>

            <!--CRM PERMISSIONS-->
            <div *ngIf="editable">
                <h4>{{ 'URCRMACCESS' | translate }}</h4>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'URVIEWACC' | translate }}</label>
                            <chosen id="ViewAccount" [width]="'100%'" [multiple]="false" [options]="[{value:'ViewAccounts',label:('YES' | translate)},{value:'No',label:('NO' | translate)},{value:'ViewOwnAccounts',label:('VIEWOWNACCOUNTS' | translate)}]"
                                [(ngModel)]="permission.ViewAccounts" (change)="changed($event,'ViewAccounts')"></chosen>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'URADDACC' | translate }}</label>
                            <chosen id="AddAccount" [width]="'100%'" [multiple]="false" [options]="[{value:'AddAccounts',label:('YES' | translate)},{value:'No',label:('NO' | translate)}]"
                                [(ngModel)]="permission.AddAccounts" (change)="changed($event,'AddAccounts')"></chosen>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'URIMPORTACC' | translate }}</label>
                            <chosen id="ImportAccount" [width]="'100%'" [multiple]="false" [options]="[{value:'ImportAccounts',label:('YES' | translate)},{value:'No',label:('NO' | translate)}]"
                                [(ngModel)]="permission.ImportAccounts" (change)="changed($event,'ImportAccounts')"></chosen>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'UREDITACC' | translate }}</label>
                            <chosen id="EditAccount" [width]="'100%'" [multiple]="false" [options]="[{value:'EditAccounts',label:('YES' | translate)},{value:'No',label:('NO' | translate)},{value:'EditOwnAccounts',label:('EDITOWNACCOUNTS' | translate)}]"
                                [(ngModel)]="permission.EditAccounts" (change)="changed($event,'EditAccounts')"></chosen>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'UREDITACCMAN' | translate }}</label>
                            <chosen id="ChangeAccountManager" [width]="'100%'" [multiple]="false" [options]="[{value:'ChangeOwner',label:('YES' | translate)},{value:'No',label:('NO' | translate)}]"
                                [(ngModel)]="permission.ChangeOwner" (change)="changed($event,'ChangeOwner')"></chosen>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'URDELETEACC' | translate }}</label>
                            <chosen id="DeleteAccount" [width]="'100%'" [multiple]="false" [options]="[{value:'DeleteAccounts',label:('YES' | translate)},{value:'No',label:('NO' | translate)},{value:'DeleteOwnAccount',label:('DELETEOWNACCOUNT' | translate)}]"
                                [(ngModel)]="permission.DeleteAccounts" (change)="changed($event,'DeleteAccounts')"></chosen>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'URDELETEDEALS' | translate }}</label>
                            <chosen id="DeleteDeals" [width]="'100%'" [multiple]="false" [options]="[{value:'DeleteDeals',label:('YES' | translate)},{value:'No',label:('NO' | translate)},{value:'DeleteOwnDeals',label:('DELETEOWNDEALS' | translate)}]"
                                [(ngModel)]="permission.DeleteDeals" (change)="changed($event,'DeleteDeals')"></chosen>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'URDELETEACTIONS' | translate }}</label>
                            <chosen id="DeleteActions" [width]="'100%'" [multiple]="false" [options]="[{value:'DeleteActions',label:('YES' | translate)},{value:'No',label:('NO' | translate)},{value:'DeleteOwnActions',label:('DELETEOWNACTIONS' | translate)}]"
                                [(ngModel)]="permission.DeleteActions" (change)="changed($event,'DeleteActions')"></chosen>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'URDELETECONTACTS' | translate }}</label>
                            <chosen id="DeleteContacts" [width]="'100%'" [multiple]="false" [options]="[{value:'DeleteContacts',label:('YES' | translate)},{value:'No',label:('NO' | translate)},{value:'DeleteOwnContacts',label:('DELETEOWNCONTACTS' | translate)}]"
                                [(ngModel)]="permission.DeleteContacts" (change)="changed($event,'DeleteContacts')"></chosen>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'URVIEWSALESCOMPETITIONS' | translate }}</label>
                            <chosen id="ViewSalesCompetitions" [width]="'100%'" [multiple]="false" [options]="[{value:'ViewSalesCompetitions',label:('YES' | translate)},{value:'No',label:('NO' | translate)}]"
                                [(ngModel)]="permission.ViewSalesCompetitions" (change)="changed($event,'ViewSalesCompetitions')"></chosen>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{'URCREATESALESCOMPETITIONS' | translate}}</label>
                            <chosen id="CreateSalesCompetitions" [width]="'100%'" [multiple]="false" [options]="[{value:'CreateSalesCompetitions',label:('YES' | translate)},{value:'No',label:('NO' | translate)}]"
                                [(ngModel)]="permission.CreateSalesCompetitions" (change)="changed($event,'CreateSalesCompetitions')"></chosen>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{'URVIEWGOALS' | translate}}</label>
                            <chosen id="ViewGoals" [width]="'100%'" [multiple]="false" [options]="[{value:'ViewGoals',label:('YES' | translate)},{value:'No',label:('NO' | translate)},{value:'ViewOwnGoals',label:('VIEWOWNGOALS' | translate)}]"
                                [(ngModel)]="permission.ViewGoals" (change)="changed($event,'ViewGoals')"></chosen>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{'URVIEWSALESCOMMISSIONS' | translate}}</label>
                            <chosen id="ViewSalesCommissions" [width]="'100%'" [multiple]="false" [options]="[{value:'ViewSalesCommissions',label:('YES' | translate)},{value:'No',label:('NO' | translate)},{value:'ViewOwnSalesCommissions',label:('VIEWOWNSALESCOMMISSIONS' | translate)}]"
                                [(ngModel)]="permission.ViewSalesCommissions" (change)="changed($event,'ViewSalesCommissions')"></chosen>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{'UREXPORT' | translate}}</label>
                            <chosen id="Export" [width]="'100%'" [multiple]="false" [options]="[{value:'Export',label:('YES' | translate)},{value:'No',label:('NO' | translate)}]"
                                [(ngModel)]="permission.Export" (change)="changed($event,'Export')"></chosen>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{'UREDITORGANISATIONNOTES' | translate}}</label>
                            <chosen id="Export" [width]="'100%'" [multiple]="false" [options]="[{value:'EditOrganisationNotes',label:('YES' | translate)},{value:'No',label:('NO' | translate)}]"
                                [(ngModel)]="permission.EditOrganisationNotes" (change)="changed($event,'EditOrganisationNotes')"></chosen>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                      
                        </div>
                    </div>
                </div>

                <!--SETTINGS PERMISSIONS-->
                <h4>{{ 'URSETTINGS' | translate }}</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'URHANDLEUSERS' | translate }}</label>
                            <chosen id="HandleUsers" [width]="'100%'" [multiple]="false" [options]="[{value:'HandleUsers',label:('YES' | translate)},{value:'No',label:('NO' | translate)}]"
                                [(ngModel)]="permission.HandleUsers" (change)="changed($event,'HandleUsers')"></chosen>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'URHANDLEUSERROLES' | translate }}</label>
                            <chosen id="HandleRoles" [width]="'100%'" [multiple]="false" [options]="[{value:'HandleUserRoles',label:('YES' | translate)},{value:'No',label:('NO' | translate)}]"
                                [(ngModel)]="permission.HandleUserRoles" (change)="changed($event,'HandleUserRoles')"></chosen>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'URHANDLESALESPROCESSES' | translate }}</label>
                            <chosen id="HandleDeals" [width]="'100%'" [multiple]="false" [options]="[{value:'HandleDealStatus',label:('YES' | translate)},{value:'No',label:('NO' | translate)}]"
                                [(ngModel)]="permission.HandleDealStatus" (change)="changed($event,'HandleDealStatus')"></chosen>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'URHANDLEBILLINGDETAILS' | translate }}</label>
                            <chosen id="HandleBilling" [width]="'100%'" [multiple]="false" [options]="[{value:'HandlePayment',label:('YES' | translate)},{value:'No',label:('NO' | translate)}]"
                                [(ngModel)]="permission.HandlePayment" (change)="changed($event,'HandlePayment')"></chosen>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'URHANDLEGOALS' | translate }}</label>
                            <chosen id="HandleGoals" [width]="'100%'" [multiple]="false" [options]="[{value:'HandleGoals',label:('YES' | translate)},{value:'No',label:('NO' | translate)}]"
                                [(ngModel)]="permission.HandleGoals"></chosen>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'URHANDLEPRODUCTS' | translate }}</label>
                            <chosen id="HandleProducts" [width]="'100%'" [multiple]="false" [options]="[{value:'HandleProducts',label:('YES' | translate)},{value:'No',label:('NO' | translate)}]"
                                [(ngModel)]="permission.HandleProducts"></chosen>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'URHANDLECONTRACTS' | translate }}</label>
                            <chosen id="HandleContracts" [width]="'100%'" [multiple]="false" [options]="[{value:'HandleContracts',label:('YES' | translate)},{value:'No',label:('NO' | translate)}]"
                                [(ngModel)]="permission.HandleContracts" (change)="changed($event,'HandleContracts')"></chosen>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'URHANDLESALESCOMMISSION' | translate }}</label>
                            <chosen id="HandleSalesCommissions" [width]="'100%'" [multiple]="false" [options]="[{value:'HandleSalesCommissions',label:('YES' | translate)},{value:'No',label:('NO' | translate)}]"
                                [(ngModel)]="permission.HandleSalesCommissions" (change)="changed($event,'HandleSalesCommissions')"></chosen>
                        </div>
                    </div>
                </div>

                <h4>{{ 'TAGS' | translate }}</h4>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'URTAGSINCLUDING' | translate }}</label>
                            <tag-edit-text id="IncludeTags" class="form-control boxify" [clear]="clear" [items]="IncludedTags" (itemsChange)="includeChange($event)"></tag-edit-text>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'URTAGSEXCLUDING' | translate }}</label>
                            <tag-edit-text id="ExcludeTags" class="form-control boxify" [clear]="clear" [items]="ExcludedTags" (itemsChange)="excludeChange($event)"></tag-edit-text>
                        </div>
                    </div>
                </div>

                <h4>{{ 'CONTRACTS' | translate }}</h4>
                <div class="row">
                    <div class="col-md-12">
                        <div>{{'CATEGORYPERMISSIONINFO' | translate}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'URDELETECONTRACTS' | translate }}</label>
                            <chosen id="DeleteContracts" [width]="'100%'" [multiple]="false" [options]="[{value:'DeleteContracts',label:('YES' | translate)},{value:'No',label:('NO' | translate)}]"
                                [(ngModel)]="permission.DeleteContracts" (change)="changed($event,'DeleteContracts')"></chosen>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'URCREATECONTRACTS' | translate }}</label>
                            <chosen id="AddContracts" [width]="'100%'" [multiple]="false" [options]="[{value:'CreateContracts',label:('YES' | translate)},{value:'No',label:('NO' | translate)}]"
                                [(ngModel)]="permission.CreateContracts" (change)="changed($event,'CreateContracts')"></chosen>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{ 'URVIEWCONTRACTS' | translate }}</label>
                            <chosen id="ViewContracts" [width]="'100%'" [multiple]="false" [options]="[{value:'ViewContracts',label:('YES' | translate)},{value:'No',label:('NO' | translate)}]"
                                [(ngModel)]="permission.ViewContracts" (change)="changed($event,'ViewContracts')"></chosen>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="permission.ViewContracts === 'ViewContracts'">
                        <div *ngFor="let catGroup of categoryGroups; let i = index;" class="col-sm-6 clearfix">
                            <label>{{catGroup.Name}}</label>
                            <tag-edit-text class="form-control boxify" [items]="getCategoryPermissions(catGroup.Id)" (itemsChange)="onCategoryChange(catGroup.Id, $event)"
                                [itemsSource]="catGroup.Categories" [bgColor]="catGroup.Color" [color]="catGroup.FontColor" [showFilter]="true"
                                [disableEdit]="true" [hide]="getCategoryPermissions(catGroup.Id).length === catGroup.Categories.length"
                                [placeholder]="('CATEGORIES' | translate)"></tag-edit-text>
                            <!--<label (click)="selectAllCategories(catGroup.Id, true)">{{ 'SELECTALL' | translate }}</label>
                            <label (click)="selectAllCategories(catGroup.Id, false)">{{ 'DESELECTALL' | translate }}</label>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="buttonRow">
                        <button id="RoleCancleButton" type="button" class="btn gray pull-left" (click)="back()">{{ 'CANCELBTN' | translate }}</button>
                        <button id="RoleSaveButton" type="button" class="btn pull-right" (click)="Create()">{{ (edit ? 'SAVEBTN' : 'CREATEBTN') | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>