<div class="row">
    <form [formGroup]="accountForm">
        <div class="col-md-6">
            <div *ngIf="!_accountsCollection.account.IsPerson" class="form-group">
                <label>{{ 'ACCDISPLAYNAME' | translate }}</label>
                <input id="EditAccountNameText" type="text" [(ngModel)]="_accountsCollection.account.ShownName" class="form-control" placeholder="{{ 'ACCDISPLAYNAME' | translate }}"
                    formControlName="ShownName" name="ShownName" required>
                <div [hidden]="accountForm.controls.ShownName.pristine || accountForm.controls.ShownName.valid">{{ 'REQ' | translate }}</div>
            </div>
            <div *ngIf="_accountsCollection.account.IsPerson" class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{ 'FIRSTNAME' | translate }}</label>
                        <input id="EditAccountFirstNameText" type="text" [(ngModel)]="_accountsCollection.account.FirstName" class="form-control"
                            placeholder="{{ 'FIRSTNAME' | translate }}" formControlName="FirstName" name="FirstName" required>
                        <div [hidden]="accountForm.controls.FirstName.pristine || accountForm.controls.FirstName.valid">{{ 'REQ' | translate }}</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{ 'LASTNAME' | translate }}</label>
                        <input id="EditAccountLastNameText" type="text" [(ngModel)]="_accountsCollection.account.LastName" class="form-control" placeholder="{{ 'LASTNAME' | translate }}"
                            formControlName="LastName" name="LastName" required>
                        <div [hidden]="accountForm.controls.LastName.pristine || accountForm.controls.LastName.valid">{{ 'REQ' | translate }}</div>
                    </div>
                </div>
            </div>
            <div *ngIf="!_accountsCollection.account.IsPerson" class="form-group">
                <label>{{ 'ACCFULLNAME' | translate }}</label>
                <input id="EditAccountFullNameText" type="text" [(ngModel)]="_accountsCollection.account.FullName" class="form-control" placeholder="{{ 'ACCFULLNAME' | translate }}"
                    formControlName="FullName" name="FullName">
            </div>
            <div class="form-group">
                <label>{{ 'WEBSITE' | translate }}</label>
                <input id="EditAccountWebsiteText" type="text" [(ngModel)]="_accountsCollection.account.Website" class="form-control" placeholder="{{ 'WEBSITE' | translate }}"
                    formControlName="Website" name="Website">
            </div>
            <div class="form-group">
                <label>{{ 'EMAIL' | translate }}</label>
                <input id="EditAccountEmailText" type="email" [(ngModel)]="_accountsCollection.account.Email" class="form-control" placeholder="{{ 'EMAIL' | translate }}"
                    formControlName="Email" name="Email">
                <div [hidden]="accountForm.controls.Email.untouched || accountForm.controls.Email.valid">{{ 'INVALID' | translate }}</div>
            </div>
            <div class="form-group">
                <label>{{ 'PHONE' | translate }}</label>
                <input id="EditAccountPhoneText" type="text" [(ngModel)]="_accountsCollection.account.Phone" class="form-control" placeholder="{{ 'PHONE' | translate }}"
                    formControlName="Phone" name="Phone">
            </div>
            <div class="form-group">
                <label>{{ 'PRICELIST' | translate }}</label>
                <chosen id="EditAccountAccountPriceListDropdown" [width]="'100%'" [multiple]="false" [options]="priceLists" [ngModel]="_accountsCollection.account.PriceListId"
                    (change)="_accountsCollection.account.PriceListId=$event;" [ngModelOptions]="{standalone: true}"></chosen>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>{{ 'ACCTYPE' | translate }}</label>
                <chosen id="EditAccountAccountTypeDropdown" [width]="'100%'" [multiple]="false" [options]="accountTypes" [ngModel]="_accountsCollection.account.AccountTypeId"
                    (change)="changeType($event);" [ngModelOptions]="{standalone: true}"></chosen>
            </div>
            <div class="form-group">
                <label>{{ 'ACCMAN' | translate }} </label>
                <chosen id="EditAccountAccountManagerDropdown" [width]="'100%'" [multiple]="false" [options]="users" [ngModel]="_accountsCollection.account.AccountManagerId"
                    (change)="_accountsCollection.account.AccountManagerId=$event;" [ngModelOptions]="{standalone: true}"></chosen>
            </div>
            <div class="form-group" *ngIf="!_accountsCollection.account.IsPerson">
                <label>{{ (_accountsCollection.account.IsPerson ? 'PARTOFACCOUNT' : 'PARENTACCOUNT') | translate }}</label>
                <account-select onlyCompanies="true" [value]="_accountsCollection.account.ParentAccount" [valueLabel]="_accountsCollection.account.ParentAccountName"
                    (selectAccount)="_accountsCollection.account.ParentAccount=$event"></account-select>
            </div>

            <div class="form-group">
                <label>{{ ( _accountsCollection.account.IsPerson ? 'PERSONID' : 'ACCCOMPANYID') | translate }}</label>
                <input id="EditAccountCompanyIdText" type="text" ngControl="CompanyNumber" class="form-control" [(ngModel)]="_accountsCollection.account.CompanyNumber"
                    formControlName="CompanyNumber" name="CompanyNumber">
            </div>

            <div class="form-group">
                <label>{{ 'VAT' | translate }}</label>
                <input id="EditAccountVatText" type="text" class="form-control" [(ngModel)]="_accountsCollection.account.Vat" formControlName="Vat"
                    name="Vat">
            </div>

            <div class="form-group">
                <label>{{ 'REFERREDBY' | translate }}</label>
                <account-select [value]="_accountsCollection.account.ReferredBy" [valueLabel]="_accountsCollection.account.ReferdByAccountName"
                    (selectAccount)="setReferee($event)"></account-select>
            </div>

        </div>

        <!--Custom Fields-->

        <div class="col-md-12" evo-require [features]="['CustomFields']">
            <div class="row" *ngIf="_accountsCollection.account.CustomData">
                <div class="col-sm-6 col-xs-12" *ngFor="let custom of customFields">
                    <div class="contentRow">
                        <label>{{custom.Name}}</label>
                        <input *ngIf="custom.Type == 'Text'" class="form-control" type="text" [value]="_accountsCollection.account.CustomData[custom.Id] || ''"
                            (input)="setCustom(custom.Id, $event.target.value)" />
                        <input *ngIf="custom.Type == 'Number'" class="form-control" type="number" [value]="_accountsCollection.account.CustomData[custom.Id] || 0"
                            (input)="setCustom(custom.Id, $event.target.value)" />
                        <evo-datepicker *ngIf="custom.Type == 'Date'" (ngModelChange)="setCustom(custom.Id, $event)" [ngModel]='_accountsCollection.account.CustomData[custom.Id]' [ngModelOptions]="{standalone: true}"></evo-datepicker>

                        <chosen *ngIf="custom.Type == 'Options'" width="100%" [ngModel]="_accountsCollection.account.CustomData[custom.Id]" (change)="setCustom(custom.Id, $event)"
                            [stringOptions]="custom.Options" [ngModelOptions]="{standalone: true}"></chosen>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 form-group">
            <label>{{ 'TAGS' | translate }}</label>
            <tag-edit-text id="EditAccountTagsText" class="form-control boxify" [clear]="clear" [items]="_accountsCollection.account.Tags"
                (itemsChange)="onitemsChange($event)" name="Tags"></tag-edit-text>
            <div class="tag-description"><span>{{ 'SEPARATETAGS' | translate }}</span></div>
        </div>
        <div class="col-md-12 buttonRow morePadding">
            <input id="EditAccountCancleButton" type="button" class="btn gray" value="{{ 'CANCELBTN' | translate }}" (click)="back();_accountsCollection.editAccountCancelled()"/>
            <input id="EditAccountSaveButton" type="button" class="btn pull-right" [disabled]="!accountForm.valid" (click)="Create()"
                value="{{ 'SAVEBTN' | translate }}" />
        </div>
    </form>
</div>