<div class="customPopup big" [class.systemActive]="displayModal" id="emailModal" (click)="clickToClose($event)" style="z-index: 199 !important;">
    <div class="popupBox">
        <div class="title">
            {{ (isTemplateMode ? 'MAILTEMPLATE' : 'SENDMAIL') | translate }}
            <!-- &nbsp;&nbsp;<a class="editDeal"><i class="fa fa-pencil-square-o"></i></a>-->
            <a class="close pull-right" (click)="hideModal()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent assignment">
            <form #emailForm="ngForm">
                <div class="row">
                    <div class="{{ isTemplateMode ? 'col-xs-12' : 'col-xs-8'}}">

                        <div *ngIf="!isTemplateMode">
                            <label style="display:inline-block;width:70px;"><b> {{ 'FROM' | translate }}</b></label>
                            <label> {{ sender }}</label>
                        </div>

                        <div *ngIf="!isTemplateMode">
                            <label style="display:inline-block;width:70px;"><b> {{ 'TO' | translate }}</b></label>
                            <label> {{ (isMassMail ? ('SELECTEDACCOUNTS' | translate) : emailData.email)  }}</label>
                        </div>

                        <div *ngIf="!isTemplateMode && relatedAccounts.length > 0">
                            <label style="display:inline-block;width:70px;"><b> {{ 'ACCOUNT' | translate }}: </b></label>
                            <span class="clickable quick-select-label" style="width:150px" (click)="quickselect.toggleQuickSelectBox()">{{ relatedAccountName }}</span>
                            <quickselect width="200px" #quickselect [items]="relatedAccounts" displayProperty="CompanyName" (select)="selectAccount($event)"></quickselect>
                        </div>

                        <div *ngIf="!isTemplateMode && relatedAccounts.length == 0">
                            <label style="display:inline-block;width:70px;"><b> {{ 'ACCOUNT' | translate }}: </b></label>
                            <span>{{ relatedAccountName }}</span>
                        </div>

                        <div *ngIf="groups.length > 1 && !isTemplateMode">
                            <label style="display:inline-block;width:70px;"><b> {{ 'ACTIVITY' | translate }}: </b></label>
                            <span class="clickable quick-select-label" style="width:150px" (click)="quickselectgroup.toggleQuickSelectBox()">{{ selectedGroupName }}</span>
                            <quickselect width="200px" #quickselectgroup [items]="groups" displayProperty="label" (select)="selectGroup($event)"></quickselect>
                        </div>

                        <div *ngIf="isTemplateMode">

                            <div class="form-group">
                                <label> {{ 'TEMPLATENAME' | translate }}</label>
                                <input type="text" [(ngModel)]="emailData.name" #name="ngModel" name="name" class="form-control" placeholder="{{ 'NAME' | translate }}"
                                    required>
                                <div [hidden]="name.untouched || name.valid" class="bg-danger">{{'REQ' | translate }}</div>
                            </div>

                            <div class="form-group">
                                <label class="margin-top-10 customCheckBox ">
                                    <input id="personalCheckbox" type="checkbox" [(ngModel)]="emailData.isPersonal" [ngModelOptions]="{standalone: true}">
                                    <div class="custonCkeck"></div>
                                </label>
                                <label> {{'TEMPLATEPERSONAL' | translate}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4" [hidden]="isTemplateMode">

                        <div evo-require [features]="['MailTemplates']" (onFail)="showMailTemplateFeature=true" class="form-group">
                            <label> {{ 'TEMPLATE' | translate }}</label>
                            <label id="TemplateButton" *ngIf="!isTemplateMode && emailData.id && emailData.id != 'NEW'" type="button" class="link pull-right"
                                (click)="editTemplate()" style="margin-top:5px;">{{ 'EDIT' | translate }}</label>
                            <chosen id="templateDropdown" [optionsGroups]="templateGroups" [width]="'100%'" [multiple]="false" [options]="templatelist"
                                [(ngModel)]="emailData.id" name="id" (change)="loadTemplate(emailData.id)"></chosen>
                        </div>
                        <div *ngIf="showMailTemplateFeature" class="form-group">
                            <label> {{ 'TEMPLATE' | translate }}</label><br>
                            <a class="link" [featureLink]="'MailTemplates'" style="width: 100%">
                                {{'NUDGEEMAILTEMPLATES' | translate}}
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group">
                            <label> {{ 'SUBJECT' | translate }}</label>
                            <input type="text" [(ngModel)]="emailData.subject" #subject="ngModel" name="subject" class="form-control" placeholder="{{ 'SUBJECT' | translate }}"
                                required>
                            <div [hidden]="subject.untouched || subject.valid" class="bg-danger">{{'REQ' | translate }}</div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="hidden" [(ngModel)]="emailData.body" #body="ngModel" name="body" class="form-control" placeholder="{{ 'BODY' | translate }}">
                            <div [hidden]="body.untouched || body.valid" class="bg-danger">{{'REQ' | translate }}</div>
                        </div>
                    </div>

                    <div class="col-xs-12">

                        <div *ngFor="let attachment of emailData.attachments; let i = index">
                            <i class="fa fa-trash link" style="margin-right:5px;cursor:pointer" (click)="deleteFile(i)"></i>
                            <label>{{attachment.Name}}</label>
                        </div>

                        <div class="form-group">
                            <label for="file-attachment" class="link attachment-file-select"><i class="attachment-file-select-icon fa fa-paperclip"></i> {{ 'ADDNEWFILE' | translate}}</label>
                            <input type="file" class="inputfile" id="file-attachment" name="file-attachment" (change)="upload()" />                            {{processingMessage}}
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <textarea class="redactor large-textbox" [style.width]="'100%'" name="content"></textarea>
                    </div>
                    <div class="col-xs-12">
                        <p class="text-muted text" *ngIf="!hasSMTPsettings">
                            <em>{{'NOSMTPSETTINGS' | translate}}</em>
                            <em><a id="SmtpSettings" class="link" [routerLink]="['/CRM/Settings/SMTP']" (click)="hideModal()">&nbsp;{{'SMTPSETTINGS' | translate}}</a></em>
                        </p>
                    </div>
                    <div class="col-xs-12" *ngIf="hasSMTPsettings">
                        <a *ngIf="!hasBranding" featureLink="MailSignature">
                                {{'NUDGEEMAILSIGNATURE' | translate}}
                        </a>
                    </div>
                    <div class="col-xs-12" *ngIf="hasSMTPsettings && !hasTemplates">
                        <a featureLink="EmailTracking">
                                {{'NUDGEEMAILTRACKING' | translate}}
                        </a>
                    </div>
                    <div class="col-xs-12" *ngIf="tagWarning">
                        <div style="padding-right: 25px" class="bg-danger">{{'TAGWARNING' | translate }}</div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="button-row row">
                        <div class="col-xs-12">
                            <input id="SaveButton" *ngIf="!isTemplateMode" type="button" class="btn pull-right" (click)="send()" [disabled]="submitDisabled()"
                                value="{{ 'SEND' | translate }}" />
                            <input id="TemplateDeleteButton" *ngIf="hasTemplates && isTemplateMode && emailData.id != 'NEW'" type="button" class="btn red pull-right"
                                (click)="deleteTemplate()" value="{{ 'DELETE' | translate }}" />
                            <input id="TemplateSaveButton" *ngIf="hasTemplates && isTemplateMode" type="button" class="btn pull-right" [disabled]="submitDisabled() && !emailData.Name"
                                (click)="saveMailTemplate()" value="{{ 'SAVE' | translate }}" />
                            <a id="CancleButton" class="evo-cancel-link pull-right" (click)="cancle()">{{ 'CANCELBTN' | translate }}</a>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>