<template-main (templateSelected)="selectedTemplate = $event" [type]="'Document'" [leftFree]="false">
    <span template-title>{{'DOCUMENTBUILDER' | translate}}</span>
    <div template-styling  *ngIf="selectedTemplate">
        <documents-styling [template]="selectedTemplate" (isUnsaved)="unsaved = $event;"></documents-styling>
    </div>
</template-main>
