<div class="customTab withIcon">
  <div *ngIf="!showSend">
    <div class="tab-container">
      <span (click)="activeTab = 'Block'" class="tab-headline" [class.active]="activeTab === 'Block'">{{'BLOCK' | translate}}</span>
      <span (click)="activeTab = 'Row'" class="tab-headline" [class.active]="activeTab === 'Row' || !activeTab">{{'ROW' | translate}}</span>
      <span (click)="activeTab = 'Body'" class="tab-headline" [class.active]="activeTab === 'Body'">{{'BODY' | translate}}</span>
      <span (click)="activeTab = 'Content'" class="tab-headline" [class.active]="activeTab === 'Content'">{{'CONTENT' | translate}}</span>
      <div class="pull-right clickable menu-icon">
        <a (click)="resetTemplateBuilder()"><i class="fa fa-times"></i></a><br>
      </div>
    </div>

    <!-- BLOCK -->
    <div class="no-deselect-template" *ngIf="activeTab === 'Block'">
      <template-block-styling [type]="'Document'" [template]="template" [settings]="settings"></template-block-styling>
    </div>

    <!-- ROW -->
    <div class="no-deselect-template" *ngIf="activeTab === 'Row' || !activeTab">
      <template-row-styling [type]="'Document'" [settings]="settings"></template-row-styling>
    </div>

    <!-- BODY -->
    <div *ngIf="activeTab === 'Body'">
      <template-body-styling [type]="'Document'" [template]="template" [settings]="settings"></template-body-styling>
    </div>

    <!-- CONTENT -->
    <div *ngIf="activeTab === 'Content'">
      <template-body-styling [type]="'Document'" [template]="template" [settings]="settings"></template-body-styling>
    </div>
  </div>

  <!-- SAVE? -->
  <!-- <div *ngIf="showSend"> -->
    <!-- <addedit-newsletter [newsletter]="newsletter"></addedit-newsletter> -->
  <!-- </div> -->

  <div class="evo-btn-row">
    <button *ngIf="!showSave" class="evo-btn blue" (click)="showSave = true">{{'FINALIZEBTN' | translate}}</button>
    <div *ngIf="showSave">
      <button *ngIf="!newsletter.Id && showSave" [disabled]="!newsletter.Subject || !newsletter.MailLists.length" (click)="create()"
        class="evo-btn pull-right">{{'CREATEBTN' | translate}}</button>
      <button *ngIf="newsletter.Id && showSave" [disabled]="!newsletter.Subject || !newsletter.MailLists.length" (click)="update()"
        class="evo-btn pull-right">{{'UPDATEBTN' | translate}}</button>
      <a class="evo-cancel-link pull-right" (click)="showSave = false">{{'BACKBTN' | translate}}</a>
    </div>
  </div>
</div>