<div class="row">
    <div *ngIf="inputs.bgcolor" class="col-xs-6">
        <div class="form-group">
            <label>{{'BACKGROUNDCOLOR' | translate}}</label><br>
            <template-colorpicker [styleObj]="block.Styles" [prop]="'background-color'"></template-colorpicker>
        </div>
    </div>
    <div *ngIf="inputs.align" class="col-xs-6">
        <div class="form-group">
            <label>{{'ALIGNMENT' | translate}}</label><br>
            <template-align [showJustify]="false" [styleObj]="block.Styles"></template-align>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            <label>{{'ICONSTYLE' | translate}}</label>
            <div class="clickable" (click)="$event.stopPropagation(); showIcons = true;">
                <img *ngFor="let icon of currentCollection.icons | slice:0:4" [src]="icon.src" />
            </div>
            <div *ngIf="showIcons">
                <div class="clickable" (click)="selectCollection($event, collection)" *ngFor="let collection of nonSelectedCollections">
                    <img *ngFor="let icon of collection.icons | slice:0:4" [src]="icon.src" />
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="inputs.spacing" class="col-xs-6">
        <div class="form-group">
            <label>{{'ICONSPACING' | translate}}</label><br>
            <template-plusminus [styleObj]="block" [prop]="'Spacing'" [max]="settings.IconSpacingMax" [min]="settings.IconSpacingMin"
                [step]="settings.IconSpacingStep" [unit]="'px'"></template-plusminus>
        </div>
    </div>
</div>
<div class="icon-collection">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label>{{'ICONCOLLECTION' | translate}}</label>
                <span (click)="iconPopup.open()" class="pull-right clickable">{{'ADDMORE' | translate}}</span>
                <div #iconPopup class="bubble-popup">
                    <div>
                        <div (click)="addIcon($event, icon)" *ngFor="let icon of nonSelectedIcons" [tooltip]="icon.type" class="popup-icons clickable">
                            <img class="popup-icon-img" [src]="icon.src" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngFor="let icon of block.Icons" class="part-container">
        <div class="row">
            <div class="col-xs-12">
                <img [src]="icon.ImgSrc" />
                <span class="icon-header">{{icon.SocialMedia}}</span>
                <a (click)="deleteIcon($event, icon)" class="pull-right"><i class="fa fa-trash-o"></i></a>
            </div>
        </div>
        <div class="row">
            <div *ngIf="inputs.url" class="col-xs-6">
                <div class="form-group">
                    <label>{{'URL' | translate}}</label>
                    <input [(ngModel)]="icon.LinkUrl" class="form-control">
                </div>
            </div>
            <div *ngIf="inputs.alt" class="col-xs-6">
                <div class="form-group">
                    <label>{{'ALTTEXT' | translate}}</label>
                    <input [(ngModel)]="icon.AltText" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>
<template-padding-styling *ngIf="inputs.padding" [styleObj]="block.Styles" [settings]="settings"></template-padding-styling>
<template-border-styling *ngIf="inputs.border" [styleObj]="block.Styles" [settings]="settings"></template-border-styling>