<div class="tab-container">
  <span (click)="activeTab = 'Table'" class="tab-headline" [class.active]="activeTab === 'Table' || !activeTab">{{'TABLE' | translate}}</span>
  <span (click)="activeTab = 'Rows'" class="tab-headline" [class.active]="activeTab === 'Rows'">{{'ROWS' | translate}}</span>
  <span (click)="activeTab = 'Columns'" class="tab-headline" [class.active]="activeTab === 'Columns'">{{'COLUMNS' | translate}}</span>
</div>
<!-- TABLE -->
<div *ngIf="activeTab === 'Table'">
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label>{{'BACKGROUNDCOLOR' | translate}}</label><br>
        <template-colorpicker [styleObj]="block.TableBlock.ContentStyles" [prop]="'background-color'"></template-colorpicker>
      </div>
    </div>
    <div *ngIf="inputs.tabalign" class="col-xs-6">
      <div class="form-group">
        <label>{{'TABLEALIGNMENT' | translate}}</label><br>
        <template-align [styleObj]="block.TableBlock" [prop]="'TableAlign'" [showJustify]="false"></template-align>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label>{{'WIDTH' | translate}}</label><br>
        <template-plusminus [styleObj]="block.TableBlock.ContentStyles" [prop]="'width'" [max]="settings.WidthPercentMax" [min]="settings.WidthPercentMin"
          [step]="settings.WidthPercentStep" [unit]="'%'"></template-plusminus>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="inputs.tabfont" class="col-xs-6">
      <div class="form-group">
        <label>{{'FONT' | translate}}</label><br>
        <template-quickselect [styleObj]="block.Styles" [prop]="'font-family'" [items]="settings.Fonts" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
      </div>
    </div>
    <div *ngIf="inputs.tabfontsize" class="col-xs-6">
      <div class="form-group">
        <label>{{'FONTSIZE' | translate}}</label><br>
        <template-quickselect [styleObj]="block.Styles" [prop]="'font-size'" [items]="settings.FontSizes" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="inputs.tabfontcolor" class="col-xs-6">
      <div class="form-group">
        <label>{{'FONTCOLOR' | translate}}</label><br>
        <template-colorpicker [styleObj]="block.Styles" [prop]="'color'" [fallbackColor]="'#000'"></template-colorpicker>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label>{{'TEXTSTYLE' | translate}}</label><br>
        <template-text-style [styleObj]="block.Styles"></template-text-style>
      </div>
    </div>
  </div>
  <template-padding-styling [styleObj]="block.ContentStyles" [settings]="settings"></template-padding-styling>
  <template-border-styling [styleObj]="block.ContentStyles" [settings]="settings"></template-border-styling>
</div>
<!-- ROWS -->
<div *ngIf="activeTab === 'Rows'">
  <div *ngFor="let row of block.TableBlock.Cells; let i = index" class="part-container">
    <div class="row">
      <div class="col-xs-12">
        {{'ROW' | translate}} {{i + 1}}
        <a class="product-column-icons pull-right" (click)="$event.stopPropagation(); block.TableBlock.Cells.splice(i, 1)"><i class="fa fa-trash-o"></i></a>
        <a class="product-column-icons pull-right" (click)="add($event, i, 'row')"><i class="fa fa-plus"></i></a>
        <a class="product-column-icons pull-right" (click)="move($event, false, i, 'row')" *ngIf="block.TableBlock.Cells.length !== (i + 1)"><i class="fa fa-arrow-down"></i></a>
        <a class="product-column-icons pull-right" (click)="move($event, true, i, 'row')" *ngIf="i > 0"><i class="fa fa-arrow-up"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label>{{'BACKGROUNDCOLOR' | translate}}</label><br>
          <template-colorpicker [styleObj]="row.Styles" [prop]="'background-color'"></template-colorpicker>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label>{{'FONT' | translate}}</label><br>
          <template-quickselect [styleObj]="row.Styles" [prop]="'font-family'" [items]="settings.Fonts" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label>{{'FONTSIZE' | translate}}</label><br>
          <template-quickselect [styleObj]="row.Styles" [prop]="'font-size'" [items]="settings.FontSizes" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label>{{'FONTCOLOR' | translate}}</label><br>
          <template-colorpicker [styleObj]="row.Styles" [prop]="'color'" [fallbackColor]="'#000'"></template-colorpicker>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label>{{'TEXTSTYLE' | translate}}</label><br>
          <template-text-style [styleObj]="row.Styles"></template-text-style>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- COLUMNS -->
<div *ngIf="activeTab === 'Columns'">
  <div *ngFor="let col of block.Columns; let i = index" class="part-container">
    <div class="row">
      <div class="col-xs-12">
        {{'COLUMN' | translate}} {{i + 1}}
        <a class="product-column-icons pull-right" (click)="$event.stopPropagation(); block.Columns.splice(i, 1)"><i class="fa fa-trash-o"></i></a>
        <a class="product-column-icons pull-right" (click)="add($event, i)"><i class="fa fa-plus"></i></a>
        <a class="product-column-icons pull-right" (click)="move($event, false, i, 'Columns')" *ngIf="block.Columns.length !== (i + 1)"><i class="fa fa-arrow-down"></i></a>
        <a class="product-column-icons pull-right" (click)="move($event, true, i, 'Columns')" *ngIf="i > 0"><i class="fa fa-arrow-up"></i></a>
      </div>
    </div>
    <div *ngIf="showMoreColumns[i]">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label>{{'WIDTHRATIO' | translate}}</label>
            <template-plusminus [styleObj]="col" [prop]="'WidthRatio'" [max]="settings.ColSpanMax" [min]="settings.ColSpanMin" [step]="settings.ColSpanStep"></template-plusminus>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label>{{'CELLALIGN' | translate}}</label><br>
            <template-align [styleObj]="col" [prop]="'CellAlign'" [showJustify]="false"></template-align>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label>{{'BACKGROUNDCOLOR' | translate}}</label><br>
            <template-colorpicker [styleObj]="col.Styles" [prop]="'background-color'"></template-colorpicker>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label>{{'FONT' | translate}}</label><br>
            <template-quickselect [styleObj]="col.Styles" [prop]="'font-family'" [items]="settings.Fonts" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label>{{'FONTSIZE' | translate}}</label><br>
            <template-quickselect [styleObj]="col.Styles" [prop]="'font-size'" [items]="settings.FontSizes" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label>{{'FONTCOLOR' | translate}}</label><br>
            <template-colorpicker [styleObj]="col.Styles" [prop]="'color'" [fallbackColor]="'#000'"></template-colorpicker>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label>{{'TEXTSTYLE' | translate}}</label><br>
            <template-text-style [styleObj]="col.Styles"></template-text-style>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>