<div class="row">
    <div *ngIf="inputs.bgcolor" class="col-xs-6">
        <div class="form-group">
            <label>{{'BACKGROUNDCOLOR' | translate}}</label><br>
            <template-colorpicker [styleObj]="block.Styles" [prop]="'background-color'"></template-colorpicker>
        </div>
    </div>
    <div *ngIf="inputs.align" class="col-xs-6">
        <div class="form-group">
            <label>{{'ALIGNMENT' | translate}}</label><br>
            <template-align [styleObj]="block.Styles" [showJustify]="false"></template-align>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label>{{'IMAGE' | translate}}</label>
            <div *ngIf="!block.ImageFile">
                <a (click)="fileInput.click()"><i class="fa fa-upload"></i> {{'UPLOADFILE' | translate}}</a>
            </div>
            <div *ngIf="block.ImageFile">
                <p><i class="fa fa-picture-o"></i> {{block.ImageFile.Name}}<a (click)="deleteFile(block.ImageFile.Id)" class="pull-right"><i class="fa fa-trash-o"></i></a></p>
                <a (click)="fileInput.click()">{{'CHANGEFILE' | translate}}</a>
            </div>
            <input #fileInput id="imageFile" name="file" accept="image/*" (change)="addFile($event.target.files)" type="file" class="invisible"
            />
            <img *ngIf="fileProcessing" style="width: 24px; display: block;" src="assets/images/preloader1.gif" />
        </div>
    </div>
</div>
<div class="row">
    <div *ngIf="inputs.alt" class="col-xs-6">
        <div class="form-group">
            <label>{{'ALTTEXT' | translate}}</label>
            <input class="form-control" [(ngModel)]="block.AltText">
        </div>
    </div>
    <div *ngIf="inputs.url" class="col-xs-6 form-group">
        <label>{{'URL' | translate}}</label><br>
        <input class="form-control" [(ngModel)]="block.LinkUrl" />
    </div>
</div>
<hr>
<div class="row">
    <div *ngIf="inputs.width" class="col-xs-6">
        <div class="form-group">
            <label>{{'WIDTH' | translate}}</label>
            <template-plusminus [styleObj]="block" [prop]="'Width'" [max]="settings.ImageWidthMax" [min]="settings.ImageWidthMin"
                [step]="settings.ImageWidthStep"></template-plusminus>
        </div>
    </div>
    <div *ngIf="inputs.height" class="col-xs-6">
        <div class="form-group">
            <label>{{'HEIGHT' | translate}}</label>
            <template-plusminus [styleObj]="block" [prop]="'Height'" [max]="settings.ImageHeightMax" [min]="settings.ImageHeightMin"
                [step]="settings.ImageHeightStep"></template-plusminus>
        </div>
    </div>
</div>
<template-padding-styling *ngIf="inputs.padding" [styleObj]="block.Styles" [settings]="settings"></template-padding-styling>
<template-border-styling *ngIf="inputs.border" [styleObj]="block.Styles" [settings]="settings"></template-border-styling>