<div class="tab-container">
  <span (click)="activeTab = 'Styles'" class="tab-headline" [class.active]="activeTab === 'Styles' || !activeTab">{{'STYLES' | translate}}</span>
  <span (click)="activeTab = 'Rows'" class="tab-headline" [class.active]="activeTab === 'Rows'">{{'ROWS' | translate}}</span>
</div>
<div *ngIf="activeTab === 'Styles'">
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label>{{'BACKGROUNDCOLOR' | translate}}</label><br>
        <template-colorpicker [styleObj]="block.AddressBlock.ContentStyles" [prop]="'background-color'"></template-colorpicker>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label>{{'FONT' | translate}}</label><br>
        <template-quickselect [styleObj]="block.Styles" [prop]="'font-family'" [items]="settings.Fonts" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label>{{'FONTSIZE' | translate}}</label><br>
        <template-quickselect [styleObj]="block.Styles" [prop]="'font-size'" [items]="settings.FontSizes" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label>{{'FONTCOLOR' | translate}}</label><br>
        <template-colorpicker [styleObj]="block.Styles" [prop]="'color'" [fallbackColor]="'#000'"></template-colorpicker>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label>{{'TEXTSTYLE' | translate}}</label><br>
        <template-text-style [styleObj]="block.Styles"></template-text-style>
      </div>
    </div>
  </div>
  <template-border-styling [styleObj]="block.AddressBlock.ContentStyles" [settings]="settings"></template-border-styling>
</div>

<!-- ROWS -->
<div *ngIf="activeTab === 'Rows'">
  <template-padding-styling [styleObj]="block.AddressBlock.Rows[0].Styles" [settings]="settings" (valueChange)="changeRowPadding($event)"></template-padding-styling>
  <div *ngFor="let row of block.AddressBlock.Rows; let i = index" class="part-container">
    <div class="row">
      <div class="col-xs-12">
        {{'ROW' | translate}} {{i + 1}}
        <a class="product-column-icons pull-right" (click)="$event.stopPropagation(); block.AddressBlock.Rows.splice(i, 1)"><i class="fa fa-trash-o"></i></a>
        <a class="product-column-icons pull-right" (click)="add($event, i)"><i class="fa fa-plus"></i></a>
        <a class="product-column-icons pull-right" (click)="move($event, false, i)" *ngIf="block.AddressBlock.Rows.length !== (i + 1)"><i class="fa fa-arrow-down"></i></a>
        <a class="product-column-icons pull-right" (click)="move($event, true, i)" *ngIf="i > 0"><i class="fa fa-arrow-up"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label>                                
            <span class="clickable" (click)="quickselect.toggleQuickSelectBox()">{{ row.IsManual ? rowInputTypes[0].label : rowInputTypes[1].label }}</span>
          </label>
          <quickselect #quickselect [items]="rowInputTypes" displayProperty="label" (select)="changeInputType($event, i)"></quickselect>
          <chosen *ngIf="!row.IsManual" id="colTitle" class="multichosen" [width]="'100%'" [multiple]="true" [options]="totalFields"
            [(ngModel)]="row.Fields"></chosen>
          <input *ngIf="row.IsManual" class="form-control" [(ngModel)]="row.Field" />
        </div>
      </div>
    </div>
    <div (click)="$event.stopPropagation(); showMoreRows[i] = !showMoreRows[i]">
      <div *ngIf="!showMoreRows[i]" class="pull-right clickable">{{'SHOWMORE' | translate}}</div>
      <div *ngIf="showMoreRows[i]" class="pull-right clickable">{{'HIDE' | translate}}</div>
      <div class="clearfix"></div>
    </div>
    <div *ngIf="showMoreRows[i]">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label>{{'FONT' | translate}}</label><br>
            <template-quickselect [styleObj]="row.Styles" [prop]="'font-family'" [items]="settings.Fonts" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label>{{'FONTSIZE' | translate}}</label><br>
            <template-quickselect [styleObj]="row.Styles" [prop]="'font-size'" [items]="settings.FontSizes" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label>{{'FONTCOLOR' | translate}}</label><br>
            <template-colorpicker [styleObj]="row.Styles" [prop]="'color'" [fallbackColor]="'#000'"></template-colorpicker>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label>{{'TEXTSTYLE' | translate}}</label><br>
            <template-text-style [styleObj]="row.Styles"></template-text-style>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>