<div class="row">
    <div *ngIf="inputs.bgcolor" class="col-xs-6">
        <div class="form-group">
            <label>{{'BACKGROUNDCOLOR' | translate}}</label><br>
            <template-colorpicker [styleObj]="block.Styles" [prop]="'background-color'"></template-colorpicker>
        </div>
    </div>
    <div *ngIf="inputs.align" class="col-xs-6">
        <div class="form-group">
            <label>{{'ALIGNMENT' | translate}}</label><br>
            <template-align [styleObj]="block.Styles"></template-align>
        </div>
    </div>
</div>
<div class="row">
    <div *ngIf="inputs.font" class="col-xs-6">
        <div class="form-group">
            <label>{{'FONT' | translate}}</label><br>
            <template-quickselect [styleObj]="block.Styles" [prop]="'font-family'" [items]="settings.Fonts" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
        </div>
    </div>
    <div *ngIf="inputs.fontsize" class="col-xs-6">
        <div class="form-group">
            <label>{{'FONTSIZE' | translate}}</label><br>
            <template-quickselect [styleObj]="block.Styles" [prop]="'font-size'" [items]="settings.FontSizes" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
        </div>
    </div>
</div>
<div class="row">
    <div *ngIf="inputs.fontcolor" class="col-xs-6">
        <div class="form-group">
            <label>{{'FONTCOLOR' | translate}}</label><br>
            <template-colorpicker [styleObj]="block.Styles" [prop]="'color'" [fallbackColor]="'#000'"></template-colorpicker>
        </div>
    </div>
    <div class="col-xs-6">
    </div>
</div>
<template-link *ngIf="inputs.link" [styleObj]="block.LinkStyles" (linkChange)="linkChange('normal', $event)"></template-link>
<!-- <template-link-hover [styleObj]="block.LinkStyles" (linkChange)="linkChange('hover', $event)"></template-link-hover> -->
<template-padding-styling *ngIf="inputs.padding" [styleObj]="block.Styles" [settings]="settings"></template-padding-styling>
<template-border-styling *ngIf="inputs.border" [styleObj]="block.Styles" [settings]="settings"></template-border-styling>