<div class="tab-container">
  <span (click)="activeTab = 'ProductTable'" class="tab-headline" [class.active]="activeTab === 'ProductTable' || !activeTab">{{'PRODUCTTABLE' | translate}}</span>
  <span (click)="activeTab = 'TotalTable'" class="tab-headline" [class.active]="activeTab === 'TotalTable'">{{'TOTALTABLE' | translate}}</span>
</div>
<!-- TABLE -->
<div *ngIf="activeTab === 'ProductTable' || !activeTab">
  <div (click)="setShowStyle($event, 'table', 'product')" class="styling-drop-menu clickable">
    <i *ngIf="productShow !== 'table'" class="fa fa-fw fa-caret-right"></i>
    <i *ngIf="productShow === 'table'" class="fa fa-fw fa-caret-down"></i> &nbsp;{{'TABLE' | translate}}
  </div>
  <div *ngIf="productShow === 'table'">
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label>{{'BACKGROUNDCOLOR' | translate}}</label><br>
          <template-colorpicker [styleObj]="block.ProductStyles.TableStyles" [prop]="'background-color'"></template-colorpicker>
        </div>
      </div>
      <div *ngIf="inputs.tabalign" class="col-xs-6">
        <div class="form-group">
          <label>{{'TABLEALIGNMENT' | translate}}</label><br>
          <template-align [styleObj]="block.ProductStyles" [prop]="'TableAlign'" [showJustify]="false"></template-align>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label>{{'WIDTH' | translate}}</label><br>
          <template-plusminus [styleObj]="block.ProductStyles.TableStyles" [prop]="'width'" [max]="settings.WidthPercentMax" [min]="settings.WidthPercentMin"
            [step]="settings.WidthPercentStep" [unit]="'%'"></template-plusminus>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label>{{'HEIGHT' | translate}}</label>
          <div [class.selected]="block.ProductStyles.TableStyles['table-height'] === 'full'" class="product-height-container" (click)="setTableHeight('full')">
            {{'FULLHEIGHT' | translate}}
          </div>
          <div [class.selected]="block.ProductStyles.TableStyles['table-height'] === 'actual'" class="product-height-container" (click)="setTableHeight('actual')">
            {{'ACTUALHEIGHT' | translate}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngIf="inputs.tabfont" class="col-xs-6">
        <div class="form-group">
          <label>{{'FONT' | translate}}</label><br>
          <template-quickselect [styleObj]="block.ProductStyles.TableStyles" [prop]="'font-family'" [items]="settings.Fonts" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
        </div>
      </div>
      <div *ngIf="inputs.tabfontsize" class="col-xs-6">
        <div class="form-group">
          <label>{{'FONTSIZE' | translate}}</label><br>
          <template-quickselect [styleObj]="block.ProductStyles.TableStyles" [prop]="'font-size'" [items]="settings.FontSizes" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngIf="inputs.tabfontcolor" class="col-xs-6">
        <div class="form-group">
          <label>{{'FONTCOLOR' | translate}}</label><br>
          <template-colorpicker [styleObj]="block.ProductStyles.TableStyles" [prop]="'color'" [fallbackColor]="'#000'"></template-colorpicker>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label>{{'TEXTSTYLE' | translate}}</label><br>
          <template-text-style [styleObj]="block.ProductStyles.TableStyles"></template-text-style>
        </div>
      </div>
    </div>
    <!-- <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label>{{'TABLEBORDERSTYLE'}}</label>
        <template-table-border [type]="Product" [selected]="block.ProductStyles.TableStyles['selected-border']" (selectedChange)="borderChange($event)"></template-table-border>
      </div>
    </div>
  </div> -->
    <template-padding-styling [styleObj]="block.ProductStyles.TableStyles" [settings]="settings"></template-padding-styling>
    <template-border-styling *ngIf="inputs.tabborder" [styleObj]="block.ProductStyles.TableStyles" [settings]="settings"></template-border-styling>
  </div>
  <!-- ROW -->
  <div (click)="setShowStyle($event, 'row', 'product')" class="styling-drop-menu clickable">
    <i *ngIf="productShow !== 'row'" class="fa fa-fw fa-caret-right"></i>
    <i *ngIf="productShow === 'row'" class="fa fa-fw fa-caret-down"></i> &nbsp;{{'HEADERROW' | translate}}
  </div>
  <div *ngIf="productShow === 'row'">
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label>{{'BACKGROUNDCOLOR' | translate}}</label><br>
          <template-colorpicker [styleObj]="block.ProductStyles.HeaderRowStyles" [prop]="'background-color'"></template-colorpicker>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngIf="inputs.rowfont" class="col-xs-6">
        <div class="form-group">
          <label>{{'FONT' | translate}}</label><br>
          <template-quickselect [styleObj]="block.ProductStyles.HeaderRowStyles" [prop]="'font-family'" [items]="settings.Fonts" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
        </div>
      </div>
      <div *ngIf="inputs.rowfontsize" class="col-xs-6">
        <div class="form-group">
          <label>{{'FONTSIZE' | translate}}</label><br>
          <template-quickselect [styleObj]="block.ProductStyles.HeaderRowStyles" [prop]="'font-size'" [items]="settings.FontSizes"
            [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngIf="inputs.rowfontcolor" class="col-xs-6">
        <div class="form-group">
          <label>{{'FONTCOLOR' | translate}}</label><br>
          <template-colorpicker [styleObj]="block.ProductStyles.HeaderRowStyles" [prop]="'color'" [fallbackColor]="'#000'"></template-colorpicker>
        </div>
      </div>
      <div *ngIf="inputs.rowtextstyle" class="col-xs-6">
        <div class="form-group">
          <label>{{'TEXTSTYLE' | translate}}</label><br>
          <template-text-style [styleObj]="block.ProductStyles.HeaderRowStyles"></template-text-style>
        </div>
      </div>
    </div>
    <template-border-styling [styleObj]="block.ProductStyles.HeaderRowStyles" [settings]="settings"></template-border-styling>
  </div>
  <!-- COLUMNS-->
  <div (click)="setShowStyle($event, 'column', 'product')" class="styling-drop-menu clickable">
    <i *ngIf="productShow !== 'column'" class="fa fa-fw fa-caret-right"></i>
    <i *ngIf="productShow === 'column'" class="fa fa-fw fa-caret-down"></i> &nbsp;{{'COLUMNS' | translate}}
  </div>
  <div *ngIf="productShow === 'column'">
    <div *ngFor="let col of block.Columns; let i = index" class="part-container">
      <div class="row">
        <div class="col-xs-12">
          {{'COLUMN' | translate}} {{i + 1}}
          <a class="product-column-icons pull-right" (click)="$event.stopPropagation(); block.Columns.splice(i, 1)"><i class="fa fa-trash-o"></i></a>
          <a class="product-column-icons pull-right" (click)="add($event, i)"><i class="fa fa-plus"></i></a>
          <a class="product-column-icons pull-right" (click)="move($event, false, i, 'Columns')" *ngIf="block.Columns.length !== (i + 1)"><i class="fa fa-arrow-down"></i></a>
          <a class="product-column-icons pull-right" (click)="move($event, true, i, 'Columns')" *ngIf="i > 0"><i class="fa fa-arrow-up"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label>{{'TITLE' | translate}}</label>
            <input class="form-control" [(ngModel)]="col.Title" />
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label>{{'FIELD' | translate}}</label>
            <chosen id="colTitle" [width]="'100%'" class="multichosen" [multiple]="true" [options]="productFields" [(ngModel)]="col.Fields"></chosen>
          </div>
        </div>
      </div>
      <div (click)="$event.stopPropagation(); showMoreColumns[i] = !showMoreColumns[i]">
        <div *ngIf="!showMoreColumns[i]" class="pull-right clickable">{{'SHOWMORE' | translate}}</div>
        <div *ngIf="showMoreColumns[i]" class="pull-right clickable">{{'HIDE' | translate}}</div>
        <div class="clearfix"></div>
      </div>
      <div *ngIf="showMoreColumns[i]">
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label>{{'WIDTHRATIO' | translate}}</label>
              <template-plusminus [styleObj]="col" [prop]="'WidthRatio'" [max]="settings.ColSpanMax" [min]="settings.ColSpanMin" [step]="settings.ColSpanStep"></template-plusminus>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>{{'CELLALIGN' | translate}}</label><br>
              <template-align [styleObj]="col" [prop]="'CellAlign'" [showJustify]="false"></template-align>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label>{{'BACKGROUNDCOLOR' | translate}}</label><br>
              <template-colorpicker [styleObj]="col.Styles" [prop]="'background-color'"></template-colorpicker>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label>{{'FONT' | translate}}</label><br>
              <template-quickselect [styleObj]="col.Styles" [prop]="'font-family'" [items]="settings.Fonts" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>{{'FONTSIZE' | translate}}</label><br>
              <template-quickselect [styleObj]="col.Styles" [prop]="'font-size'" [items]="settings.FontSizes" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label>{{'FONTCOLOR' | translate}}</label><br>
              <template-colorpicker [styleObj]="col.Styles" [prop]="'color'" [fallbackColor]="'#000'"></template-colorpicker>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>{{'TEXTSTYLE' | translate}}</label><br>
              <template-text-style [styleObj]="col.Styles"></template-text-style>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- TOTAL -->
<div *ngIf="activeTab === 'TotalTable'">
  <div (click)="setShowStyle($event, 'table', 'total')" class="styling-drop-menu clickable">
    <i *ngIf="totalShow !== 'table'" class="fa fa-fw fa-caret-right"></i>
    <i *ngIf="totalShow === 'table'" class="fa fa-fw fa-caret-down"></i> &nbsp;{{'TABLE' | translate}}
  </div>
  <div *ngIf="totalShow === 'table'">
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label>{{'BACKGROUNDCOLOR' | translate}}</label><br>
          <template-colorpicker [styleObj]="block.ProductStyles.TotalTableStyles" [prop]="'background-color'"></template-colorpicker>
        </div>
      </div>
      <div *ngIf="inputs.tabalign" class="col-xs-6">
        <div class="form-group">
          <label>{{'TABLEALIGNMENT' | translate}}</label><br>
          <template-align [styleObj]="block.ProductStyles" [prop]="'TableAlign'" [showJustify]="false"></template-align>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label>{{'WIDTH' | translate}}</label><br>
          <template-plusminus [styleObj]="block.ProductStyles.TotalTableStyles" [prop]="'width'" [max]="settings.WidthPercentMax" [min]="settings.WidthPercentMin"
            [step]="settings.WidthPercentStep" [unit]="'%'"></template-plusminus>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label>{{'MARGINTOP' | translate}}</label>
          <template-plusminus [styleObj]="block.ProductStyles.TotalTableStyles" [prop]="'margin-top'" [max]="settings.MarginTopMax"
            [min]="settings.MarginTopMin" [step]="settings.MarginTopStep" [unit]="'px'"></template-plusminus>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngIf="inputs.tabfont" class="col-xs-6">
        <div class="form-group">
          <label>{{'FONT' | translate}}</label><br>
          <template-quickselect [styleObj]="block.ProductStyles.TotalTableStyles" [prop]="'font-family'" [items]="settings.Fonts" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
        </div>
      </div>
      <div *ngIf="inputs.tabfontsize" class="col-xs-6">
        <div class="form-group">
          <label>{{'FONTSIZE' | translate}}</label><br>
          <template-quickselect [styleObj]="block.ProductStyles.TotalTableStyles" [prop]="'font-size'" [items]="settings.FontSizes"
            [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngIf="inputs.tabfontcolor" class="col-xs-6">
        <div class="form-group">
          <label>{{'FONTCOLOR' | translate}}</label><br>
          <template-colorpicker [styleObj]="block.ProductStyles.TotalTableStyles" [prop]="'color'" [fallbackColor]="'#000'"></template-colorpicker>
        </div>
      </div>
      <div class="col-xs-6">
      </div>
    </div>
    <!-- <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label>{{'TABLEBORDERSTYLE'}}</label>
        <template-table-border [type]="Product" [selected]="block.ProductStyles.TableStyles['selected-border']" (selectedChange)="borderChange($event)"></template-table-border>
      </div>
    </div>
  </div> -->
    <template-padding-styling [styleObj]="block.ProductStyles.TotalTableStyles" [settings]="settings"></template-padding-styling>
    <template-border-styling *ngIf="inputs.tabborder" [styleObj]="block.ProductStyles.TotalTableStyles" [settings]="settings"></template-border-styling>
  </div>

  <!-- ROWS -->
  <div (click)="setShowStyle($event, 'rows', 'total')" class="styling-drop-menu clickable">
    <i *ngIf="totalShow !== 'rows'" class="fa fa-fw fa-caret-right"></i>
    <i *ngIf="totalShow === 'rows'" class="fa fa-fw fa-caret-down"></i> &nbsp;{{'ROWS' | translate}}
  </div>
  <div *ngIf="totalShow === 'rows'">
    <div *ngFor="let row of block.SumRows; let i = index" class="part-container">
      <div class="row">
        <div class="col-xs-12">
          {{'ROW' | translate}} {{i + 1}}
          <a class="product-column-icons pull-right" (click)="$event.stopPropagation(); block.SumRows.splice(i, 1)"><i class="fa fa-trash-o"></i></a>
          <a class="product-column-icons pull-right" (click)="add($event, i, 'SumRow')"><i class="fa fa-plus"></i></a>
          <a class="product-column-icons pull-right" (click)="move($event, false, i, 'SumRows')" *ngIf="block.SumRows.length !== (i + 1)"><i class="fa fa-arrow-down"></i></a>
          <a class="product-column-icons pull-right" (click)="move($event, true, i, 'SumRows')" *ngIf="i > 0"><i class="fa fa-arrow-up"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label>{{'TITLE' | translate}}</label>
            <input class="form-control" [(ngModel)]="row.Title" />
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label>{{'FIELD' | translate}}</label>
            <chosen id="colTitle" class="multichosen" [width]="'100%'" [multiple]="true" [options]="totalFields" [(ngModel)]="row.Fields"></chosen>
          </div>
        </div>
      </div>
      <div (click)="$event.stopPropagation(); showMoreRows[i] = !showMoreRows[i]">
        <div *ngIf="!showMoreRows[i]" class="pull-right clickable">{{'SHOWMORE' | translate}}</div>
        <div *ngIf="showMoreRows[i]" class="pull-right clickable">{{'HIDE' | translate}}</div>
        <div class="clearfix"></div>
      </div>
      <div *ngIf="showMoreRows[i]">
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label>{{'BACKGROUNDCOLOR' | translate}}</label><br>
              <template-colorpicker [styleObj]="row.Styles" [prop]="'background-color'"></template-colorpicker>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label>{{'FONT' | translate}}</label><br>
              <template-quickselect [styleObj]="row.Styles" [prop]="'font-family'" [items]="settings.Fonts" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>{{'FONTSIZE' | translate}}</label><br>
              <template-quickselect [styleObj]="row.Styles" [prop]="'font-size'" [items]="settings.FontSizes" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label>{{'FONTCOLOR' | translate}}</label><br>
              <template-colorpicker [styleObj]="row.Styles" [prop]="'color'" [fallbackColor]="'#000'"></template-colorpicker>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>{{'TEXTSTYLE' | translate}}</label><br>
              <template-text-style [styleObj]="row.Styles"></template-text-style>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- COLUMNS -->
  <div (click)="setShowStyle($event, 'columns', 'total')" class="styling-drop-menu clickable">
    <i *ngIf="totalShow !== 'columns'" class="fa fa-fw fa-caret-right"></i>
    <i *ngIf="totalShow === 'columns'" class="fa fa-fw fa-caret-down"></i> &nbsp;{{'COLUMNS' | translate}}
  </div>
  <div *ngIf="totalShow === 'columns'">
    <div *ngFor="let col of ['Left', 'Right']" class="part-container">
      <div class="row">
        <div class="col-xs-12">
          {{ col.toUpperCase() + 'COLUMN' | translate }}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label>{{'BACKGROUNDCOLOR' | translate}}</label><br>
            <template-colorpicker [styleObj]="block.ProductStyles[col + 'ColumnStyles']" [prop]="'background-color'"></template-colorpicker>
          </div>
        </div>
        <div *ngIf="inputs.tabalign" class="col-xs-6">
          <div class="form-group">
            <label>{{'COLUMNALIGNMENT' | translate}}</label><br>
            <template-align [styleObj]="block.ProductStyles[col + 'ColumnStyles']" [showJustify]="false"></template-align>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label>{{'FONT' | translate}}</label><br>
            <template-quickselect [styleObj]="block.ProductStyles[col + 'ColumnStyles']" [prop]="'font-family'" [items]="settings.Fonts"
              [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label>{{'FONTSIZE' | translate}}</label><br>
            <template-quickselect [styleObj]="block.ProductStyles[col + 'ColumnStyles']" [prop]="'font-size'" [items]="settings.FontSizes"
              [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label>{{'FONTCOLOR' | translate}}</label><br>
            <template-colorpicker [styleObj]="block.ProductStyles[col + 'ColumnStyles']" [prop]="'color'" [fallbackColor]="'#000'"></template-colorpicker>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label>{{'TEXTSTYLE' | translate}}</label><br>
            <template-text-style [styleObj]="block.ProductStyles[col + 'ColumnStyles']"></template-text-style>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>