<div class="row">
    <div *ngIf="inputs.bgcolor" class="col-xs-6">
        <div class="form-group">
            <label>{{'BACKGROUNDCOLOR' | translate}}</label><br>
            <template-colorpicker [styleObj]="block.Styles" [prop]="'background-color'"></template-colorpicker>
        </div>
    </div>
</div>
<div class="row">
    <div *ngIf="inputs.font" class="col-xs-6">
        <div class="form-group">
            <label>{{'FONT' | translate}}</label>
            <chosen id="fontfamily" labelHtml="true" [(ngModel)]="block.Styles['font-family']" [width]="'100%'" [options]="settings.Fonts"></chosen>
        </div>
    </div>
    <div *ngIf="inputs.fontsize" class="col-xs-6">
        <div class="form-group">
            <label>{{'FONTSIZE' | translate}}</label>
            <chosen id="fontsize" [(ngModel)]="block.Styles['font-size']" [width]="'100%'" [options]="settings.FontSizes"></chosen>
        </div>
    </div>
</div>
<div class="row">
    <div *ngIf="inputs.fontcolor" class="col-xs-6">
        <div class="form-group">
            <label>{{'FONTCOLOR' | translate}}</label><br>
            <template-colorpicker [styleObj]="block.Styles" [prop]="'color'" [fallbackColor]="'#000'"></template-colorpicker>
        </div>
    </div>
    <div *ngIf="inputs.align" class="col-xs-6">
        <div class="form-group">
            <label>{{'ALIGNMENT' | translate}}</label><br>
            <template-align [styleObj]="block.Styles"></template-align>
        </div>
    </div>
</div>
<template-padding-styling *ngIf="inputs.padding" [styleObj]="block.Styles" [settings]="settings"></template-padding-styling>
<template-border-styling *ngIf="inputs.border" [styleObj]="block.Styles" [settings]="settings"></template-border-styling>