<template-border-styling *ngIf="inputs.border" [styleObj]="block.ContentStyles" [settings]="settings" onlyAll="true"></template-border-styling>
<div class="row">
    <div *ngIf="inputs.bradius" class="col-xs-6">
        <div class="form-group">
            <label>{{'BORDERRADIUS' | translate}}</label><br>
            <template-plusminus [styleObj]="block.ContentStyles" [prop]="'border-radius'" [max]="settings.BorderRadiusMax"
                [min]="settings.BorderRadiusMin" [step]="settings.BorderRadiusStep" [unit]="'px'"></template-plusminus>
        </div>
    </div>
</div>
<div class="row">
    <div *ngIf="inputs.bgcolor" class="col-xs-6">
        <div class="form-group">
            <label>{{'BACKGROUNDCOLOR' | translate}}</label><br>
            <template-colorpicker [styleObj]="block.Styles" [prop]="'background-color'"></template-colorpicker>
        </div>
    </div>
    <div *ngIf="inputs.width" class="col-xs-6">
        <div class="form-group">
            <label>{{'WIDTH' | translate}}</label>
            <template-plusminus [styleObj]="block.ContentStyles" [prop]="'width'" [max]="settings.DividerWidthMax" [min]="settings.DividerWidthMin"
                [step]="settings.DividerWidthStep" [unit]="'%'"></template-plusminus>
        </div>
    </div>
</div>
 <div class="row">
    <div *ngIf="inputs.align" class="col-xs-6">
        <div class="form-group">
            <label>{{'ALIGNMENT' | translate}}</label><br>
            <template-align [styleObj]="block.ContentStyles" [showJustify]="false" [isHr]="true"></template-align>
        </div>
    </div>
</div> 
<template-padding-styling *ngIf="inputs.padding" [styleObj]="block.Styles" [settings]="settings"></template-padding-styling>