<div class="row">
    <div *ngIf="inputs.font" class="col-xs-6">
        <div class="form-group">
            <label>{{'FONTFAMILY' | translate}}</label><br>
            <template-quickselect [styleObj]="block.Styles" [prop]="'font-family'" [items]="settings.Fonts" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
        </div>
    </div>
    <div *ngIf="inputs.fontsize" class="col-xs-6">
        <div class="form-group">
            <label>{{'FONTSIZE' | translate}}</label><br>
            <template-quickselect [styleObj]="block.Styles" [prop]="'font-size'" [items]="settings.FontSizes" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
        </div>
    </div>
</div>
<div class="row">
    <div *ngIf="inputs.fontcolor" class="col-xs-6">
        <div class="form-group">
            <label>{{'FONTCOLOR' | translate}}</label><br>
            <template-colorpicker [styleObj]="block.Styles" [prop]="'color'" [fallbackColor]="'#000'"></template-colorpicker>
        </div>
    </div>
    <div *ngIf="inputs.align" class="col-xs-6">
        <div class="form-group">
            <label>{{'ALIGNMENT' | translate}}</label><br>
            <template-align [styleObj]="block.Styles"></template-align>
        </div>
    </div>
</div>
<!--<div class="row">
                <div class="col-xs-6 form-group">
                    <label>{{'LINEHEIGHT' | translate}}</label><br>
                    <template-plusminus [styleObj]="currentTemplateBlock.Styles" [prop]="'line-height'" [max]="settings.LineHeightMax" [min]="settings.LineHeightMin"
                        [step]="settings.LineHeightStep" [unit]="'px'"></template-plusminus>
                </div>
            </div>-->

<div class="row">
    <div *ngIf="inputs.url" class="col-xs-12 form-group">
        <label>{{'URL' | translate}}</label><br>
        <input class="form-control" [(ngModel)]="block.Url" />
    </div>
</div>
<hr>
<div class="tab-container">
    <span (click)="onClickButtonTab('Content')" class="tab-headline" [class.active]="activeButtonTab === 'Content'">{{'CONTENTSTYLES' | translate}}</span>
    <span (click)="onClickButtonTab('Block')" class="tab-headline" [class.active]="activeButtonTab === 'Block'">{{'BLOCKSTYLES' | translate}}</span>
</div>
<!-- CONTENT -->
<div *ngIf="showContent">
    <div class="row">
        <div *ngIf="inputs.cbgcolor" class="col-xs-6">
            <div class="form-group">
                <label>{{'BACKGROUNDCOLOR' | translate}}</label><br>
                <template-colorpicker [styleObj]="block.ContentStyles" [prop]="'background-color'"></template-colorpicker>
            </div>
        </div>
        <div *ngIf="inputs.width" class="col-xs-6">
            <div class="form-group">
                <label>{{'WIDTH' | translate}}</label>
                <template-plusminus [styleObj]="block.ContentStyles" [prop]="'width'" [max]="settings.ButtonWidthMax" [min]="settings.ButtonWidthMin"
                    [step]="settings.ButtonWidthStep" [unit]="'%'"></template-plusminus>
            </div>
            <hr>
        </div>

    </div>
    <template-padding-styling *ngIf="inputs.cpadding" [styleObj]="block.ContentStyles" [settings]="settings"></template-padding-styling>
    <div class="row">
        <div *ngIf="inputs.style" class="col-xs-12">
            <div class="form-group">
                <label>{{'BUTTONSTYLE' | translate}}</label><br>
                <div [class.selected]="block.ContentStyles['border-radius'] === '0px'" class="button-style-container">
                    <span (click)="setButtonRadius('Straight')" style="margin-right: 5px" class="button-style">{{'CLICKME' | translate}}</span>
                </div>
                <div [class.selected]="block.ContentStyles['border-radius'] !== '0px'" class="button-style-container">
                    <span (click)="setButtonRadius('Rounded')" class="button-style round">{{'CLICKME' | translate}}</span>
                </div>
            </div>
        </div>
    </div>
    <template-border-styling *ngIf="inputs.cborder" [styleObj]="block.ContentStyles" [settings]="settings"></template-border-styling>
</div>

<!-- BLOCK -->
<div *ngIf="!showContent">
    <div class="row">
        <div *ngIf="inputs.bgcolor" class="col-xs-6">
            <div class="form-group">
                <label>{{'BACKGROUNDCOLOR' | translate}}</label><br>
                <template-colorpicker [styleObj]="block.Styles" [prop]="'background-color'"></template-colorpicker>
            </div>
        </div>
    </div>
    <template-padding-styling *ngIf="inputs.padding" [styleObj]="block.Styles" [settings]="settings"></template-padding-styling>
    <template-border-styling *ngIf="inputs.border" [styleObj]="block.Styles" [settings]="settings"></template-border-styling>
</div>