<div class="customPopup small systemActive" [class.big]="activeTab" id="addMaillist" (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title">
            <span *ngIf="!currentMailList.Id">{{ 'ADDMAILLIST' | translate }} </span>
            <span *ngIf="currentMailList.Id">{{ 'EDITMAILLIST' | translate }} </span>
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="row">
                <div class="col-sm-12" [class.col-sm-6]="activeTab">
                    <form #f="ngForm" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{'NAME' | translate}}</label>
                                    <input class="form-control" [(ngModel)]="currentMailList.Name" name="name" #name="ngModel" required/>
                                    <div [hidden]="name.untouched || name.valid" class="bg-danger">
                                        {{ 'REQ' | translate }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-6">
                            <div><i class="fa fa-industry fa-2x"></i></div>
                            <a *ngIf="showAdds" class="add-links" (click)="onClickTab('Company')"><i class="fa fa-plus"></i> {{'ADDCOMPANYFILTER' | translate}}</a><br>
                            <label class="customCheckBox" id="custome-check">
                                <input type="checkbox" id="allCompanies" [ngModel]="allCompanies" (ngModelChange)="onAllChange('Company', $event)" class="checker" name="allCompanies">
                                <div class="custonCkeck"></div>
                            </label>
                            <label for="allCompanies" class="clickable evo-cb-label">{{'ALLCOMPANIES' | translate}}</label>
                        </div>
                        <div class="col-md-6">
                            <div><i class="fa fa-user fa-2x"></i></div>
                            <a *ngIf="showAdds" class="add-links" (click)="onClickTab('Person')"><i class="fa fa-plus"></i> {{'ADDPERSONFILTER' | translate}}</a><br>
                            <label class="customCheckBox" id="custome-check">
                                <input type="checkbox" id="allPersons" [ngModel]="allPersons" (ngModelChange)="onAllChange('Person', $event)" class="checker" name="allPersons">
                                <div class="custonCkeck"></div>
                            </label>
                            <label for="allPersons" class="clickable evo-cb-label">{{'ALLPERSONS' | translate}}</label>
                        </div>
                    </div>
                    <div *ngIf="activeTab">
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>{{'MAILLISTFILTERS' | translate}}</h4>
                                <div class="filter-container" *ngIf="allCompanies">
                                    <p class="filter-header">{{'ALLCOMPANIESSELECTED' | translate}}
                                        <a class="pull-right" (click)="allCompanies = false; getRecipientCount();"><i class="fa fa-trash-o"></i></a>
                                    </p>
                                </div>
                                <div class="filter-container" *ngIf="companyFilter.Tags && companyFilter.Tags.length">
                                    <p class="filter-header">{{'COMPANIESWITHTAGS' | translate}}
                                        <a class="pull-right" (click)="deleteFilter(companyFilter, 'Tags')"><i class="fa fa-trash-o"></i></a>
                                    </p>
                                    <p *ngFor="let tag of companyFilter.Tags | slice:0:5;">{{tag}}</p>
                                    <div *ngIf="companyFilter.Tags.length > 5">
                                        <a (click)="companyTagPopup.open()">{{'SHOWALL' | translate}}</a>
                                        <div #companyTagPopup class="bubble-popup" [arrowPosition]="'left'">
                                            <div class="col-xs-6" *ngFor="let tag of companyFilter.Tags; let i = index">
                                                <span class="bubble-text">{{tag}}</span>
                                                <i (click)="companyFilter.Tags.splice(i, 1)" class="bubble-icon no-close pull-right fa fa-trash-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-container" *ngIf="companyFilter.AccountTypeId && companyFilter.AccountTypeId.length">
                                    <p class="filter-header">{{'COMPANIESWITHTYPE' | translate}}
                                        <a class="pull-right" (click)="deleteFilter(companyFilter, 'AccountTypeId')"><i class="fa fa-trash-o"></i></a>
                                    </p>
                                    <p *ngFor="let type of selectedCompanyAccountTypes | slice:0:5">{{type.label}}</p>
                                    <div *ngIf="selectedCompanyAccountTypes.length > 5">
                                        <a (click)="companyTypePopup.open()">{{'SHOWALL' | translate}}</a>
                                        <div #companyTypePopup class="bubble-popup" [arrowPosition]="'left'">
                                            <div class="col-xs-6" *ngFor="let type of selectedCompanyAccountTypes; let i = index">
                                                <span class="bubble-text">{{type.label}}</span>
                                                <i (click)="deleteAccountType('Company', type.value, i)" class="bubble-icon no-close pull-right fa fa-trash-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-container" *ngIf="currentMailList.CompanyIds.length">
                                    <p class="filter-header">{{'COMPANIESSELECTED' | translate}}:
                                        <a class="pull-right" (click)="deleteFilter(currentMailList, 'CompanyIds')"><i class="fa fa-trash-o"></i></a>
                                    </p>
                                    <p *ngFor="let comp of selectedCompanyAccounts | slice:0:5; let i = index">{{comp.label}}</p>
                                    <div *ngIf="currentMailList.CompanyIds.length > 5">
                                        <a (click)="companyIdPopup.open()">{{'SHOWALL' | translate}}</a>
                                        <div #companyIdPopup class="bubble-popup" [arrowPosition]="'left'">
                                            <div class="col-xs-6" *ngFor="let comp of selectedCompanyAccounts; let i = index">
                                                <span class="bubble-text">{{comp.label}}</span>
                                                <i (click)="deleteSelected('Company', comp.value, i)" class="bubble-icon no-close pull-right fa fa-trash-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-container" *ngIf="companyNonAccounts.length">
                                    <p class="filter-header">{{'NONREGISTEREDCOMPANIES' | translate}}
                                        <a class="pull-right" (click)="deleteFilter(companyNonAccounts)"><i class="fa fa-trash-o"></i></a>
                                    </p>
                                    <p *ngFor="let comp of companyNonAccounts | slice:0:5; let i = index">{{comp.OrganisationName}}</p>
                                    <div *ngIf="companyNonAccounts.length > 5">
                                        <a (click)="companyNonPopup.open()">{{'SHOWALL' | translate}}</a>
                                        <div #companyNonPopup class="bubble-popup bubble-container" [arrowPosition]="'right'">
                                            <div class="col-xs-6" *ngFor="let comp of companyNonAccounts; let i = index">
                                                <span class="bubble-text">{{comp.OrganisationName}}</span>
                                                <i (click)="companyNonAccounts.splice(i, 1)" class="bubble-icon no-close pull-right fa fa-trash-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="filter-container" *ngIf="allPersons">
                                    <p class="filter-header">{{'ALLPERSONSSELECTED' | translate}}
                                        <a class="pull-right" (click)="allPersons = false; getRecipientCount();"><i class="fa fa-trash-o"></i></a>
                                    </p>
                                </div>
                                <div class="filter-container" *ngIf="personFilter.Tags && personFilter.Tags.length">
                                    <p class="filter-header">{{'PERSONSWITHTAGS' | translate}}
                                        <a class="pull-right" (click)="deleteFilter(personFilter, 'Tags')"><i class="fa fa-trash-o"></i></a>
                                    </p>
                                    <p *ngFor="let tag of personFilter.Tags | slice:0:5;">{{tag}}</p>
                                    <div *ngIf="personFilter.Tags.length > 5">
                                        <a (click)="personTagPopup.open()">{{'SHOWALL' | translate}}</a>
                                        <div #personTagPopup class="bubble-popup" [arrowPosition]="'left'">
                                            <div class="col-xs-6" *ngFor="let tag of personFilter.Tags; let i = index">
                                                <span class="bubble-text">{{tag}}</span>
                                                <i (click)="personFilter.Tags.splice(i, 1)" class="bubble-icon no-close pull-right fa fa-trash-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-container" *ngIf="personFilter.AccountTypeId && personFilter.AccountTypeId.length">
                                    <p class="filter-header">{{'PERSONSWITHTYPE' | translate}}
                                        <a class="pull-right" (click)="deleteFilter(personFilter, 'AccountTypeId')"><i class="fa fa-trash-o"></i></a>
                                    </p>
                                    <p *ngFor="let type of selectedPersonAccountTypes | slice:0:5">{{type.label}}</p>
                                    <div *ngIf="selectedPersonAccountTypes.length > 5">
                                        <a (click)="personTypePopup.open()">{{'SHOWALL' | translate}}</a>
                                        <div #personTypePopup class="bubble-popup" [arrowPosition]="'left'">
                                            <div class="col-xs-6" *ngFor="let type of selectedPersonAccountTypes; let i = index">
                                                <span class="bubble-text">{{type.label}}</span>
                                                <i (click)="deleteAccountType('Person', type.value, i)" class="bubble-icon no-close pull-right fa fa-trash-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-container" *ngIf="currentMailList.PersonIds.length">
                                    <p class="filter-header">{{'PERSONSSELECTED' | translate}}
                                        <a class="pull-right" (click)="deleteFilter(currentMailList, 'PersonIds')"><i class="fa fa-trash-o"></i></a>
                                    </p>
                                    <p *ngFor="let pers of selectedPersonAccounts | slice:0:5; let i = index">{{pers.label}}</p>
                                    <div *ngIf="selectedPersonAccounts > 5">
                                        <a (click)="personIdPopup.open()">{{'SHOWALL' | translate}}</a>
                                        <div #personIdPopup class="bubble-popup" [arrowPosition]="'left'">
                                            <div class="col-xs-6" *ngFor="let per of selectedPersonAccounts; let i = index">
                                                <span class="bubble-text">{{per.label}}</span>
                                                <i (click)="deleteSelected('Person', per.value, i)" class="bubble-icon no-close pull-right fa fa-trash-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-container" *ngIf="personNonAccounts.length">
                                    <p class="filter-header">{{'NONREGISTEREDPERSONS' | translate}}
                                        <a class="pull-right" (click)="deleteFilter(personNonAccounts)"><i class="fa fa-trash-o"></i></a>
                                    </p>
                                    <p *ngFor="let pers of personNonAccounts | slice:0:5; let i = index">{{pers.FirstName + ' ' + pers.LastName}}</p>
                                    <div *ngIf="personNonAccounts.length > 5">
                                        <a (click)="personNonPopup.open()">{{'SHOWALL' | translate}}</a>
                                        <div #personyNonPopup class="bubble-popup bubble-container" [arrowPosition]="'right'">
                                            <div class="col-xs-6" *ngFor="let pers of personNonAccounts; let i = index">
                                                <span class="bubble-text">{{pers.FirstName + ' ' + pers.LastName}}</span>
                                                <i (click)="personNonAccounts.splice(i, 1)" class="bubble-icon no-close pull-right fa fa-trash-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div *ngIf="activeTab" class="tab-container">
                        <span (click)="onClickTab('Company')" class="tab-headline" [class.active]="activeTab === 'Company'">{{'COMPANY' | translate}}</span>
                        <span (click)="onClickTab('Person')" class="tab-headline" [class.active]="activeTab === 'Person'">{{'PERSON' | translate}}</span>
                    </div>
                    <div *ngIf="activeTab === 'Company'">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>{{'COMPANIESBYFILTER' | translate}}</h4>
                                <div class="form-group">
                                    <label>                                
                                        <span class="clickable" (click)="companyTagFilter.toggleQuickSelectBox()">{{ 'COMPANYBYTAGSANY' | translate }}</span>
                                    </label>
                                    <quickselect #companyTagFilter [items]="companyTagFilters" displayProperty="label" (select)="setTagFilter(companyFilter, $event.value)"></quickselect>
                                    <tag-edit-text class="form-control boxify" [items]="companyFilter.Tags" (itemsChange)="onTagsChange($event, 'Company')" [showFilter]="true"></tag-edit-text>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{'FILTERBYACCTYPE' | translate}}</label>
                                    <chosen id="maillistComapnies" [ngModel]="companyFilter.AccountTypeId" (ngModelChange)="onAccountTypeChange($event, 'Company')"
                                        [width]="'100%'" [options]="accountTypes" [multiple]="true" name="maillistCompanies"></chosen>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>{{'SELECTCOMPANIES'}}</h4>
                                <div class="form-group">
                                    <label>{{'COMPANIES' | translate}}</label>
                                    <chosen id="maillistComapnies" [ngModel]="currentMailList.CompanyIds" (ngModelChange)="onAccountChange($event, 'Company')"
                                        [width]="'100%'" [options]="companyAccounts" [multiple]="true" name="maillistCompanies"></chosen>
                                </div>
                            </div>
                        </div>
                        <h4>{{'NONREGISTEREDCOMPANIES' | translate}}</h4>
                        <form id="nonForms" #nonCompanyForm="ngForm" novalidate>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>{{'NAME' | translate}}</label>
                                    <input class="form-control form-input" required [(ngModel)]="nonAccount.OrganisationName" name="organisationName" #orgName="ngModel"
                                    />
                                    <!--<div [hidden]="orgName.untouched || orgName.valid" class="bg-danger">
                                        {{ 'REQ' | translate }}
                                    </div>-->
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>{{'EMAIL' | translate}}</label>
                                    <input required type="email" emailValidator class="form-control form-input" [(ngModel)]="nonAccount.Email" name="email" #email="ngModel"
                                    />
                                    <!--<div [hidden]="email.untouched || email.valid" class="bg-danger">
                                        {{ 'REQ' | translate }}
                                    </div>-->
                                </div>
                            </div>
                            <button *ngIf="showButton" [disabled]="!nonCompanyForm.valid" (click)="addNonAccount(nonCompanyForm, 'Company')" class="pull-right evo-btn small">{{'ADD' | translate}}</button>
                        </form>
                    </div>
                    <div *ngIf="activeTab === 'Person'">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>{{'PEOPLEBYFILTERS' | translate}}</h4>
                                <div class="form-group">
                                    <label>                                
                                        <span class="clickable" (click)="personTagFilter.toggleQuickSelectBox()">{{ 'PERSONBYTAGSANY' | translate }}</span>
                                    </label>
                                    <quickselect #personTagFilter [items]="personTagFilters" displayProperty="label" (select)="setTagFilter(personFilter, $event.value)"></quickselect>
                                    <tag-edit-text class="form-control boxify" [items]="personFilter.Tags" (itemsChange)="onTagsChange($event, 'Person')" [showFilter]="true"></tag-edit-text>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{'FILTERBYACCTYPE' | translate}}</label>
                                    <chosen id="maillistPerson" [ngModel]="personFilter.AccountTypeId" (ngModelChange)="onAccountTypeChange($event, 'Person')"
                                        [width]="'100%'" [options]="accountTypes" [multiple]="true" name="maillistPerson"></chosen>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h4>{{'SELECTPERSONS' | translate}}</h4>
                                    <div class="form-group">
                                        <label>{{'PERSONS' | translate}}</label>
                                        <chosen id="maillistPeople" [ngModel]="currentMailList.PersonIds" (ngModelChange)="onAccountChange($event, 'Person')" [width]="'100%'"
                                            [options]="personAccounts" [multiple]="true" name="maillistPeople"></chosen>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>{{'NONREGISTEREDPERSONS' | translate}}</h4>
                                <form id="nonForms" #nonPeopleForm="ngForm" novalidate>
                                    <div class="row">
                                        <div class=" col-md-6 form-group">
                                            <label>{{'FIRSTNAME' | translate}}</label>
                                            <input required class="form-control form-input" [(ngModel)]="nonAccount.FirstName" name="firstName" #firstName="ngModel"
                                            />
                                            <!--<div [hidden]="firstName.untouched || firstName.valid" class="bg-danger">
                                                {{ 'REQ' | translate }}
                                            </div>-->
                                        </div>
                                        <div class=" col-md-6 form-group">
                                            <label>{{'LASTNAME' | translate}}</label>
                                            <input required class="form-control form-input" [(ngModel)]="nonAccount.LastName" name="lastName" #lastName="ngModel" />
                                            <!--<div [hidden]="lastName.untouched || lastName.valid" class="bg-danger">
                                                {{ 'REQ' | translate }}
                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class=" col-md-12 form-group">
                                            <label>{{'EMAIL' | translate}}</label>
                                            <input required type="email" emailValidator class="form-control form-input" [(ngModel)]="nonAccount.Email" name="email" #email="ngModel"
                                            />
                                            <!--<div [hidden]="email.untouched || email.valid" class="bg-danger">
                                                {{ 'REQ' | translate }}
                                            </div>-->
                                        </div>
                                    </div>
                                    <button *ngIf="showButton" [disabled]="!nonPeopleForm.valid" (click)="addNonAccount(nonPeopleForm, 'Person')" class="pull-right evo-btn small">{{'ADD' | translate}}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="evo-btn-row">
                        <div class="row">
                            <div class="col-xs-7" [class.col-md-9]="activeTab" [class.col-sm-8]="activeTab">
                                <h4>{{'RECIPIENTCOUNT' | translate:{count: recipientCount} }} {{recipientCount}}&nbsp;
                                    <img width="17px" src="assets/images/preloader1.gif" *ngIf="countInProgress" />
                                </h4>
                                <div *ngIf="showWarning">
                                    <label class="customCheckBox" id="custome-check">
                                        <input type="checkbox" id="accept" [(ngModel)]="checkWarning" class="checker" name="accept">
                                        <div #warningCb class="custonCkeck custon"></div>
                                    </label>
                                    <label #warningLabel for="accept" class="clickable evo-cb-label">Warning! You have exceeded your current limit. Check here to agree</label>
                                </div>
                            </div>
                            <div class="col-xs-5" [class.col-md-3]="activeTab" [class.col-sm-4]="activeTab">
                                <button class="evo-btn" (click)="onSave()" [disabled]="!f.valid || countInProgress">
                                    <span>{{'SAVEBTN' | translate}}&nbsp;</span>
                                    <span *ngIf="saveInProgress">
		                        		<img src="assets/images/preloader.gif" alt="loading"/>
		                    		</span>
                                </button>
                                <a class="evo-cancel-link" (click)="back()">{{'CANCELBTN' | translate}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>