hr {
    margin: 10px 0
}

p {
    margin-bottom: 5px;
}

.filter-container {
    background-color: #EEE;
    padding: 5px;
    margin: 4px;
    border: solid 1px #CCC;
}

.filter-header {
    font-weight: 700;
}

.customCheckBox .custonCkeck.custon{
    top: 8px;
}

.add-links{
    font-size: 16px;
    margin-bottom: -7px;
    display: block;
}

.clickable.evo-cb-label{
    font-size: 14px;
}

.tab-container {
    border-bottom: solid 1px #DDD;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.tab-headline {
    font-weight: 500;
    padding-bottom: 10px;
    cursor: pointer;
    margin-right: 20px;
}

.tab-headline.active {
    border-bottom: #5fc764 solid 3px;
    color: #5fc764;
}

.form-control.ng-invalid.ng-touched {
    border-color: #ccc;
}

.bubble-text {
    font-size: 14px;
    width: calc(100% - 16px);
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.bubble-icon {
    font-size: 14px;
    padding-top: 4px;
}