<div class="evo-table gridWrapper" *ngIf="mailLists.length">
    <table>
        <thead>
            <tr>
                <th>{{'NAME' | translate}}</th>
                <th>{{'NOOFRECIPIENTS' | translate}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of mailLists">
                <td>
                    <a (click)="edit(list)">{{list.Name}}</a>
                </td>
                <td>{{list.Recipients}}</td>
                <td>
                    <a (click)="delete(list.Id)" class="link icon"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="gridWrapper" *ngIf="!mailLists.length">
    {{'NOMAILLISTS' | translate}}
</div>