<div class="panel panel-default">
    <div class="panel-body">
        <div class="actionIcon">
            <img [profilepicture]="news.UserId" />
            <i class="fa fa-sticky-note-o"></i>
        </div>
        <div class="news">
            <div class="news-headline">

                <div> 
                    <span *ngFor="let word of text">
                        {{ word.indexOf('[') == -1  ? word : '' }}
                        <a *ngIf="word == '[account]'" [routerLink]="['/CRM','Accounts', news.AccountId]">{{news.LabelNames.account || ('UNKNOWN' | translate)}}</a>
                        <a *ngIf="word == '[contact]'" [routerLink]="['/CRM','Accounts', news.DocumentId]">{{news.LabelNames.contact || ('UNKNOWN' | translate)}}</a>
                        <a *ngIf="word == '[deal]'" (click)="showDeal(news.DocumentId)">{{news.LabelNames.deal || ('DEAL' | translate)}}</a>
                        <a *ngIf="word == '[action]'" (click)="showAction(news.DocumentId)">{{news.LabelNames.action || ('ACTION' | translate)}}</a>
                    </span>    
                    <span class="date pull-right">{{news.DateCreated | datetimeago}} </span>
                </div>                

            </div>
            <edit-note [news]="news" [showEdit]="showEditBtn(news)"></edit-note>
        </div>
    </div>
    <likecomment [like]="news"> </likecomment>
</div>