<div>
    <newsitem *ngFor="let n of news.feeds" [news]="n" [showEdit]="showEdit"></newsitem>
    
    <p *ngIf="news.feeds.length==0 && !news.apiProgress">
        {{'DASHBOARDINTRO' | translate}}
    </p>
    <div class="preloaderWrapper" *ngIf="news.apiProgress">
        <div class="preloader">
            <div class="cssload-container">
                <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
            </div>
        </div>
    </div>
</div>

<!--<deal-edit #dealEdit [initDeal]="false"></deal-edit>-->