<div class="customPopup big marketplace-popup" [class.systemActive]="displayModal">
    <div class="popupBox">
        <div class="title">
            {{ 'USERSETTINGS' | translate }}
            <!-- &nbsp;&nbsp;<a class="editDeal"><i class="fa fa-pencil-square-o"></i></a>-->
            <a class="close pull-right" (click)="hideModal()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent assignment">
            <tabset class="customTab">
                <tab>
                    <ng-template tabHeading>
                        <font id="UserPersonalSettingsTab">{{ 'PERSONALSETTINGS' | translate }}</font>
                    </ng-template>
                    <div class="row myOverview">
                        <div class="col-lg-4 col-md-4 col-sm-4 basicUserDetails">
                            <!-- <input id="file-input1" name="image"  (change)="upload()"    type="file"/> -->
                            <label class="avatar chooseAvatar" for="file-input">
                                <img *ngIf="user.ProfilePictureUrl" src="{{user.ProfilePictureUrl}}?{{user.timestamp}}" alt="" />
                                <img *ngIf="!user.ProfilePictureUrl" src="assets/images/avatar.jpg" alt="" />
                                <input id="file-input" name="image" (change)="upload($event)" type="file" />
                            </label>
                            <cropmodal [hidden]="!cropping" #cropmodal (cropped)="cropped($event)" [settings]="croppersettings" [data]="data"></cropmodal>
                            <div [hidden]="!image" class="imageDiv">
                                <img [src]="image?.src" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 margin-10">
                            <form #userBasic="ngForm">
                                <div class="form-group">
                                    <label>{{ 'FIRSTNAME' | translate }}</label>
                                    <input id="UserFirstName" [(ngModel)]="user.FirstName" type="text" class="form-control" name="FirstName" #FirstName="ngModel"
                                        required>
                                    <div [hidden]="FirstName.untouched || FirstName.valid" class="bg-danger">
                                        {{ 'INVALID' | translate }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>{{ 'LASTNAME' | translate }}</label>
                                    <input id="UserLastName" [(ngModel)]="user.LastName" type="text" class="form-control" name="LastName" #LastName="ngModel"
                                        required>
                                    <div [hidden]="LastName.untouched || LastName.valid" class="bg-danger">
                                        {{ 'INVALID' | translate }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>{{ 'EMAIL' | translate }}</label>
                                    <input id="UserEmail" [(ngModel)]="user.Email" type="email" class="form-control" name="Email" #Email="ngModel" required>
                                    <div class="bg-danger" [hidden]="Email.untouched || Email.valid">{{'INVALID' | translate}}</div>
                                </div>

                                <div class="form-group">
                                    <label>{{ 'WEEKSTARTSUNDAY' | translate }}</label><br />
                                    <label class="customCheckBox">
                                        <input id="WeekCheckBox" type="checkbox" class="checker"  [(ngModel)]="user.IsWeekStartFromSunday" [ngModelOptions]="{standalone: true}">
                                        <div class="custonCkeck"></div>
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label>{{ '24HOURTIME' | translate }}</label><br />
                                    <label class="customCheckBox">
                                        <input id="HourCheckBox" type="checkbox" class="checker" [(ngModel)]="user.Is24DateTimeFormat" [ngModelOptions]="{standalone: true}">
                                        <div class="custonCkeck"></div>
                                    </label>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="buttonRow">
                                <input id="UserCancleButton" type="button" class="btn gray" value="{{ 'CANCELBTN' | translate }}" (click)="hideModal()" />
                                <input id="UserSaveButton" type="button" class="btn pull-right" [disabled]="!userBasic.valid" (click)="updateUser()" value="{{ 'SAVEBTN' | translate }}"
                                />
                            </div>
                        </div>
                    </div>
                </tab>
                <!--<tab>
                    <ng-template tabHeading>
                        <font id="UserPersonalSettingsTab">{{ 'SMTPSETTINGS' | translate }}</font>
                    </ng-template>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-6">
                            <div class="form-group">
                                <label>{{ 'ORGANISATIONS' | translate }}</label>
                                <chosen Id="OrganiationsDropdown" [width]="'100%'" [multiple]="false" [options]="organisations" [(ngModel)]="smtpSettings.organisationId" (change)="updateSmtpSettings($event);"></chosen>
                            </div>
                        </div>
                    </div>
                    <smtp-settings-form [smtpSettings]="smtpSettings" (sendForm)="update($event);"></smtp-settings-form>
                </tab>-->
                <tab>
                    <ng-template tabHeading>
                        <font id="UserChangePasswordTab">{{ 'CHANGEPWD' | translate }}</font>
                    </ng-template>
                    <form [formGroup]="resetPass">
                        <div class="row formRowWithPassword">
                            <div class="col-md-6 col-lg-6 col-sm-8 col-xs-12">
                                <div class="form-group">
                                    <label for="Firstname">{{ 'OLDPWD' | translate }}</label>
                                    <input id="UserOldPassword" formControlName="OldPassword" type="password" class="form-control" name="OldPassword">
                                    <div [hidden]="resetPass.controls.OldPassword.untouched || resetPass.controls.OldPassword.valid" class="bg-danger">
                                        {{ 'INVALID' | translate }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Lastname">{{ 'NEWPWD' | translate }}</label>
                                    <input id="UserNewPassword" #passw formControlName="NewPassword" [(ngModel)]="pass" type="password" class="form-control"
                                        name="NewPassword">
                                    <div [hidden]="resetPass.controls.NewPassword.untouched || resetPass.controls.NewPassword.valid" class="bg-danger">
                                        {{ 'INVALID' | translate }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>{{ 'CONFIRMPWD' | translate }}</label>
                                    <input id="userConfirmPassword" formControlName="ConfirmPassword" [(ngModel)]="resetpass" type="password" class="form-control"
                                        name="ConfirmPassword">
                                    <div [hidden]="resetPass.controls.ConfirmPassword.untouched || resetPass.controls.ConfirmPassword.valid" class="bg-danger">

                                        {{ 'INVALID' | translate }}
                                    </div>

                                </div>
                            </div>
                            <div class="passwordComponent col-lg-6 col-md-6 col-sm-4 col-xs-4">

                                <password-component [password]="passw.value"></password-component>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-8 col-xs-12">
                                <div class="buttonRow">
                                    <input id="UserCancleButton" type="button" class="btn gray" value="{{ 'CANCELBTN' | translate }}" (click)="hideModal()" />
                                    <button id="UserChangeButton" type="submit" [disabled]="!resetPass.valid" (click)="updatePass()" class="btn pull-right">{{ 'CHANGE' | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </tab>
            </tabset>
        </div>
    </div>
</div>