<div class="action-group-details" *ngIf="group">
    <div class="row">

        <!--Name Account Deal Edit-->
        <div class="col-md-{{group.Actions.length ? '6' : '12'}}">
            <div class="row">
                <div class="col-md-12 contentRow" *ngIf="edit && !group.actionIds && !group.actionQuery">
                    <label>{{ 'NAME' | translate }}</label>
                    <input *ngIf="edit" class="form-control" type="text" [(ngModel)]="edit.Name" />
                </div>

                <div class="col-md-6 contentRow" *ngIf="!group.multi">
                    <label>{{ 'ACCOUNT' | translate }}</label>
                    <div *ngIf="!edit">
                        <i class="fa fa-{{group.IsPersonAccount ? 'user' : 'industry'}} fa-fw"></i>
                        <div *ngIf="group.AccountColor" class="accountLabel" [style.background]="group.AccountColor"></div>
                        <a [routerLink]="['Accounts/', group.AccountId]" (click)="actionService.selectedGroup=null">{{group.AccountName}}</a>
                    </div>
                    <account-select *ngIf="edit" [value]="edit.AccountId" [valueLabel]="edit.AccountName" (selectAccount)="selectAccount($event)"></account-select>
                </div>

                <div class="col-md-6 contentRow" *ngIf="deals.length && !group.multi">
                    <label *ngIf="edit || group.DealId">{{ 'RELATEDTO' | translate }}</label>
                    <p *ngIf="!edit">{{group.DealName}}</p>
                    <chosen width="100%" *ngIf="edit" [options]="deals" [(ngModel)]="edit.DealId"></chosen>
                </div>

                <div class="col-md-12 button-row" *ngIf="edit && edit.Id">
                    <button *ngIf="!editAction" class="btn pull-right" [disabled]="(edit && (!edit.Name || !edit.AccountId)) || (editAction && !editAction.Type)"
                        (click)="save()">{{'SAVE' | translate}}</button>
                    <a *ngIf="!editAction" class="evo-cancel-link pull-right" (click)="cancle()">{{ 'CANCELBTN' | translate}}</a>
                </div>
            </div>
            <hr>

            <!--Create New-->
            <div>
                <h4 *ngIf="!editAction && !showTypes">{{ (edit && !edit.Id ? 'CHOOSEACCTYPE' : 'ADDACTION') | translate }}</h4>
                <h4 *ngIf="editAction">{{ editAction.Id ? '' : ( 'ADDACTION' | translate ) }}</h4>
                <div class="action-type-select-box" *ngIf="!editAction || showTypes">
                    <div *ngFor="let type of types" (click)="setType(type)" class="action-type">
                        <i class="fa fa-{{type.icon}} fa-2x" tooltip="{{type.label}}"></i>
                    </div>
                </div>
            </div>

            <!--Edit-->
            <div class="row" *ngIf="editAction">
                <div class="col-md-12 action-head">

                    <div class="right">
                        <img [profilepicture]="editAction.UserAssignedId" (click)="userSelect.open()" tooltip="{{editAction.UserAssignedName}}" placement="left">
                        <div class="bubble-popup contacts" #userSelect arrowPosition="left">
                            <div *ngFor="let user of users">
                                <img *ngIf="user.value != editAction.UserAssignedId" [profilepicture]="user.value" (click)="setAssigned(user)" tooltip="{{user.label}}"
                                    placement="right">
                            </div>
                            <div *ngIf="!users.length">
                                <span>{{'NOUSERSAVALIBLE' | translate }}</span>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="selectedType">
                        <a (click)="clearType()"><i class="fa fa-{{selectedType?.icon}} fa-2x" ></i></a>
                        <h3>{{ selectedType?.label }}</h3>
                    </div>

                    <!--Status Select-->
                    <div class="action-status-row" *ngIf="!editAction.SystemGenerated">
                        <div *ngFor="let status of statuses" class="action-status" [class.selected]="status.value == editAction.Status" (click)="editAction.Status = status.value">
                            <span>{{status.label}}</span>
                        </div>
                    </div>
                </div>

                <!--Date Select-->
                <div class="col-md-12 form-group">
                    <div class="row datepickerRow">
                        <div class="col-md-6 col-sm-12">
                            <label>{{ 'STARTDATE' | translate }}</label>
                            <evo-datepicker id="ActionStartDatePicker" [(ngModel)]="editAction.StartDate" [defaultDate]="startOfDay"></evo-datepicker>
                            <label class="link" *ngIf="simpleMode" (click)="simpleMode=false"><i class="fa fa-eye"></i>&nbsp;{{'SHOWMOREFIELDS' | translate}}</label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>{{ 'ENDDATE' | translate }}</label>
                            <evo-datepicker id="ActionEndDatePicker" [(ngModel)]="editAction.EndDate" [defaultDate]="editAction.StartDate || startOfDay" [minDate]="editAction.StartDate || startOfDay"></evo-datepicker>
                        </div>
                    </div>
                </div>

                <!--Note -->
                <div class="col-md-12 form-group">
                    <label>{{ 'NOTE' | translate }}</label>
                    <textarea autosize *ngIf="editAction" id="ActionNoteText" [(ngModel)]="editAction.Comments" class="form-control"></textarea>
                </div>

                <!--Contact Select-->
                <div *ngIf="!editAccountIsPerson" class="col-md-12 form-group">
                    <label>{{ 'CONTACT' | translate }}</label>
                    <chosen class="multichosen" width="100%" [multiple]="true" *ngIf="editAction" [options]="contacts" [(ngModel)]="editAction.RelatedPersons"></chosen>
                </div>

                <!--Location Select-->
                <div class="col-md-12 form-group" *ngIf="editAction.Type == 'Meeting' || editAction.Type == 'Other' || editAction.Type == 'Event'">
                    <label>{{ 'LOCATION' | translate }}</label>
                    <input id="ActionLocationText" type="text" class="form-control" [(ngModel)]="editAction.Location" placeholder="{{ 'LOCATION' | translate }}"
                    />
                </div>

                <!--Labels Select-->
                <div class="col-md-12 form-group">
                    <label>{{ 'ACTIVITYLISTS' | translate }}</label>
                    <tag-edit-text id="ActionTagText" class="form-control boxify" [clear]="clear" [items]="editAction.Labels" (itemsChange)="onLabelsChange($event)"
                        [itemsSource]="labels" showFilter="true" bgColor="#f0ad4e" placeholder="{{'ACTIVITYLISTS' | translate}}"></tag-edit-text>
                    <span>{{'CHOOSEACTIVITYLIST' | translate}}</span>
                </div>

                <!--Reminder Select-->
                <div class="col-md-12 form-group" *ngIf="editAction.Reminder">
                    <reminder [reminder]="editAction.Reminder" [dateFieldNames]="dateNames" (change)="editAction.Reminder = $event"></reminder>
                </div>

                <div class="col-md-12 form-group">
                    <a class="addLink" *ngIf="!editAction.Reminder" (click)="newReminder()">
                        <i class="fa fa-plus"></i>{{'CONNECTREMINDER' | translate}}</a>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12 button-row" *ngIf="editAction || (edit && !edit.Id)">
                    <i evo-require [permissions]="['DeleteActions']" *ngIf="editAction?.Id != null || group?.Id != null" class="fa fa-trash-o pull-left clickable" (click)="deleteAction()"></i>
                  <button class="btn pull-right" [disabled]="(edit && ((!edit.Name && !group.actionIds && !group.actionQuery) || (!edit.AccountId && !group.multi ))) || (editAction && !editAction.Type) || (edit && !edit.Id && !editAction)"
                        (click)="save()">{{'SAVE' | translate}}</button>
                    <a class="evo-cancel-link pull-right" (click)="cancle()">{{ 'CANCELBTN' | translate}}</a>
                </div>
            </div>
        </div>

        <!--Timeline Section-->
        <div class="col-md-6" *ngIf="group.Actions.length">
            <div>
                <h5>{{ 'PLANNEDACTIONS' | translate }}</h5>
            </div>
            <div class="timeline-outer-box">
                <timeline-action *ngFor="let action of openActions" [selected]="editAction && action.Id == editAction.Id" [action]="action"
                    (onClick)="selectAction(action)" hideEdit="true" dateField="StartDate"></timeline-action>
            </div>
            <div *ngIf="!openActions.length">
                <span>{{ 'NONEXTACTION' | translate }} </span>
            </div>

            <div *ngIf="closedActions.length">
                <h5>{{ 'TIMELINE' | translate }}</h5>
            </div>
            <div class="timeline-outer-box">
                <div class="timeline-box">
                    <timeline-action *ngFor="let action of closedActions" [selected]="editAction && action.Id == editAction.Id" hideConnection="true"
                        [action]="action" dateField="StartDate" (onEdit)="selectAction(action)"></timeline-action>
                </div>
            </div>  
        </div>

    </div>
</div>