.action-type-select-box{
    text-align: left;
}

.action-type{
    display: inline-block;
    margin-right: 25px;
}
.action-type:hover{
    color: #5fc764;
    cursor: pointer;
}

.action-status-row{
    display: block;
    width:100%;
    margin-bottom: 20px;
}

.action-head label{
    margin-top: -3px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: text-top;
}

.action-head h3{
    margin-top: 5px;
    display: inline-block;
}

.action-head img{
    height: 30px;
    width: 30px;
    border-radius: 3px;
    margin-top: 5px;
    cursor: pointer;
}

