<div class="customPopup systemActive" style="z-index:100!important" [class.big]="service.selectedGroup.Actions.length" id="editActionGroup" (click)="clickToClose($event)" *ngIf="service.selectedGroup">

    <div class="popupBox">
        <div>
            <div class="title">
                <span>{{ service.selectedGroup.Id ? service.selectedGroup.Name : ( 'ADDACTION' | translate ) }} </span>
                <a class="close pull-right" (click)="close()"><i class="fa fa-times"></i></a>
                <a class="close pull-right" *ngIf="!edit && service.selectedGroup.Id" (click)="editGroup()"><i class="fa fa-pencil" style="font-size:22px"></i></a>
            </div>
            <div class="popupContent">

                <action-group [group]="service.selectedGroup" [edit]="edit" (onSaved)="onSaved($event)"></action-group>

            </div>
        </div>
    </div>
</div>