<left-panel></left-panel>
<div class="mainTitle">
    <h1>{{ contract ? contract.Name : '' }}</h1>
</div>
<div class="panelAction">
    <a class="btn" (click)="openCreate()">
        <i class="fa fa-plus"></i>
        <font>{{ 'ADDCONTRACT' | translate }}</font>
    </a>
</div>
<div class="contentPanel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 contentPanelLeft">
                <div class="projectBox contracts-center">
                    <div #pdfCont class="contracts-pdf-container">
                        <div *ngIf="noPdf">
                            <p>{{'NOPDFUPLOADED' | translate}}</p>
                            <div >
                                <label for="contractDoc" class="evo-btn">{{'UPLOADBTN' | translate}}</label>
                                <input #fileInput id="contractDoc" name="file" accept=".pdf" (change)="addcontract.addFile($event.target.files, true)" type="file" class="display-none" />
                            </div>
                        </div>
                        <div *ngIf="!noPdf">
                            <i class="fa fa-search-plus pull-right" (click)="zoom(true)" style="cursor: pointer;"></i> &nbsp;
                            <i class="fa fa-search-minus pull-right" (click)="zoom(false)" style="cursor: pointer;"></i>
                        </div>
                        <div class="clearfix"></div>
                        <pdf-viewer *ngIf="!noPdf" #pdfViewer [zoom]="pdfZoom" [src]="pdfSrc" [show-all]="true" [original-size]="false" style="display: block;"></pdf-viewer>
                        <!--<object [style.display]="noPdf ? 'none' : 'inherit'" #pdfViewer width="100%" height="100%" data="https://vadimdez.github.io/ng2-pdf-viewer/pdf-test.pdf" type="application/pdf"></object>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4 contracts-right">
                <div class="projectBox">
                    <add-contract #addcontract (file)="onFileChange($event)" [edit]="true"></add-contract>
                </div>
            </div>
        </div>
    </div>
</div>
<add-contract [edit]="true" *ngIf="contractsService.showAddModal"></add-contract>