.contracts-center {
    height: 100%;
}

.contracts-right{
    padding-left: 15px;
}

.contracts-pdf-container{
    height: calc(100% - 34px);
}

.contracts-category{
    padding: 3px;
    margin: 2px;
    border-radius: 4px;
    font-size: 16px;
}

.category-container {
    margin-bottom: 5px;
}

.category-item {
    margin-right: 5px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contracts-edit-container .row .col-md-12 label,
.contracts-edit-container .row .col-md-12 .form-group label{
    font-size: 12px;
    text-transform: uppercase;
    color: #727272;
    margin-bottom: 0;
}

.contracts-user-image-small{
    width: 38px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.contracts-hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

.prevent-close{
    cursor: pointer;
}

.contracts-add-trash{
    margin-top: 10px;
}

.contracts-big-icon{
    font-size: 24px;
}

.contracts-user-icons{
    width: 40px;
    display: inline-block;
}

.contracts-clear{
    clear: both;
    margin-bottom: 18px;
}

.contracts-category-edit{
    margin-top: 5px;
}

.contracts-edit-container .row .col-md-12 .contracts-not-label,
.customPopup .popupBox .contracts-not-label{
    font-weight: 300;
    font-size: 18px;
    color: #333;
    text-transform: none;
    cursor: pointer;
}

.customPopup .popupBox .contracts-file-label{
    font-weight: normal;
    font-size: 18px;
    color: #FFF;
}

.category-filter-label{
    float: left;
    margin-right: 20px;
    cursor: pointer;
}

.contracts-inline{
    display: inline;
}

.popup-text{
    font-size: 15px;
}

.popup-form .form-group{
    margin-bottom: 5px;
}

.list-cont{
    margin-bottom: 3px;
}

.contacts-container{
    margin-top: -5px;
    margin-bottom: -5px;
}