<div class="mainTitle leftFree">
    <h1>{{ 'CONTRACTS' | translate }}</h1>
</div>
<div class="contentPanel leftFree contracts" scrollTracker (scrollBottom)="onScroll()">
    <div class="contentWrapper">
        <div class="evo-table-container" style="min-height: 600px;">
            <div class="evo-filter-container clearfix">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-2">
                        <div class="form-group">
                            <label for="">{{ 'SORTBY' | translate }}</label>
                            <chosen id="ContractsSortBy" [width]="'100%'" [multiple]="false" [options]="sortOptions" [(ngModel)]="contractsService.searchParams.SortingFieldName"
                                (change)="contractsService.getContracts()"></chosen>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-2">
                        <div class="form-group">
                            <label for="">{{ 'FILTERBYCONTRACTNAME' | translate }}</label>
                            <input type="text" [(ngModel)]="contractsService.searchParams.Name" (keyup)="onSearch($event.target.value)"
                                class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-2">
                        <div class="form-group">
                            <label for="">{{ 'FILTERBYUSER' | translate }}</label>
                            <chosen class="multichosen" [width]="'100%'" [multiple]="true" [options]="users" [(ngModel)]="contractsService.searchParams.OurPartyData"
                                (change)="contractsService.getContracts()"></chosen>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-2">
                        <div class="form-group">
                            <label>                                
                                <span class="clickable" (click)="quickselect.toggleQuickSelectBox()">{{ selectedCategoryFilter }}</span>
                            </label>
                            <quickselect class="contracts-quick" #quickselect [items]="categoryFilters" displayProperty="label" (select)="changeCategoryFilter($event)"></quickselect>
                            <chosen multiple id="categoryChosen" class="multichosen category-chosen" [width]="'100%'" [multiple]="true" [options]="categories" [optionsGroups]="categoryGroups" [(ngModel)]="selectedCategories"
                                [getEventOnChange]="true" (change)="onCategoryFilter($event)"></chosen>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="col-md-6 col-sm-6 form-group">  
                            <label>                                
                                <span class="clickable" (click)="quickselectDate.toggleQuickSelectBox()">{{ selectedDateType }}</span>
                            </label>
                            <quickselect class="contracts-quick" #quickselectDate [items]="dateFilters" displayProperty="label" (select)="changeDateFilter($event)"></quickselect>
                            <evo-datepicker style="width:50%;" [ngModel]="contractsService.searchParams.StartDate" (ngModelChange)="onDateChange($event, 'startdate')" [dateOnly]="true"></evo-datepicker>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label>&nbsp;</label>
                            <evo-datepicker style="width:50%;" [ngModel]="contractsService.searchParams.EndDate" (ngModelChange)="onDateChange($event, 'enddate')" [dateOnly]="true" [minDate]="contractsService.searchParams.StartDate"></evo-datepicker>
                        </div>
                    </div>

                </div>
            </div>
            <div class="evo-table gridWrapper" *ngIf="contracts?.length > 0">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    {{'NAME' | translate}}
                                </th>
                                <th>
                                    {{'OURPARTIES' | translate}}
                                </th>
                                <th>
                                    {{'THEIRPARTIES' | translate}}
                                </th>
                                <th>
                                    {{'NEXTIMPORTANTDATE' | translate}}
                                </th>
                                <th>
                                    {{'CATEGORIES' | translate}}
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let con of contracts">
                                <td>
                                    <a (click)="openDetails(con.Id)">{{con.Name}}</a>
                                </td>
                                <td>
                                    <div *ngFor="let part of con.OurParties">
                                        <div>{{part.DisplayName}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div *ngFor="let part of con.TheirParties">
                                        <div>{{part.DisplayName}}</div>
                                    </div>
                                </td>
                                <td>
                                    <span *ngIf="con.NextDate?.MilestoneDate" [tooltip]="con.NextDate.MilestoneDate.Description">{{con.NextDate.MilestoneDate.Date | datetime}} - {{con.NextDate.MilestoneDate.Name}}</span>
                                    <span *ngIf="con.NextDate?.EndDate">{{con.NextDate.EndDate | datetime}}&nbsp;&nbsp;-&nbsp;&nbsp;{{ENDDATE | translate}}</span>
                                </td>
                                <td>
                                    <span *ngFor="let cat of con.Categories" [style.background-color]="cat.Color" [style.color]="cat.FontColor || '#FFF'" class="contracts-category label">
                                        {{cat.Name}}
                                    </span>
                                </td>
                                <td>
                                    <a (click)="delete(con.Id)" class="link icon"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="preloaderWrapper" *ngIf="contractsService.apiInProgress">
                        <div class="preloader">
                            <div class="cssload-container">
                                <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gridWrapper" *ngIf="!contracts || contracts?.length === 0">
                    {{'CONTRACTSINTRO' | translate}}
                </div>
            </div>
        </div>
    </div>
<add-contract *ngIf="contractsService.showAddModal"></add-contract>