<div class="mainTitle">
    <h1>{{ 'CUSTACC' | translate }}</h1>
</div>

<div class="contentPanel settingsPage">
    <div class="contentWrapper">
        <div class="projectBox clearfix">
            <div class="row">

                <div class="col-md-3">
                    <div class="title">
                        <label>{{ 'ACCTYPES' | translate }}</label>
                    </div>
                    <div class="gridWrapper fltNon clearfix">
                        <table class="normal" *ngIf="accountTypes.length>0">
                            <tbody [dragula]="'nested-bag'" [dragulaModel]='accountTypes'>
                                <tr *ngFor="let actype of accountTypes  let i = index">
                                    <td width="10" [style.background]="actype.Color"></td>
                                    <td> {{actype.Name}}</td>
                                    <td width="80">
                                        <a (click)="showEditAccountPopup(i,actype.Id)" class="link icon"><i class="fa fa-pencil-square-o"></i></a>
                                        <a (click)="showDeleteAccountPopup(i,actype.Id)" class="link icon"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p *ngIf="!(accountTypes.length>0)">{{'NOACCOUNTTYPES' | translate}}</p>
                        <div class="clearfix buttonWrapperRow">
                            <a id="AddAccountTypeButton" (click)="showAddAccountPopup()" class="link pull-left"><i class="fa fa-plus fa-1"></i> {{ 'URADDACC' | translate }}</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--Custom Fields-->
        <div evo-require [features]="['CustomFields']" (onFail)="customFieldsInfo=true">
            <!--Comapnies-->
            <div class="projectBox clearfix">
                <div class="row">
                    <div class="col-lg-6 col-md-10 col-sm-12">
                        <custom-field-settings title="{{ 'COMPANYCUSTOMFIELDS' | translate }}" [fields]="companyFields" (save)="companyFields=$event;saveFields();"></custom-field-settings>
                    </div>
                </div>
            </div>

            <!--Persons-->
            <div class="projectBox clearfix">
                <div class="row">
                    <div class="col-lg-6 col-md-10 col-sm-12">
                        <custom-field-settings title="{{ 'PERSONCUSTOMFIELDS' | translate }}" [fields]="personFields" (save)="personFields=$event;saveFields();"></custom-field-settings>
                    </div>
                </div>
            </div>

            <!--Relations-->
            <div class="projectBox clearfix">
                <div class="row">
                    <div class="col-lg-6 col-md-10 col-sm-12">
                        <custom-field-settings title="{{ 'RELATIONCUSTOMFIELDS' | translate }}" [fields]="relationFields" (save)="relationFields=$event;saveFields();"></custom-field-settings>
                    </div>
                </div>
            </div>

        </div>

        <!--<div *ngIf="customFieldsInfo" class="projectBox clearfix">
            <div class="title">
                <label>{{ 'CUSTOMFIELDS' | translate }}</label>
            </div>
            <a [featureLink]="'CustomFields'">{{'NUDGECUSTOMFIELDS' | translate}}</a>
        </div>-->

    </div>
    <div class="popupOverlay"></div>
</div>

<div class="customPopup " id="addAccount" [ngClass]="{systemActive: addAccountPopUp||editAccountPopup}" (click)="clickToClose($event,'add')">
    <div class="popupBox">
        <div class="title" *ngIf="editAccountPopup">
            {{ 'EDITACCOUNTTYPE' | translate }}
            <a class="close pull-right" (click)="cancel('edit')"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="blockContent">
                <form [formGroup]="AccountForm">
                    <div class="form-group">
                        <label> {{ 'ACCTYPE' | translate }}</label>
                        <input id="AccountTypeName" type="text" class="form-control" placeholder="{{'NAME' | translate}}" formControlName="type"
                            [(ngModel)]="typeValue">

                        <label>{{'ACCCOLOR' | translate}} </label>
                        <div class="colorWrapper">
                            <input id="AccountTypeColor" class="colorp" [(colorPicker)]="colorpickercolor" (colorPickerChange)="onColorPickerChange($event)"
                                [style.background]="colorpickercolor" [style.color]="checkIsBright(colorpickercolor)" [(ngModel)]="colorpickercolor"
                                [cpHeight]="'310px'" [cpPosition]="'bottom'" [value]="colorpickercolor" formControlName="color"
                            />

                        </div>
                        <p *ngIf="!isValidColor" class="invalid">{{'INVALIDCOLOR' | translate}}</p>
                    </div>
                    <div class="buttonRow">
                        <input id="AccountTypeCancleButton" type="button" class="btn gray" *ngIf="!process" value="{{ 'CANCELBTN' | translate }}"
                            (click)="toggleAccountPopupDisplay()" />
                        <button id="AccountTypeSaveButton" type="button" (click)="editAccount(typeValue,colorpickercolor,DBid)" class="btn pull-right"
                            [disabled]="!AccountForm.valid">
                            <div [hidden]="process">
                                <span>{{ 'SAVEBTN' | translate }}</span>
                            </div>
                            <div [hidden]="!process">
                                <img src="assets/images/preloader.gif" alt="loading" />
                            </div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="customPopup " id="deleteaccount" [ngClass]="{systemActive: deleteAccountPopup}" (click)="clickToClose($event,'delete')">
    <div class="popupBox">
        <div class="title">
            {{ 'DELETEACCOUNTTYPE' | translate }}
            <a class="close pull-right" (click)="cancel('delete')"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="blockContent">
                <form>
                    <div class="form-group">
                        <label for="deletetext">{{'WARNDELACCTYPE' | translate}}( {{typeValue}} )?</label>
                    </div>
                    <div>
                        <input type="button" *ngIf="!process" class="btn gray" value="{{ 'CANCELBTN' | translate }}" (click)="toggleDeleteAccountPopupDisplay()"
                        />
                        <button type="button" (click)="delete()" class="btn pull-right">
                            <span [hidden]="process">{{ 'DELETE' | translate }}</span>
                            <div [hidden]="!process">
                                <img src="assets/images/preloader.gif" alt="loading" />
                            </div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>