<style>
    .hideCanvas {
        display: none;
    }

    .hideUserInfo {
        display: none;
    }
</style>
<div class="contentPanel leftFree adminPanel statistics">
    <div class="contentWrapper">
        <div class="projectBox">
            <!-- <div class="chartDisplay" style="width:1000px; height: 80%;">
                <canvas id="clients" chart  style="width:100%; height: 100%"></canvas>
            </div> -->
            <div class="row">
                <form class="graphFilter" [formGroup]="usersForm">
                    <div class="col-md-6 graphCol users">
                        <div class="title">Users <font id="users_title">{{_userCount}}</font></div>
                        <div class="graphWrapper">
                            <canvas id="clients" chart></canvas>
                            <div id="userInfo" class="hideUserInfo">
                                <div class="gridWrapper  overflow">
                                    <table class="normal">
                                        <thead>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Email</th>
                                                <th>Date Created</th>
                                                <th>Date Last Login</th>
                                                <th>Latest Language</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let user of userArray">
                                                <td>{{user.FirstName}}</td>
                                                <td>{{user.LastName}}</td>
                                                <td>{{user.Email}}</td>
                                                <td>{{stringAsDate(user.DateCreated)| datetime}}</td>
                                                <td>{{stringAsDate(user.DateLastLogin)| datetime}}</td>
                                                <td>{{user.Language}}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>

                        <div class="graphFilter">
                            <div class="row">
                                <div class="col-xs-4">
                                    <select class="form-control" (change)='showUsersByFilter("Year","clients",$event.target.value)' formGroupName="user_year" name="user_year" [ngModel]="userYear">
                                        <option *ngFor="let year of userYearArray" [value]="year">{{year}}</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control" (change)='showUsersByFilter("Month","clients",$event.target.value)' formGroupName="user_month" name="user_month" [ngModel]="userMonth">
                                        <option *ngFor="let month of filterMonth" [value]="month.value">{{month.label}}</option>
                                    </select>
                                </div>

                                <div class="col-xs-4">
                                    <select class="form-control" (change)='showUsersByFilter("Day","clients",$event.target.value)' formGroupName="user_day" name="" [ngModel]="userDay">
                                        <option *ngFor="let day of filterDay" [value]="day.value">{{day.label}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 graphCol orgs">
                        <div class="title">Oragizations <font class="green" id="org_title">{{_orgCount}}</font></div>
                        <div class="graphWrapper">

                            <canvas id="oragization" chart></canvas>
                            <div id="orgInfo" class="hideUserInfo">
                                <div class="gridWrapper  overflow">

                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Organisation Name</th>
                                                <th>Phone Number</th>
                                                <th>Email</th>
                                                <th>Date Created</th>
                                                <th>Users</th>
                                                <th>Accounts</th>
                                                <th>Delas</th>
                                                <th>Actions</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let org of orgsArray">
                                                <td>{{org.OrganisationName}}</td>
                                                <td>{{org.PhoneNumber}}</td>
                                                <td>{{org.Email}}</td>
                                                <td>{{stringAsDate(org.DateCreated)| datetime}}</td>
                                                <td>{{org.NumberOfUsers}}</td>
                                                <td>{{org.NumberOfAccounts}}</td>
                                                <td>{{org.NumberOfDeals}}</td>
                                                <td>{{org.NumberOfActions}}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="graphFilter">
                            <div class="row">
                                <div class="col-xs-4">
                                    <select class="form-control" (change)='showOrgByFilter("Year","oragization",$event.target.value)' formGroupName="org_year" name="org_year" [ngModel]="orgYear">
                                        <option *ngFor="let year of orgYearArray" [value]="year">{{year}}</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control" (change)='showOrgByFilter("Month","oragization",$event.target.value)' formGroupName="org_month" name="org_month" [ngModel]="orgMonth">
                                        <option *ngFor="let month of filterMonth" [value]="month.value">{{month.label}}</option>
                                    </select>
                                </div>

                                <div class="col-xs-4">
                                    <select class="form-control" (change)='showOrgByFilter("Day","oragization",$event.target.value)' formGroupName="org_day" name="org_day" [ngModel]="orgDay">
                                        <option *ngFor="let day of filterDay" [value]="day.value">{{day.label}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


