<div [hidden]="!showDeliveryInfo && !(!deal.Editmode && objectHasContent(deal.ShippingAddress))">

    <h4>{{ 'DELIVERYDETAILS' | translate }}</h4>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label *ngIf="deal.Editmode || (!deal.Editmode && deal.DateStart > 0 && deal.DateEnd > 0)">{{ 'DELIVERYPERIOD' | translate }}</label>
                <div *ngIf="deal.Editmode">
                    <evo-datepicker id="DealDeliveryDatepicker" name="DealDeliveryDatepicker" [range]="true" [(rangeStartDate)]="deal.DateStart" [(rangeEndDate)]="deal.DateEnd"></evo-datepicker>
                </div>
                <div *ngIf="!deal.Editmode && deal.DateStart > 0 && deal.DateEnd > 0">
                    {{ deal.DateStart | dateonly }} - {{ deal.DateEnd | dateonly }}
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label *ngIf="deal.Editmode || (!deal.Editmode && deal.ShippingAddress.Street)">{{ 'ADDRESS' | translate }}</label>
        <div *ngIf="deal.Editmode">
            <input id="DeaShippingStreetText" name="DealShippingStreetText" type="text" class="form-control" [(ngModel)]="deal.ShippingAddress.Street"
                placeholder="{{ 'STREET' | translate }}">
        </div>
        <div *ngIf="!deal.Editmode">
            {{ deal.ShippingAddress.Street }}
        </div>
    </div>
    <div class="form-group">
        <div *ngIf="deal.Editmode">
            <input id="DealShippingPostcodeText" name="DealShippingPostcodeText" type="text" class="form-control" [(ngModel)]="deal.ShippingAddress.PostalCode"
                placeholder="{{ 'POSTALCODE' | translate }}">
        </div>
        <div *ngIf="!deal.Editmode">
            {{ deal.ShippingAddress.PostalCode }}
        </div>
    </div>
    <div class="form-group">
        <div *ngIf="deal.Editmode">
            <input id="DealShippingCityText" name="DealShippingCityText" type="text" class="form-control" [(ngModel)]="deal.ShippingAddress.City"
                placeholder="{{ 'CITY' | translate }}">
        </div>
        <div *ngIf="!deal.Editmode">
            {{ deal.ShippingAddress.City }}
        </div>
    </div>
    <div class="form-group">
        <div *ngIf="deal.Editmode">
            <input id="DealShippingStateText" name="DealShippingStateText" type="text" class="form-control" [(ngModel)]="deal.ShippingAddress.State"
                placeholder="{{ 'STATE' | translate }}">
        </div>
        <div *ngIf="!deal.Editmode">
            {{ deal.ShippingAddress.State }}
        </div>
    </div>
    <div class="form-group">
        <div *ngIf="deal.Editmode">
            <input id="DealShippingCountryText" name="DealShippingCountryText" type="text" class="form-control" [(ngModel)]="deal.ShippingAddress.Country"
                placeholder="{{ 'COUNTRY' | translate }}">
        </div>
        <div *ngIf="!deal.Editmode">
            {{ deal.ShippingAddress.Country }}
        </div>
    </div>

</div>
<div [hidden]="!showPaymentInfo && !(!deal.Editmode && objectHasContent(deal.BillingAddress))">
    <div class="" *ngIf="deal && deal.BillingAddress">
        <h4>{{ 'BILLINGDETAILS' | translate }}</h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label *ngIf="deal.Editmode || (!deal.Editmode && deal.DateInvoice && deal.DateInvoiceExpire)">{{ 'BILLINGPERIOD' | translate }}</label>
                    <div *ngIf="deal.Editmode">
                        <evo-datepicker id="DealDeliveryDatepicker" name="DealDeliveryDatepicker" [range]="true" [(rangeStartDate)]="deal.DateInvoice"
                            [(rangeEndDate)]="deal.DateInvoiceExpire"></evo-datepicker>
                    </div>
                    <div *ngIf="!deal.Editmode && deal.DateInvoice && deal.DateInvoiceExpire">
                        {{ deal.DateInvoice | dateonly }} - {{ deal.DateInvoiceExpire | dateonly }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label *ngIf="deal.Editmode || (!deal.Editmode && deal.BillingAddress.Street)">{{ 'ADDRESS' | translate }}</label>
            <div *ngIf="deal.Editmode">
                <a (click)="copyShippingAddress()" style="font-size:12px; margin-bottom:5px; padding-top:7px;" class="link pull-right">{{'COPYDELIVERYADDRESS' | translate}}</a>
                <input id="DeaBillingStreetText" name="DealBillingStreetText" type="text" [(ngModel)]="deal.BillingAddress.Street" class="form-control"
                    placeholder="{{ 'STREET' | translate }}" />
            </div>
            <div *ngIf="!deal.Editmode">
                {{ deal.BillingAddress.Street }}
            </div>
        </div>
        <div class="form-group">
            <div *ngIf="deal.Editmode">
                <input id="DeaBillingPostcodeText" name="DealBillingPostcodeText" type="text" [(ngModel)]="deal.BillingAddress.PostalCode"
                    class="form-control" placeholder="{{ 'POSTALCODE' | translate }}" />
            </div>
            <div *ngIf="!deal.Editmode">
                {{ deal.BillingAddress.PostalCode }}
            </div>
        </div>
        <div class="form-group">
            <div *ngIf="deal.Editmode">
                <input id="DeaBillingCityText" name="DealBillingCityText" type="text" [(ngModel)]="deal.BillingAddress.City" class="form-control"
                    placeholder="{{ 'CITY' | translate }}" />
            </div>
            <div *ngIf="!deal.Editmode">
                {{ deal.BillingAddress.City }}
            </div>
        </div>
        <div class="form-group">
            <div *ngIf="deal.Editmode">
                <input id="DeaBillingStateText" name="DealBillingStateText" type="text" [(ngModel)]="deal.BillingAddress.State" class="form-control"
                    placeholder="{{ 'STATE' | translate }}">
            </div>
            <div *ngIf="!deal.Editmode">
                {{ deal.BillingAddress.State }}
            </div>
        </div>
        <div class="form-group">
            <div *ngIf="deal.Editmode">
                <input id="DeaBillingCountryText" name="DealBillingCountryText" type="text" [(ngModel)]="deal.BillingAddress.Country" class="form-control"
                    placeholder="{{ 'COUNTRY' | translate }}">
            </div>
            <div *ngIf="!deal.Editmode">
                {{ deal.BillingAddress.Country }}
            </div>
        </div>
        <div class="form-group">
            <label *ngIf="deal.Editmode || (!deal.Editmode && deal.OCR)" for="">{{ 'OCR' | translate }}</label>
            <div *ngIf="deal.Editmode">
                <input id="DealOCR" class="form-control" [(ngModel)]="deal.OCR" name="OCR" placeholder="{{ 'OCR' | translate }}" Value="">
            </div>
            <div *ngIf="!deal.Editmode && deal.OCR">
                {{ deal.OCR }}
            </div>
        </div>
    </div>
</div>
<div *ngIf="deal.Editmode">
    <div [hidden]="showDeliveryInfo">
        <a class="link icon" (click)="showDeliveryInfo=true"><i class="fa fa-plus fa-1"></i> {{"SHOWDELIVERYINFO" | translate }}</a>
    </div>
    <div [hidden]="showPaymentInfo">
        <a class="link icon" (click)="showPaymentInfo=true"><i class="fa fa-plus fa-1"></i> {{"SHOWPAYMENTINFO" | translate }}</a>
    </div>
</div>