<div class="popupOverlay in right-chat-overlay" [class.systemActive]="displayChat" (click)="back()"></div>
<div>
    <div class="sidePopup" [class.visible]="displayChat">
        <div class="contentWrapper" *ngIf="conversation != null">
            <div class="title">{{ conversationName }} <a class="close pull-right visible-xs" (click)="back()"><i class="fa fa-times"></i></a></div>
            <tabset class="customTab chat-tabs">

                <!-- Chat -->
                <tab>
                    <ng-template tabHeading>
                        <i class="fa fa-bars fa-1"></i>
                        <font>{{ 'CHAT' | translate }}</font>
                    </ng-template>
                    <div class="chatWindow">
                        <div class="container-fluid">
                            <conversation-chat [conversation]="conversation"></conversation-chat>
                        </div>
                    </div>
                </tab>

                <!-- Files -->
                <tab>
                    <ng-template tabHeading>
                        <i class="fa fa-bars fa-1"></i>
                        <font>{{ 'FILES' | translate }}</font>
                    </ng-template>
                    <div class="files">
                        <conversation-files [conversation]="conversation"></conversation-files>
                    </div>
                </tab>

                <!-- Users -->
                <tab>
                    <ng-template tabHeading>
                        <i class="fa fa-bars fa-1"></i>
                        <font>{{ 'USERS' | translate }}</font>
                    </ng-template>

                    <conversation-users [conversation]="conversation"></conversation-users>

                    <div class="chatActions" *ngIf="conversation.hidden">
                        <a class="link" (click)="showChannel()">
                            <i class="fa fa-eye"></i> {{ 'PINTOSTARTPAGE' | translate }}
                        </a>
                        <div class="clearfix"></div>
                    </div>

                    <div class="chatActions" *ngIf="!conversation.hidden">
                        <a class="link" (click)="hideChannel()">
                            <i class="fa fa-eye"></i> {{ 'HIDEFROMSTARTPAGE' | translate }}
                        </a>
                        <div class="clearfix"></div>
                    </div>


                    <div class="chatActions" *ngIf="isNotChanel()">
                        <!-- <a class="link" (click)="addUserDialog.showAddUsers()"> -->
                        <a class="link">
                            <i class="fa fa-plus"></i> {{ 'USERADD' | translate }}
                        </a>
                        <div class="clearfix"></div>
                    </div>

                </tab>
            </tabset>
        </div>
        <div class="contentWrapper" *ngIf="conversation == null">
            <img class="loading" src="assets/images/preloader1.gif" />
        </div>
    </div>
</div>
<!--<add-users-to-conversation #addUserDialog [conversation]="conversation"></add-users-to-conversation>-->