<div class="customPopup small" id="confirmbox" [class.systemActive]="confirmationService.displayModal" (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title">
            {{confirmationService.boxTitle}}
            <a class="close pull-right" (click)="cancelClicked()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="blockContent">
                <form>
                    <div class="form-group">
                        {{confirmationService.boxMessage}}                        
                    </div>
                    <div class="evo-btn-row">
                        <input id="DeleteButton" type="button"  class="btn pull-right" (click)="confirmClicked()" value="{{ 'YES' | translate }}" />
                        <a class="evo-cancel-link pull-right" (click)="cancelClicked()">{{'CANCELBTN' | translate}}</a>                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>