﻿<div id="addproduct-modal" class="customPopup big" [class.systemActive]="displayModal" (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title">
            {{ "NEWPRODUCT" | translate }}
            <a class="close pull-right" (click)="hideModal()"><i class="fa fa-times"></i></a>
        </div>
        <add-product-component #addproductcomponent [catalogues]="catalogues" [pricelists]="pricelists" (OnSave)="saved()"></add-product-component>
    </div>
</div>