﻿.gridWrapper .gridHeader, .gridWrapper gridCell{
   display:table-cell;
}
.addProductPriceList {
    overflow-x:scroll;
    white-space:nowrap;
}

.gridWrapper .gridHeader {
    font-weight: bold;
    line-height: 1.42857143;
    padding: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
}
.gridCell input {
    max-width: 80px;
}

a.link.icon {
    position: absolute;
    left:-30px;
}


.currencySmall {
    font-size: 10px;
    font-weight: normal;
    color:#888;
}