﻿<div [hidden]="cropping" class="row">
    <div id="addProductImage" class="col-lg-3">
        <div [hidden]="image" class="imageDiv">
            <!--TODO! Change to local picture-->
            <img src="{{ product.Image  || '/assets/images/barcode.png' }}" class="clickable" (click)="imgpicker.click()"
            />
            <input #imgpicker id="pic" type="file" style="visibility: hidden;" multiple="false" accept="image/*" (change)="imageChanged($event)"
            />
        </div>
        <div [hidden]="!image" class="imageDiv">
            <img [src]="image?.src" class="clickable" (click)="imgpicker.value=''; imgpicker.click()" />
        </div>
    </div>
    <div id="addProductForm" class="col-lg-9">
        <form #addProductForm="ngForm" novalidate class="form-group">
            <div class="row blockContent">
                <div class="col-lg-3 form-group">
                    <label for="articlenumber">{{"ARTICLENUMBER" | translate}}</label>
                    <input name="articlenumber" [(ngModel)]="product.ArticleNumber" class="form-control" type="text" />
                </div>
                <div class="col-lg-9 form-group">
                    <label class="">{{"NAME" | translate}}</label>
                    <input name="name" required [(ngModel)]="product.Name" class="form-control" type="text" />
                </div>
                <div class="col-lg-12 form-group">
                    <label class="">{{"DESCRIPTION" | translate}}</label>
                    <textarea name="desc" [(ngModel)]="product.Description" class="form-control" type="text"></textarea>
                </div>
                <div class="col-lg-12 form-group">
                    <label class="">{{"INCLUDEDINCATALOGUES" | translate}}</label>

                    <chosen class="catalogueTags multichosen fa-chosen" [width]="'100%'" [ngModelOptions]="{standalone: true}" [options]="catalogueOptions"
                        [(ngModel)]="product.Catalogues" placeholderTextMultiple="{{'SHOWALL' | translate}}" [multiple]="true"></chosen>
                </div>
                <div class="col-lg-3 form-group">
                    <label class="">{{"UNIT" | translate}}</label>
                    <select name="unit" required [(ngModel)]="product.Unit" class="form-control">
                    <option *ngFor="let unit of selectedUnits" [value]="unit">{{unit}}</option>
                </select>
                </div>
                <div class="col-lg-3 form-group">
                    <label>{{"PRICETYPE" | translate}}</label>
                    <div class="inline">
                        <select [(ngModel)]="priceType" class="form-control" (change)="setPriceType()" name="priceType">
                            <option value="Unit">{{ "PERUNIT" | translate }}</option>
                            <option value="Total">{{ "TOTAL" | translate }}</option>
                            <option value="Manual">{{ "MANUAL" | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div *ngIf="priceType != 'Manual'" class="blockContent">
                <div class="col-lg-12">
                    <div class="addProductPriceList gridWrapper">
                        <table class="table addProductPriceListRow">
                            <tr>
                                <th class="gridHeader">
                                    <div>{{"QUANTITY" | translate}}</div>
                                    <div class="currencySmall">({{product.Unit}})</div>
                                </th>
                                <th class="gridHeader" *ngFor="let item of pricelists">
                                    <div>{{item.Name}}</div>
                                    <div class="currencySmall">({{item.Currency}})</div>
                                </th>
                            </tr>
                            <tr *ngFor="let item of product.PriceLists | sortRanges">
                                <td class="gridCell">
                                    <a class="link icon" *ngIf="!item.Disabled" (click)="deleteRange(item)">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                    <input [id]="item.code" [ngModelOptions]="{standalone: true}" [name]="item.Range + i" type="text" *ngIf="!item.Disabled"
                                        [ngModel]="item.Range" (ngModelChange)="updateAndSetFocus($event, item)" />
                                    <span *ngIf="item.Disabled">{{item.Range | beautifyRange:[product.PriceLists, product.PricesAsTotal]}}</span>
                                </td>
                                <td class="gridCell" *ngFor="let list of pricelists">
                                    <input [ngModelOptions]="{standalone: true}" type="number" [(ngModel)]=item.Prices[list.Id] />
                                </td>
                            </tr>
                        </table>
                        <a class="link" (click)="addQuantity()">+ {{"ADD" | translate }} {{"QUANTITY" | translate}}</a>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" [disabled]="addProductForm.invalid || !validatePrices()" class="btn btn-success pull-right" (click)="saveProduct()">{{"CREATE" | translate}}</button>
            </div>
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<cropmodal [hidden]="!cropping" #cropmodal (cropped)="cropped($event)" [data]="data"></cropmodal>