<div *ngIf="pricelists" [hidden]="cropping" class="row blockContent">
    <div class="col-lg-12">
        <div class="col-lg-2">
            <img *ngIf="editmode" class="clickable" (click)="imgpicker.value=''; imgpicker.click()" src="{{product?.Image || 'assets/images/barcode.png'}}" />
            <img *ngIf="!editmode" src="{{product?.Image || '/assets/images/barcode.png'}}" />
            <input #imgpicker id="pic" type="file" style="visibility: hidden" multiple="false" accept="image/*" (change)="imageChanged($event)"
            />
        </div>

        <div class="col-lg-10">
            <div class="icons pull-right">
                <!--<a (click)="toggleExpand(product)">{{"CLOSE" | translate}}</a>-->
                <a class="icon" (click)="toggleEditMode()"><i [class]="editClass()"></i></a>
                <a *ngIf="editmode" class="icon" (click)="confirmDeleteProduct()"><i class="fa fa-trash-o"></i></a>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="productName">
                        <div *ngIf="!editmode">{{ product?.Name }}</div>
                        <div *ngIf="editmode">
                            <label>{{ "NAME" | translate }}</label>
                            <input type="text" class="form-control" [(ngModel)]="product.Name" />
                        </div>
                    </div>
                    <div class="articleNumber">
                        <div *ngIf="!editmode">{{ product?.ArticleNumber }}</div>
                        <div *ngIf="editmode">
                            <label>{{ "ARTICLENUMBER" | translate }}</label>
                            <input type="text" class="form-control" [(ngModel)]="product.ArticleNumber" />
                        </div>
                    </div>
                    <div class="productDescription">
                        <div *ngIf="!editmode">{{ product?.Description }}</div>
                        <div *ngIf="editmode">
                            <label>{{ "DESCRIPTION" | translate }}</label>
                            <input type="text" class="form-control" [(ngModel)]="product.Description" />
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="editmode" class="col-lg-12 form-group">
                <label class="">{{"INCLUDEDINCATALOGUES" | translate}}</label>

                <chosen class="catalogueTags multichosen fa-chosen" [width]="'100%'" [ngModelOptions]="{standalone: true}" [options]="catalogueOptions" [(ngModel)]="product.Catalogues"
                    placeholderTextMultiple="{{'SHOWALL' | translate}}" [multiple]="true"></chosen>
            </div>
            <div *ngIf="!product.PriceIsManual" class="blockContent">
                <div class="addProductPriceList gridWrapper">
                    <table>
                        <tr>
                            <th class="gridHeader">
                                <div>{{ "QUANTITY" | translate }}</div>
                                <div class="currencySmall">({{ product.Unit }})</div>
                            </th>
                            <th class="gridHeader" *ngFor="let item of pricelists">
                                <div>{{item.Name}}</div>
                                <div class="currencySmall">({{item.Currency}})</div>
                            </th>
                        </tr>
                        <tr *ngFor="let item of product.PriceLists | sortRanges">
                            <td class="gridCell">
                                <div *ngIf="!editmode">
                                    <span>{{item.Range | beautifyRange:[product.PriceLists, product.PricesAsTotal] }}</span>
                                </div>
                                <a class="link icon" *ngIf="editmode && (item.Range != -1 || multiOnes())" (click)="deleteRange(item)">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                                <div *ngIf="editmode">
                                    <input class="editProductRange" [id]="item.code" [hidden]="item.Range == -1" [ngModelOptions]="{standalone: true}" [name]="item.Range + i"
                                        type="text" [ngModel]="item.Range" (ngModelChange)="updateAndSetFocus($event, item)"
                                    />
                                    <span [hidden]="item.Range != -1">{{item.Range | beautifyRange:[product.PriceLists]}}</span>
                                </div>
                            </td>
                            <td class="gridCell" *ngFor="let list of pricelists">
                                <div *ngIf="!editmode">
                                    {{item.Prices[list.Id] || getStandardPrice(item.Range) + "*"}}
                                </div>
                                <input *ngIf="editmode" placeholder="{{ inheritedPrices && getStandardPrice(item.Range)}}*" [ngModelOptions]="{standalone: true}" type="number"
                                    [(ngModel)]=item.Prices[list.Id] />
                            </td>
                        </tr>
                        <tr *ngIf="editmode">
                            <td>
                                <a class="link" (click)="addRange()"> {{ "ADDRANGE" | translate }}</a>
                            </td>
                        </tr>
                    </table>
                    <div class="pull-right priceExplaination" [hidden]="!inheritedPrices">* = {{"PRICEMISSINGEXPLAINED" | translate: getStandardPriceList()}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<cropmodal [hidden]="!cropping" #cropmodal (cropped)="cropped($event)" [data]="data"></cropmodal>
<!--<div hidden="true" *ngIf="!product?.Expand" (click)="toggleExpand(product)">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-2">
                    {{product.ArticleNumber}}
                </div>
                <div class="col-lg-4">
                    {{product.Name}}
                </div>
                <div class="col-lg-6">
                    {{product.Description}}
                </div>
            </div>
        </div>
    </div>
</div>-->