
.addProductPriceList {
    overflow-x:scroll;
    white-space:nowrap;
    display: inline-block;
}

.addProductPriceList table {
    margin-top:15px;
    width: unset;
}
.addProductPriceList table td, .addProductPriceList table th{
    border-top: none;
    padding:2px 10px;
    vertical-align: top;
}

.addProductPriceList table th {
    padding-bottom: 10px;
}

.addProductPriceList table tr td:first-child, 
.addProductPriceList table tr th:first-child{
    padding-left: 0px;
}

.currencySmall {
    font-size: 10px;
    font-weight: normal;
    color:#888;
}
.addProductPriceList table tr {
    border-bottom:none;
    padding:0px;
    line-height: normal;
}

.priceExplaination {
    font-size: 12px;
}

.gridWrapper .gridHeader, .gridWrapper gridCell{
   display:table-cell;
}

.gridWrapper .gridHeader {
    font-weight: bold;
    line-height: 1.42857143;
    padding: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
}

.gridCell input {
    max-width: 80px;
}

a.link.icon {
    position: absolute;
    left:-15px;
}

.articleNumber {
    color:#888;
    font-size: 14px;
}

.productName {
    font-weight: bold;
}

.productDescription {

}

.icons a.link.icon {
    position: relative;
}