<div class="tab-content ">
    <div class="tab-pane active" id="tab1">

        <div class="evo-filter-container action-filter clearfix" style="position: relative;">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>{{'SORTBY' | translate}}</label>
                        <chosen width="100%" [options]="sortingFields" [(ngModel)]="sortingField" (change)="getactions()"></chosen>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2">
                    <div class="form-group">
                        <label for="">{{'FILTERBYACTIONNAME' | translate}}</label>
                        <input type="text" placeholder="{{'ACTIONNAME' | translate}}" (keyup)="getactions()" class="form-control" [(ngModel)]="name">
                    </div>
                </div>
                <div class="col-sm-2 col-md-2">
                    <div class="form-group">
                        <label>                                
                            <span class="clickable" (click)="quickselectLabels.toggleQuickSelectBox()">{{ selectedLabelFilter }}</span>
                        </label>
                        <quickselect #quickselectLabels [items]="labelFilters" displayProperty="label" (select)="changeLabelFilter($event)"></quickselect>
                        <chosen id="ListShowActionsFor" class="multichosen" width="100%" [multiple]="true" [options]="chosenLabels" [(ngModel)]="labels"
                            (change)="getactions()"></chosen>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group ownerBlock">
                        <label>{{ "USER" | translate }}</label>
                        <br />
                        <span *ngFor="let user of filteredUsers; let i = index" [class.invisible]="i > 2">
                            <img [profilepicture]="user.value" [tooltip]="user.label" />
                        </span>
                        <span *ngIf="filteredUsers.length > 3">
                            + {{ "NUMBEROFMORE" | translate:{count: filteredUsers.length-3 } }}
                        </span>
                        <a class="link icon"><i class="fa fa-plus" (click)="ownerbubble.open()"></i></a>
                        <div class="bubble-popup" classAvoidClose="noClose" arrowPosition="left" #ownerbubble>
                            <div *ngIf="filteredUsers.length > 0">
                                {{ "REMOVE" | translate }}:
                            </div>
                            <div class="percentBlock">
                                <span *ngFor="let user of filteredUsers; let i=index" class="evo-img-hover userBlock noClose" (click)="removeUserFromFilter(user, i)">
                                    <img [profilepicture]="user.value" [tooltip]="user.label" />
                                </span>
                            </div>
                            <div class="addOwnerBlock">
                                <div *ngIf="notFilteredUsers.length > 0">
                                    {{"ADD" | translate}}:
                                </div>
                                <div class="addUsers">
                                    <span class="noClose userBlock clickable" (click)="addUserToFilter(user, i)" *ngFor="let user of notFilteredUsers; let i = index">
                                        <img [profilepicture]="user.value" [tooltip]="user.label" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--<div class="col-sm-1 col-md-1">
                    <div class="form-group">
                        <label for="">{{ 'FILTERBYACTIONPRIORITY' | translate }}</label>
                        <chosen [width]="'100%'" [multiple]="false" [options]="priority" [(ngModel)]="actionpriority" (change)="actionpriority=$event;getactions();"></chosen>
                    </div>
                </div>-->
                <div (mouseenter)="editDates = true;" (mouseleave)="editDates = (startPickerVisible || endPickerVisible)" class="dateFilterDiv col-sm-4 col-md-4 form-group">
                    <label for="" class="clickable" (click)="quickselectDateType.toggleQuickSelectBox()">
                        <span>{{ "ACTIONDATEFILTERTYPE" | translate:{Type: filterDateType} }}</span>
                        </label>
                    <quickselect #quickselectDateType [items]="filterDateTypes" (select)="filterDateTypeChanged($event)"></quickselect>
                    <div [hidden]="!editDates" class="row">
                        <div class="col-md-6">
                            <label for="">{{ 'FROM' | translate }}</label>
                            <evo-datepicker id="ActionDatePicker" (onShow)="startPickerVisible = $event;" [dateOnly]="true" (ngModelChange)="dateChange('startDate', $event)" [ngModel]="filterStartDate"></evo-datepicker>
                        </div>
                        <div class="col-md-6">
                            <label for="">{{ 'TO' | translate }}</label>
                            <evo-datepicker id="ActionDatePicker" (onShow)="endPickerVisible == $event" [dateOnly]="true" (ngModelChange)="dateChange('endDate', $event)" [ngModel]="filterEndDate" [minDate]="filterStartDate" [defaultDate]="filterStartDate"></evo-datepicker>
                        </div>
                    </div>
                    <div class="row" [hidden]="editDates">
                        <div class="col-md-12">
                            <span *ngIf="filterStartDate || filterEndDate" class="dateFilterDisplay">
                                {{ "ACTIONDATEFILTERSPAN" | translate:{From: !filterStartDate ? '*' : filterStartDate | dateonly, To: !filterEndDate ? '*' : filterEndDate | dateonly} }}
                            </span>
                            <span *ngIf="!filterStartDate && !filterEndDate" class="dateFilterDisplay">
                                {{ "ACTIONDATEFILTERHOVER" | translate }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actionFilterRow">
                <div>
                    <a class="evo-filter-btn" [class.enabled]="actionList.selectedActions.length || actionList.selectAll" tooltip="{{'DELETE' | translate}}"
                        (click)="deleteMany()">
                            <i class="fa fa-trash fa-fw"> </i>
                        </a>
                    <a class="evo-filter-btn" [class.enabled]="actionList.selectedActions.length || actionList.selectAll" tooltip="{{'ADDFOLLOWUPACTION' | translate}}"
                        (click)="addActions()">
                            <i class="fa fa-check-square-o fa-fw"> </i>
                        </a>
                </div>
                <div>
                    <action-type multi="true" showLabels="true" [model]="actiontype" (change)="actiontype=$event;getactions();"></action-type>
                </div>
                <div style="width: 15%;">
                    <chosen id="ActionStatus" class="multichosen" [width]="'100%'" [multiple]="true" [options]="actionStatuses" [(ngModel)]="actionstatus"
                        (change)="getactions();"></chosen>
                </div>
            </div>
        </div>

        <div class="evo-table gridWrapper">
            <table>
                <thead>
                    <tr>
                        <th *ngFor="let column of columns">
                            <label *ngIf="column.name == 'Account' && actionList.Actionslist.length" class="customCheckBox leftFolat" id="custome-check"
                                tooltip="{{'SELECTALL' | translate }}" placement="right">
                                    <input type="checkbox" id="checkAll" [(ngModel)]="actionList.selectAll" (change)="checkAll();" class="checker">
                                    <div class="custonCkeck"></div>
                            </label> {{column.label | translate}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of actionList.Actionslist">

                        <td [attr.data-label]="Account" class="smallHidden">
                            <label class="customCheckBox leftFolat" id="custome-check">
                                <input type="checkbox" id="{{row.Id}}" [(ngModel)]="row.IsChecked" (change)="actionIdChange(row);" class="checker">
                                <div class="custonCkeck"></div>
                            </label>
                            <div class="accountLabel" [style.background]="row.Account?.AccountTypeCollor"></div><a *ngIf="row.Account" (click)="showAccountInfo(row.Account)">{{row.Account?.ShownName}}</a>
                        </td>
                        <td [attr.data-label]="UserAssignedName" class="smallHidden">
                            <div class="action-img-container" [tooltip]="row.UserAssignedId | username"><img style="width: 30px;" [profilepicture]="row.UserAssignedId"></div>
                        </td>
                        <td [attr.data-label]="Name" class="accountname">
                            <a (click)="showGroup(row.ActionGroupId, row.Id)">{{row.Name}}</a>
                        </td>
                        <td [attr.data-label]="Status" class="smallHidden"><i style="padding-right: 5px;" class="fa fa-{{_actionservice.actionTypeIcons[row.Type]}}"></i> {{
                            _actionservice.getStatusLabel(row.Status) | translate}}
                        </td>
                        <td [attr.data-label]="Start" class="smallHidden"> {{ row.StartDate | dateonly }}</td>
                        <!--<td [attr.data-label]="Type" class="smallHidden">{{ _actionservice.getTypeLabel(row.Type) | translate}}</td>-->
                        <td [attr.data-label]="Labels" class="smallHidden"><span *ngFor="let tag of row.Labels" style="font-size: 75%;" class="label evo-action-label">{{tag}}</span></td>
                        <td [attr.data-label]="" class="actionTd"><a (click)="delete(row.Id)" class="link icon"><i class="fa fa-trash-o"></i></a></td>
                    </tr>
                    <tr>
                </tbody>
            </table>
            <div class="preloaderWrapper" *ngIf="actionList.apiInProgress">
                <div class="preloader">
                    <div class="cssload-container">
                        <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
                    </div>
                </div>
            </div>
            <div *ngIf="actionList.Actionslist.length==0">
                {{'ACTIONINTRO' | translate}}
            </div>
        </div>

    </div>
</div>
<div class="filterController" (click)="toggleFiterbar()">
    <i class="fa fa-filter"></i>
</div>