<div class="contentPanel leftFree">
    <div class="contentWrapper">
        <div class="projectBox">
            <div class="col-lg-4 col-lg-offset-4" *ngIf="model">
                <form>

                    <div class="form-group">
                        <label>Name</label>
                        <input name="modelName" type="text" [(ngModel)]="model.Name" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Source</label>
                        <chosen class="chosen" id="codeSource" name="modelSource" [width]="'100%'" [multiple]="false" [options]="model.Sources" [(ngModel)]="model.Source"
                            style="height:20px;"></chosen>
                    </div>

                    <div class="form-group">
                        <label>Type</label>
                        <chosen class="chosen" id="codeType" name="modelType" [width]="'100%'" [multiple]="false" [options]="model.Types" [(ngModel)]="model.Type"
                            style="height:20px;"></chosen>
                    </div>

                    <div class="form-group">
                        <label>Campaign</label>
                        <chosen class="chosen" id="codeCampaign" name="modelCampaign" [width]="'100%'" [multiple]="false" [options]="model.Campaigns"
                            [(ngModel)]="model.Campaign" style="height:20px;"></chosen>
                    </div>

                    <div class="form-group">
                        <label>Destination Url</label>
                        <input type="text" name="destUrl" [(ngModel)]="targetUrl" class="form-control" />
                    </div>

                    <a class="btn" (click)="createCode()">Create</a>
                </form>
            </div>
        </div>
    </div>
</div>
<!--
    <div>
<form method="GET" action="http://app.evolumi.se/Signup">
    <input type="email" name="email" placeholder="Type in your Email address" />
    <input type="hidden" id="cookieCarrier" name="ref" />
    <br />
    <input type="submit" value="Signup" id="signUpBtn" />
</form>
</div>
<script>
    let elem = document.getElementById("cookieCarrier");

    let name = "ref" + "=";
    let ca = document.cookie.split(";");
    for (let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == " ") {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            elem.value = c.substring(name.length, c.length);
        }
    }

</script>-->