.quickActions {
    text-align: center;
}
.quickActions > div {
    display: inline-block;
    margin: 0px 20px;
    font-weight: 500;
}

.quickActions > div.clickable:hover {
    text-decoration: underline;
}

/*Was playing around a bit with colorcodes*/
/*.quickActions > div.clickable.action:hover {
    color: darkblue!important;
}
.quickActions > div.clickable.person:hover {
    color: darkred!important;
}
.quickActions > div.clickable.company:hover {
    color: darkorange!important; 
}
.quickActions > div.clickable.deal:hover {
    color: darkgreen!important;
}*/

.quickActions > div > div:nth-child(2){
    color:#555;
}

.quickActions > div > div {
    text-align: center;
}
