<div class="quickActions">
    <div class="clickable company" (click)="addAccountModal()">
        <div>
            <i class="fa fa-industry fa-2x"></i>
        </div>
        <div>
            {{"ADDNEWCOMPANY" | translate}}
        </div>
    </div>
    <div class="clickable person" (click)="addContactModal()">
        <div>
            <i class="fa fa-user fa-2x"></i>
        </div>
        <div>
            {{"ADDPERSON" | translate}}
        </div>
    </div>
    <div class="action" [class.clickable]="hasAccounts" [tooltip]="hasAccounts ? '' : ('CREATEACCOUNTTOOLTIP' | translate)" (click)="addActionModal()">
        <div>
            <i class="fa fa-check-square-o fa-2x"></i>
        </div>
        <div>
            {{"ADDACTION" | translate}}
        </div>
    </div>
    <div class="deal" [class.clickable]="hasAccounts" [tooltip]="hasAccounts ? '' : ('CREATEACCOUNTTOOLTIP' | translate)" (click)="addDealModal()">
        <div>
            <i class="fa fa-money fa-2x"></i>
        </div>
        <div>
            {{"ADDDEAL" | translate}}
        </div>
    </div>
</div>