<div class="mainTitle">
    <h1>{{ "VISITORS" | translate }}</h1>
</div>

<div class="panelAction">
    <a class="btn" (click)="clickFunc()">{{ "VISITORBUTTON" | translate }}</a>
</div>

<div class="contentPanel settingsPage">
    <div class="contentWrapper">
        <div class="projectBox">
            
            CONTENT

        </div>
    </div>
</div>