<!--<div class="customPopup systemActive" id="createNewsletter" (click)="clickToClose($event)">
    <div class="popupBox">-->
<!--<div *ngIf="!edit" class="title">
            <span>{{ 'ADDNEWSLETTER' | translate }} </span>
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <div *ngIf="edit" class="title">
            <span>{{ 'EDITNEWSLETTER' | translate }} </span>
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>-->
<!--<div class="popupContent">-->
<form #sendform="ngForm">
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label>{{'SUBJECT' | translate}}</label>
                <input class="form-control" [(ngModel)]="newsletter.Subject" name="subject" #subject="ngModel"/>
                <div [hidden]="subject.valid || subject.untouched" class="bg-danger">
                    {{ 'REQ' | translate }}
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label>{{'DESCRIPTION' | translate}}</label>
                <input class="form-control" [(ngModel)]="newsletter.Description" name="description" #description="ngModel"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label>{{'SENDDATE' | translate}}</label>
                <div *ngIf="!newsletter.SendNow">
                    <evo-datepicker noClose="true" [minDate]="today" [(ngModel)]="newsletter.SendDate" name="date" #date="ngModel"></evo-datepicker>
                </div>
                <div>
                    <label class="evo-cb-label" for="sendNow">{{'SENDNOW' | translate}}</label>
                    <label class="customCheckBox leftFolat" id="custome-check">
                        <input type="checkbox" id="sendNow" [(ngModel)]="newsletter.SendNow" class="checker" name="sendNow"/>
                        <div class="custonCkeck"></div>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label>{{'MAILLISTS' | translate}}</label><a class="pull-right clickable" (click)="openAddMailList()">{{'CREATENEW' | translate}}</a>
                <chosen class="multichosen" [multiple]="true" [options]="mailListsChosen" [ngModel]="newsletter.MailLists" (ngModelChange)="maillistChange($event)" name="maillist"
                    #maillist="ngModel"></chosen>
                <p>{{'RECIPIENTCOUNT' | translate}}: {{recipientCount}}</p>
            </div>
        </div>
    </div>

    <!--<div class="form-group">
                        <label>{{'ATTACHMENTS' | translate}}</label>
                        <input class="form-control" [(ngModel)]="newsletter.Attachments" name="attachments" />
                    </div>-->
    <!--<div class="evo-btn-row">
                        <button *ngIf="!edit" class="evo-btn" [disabled]="!f.valid" (click)="create()">{{'CREATEBTN' | translate}}</button>
                        <button *ngIf="edit" class="evo-btn" [disabled]="!f.valid" (click)="update()">{{'SAVEBTN' | translate}}</button>
                        <a (click)="cancel()" class="evo-cancel-link">{{'CANCEL' | translate}}</a>
                    </div>-->
</form>
<!--</div>-->
<!--</div>
</div>-->