<div class="mainTitle">
    <h1>{{(highchart.insightName ? highchart.insightName : 'INSIGHTS') | translate }}</h1>
</div>
<div class="contentPanel reports">
    <div class="container-fluid">
        <!-- CHARTS -->
        <div *ngIf="highchart.filter.goalsId" class="row">
            <div class="col-md-12 contentPanelLeft" style="height:1000px">
                <div class="projectBox">
                    <div class="filter-container row">
                        <div class="col-md-8">
                            <chartfilter horizontal="true" [type]="insightType" [filter]="highchart.filter" (changeFilter)="update()"></chartfilter>
                        </div>
                        <div class="col-md-4">
                            <div *ngIf="highchart.goalInsight">
                                <div class="form-group" *ngIf="highchart.goalInsight?.Description">
                                    <label>{{ 'DESCRIPTION' | translate }}</label>
                                    <p>{{highchart.goalInsight?.Description}}</p>
                                </div>
                                <div class="form-group">
                                    <label>{{ 'GOALSTYPES' | translate }}</label>
                                    <p>{{'GOALS' + highchart.goalInsight?.GoalType.toUpperCase() | translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="date-header" *ngIf="startDate">
                        <i class="fa fa-arrow-left clickable" (click)="prev(highchart.goalInsight.GoalId, highchart.goalInsight.Interval)"></i>                        
                            {{startDate | dateonly}} - {{endDate | dateonly}}
                        <i class="fa fa-arrow-right clickable" [ngStyle]="{'visibility': showNext ? 'visible' : 'hidden'}" (click)="next(highchart.goalInsight.GoalId, highchart.goalInsight.Interval)"></i>
                    </h4>
                    <highchart-column (pin)="pin($event)"></highchart-column>
                </div>
            </div>
        </div>
    </div>
</div>
<add-goal-modal *ngIf="(goalsSvc.goalObservable() | async)?.Id === undefined"></add-goal-modal>
<edit-goal-modal *ngIf="(goalsSvc.goalObservable() | async)?.Id"></edit-goal-modal>
<highchart-modal *ngIf="highchart.showModal">