<div class="mainTitle">
    <h1>{{ 'GOALS' | translate }}</h1>
</div>
<div class="contentPanel settingsPage">
    <div class="contentWrapper">
        <div class="projectBox clearfix">
            <div class="gridWrapper" *ngIf="goalList && goalList.length">
                <table>
                    <thead>
                        <tr>
                            <th>{{'NAME' | translate}}</th>
                            <th>{{'DESCRIPTION' | translate}}</th>
                            <th>{{'GOALSTYPE' | translate}}</th>
                            <th>{{'USERCOUNT' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let goal of goalList">
                            <td>
                                <a (click)="getInsight(goal.Id)">{{goal.Name}}</a>
                            </td>
                            <td>
                                {{goal.Description}}
                            </td>
                            <td>
                                {{'GOALS' + goal.SalesGoalType.toUpperCase() | translate}}
                            </td>
                            <td>
                                {{goal.UserCount}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="gridWrapper" *ngIf="!goalList || !goalList.length">
                {{'NOGOALSCREATED' | translate}}
            </div>
        </div>
    </div>
</div>
<add-goal-modal *ngIf="(goalsSvc.goalObservable() | async)?.Id === undefined"></add-goal-modal>
<edit-goal-modal *ngIf="(goalsSvc.goalObservable() | async)?.Id"></edit-goal-modal>