.searchBox.systemActive {

    background: #555;
    height: 50px;
    position: fixed;
    right: 50px;
    top: 0;
    width: 250px;
    /*border-radius: 5px;*/
    z-index: 300;
    /*box-shadow: 0 0 20px 0 #000000;
    -moz-box-shadow: 0 0 20px 0 #000000;
    -webkit-box-shadow: 0 0 20px 0 #000000;
    -o-box-shadow: 0 0 20px 0 #000000;*/
}

.searchBox input {
    border: 0px;
    padding: 5px;
    margin: 10px;
    width: 230px;
    display: none;
    border-radius: 2px;
}

.searchBox.systemActive input{
    height: 25px;
    font-size: 14px;
    padding: 5px;
    display: inline-block;
}

.searchResult:hover{
    background: #494949;
    text-decoration: none;
}

.searchResult.active{
    background: #494949;

}

.searchResult i {
    margin-right: 4px;
}

.searchResult .accountLabel{
    height: 15px;
    margin-top: 0px;
}

    /* line 387, ../sass/_header.scss */
    .searchBox.systemActive .searchIcon {
        background: #333;
    }
    /* line 391, ../sass/_header.scss */
    .searchBox.systemActive .searchSuggestions {
        display: block;
        padding-bottom: 10px;
        margin-top:1px;
        background: #353535;
        border-radius: 5px;
        border: 3px solid #555;
    }

    
@media screen and (max-width: 1023px) {
    /* line 347, ../sass/_header.scss */
    .searchBox {
        height: 50px;
        right: 50px;
    }
        /* line 401, ../sass/_header.scss */
        .searchBox.systemActive {
            right: 50px;
            height: 50px;
        }
            /* line 405, ../sass/_header.scss */
            .searchBox.systemActive input {
                margin-top: 8px;
            }
}

@media screen and (max-width: 991px) {

    /* line 419, ../sass/_header.scss */
    .searchBox.systemActive {
        right: 0px;
        z-index: 1100;
    }

}
/* line 430, ../sass/_header.scss */
.searchBox .searchSuggestions {
    float: left;
    width: 100%;
    display: none;
    margin-top:2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid #444;
    border-top: none;
}
    /* line 435, ../sass/_header.scss */
    .searchBox .searchSuggestions a {
        /*border-bottom: 1px solid #444;*/
        border-radius: 3px;
        display: block;
        font-size: 14px;
        color: #ffffff;
        padding: 8px 5px 6px 5px;
        margin: -2px 5px 0px 5px;
        line-height: 15px;
    }
    .searchBox .searchSuggestions a hr {
        padding: 0;
        margin: 5px 10px -5px 0;
        width: 100%;
        border-color: #444;

    }

    /* line 445, ../sass/_header.scss */
    .searchBox .searchSuggestions .title {
        border-bottom: 2px solid #666;
        color: #fff;
        margin: 0 10px;
        padding: 5px 0 8px 0;
    }

