<click-to-close (clickOutSide)="hideSearchBox()">
  <div class="searchBox" id="searchBoxMain" [class.systemActive]="showing">

    <input class="searchInputs" id="search_input" type="text" [(ngModel)]="searchText" placeholder="{{'SEARCH' | translate}}"
      [formControl]="term" />
    <div class="searchSuggestions" [class.systemActive]="showing">
      <div *ngIf="searching">
        <h5 class="title">{{ 'SEARCHING' | translate }}<img style="height:20px;margin-left: 10px;" src="assets/images/preloader.gif" alt="loading"
          /></h5>
      </div>
      <div *ngIf="Accounts.length>0">
        <h5 class="title">{{ 'ACCOUNTS' | translate }}</h5>
        <a *ngFor="let account of Accounts" (click)="click(account)" class="searchResult" [class.active]="account.index==selectedIndex">
          <i class="fa fa-{{ account.IsPerson ? 'user' : 'industry' }}"></i>
          <div class="accountLabel" [style.background]="account.Color"></div>
          {{account.Name}}<hr>
        </a>
      </div>
      <div *ngIf="Deals.length>0">
        <h5 class="title">{{ 'DEALS' | translate }}</h5>
        <a *ngFor="let deal of Deals" (click)="click(deal)" class="searchResult" [class.active]="deal.index==selectedIndex">
          <i class="fa fa-money"></i>
          {{deal.Name}}<hr></a>
      </div>
      <div *ngIf="Actions.length>0">
        <h5 class="title">{{ 'ACTIONS' | translate }}</h5>
        <a *ngFor="let action of Actions" (click)="click(action)" class="searchResult" [class.active]="action.index==selectedIndex">
          <i class="fa fa-{{action.Note}}"></i>
          {{action.Name}}<hr></a>
      </div>
      <!--<div *ngIf="Contacts.length>0">
        <h5 class="title"> {{ 'CONTACTS' | translate }}</h5>
        <a *ngFor="let contact of Contacts" (click)="click(action)" class="searchResult" [class.active]="contact.index==selectedIndex">
          <i class="fa fa-user"></i>
          {{contact.Name}}<hr></a>
      </div>-->
      <div *ngIf="!searching && searchText && !Deals.length && !Actions.length && !Accounts.length && !Contacts.length">
        <h5 class="title">{{ 'NOTHINGYET' | translate }}</h5>
      </div>
    </div>

  </div>
</click-to-close>