<div class="contentPanel settingsPage">
    <div class="contentWrapper">
        <div class="projectBox clearfix">
            <div class="col-lg-12">
            </div>
            <div class="col-md-3">
                <label for="Firstname">{{ 'VATLEVELS' | translate }}</label>
                <div class="gridWrapper fltNon clearfix">
                    <table class="normal">
                        <tbody [dragula]="'nested-bag'" [dragulaModel]='vats'>
                            <tr *ngFor="let vat of vats  let i = index">
                                <td> {{vat}}</td>
                                <td width="80">
                                    <a id="EditVatButton" (click)="showEditVatPopup(i)" class="link icon"><i class="fa fa-pencil-square-o"></i></a>
                                    <a id="DeleteVatButton" (click)="showDeleteVatPopup(i)" class="link icon"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix buttonWrapperRow">
                                <a id="VatAddButton" (click)="showAddVatPopup();" class="link pull-left"><i class="fa fa-plus fa-1"></i> {{ 'ADDVAT' | translate }}</a>
                            </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="customPopup " id="addContact" [ngClass]="{systemActive: addVatPopUp||editVatPopup}" (click)="clickToClose($event,'add')">
    <div class="popupBox">
        <div class="title" *ngIf="addVatPopUp">
            {{ 'ADDVAT' | translate}}
            <a id="VatCreateButton" class="close pull-right" (click)="cancel('add')"><i class="fa fa-times"></i></a>
        </div>
        <div class="title" *ngIf="editVatPopup">
            {{ 'EDITVAT' | translate}}
            <a id="VatEditButton" class="close pull-right" (click)="cancel('edit')"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="blockContent">
                <form [formGroup]="VatForm">
                    <div class="form-group">
                        <label> {{ 'VAT' | translate }}</label>
                        <input id="VatValue" type="number" class="form-control" placeholder="{{'VAT' | translate}}" formControlName="vat" [(ngModel)]="vatValue">
                    </div>
                    <div class="">
                        <input id="VatCancleButton" type="button" class="btn gray" value="{{ 'CANCELBTN' | translate }}" (click)="toggleVatPopupDisplay()" />

                        <input id="VatAddFieldButton" type="button" *ngIf="addVatPopUp" class="btn pull-right" (click)="addVAT(vatValue)" value="{{ 'ADDBTN' | translate }}" [disabled]="!VatForm.valid"/>
                        <input id="CarSaveButton" type="button" *ngIf="editVatPopup" class="btn pull-right" (click)="editVAT(vatValue)" value="{{'SAVEBTN' | translate}}" />

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="customPopup " id="deletevat" [ngClass]="{systemActive: deleteVatPopup}" (click)="clickToClose($event,'add')">
    <div class="popupBox">
        <div class="title">
            {{'DELETEVAT' | translate}}
            <a class="close pull-right" (click)="cancel('add')"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="blockContent">
                <form>
                    <div class="form-group">
                        <label for="deletetext">{{'WARNDELETEVAT' | translate}}?</label>                        
                    </div>
                    <div>
                        <input id="CancleButton" type="button" class="btn gray" value="{{ 'CANCELBTN' | translate }}" (click)="toggleDeleteVatPopupDisplay()" />                        
                        <input id="DeleteButton" type="button"  class="btn pull-right" (click)="delete()" value="{{ 'DELETE' | translate }}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
