.quickAddForm {
    padding: 10px;
    background: #e7fcff;
    text-align: right;
}

.quickAddForm .tiny {
    margin-top :0px !important;
}

.gridWrapper table.hasForm .form-group {
    width: 100%;
    overflow: hidden;
}
    .gridWrapper table.hasForm .form-group label {
        font-weight: bold;
        display: inline-block;
        text-align: left;
        text-transform: uppercase;
        font-size: 14px;
    }

@media screen and (min-width: 801px) {
    .gridWrapper table.hasForm td.widtLimit {
        width: 150px;
    }
}

.gridWrapper table.hasForm .btn.tiny {
    margin-top: 34px;
}