<form>
    <div class="gridWrapper clearfix">
        <table class="hasForm">
            <thead>
                <tr>
                    <th>{{ 'PRODUCT' | translate }}</th>
                    <th>{{ 'UNITS' | translate }}</th>
                    <th *ngIf="!deal.Editmode || !allowCurrencyChange"><span>{{ deal.CurrencyName }}</span></th>
                    <th *ngIf="deal.Editmode && allowCurrencyChange"><span class="clickable" (click)="quickselectcurrency.toggleQuickSelectBox()">{{ deal.CurrencyName }}</span>
                        <quickselect [clickoutside]="this.showQuickSelectBox" [outsideclick]="this.toggleQuickSelectBox"
                            #quickselectcurrency [items]="currencies" (select)="deal.CurrencyName = $event"></quickselect>
                    </th>
                    <th>{{ 'SUM' | translate }}</th>
                    <th *ngIf="deal.Editmode"></th>
                </tr>
            </thead>
            <tbody *ngIf="deal && deal.ProductItems">
                <tr *ngIf="deal.ProductItems.length==0">
                    <td colspan="7">{{'NORECORDSFOUND' | translate}}</td>
                </tr>
                <tr *ngFor="let pro of deal.ProductItems; let i = index">
                    <td data-label="Product">
                        {{pro.Product}}
                    </td>
                    <td *ngIf="!deal.Editmode && editingProduct != i" data-label="Units">
                        {{ pro.Units }} {{ pro.UnitsType }}
                    </td>
                    <td class="clickable" *ngIf="deal.Editmode && editingProduct != i" data-label="Units" (click)="editingProduct = i">
                        {{pro.Units}}&nbsp;
                        <span *ngIf="pro.Units">{{pro.UnitsType}} <i class="fa fa-pencil"></i></span>
                    </td>
                    <td *ngIf="editingProduct == i" data-label="Units">
                        <input style="width:60px;" type="number" autofocus [(ngModel)]="pro.Units" (blur)="updateProductUnits(pro)" (keydown.enter)="updateProductUnits(pro)" [ngModelOptions]="{ standalone: true }"/>
                    </td>
                    <td data-label="Price">{{pro.Price | bigNumber}} {{deal.CurrencyName}} <span *ngIf="wrongCurrencyCheck(pro)">***</span></td>
                    
                    <td data-label="Sum">{{pro.Sum | bigNumber}} {{deal.CurrencyName}}</td>
                    <td *ngIf="deal.Editmode"><i class="clickable" (click)="removeProductFromDeal(i)" class="fa fa-trash-o"></i></td>
                </tr>
                <tr *ngIf="deal.Editmode">
                    <td colspan="12">
                        <div class="quickAddForm" *ngIf="showQuickAdd">
                            <table>
                                <td>
                                    <input class="form-control" name="name" [(ngModel)]="quickAddProduct.Product" type="text" placeholder="{{'PRODUCT' | translate}}"
                                    />
                                </td>
                                <td style="max-width:100px">
                                    <input class="form-control" name="qty" [(ngModel)]="quickAddProduct.Units" type="number" placeholder="Qty" />
                                </td>
                                <td style="white-space: nowrap;">
                                    <span class="clickable" (click)="quickselectunittype.toggleQuickSelectBox()">{{ quickAddProduct.UnitsType }}</span>
                                    <quickselect #quickselectunittype [items]="unitTypes" (select)="quickAddProduct.UnitsType = $event"></quickselect>
                                </td>
                                <td style="max-width: 100px">
                                    <input class="form-control" name="price" style="max-width: 100px" [(ngModel)]="quickAddProduct.Price" type="number" placeholder="{{'PRICE' | translate}}"
                                    />
                                </td>
                            </table>
                            <div>
                                {{"SUM" | translate}}: {{quickAddProduct.Units * quickAddProduct.Price}}
                                <button class="btn tiny" (click)="addQuickProduct()">{{"SAVETODEAL" | translate}}</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="pull-left col-sm-12  col-xs-6 col-md-12">
                                <div>
                                    <a (click)="showQuickAdd=true" class="link"><i class="fa fa-plus fa-1"></i> {{ 'ADDPRODUCTS' | translate }}</a>
                                </div>
                                <div *ngIf="deal.AccountId" evo-require [features]="['Products']" (onFail)="showProducts=true">
                                    <a class="link" (click)="openProductPicker()"><i class="fa fa-book"></i> {{"OPENPRODUCTPICKER" | translate}} </a>
                                </div>
                                <div *ngIf="showProducts && deal.AccountId">
                                    <a class="link" [featureLink]="'Products'"><i class="fa fa-book"></i>{{'NUDGEPRODUCTS' | translate}}</a>
                                </div>
                                <div *ngIf="!deal.AccountId" class="">
                                    <span><i class="fa fa-book"></i> {{ "CHOOSEACCOUNTFORCATALOGUES" | translate }}</span>
                                    </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>