<div class="customPopup big" id="quick-add-popup" [class.systemActive]="displayModal" (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title">
            {{ 'QUICKADD' | translate }}
            <a class="close pull-right" (click)="hideModal()"><i class="fa fa-times"></i></a>
        </div>
        <quickaction-links (close)="hideModal()"></quickaction-links>
    </div>
</div>