<div class="mainTitle">
    <h1>{{ 'REPORTS' | translate }}</h1>
</div>

<div class="contentPanel reports">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 contentPanelLeft" style="height:1000px">
                <div class="projectBox">
                    <h3 class="title">Report</h3>

                    <div class="report-card-box row" *ngFor="let card of report.Cards">

                        <div class="layout-select-box col-md-12" *ngIf="!card.Layout">
                            <div class="layout-card col-md-2" *ngFor="let layout of layouts" (click)="setLayout(card, layout)">
                                <label>{{layout.name}}</label>
                            </div>
                        </div>

                        <div *ngIf="card.Layout" class="insight-select-box col-md-12">
                            <div class="col-md-12">

                                <label>{{'LAYOUT' | translate}}</label> : {{card.Layout}}<br />


                                <div class="layout-select-box">
                                    <div class="layout-card col-md-2" [class.active]="chart == activeChart" *ngFor="let chart of card.Templates;" (click)="setActiveChart(chart)">
                                        <label style="cursor:pointer">Chart {{card.Templates.indexOf(chart)}}</label>
                                        <div style="font-size:12px" *ngIf="chart.ChartId">
                                            <label>{{'TYPE' | translate}}</label> : {{chart.InsightType}}<br />
                                            <label>{{'ID' | translate}}</label> : {{chart.ChartId}}<br />
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div *ngIf="activeChart && !activeChart.ChartId">

                                <div class="insight-box" *ngFor="let insight of reportService.insightTypes row">
                                    <div class="col-md-12">
                                        <h4>{{insight.Name}}</h4>
                                    </div>
                                    <div *ngFor="let chart of insight.ChartTypes" class="insight-chart-type-box col-md-2" (click)="setActiveChartType(chart, insight)">
                                        <i class="fa fa-{{chart.Icon}}"></i><br />
                                        <label>{{chart.Name}}</label>
                                    </div>
                                </div>
                            </div>



                        </div>

                    </div>

                    <div class="add-project-card" (click)="newProjetCard()" *ngIf="!edit">
                        <label>Add Report Card</label>
                    </div>

                </div>
            </div>

            <div class="col-md-3 rightPanel">
                <!--Report details-->
                <div class="projectBox">

                    <h3>Report Details</h3>

                    <input [(ngModel)]="report.Name" placeholder="{{'NAME' | translate}}" />
                    <button (click)="update()">
                        {{ (report.Id ? "SAVE" : "CREATE" ) | translate }}
                    </button>
                    <button (click)="delete()" *ngIf="report.Id">
                        {{ 'DELETE' | translate }}
                    </button>
                </div>

                <div *ngIf="activeChart && activeChart.ChartId && editFilter">
                    <div class="projectBox">
                        <h3>Chart Details</h3>
                    </div>
                    <div class="insight-filter-box">
                        <chartfilter [type]="activeChart.DocumentType" [id]="activeChart.insightType" [filter]="activeChart.Filter" (change)="setFilter($event)"></chartfilter>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
