<div class="title">
    <h4>{{ 'ACTIVITIES' | translate }}</h4>

    <a *ngIf="enableAdd" (click)="newGroup()" class="btn pull-right">+</a>

</div>
<div class="content">
    <ul class="iconList">
        <li *ngFor="let group of groups">
            <i class="fa fa-{{group.Open ? 'square-o' : 'check-square-o'}} icon"></i><a (click)="show(group)">{{group.Name}}</a>
            <a *ngIf="enableDelete" class="icon dlt right" (click)="delete(group.Id)"><i class="fa fa-trash"></i></a>
            <br />
            <a *ngIf="group.NextAction" (click)="_action.showGroup(group.Id, group.NextAction.Id)"><p class="contactTitle" >{{ group.NextAction.StartDate | datetime }}</p></a>
            <a *ngIf="group.PreviousAction && !group.NextAction" (click)="_action.showGroup(group.Id, group.PreviousAction.Id)"><p class="contactTitle" >{{ group.PreviousAction.StartDate | datetime }}</p></a>
        </li>
    </ul>
    <span *ngIf="!groups.length">{{'NOACTIONS' | translate }}</span>
</div>