<div class="customPopup big" [class.systemActive]="orgService.inviteToOrganisation" id="addUser" (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title" *ngIf="!orgService.newOrgCreated">
            <span *ngIf="userId==''">{{ 'USERADD' | translate }}</span>
            <span *ngIf="userId!=''">{{ 'USEREDIT' | translate }}</span>
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="row" *ngIf="orgService.newOrgCreated">
                <div class="col-lg-10 col-lg-offset-1">
                    <h3>
                    {{ "NEWORGINVITEHEADER" | translate:{ OrganisationName: OrgName } }}
                    </h3>
                    {{ "NEWORGINVITEMESSAGE" | translate }}
                </div>
            </div>

            <br />
            
            <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h4>{{ "FIRSTNAME" | translate }}</h4>
                </div>
                <div class="col-lg-2">
                    <h4>{{ "LASTNAME" | translate }}</h4>
                </div>
                <div class="col-lg-4">
                    <h4>{{ "EMAIL" | translate }}</h4>
                </div>
                <div class="col-lg-2">
                    <h4>{{ "ROLE" | translate }}</h4>
                </div>
            </div>

            <div class="row" *ngFor="let user of usersToInvite; let i = index">
                <div class="col-lg-2 col-lg-offset-1 form-group">
                    <input type="text" class="form-control" [(ngModel)]="user.FirstName" />
                </div>
                <div class="col-lg-2 form-group">
                    <input type="text" class="form-control" [(ngModel)]="user.LastName" />
                </div>
                <div class="col-lg-4 form-group">
                    <input type="text" class="form-control" [(ngModel)]="user.Email" />
                </div>
                <div class="col-lg-2 form-group">
                    <chosen width="100%" [options]="rolesArray" [(ngModel)]="user.RoleId"></chosen>
                </div>
                <div class="col-lg-1">
                    <i class="fa fa-trash-o clickable" (click)="deleteRow(i)"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 evo-btn-row">
                    <a class="link pull-left" (click)="addRow()">+ {{ "ADDUSER" | translate }} </a>
                    <a class="btn pull-right" (click)="inviteUsers()">{{ "INVITE" | translate }}</a>
                    <a class="evo-cancel-link" (click)="close()"> {{ "CANCEL" | translate }}</a>
                </div>
            </div>  
        </div>
    </div>
</div>