<div class="customPopup small" [class.systemActive]="user" id="editUserRole" (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title">
            <span *ngIf="user?.UserId!=''">{{ 'USEREDIT' | translate }}</span>
            <a class="close pull-right" (click)="closeModal(false)"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent" *ngIf="user">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>{{ "ROLE" | translate }}</label>
                        <chosen width="100%" [options]="roles" [ngModel]="user.RoleId" (ngModelChange)="changeRole($event)"></chosen>
                    </div>
                </div>
            </div>
            <div class="evo-btn-row">
                <a class="btn" (click)="closeModal(true)">{{ "SAVE" | translate }}</a>
            </div>
        </div>
    </div>
</div>