<div class="panel panel-default">
    <div class="panel-body padding-l-r-0">
        <div class="actionsDetails">
            <div class="">
                <div class="col-sm-12 col-md-12 padding-l-r-0">
                    <div class="col-sm-9 col-md-9 padding-l-0">
                        <h2>
                            <span>
                                <i class="fa fa-{{type.icon}} fa-fw" tooltip="{{type.label | translate}}"></i>
                            </span>
                            <a (click)="showGroup(action.ActionGroupId, action.Id)">
                                {{action.Name}}
                            </a>
                        </h2>

                    </div>

                    <div class="col-sm-3 col-md-3 padding-r-0">
                        <div class="right">
                            {{actionSer.getStatusLabel(action.Status) | translate}}
                            <img [profilepicture]="action.UserAssigned?.Id" tooltip="{{action.UserAssigned?.FullName}}" placement="left">
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 padding-l-0" *ngIf="action.Labels.length">

                    <div id="actionTag" class="block">
                        <span *ngFor="let tag of action.Labels" class="label label-warning">
                                {{tag}}
                            </span>
                    </div>

                </div>

                <!-- Contact and Account Column -->
                <div class="col-sm-6 col-md-4 padding-l-r-0">

                    <!--Account data-->
                    <div class="col-sm-12 col-md-12 padding-l-0 action-data" *ngIf="action.Account">
                        <i class="fa {{account.IsPerson ? 'fa-user' : 'fa-industry'}}"></i>
                        <div class="data-row">
                            <div class="accountLabel" [style.background]="action.Account.AccountTypeCollor"></div>
                            <a class="link black" (click)="showAccountDetails(action.Account)"> {{ action.Account.ShownName }}</a>
                        </div>
                    </div>
                    <!--Contact data-->
                    <div class="col-sm-12 col-md-12 padding-l-0 action-data" *ngFor="let person of action.RelatedPersonsData">
                        <i class="fa fa-user"></i>
                        <div class="data-row">
                            <a class="link black" (click)="showContact(person.Id)"> {{person.FirstName + " " + person.LastName}}</a>
                        </div>
                        <div class="data-row">
                            <font class="information">{{person.Title}}</font>
                        </div>
                    </div>
                    <!--Deal data-->
                    <div class="col-sm-12 col-md-12 padding-l-0 action-data" *ngIf="action.RelatedDeal">
                        <i class="fa fa-money"></i>
                        <div class="data-row">
                            <a class="link black" (click)="openDealModal(action.RelatedDeal)">{{ action.RelatedDeal.Name ? action.RelatedDeal.Name : ('DEAL' | translate) }}</a>
                        </div>
                    </div>

                </div>

                <!--Mail and Phone Column-->
                <div class="col-sm-6 col-md-8 padding-l-r-0">

                    <!--Account Email data-->
                    <div class="col-sm-12 col-md-12 padding-l-0 action-data" *ngIf="action.Account?.Email">
                        <i class="fa fa-envelope-o"></i>
                        <div class="data-row">
                            <a class="" (click)="modal.showMailModal(action.Account.Email, action.Account, action.ActionGroupId)"> {{action.Account.Email}}</a>
                        </div>
                    </div>

                    <!--Contact Email data-->
                    <!--<div class="col-sm-12 col-md-12 padding-l-0 action-data" *ngFor="let contact of action.RelatedPersonsData">
                            <i class="fa fa-envelope-o"></i>
                            <div class="data-row">
                                <a class="link black" (click)="modal.showMailModal(contact.Email, action.Account, contact)"> {{contact.Email}}</a>
                            </div>
                        </div>-->

                    <!--Account Phone data-->
                    <div class="col-sm-12 col-md-12 padding-l-0 action-data" *ngIf="action.Account?.Phone">
                        <i class="fa fa-phone"></i>
                        <div class="data-row">
                            <click2call [number]="action.Account.Phone" [showIcon]="false" [account]="action.Account.Id" [action]="action.Id"></click2call>
                        </div>
                    </div>

                    <!--Contact Phone data-->
                    <!--<div class="col-sm-12 col-md-12 padding-l-0 action-data" *ngFor="let contact of action.RelatedPersonsData">
                            <i class="fa fa-phone"></i>
                            <div class="data-row">
                                <click2call [number]="action.RelatedContact.PhoneNumber" [showIcon]="false" [account]="action.Account.Id" [contact]="action.RelatedContact.Id" [action]="action.Id"></click2call>
                            </div>
                        </div>-->

                    <!--Date-->
                    <div class="col-sm-12 col-md-12 padding-l-0 action-data">
                        <i class="fa fa-calendar"></i>
                        <div class="data-row">
                            <font class="information">{{action.StartDate | datetime }}</font>
                            <font class="information" *ngIf="action.EndDate > action.StartDate"> - {{action.EndDate | datetime}}</font>
                        </div>
                    </div>

                    <!--Location-->
                    <div class="col-sm-12 col-md-12 padding-l-0 action-data" *ngIf="action.Location">
                        <i class="fa fa-globe"></i>
                        <div class="data-row">
                            <font class="information">{{action.Location}}</font>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 padding-l-r-0 clearFloat" style="padding-top:20px;">
                    <textarea autosize class="form-control" id="ActionCommentText" [formControl]="textArea"></textarea>
                </div>
                <div class="col-sm-12 col-md-12 padding-l-r-0">

                    <div *ngFor="let status of statuses" class="action-status" [class.selected]="status.value == action.Status" (click)="action.Status=status.value;showSave=true;">
                        <span>{{status.label | translate}}</span>
                    </div>


                    <div (mouseenter)="showMenu=true" (mouseleave)="showMenu=false" style="float:right" *ngIf="showSave">
                        <button class="btn hollow" id="ActionEditNoteButton" type="button" (click)="save()">{{ 'SAVE' | translate }}<i class="fa fa-caret-down"></i></button>
                        <div *ngIf="showMenu" class="action-menu" style="z-index:5000">
                            <ul>
                                <li (click)="save()">{{ 'SAVE' | translate }}</li>
                                <li *ngIf="action.Status != 'Open'" (click)="saveAndCreateNew()">{{ 'ACTIONCLOSEANDNEW'| translate }}</li>
                            </ul>
                        </div>
                        <!--<a class="btn" (click)="syncActionToCalendar(action)">sync</a>-->
                    </div>
                    <label class="pull-right saved-note" *ngIf="isSaved">{{'SAVED' | translate}}</label>
                </div>

            </div>
        </div>
    </div>
</div>