<div class="tab-content">
    <div class="tab-pane active" id="tab1">
        <div>
            <div class="evo-filter-container action-filter clearfix">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label for="">{{ 'SHOWACTIONSFOR' | translate }}</label>
                            <chosen id="ShowActionsFor" class="multichosen" [width]="'100%'" [multiple]="true" [options]="users" [(ngModel)]="ownerIds" (change)="filterChange($event);"></chosen>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label for="">{{ 'THATARE' | translate }}</label>
                            <chosen id="ActionStatus" class="multichosen" [width]="'100%'" [multiple]="true" [options]="chosenStatuses" [(ngModel)]="statuses" (change)="filterChange($event);"></chosen>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-2">
                        <div class="form-group">
                            <label for="">{{ 'WITHIN' | translate }}</label>
                            <evo-datepicker id="ActionDatePicker" [dateOnly]="true" [ngModel]="filterStartDate" (ngModelChange)="dateChange('startDate', $event)"></evo-datepicker>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-2">
                        <div class="form-group">
                            <label for="">&nbsp;</label>
                            <evo-datepicker id="ActionDatePicker" [dateOnly]="true" [ngModel]="filterEndDate" (ngModelChange)="dateChange('endDate', $event)" [minDate]="filterStartDate"></evo-datepicker>
                        </div>
                    </div>


                    <div class="col-sm-6 col-md-6 col-lg-2">
                        <div class="form-group">
                            <label>                                
                                <span class="clickable" (click)="quickselect.toggleQuickSelectBox()">{{ selectedLabelFilter }}</span>
                            </label>
                            <quickselect #quickselect [items]="labelFilters" displayProperty="label" (select)="changeLabelFilter($event)"></quickselect>
                            <chosen id="ShowActionsFor" class="multichosen" [width]="'100%'" [multiple]="true" [options]="chosenLabels" [(ngModel)]="labels" (change)="filterChange($event)"></chosen>
                        </div>
                    </div>
                </div>

                <!--Acation Type filters-->
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <action-type multi="true" showLabels="true" [model]="types" (change)="types=$event;getActions();"></action-type>
                    </div>
                </div>

            </div>
        </div>

        <div class="actionBox clearfix" *ngFor="let act of _actionFlowSer.Actionsflow; let i = index" [hidden]="act.hidden">

            <action-card [action]="act" (update)="update($event)" (account)="out.next($event)"></action-card>

        </div>

        <div id="NoActionText" *ngIf="_actionFlowSer.Actionsflow.length==0">
            {{'ACTIONINTRO' | translate}}
        </div>

        <div class="preloaderWrapper" *ngIf="_actionFlowSer.apiInProgress">
            <div class="preloader">
                <div class="cssload-container">
                    <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
                </div>
            </div>
        </div>
        <div id="ToggleFilterBar" class="filterController" (click)="toggleFiterbar()">
            <i class="fa fa-filter"></i>
        </div>
    </div>