.information-container{
    top:150px;
    transition: 0.5s;
    white-space:nowrap;
    overflow:hidden;
    position:fixed;
    z-index: 30000;
    right:0px;
    width:initial;
    min-height: 61px;
}

.information-text{
    color:white;
    font-weight: 500;
}

.reload-link, .info-message{
    font-size: 13px;
}

.close{
    float: right;
    margin:0;
    padding: 0;
    cursor: pointer;
    width: min-content;
    vertical-align: text-top;
    font-size: 14px;
}

.helpIcon {
    vertical-align:middle;
    display:table-cell;
    width:30px;
    height:100%;
    background-color: #7777ff;
    border-radius:10px 0px 0px 10px;
    text-align:center;
    padding-bottom: 18px;
    padding-top: 18px;
}

.helpLinks {
    padding: 10px 10px 10px 0;
    font-size: 15px;
    margin-left:-25px;
    vertical-align:top;
    display:table-cell;
    background-color: #7777ff;
}

a {
    color:white;
}
a:visited{
    text-decoration: none;
}
a:hover {
    color:white;
}

i {
    width:30px;
    color:white;
}
ul {
    list-style-type:none;
    padding: 10px 24px 0px 0px;
}

li{
    white-space:nowrap;
}
.innerHelpContainer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

