<div class="information-container" (mouseover)="expand()" (mouseleave)="collapse()" *ngIf="showing">
    <div class="innerHelpContainer">
        <div class="helpIcon">
            <i class="fa fa-exclamation"></i>
        </div>
        <div class="helpLinks information-text" *ngIf="isExtended">
            <i class="close link fa fa-times" (click)="close()"></i>
            <div>
                {{ (info.title ? info.title : "INFORMATION") | translate }}
            </div>
            <div class="info-message" innerHtml="{{ info.message | translate }}"></div>
            
            <div *ngIf="info.linktext" class="reload-link">
                <a *ngIf="externalLink" [href]="info.link" target="blank">{{ info.linktext | translate}}</a>
                <a *ngIf="!externalLink" (click)="navigate(info.link)">{{ info.linktext | translate}}</a>
            </div>
        </div>
    </div>
</div>