<div class="contentPanel accounts leftFree">
    <div class="myOverview">
        <div class="mainTitle leftFree whiteHeader">
            <h1>{{ 'MYOVERVIEW' | translate }}</h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-4 basicUserDetails">                  
                        <img *ngIf="currentUser.ProfilePictureUrl" src="{{currentUser.ProfilePictureUrl}}?{{currentUser.timestamp}}" alt="" />
                        <img *ngIf="!currentUser.ProfilePictureUrl" src="assets/images/avatar.jpg" alt="" />                     
                </div>

                <div class="col-lg-10 col-md-9 col-sm-8">
                    <div class="projectBox">
                        <div class="myAccountDetaisl">
                            <div class="title">
                                <h2>{{currentUser.FirstName}} {{currentUser.LastName}} </h2>
                                <p class="email">{{currentUser.Email}} </p>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2>
                                        {{ 'MYORGS' | translate }}
                                    </h2>
                                </div>
                                <div class="col-md-4 col-sm-6 organisationColumn" *ngFor="let org of organisationService.organisationsObservable() | async" id="{{org.Id}}">
                                    <a *ngIf="org.IsAdmin" class="iconButton delete pull-right" (click)="deleteOrganisation(org.Id)"><i class="fa fa-trash-o"></i></a>
                                    <a (click)="setOrganisation(org.Id)" class="orginsationName">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img *ngIf="!org.ImageUrl" src="assets/images/evolumi_logo.png" alt="" />
                                                <img *ngIf="org.ImageUrl" src="{{org.ImageUrl}}?{{timestamp}}" alt="" />
                                            </div>
                                            <div class="col-md-8">
                                                <h3>{{org.OrganisationName}}</h3>
                                                <p>{{org.UserRoleName}}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>                                

                                <div class="col-md-4 col-sm-6">
                                    <a (click)="addOrganisation.show()" class="addNewOrganisation">
                                        <i class="fa fa-plus"></i> {{ 'ADDNEWORG' | translate }}
                                    </a>
                                </div>

                                <div class="col-xs-12" *ngIf="invites.length">
                                    <h2>
                                        {{ 'MYINVITES' | translate }}
                                    </h2>
                                </div>
                                <div class="col-md-4 col-sm-6 organisationColumn" *ngFor="let invite of invites">
                                    <a class="iconButton delete pull-right" (click)="acceptInvitation(invite.Id)"><i class="fa fa-check" tooltip="{{'ACCEPT' | translate }}"></i></a>
                                    <div class="orginsationName">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img *ngIf="!invite.ImageUrl" src="assets/images/evolumi_logo.png" alt="" />
                                                <img *ngIf="invite.ImageUrl" src="{{invite.ImageUrl}}?{{timestamp}}" alt="" />
                                            </div>
                                            <div class="col-md-8">
                                                <h3>{{invite.OrganisationName}}</h3>
                                                <p>{{invite.RoleName}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>  

                            </div>
                            <!--  <div class="row">
                                <div class="col-xs-12">
                                    <h2>
                                       {{ 'APPLIEDASSIGNMENTS' | translate }} 
                                    </h2>
                                </div>
                                <div>
                                  <div class="assignment-column col-md-4 col-sm-6" *ngFor="let assignment of assignments">
                                        <a class="orginsationName" [routerLink]="['/CRM/MyOverview/ReadAssignment', { id: assignment.id }]">
                                            <div>
                                                <h1>{{assignment.title}}</h1>
                                                <p>
                                                    {{assignment.description}}
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <p class="list-padding" *ngIf="assignments && assignments.length==0">-</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <a class="pull-right" *ngIf="assignments && assignments.length == 6" [routerLink]="['AppliedAssignments']"> {{ 'MORE' | translate }} -></a>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <add-organisation (hideAddOrgForm)="hideAddOrgForm();"#addOrganisation></add-organisation>
    </div>
</div>
