
.iconButton {
    border: 0 none;
    padding: 3px;
    text-align: center;
    width: 30px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -o-border-radius: 3px 3px 3px 3px;
}
    .iconButton.delete {
        background: #eeeeee;
        color: #5fc764;
    }
        .iconButton.delete:hover {
            color: #333333;
        }

.myOverview .myAccountDetaisl .organisationColumn .iconButton {
    border: 1px solid #ccc;
    border-radius: 3px 0 0;
    bottom: 15px;
    box-shadow: 1px 1px 3px -2px #666 inset;
    position: absolute;
    right: 15px;
    z-index: 10;
}

@media screen and (max-width: 767px) {
    .myOverview .myAccountDetaisl .organisationColumn .iconButton {
        bottom: 0px;
    }
}