<!--<div class="panelAction">

    <a id="AddSaleProcessButton" [routerLink]="['./AddSalesProcess']" class="btn">
        <i class="fa fa-plus"></i> <font>{{ 'ADDSALESPROCESS' | translate }}</font>
    </a>
</div>-->

<div class="contentPanel settingsPage">
    <div class="contentWrapper">
        <div class="projectBox clearfix salesProcess" *ngFor="let sales of _salesService.salesProcessList; let salesProcess=index;">
            <h3>
                {{sales.Name}}
                <a (click)="deleteSalesProcess(sales.Id)" class="link icon pull-right"><i class="fa fa-trash-o"></i></a>
                <a (click)="editSalesProcess.showModal(sales.Id, sales.Name)" class="link icon pull-right edit-sale-process"><i class="fa fa-pencil"></i></a>
            </h3>
            <div class="tab-content">
                <div class="row dealsStatus">
                    <div class="col-md-3">
                        <h4 class="clearfix">{{ 'SALESPIPE' | translate }}</h4>
                        <div class="gridWrapper fltNon clearfix">
                            {{sales.SalesPipe}}
                            <table class="normal">
                                <tbody>
                                    <tr class="id,{{salesPipe.Id}},{{i}},{{salesProcess}}," *ngFor="let salesPipe of sales.SalesStatus.SalesPipe; let i=index">
                                        <td>{{salesPipe.Name}}</td>
                                        <td width="80">{{salesPipe.Percentage}}%</td>
                                        <td width="80">
                                            <a [routerLink]="['EditDealStatus', sales.Id, '1', salesPipe.Id]" class="link icon"><i class="fa fa-pencil-square-o"></i></a>
                                            <a (click)="deleteField(1,sales.Id,salesPipe.Id)" class="link icon"><i class="fa fa-trash-o"></i></a>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix buttonWrapperRow">
                                <a [routerLink]="['./AddDealStatus', sales.Id, '1']" class="link pull-left"><i class="fa fa-plus fa-1"></i> {{ 'ADDSTATUS' | translate }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="clearfix">{{ 'POSTSALES' | translate }}</h4>
                        <div class="gridWrapper fltNon clearfix">
                            <table class="normal">
                                <tbody [dragula]="'postsales-bag'" [dragulaModel]='sales.SalesStatus.PostSalesPipe'>
                                    <tr class="id,{{PostSalesPipe.Id}},{{i}},{{salesProcess}}," *ngFor="let PostSalesPipe of sales.SalesStatus.PostSalesPipe; let i=index">
                                        <td>{{PostSalesPipe.Name}}</td>
                                        <!--  <td width="80">{{PostSalesPipe.Percentage}}%</td> -->
                                        <td width="80">
                                            <a [routerLink]="['./EditDealStatus', sales.Id, '2', PostSalesPipe.Id]" class="link icon"><i class="fa fa-pencil-square-o"></i></a>
                                            <a (click)="deleteField(2,sales.Id,PostSalesPipe.Id)" class="link icon"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix buttonWrapperRow">
                                <a [routerLink]="['./AddDealStatus', sales.Id, '2']" class="link pull-left"><i class="fa fa-plus fa-1"></i> {{ 'ADDSTATUS' | translate }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="clearfix">{{ 'LOSTDEALS' | translate }}</h4>
                        <div class="gridWrapper fltNon clearfix">
                            <table class="normal">
                                <tbody [dragula]="'lostdeals-bag'" [dragulaModel]='sales.SalesStatus.LostSalesPipe'>
                                    <tr class="id,{{LostSalesPipe.Id}},{{i}},{{salesProcess}}," *ngFor="let LostSalesPipe of sales.SalesStatus.LostSalesPipe; let i=index">
                                        <td>{{LostSalesPipe.Name}}</td>
                                        <!--  <td width="80">{{LostSalesPipe.Percentage}}%</td> -->
                                        <td width="80">
                                            <a [routerLink]="['./EditDealStatus', sales.Id, '3', LostSalesPipe.Id]" class="link icon"><i class="fa fa-pencil-square-o"></i></a>
                                            <a (click)="deleteField(3,sales.Id,LostSalesPipe.Id)" class="link icon"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix buttonWrapperRow">
                                <a [routerLink]="['./AddDealStatus', sales.Id, '3']" class="link pull-left"><i class="fa fa-plus fa-1"></i> {{ 'ADDSTATUS' | translate }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="clearfix">{{ 'CLOSED' | translate }}</h4>
                        <div class="gridWrapper fltNon clearfix">
                            <table class="normal">
                                <tbody [dragula]="'closed-bag'" [dragulaModel]='sales.SalesStatus.ClosedSalesPipe'>
                                    <tr class="id,{{ClosedSalesPipe.Id}},{{i}},{{salesProcess}}," *ngFor="let ClosedSalesPipe of sales.SalesStatus.ClosedSalesPipe; let i=index">
                                        <td>{{ClosedSalesPipe.Name}}</td>
                                        <!--  <td width="80">{{ClosedSalesPipe.Percentage}}%</td> -->
                                        <td width="80">
                                            <a [routerLink]="['./EditDealStatus', sales.Id, '4', ClosedSalesPipe.Id]" class="link icon"><i class="fa fa-pencil-square-o"></i></a>
                                            <a (click)="deleteField(4,sales.Id,ClosedSalesPipe.Id)" class="link icon"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix buttonWrapperRow">
                                <a [routerLink]="['./AddDealStatus', sales.Id, '4']" class="link pull-left"><i class="fa fa-plus fa-1"></i> {{ 'ADDSTATUS' | translate }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popupOverlay in"></div>
</div>
<router-outlet></router-outlet>
<edit-sales-process #editSalesProcess></edit-sales-process>
