<div class="panel-footer">
    <div class="actions">
        <div class="like elem">
            <a (click)="like.likeit();likeit(like.Id)" *ngIf="!like.HasLiked">{{ 'LIKE'|translate }}</a>
            <a (click)="like.unlikeit();unlikeit(like.Id);" *ngIf="like.HasLiked">{{ 'UNLIKE'|translate }}</a>
            <b><i class="fa fa-thumbs-o-up"></i> {{like.LikesCount}}</b>
        </div>
        <div class="comment elem">
            <a (click)="like.showCommentBox()">{{ 'COMMENT'|translate }}</a>
            <b><i class="fa fa-commenting-o"></i> {{like.CommentsCount}}</b>
        </div>
    </div>
    <div class="commentWrapper">
        <div *ngFor="let cmt of like.Comments; let i = index" class="commentRow clearfix">
            <div class="actionIcon"><img [profilepicture]="cmt.UserCreatedId"></div>
            <b>{{cmt.UserName}}</b><span class="commentText">{{cmt.Text}}</span>
            <a class="pull-right" (click)="like.CommentsCount=like.CommentsCount-1;newsfeed.deleteComment(like,i)" style="padding-left:5px;"><i class="fa fa-trash"></i></a>
            <span class="date pull-right"> {{cmt.DateCreated | datetimeago}}</span>
        </div> 
        <div class="form-group textareaComment clearfix" [hidden]="!like.showcomment">
            <textarea autosize rows="3" #comment class="form-control" id="{{like.Id}}"></textarea>
            <button class="btn pull-right" (click)="newsfeed.addcomment(like,comment.value);comment.value = '';">
                <span [hidden]="like.commentloader">
                    {{ 'COMMENT'| translate }}
                </span>
                <span>
                    <div [hidden]="!like.commentloader"  >
                        <img src="assets/images/preloader.gif" alt="loading"/>
                    </div>
                </span>
            </button>
        </div>
    </div>
</div>