<loader></loader>
<header-black></header-black>
<button-panel></button-panel>
<sponsor-ads></sponsor-ads>
<router-outlet></router-outlet>

<click2call-control evo-require [features]="['click2call']" [permissions]="['EvolumiAdmin']"></click2call-control>
<quick-add-modal></quick-add-modal>
<action-group-modal></action-group-modal>
<document-modal></document-modal>
<action-modal></action-modal>
<contact-modal></contact-modal>
<click-2-mail></click-2-mail>
<help-component></help-component>
<info-component></info-component>
<addeditdeal *ngIf="_deal.deal"></addeditdeal>
<feature-standalone-selector></feature-standalone-selector>
<showImage-selector></showImage-selector>
<package-users-selector></package-users-selector>
<account-details-modal></account-details-modal>
<map-company-selector *ngIf="_map.show" [incomingAddress]="_map.addressArray" (close)="_map.hide()"></map-company-selector>