/*.info-box{
    border: 2px solid #bce8f1;
    background-color: #d9edf7;
    color: #31708f;
}

.info-box label{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 3px;
    margin-left: 3px;
}

.info-box p{
    font-size: 13px;
    margin-left: 3px;
}*/

.import-btn{
    font-size: 18px !important;
    color: #fff !important;
    font-weight: normal !important;
    text-transform: none !important;
}

.error-message{
    color: red;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel-heading:hover a{
    color: #5fc764;
    text-decoration: none;
}

.panel-heading a:hover{
    text-decoration: none;
}

.border-div{
    border-bottom: solid 1px #eee;
    padding-left: 2px;
    padding-right: 2px;
}

.trash-icon{
    padding-top: 12px;
}