<div class="customPopup import-popup" [class.medium]="step === 2" [class.systemActive]="displayModal" id="importPopup" (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title">
            {{ 'IMPORT' | translate }}
            <a class="close pull-right" (click)="hideModal()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="row">
                <div class="col-md-12" *ngIf="step == 1 && !processing">
                    <div class="form-group" style="text-align: center;">
                        <label class="btn evo-btn import-btn" for="file-input-import">{{ 'SELECTFILE' | translate }}</label>
                        <input style="display: none;" id="file-input-import" name="image" (change)="upload($event.target.files)" accept=".xlsx" type="file"
                        />
                    </div>
                    <div *ngIf="errorMessage" class="error-message">
                        {{ errorMessage | translate}}
                    </div>
                    <div class="evo-notebox">
                        <label class="note-title">{{ 'INFORMATION' | translate }}</label>
                        <p class="note-content">{{'EXCELIMPORTINFO' | translate}}</p>
                    </div>
                </div>

                <!-- Step 2 -->
                <div class="col-md-12" *ngIf="step == 2 && !processing">
                    <form class="row" role="form">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <!-- ACCOUNT INFO-->
                            <div class="panel panel-default">
                                <div class="panel-heading clickable" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    <h4 class="panel-title">
                                        <a>
                                        {{ 'ACCOUNTINFO' | translate }}
                                    </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{ (personAccounts ? 'FIRSTNAME':  'ACCNAME') | translate }}</label>
                                                    <div>
                                                        <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                            [(ngModel)]="accountInfo.shownName" [ngModelOptions]="{standalone: true}"></chosen>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{ 'VAT' | translate }}</label>
                                                    <div>
                                                        <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                            [(ngModel)]="accountInfo.vat" [ngModelOptions]="{standalone: true}"></chosen>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{ (personAccounts ? 'LASTNAME' : 'ACCFULLNAME') | translate }}</label>
                                                    <div>
                                                        <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                            [(ngModel)]="accountInfo.fullName" [ngModelOptions]="{standalone: true}"></chosen>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{ (personAccounts ? 'PERSONID' : 'ACCCOMPANYID')| translate }}</label>
                                                    <div>
                                                        <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                            [(ngModel)]="accountInfo.accCompanyId" [ngModelOptions]="{standalone: true}"></chosen>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{ 'ACCTYPE' | translate }}</label>
                                                    <div>
                                                        <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [options]="accountTypes" [(ngModel)]="accountInfo.typeId"
                                                            [ngModelOptions]="{standalone: true}"></chosen>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{ 'ACCMAN' | translate }}</label>
                                                    <div>
                                                        <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [options]="users" [(ngModel)]="accountInfo.managerId"
                                                            [ngModelOptions]="{standalone: true}"></chosen>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- CONTACT INFO -->
                            <div class="panel panel-default">
                                <div class="panel-heading clickable" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed">
                                        {{ 'CONTACTINFO' | translate }}
                                    </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{ 'PHONE' | translate }}</label>
                                                    <div>
                                                        <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                            [(ngModel)]="accountInfo.phone" [ngModelOptions]="{standalone: true}"></chosen>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{ 'EMAIL' | translate }}</label>
                                                    <div>
                                                        <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                            [(ngModel)]="accountInfo.email" [ngModelOptions]="{standalone: true}"></chosen>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{ 'WEBSITE' | translate }}</label>
                                                    <div>
                                                        <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                            [(ngModel)]="accountInfo.website" [ngModelOptions]="{standalone: true}"></chosen>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ADDRESSES -->
                            <div class="panel panel-default">
                                <div class="panel-heading clickable" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed">
                                        {{ 'ADDRESSES' | translate }}
                                    </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <div *ngFor="let address of addresses; let i = index">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="border-div">
                                                        <h4 style="display: inline-block;">{{ 'ADDRESS' | translate }} {{i+1}}</h4>
                                                        <i class="fa fa-trash trash-icon clickable pull-right" (click)="deleteAddress(tag)"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>{{ 'ADDRESSTYPE' | translate }}</label>
                                                        <div>
                                                            <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="addressTypes"
                                                                [(ngModel)]="address.Type" [ngModelOptions]="{standalone: true}"></chosen>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>{{ 'CITY' | translate }}</label>
                                                        <div>
                                                            <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                                [(ngModel)]="address.City" [ngModelOptions]="{standalone: true}"></chosen>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>{{ 'STREET' | translate }}</label>
                                                        <div>
                                                            <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                                [(ngModel)]="address.Street" [ngModelOptions]="{standalone: true}"></chosen>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>{{ 'POSTALCODE' | translate }}</label>
                                                        <div>
                                                            <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                                [(ngModel)]="address.PostalCode" [ngModelOptions]="{standalone: true}"></chosen>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>{{ 'COUNTRY' | translate }}</label>
                                                        <div>
                                                            <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                                [(ngModel)]="address.Country" [ngModelOptions]="{standalone: true}"></chosen>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>{{ 'STATE' | translate }}</label>
                                                        <div>
                                                            <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                                [(ngModel)]="address.State" [ngModelOptions]="{standalone: true}"></chosen>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a class="evo-add-link pull-right" (click)="addAddress()">
                                                    <i class="fa fa-plus"></i> {{ 'ADDEXTRA' | translate }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- CONTACTS -->
                            <div class="panel panel-default" *ngIf="!personAccounts">
                                <div class="panel-heading clickable" role="tab" id="headingFour" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                                    aria-expanded="false" aria-controls="collapseFour">
                                    <h4 class="panel-title">
                                        <a class="collapsed">
                                        {{ 'CONTACTS' | translate }}
                                    </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <div *ngFor="let contact of contactPersons; let i = index">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="border-div">
                                                        <h4 style="display: inline-block;">{{ 'CONTACT' | translate }} {{i+1}}</h4>
                                                        <i class="fa fa-trash trash-icon clickable pull-right" (click)="deleteContact(tag)"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>{{ 'FIRSTNAME' | translate }}</label>
                                                        <div>
                                                            <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                                [(ngModel)]="contact.firstName" [ngModelOptions]="{standalone: true}"></chosen>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>{{ 'PHONE' | translate }}</label>
                                                        <div>
                                                            <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                                [(ngModel)]="contact.phoneNumber" [ngModelOptions]="{standalone: true}"></chosen>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>{{ 'LASTNAME' | translate }}</label>
                                                        <div>
                                                            <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                                [(ngModel)]="contact.lastName" [ngModelOptions]="{standalone: true}"></chosen>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>{{ 'EMAIL' | translate }}</label>
                                                        <div>
                                                            <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                                [(ngModel)]="contact.email" [ngModelOptions]="{standalone: true}"></chosen>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>{{ 'TITLE' | translate }}</label>
                                                        <div>
                                                            <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                                [(ngModel)]="contact.title" [ngModelOptions]="{standalone: true}"></chosen>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>{{ 'NOTE' | translate }}</label>
                                                        <div>
                                                            <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                                [(ngModel)]="contact.note" [ngModelOptions]="{standalone: true}"></chosen>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a class="evo-add-link pull-right" (click)="addContact()">
                                                    <i class="fa fa-plus"></i> {{ 'ADDEXTRA' | translate }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- TAGS -->
                            <div class="panel panel-default">
                                <div class="panel-heading clickable" role="tab" id="headingFive" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                                    aria-expanded="false" aria-controls="collapseFive">
                                    <h4 class="panel-title">
                                        <a class="collapsed">
                                        {{ 'TAGS' | translate }}
                                    </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{ 'TAG' | translate }}</label>
                                                    <div>
                                                        <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                            [(ngModel)]="accountInfo.tags" [ngModelOptions]="{standalone: true}"></chosen>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- FINANCIALSTATEMENT -->
                            <div class="panel panel-default">
                                <div class="panel-heading clickable" role="tab" id="headingSix" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"
                                    aria-expanded="false" aria-controls="collapseSix">
                                    <h4 class="panel-title">
                                        <a class="collapsed">
                                        {{ 'FINANCIALSTATEMENT' | translate }}
                                    </a>
                                    </h4>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{ 'CURRENCY' | translate }}</label>
                                                    <div>
                                                        <chosen [width]="'100%'" [multiple]="false"  [options]="currencies"
                                                            [(ngModel)]="statementCurrency" [ngModelOptions]="{standalone: true}"></chosen>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                            </div>
                                        </div>
                                        <div *ngFor="let statement of financialstatements; let i = index">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="border-div">
                                                        <h4 style="display: inline-block;">{{ 'FINANCIALSTATEMENT' | translate }} {{i+1}}</h4>
                                                        <i class="fa fa-trash trash-icon clickable pull-right" (click)="deleteStatement(i)"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>{{ 'YEAR' | translate }}</label>
                                                        <div>
                                                            <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                                [(ngModel)]="statement.year" [ngModelOptions]="{standalone: true}"></chosen>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>{{ 'EMPLYEES' | translate }}</label>
                                                        <div>
                                                            <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                                [(ngModel)]="statement.employees" [ngModelOptions]="{standalone: true}"></chosen>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>{{ 'REVENUE' | translate }}</label>
                                                        <div>
                                                            <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                                [(ngModel)]="statement.revenue" [ngModelOptions]="{standalone: true}"></chosen>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a class="evo-add-link pull-right" (click)="addStatement()">
                                                    <i class="fa fa-plus"></i> {{ 'ADDEXTRA' | translate }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- NOTES -->
                            <div class="panel panel-default">
                                <div class="panel-heading clickable" role="tab" id="headingSeven" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"
                                    aria-expanded="false" aria-controls="collapseSeven">
                                    <h4 class="panel-title">
                                        <a class="collapsed">
                                        {{ 'NOTES' | translate }}
                                    </a>
                                    </h4>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                    <div class="panel-body">
                                        <div *ngFor="let note of notes; let i = index">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="border-div">
                                                        <h4 style="display: inline-block;">{{ 'NOTE' | translate }} {{i+1}}</h4>
                                                        <i class="fa fa-trash trash-icon clickable pull-right" (click)="deleteNote(i)"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>{{ 'TEXT' | translate }}</label>
                                                        <div>
                                                            <chosen placeholderText="{{'SELECT' | translate}}" [width]="'100%'" [multiple]="false" [allowSingleDeselect]="true" [options]="fileHeaders"
                                                                [(ngModel)]="note.text" [ngModelOptions]="{standalone: true}"></chosen>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a class="evo-add-link pull-right" (click)="addNote()">
                                                    <i class="fa fa-plus"></i> {{ 'ADDEXTRA' | translate }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Accordion-->
                        <div class="col-md-12">
                            <div class="buttonRow">
                                <input type="button" [disabled]="accountInfo.shownName.length == 0" class="btn pull-right" (click)="runImport()" value="{{ 'IMPORT' | translate }}"
                                />
                                <a class="evo-cancel-link pull-right" (click)="hideModal()">{{ 'CANCELBTN' | translate }}</a>
                            </div>
                        </div>
                    </form>
                </div>
                <!--Step 3-->
                <div class="col-md-12" *ngIf="step == 3">
                    <div class="evo-notebox">
                        <label class="note-title">{{ 'INFORMATION' | translate }}</label>
                        <p class="note-content">{{processingMessage}}</p>
                    </div>
                    <hr>
                    <div (click)="hideModal()" class="btn evo-btn pull-right clickable">{{'OK' | translate}}</div>
                </div>
            </div>
            <div class="popupcontent-footer">
                <img class="loading" src="assets/images/preloader1.gif" *ngIf="processing" />
                <div class="text-center" *ngIf="processing">
                    {{ processingMessage }}
                </div>
                <div *ngIf="processing" (click)="abort()" class="evo-cancel-link pull-right clickable">{{'CANCELBTN' | translate}}</div>
            </div>
        </div>
    </div>
</div>