<div class="customPopup systemActive" [class.big]="false" id="editDocument" (click)="clickToClose($event)" *ngIf="displayModal">
    <div class="popupBox">
        <div class="title">
            {{ (currentDocument.Name ? currentDocument.Name : 'CREATE') | translate}}
            <a class="close pull-right" (click)="cancel()"><i class="fa fa-times"></i></a>
            <a class="close pull-right" style="margin-right:5px;" *ngIf="edit == false && currentDocument.Status == 'Draft'" (click)="edit=true;"><i class="fa fa-pencil"></i></a>
        </div>
        <div class="popupContent">
            <div class="row blockContent">
                <div class="{{ edit ? 'col-md-12' : 'col-md-12' }}" style="margin-bottom:10px;">

                    <div class="contentRow" *ngIf="currentDocument.Status == 'Draft' && edit">
                        <div class="form-group">
                            <label>{{ 'NAME' | translate }}</label>
                            <input id="DocumentName" type="text" class="form-control" placeholder="{{ 'NAME' | translate }}" [(ngModel)]="currentDocument.Name">
                        </div>
                    </div>

                    <div class="contentRow" *ngIf="currentDocument.Status == 'Draft' && edit">
                        <div class="form-group">
                            <label>{{ 'RELATEDTO ' | translate }}</label>
                            <chosen id="RelatedDealDropdown" name="DealId" [width]="'100%'" [multiple]="false" [options]="deals" [(ngModel)]="currentDocument.DealId" (change)="currentDocument.DealId=$event;" [ngModelOptions]="{standalone: true}"></chosen>
                        </div>
                    </div>

                    <div class="contentRow" *ngIf="!edit && currentDocument.DealId">
                        <div class="contentRow">
                            <label>{{ 'RELATEDTO ' | translate }}</label>
                            <p>{{ currentDocument.DealName }}</p>
                        </div>
                    </div>

                    <div class="contentRow" *ngIf="currentDocument.Status == 'Draft'">
                        <div class="form-group" *ngIf="edit">
                            <label>{{ 'REMINDERAFTER' | translate }}</label>
                            <chosen id="reminderDropdown" name="Reminder" [width]="'100%'" [multiple]="false" [options]="reminderOptions" [(ngModel)]="currentDocument.Reminder" (change)="currentDocument.Reminder=$event;" [ngModelOptions]="{standalone: true}"></chosen>
                        </div>
                        <div class="form-group" *ngIf="!edit">
                            <label *ngIf="currentDocument.Reminder > 0">{{ 'REMINDERAFTERDAYS' | translate:{days: currentDocument.Reminder} }}</label>
                            <label *ngIf="currentDocument.Reminder == 0">{{ 'NOREMINDER' | translate}}</label>
                        </div>
                    </div>

                    <!--Files-->
                    <div class="col-sm-12" style="padding-left:0px;padding-right:0px;" *ngIf="currentDocument.Id">
                        <label>{{ 'FILES' | translate }}</label>

                        <!--<div *ngIf="account.Files.length==0">{{'NOFILES' | translate }}</div>-->

                        <ul class="iconList list-unstyled" *ngIf="currentDocument.Files.length!=0">
                            <li *ngFor="let file of currentDocument.Files" style="padding-right:0px!important">
                                <i class="fa fa-file left icon" style="padding-left:5px;"></i>
                                <a [downloadFile]="file">
                                    {{file.Name ? file.Name : "Unknown file"}}
                                </a>

                                <a (click)="deleteFile(file)" *ngIf="currentDocument.Status == 'Draft'">
                                    <i class="fa fa-trash pull-right" style="padding-top:5px"></i>
                                </a>

                                <a [downloadFile]="file">
                                    <i class="fa fa-download pull-right" style="padding-top:5px"></i>
                                </a>

                            </li>
                        </ul>
                    </div>

                    <div *ngIf="edit && currentDocument.Status == 'Draft' && currentDocument.Id">
                        <label for="file-input-doc" class="link right">+ {{ 'ADDNEWFILE' | translate}}</label>
                        <input style="display:none" id="file-input-doc" name="file" accept="application/pdf" (change)="addFile()" type="file" />
                    </div>

                    <!--Parties-->
                    <div class="col-sm-12" *ngIf="currentDocument.IsEsign && currentDocument.Id" style="padding-left:0px;padding-right:0px;">
                        <label>{{ 'PARTIES' | translate }}</label>

                        <!--<div *ngIf="currentDocument.Parties.length == 0">No Parties added!</div>-->

                        <div *ngFor="let party of currentDocument.Parties">
                            <div *ngIf="currentDocument.Status == 'Draft'">
                                <i class="fa fa-user" style="padding-left:5px;margin-right:5px;"></i>{{ party.Name }}
                                <a (click)="deleteParty(party)"><i class="fa fa-trash pull-right"></i></a>
                            </div>

                            <div *ngIf="currentDocument.Status != 'Draft'" class="document-party {{party.Status}}">
                                <div class="partyBox"></div><div class="party-name">
                                    {{ party.Name }}
                                    <span class="party-status pull-right">{{party.Status}} <font *ngIf="party.Status=='Signed'">{{  party.DateSigned | dateonly }}</font></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="contentRow party-add clearfix" *ngIf="currentDocument.IsEsign && showAddParty" style="margin-top:5px;">

                        <div class="col-md-12">
                            <tabset class="customTab gray">

                                <tab id="DocumentContactTab" (click)="partySource='contact'" heading="{{'CONTACT' | translate }}">
                                    <chosen id="PartyContactId" [width]="'100%'" [multiple]="false" [options]="contacts" [ngModel]="currentDocument.ContactId" (change)="setContact($event)" [ngModelOptions]="{standalone: true}"></chosen>
                                </tab>

                                <tab id="DocumentUserstab" (click)="partySource='user'" heading="{{'USERS' | translate }}">
                                    <chosen id="PartyUserId" [width]="'100%'" [multiple]="false" [options]="users" [ngModel]="currentDocument.UserId" (change)="setUser($event)" [ngModelOptions]="{standalone: true}"></chosen>
                                </tab>

                                <tab id="DocumentEmailTab" (click)="partySource='email'" heading="{{'EMAIL' | translate }}">
                                    <div class="contentRow">
                                        <div class="col-md-6">
                                            <input id="PartyName" type="text" class="form-control" placeholder="{{ 'NAME' | translate }}" [(ngModel)]="party.Name" style="margin-right:5px;">
                                        </div>
                                        <div class="col-md-6">
                                            <input id="PartyEmail" type="text" class="form-control" placeholder="{{ 'EMAIL' | translate }}" [(ngModel)]="party.Email" style="margin-left:5px;">
                                        </div>
                                    </div>
                                </tab>
                            </tabset>

                            <div class="col-md-12">
                                <button class="btn custom small pull-right" style="bottom:0px;" (click)="createNewParty()">{{ 'ADD' | translate }}</button>
                            </div>

                        </div>


                    </div>

                    <div *ngIf="!showAddParty && currentDocument.IsEsign && edit && currentDocument.Status == 'Draft' && currentDocument.Id">
                        <label class="link right" (click)="showNewParty()">+ {{ 'ADDNEWPARTY' | translate}}</label>
                    </div>
                </div>

                <div class="col-md-6" *ngIf="false">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>{{ 'TITLE' | translate }}</label>
                            <input id="DocumentTitle" type="text" class="form-control" placeholder="{{ 'TITLE' | translate }}" [(ngModel)]="currentDocument.Title">
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>{{ 'BODY' | translate }}</label>
                            <input id="DocumentBody" type="text" class="form-control" placeholder="{{ 'BODY' | translate }}" [(ngModel)]="currentDocument.Body">
                        </div>
                    </div>

                    <!-- Todo! Not realy sure how thos works :/ -->
                    <!--<div class="col-sm-12">
                        <textarea class="redactor" name="content" id="content"></textarea>
                    </div>-->

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>{{ 'FOOTER' | translate }}</label>
                            <input id="DocumentFooter" type="text" class="form-control" placeholder="{{ 'FOOTER' | translate }}" [(ngModel)]="currentDocument.Footer">
                        </div>
                    </div>

                </div>

                <div class="col-md-12">
                    <div class="buttonRow">
                        <label><b>{{ 'STATUS' | translate}}: </b></label>
                        <label>{{ currentDocument.Status | translate }}</label>

                        <button id="DocumentSendButton" *ngIf="currentDocument.Status == 'Draft' && !edit" [disabled]="currentDocument.Parties.length == 0 || currentDocument.Parties.length == 0" (click)="send()" class="btn custom pull-right"><i class="fa fa-paper-plane" style="margin-right:5px;"></i>{{ 'SEND' | translate }}</button>
                        <button id="DocumentRevokeButton" *ngIf="currentDocument.Status == 'Pending'" (click)="revoke()" class="btn custom red pull-right">{{ 'REVOKE' | translate }}</button>
                        <button id="DocumentUpdateButton" *ngIf="currentDocument.Status == 'Draft' && edit" [disabled]="currentDocument.Status != 'Draft' || currentDocument.Name == ''" (click)="update()" class="btn custom pull-right">{{ ( currentDocument.Id ? 'SAVE' : 'CREATE') | translate }}</button>
                        <a id="DocumentCancleButton" class="evo-cancel-link pull-right" *ngIf="edit" (click)="cancel();">{{ 'CANCELBTN' | translate }}</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>