<div class="mainTitle">
    <h1>{{ 'GENERALSETTINGS' | translate }}</h1>
</div>
<div class="panelAction">
    <a evo-require [permissions]="['Export']" class="btn" (click)="runExport()">
        <i class="fa fa-upload"></i>
        <font>{{ 'EXPORTALL' | translate }}</font>
    </a>
</div>
<div class="contentPanel settingsPage">
    <div class="contentWrapper">
        <div class="projectBox clearfix">

            <form *ngIf="organisation">
                <tabset class="customTab withIcon">

                    <tab>

                        <!--- Genral-->
                        <ng-template tabHeading>
                            <i class="fa fa-map-o"></i>
                            <font>{{ 'GENERAL' | translate }}</font>
                        </ng-template>
                        <div class="row myOverview">
                            <div evo-require [features]="['Branding']" (onFail)="showBrandingFeature=true" class="col-lg-3 col-md-4 col-sm-5 basicUserDetails">
                                <label class="avatar chooseAvatar" for="file-input-org">
                                    <img *ngIf="!imageUrl" src="assets/images/evolumi_logo.png" alt="" />
                                    <img *ngIf="imageUrl" src="{{imageUrl}}?{{timestamp}}" alt="" />
                                    <input id="file-input-org" name="image" (change)="uploadOrgImage(organisation.Id)" type="file" />
                                </label>
                            </div>
                            <div *ngIf="showBrandingFeature" class="col-lg-3 col-md-4 col-sm-5 basicUserDetails" style="text-align: center">
                                <label class="">
                                    <img src="assets/images/evolumi_logo.png" alt="" />
                                </label>
                                <a [featureLink]="'Branding'">
                                    <span class="link">
                                        {{'NUDGEOWNLOGO' | translate}}
                                    </span>
                                </a>
                            </div>
                            <div class="col-lg-6 margin-10">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>{{ 'ORGNAME' | translate }}</p>
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <input [(ngModel)]="organisation.OrganisationName" [ngModelOptions]="{standalone: true}" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>{{ 'CHOOSEBASECURRENCY' | translate }}</p>
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <chosen [width]="'100%'" [multiple]="false" [options]="allcurrency" [(ngModel)]="organisation.Currency" (change)="organisation.Currency=$event;"
                                                [ngModelOptions]="{standalone: true}"></chosen>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </tab>

                    <tab>
                        <!--- Custom-->
                        <ng-template tabHeading>
                            <i class="fa fa-map-o"></i>
                            <font>{{ 'CUSTOMTITLES' | translate }}</font>
                        </ng-template>

                        <!-- CHANGETAGEXPLAIN We can put this tag somewhere to explain for the user about this funktionality-->

                        <div class="row myOverview">

                            <div *ngIf="upgrade">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>{{ 'ONLYAVALIBLEFORPLUS' | translate }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <a [routerLink]="['/CRM/Packages']">
                                            <p>{{ 'PLANACTIVATEPLUS' | translate }}</p>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div evo-require [features]="['CustomLabels']" (onFail)="upgrade=true">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>{{ 'CHANGETAGDAUGHTERACCOUNT' | translate }}</p>
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <input [(ngModel)]="organisation.CustomTitles.DAUGTHERACCOUNTS" [ngModelOptions]="{standalone: true}" class="form-control"
                                            />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>{{ 'CHANGETAGPARENTACCOUNT' | translate }}</p>
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <input [(ngModel)]="organisation.CustomTitles.PARENTACCOUNT" [ngModelOptions]="{standalone: true}" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>{{ 'CHANGETAGWONDEAL' | translate }}</p>
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <input [(ngModel)]="organisation.CustomTitles.WONDEAL" [ngModelOptions]="{standalone: true}" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>

                    <tab>
                        <ng-template tabHeading>
                            <i class="fa fa-map-o"></i>
                            <font>{{ 'MORE' | translate }}</font>
                        </ng-template>

                        <div class="row">
                            <div class="col-lg-12">
                                <p>Clean up tags.</p>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                                <a class="btn custom" (click)="cleanTags()">Clean Up!</a>
                                <p class="text-muted text">
                                    <em>This will clean up all unused tags for the filter on Account page.</em>
                                </p>
                            </div>
                        </div>
                    </tab>

                </tabset>
                <button type="submit" (click)="update();" [disabled]="submitDisabled()" class="btn pull-right">{{ 'SAVEBTN' | translate }}</button>
            </form>
            <div *ngIf="!organisation">
                <img class="loading" src="assets/images/preloader1.gif" />
            </div>
        </div>
    </div>
</div>