<div>
    <!--Todo! Change to Chosen Multi-->
    <div style="margin-top:2px;margin-bottom:2px;">
        <chosen class="multichosen" id="featureSelect" [width]="'100%'" [multiple]="true" [options]="featureList" [(ngModel)]="package.Features" style="height:20px;"></chosen>
        <button style="margin-top:2px;" (click)="save()">Save Features</button>
    </div>
</div>