<div>
    <div *ngFor="let info of information">
        <input type="text" [(ngModel)]="info.Label" placeholder="Label"/>
        <input type="text" [(ngModel)]="info.ImageUrl" placeholder="Image"/>
        <input type="text" [(ngModel)]="info.Link" placeholder="Link"/>   
        <input type="text" [(ngModel)]="info.VideoUrl" placeholder="Video"/>
    </div>
    <button (click)="add()">Add Information</button>
    <button (click)="save()">Save Information</button>
</div>