<div class="col-md-12">
    <div *ngFor="let cur of currencies">
        <div class="col-md-1">{{cur}}</div>
        <div class="col-md-11">
            <input type="number" [(ngModel)]="package.MonthlyPrices[cur]" placeholder="Montly" />
            <input type="number" [(ngModel)]="package.YearlyPrices[cur]" placeholder="Yearly" />
        </div>
    </div>
    <button (click)="save()">Save Prices</button>
</div>