

.questionPage {
    background: url(/assets/images/login-bg.png) no-repeat 0 0/100% auto fixed;
    background-color: #b5d0dd;
    width: 100%;
    height:100%;
    position: absolute;
}


.siteContainer {
    padding-top: 5em;
    margin:0px 0px 20px 0px;
}

.question {
    padding: 0px 10px;
    margin: 10px 0px;
}

.sourceOption.selected div,
.skillSelectContainer div.selected div {
    outline: 1px solid black !important;
}

.sourceOption {
    margin-bottom: 5px;
}

.skillSelectContainer {
    display: flex;
}

.skillSelectContainer > div {
    flex:1;
    text-align: center;
}

.sourceContainer > div {
    text-align: center;
}

.formContainer {
    background: rgba(255,255,255,0.3);
    padding-bottom: 10px;
}

select.greyed {
    color:#aaa;
}

select.greyed option {
    color:black;
}

.sourceOption:hover div, .skillOption:hover div {
    outline: 1px solid #fff;
}

.sourceOption, .skillOption {
    padding:5px;
}

.sourceOption div, .skillOption div {
    padding: 5px;
}

.questionPage h3 {
    font-size: 20px;
}