<div class="questionPage">
    <div class="row siteContainer">
        <div class="formContainer col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="question">
                <h3 style="white-space:nowrap;">{{ questions[0] | translate }}</h3>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="skillSelectContainer">
                            <div *ngFor="let skill of crmSkills; let i = index" class="clickable skillOption" [class.selected]="crmSkill==skill" (click)="skillChanged(i)">
                                <div>{{skill | translate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="question">
                <h3>{{ "WHATDESCRIBESYOU" | translate }}</h3>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <select class="form-control" [class.greyed]="!field" [(ngModel)]="field">
                            <option value="" selected hidden>{{ "WHATDESCRIBESYOUFIELD" | translate }}</option>
                            <option *ngFor="let field of options?.Fields"> {{ field | translate }} </option>
                        </select>
                    </div>
                    <div class="form-group col-lg-6">
                        <select class="form-control" [class.greyed]="!role" [(ngModel)]="role">
                            <option value="" selected hidden> {{ "WHATDESCRIBESYOUROLE" | translate }}</option>
                            <option *ngFor="let role of options?.Roles"> {{ role | translate }} </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="question">
                <h3>{{ "HOWFINDUS" | translate }}</h3>
                <div class="sourceContainer row">
                    <div class="sourceOption clickable col-lg-4" (click)="selectedSource=source" *ngFor="let source of options?.Sources" [class.selected]="selectedSource==source">
                        <div>{{ source | translate }}</div>
                    </div>
                </div>
                <br />
                <div class="sourceOption" *ngIf="selectedSource=='Other'">
                    <input class="form-control" placeholder="{{ 'OTHERSOURCE' | translate }}" type="text" [(ngModel)]="otherSource" />
                </div>
            </div>
            <div class="buttonRow">
                <a class="btn pull-right" (click)="submit()"> {{ "CONTINUEBTN" | translate }} </a>
                <a class="evo-cancel-link pull-right" style="color: white; font-size:15px;" [routerLink]="['/Overview/']"> {{ "SKIPBTN" | translate }} </a>
            </div>
        </div>
    </div>
</div>