<div *ngIf="deal">

    <div class="row">
        <div id="DealContactsField" *ngIf="accountId && !accSvc.account.IsPerson" class="col-sm-12 form-group">
            <div *ngIf="deal.Contacts">
                <label>{{"THEIRCONTACTS" | translate}}</label>
                <div *ngIf="!accSvc.account.IsPerson" class="row">
                    <div class="col-sm-12 contactName" *ngFor="let contact of deal.ContactAccounts; let i=index">
                        {{ getPersonName(contact) | shortstring:30 }}
                        <i class="fa fa-trash link icon pull-right clickable" *ngIf="deal.Editmode" (click)="removeContact(i)"></i>
                    </div>
                </div>
                <div *ngIf="deal.Editmode" class="addContactRow">
                    <div class="bubble-popup contacts" #contactpopup arrowPosition="right">
                        <div *ngFor="let contact of notAddedContacts">
                            <div *ngIf="!accSvc.account.IsPerson" class="contactName clickable" (click)="addContact(contact.PersonId)">
                                {{ contact.FirstName }} {{ contact.LastName }}
                            </div>
                        </div>
                        <div *ngIf="notAddedContacts.length == 0">
                            {{ "NOCONTACTS" | translate }}
                        </div>
                    </div>
                    <div>
                        <a id="DealAddContactButton" class="link" (click)="contactpopup.open()"><i id="DealAddContactIcon" class="fa fa-plus fa-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="DealOwnersField" class="col-sm-12 form-group" [style.margin-top]="!deal.Editmode ? (deal.ContactAccounts.length == 0 ? '26px' : '4px') : (deal.ContactAccounts.length == 0 ? '12px' : '-12px')">
            <div><label>{{ 'DEALOWNERS' | translate }} <font class="visible-xs">(%)</font></label></div>
            <div class="form-group ownerBlock" *ngFor="let owner  of deal.Owners; let i=index">
                <div>
                    <img [profilepicture]="owner.UserId" [tooltip]="owner.Name" />
                </div>
                <div class="ownerPercent">
                    {{owner.Percent}}%
                </div>
            </div>

            <div *ngIf="deal.Editmode" class="form-group ownerBlock">
                <a class="link icon"><i class="fa fa-plus" (click)="ownerbubble.open()"></i></a>
                <div class="bubble-popup" arrowPosition="left" #ownerbubble>
                    <div *ngFor="let owner of deal.Owners; let i=index" class="percentBlock">
                        <div class="noClose">
                            <img [profilepicture]="owner.UserId" (click)="removeOwner(i)" [tooltip]="owner.Name" />
                        </div>
                        <div class="slider">
                            <input (ngModelChange)="CalcMax($event, owner)" [ngModel]="owner.Percent" type="range" />
                        </div>
                        <div class="">
                            <input type="text" style="width: 30px" (ngModelChange)="CalcMax($event, owner)" [ngModel]="owner.Percent">
                        </div>
                    </div>
                    <div class="pull-right {{warningClass()}}">
                        {{getTotalPercent()}}%
                    </div>
                    <div class="percentWarning" *ngIf="ownerSettingsWarning">
                        {{"OVER100PERCENTWARNING" | translate}}
                    </div>

                    <div class="addOwnerBlock">
                        <div>
                            {{"ADD" | translate}}:
                        </div>
                        <div class="addUsers">
                            <div class="noClose" *ngFor="let user of notAddedOwners">
                                <img [profilepicture]="user.UserId" [tooltip]="user.Name" (click)="addOwner(user)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>