.ownerBlock {
    display: inline-block;
    word-wrap: break-word;
    vertical-align: top;
    margin: 5px;
}

.ownerBlock img {
    max-width: 30px;
}

.percentBlock {
    width:100%;
    min-width: 200px;
}

.percentBlock div {
    display: table-cell;
}

.addOwnerBlock {
    margin-top:15px;
}

.addUsers div{
    display: inline-block;
    margin: 2px;
}

.ownerSettings {
    border-radius: 5px;
    background: #e7fcff;
    padding: 20px;
    margin: 10px;
    position: absolute;
    z-index: 1;
    min-width: 150px;
    top:-22px;
    font-size: 12px;
    box-shadow: 0px 0px 20px #888;
}

.ownerSettings img {
    max-width: 20px;
}

.ownerSettings .row {
    margin: 0 auto;
}

.slider {
    text-align: center;
    width:100%;
    vertical-align: middle;
}

.slider input {
    display: initial;
    width:90%
}

.ownerSettings .triangle {
    transform: scale(2) rotate(-90deg);
    position: absolute;
    right: 100%;
    z-index: 2;
    color: #e7fcff;
}
.ownerSettings .triangle2 {
    transform: scale(1.5) rotate(-90deg);
    position: absolute;
    text-shadow: 0px 0px 3px #888;
    right: 102%;
    z-index: 1;
    color: transparent;
}

.percentWarning {
    font-weight: bold;
    font-size: 10px;
    color: red
}

.badValue {
    color:red;
}

.ownerPercent {
    font-size:12px;
    text-align: center;
}

.addContactRow {
    margin-top: 5px;
}
.addContactRow > div {
    display: inline-block;
}

#DealOwnersField {
    margin-top:12px;
}