<section class="sample-app-content">
    <router-outlet></router-outlet>
</section>
<notification></notification>
<confirmPopup></confirmPopup>
<auth-popup></auth-popup>
<!-- <moneyrain></moneyrain>
<fireworks></fireworks>-->
<invite-user-modal></invite-user-modal>