<div class="customPopup systemActive" id="newSalesStatus" (click)="clickToClose($event)">
    <div class="popupBox">
      <div class="title">
       <span *ngIf="!dealId">{{ 'NEWDEALSTATUS' | translate }}</span>  
       <span *ngIf="dealId">{{ 'EDITDEALSTATUS' | translate }}</span>  
          <a id="DealStatusCloseWindowButton" class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
       
      <div class="popupContent">
          <div class="blockContent">
	          <form [formGroup]="SaleProcessForm"> 
		            <div class="form-group">
		                  <label>{{ 'DEALSTATUS' | translate }}</label>
		                    <input id="DealStatusName" type="text" class="form-control"  placeholder="{{ 'SALESSTATUS' | translate }}" formControlName="Name" [(ngModel)]="salesName" name="salesName">
		             </div>		       
		            
		             <div class="form-group">
		                  <label>{{ 'DEALSTATUSGROUP' | translate }}</label>
                       <chosen id="DealStatusGroupDropdown" [width]="'100%'" [multiple]="false" [options]="dealStatuses" [ngModel]="dealStatusId" formControlName="Type" name="Type" (change)="dealStatusId=$event;"></chosen>
		             </div>
		              <div class="form-group" *ngIf="dealStatusId === '1'">
		                  <label>{{ 'PROBABILITY' | translate }}</label>
		                    <input id="DealStatusProbability" type="number"  class="form-control" placeholder="%" formControlName="Percentage" [(ngModel)]="probability" name="probablility">
		             </div>
		             <div class="buttonRow">
		                  <input id="DealStatusCancleButton" type="button" class="btn gray" value="{{ 'CANCELBTN' | translate }}" (click)="back()"/>
		                  <input id="DealStatusAddFieldButton" type="button" *ngIf="!dealId"  class="btn pull-right"  [disabled]="!SaleProcessForm.valid" (click)="addSalesfieldPost()" value="{{ 'SAVEBTN' | translate }}"/>
		                  <input id="DealStatusSaveButton" type="button" *ngIf="dealId"  class="btn pull-right"  [disabled]="!SaleProcessForm.valid" (click)="update()" value="{{ 'SAVEBTN' | translate }}"/>
		               </div>   
				</form>
			</div>
		</div>
	</div>
</div>
