<div class="customPopup systemActive" id="export" (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title">
            <span>{{ 'EXPORTACCOUNTS' | translate }} </span>
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="row headline">
                <div class="col-md-12">
                    {{'EXPORTEDACCOUNTSINTRO' | translate:{count: count} }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group template-label">
                        <label>{{ 'EXPORTTEMPLATE' | translate }}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <chosen [width]="'100%'" [options]="templatesChosen" [ngModel]="exportModel.Id" (ngModelChange)="changeTemplate($event)"></chosen>
                    </div>
                </div>
                <div class="col-md-2">
                    <button (click)="showModal = true" class="evo-btn small">{{'SAVEBTN' | translate}}</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default" *ngFor="let prop of modelProps.MainProps; let i = index; let first = first">
                            <div *ngIf="modelProps[prop].length" class="panel-heading clickable" role="tab" [attr.id]="'heading' + i" data-toggle="collapse"
                                data-parent="#accordion" [attr.href]="'#collapse' + i" [attr.aria-expanded]="first" [attr.aria-controls]="'collapse' + i">
                                <h4 class="panel-title">
                                    <a>
                                        {{ labels[prop] || prop.toUpperCase() | translate }}
                                    </a>
                                </h4>
                            </div>
                            <div [attr.id]="'collapse' + i" class="panel-collapse collapse" [class.in]="first" role="tabpanel" [attr.aria-labelledby]="'heading' + i">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6" *ngFor="let innerProp of modelProps[prop]; let j = index;">
                                            <div *ngIf="!innerProp.key" class="form-group">
                                                <label class="evo-cb-label" [for]="innerprop + prop + j">{{ labels[innerProp] || innerProp.toUpperCase() | translate }}</label>
                                                <label class="customCheckBox leftFolat" id="custome-check">
                                                    <input [attr.id]="innerprop + prop + j" type="checkbox" [ngModel]="exportModel[prop][innerProp]" (ngModelChange)="propChecked(prop, innerProp, $event)" class="checker">
                                                    <div class="custonCkeck"></div>
                                                </label>
                                            </div>
                                            <div *ngIf="innerProp.key" class="form-group">
                                                <label class="evo-cb-label" [for]="innerprop + prop + j">{{ innerProp.value }}</label>
                                                <label class="customCheckBox leftFolat" id="custome-check">
                                                    <input [attr.id]="innerprop + prop + j" type="checkbox" [ngModel]="exportModel[prop]['CustomFields'][innerProp.key]" (ngModelChange)="customPropChecked(prop, innerProp.key, $event)" class="checker">
                                                    <div class="custonCkeck"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="evo-btn-row">
                        <div *ngIf="processing" class="pull-right">
                            <img class="loading" src="assets/images/preloader1.gif" />
                            <div class="text-center">
                                {{ processingMessage }}
                            </div>
                        </div>
                        <button *ngIf="!processing" type="button" class="evo-btn pull-right" [disabled]="!anyChecked" (click)="export()">
                                {{'EXPORT' | translate}}
                        </button>
                        <a class="evo-cancel-link pull-right" (click)="back()">{{ 'CANCELBTN' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<export-template-save *ngIf="showModal" [exportTemplate]="exportModel" [type]="type" (close)="showModal = false"></export-template-save>