<div class="customPopup systemActive" id="saveTemplate" (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title">
            <span>{{ 'SAVEEXPORTTEMPLATE' | translate }} </span>
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="row">
                <div class="col-md-12">
                    <p *ngIf="!isDefaultTemplate">{{'DOYOUWANTTOUPDATEORSAVENEW' | translate}}</p>
                    <p *ngIf="isDefaultTemplate">{{'DOYOUWANTTOSAVE' | translate}}</p>
                    <div class="form-group">
                        <label>{{'NAME' | translate}}</label>
                        <input class="form-control" [(ngModel)]="exportTemplate.Name" />
                    </div>
                    <div class="evo-btn-row">
                        <button [disabled]="!exportTemplate.Name" (click)="save(true)" [class.pull-left]="!isDefaultTemplate" [class.pull-right]="isDefaultTemplate" class="evo-btn pull-left">{{'SAVENEW' | translate}}</button>
                        <button [disabled]="!exportTemplate.Name" *ngIf="!isDefaultTemplate" (click)="save(false)" class="evo-btn pull-right">{{'UPDATE' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>