<div class="mainTitle">
    <h1>{{ 'ACCOUNTSETTINGS' | translate }}</h1>
</div>
<div class="contentPanel settingsPage">
    <div class="contentWrapper">
        <div class="projectBox clearfix">
            <div class="title">
                {{ 'BILLING' | translate }}
            </div>
            <tabset class="customTab withIcon">
                <tab>

                    <!--- Billing DEtails-->
                    <ng-template tabHeading>
                        <i class="fa fa-map-o"></i>
                        <font>{{ 'BILLINGDETAILS' | translate }}</font>
                    </ng-template>

                    <credit-card-select [orgId]="orgId" (cardSelected)="creditCard=$event"></credit-card-select>

                    <br />

                </tab>
                <tab *ngIf="paymentHistory">

                    <!--- Payments-->
                    <ng-template tabHeading>
                        <i class="fa fa-credit-card"></i>
                        <font>{{ 'PAYMENTS' | translate }}</font>
                    </ng-template>
                    <div class="title visible-xs">{{ 'PAYMENTS' | translate }}</div>
                    <div class="tab-content">
                        <div class="gridWrapper">
                            <table class="normal">
                                <tr>
                                    <th>
                                        {{ 'CARDNUMBER' | translate }}
                                    </th>
                                    <th>
                                        {{ 'CARDTYPE' | translate }}
                                    </th>
                                    <th>
                                        {{ 'AMOUNT' | translate }}
                                    </th>

                                    <th>
                                        {{ 'DATE' | translate }}
                                    </th>
                                </tr>
                                <tr *ngFor="let p of paymentHistory">
                                    <td> <b>{{p.Card.Last4Digits}}</b></td>

                                    <td> {{p.Card.CardType}}</td>

                                    <td> {{p.Amount}} {{p.Currency | uppercase }}</td>

                                    <td> {{p.CreatedDate | dateonly}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </tab>
                <!--Hide for now. Needs polish and something to use the credits on =) -->
                <!--<tab>
                    <ng-template tabHeading>
                        <i class="fa fa-credit-card"></i>
                        <font>{{ 'CREDIT' | translate }}</font>
                    </ng-template>
                    <div *ngIf="creditCard">
                        <div>
                            <label>{{ 'CURRENTCREDIT' | translate }} : {{creditAmout}} {{chosenCurrencyName}}</label>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-3">
                                    <label>{{ 'ADDMORECREDIT' | translate }}</label>
                                </div>
                            </div>
                            <div class="text-warning">
                                {{ 'NOTE'| translate }} : {{'ADDMORECREDITEXPLAIN' | translate}}<br />
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <input id="AddCreditValue" class="form-control" type="number" [(ngModel)]="cretidToBuy">
                                    <button id="AddCreditsButton" class="btn" (click)="buyCredits()">{{ 'BUY' | translate }}</button>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div *ngIf="!creditCard">
                        <div>
                            <label>{{'NOCREDITCARDREGISTERED' | translate }}</label>
                        </div>
                    </div>
                </tab>-->
            </tabset>
        </div>
    </div>
</div>