<div class="title visible-xs">{{ 'BILLINGDETAILS' | translate }}</div>
<form [formGroup]="paymentBasic" *ngIf="!creditCard || editCard">
    <div class="row">
        <div id="changingClass" class="col-sm-6 col-md-4 col-lg-6">
            <div class="form-group">
                <label>{{ 'CARDHOLDER' | translate }}</label>
                <input id="CardHolder" type="text" formControlName="cardholdername" class="form-control" placeholder="{{ 'CARDHOLDER' | translate }}">
                <div [hidden]="paymentBasic.controls.cardholdername.untouched || paymentBasic.controls.cardholdername.valid" class="bg-danger">{{'REQ' | translate }}</div>
            </div>
            <div class="form-group">
                <label>{{ 'CARDNUMBER' | translate }}</label>
                <input id="CardNumber" type="text" formControlName="cardnumber" class="form-control" placeholder="{{ 'CARDNUMBER' | translate }}">
                <div [hidden]="paymentBasic.controls.cardnumber.untouched || paymentBasic.controls.cardnumber.valid" class="bg-danger">{{'INVALID' | translate }}</div>
            </div>
            <div class="form-group">
                <label>{{ 'CARDEXPIRATION' | translate }}</label>
                <div class="row">
                    <div class="col-xs-6">
                        <chosen id="CardExpireMonth" [width]="'100%'" [multiple]="false" [options]="month" [(ngModel)]="selectedMonth" [ngModelOptions]="{standalone: true}"
                            name="month"></chosen>
                        <div [hidden]="!erroMonth" class="bg-danger">{{'INVALID' | translate }}</div>

                    </div>
                    <div class="col-xs-6">
                        <chosen id="CardExpireDay" [width]="'100%'" [multiple]="false" [options]="year" [(ngModel)]="selectedYear" [ngModelOptions]="{standalone: true}"
                            name="year"></chosen>
                        <div [hidden]="!errorMsg" class="bg-danger">{{'INVALID' | translate }}</div>
                    </div>
                </div>


            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <label>{{ 'CARDCVV' | translate }}</label>
                        <input id="CardCvv" type="text" formControlName="cvv" class="form-control" placeholder="{{ 'CARDCVV' | translate }}">
                        <div [hidden]="paymentBasic.controls.cvv.untouched || paymentBasic.controls.cvv.valid" class="bg-danger">{{'INVALID' | translate }}</div>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12" style="text-align:left">
                    <div class="evo-btn-row">
                        <button [disabled]="!paymentBasic.valid" type="submit" class="btn pull-right" (click)="updatePayment()">{{ 'SAVEBTN' | translate }}</button>
                        <a *ngIf="creditCard && editCard" class="evo-cancel-link pull-right" (click)="cancleUpdateCard()">{{ 'CANCELBTN' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div *ngIf="creditCard && !editCard">
    <h3>{{ 'REGISTEREDPAYMENT' | translate}}</h3>
    <div class="paymentCard">
        <b>
            <i class="fa fa-cc-visa" *ngIf="creditCard.CardType === 'Visa'"></i>
            <i class="fa fa-cc-mastercard" *ngIf="creditCard.CardType === 'MasterCard'"></i>
            <i class="fa fa-cc-amex" *ngIf="creditCard.CardType === 'American Express'"></i>

            xxxx-xxxx-{{creditCard.Last4Digits}}
        </b> {{ 'CARDEXPIRATION' | translate }} : {{creditCard.CardExpireDate}}
    </div>
    <div class="clearfix"></div>
    <button id="UpdateCardLink" (click)="edit()" class="btn">{{ 'UPDATECARD' | translate }}</button>
</div>