<div *ngIf="showTabs" (click)="setShowStyle($event, 'mobile')" class="styling-drop-menu clickable">
    <i *ngIf="show !== 'mobile'" class="fa fa-fw fa-caret-right"></i>
    <i *ngIf="show === 'mobile'" class="fa fa-fw fa-caret-down"></i> &nbsp;{{'MOBILE' | translate}}
</div>
<div *ngIf="inputs.mobile && show === 'mobile'">
    <div class="row">
        <div *ngIf="mobile.text" class="col-xs-6">
            <div class="form-group">
                <label>{{'TEXT' | translate}}</label><br>
                <template-quickselect [styleObj]="template.MobileStyles" [prop]="'p'" [items]="settings.FontSizes" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
            </div>
        </div>
        <div class="col-xs-6">
        </div>
    </div>
    <div class="row">
        <div *ngIf="inputs.mobile.h1" class="col-xs-6">
            <div class="form-group">
                <label>{{'HEADER1' | translate}}</label><br>
                <template-quickselect [styleObj]="template.MobileStyles" [prop]="'h1'" [items]="settings.FontSizes" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
            </div>
        </div>
        <div *ngIf="inputs.mobile.h2" class="col-xs-6">
            <div class="form-group">
                <label>{{'HEADER2' | translate}}</label><br>
                <template-quickselect [styleObj]="template.MobileStyles" [prop]="'h2'" [items]="settings.FontSizes" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngIf="inputs.mobile.h3" class="col-xs-6">
            <div class="form-group">
                <label>{{'HEADER3' | translate}}</label><br>
                <template-quickselect [styleObj]="template.MobileStyles" [prop]="'h3'" [items]="settings.FontSizes" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
            </div>
        </div>
        <div *ngIf="inputs.mobile.h4" class="col-xs-6">
            <div class="form-group">
                <label>{{'HEADER4' | translate}}</label><br>
                <template-quickselect [styleObj]="template.MobileStyles" [prop]="'h4'" [items]="settings.FontSizes" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngIf="inputs.mobile.h5" class="col-xs-6">
            <div class="form-group">
                <label>{{'HEADER5' | translate}}</label><br>
                <template-quickselect [styleObj]="template.MobileStyles" [prop]="'h5'" [items]="settings.FontSizes" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
            </div>
        </div>
        <div *ngIf="inputs.mobile.h6" class="col-xs-6">
            <div class="form-group">
                <label>{{'HEADER6' | translate}}</label><br>
                <template-quickselect [styleObj]="template.MobileStyles" [prop]="'h6'" [items]="settings.FontSizes" [placeholderLabel]="('SELECT' | translate)"></template-quickselect>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showTabs" (click)="setShowStyle($event, 'body')" class="styling-drop-menu clickable">
    <i *ngIf="show !== 'body'" class="fa fa-fw fa-caret-right"></i>
    <i *ngIf="show === 'body'" class="fa fa-fw fa-caret-down"></i> &nbsp;{{'BODY' | translate}}
</div>
<div *ngIf="inputs.body && show === 'body'">
    <div class="row">
        <div *ngIf="inputs.body.width" class="col-xs-6">
            <div class="form-group">
                <label>{{'WIDTH' | translate}}</label><br>
                <template-plusminus [styleObj]="template" [prop]="'ContentWidth'" [max]="settings.ContentWidthMax" [min]="settings.ContentWidthMin"
                    [step]="settings.ContentWidthStep"></template-plusminus>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngIf="inputs.body.bgcolor" class="col-xs-6">
            <div class="form-group">
                <label>{{'BACKGROUNDCOLOR' | translate}}</label><br>
                <template-colorpicker [styleObj]="template.Styles" [prop]="'background-color'"></template-colorpicker>
            </div>
        </div>
        <div *ngIf="inputs.body.cbgcolor" class="col-xs-6">
            <div class="form-group">
                <label>{{'CONTENTBACKGROUNDCOLOR' | translate}}</label><br>
                <template-colorpicker [styleObj]="template" [prop]="'ContentBackground'"></template-colorpicker>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngIf="inputs.body.font" class="col-xs-6">
            <div class="form-group">
                <label>{{'FONT' | translate}}</label><br>
                <template-quickselect [styleObj]="template.Styles" [prop]="'font-family'" [items]="settings.Fonts" [placeholderLabel]="('CHOOSEFONT' | translate)"></template-quickselect>
            </div>
        </div>
        <div *ngIf="inputs.body.fontsize" class="col-xs-6">
            <div class="form-group">
                <label>{{'FONTSIZE' | translate}}</label><br>
                <template-quickselect [styleObj]="template.Styles" [prop]="'font-size'" [items]="settings.FontSizes" [placeholderLabel]="('CHOOSEFONTSIZE' | translate)"></template-quickselect>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngIf="inputs.body.fontcolor" class="col-xs-6">
            <div class="form-group">
                <label>{{'FONTCOLOR' | translate}}</label><br>
                <template-colorpicker [styleObj]="template.Styles" [prop]="'color'" [position]="'right'" [fallbackColor]="'#000'"></template-colorpicker>
            </div>
        </div>
        <div class="col-xs-6">
        </div>
    </div>
    <template-link *ngIf="inputs.body.link" [styleObj]="template.LinkStyles" (linkChange)="linkChange('normal', $event)"></template-link>
    <template-link-hover *ngIf="inputs.body.linkhover" [styleObj]="template.LinkStyles" (linkChange)="linkChange('hover', $event)"></template-link-hover> 
</div>