<div *ngIf="block">
    <div (click)="setShowStyle($event, 'block')" class="styling-drop-menu clickable">
        <i *ngIf="show !== 'block'" class="fa fa-fw fa-caret-right"></i>
        <i *ngIf="show === 'block'" class="fa fa-fw fa-caret-down"></i> &nbsp;{{'BLOCKTYPE' | translate}}
    </div>
</div>
<div *ngIf="!block || (block && show === 'block')">
    <div draganddrop="block" [dragArr]="defaultBlocks" [index]="i" [copy]="true" *ngFor="let theblock of blocks; let i = index"
        class="default-block-container clickable" (click)="changeBlockType($event, theblock.obj.Type)">
        <div class="default-block">
            <span class="default-block-inner" [ngSwitch]="theblock.obj.Type">
                <span *ngSwitchCase="'TextBlock'" class="default-text">T</span>
                <span *ngSwitchCase="'Button'" class="evo-btn">{{'CLICK' | translate}}</span>
                <span *ngSwitchCase="'Divider'" class="default-divider"></span>
                <span *ngSwitchCase="'Image'"><img class="default-image" src="assets/images/placeholder.jpg"/></span>
                <span *ngSwitchCase="'Social'" class="default-Social"><img src="assets/social-media/facebook_001.png"/></span>
                <span *ngSwitchCase="'Unsubscribe'" class="default-unsubscribe"><span class="fa-stack fa-lg"><i class="fa fa-envelope fa-stack-1x"></i><i class="fa fa-ban fa-stack-2x text-danger"></i></span></span>
            </span>
        </div>
        <div class="default-block-label"><span class="default-label">{{theblock.obj.Type.toUpperCase() | translate}}</span></div>
    </div>
</div>
<div *ngIf="block">
    <div (click)="setShowStyle($event, 'style')" class="styling-drop-menu clickable">
        <i *ngIf="show !== 'style'" class="fa fa-fw fa-caret-right"></i>
        <i *ngIf="show === 'style'" class="fa fa-fw fa-caret-down"></i> &nbsp;{{'STYLE' | translate}}
    </div>
    <!--<div (click)="showAddNew('block')">{{'ADDNEW' | translate}}</div>-->
    <div *ngIf="show ==='style'">
        <div *ngIf="block.Type === 'TextBlock'">
            <template-textblock-styling [type]="type" [block]="block" [settings]="settings"></template-textblock-styling>
        </div>

        <div *ngIf="block.Type === 'Button'">
            <template-button-styling [type]="type" [block]="block" [settings]="settings"></template-button-styling>
        </div>

        <div *ngIf="block.Type === 'Image'">
            <template-image-styling [type]="type" [block]="block" [settings]="settings"></template-image-styling>
        </div>

        <div *ngIf="block.Type === 'Divider'">
            <template-divider-styling [type]="type" [block]="block" [settings]="settings"></template-divider-styling>
        </div>

        <div *ngIf="block.Type === 'Social'">
            <template-social-styling [type]="type" [block]="block" [settings]="settings"></template-social-styling>
        </div>

        <div *ngIf="block.Type === 'Unsubscribe'">
            <template-unsubscribe-styling [type]="type" [block]="block" [settings]="settings"></template-unsubscribe-styling>
        </div>

        <div *ngIf="block.Type === 'Product'">
            <template-product-styling [type]="type" [block]="block" [settings]="settings"></template-product-styling>
        </div>

        <div *ngIf="block.Type === 'Address'">
            <template-address-styling [type]="type" [block]="block" [settings]="settings"></template-address-styling>
        </div>

        <div *ngIf="block.Type === 'Table'">
            <template-table-styling [type]="type" [block]="block" [settings]="settings"></template-table-styling>
        </div>
    </div>
</div>