<div *ngIf="row">
    <div (click)="setShowStyle($event, 'row')" class="styling-drop-menu clickable">
        <i *ngIf="show !== 'row'" class="fa fa-fw fa-caret-right"></i>
        <i *ngIf="show === 'row'" class="fa fa-fw fa-caret-down"></i> &nbsp;{{'LAYOUT' | translate}}
    </div>
</div>
<div *ngIf="!row || (row && show === 'row')">
    <div (click)="changeRowLayout($event, i)" class="drag-row" draganddrop="row" [dragArr]="defaultRows" [index]="i" [copy]="true"
        *ngFor="let therow of rows; let i = index">
        <div class="row">
            <div class="default-row-container">
                <div *ngFor="let column of therow.colArray; let first = first" class="col-xs-{{column}} default-col">
                    <div class="col-xs-12 inner-col" [class.left]="!first">

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div *ngIf="row">
    <div (click)="setShowStyle($event, 'style')" class="styling-drop-menu clickable">
        <i *ngIf="show !== 'style'" class="fa fa-fw fa-caret-right"></i>
        <i *ngIf="show === 'style'" class="fa fa-fw fa-caret-down"></i> &nbsp;{{'STYLE' | translate}}
    </div>
    <div *ngIf="show === 'style'">
        <div class="row">
            <div *ngIf="inputs.bgcolor" class="col-xs-6">
                <div class="form-group">
                    <label>{{'BACKGROUNDCOLOR' | translate}}</label><br>
                    <template-colorpicker [styleObj]="row.Styles" [prop]="'background-color'"></template-colorpicker>
                </div>
            </div>
            <div *ngIf="inputs.cbgcolor" class="col-xs-6">
                <div class="form-group">
                    <label>{{'CONTENTBACKGROUNDCOLOR' | translate}}</label><br>
                    <template-colorpicker [styleObj]="row" [prop]="'ContentBackground'"></template-colorpicker>
                </div>
            </div>
        </div>
        <hr>
        <!-- COLUMN -->
        <div *ngIf="column">
            <div class="tab-container">
                <span *ngFor="let col of row.Columns; let i = index" (click)="onClickColumn(i)" class="tab-headline" [class.active]="col.TemplateId === column.TemplateId">{{'COLUMN' | translate}} {{(i + 1)}}</span>
            </div>
            <div *ngIf="inputs.colbgcolor" class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>{{'BACKGROUNDCOLOR' | translate}}</label><br>
                        <template-colorpicker [styleObj]="column.Styles" [prop]="'background-color'"></template-colorpicker>
                    </div>
                </div>
                <div class="col-xs-6">
                    <!---->
                </div>
            </div>
            <template-padding-styling *ngIf="inputs.padding" [styleObj]="column.Styles" [settings]="settings"></template-padding-styling>
            <template-border-styling *ngIf="inputs.border" [styleObj]="column.Styles" [settings]="settings"></template-border-styling>
            <div class="row">
                <div *ngIf="inputs.borderradius" class="col-xs-6">
                    <div class="form-group">
                        <label>{{'BORDERRADIUS' | translate}}</label><br>
                        <template-plusminus [styleObj]="column.Styles" [prop]="'border-radius'" [unit]="'px'" [max]="settings.BorderRadiusMax" [min]="settings.BorderRadiusMin"
                            [step]="settings.BorderRadiusStep"></template-plusminus>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>