<div class="leftPanel accordion" id="SettingsLeftPanel">

  <!-- <accordion [closeOthers]="oneAtATime">
  <accordion-group heading="Static Header, initially expanded"
                   [isOpen]="status.isFirstOpen"
                   [isDisabled]="status.isFirstDisabled">
    This content is straight in the template.
  </accordion-group>
</accordion> -->

  <h2><b>{{'ORGSETTINGS' | translate}}</b></h2>
  <ul class="menuItems">
    <li *ngFor="let link of settingsLinks" class="evo-settings-link" evo-require [features]="link.features" [permissions]="link.permissions" (onFail)="fail($event)">
      <a [id]="link.id" [routerLink]="[link.link]" [class.locked]="link.adminLock" [routerLinkActive]="['evo-settings-active']">{{ link.label | translate}}</a>
    </li>
  </ul>

  <h2><b>{{'CUSTOMISESETTINGS' | translate}}</b></h2>
  <ul class="menuItems">
    <li *ngFor="let link of customizeLinks" evo-require [features]="link.features" [permissions]="link.permissions">
      <a [id]="link.id" [routerLink]="[link.link]" [routerLinkActive]="['evo-settings-active']" >{{ link.label | translate}}</a>
    </li>

  </ul>
  <div class="mobileSideMenu" (click)="openLeftPanel();">
    <ul class="dots">
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
<div class="popupOverlay" id="SideMenuOverlayLeft" (click)="removeOpenLeftPanel();">