<div class="mainTitle leftFree">
    <h1>{{ 'NEWSLETTERS' | translate }}</h1>
</div>

<div class="contentPanel leftFree contracts">
    <div class="contentWrapper">
        <div class="projectBox" style="min-height: 600px;">
            <tabset #tabset class="customTab">
                <tab heading="{{'NEWSLETTERS' | translate}}">
                    <newsletter-list></newsletter-list>
                </tab>
                <tab heading="{{'MAILLISTS' | translate}}">
                    <maillist-list></maillist-list>
                </tab>
            </tabset>
        </div>
    </div>
</div>

<addedit-maillist *ngIf="newsSvc.currentMailListObs() | async" (mailListChange)="tabset.tabs[1].active = true;"></addedit-maillist>