<div class="customTab withIcon">
    <div *ngIf="!showSend">
        <div class="tab-container">
            <span (click)="onClickTab('Block')" class="tab-headline" [class.active]="activeTab === 'Block'">{{'BLOCK' | translate}}</span>
            <span (click)="onClickTab('Row')" class="tab-headline" [class.active]="activeTab === 'Row' || !activeTab">{{'ROW' | translate}}</span>
            <span (click)="onClickTab('Body')" class="tab-headline" [class.active]="activeTab === 'Body'">{{'BODY' | translate}}</span>
            <div class="pull-right clickable menu-icon" (click)="menuPopup.open();">
                <a><i class="fa fa-ellipsis-v"></i></a>
                <div #menuPopup class="bubble-popup menu-container" [arrowPosition]="'right'">
                    <a (click)="saveTemplate.emit()">{{'SAVEASTEMPLATE' | translate}}</a><br>
                    <a (click)="resetTemplateBuilder()">{{'CANCELBTN' | translate}}</a><br>
                </div>
            </div>
        </div>

        <!-- BLOCK -->
        <div class="no-deselect-template" *ngIf="activeTab === 'Block'">
            <template-block-styling [type]="'Newsletter'" [template]="template" [settings]="settings"></template-block-styling>
        </div>

        <!-- ROW -->
        <div class="no-deselect-template" *ngIf="activeTab === 'Row' || !activeTab">
            <template-row-styling [type]="'Newsletter'" [settings]="settings"></template-row-styling>
        </div>

        <!-- BODY -->
        <div *ngIf="activeTab === 'Body'">
            <template-body-styling [type]="'Newsletter'" [template]="template" [settings]="settings"></template-body-styling>
        </div>
    </div>

    <!-- SEND -->
    <div *ngIf="showSend">
        <addedit-newsletter [newsletter]="newsletter"></addedit-newsletter>
    </div>

    <div class="evo-btn-row">
        <button *ngIf="!showSend" class="evo-btn blue" (click)="showSend = true">{{'FINALIZEBTN' | translate}}</button>
        <div *ngIf="showSend">
            <button *ngIf="!newsletter.Id && showSend" [disabled]="!newsletter.Subject || !newsletter.MailLists.length" (click)="create()"
                class="evo-btn pull-right">{{'CREATEBTN' | translate}}</button>
            <button *ngIf="newsletter.Id && showSend" [disabled]="!newsletter.Subject || !newsletter.MailLists.length" (click)="update()"
                class="evo-btn pull-right">{{'UPDATEBTN' | translate}}</button>
            <a class="evo-cancel-link pull-right" (click)="showSend = false">{{'BACKBTN' | translate}}</a>
        </div>
    </div>
</div>