<div scrollTracker (scrollBottom)="onScroll()">
    <h3>{{'SCHEDULEDNEWSLETTERS' | translate}}</h3>
    <div class="evo-table gridWrapper" *ngIf="scheduledNewsletters.length">
        <table>
            <thead>
                <tr>
                    <th>{{'SUBJECT' | translate}}</th>
                    <th>{{'DESCRIPTION' | translate}}</th>
                    <th>{{'NOOFRECIPIENTS' | translate}}</th>
                    <th>{{'SENDDATE' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let news of scheduledNewsletters">
                    <td>
                        <a (click)="edit(news.Id)">{{news.Subject}}</a>
                    </td>
                    <td>{{news.Description}}</td>
                    <td><span [tooltip]="news.MailListNames ? news.MailListNames.join(', ') : ''">{{news.Recipients}}</span></td>
                    <td>{{news.SendDate | datetime}}</td>
                    <td>
                        <a (click)="delete(news.Id)" class="link icon"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="gridWrapper" *ngIf="!scheduledNewsletters.length">
        {{'NOSCHEDULEDNEWSLETTERS' | translate}}
    </div>

    <div class="clearfix"></div>
    <div class="divider"></div>

    <h3>{{'SENTNEWSLETTERS' | translate}}</h3>
    <div class="evo-table gridWrapper" *ngIf="sentNewsletters.length">
        <table>
            <thead>
                <tr>
                    <th>{{'SUBJECT' | translate}}</th>
                    <th>{{'DESCRIPTION' | translate}}</th>
                    <th>{{'SENDDATE' | translate}}</th>
                    <th>{{'NEWSLETTERSSENT' | translate}}</th>
                    <th>{{'NEWSLETTERSOPENED' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let news of sentNewsletters">
                    <td>
                        <a (click)="show(news.Id)">{{news.Subject}}</a>
                    </td>
                    <td>{{news.Description}}</td>
                    <td>{{news.SendDate | datetime}}</td>
                    <td><span [tooltip]="news.MailListNames ? news.MailListNames.join(', ') : ''">{{news.Sent}}</span></td>
                    <td>{{news.Opened}}</td>
                </tr>
            </tbody>
        </table>
        <div class="preloaderWrapper" *ngIf="newsSvc.apiInProgress">
            <div class="preloader">
                <div class="cssload-container">
                    <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="gridWrapper" *ngIf="!sentNewsletters.length">
        {{'NOSENTNEWSLETTERS' | translate}}
    </div>
</div>