<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>{{'NEWSLETTERSENT' | translate}}</label>
            <p>{{newsletter.Sent}}</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>{{'NEWSLETTERDELIVERED' | translate}}</label>
            <p><span>{{newsletter.Delivered}}</span> - <span>{{percent.Delivered}}%</span></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>{{'NEWSLETTEROPENED' | translate}}</label>
            <p><span>{{newsletter.Opened}}</span> - <span>{{percent.Opened}}%</span></p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>{{'NEWSLETTERUNSUBSCRIBED' | translate}}</label>
            <p><span>{{newsletter.Unsubscribed}}</span> - <span>{{percent.Unsubscribed}}%</span></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>{{'NEWSLETTERSPAM' | translate}}</label>
            <p><span>{{newsletter.Spam}}</span> - <span>{{percent.Spam}}%</span></p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>{{'NEWSLETTERCLICKED' | translate}}</label>
            <p><span>{{newsletter.Clicked}}</span> - <span>{{percent.Clicked}}%</span></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>{{'NEWSLETTERBOUNCED' | translate}}</label>
            <p><span>{{newsletter.Bounced}}</span> - <span>{{percent.Bounced}}%</span></p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>{{'NEWSLETTERDROPPED' | translate}}</label>
            <p><span>{{newsletter.Dropped}}</span> - <span>{{percent.Dropped}}%</span></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 evo-btn-row">
        <button class="evo-btn pull-right" (click)="copy.emit(newsletter)">{{'COPY' | translate}}</button>
        <a (click)="back()" class="evo-cancel-link pull-right">{{'BACK' | translate}}</a>
    </div>
</div>