<div class="mainTitle leftFree">
    <h1>{{newsletter?.Description}}</h1>
</div>

<div class="contentPanel leftFree">
    <div class="contentWrapper">
        <div class="row" *ngIf="newsletter">
            <div class="col-lg-8">
                <div class="projectBox projectBox-fill">
                    <template-builder [template]="newsletter.Template" onlyShow="true"></template-builder>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="projectBox">
                    <newsletter-details-box [newsletter]="newsletter" (copy)="copy()"></newsletter-details-box>
                </div>
            </div>
        </div>
    </div>
</div>

<addedit-maillist *ngIf="newsSvc.currentMailListObs() | async"></addedit-maillist>