<template-main (templateSelected)="selectedTemplate = $event" [goToBuilder]="goDirectToBuilder" [(showSave)]="showSaveTemplate" [type]="'Newsletter'">
    <span template-title>{{'NEWSLETTERBUILDER' | translate}}</span>
    <div template-styling  *ngIf="selectedTemplate">
        <newsletter-styling (saveTemplate)="showSaveTemplate = true" [template]="selectedTemplate" [newsletter]="currentNewsletter" (isUnsaved)="unsaved = $event;"></newsletter-styling>
    </div>
</template-main>

<addedit-maillist *ngIf="newsletterSvc.currentMailListObs() | async" (mailListChange)="mailListAdd($event)"></addedit-maillist>

<!-- <div class="mainTitle leftFree">
    <h1>{{'NEWSLETTERBUILDER' | translate}}</h1>
</div>

<div class="contentPanel leftFree">
    <div class="contentWrapper">
            <div class="projectBox" *ngIf="!selectedTemplate && !goDirectToBuilder">
                <h3>{{'CHOOSETEMPLATE' | translate}}</h3>
                <div (click)="selectTemplate(defaultTemplate)" class="template-container">
                    <span class="template-name"><i class="fa fa-3x fa-plus"></i></span>
                </div>
                <div (click)="selectTemplate(temp)" *ngFor="let temp of templateList" class="template-container">
                    <span class="template-name">{{temp.Name}}</span>
                    <a><i (click)="deleteTemplate(temp.Id, $event)" class="fa fa-trash-o corner-trash"></i></a>
                </div>
            </div>
            <div *ngIf="selectedTemplate" class="row">
                <div class="col-lg-8">
                    <div class="projectBox projectBox-fill">
                        <template-builder [template]="selectedTemplate"></template-builder>
                    </div>
                </div>-->
                <!-- STYLES -->
                <!-- <div class="col-lg-4">
                    <div class="projectBox" *ngIf="selectedTemplate">
                        <newsletter-styling (saveTemplate)="showSaveTemplate = true" [template]="selectedTemplate" [newsletter]="currentNewsletter" (isUnsaved)="unsaved = $event"></newsletter-styling>
                    </div>
                </div>
            </div>
    </div>
</div>

<template-save *ngIf="showSaveTemplate" [template]="selectedTemplate" (close)="showSaveTemplate = $event"></template-save> -->
<!--<addedit-newsletter *ngIf="showCreateNewsletter" (close)="showCreateNewsletter = false"></addedit-newsletter>-->