<div class="row" *ngIf="!showAll || onlyAll">
    <div class="col-xs-6">
        <div class="form-group">
            <label>{{'PADDING' | translate}}</label> <span class="clickable" (click)="showAllSides($event)"><i class="fa fa-fw fa-caret-down" tooltip="{{'SHOWMORE' | translate}}"></i></span><br>
            <template-plusminus [styleObj]="styleObj" [prop]="'padding'" [max]="settings.PaddingMax" [min]="settings.PaddingMin" [step]="settings.PaddingStep"
                [unit]="'px'" isAll="true" (valueChange)="valueChange.emit($event)"></template-plusminus>
        </div>
    </div>
</div>
<div *ngIf="showAll && !onlyAll">
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label>{{'PADDINGTOP' | translate}}</label> <span class="clickable" (click)="showAllSides($event)"><i class="fa fa-fw fa-caret-right" tooltip="{{'SHOWLESS' | translate}}"></i></span><br>
                <template-plusminus [styleObj]="styleObj" [prop]="'padding-top'" [max]="settings.PaddingMax" [min]="settings.PaddingMin"
                    [step]="settings.PaddingStep" [unit]="'px'" (valueChange)="valueChange.emit($event)"></template-plusminus>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label>{{'PADDINGBOTTOM' | translate}}</label><br>
                <template-plusminus [styleObj]="styleObj" [prop]="'padding-bottom'" [max]="settings.PaddingMax" [min]="settings.PaddingMin"
                    [step]="settings.PaddingStep" [unit]="'px'" (valueChange)="valueChange.emit($event)"></template-plusminus>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label>{{'PADDINGLEFT' | translate}}</label><br>
                <template-plusminus [styleObj]="styleObj" [prop]="'padding-left'" [max]="settings.PaddingMax" [min]="settings.PaddingMin"
                    [step]="settings.PaddingStep" [unit]="'px'" (valueChange)="valueChange.emit($event)"></template-plusminus>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label>{{'PADDINGRIGHT' | translate}}</label><br>
                <template-plusminus [styleObj]="styleObj" [prop]="'padding-right'" [max]="settings.PaddingMax" [min]="settings.PaddingMin"
                    [step]="settings.PaddingStep" [unit]="'px'" (valueChange)="valueChange.emit($event)"></template-plusminus>
            </div>
        </div>
    </div>
</div>