<div class="row border-container" *ngIf="!showAll">
    <div class="col-xs-12">
        <div class="form-group">
            <label>{{ prefixLabel + 'BORDER' | translate}}</label> <span class="clickable" (click)="showAllSides($event)"><i class="fa fa-caret-down" tooltip="{{'SHOWMORE' | translate}}"></i></span><br>
            <template-border [styleObj]="styleObj" [max]="settings.BorderMax" [min]="settings.BorderMin" [step]="settings.BorderStep"
                [unit]="'px'" [borderStyles]="settings.BorderStyles" isAll="true"></template-border>
        </div>
    </div>
</div>
<div *ngIf="showAll">
    <div class="row border-container">
        <div class="col-xs-12">
            <div class="form-group">
                <label>{{ prefixLabel + 'BORDERTOP' | translate}}</label> <span class="clickable" (click)="showAllSides($event)"><i class="fa fa-caret-right" tooltip="{{'SHOWLESS' | translate}}"></i></span><br>
                <template-border [styleObj]="styleObj" [direction]="'top'" [max]="settings.BorderMax" [min]="settings.BorderMin" [step]="settings.BorderStep"
                    [unit]="'px'" [borderStyles]="settings.BorderStyles"></template-border>
            </div>
        </div>
    </div>
    <div class="row border-container">
        <div class="col-xs-12">
            <div class="form-group">
                <label>{{ prefixLabel + 'BORDERBOTTOM' | translate}}</label><br>
                <template-border [styleObj]="styleObj" [direction]="'bottom'" [max]="settings.BorderMax" [min]="settings.BorderMin" [step]="settings.BorderStep"
                    [unit]="'px'" [borderStyles]="settings.BorderStyles"></template-border>
            </div>
        </div>
    </div>
    <div class="row border-container">
        <div class="col-xs-12">
            <div class="form-group">
                <label>{{ prefixLabel + 'BORDERLEFT' | translate}}</label><br>
                <template-border [styleObj]="styleObj" [direction]="'left'" [max]="settings.BorderMax" [min]="settings.BorderMin" [step]="settings.BorderStep"
                    [unit]="'px'" [borderStyles]="settings.BorderStyles"></template-border>
            </div>
        </div>
    </div>
    <div class="row border-container">
        <div class="col-xs-12">
            <div class="form-group">
                <label>{{ prefixLabel + 'BORDERRIGHT' | translate}}</label><br>
                <template-border [styleObj]="styleObj" [direction]="'right'" [max]="settings.BorderMax" [min]="settings.BorderMin" [step]="settings.BorderStep"
                    [unit]="'px'" [borderStyles]="settings.BorderStyles"></template-border>
            </div>
        </div>
    </div>
</div>