<span class="icon-span clickable" [class.selected]="styleObj[prop] === 'left'" (click)="setStyleProp('left')"><i class="fa fa-align-left"></i></span>
<span class="icon-span clickable" [class.selected]="styleObj[prop] === 'center'" (click)="setStyleProp('center')"><i class="fa fa-align-center"></i></span>
<span class="icon-span clickable" [class.selected]="styleObj[prop] === 'right'" (click)="setStyleProp('right')"><i class="fa fa-align-right"></i></span>
<span *ngIf="showJustify" class="icon-span clickable" [class.selected]="styleObj[prop] === 'justify'" (click)="setStyleProp('justify')"><i class="fa fa-align-justify"></i></span>