<div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            <label>{{'LINKHOVERCOLOR' | translate}}</label><br>
            <template-colorpicker [styleObj]="styleObj" [prop]="'hover-color'" [position]="'top'" [fallbackColor]="'#000'" (close)="linkHoverChange()"></template-colorpicker>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <label>{{'LINKHOVERSTYLE' | translate}}</label><br>
            <span class="icon-span clickable" [class.selected]="styleObj['hover-text-decoration'] === 'underline'" (click)="setLinkHoverStyle()"><i class="fa fa-underline"></i></span>
        </div>
    </div>
</div>