<!-- ALL STYLES -->
<div *ngIf="isAll">
    <span class="add-minus-btn" (click)="addToAllStyles(false)"><i class="fa fa-minus"></i></span>
    <input #allEl class="form-control add-minus-input" type="number" (keyup)="onKeyupAll(allEl)"
        [value]="styleObj[prop + '-top'] ? styleObj[prop + '-top'].toString().substring(0, styleObj[prop + '-top'].toString().length - unitLength) : ''">
    <span class="add-minus-btn" (click)="addToAllStyles(true)"><i class="fa fa-plus"></i></span>
</div>

<!-- ONE STYLE -->
<div *ngIf="!isAll">
    <span class="add-minus-btn" (click)="addToStyle(false)"><i class="fa fa-minus"></i></span>
    <input #oneEl class="form-control add-minus-input" type="number" (keyup)="onKeyup(oneEl)"
        [value]="styleObj[prop] ? styleObj[prop].toString().substring(0, styleObj[prop].toString().length - unitLength) : ''">
    <span class="add-minus-btn" (click)="addToStyle(true)"><i class="fa fa-plus"></i></span>
</div>