<!--<input id="BodyBackgroundColor" style="font-weight: normal;" class="form-control" [(colorPicker)]="template.Styles['background-color']"
    [value]="template.Styles['background-color']" [cpPosition]="'bottom'" />-->
<div class="cp-container">
    <span *ngIf="!showPicker" (click)="onClick($event)" class="cp-span" [style.backgroundColor]="color"></span>
     <span #cpEl *ngIf="showPicker" class="cp-span" [colorPicker]="color" (colorPickerChange)="onChange($event)" [cpPosition]="position"
        [cpPresetLabel]="'TRANSPARENT' | translate" [cpPresetColors]="['rgb(255,255,255,0)']" [style.backgroundColor]="color" [cpFallbackColor]="fallbackColor"></span> 
        <!-- <input #cpEl *ngIf="showPicker" [colorPicker]="color" (colorPickerChange)="onChange($event)" [cpPosition]="position"
        [cpPresetLabel]="'TRANSPARENT' | translate" [cpPresetColors]="['rgb(255,255,255,0)']" [style.backgroundColor]="color" [cpFallbackColor]="fallbackColor"/> -->
</div>
<input class="cp-input form-control" [(ngModel)]="styleObj[prop]" (keyup)="onKeyup($event.target.value)">