<span class="icon-span clickable" [class.selected]="styleObj['font-weight'] === 'bold'" (click)="setStyleProp('font-weight', 'bold')"><i class="fa fa-bold"></i></span>
<span class="icon-span clickable" [class.selected]="styleObj['font-style'] === 'italic'" (click)="setStyleProp('font-style', 'italic')"><i class="fa fa-italic"></i></span>
<span class="icon-span clickable" [class.selected]="styleObj['text-decoration'] === 'underline'" (click)="setStyleProp('text-decoration', 'underline')"><i class="fa fa-underline"></i></span>
