<p *ngIf="styleObj[prop]" (click)="quickselect1.toggleQuickSelectBox()" class="template-inline-block">{{styleObj[prop]}} <quickselect class="contracts-quick" #quickselect1 [items]="items" displayProperty="label" (select)="onSelect($event.label)"></quickselect></p>
<p *ngIf="!styleObj[prop]" (click)="quickselect2.toggleQuickSelectBox()" class="template-inline-block">{{placeholderLabel}} <quickselect class="contracts-quick" #quickselect2 [items]="items" displayProperty="label" (select)="onSelect($event.label)"></quickselect></p>