<div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            <label>{{'LINKCOLOR' | translate}}</label><br>
            <template-colorpicker [styleObj]="styleObj" [prop]="'color'" [position]="'top'" [fallbackColor]="'#000'" (close)="linkStyleChange()"></template-colorpicker>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <label>{{'LINKSTYLE' | translate}}</label><br>
            <span class="icon-span clickable" [class.selected]="styleObj['text-decoration'] === 'underline'" (click)="setLinkStyle()"><i class="fa fa-underline"></i></span>
        </div>
    </div>
</div>