<div (click)="selected.emit(type)" class="{{classNames}}">
  <table class="border-table">
    <tr class="header-row">
      <th class="cell left-cell">
      </th>
      <th class="cell">
      </th>
    </tr>
    <tr class="normal-row">
      <td class="cell left-cell">
      </td>
      <td class="cell">
      </td>
    </tr>
    <tr class="normal-row">
      <td class="cell left-cell">
      </td>
      <td class="cell">
      </td>
    </tr>
  </table>
</div>