<div *ngFor="let border of borderArray" class="border-container">
  <template-table-border-style (selected)="onSelected($event)" [type]="border"></template-table-border-style>
</div>

<div style="display: table;">
  <div style="display: table-row">

  </div>
  <div style="display: table-row">

  </div>
  <div style="display: table-row">

  </div>
</div>