<div *ngIf="isAll">
    <div class="border-style-container small">
        <template-quickselect [styleObj]="styleObj" [prop]="'border-top-style'" [items]="borderStyles" (select)="setAllProps('style', $event)" [placeholderLabel]="'None'"></template-quickselect>
        <!--<chosen id="borderstyle" [ngModel]="styleObj['border-top-style']" (ngModelChange)="setAllProps('style', $event)" [width]="'100%'"
            [options]="borderStyles"></chosen>-->
    </div>

    <div class="border-style-container">
        <span class="add-minus-btn" (click)="addToAllStyles(false)"><i class="fa fa-minus"></i></span>
        <input #bordEl class="form-control add-minus-input" type="number" (keyup)="onKeyupAll(bordEl)" [value]="styleObj['border-top-width']?.substring(0, styleObj['border-top-width'].length - unitLength)">
        <span class="add-minus-btn" (click)="addToAllStyles(true)"><i class="fa fa-plus"></i></span>
    </div>

    <div class="border-style-container">
        <template-colorpicker [styleObj]="styleObj" [prop]="'border-top-color'" [fallbackColor]="'#000'" (valueChange)="setAllProps('color', $event)"></template-colorpicker>
    </div>
</div>

<div *ngIf="!isAll">
    <div class="border-style-container small">
        <template-quickselect *ngIf="!onlyBorder" [styleObj]="styleObj" [prop]="'border-' + direction + '-style'" [items]="borderStyles" [placeholderLabel]="'None'"></template-quickselect>
        <template-quickselect *ngIf="onlyBorder" [styleObj]="styleObj" [prop]="'border-style'" [items]="borderStyles"></template-quickselect>
    </div>

    <div class="border-style-container">
        <template-plusminus [styleObj]="styleObj" [prop]="onlyBorder ? 'border-width' : 'border-' + direction + '-width'" [max]="max"
            [min]="min" [step]="step" [unit]="unit"></template-plusminus>
    </div>

    <div class="border-style-container">
        <template-colorpicker [styleObj]="styleObj" [prop]="onlyBorder ? 'border-color' : 'border-' + direction + '-color'" [fallbackColor]="'#000'"></template-colorpicker>
    </div>
</div>