.border-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    background-color: white;
    border: solid 1px black
}

.no-container .border-table{
    border: none;
}

.full-border .cell,
 {
    border: 1px solid black;
}

.only-header .header-row,
.header-with-columns .header-row{
    border-bottom: 1px solid black;
}

.header-with-columns .left-cell {
    border-right: 1px solid black;
}

.only-rows .normal-row{
    border-top: solid 1px black;
}

.only-columns .cell {
    border-left: solid 1px black;
}