<div class="row blockContent">
    <div class="title">
        <h4>
            {{ 'ADDRESS' | translate }}
            <a *ngIf="account.Address.length" tooltip="{{'CHECKMAP' | translate}}" (click)="openMap()">
                <i class="fa fa-map-marker fa-fw"> </i>
            </a>
            <a type="button" value="+" href="#" [routerLink]="['/CRM/', account.IsPerson ? 'PersonAccounts' : 'Accounts', account.Id, 'AddAddress']" class="btn pull-right" *ngIf="enableAddButton && account.Id">+</a>
        </h4>
    </div>

    <div class="addressBlock" *ngFor="let add of account.Address">
        <div id="positionHouse" class="col-md-1">
            <div id="lowerHouse" class="fa fa-building fa-2x" aria-hidden="true">
            </div>
        </div>
        <div class="col-md-11">
            <a class="pull-right" (click)="accountService.deleteAddress(add.Id)"><i class="fa fa-trash"></i></a>
            <a [routerLink]="['./EditAddress', add.Id]" *ngIf="enableEditButton">
                <p><span *ngIf="add.Description">{{add.Description}}</span><br><span *ngIf="add.Street">{{add.Street}},&nbsp;</span><span
                        *ngIf="add.PostalCode">{{add.PostalCode}},&nbsp;</span><span *ngIf="add.City">{{add.City}},&nbsp;</span><span
                        *ngIf="add.Country">{{add.Country}}</span></p>
            </a>
        </div>
    </div>
    <span>
        <span *ngIf="account.Address.length==0">{{ 'NOADDRESSESYET' | translate }}</span>
    </span>
</div>