<div class="customPopup systemActive" id="addSalesCommissionRule" (click)="clickToClose($event)">
    <div class="popupBox">
        <div *ngIf="!isEdit" class="title">
            <span>{{ 'ADDSALESCOMMISSIONRULE' | translate }} </span>
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="row">
                <form #rulesForm="ngForm" id="salesCommRuleForm" novalidate>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{'COMMISSIONTYPE' | translate}}</label>
                            <chosen id="commRuleType" [(ngModel)]="commRule.SalesGoalType" [width]="'100%'" [multiple]="false" [options]="ruleTypeList"
                                #ruleType name="ruleType" required (change)="onTypeChange($event)"></chosen>
                        </div>
                        <div *ngIf="commRule.SalesGoalType === 'ClosedActions' || commRule.SalesGoalType === 'CreatedActions'" class="form-group">
                            <label for="commActionTypes">{{'ACTIONTYPES'}}</label>
                            <chosen id="commActionTypes" [ngModel]="commRule.ActionTypes" (ngModelChange)="onActionTypeChanged($event)" [width]="'100%'" [multiple]="true" [options]="actionTypeList"
                                name="actionType" ></chosen>
                        </div>
                        <div *ngIf="commRule.SalesGoalType === 'ClosedActions' && commRule.ActionTypes" class="form-group">
                            <label>{{'ACTIONSTATUSES'}}</label>
                            <chosen id="commActionStatuses" [(ngModel)]="commRule.ActionStatuses" [width]="'100%'" [multiple]="true" [options]="actionStatusList"
                                name="actionStatus"></chosen>
                        </div>
                        <div *ngIf="commRule.SalesGoalType === 'ClosedActions'" class="form-group">
                            <label for="useActualClose" class="evo-cb-label">{{ 'USEACTUALCLOSEDATE' | translate }}</label>
                            <label class="customCheckBox leftFolat" id="custome-check">
                                <input type="checkbox" id="useActualClose" [(ngModel)]="commRule.UseActualCloseDate" class="checker" name="actualClose">
                                <div class="custonCkeck"></div>
                            </label>
                        </div>
                        <div *ngIf="commRule.SalesGoalType === 'ClosedActions' || commRule.SalesGoalType === 'CreatedActions'" class="form-group">
                            <label for="commLabels">{{'ACTIVITYLISTS' | translate}}</label>
                            <chosen id="commLabels" [(ngModel)]="commRule.Labels" [width]="'100%'" [multiple]="true" [options]="labelList" [placeholderTextMultiple]="('CHOOSEACTIVITYLISTS' | translate)"
                                name="labels"></chosen>
                        </div>
                        <div class="form-group" *ngIf="commRule.SalesGoalType === 'DealsValueOf' || commRule.SalesGoalType === 'NumberOfDeals'">
                            <label for="commSalesProcess">{{'SALESPROCESS' | translate}}</label>
                            <chosen id="commSalesProcess" [(ngModel)]="commRule.SalesProcessId" [width]="'100%'" [multiple]="false" [options]="salesProcessList"
                                name="salesProcess" (change)="onSaleProcessChange($event)" required></chosen>
                        </div>
                        <div class="form-group" *ngIf="commRule.SalesProcessId && (commRule.SalesGoalType === 'DealsValueOf' || commRule.SalesGoalType === 'NumberOfDeals')">
                            <label for="commDealStatus">{{'GOALSOFDEALSTATUS' | translate}}</label>
                            <chosen id="commDealStatus" [(ngModel)]="commRule.DealStatusId" [width]="'100%'" [multiple]="false" [options]="dealStatusList" required
                                name="dealStatus"></chosen>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4" *ngIf="commRule.SalesGoalType === 'DealsValueOf'">
                                <label>{{'CURRENCY' | translate}}</label><br>
                                <chosen required id="SalesCommCurrency" name="salesCommCurrency" [width]="'100%'" [multiple]="false" [options]="currencies"
                                    [(ngModel)]="commRule.Currency"></chosen>
                                <p *ngIf="isDisplay">{{salesCommission.Currency}}</p>
                            </div>
                            <div class="form-group" [ngClass]="{'col-md-4': commRule.SalesGoalType === 'DealsValueOf', 'col-md-6': commRule.SalesGoalType !== 'DealsValueOf'}" *ngIf="commRule.SalesGoalType?.length > 0">
                                <label>{{'SALESCOMMAMOUNT' | translate}}</label><br>
                                <input class="form-control sc-number-input" type="number" [(ngModel)]="commRule.Value" name="points" required/>
                                <!--<span>{{currency}} {{'PER' | translate}}</span>-->
                            </div>
                            <div class="form-group" [ngClass]="{'col-md-4': commRule.SalesGoalType === 'DealsValueOf', 'col-md-6': commRule.SalesGoalType !== 'DealsValueOf'}" *ngIf="commRule.SalesGoalType?.length > 0">
                                <label>{{'SALESCOMMQUANTITY' | translate}}</label><br>
                                <input class="form-control sc-number-input" type="number" [(ngModel)]="commRule.Quantity" name="quantity" required/>
                                <!--<span *ngIf="commRule.SalesGoalType === 'ClosedActions'"> {{'CLOSEDACTIONS' | translate}}</span>
                                <span *ngIf="commRule.SalesGoalType === 'CreatedActions'"> {{'CREATEDACTIONS' | translate}}</span>
                                <span *ngIf="commRule.SalesGoalType === 'DealsValueOf'"> {{'TURNOVERAMOUNT' | translate}}</span>
                                <span *ngIf="commRule.SalesGoalType === 'CreatedDeals'"> {{'CREATEDDEALS' | translate}}</span>
                                <span *ngIf="commRule.SalesGoalType === 'NumberOfDeals'"> {{'DEALREACHSTATUS' | translate}}</span>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="evo-btn-row">
                            <button type="button" class="evo-btn pull-right" [disabled]="!rulesForm.valid" (click)="addRule()">
                                {{'CREATE'}}
                            </button>
                            <a class="evo-cancel-link pull-right" (click)="back()">{{ 'CANCELBTN' | translate }}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>