<div *ngIf="salesCommission" class="customPopup big systemActive" id="addSalesCommission" (click)="clickToClose($event)">
    <div class="popupBox">
        <div *ngIf="!edit" class="title">
            <span>{{ 'ADDSALESCOMMISSION' | translate }} </span>
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="row">
                <form #salesForm="ngForm" id="salesCommissionForm" novalidate>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'NAME' | translate}}</label>
                            <div *ngIf="!isDisplay">
                                <input class="form-control" [(ngModel)]="salesCommission.Name" name="name" #name="ngModel" required/>
                                <div [hidden]="name.untouched || name.valid" class="bg-danger">
                                    {{ 'REQ' | translate }}
                                </div>
                            </div>
                            <p *ngIf="isDisplay">{{salesCommission.Name}}</p>
                        </div>
                        <div class="form-group">
                            <label>{{'DESCRIPTION' | translate}}</label>
                            <textarea *ngIf="!isDisplay" class="form-control" [(ngModel)]="salesCommission.Description" name="description" #description="ngModel"></textarea>
                            <p *ngIf="isDisplay">{{salesCommission.Description}}</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a *ngIf="!isDisplay && !showAddUsers && !isEditMode" style="margin-bottom: 10px;" class="evo-add-link" (click)="showAddUsers = !showAddUsers;">
                                    <i class="fa fa-plus"></i> {{'ADDUSERS' | translate}}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'SALESCOMMISSIONRULES' | translate}}</label>
                            <rules-display *ngFor="let rule of salesCommission?.Rules; let i = index" [rule]="rule" (removeRule)="onRemoveRule(i)"></rules-display>
                        </div>
                        <div *ngIf="!isDisplay">
                            <a class="evo-add-link" (click)="onOpenAddRule()">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="isDisplay || showAddUsers || isEditMode">
                        <hr>
                        <edit-user [id]="salesCommission.Id" [edit]="!isDisplay" (add)="onAddUsers($event)" (remove)="onRemoveUser($event)"></edit-user>
                    </div>
                    <div class="col-md-12">
                        <div class="evo-btn-row">
                            <button *ngIf="!isEditMode && !isDisplay" type="button" class="evo-btn pull-right" [disabled]="!salesForm.valid || salesCommission?.Rules.length < 1" (click)="create()">
                                {{'CREATEBTN' | translate}}
                            </button>
                            <button *ngIf="isEditMode" type="button" class="evo-btn pull-right" [disabled]="!salesForm.valid || salesCommission?.Rules.length < 1" (click)="update()">
                                {{'SAVEBTN' | translate}}
                            </button>
                            <button *ngIf="isDisplay" type="button" class="evo-btn pull-right" (click)="onEdit()">
                                {{'EDITBTN' | translate}}
                            </button>
                            <a *ngIf="!isEditMode" class="evo-cancel-link pull-right" (click)="back()">{{ 'CANCELBTN' | translate }}</a>
                            <a *ngIf="isEditMode" class="evo-cancel-link pull-right" (click)="cancelChanges()">{{ 'CANCELBTN' | translate }}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<addedit-commrule [currency]="salesCommission.Currency" (ruleAdded)="onAddRule($event)" *ngIf="salesCommSvc.currentRuleObs() | async"></addedit-commrule>

                    <!--<div *ngIf="showAddUsers" class="row">
                        <div class="col-md-12">
                            <hr>
                            <div class="col-md-3 sc-form-group-left">
                                <div class="form-group">
                                    <label>{{'STARTDATE' | translate}}</label>
                                    <evo-datepicker [(ngModel)]="salesCommission.FromDate" name="fromDate" #fromDate="ngModel" dateOnly="true" required></evo-datepicker>
                                    <div [hidden]="fromDate.untouched || fromDate.valid" class="bg-danger">
                                        {{ 'REQ' | translate }}
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="salesCommission.IsTemporary" class="col-md-3 sc-form-group-right">
                                <div class="form-group">
                                    <label>{{'ENDDATE' | translate}}</label>
                                    <evo-datepicker [(ngModel)]="salesCommission.EndDate" [minDate]="salesCommission.FromDate" [defaultValue]="salesCommission.FromDate" name="endDate" #endDate="ngModel" dateOnly="true"></evo-datepicker>
                                </div>
                            </div>
                            <div *ngIf="!salesCommission.IsTemporary" class="col-md-3">&nbsp;</div>
                            <div class="col-md-6">
                                <label for="temporary" style="display: inline-block; margin-bottom: 5px;" class="clickable">{{ 'TEMPORARYSALESCOMMISSION' | translate }}</label>
                                <label class="customCheckBox leftFolat" id="custome-check">
                                    <input type="checkbox" id="temporary" [(ngModel)]="salesCommission.IsTemporary" class="checker" name="temporary">
                                    <div class="custonCkeck"></div>
                                </label>
                            </div>
                            <div class="col-md-12 sc-form-group-left">
                                <div class="form-group">
                                    <label style="display: block;">{{'USERS' | translate}}</label>
                                    <img *ngFor="let user of addedUsers" style="width: 35px;" class="sc-display-img" [profilepicture]="user.value" [tooltip]="user.value | username" />
                                    <a class="link" (click)="popupPart.open()">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <div #popupPart class="bubble-popup" arrowPosition="left">
                                        <div>
                                           <label>{{'ADDEDUSERS' | translate}}</label>
                                            <p (click)="onRemoveAllUsers()">{{'REMOVEALL' | translate}}</p>
                                            <div style="display: inline-block" *ngFor="let user of addedUsers; let i = index">
                                                <img class="sc-display-img" style="width:35px;" (click)="onRemoveUser(user, i)" [profilepicture]="user.value" tooltip="{{user.value | username}}"/>
                                            </div>
                                       </div>
                                        <hr class="sc-hr">
                                        <div class="addUsers">
                                            <label>{{'USERSTOADD' | translate}}</label>
                                            <p (click)="onAddAllUsers()">{{'ADDALL' | translate}}</p>
                                            <div style="display: inline-block; min-width: 35px;" *ngFor="let user of userList; let i = index;">
                                                <img class="sc-display-img" style="width:35px;" (click)="onAddUser(user, i)" [profilepicture]="user.value" tooltip="{{user.value | username}}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
