<div class="customPopup systemActive" id="assignSalesComm" (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title">
            <span>{{ 'ASSIGNSALESCOMMISSION' | translate }} </span>
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="row">
                <div class="col-md-12">
                    <div class="form.group">
                        <label>{{'USERS' | translate}}</label><br>
                        <div class="sc-img-cont" *ngFor="let userId of users" [tooltip]="userId | username">
                            <img style="width: 40px;" [profilepicture]="userId">
                        </div>
                    </div>
                </div>
                <form #assignForm="ngForm" id="salesCommRuleForm" novalidate>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{'SALESCOMMISSION' | translate}}</label>
                            <chosen id="salesCommList" [(ngModel)]="salesCommId" [width]="'100%'" [multiple]="false" [options]="salesCommChosen" required
                                name="salesComm" [placeholderText]="'CHOOSESALESCOMMISSION' | translate"></chosen>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{'FROMDATE' | translate}}</label>
                                    <evo-datepicker [(ngModel)]="fromDate" name="fromDate" dateOnly="true" required></evo-datepicker>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" *ngIf="isTemporary">
                                    <label>{{'ENDDATE' | translate}}</label>
                                    <evo-datepicker [(ngModel)]="endDate" [minDate]="fromDate" [defaultDate]="fromDate" name="endDate" dateOnly="true" required></evo-datepicker>
                                </div>
                            </div>
                        </div>
                        <label for="temporary" style="display: inline-block; margin-bottom: 5px;" class="clickable">{{ 'TEMPORARYSALESCOMMISSION' | translate }}</label>
                        <label class="customCheckBox leftFolat" id="custome-check">
                                <input type="checkbox" id="temporary" [(ngModel)]="isTemporary" class="checker" name="temporary">
                                <div class="custonCkeck"></div>
                        </label>
                    </div>
                    <div class="col-md-12">
                        <div class="evo-btn-row">
                            <button type="button" class="evo-btn pull-right" [disabled]="!assignForm.valid" (click)="addData()">
                                {{'ASSIGN'}}
                            </button>
                            <a class="evo-cancel-link pull-right" (click)="back()">{{ 'CANCELBTN' | translate }}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>