<!--<div *ngIf="salesCommission" class="customPopup big systemActive" id="addsalesCommission" (click)="clickToClose($event)">
    <div class="popupBox">
        <div *ngIf="!edit" class="title">
            <span>{{ 'EDITUSERS' | translate }} </span>
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="row">-->
            <!--<div *ngIf="!isEdit">
                <div class="row">
                    <div *ngIf="userModel?.BaseUsers.length" class="col-md-6 col-sm-12">
                        <label>{{'BASEUSERS' | translate}}</label><br>
                        <div class="sc-img-cont" *ngFor="let user of userModel?.BaseUsers">
                            <img style="width: 40px;" [profilepicture]="user.UserId" [tooltip]="user.UserId | username">
                        </div>
                    </div>
                    <div *ngIf="userModel?.TemporaryUsers.length" class="col-md-6 col-sm-12">
                        <label>{{'TEMPORARYUSERS' | translate}}</label><br>
                        <div class="sc-img-cont" *ngFor="let user of userModel?.TemporaryUsers">
                            <img style="width: 40px;" [profilepicture]="user.UserId" [tooltip]="user.UserId | username">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="userModel?.FutureBaseUsers.length" class="col-md-6 col-sm-12">
                        <label>{{'FUTUREBASEUSERS' | translate}}</label><br>
                        <div class="sc-img-cont" *ngFor="let user of userModel?.FutureBaseUsers">
                            <img style="width: 40px;" [profilepicture]="user.UserId" [tooltip]="user.UserId | username">
                        </div>
                    </div>
                    <div *ngIf="userModel?.FutureTemporaryUsers.length" class="col-md-6 col-sm-12">
                        <label>{{'FUTURETEMPORARYUSERS' | translate}}</label><br>
                        <div class="sc-img-cont" *ngFor="let user of userModel?.FutureTemporaryUsers">
                            <img style="width: 40px;" [profilepicture]="user.UserId" [tooltip]="user.UserId | username">
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="row">
                <div [ngClass]="{'col-md-6 col-sm-12': isEdit, 'col-md-12': !isEdit}">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <label>{{'BASEUSERS' | translate}}</label><br>
                            <div *ngIf="userModel?.BaseUsers.length">
                                <div class="sc-img-cont" [class.evo-img-hover]="isEdit" *ngFor="let user of userModel?.BaseUsers; let i = index" [tooltip]="user.UserId | username" (click)="onDeleteUser(user, i, 'BaseUsers')">
                                    <img style="width: 40px;" [profilepicture]="user.UserId">
                                    <!--<i class="fa fa-trash sc-trash-icon"></i>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>{{'TEMPORARYUSERS' | translate}}</label><br>
                            <div *ngIf="userModel?.TemporaryUsers.length">
                                <div class="sc-img-cont" [class.evo-img-hover]="isEdit" *ngFor="let user of userModel?.TemporaryUsers; let i = index" [tooltip]="user.UserId | username" (click)="onDeleteUser(user, i, 'TemporaryUsers')">
                                    <img style="width: 40px;" [profilepicture]="user.UserId">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <label>{{'FUTUREBASEUSERS' | translate}}</label><br>
                            <div *ngIf="userModel?.FutureBaseUsers.length">
                                <div class="sc-img-cont" [class.evo-img-hover]="isEdit" *ngFor="let user of userModel?.FutureBaseUsers; let i = index" [tooltip]="user.UserId | username" (click)="onDeleteUser(user, i, 'FutureBaseUsers')">
                                    <img style="width: 40px;" [profilepicture]="user.UserId">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>{{'FUTURETEMPORARYUSERS' | translate}}</label><br>
                            <div *ngIf="userModel?.FutureTemporaryUsers.length">
                                <div class="sc-img-cont" [class.evo-img-hover]="isEdit" *ngFor="let user of userModel?.FutureTemporaryUsers; let i = index" [tooltip]="user.UserId | username" (click)="onDeleteUser(user, i, 'FutureTemporaryUsers')">
                                    <img style="width: 40px;" [profilepicture]="user.UserId">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isEdit && editModel" class="col-md-6">
                    <form #dateForm="ngForm" class="row">
                        <div class="col-md-6 sc-form-group-left">
                            <div class="form-group">
                                <label>{{'STARTDATE' | translate}}</label>
                                <evo-datepicker [(ngModel)]="editModel.FromDate" name="fromDate" #fromDate="ngModel" dateOnly="true" required></evo-datepicker>
                                <div [hidden]="fromDate.untouched || fromDate.valid" class="bg-danger">
                                    {{ 'REQ' | translate }}
                                </div>
                            </div>
                        </div>
                        <div *ngIf="editModel.IsTemporary" class="col-md-6 sc-form-group-right">
                            <div class="form-group">
                                <label>{{'ENDDATE' | translate}}</label>
                                <evo-datepicker required [(ngModel)]="editModel.EndDate" [minDate]="editModel.FromDate" [defaultDate]="editModel.FromDate" name="endDate" #endDate="ngModel" dateOnly="true"></evo-datepicker>
                            </div>
                        </div>                    
                    </form>
                    <!--<div *ngIf="!editModel.IsTemporary" class="col-md-6">&nbsp;</div>-->
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-md-12">
                            <label for="temporary" class="custonCkeck-label">{{ 'TEMPORARYSALESCOMMISSION' | translate }}</label>
                            <label class="customCheckBox leftFolat" id="custome-check">
                                <input type="checkbox" id="temporary" [(ngModel)]="editModel.IsTemporary" class="checker" name="temporary">
                                <div class="custonCkeck"></div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 sc-form-group-left">
                            <div class="form-group">
                                <label style="display: block;">{{'USERS' | translate}}</label>
                                <div class="sc-img-cont" style="min-width: 35px; cursor: auto;" [tooltip]="user.value | username" *ngFor="let user of addedUsers">
                                    <img style="width: 35px;" [profilepicture]="user.value"/>
                                </div>
                                <a class="link" (click)="popupPart.open()">
                                    <i class="fa fa-plus"></i>
                                </a>
                                <button (click)="onSave()" [disabled]="!dateForm.valid" class="evo-btn small pull-right">{{'ADDBTN' | translate}}</button>
                                <div #popupPart class="bubble-popup" arrowPosition="left" classAvoidClose="evo-img-hover">
                                    <div>
                                        <label>{{'ADDEDUSERS' | translate}}</label>
                                        <p (click)="onRemoveAllUsers()">{{'REMOVEALL' | translate}}</p>
                                        <div class="sc-img-cont evo-img-hover" (click)="onRemoveUser(user, i)" style="min-width: 35px;" tooltip="{{user.value | username}}" *ngFor="let user of addedUsers; let i = index">
                                            <img style="width:35px;" [profilepicture]="user.value" tooltip="{{user.value | username}}"/>
                                        </div>
                                    </div>
                                    <hr class="sc-hr">
                                    <div class="addUsers">
                                        <label>{{'USERSTOADD' | translate}}</label>
                                        <p (click)="onAddAllUsers()">{{'ADDALL' | translate}}</p>
                                        <div class="sc-img-cont" style="min-width: 35px;" *ngFor="let user of userList; let i = index;" (click)="onAddUser(user, i)">
                                            <img style="width:35px;" [profilepicture]="user.value" tooltip="{{user.value | username}}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                    <!--<div class="col-md-12">
                        <div class="evo-btn-row">
                            <button *ngIf="isEditMode" type="button" class="evo-btn pull-right" [disabled]="!salesForm.valid || salesCommission?.Rules.length < 1"
                                (click)="update()">
                                {{'SAVEBTN'}}
                            </button>
                            <a *ngIf="isEditMode" class="evo-cancel-link pull-right" (click)="cancelChanges()">{{ 'CANCELBTN' | translate }}</a>
                        </div>
                    </div>-->
            <!--</div>
        </div>
    </div>
</div>-->