<div class="mainTitle">
    <h1>{{ 'SALESCOMMISSION' | translate }}</h1>
</div>
<div class="panelAction">
    <a class="btn" (click)="openCreate()">
        <i class="fa fa-plus"></i>
        <font>{{ 'SALESCOMMISSIONCREATE' | translate }}</font>
    </a>
</div>
<div class="contentPanel settingsPage">
    <div class="contentWrapper">
        <div class="projectBox clearfix">
            <div class="gridWrapper" *ngIf="salesCommList && salesCommList.length">
                <table>
                    <thead>
                        <tr>
                            <th>{{'NAME' | translate}}</th>
                            <th>{{'DESCRIPTION' | translate}}</th>
                            <th>{{'USERCOUNT' | translate}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let salesComm of salesCommList">
                            <td><a (click)="openEdit(salesComm)">{{salesComm.Name}}</a></td>
                            <td>{{salesComm.Description}}</td>
                            <td>{{salesComm.Count}}</td>
                            <td><a class="link icon" (click)="delete(salesComm.Id)"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="gridWrapper" *ngIf="!salesCommList || !salesCommList.length">
                {{'NOSALESCOMMISSIONSCREATED' | translate}}
            </div>
        </div>
    </div>
</div>
<addedit-sales-commission *ngIf="salesCommSvc.currentSalesCommissionObs() | async"></addedit-sales-commission>