.sc-bubble-img-cont{
    float: left;
    min-width: 35px;
    display: inline-block;
}

.sc-bubble-img-cont img{
    width: 35px;
    margin-bottom: 3px;
    margin-right: 3px;
}

.sc-img-cont{
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 3px;
    position: relative;
    cursor: pointer;
}

.sc-img-hover {
    position: relative;
    cursor: pointer;
}

.sc-img-hover:hover img{
    opacity: 0.35;
}

.sc-img-hover:hover:after{
    content: "\f1f8";
    position: absolute;
    bottom: 3px;
    left: 14px;
    font-size: 22px;
    font-family: FontAwesome;
}

.sc-img-hover:after{
    content: "";
}

.rules-display-icon {
    position: absolute;
    top: 7px;
    right: 8px;
}

.rules-display-group{
    position: relative;
}

.row .col-md-12 .custonCkeck-label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 18px;
    color: #333;
    text-transform: none;
    cursor: pointer;
}

.sc-number-input{
    max-width: 130px;
    display: inline-block;
    text-align: right;
    width: 100%;
}

.sc-hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*.sc-trash-icon {
    opacity: 0;
    position: absolute;
    bottom: 13px;
    left: 27px;
    font-size: 22px;
}

.sc-trash-icon:hover {
    opacity:1
}*/