<div class="contentPanel leftFree">
    <div class="contentWrapper">
        <div class="projectBox">
            <div style="font-size: 12px;font-weight: 600;" class="row">
                <div class="col-md-6">

                    <div class="title">Packages</div>

                    <edit-package *ngFor="let package of packages" [package]="package" [features]="features"></edit-package>

                    <button (click)="newPackage()">New Package</button>

                </div>
                <div class="col-md-6">

                    <div class="title">Features</div>
                    <feature-list [features]="features"></feature-list>
                    
                </div>

            </div>
        </div>
    </div>
</div>