<div class="row">
    <div class="col-md-12">
        <input type="text" [(ngModel)]="package.NameLabel" placeholder="NameLabel"/>
        <input type="text" [(ngModel)]="package.DescriptionLabel" placeholder="DescriptionLabel" />
        <input type="text" [(ngModel)]="package.ImageUrl" placeholder="ImageURL" />
        <input type="text" [(ngModel)]="package.Color"  placeholder="Color"/>
        Actice: <input type="checkbox" [(ngModel)]="package.Active" />
        IsPlus: <input type="checkbox" [(ngModel)]="package.IsPlus" />
        <button (click)="save()">Save</button>
        <button (click)="editInfo=!editInfo">Info</button>
        <button (click)="editPrice=!editPrice">Price</button>
        <button (click)="editFeatures=!editFeatures">Features</button>
    </div>
    <div class="col-md-12">
        <edit-info *ngIf="editInfo" [information]="package.Information" (update)="package.Information=$event;save()"></edit-info>
        <edit-price *ngIf="editPrice" [package]="package" (update)="package=$event;save()"></edit-price>
        <feature-select *ngIf="editFeatures" [package]="package" [features]="features" (update)="package=$event;save()"></feature-select>
    </div>
</div>