<div class="contentPanel leftFree">
    <div class="contentWrapper">
        <div class="projectBox">

            <div class="row" *ngIf="summary">
                <div class="col-md-12"><label>Activity Summary</label>
                    <hr style="margin-top:5px;margin-bottom: 10px;">
                </div>

                <div class="col-md-6" style="border-right: 1px solid #ccc; font-size: 12px;">
                    <div class="col-md-4">
                        <label style="font-weight: 700">Organisations : {{summary.TotalOrganisations}}</label><br>
                        <label>Last 30 days: {{summary.OrgsLast30}}</label><br>
                    </div>
                    <div class="col-md-4">
                        <label>Last 14 days: {{summary.OrgsLast14}}</label><br>
                        <label>Last 7 days: {{summary.OrgsLast7}}</label><br>
                    </div>
                    <div class="col-md-4">
                        <label>Yesterday: {{summary.OrgsYesterday}}</label><br>
                        <label>Today: {{summary.OrgsToday}}</label><br>
                    </div>

                </div>
                <div class="col-md-6" style="font-size: 12px">
                    <div class="col-md-4">
                        <label>Users: {{summary.TotalUsers}}</label><br>
                        <label>Last 30 days: {{summary.UsersLast30}}</label><br>
                    </div>
                    <div class="col-md-4">
                        <label>Last 14 days: {{summary.UsersLast14}}</label><br>
                        <label>Last 7 days: {{summary.UsersLast7}}</label><br>
                    </div>
                    <div class="col-md-4">
                        <label>Yesterday: {{summary.UsersYesterday}}</label><br>
                        <label>Today: {{summary.UsersToday}}</label><br>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr style="margin-top:5px;margin-bottom: 5px;">
                </div>
                <div class="col-md-6" style="border-right: 1px solid #ccc; font-size: 12px;">
                    <div class="col-md-4">
                        <label style="font-weight: 700">Org Registrations</label><br>
                        <label>Last 30 days: {{summary.RegOrgsLast30}}</label><br>
                    </div>
                    <div class="col-md-4">
                        <label>Last 14 days: {{summary.RegOrgsLast14}}</label><br>
                        <label>Last 7 days: {{summary.RegOrgsLast7}}</label><br>
                    </div>
                    <div class="col-md-4">
                        <label>Yesterday: {{summary.RegOrgsYesterday}}</label><br>
                        <label>Today: {{summary.RegOrgsToday}}</label><br>
                    </div>

                </div>
                <div class="col-md-6" style="font-size: 12px">
                    <div class="col-md-4">
                        <label>User Registrations</label><br>
                        <label>Last 30 days: {{summary.RegUsersLast30}}</label><br>
                    </div>
                    <div class="col-md-4">
                        <label>Last 14 days: {{summary.RegUsersLast14}}</label><br>
                        <label>Last 7 days: {{summary.RegUsersLast7}}</label><br>
                    </div>
                    <div class="col-md-4">
                        <label>Yesterday: {{summary.RegUsersYesterday}}</label><br>
                        <label>Today: {{summary.RegUsersToday}}</label><br>
                    </div>
                </div>
            </div>

            <hr style="margin-top:5px;margin-bottom: 5px;">

            <label>Recent Activity</label>
            <div style="font-size: 12px;font-weight: 600;">
                <table class="table table-compact">
                    <tr>
                        <td>Date</td>
                        <td>Organisation</td>
                        <td>User</td>
                        <td>Type</td>
                        <td>Document Type</td>
                        <td>Note</td>
                    </tr>
                    <tr *ngFor="let act of activities">
                        <td>{{act.Date | timeonly}}</td>
                        <td>{{act.OrganisationName}}</td>
                        <td>{{ act.UserName }}</td>
                        <td>{{ act.Type }}</td>
                        <td>{{act.ActivityObjectType}}</td>
                        <td>{{ act.Note}}</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>