<div class="customPopup medium systemActive" id="popupMap" (click)="clickToCloseMap($event)">
    <div class="popupBox">
         <a class="close pull-right" (click)="closeMap()"><i class="fa fa-times"></i></a>
        <div id="map" style="width:100%;height:400px;"></div>
    </div>
</div>