<div [class.systemActive]="sideMenuActive" class="leftPanel" scrollTracker (scrollBottom)="onScroll()">
    <div class="leftPanelFilter">
        <!--<div class="form-group">
            <label for="">&nbsp;</label>
            <select id="LeftPanelFilter" (change)="changeFilter(options.value)" class="form-control" [(ngModel)]="selectOption">
                <option *ngFor="let opt of optionsArray" [value]="opt.key">{{opt.value | translate }}</option>                                  
            </select>
        </div>-->
        <div class="leftPanelSearch">
            <input id="LeftPanelSearch" #name type="text" (keyup)="onSearch(name.value)" [(ngModel)]="salesSvc.searchParams.Name" class="form-control" placeholder="{{ 'SEARCH' | translate }}">
        </div>
        <div style="margin-top: 10px">
            <label class="customCheckBox leftFolat" id="custome-check">
                <input type="checkbox" id="checkActive" [ngModel]="salesSvc.searchParams.Active" (ngModelChange)="onActiveChange()" class="checker">
                <div class="custonCkeck"></div>
            </label>
            <label for="checkActive" class="sc-checkbox-label">{{ 'SHOWACTIVE' | translate }}</label>
        </div>
        <div>
            <label class="customCheckBox leftFolat" id="custome-check">
                <input type="checkbox" id="checkInactive" [ngModel]="salesSvc.searchParams.Inactive" (ngModelChange)="onInactiveChange()" class="checker">
                <div class="custonCkeck"></div>
            </label>
            <label for="checkInactive" class="sc-checkbox-label">{{ 'SHOWINACTIVE' | translate }}</label>
        </div>
    </div>
    <div *ngIf="salesSvc.searchParams.Active">
        <h2>{{'ACTIVESALESCOMPS' | translate}}</h2>
        <ul class="menuItems">    
            <li *ngIf="!activeSalesComps.length">
                <a>{{'NORECORDSFOUND' | translate }}</a>
            </li>
            <li *ngFor="let comp of activeSalesComps">
                <a [routerLink]="['/CRM/SalesCompetition/' + comp.Id]" routerLinkActive="active">{{ comp.Name }}</a>
            </li> 
        </ul>
        <hr>
    </div>
    <div *ngIf="salesSvc.searchParams.Inactive">
        <h2>{{'FINISHEDSALESCOMPS' | translate}}</h2>
        <ul class="menuItems">    
            <li *ngIf="!inactiveSalesComps.length">
                <a>{{'NORECORDSFOUND' | translate }}</a>
            </li>
            <li *ngFor="let comp of inactiveSalesComps">
                <a [routerLink]="['/CRM/SalesCompetition/' + comp.Id]" routerLinkActive="active">{{ comp.Name }}</a>
            </li> 
        </ul>
    </div>
    <div class="mobileSideMenu" (click)="sideMenuActive = true;">
        <ul class="dots">
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<div [class.systemActive]="sideMenuActive" class="popupOverlay" id="SideMenuOverlayLeft" (click)="sideMenuActive = false;">
</div>