<!--<left-panel-sales-comp (search)="onSearch($event)"></left-panel-sales-comp>-->
<div class="mainTitle leftFree">
    <h1>{{ salesCompData ? salesCompData.SalesCompetition.Name : ' ' }}</h1>
</div>

<div class="contentPanel leftFree">
    <div class="container-fluid">
        <div class="projectBox sc-projectBox">
            <div class="row">
                <div class="col-xl-5 col-lg-4 col-md-12 sc-chart-cont">
                    <div #highchartCont>
                        <!--<highchart-multi *ngIf="highchartSvc.options?.length" minHeight="0"></highchart-multi>-->
                    </div>
                    <hr class="sc-hr">
                    <div style="display: table; width: 100%">
                        <div style="display: table-cell">
                            <h3 style="min-height: 30px">{{salesCompData?.SalesCompetition.Description }}</h3>
                        </div>

                        <div style="display: table-cell; text-align: right">
                            <i *ngIf="salesCompData" style="padding-bottom: 10px" (click)="delete()" tooltip="{{'DELETE' | translate}}" class="clickable fa fa-trash"></i>
                        </div>
                    </div>
                    <!-- Disabled for now -->
                    <!--<i *ngIf="salesCompData" style="margin-left: .5em;" (click)="openEdit()" tooltip="{{'EDIT' | translate}}" class="clickable fa fa-pencil pull-right"></i>-->

                    <rules-display *ngFor="let rule of salesCompData?.SalesCompetition.Rules" [compRule]="rule" detailsView="true"></rules-display>
                </div>
                <div class="col-xl-7 col-lg-8 col-md-12" style="border-right: 1px solid #eee;">
                    <div class="">
                        <table class="sc-table">
                            <tr *ngFor="let user of salesCompData?.UserDataList.slice(0, 5); let i = index" style="height: 80px">
                                <td style="width: 50px;">{{'#' + (i + 1)}}</td>
                                <td style="width: 75px;"><img [profilepicture]="user.UserId" style="width: 50px;" /></td>
                                <td>{{user.UserId | username}}</td>
                                <td style="min-width: 90px; text-align: right;"><b>{{user.TotalPoints}} p</b></td>

                                <!-- Removed for now until we know how to do it -->
                                <!--<td style="text-align: center"><i [class]="'fa fa-2x fa-long-arrow-right ' + user.FormCurve"></i></td>-->
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-4 col-md-6 sc-non-leaderboard" *ngFor="let user of salesCompData?.UserDataList.slice(5); let i = index">
                        <span>#{{(i + 6)}}</span>
                        <img [profilepicture]="user.UserId" style="width: 35px; margin-left:5px; margin-right: 5px;" />
                        <span>{{user.UserId | username}}</span>
                        <span style="display: inline-block; margin-left: 20px;">{{user.TotalPoints}} p</span>

                        <!-- Removed for now until we know how to do it -->
                        <!--<i [class]="'fa fa-long-arrow-right ' + user.FormCurve"></i>-->
                    </div>
                </div>
                <!--</div>-->
                <!--<div class="row">-->
            </div>
        </div>
    </div>
</div>
<addedit-sales-comp *ngIf="salesSvc.addEditSalesCompObs() | async"></addedit-sales-comp>