.sc-form-group-left{
    padding-left: 0;
}

.sc-form-group-right{
    padding-right: 0;
}

.rules-display-group{
    padding: 5px 15px;
    padding-right: 25px;
    background-color: #e7fcff;
    position: relative;
    margin-bottom: 10px;
}

.rules-display-icon {
    position: absolute;
    top: 30px;
    right: 8px;
}

.sc-display-img{
    width: 40px;
}

.sc-hr{
    margin-top: 8px;
    margin-bottom: 8px;
}

.sc-projectBox{
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}

.sc-chart-cont{
    float: initial;
}

@media screen and (min-width: 1200px){
    .sc-chart-cont{
        float: right;
    }
}

.sc-table {
    margin-bottom: 10px;
    width: 100%;
    padding-right: 20px;
}

.sc-table td{
    padding: 10px;
    border-bottom: 1px solid #EEE;
}

.sc-non-leaderboard{
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.leftPanelFilter div .sc-checkbox-label{
    margin-top: 0;
    cursor: pointer;
    font-size: 12px;
}

.fa-long-arrow-right{
    font-size: bolder;
    color: black;
}

.fa-long-arrow-right.VeryGood {
   color:#5fc764;
   transform: rotate(-90deg);
}
.fa-long-arrow-right.Good {
   color: turquoise;
   transform: rotate(-45deg);
}
.fa-long-arrow-right.Average {
   color: gray;
}
.fa-long-arrow-right.Bad {
   color: orange;
   transform: rotate(45deg);
}
.fa-long-arrow-right.VeryBad {
   color: red;
   transform: rotate(90deg);
}

.sc-img-cont{
    display: inline-block;
    min-width: 40px;
    margin-right: 2px;
    margin-bottom: 2px;
}

.divider {
    height: 30px;
}

/*.ruleListPopup {
    display: none;
    position: absolute;
    left:0;
    width: 50%;
    background-color: lightblue;
    z-index: 1;
}

td.salesCompType {
    position: relative;
}

td.salesCompType:hover .ruleListPopup {
    display: initial;
}*/