<div class="mainTitle leftFree">
    <h1>{{ 'SALESCOMPETITIONS' | translate }}</h1>
</div>
<div class="contentPanel leftFree">
    <div class="contentWrapper">
        <div class="projectBox clearfix">
            <!-- <div scrollTracker (scrollBottom)="onScroll()"> -->
            <div>
                <h3 class="no-filter-table-header">{{'ACTIVESALESCOMPETITIONS' | translate}}</h3>
                <div class="evo-table gridWrapper" *ngIf="activeSalesComps.length">
                    <table>
                        <thead>
                            <tr>
                                <th>{{'NAME' | translate}}</th>
                                <th>{{'TYPE' | translate}}</th>
                                <th>{{'DATES' | translate}}</th>
                                <th>{{'USERCOUNT' | translate}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let comp of activeSalesComps">
                                <td>
                                    <a (click)="leaderboard(comp.Id)">{{comp.Name}}</a>
                                </td>
                                <td class="salesCompType">{{ "SALESCOMPRULE" + comp.Rules[0].SalesGoalType.toUpperCase() | translate }} <span *ngIf="comp.Rules.length > 1">+ {{ "NUMBEROFMORE" | translate:{count: comp.Rules.length-1} }} </span>
                                    <!--<div class="ruleListPopup">
                                        <div *ngFor="let rule of comp.Rules">
                                            {{ "SALESCOMPRULE" + rule.SalesGoalType.toUpperCase() | translate }}
                                        </div>
                                    </div>-->
                                </td>
                                <td *ngIf="!comp.IsDateOnly">{{comp.StartDate | datetime}} - {{comp.EndDate | datetime}}</td>
                                <td *ngIf="comp.IsDateOnly">{{comp.StartDate | dateonly}} - {{comp.EndDate | dateonly}}</td>
                                <td>{{comp.Participants?.length}}</td>
                                <td>
                                    <a (click)="delete(comp.Id)" class="link icon"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="gridWrapper" *ngIf="!activeSalesComps.length">
                    {{'NOACTIVESALESCOMPETITIONS' | translate}}
                </div>

                <div class="clearfix"></div>
                <div class="divider"></div>

                <h3>{{'INACTIVESALESCOMPETITIONS' | translate}}</h3>
                <div class="evo-table gridWrapper" *ngIf="inactiveSalesComps.length">
                    <table>
                        <thead>
                            <tr>
                                <th>{{'NAME' | translate}}</th>
                                <th>{{'TYPE' | translate}}</th>
                                <th>{{'DATES' | translate}}</th>
                                <th>{{'USERCOUNT' | translate}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let comp of inactiveSalesComps">
                                <td>
                                    <a (click)="leaderboard(comp.Id)">{{comp.Name}}</a>
                                </td>
                                <td class="salesCompType">{{ "SALESCOMPRULE" + comp.Rules[0].SalesGoalType.toUpperCase() | translate }} <span *ngIf="comp.Rules.length > 1">+ {{ "NUMBEROFMORE" | translate:{count: comp.Rules.length-1} }} </span>
                                <td *ngIf="!comp.IsDateOnly">{{comp.StartDate | datetime}} - {{comp.EndDate | datetime}}</td>
                                <td *ngIf="comp.IsDateOnly">{{comp.StartDate | dateonly}} - {{comp.EndDate | dateonly}}</td>
                                <td>{{comp.Participants?.length}}</td>
                                <td>
                                    <a (click)="delete(comp.Id)" class="link icon"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="preloaderWrapper" *ngIf="salesSvc.apiInProgress">
                        <div class="preloader">
                            <div class="cssload-container">
                                <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gridWrapper" *ngIf="!inactiveSalesComps.length">
                    {{'NOINACTIVESALESCOMPETITIONS' | translate}}
                </div>
            </div>
        </div>
    </div>
</div>
<addedit-sales-comp *ngIf="salesSvc.addEditSalesCompObs() | async"></addedit-sales-comp>