<div class="mainTitle leftFree">
    <h1 *ngIf="permissions.isGuest">{{ organisationName }}</h1>
    <h1 *ngIf="!permissions.isGuest">{{ 'DASHBOARD'|translate }}</h1>
</div>

<div *ngIf="!permissions.isGuest" class="contentPanel dashBoard" scrollTracker scrollStart="1000" (scrollBottom)="newsScroll();">
    <div class="container-fluid">
        <div class="row">

            <!--Left Panel-->
            <div class="col-md-8 contentPanelLeft">

                <!--Quick Links-->
                <div class="quick-actions projectBox">
                    <quickaction-links></quickaction-links>
                </div>

                <!--Newsfeed-->
                <div class="newsFeeds projectBox">
                    <div class="evo-filter-container">
                        <form class="form-inline">
                            <div class="form-group">
                                <label>{{ 'DISPLAYING'|translate }}</label>
                                <chosen id="DashboardActivityFilterDropdown" [width]="'200px'" [multiple]="false" [options]="activityArray" [(ngModel)]="Type"
                                    (change)="Type=$event;updateNews();" name="type"></chosen>
                            </div>
                            <div class="form-group">
                                <label>{{ 'BY'|translate }}</label>
                                <chosen id="DashboardUserFilterDropdown" [width]="'200px'" [multiple]="false" [options]="users" [(ngModel)]="UserId" (change)="UserId=$event;updateNews();" name="users"></chosen>
                            </div>
                        </form>
                    </div>
                    <newsfeeds [newsSearch]='selectedNewsType' [scroll]="triggerSroll"></newsfeeds>
                </div>

            </div>

            <!--Right Panel-->
            <div class="col-md-4 rightPanel">

                <!--Insights-->
                <div *ngFor="let insight of insights" class="projectBox" style="min-height: 9em; display: table-cell; text-align: center">

                    <a class="pull-right" (click)="deleteInsight(insight.Id)" tooltip="{{ 'UNPIN' | translate }}"><i class="fa fa-thumb-tack"></i></a>
                    <chart style="display:block" [options]="insight.options"></chart>

                </div>
                <div *ngIf="!insights.length" class="projectBox" style="text-align:center">
                    <div class="title">
                        <span>{{'INSIGHTS' | translate}}</span>
                    </div>
                    <div style="margin-top:2em; margin-bottom:2em" innerHtml="{{ 'INFOPININSIGHTS' | translate }}"></div>
                    <a class="clickable insight" [routerLink]="['/CRM/Insights']">
                        <div>
                            <i class="fa fa-bar-chart fa-2x"></i>
                        </div>
                        <div>
                            {{"INSIGHTS" | translate}}
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="filterController" (click)="toggleFiterbar()"><i class="fa fa-filter"></i></div>
<div class="rightPanelControl" (click)="toggleRightPanel()"></div>
<div class="popupOverlay"></div>

<router-outlet></router-outlet>