<div class="customPopup systemActive" id="add" (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title">
            <span *ngIf="addAcc">{{ ( personAccount ? 'ADDNEWPERSON' : 'ADDNEWCOMPANY' ) | translate }}</span>
            <span *ngIf="editAccount">{{ personAccount ? 'EDITPERSON' : 'EDITCOMPANY' | translate }}</span>
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <form [formGroup]="accountForm">

                <div class="col-md-12">
                    <!-- Account Manager -->
                    <div class="user-select">
                        <img [profilepicture]="_accountsCollection.account.AccountManagerId" (click)="userSelect.open()" tooltip="{{_accountsCollection.account.AccountManagerName}}"
                            placement="left">
                        <div class="bubble-popup contacts" #userSelect arrowPosition="left">
                            <div *ngFor="let user of users">
                                <img *ngIf="user.value != _accountsCollection.account.AccountManagerId" [profilepicture]="user.value" (click)="setManager(user)"
                                    tooltip="{{user.label}}" placement="right">
                            </div>
                            <div *ngIf="!users.length">
                                <span>{{'NOUSERSAVALIBLE' | translate }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-quick-select pull-right">
                        <!-- PriceList -->
                        <div class="align-right right">
                            <label>{{ 'PRICELIST' | translate }} : </label><label class="link" (click)="pricelistSelect.toggleQuickSelectBox()">{{ priceListName }}</label>
                            <quickselect [items]="priceLists" displayProperty="Name" (select)="selectPriceList($event)" #pricelistSelect></quickselect>
                        </div>
                        <!-- AccountType -->
                        <div class="align-right right">
                            <div class="accountLabel" style="display:inline-block" [style.background]="_accountsCollection.account.AccountTypeCollor"></div><label class="link" (click)="accTypeSelect.toggleQuickSelectBox()">{{ _accountsCollection.account.AccountTypeName}}</label>
                            <quickselect [items]="accountTypes" displayProperty="Name" (select)="selectAccountType($event)" #accTypeSelect></quickselect>      
                        </div>
                    </div>

                </div>

                <div class="col-md-12">

                    <div *ngIf="!personAccount" class="form-group">

                        <!-- Name -->
                        <label>{{ 'ACCDISPLAYNAME' | translate }}</label>
                        <input id="EditAccountNameText" type="text" [(ngModel)]="_accountsCollection.account.ShownName" class="form-control" placeholder="{{ 'ACCDISPLAYNAME' | translate }}"
                            formControlName="ShownName" name="ShownName" required>
                        <div [hidden]="accountForm.controls.ShownName.pristine || accountForm.controls.ShownName.valid">{{ 'REQ' | translate }}</div>

                    </div>

                    <div *ngIf="personAccount" class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'FIRSTNAME' | translate }}</label>
                                <input id="EditAccountFirstNameText" type="text" [(ngModel)]="_accountsCollection.account.FirstName" class="form-control"
                                    placeholder="{{ 'FIRSTNAME' | translate }}" formControlName="FirstName" name="FirstName"
                                    required>
                                <div [hidden]="accountForm.controls.FirstName.pristine || accountForm.controls.FirstName.valid">{{ 'REQ' | translate }}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'LASTNAME' | translate }}</label>
                                <input id="EditAccountLastNameText" type="text" [(ngModel)]="_accountsCollection.account.LastName" class="form-control" placeholder="{{ 'LASTNAME' | translate }}"
                                    formControlName="LastName" name="LastName" required>
                                <div [hidden]="accountForm.controls.LastName.pristine || accountForm.controls.LastName.valid">{{ 'REQ' | translate }}</div>
                            </div>
                        </div>
                    </div>

                    <!-- Fullname -->
                    <div *ngIf="!personAccount && showFullName" class="form-group">
                        <label>{{ 'FULLNAME' | translate }}</label>
                        <input id="AddAccountFullNameText" type="text" class="form-control" [(ngModel)]="_accountsCollection.account.FullName" placeholder="{{ 'ACCFULLNAME' | translate }}"
                            formControlName="FullName" name="FullName">
                    </div>
                    <div *ngIf="!personAccount && !showFullName" class="form-group add-text">
                        <a (click)="showFullName=true">+ {{ 'ADDFULLCOMPANYNAME' | translate }}</a>
                    </div>

                    <!-- Website Email Phone Box -->
                    <div class="account-add-box row">
                        <div class="add-item col-md-4" (click)="showWebsite=true" *ngIf="!showWebsite">
                            <div><i class="fa fa-globe fa-x2"></i></div>
                            <div>{{ 'ADDWEBSITE' | translate}}</div>
                        </div>
                        <div class="add-item col-md-4" (click)="showEmail=true" *ngIf="!showEmail">
                            <div><i class="fa fa-envelope fa-x2"></i></div>
                            <div>{{ 'ADDEMAIL' | translate}}</div>
                        </div>
                        <div class="add-item col-md-4" (click)="showPhone=true" *ngIf="!showPhone">
                            <div><i class="fa fa-phone fa-x2"></i></div>
                            <div>{{ 'ADDPHONE' | translate}}</div>
                        </div>
                    </div>

                    <!-- Website -->
                    <div class="form-group" *ngIf="showWebsite">
                        <label>{{ 'WEBSITE' | translate }}</label>
                        <input id="AddAccountWebsiteText" type="text" class="form-control" [(ngModel)]="_accountsCollection.account.Website" placeholder="{{ 'WEBSITE' | translate }}"
                            formControlName="Website" name="Website">
                    </div>

                    <!-- Email -->
                    <div class="form-group" *ngIf="showEmail">
                        <label>{{ 'EMAIL' | translate }}</label>
                        <input id="AddAccountEmailText" type="email" class="form-control" [(ngModel)]="_accountsCollection.account.Email" placeholder="{{ 'EMAIL' | translate }}"
                            formControlName="Email" name="Email">
                        <div [hidden]="accountForm.controls.Email.pristine || accountForm.controls.Email.valid">{{ 'INVALID' | translate }}</div>
                    </div>

                    <!-- Phone -->
                    <div class="form-group" *ngIf="showPhone">
                        <label>{{ 'PHONE' | translate }}</label>
                        <input id="AddAccountPhoneText" type="text" class="form-control" [(ngModel)]="_accountsCollection.account.Phone" placeholder="{{ 'PHONE' | translate }}"
                            formControlName="Phone" name="Phone">
                    </div>

                    <!-- Tags -->
                    <div class="form-group">
                        <label>{{ 'TAGS' | translate }}</label>
                        <tag-edit-text id="AddAccountTags" class="form-control boxify" [clear]="clear" [items]="tags" (itemsChange)="onitemsChange($event)"
                            (textboxChange)="ontextboxChange($event)"></tag-edit-text>
                        <div class="tag-description"><span>{{ 'SEPARATETAGS' | translate }}</span></div>
                    </div>


                    <!-- Parent Company -->
                    <div class="form-group" *ngIf="!personAccount && addParent">
                        <label>{{ !personAccount ? 'PARENTACCOUNT' : 'PARTOFACCOUNT' | translate }}</label>
                        <account-select onlyCompanies="true" [value]="_accountsCollection.account.ParentAccount" [valueLabel]="_accountsCollection.account.ParentAccountName"
                            (selectAccount)="_accountsCollection.account.ParentAccount=$event"></account-select>
                    </div>

                    <div class="row">
                        <!-- VAT -->
                        <div class="col-md-6">
                            <div class="form-group" *ngIf="showCompanyNumber">
                                <label for="Vat">{{ 'VAT' | translate }}</label>
                                <input id="AddAccountVatText" type="text" class="form-control" [(ngModel)]="_accountsCollection.account.Vat" formControlName="Vat"
                                    name="Vat">
                            </div>
                        </div>

                        <!-- Company/Person Number -->
                        <div class="col-md-6">
                            <div class="form-group" *ngIf="showCompanyNumber">
                                <label>{{ (personAccount ? 'PERSONID' : 'ACCCOMPANYID') | translate }}</label>
                                <input id="AddAccountCompanyIdText" type="text" class="form-control" [(ngModel)]="_accountsCollection.account.CompanyNumber"
                                    name="CompanyNumber" formControlName="CompanyNumber">
                            </div>
                        </div>

                    </div>

                    <!-- ReferedBy -->
                    <div class="form-group" *ngIf="showRefered">
                        <label>{{ "REFERREDBY" | translate }}</label>
                        <account-select [value]="_accountsCollection.account.ReferredBy" [valueLabel]="_accountsCollection.account.ReferredByName"
                            (selectAccount)="_accountsCollection.account.ParentAccount=$event"></account-select>
                    </div>

                    <!-- Custom Fiels -->
                    <div evo-require [features]="['CustomFields']" style="margin-bottom:15px;">
                        <div class="row">
                            <div class="col-md-12" *ngFor="let custom of customFields">
                                <div class="contentRow" *ngIf="_accountsCollection.account && _accountsCollection.account.CustomData">
                                    <label>{{custom.Name}}</label>
                                    <input *ngIf="custom.Type == 'Text'" class="form-control" type="text" [value]="_accountsCollection.account.CustomData[custom.Id] || ''"
                                        (input)="setCustom(custom.Id, $event.target.value)" />
                                    <input *ngIf="custom.Type == 'Number'" class="form-control" type="number" [value]="_accountsCollection.account.CustomData[custom.Id] || 0"
                                        (input)="setCustom(custom.Id, $event.target.value)" />
                                    <evo-datepicker *ngIf="custom.Type == 'Date'" [dateOnly]="true" (ngModelChange)="setCustom(custom.Id, $event)" [ngModel]='_accountsCollection.account.CustomData[custom.Id]' [ngModelOptions]="{standalone: true}"></evo-datepicker>
                                    <chosen *ngIf="custom.Type == 'Options'" width="100%" [ngModel]="_accountsCollection.account.CustomData[custom.Id]" (change)="setCustom(custom.Id, $event)"
                                        [stringOptions]="custom.Options" [ngModelOptions]="{standalone: true}"></chosen>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Add-Links -->
                    <div *ngIf="!personAccount && !addParent" class="form-group add-text">
                        <a (click)="addParent=true">+ {{ 'ADDPARENTACCOUNT' | translate }}</a>
                    </div>

                    <div *ngIf="!showCompanyNumber" class="form-group add-text">
                        <a (click)="showCompanyNumber=true">+ {{ 'ADDCOMPANYNYMBER' | translate }}</a>
                    </div>

                    <div *ngIf="!showRefered" class="form-group add-text">
                        <a (click)="showRefered=true">+ {{ 'ADDREFEREE' | translate }}</a>
                    </div>

                </div>

                <!-- Buttons -->
                <div class="col-md-12">
                    <div>
                        <label class="customCheckBox">
                            <input id="GotoNewAccountCheckbox" type="checkbox" [(ngModel)]="takeMeToNewAccount" [ngModelOptions]="{standalone: true}">
                            <div class="custonCkeck"></div>
                        </label>
                        <b> {{'TAKEMETOTHENEWACCOUNT' | translate}}</b>
                    </div>
                    <div class="buttonRow">
                        <input id="AddAccountCreateButton" type="button" [disabled]="!accountForm.valid" class="btn pull-right" (click)="Create()"
                            value="{{ 'CREATEBTN' | translate }}" *ngIf="addAcc" />
                        <input id="AddAccountEditButton" type="button" [disabled]="!accountForm.valid" class="btn pull-right" (click)="Create()"
                            value="{{ 'EDITBTN' | translate }}" *ngIf="editAccount" />
                        <a class="evo-cancel-link pull-right" style="padding-left: 35px;" (click)="back()">{{ 'CANCELBTN' | translate }}</a>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>