.account-add-box{
    margin-bottom: 25px;
}

.account-add-box .add-item{
    cursor: pointer;
    text-align: center;
}

.account-add-box .add-item:hover{
    color: #5fc764;
}

.account-add-box i{
    font-size: 36px;
}

.add-text{
    font-size: 12px;
    margin-top: -15px;
}

.user-select{
    display: inline-block;
}

.user-select img{
    height: 30px;
    width: 30px;
    border-radius: 3px;
    margin-top: 5px;
}
