<div class="row blockContent">

    <div class="title">
        <h4>
            {{'FINANCIALSTATMENT' | translate}}
            <a type="button" class="btn pull-right" *ngIf="account?.FinancialStatements?.length > 0" (click)="showDeclartion()">+</a>
        </h4>
    </div>
    <div id="displayForBigScreen" class="overflow" *ngIf="account?.FinancialStatements.length == 0" style="overflow-y: visible">
        <table id="closureTable">
            <thead>
                <th></th>
                <th style="width: 38px; height: 59px">
                    <a class="links">

                            <i id="newAccount" *ngIf="showArrowLeftAllYears" class="fa fa-arrow-left pull-left goals-pointer" (click)="prevAllYears()"></i>
                        </a>
                </th>
                <th>
                    <h4 style="text-align: center" *ngFor="let firstYear of allYears()">
                        {{firstYear}}
                    </h4>
                </th>
                <th style="width: 38px; height: 59px">
                    <a class="links">
                            <i *ngIf="showArrowRightAllYears" class="fa fa-arrow-right pull-right goals-pointer" (click)="nextAllYears()"></i>
                        </a>
                </th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="form-group" style="text-align: center">
                            {{'EMPLOYEES' | translate}}
                        </div>
                    </td>
                    <td></td>
                    <td style="width: 250px;">
                        <div class="form-group col-sm-12 col-xs-12" style="margin-bottom: 0px;">
                            <input type="text" value="{{'EMPLOYEES' | translate}}" [(ngModel)]="newFnancialStatement.Employee" class="form-control" placeholder="{{'EMPLOYEES' | translate}}"
                                required name="">
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group" style="text-align: center">
                            {{'REVENUE' | translate}}
                        </div>
                    </td>
                    <td></td>
                    <td style="width: 250px;">
                        <div class="form-group col-sm-12" style="margin-bottom: 0px; padding-left: 0px; padding-right: 0px;">
                            <div class="form-group col-sm-6 col-xs-6">
                                <input type="text" value="{{'REVENUE' | translate}}" [(ngModel)]="newFnancialStatement.Revenue" class="form-control" placeholder="{{'REVENUE' | translate}}"
                                    required name="">
                            </div>
                            <div class="form-group col-sm-6 col-xs-6">
                                <!--<chosen id="Currency" [width]="'100%'" [multiple]="false" [options]="currencyOptions" name="Currency" [(ngModel)]="newFnancialStatement.CurrencyName"></chosen>-->
                                <span class="clickable" (click)="quickselect.toggleQuickSelectBox()">{{ newFnancialStatement.CurrencyName }}</span>
                                <quickselect #quickselect [items]="currencyOptions" displayProperty="label" (select)="newFnancialStatement.CurrencyName = $event.label"></quickselect>
                            </div>
                        </div>

                    </td>
                    <td></td>
                    <td>
                        <input [disabled]="!newFnancialStatement.Revenue || !newFnancialStatement.Employee" [class.enabled]="newFnancialStatement.Revenue && newFnancialStatement.Employee"
                            id="registerYear" type="button" class="btn pull-right" (click)="addThisNewYear()" value="{{ 'CREATEBTN' | translate }}"
                        />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="" *ngIf="account?.FinancialStatements.length">

        <table class="table table-compact">
            <thead>
                <th></th>
                <th style="width: 38px; height: 59px">
                    <a class="links">
                             <i *ngIf="ShowArrowLeft==true" class="fa fa-arrow-left pull-left goals-pointer" (click)="prevTwoYears()"></i>
                                 </a>
                </th>
                <th *ngFor="let year of showingYears" style="text-align: center;">
                    <a (click)="showDeclartionOnNumber(year)">
                        <h4 class="link">{{year.Year}}</h4>
                    </a>
                </th>
                <th style="width: 38px; height: 59px">
                    <a class="links">
                        <i *ngIf="ShowArrowRight==true" class="fa fa-arrow-right pull-right goals-pointer" (click)="nextTwoYears()"></i>
                            </a>
                </th>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 200px;">{{'EMPLOYEE' | translate}}</td>
                    <td></td>
                    <td *ngFor="let employee of showingYears" style="width: 160px; height: 45px; text-align: center;">
                        {{employee.Employee | bigNumber}}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td style="width: 200px;">{{'REVENUE' | translate}}</td>
                    <td></td>
                    <td *ngFor="let revenue of showingYears" style="width: 160px; height: 45px; text-align: center;">
                        {{revenue.Revenue | bigNumber }}&nbsp;k{{revenue.CurrencyName}}
                    </td>
                    <td></td>
                </tr>
                <br>

            </tbody>
        </table>
    </div>

    <!--lägger till ett år-->
    <div *ngIf="!editYear && displayAddDeclartion" id="add-Year" class="customPopup" [class.systemActive]="displayAddDeclartion"
        (click)="clickToCloseAdd($event)">
        <div class="popupBox" style="width: 400px">

            <div class="title" *ngIf="!editYear">
                {{ 'ADDNEWYEAR' | translate }}
                <a class="close pull-right" (click)="hideDeclartionOnAdd()"><i class="fa fa-times"></i></a>
            </div>

            <div class="popupContent">
                <form #channelForm="ngForm">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <label>{{ 'YEAR' | translate }}</label>
                                <chosen id="YearDropdown" [width]="'100%'" *ngIf="!editYear" [multiple]="false" [options]="availableYearsOptions" [(ngModel)]="financialStatement.Year"
                                    name="Year"></chosen>
                                <!--<p *ngIf="editYear">{{financialStatement.Year}}<a class="links"><i class="fa fa-trash right icon" (click)="deleteYear()"></i></a></p>-->
                            </div>
                            <div class="form-group">
                                <label>{{ 'EMPLOYEES' | translate }}</label>
                                <input id="EmployeeName" type="text" [(ngModel)]="financialStatement.Employee" class="form-control" name="Employee" placeholder="{{ 'EMPLOYEES' | translate }}" required>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-6" style="padding-left: 0px">
                                        <label>{{ 'REVENUE' | translate }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>{{ 'INK' | translate }}</small></label>
                                        <input id="RevenueName" type="text" [(ngModel)]="financialStatement.Revenue" class="form-control" name="Revenue" placeholder="{{ 'REVENUE' | translate }}" required>
                                    </div>
                                    <div class="form-group col-sm-6" style="padding-right: 0px">
                                        <label>{{ 'CURRENCY' | translate }}</label>
                                        <chosen *ngIf="!editYear" id="Currency" [width]="'100%'" [multiple]="false" [options]="currencyOptions" [(ngModel)]="financialStatement.CurrencyName" name="Currency"></chosen>
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="buttonRow">
                                <input [disabled]="!financialStatement.Revenue || !financialStatement.Employee" [class.enabled]="financialStatement.Revenue && financialStatement.Employee"
                                    id="accountDataCreateButton" type="button" *ngIf="!editYear" class="btn pull-right" (click)="addYear()"
                                    value="{{ 'CREATEBTN' | translate }}" />
                                <input id="accountDataCancelButton" type="button" *ngIf="!editYear" class="btn gray" value="{{ 'CANCELBTN' | translate }}"
                                    (click)="hideDeclartionOnAdd()" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--ifall uppdaterar ett år-->
    <div *ngIf="displayUpdateDeclartion" id="edit-Year" class="customPopup" [class.systemActive]="displayUpdateDeclartion" (click)="clickToClose($event)">
        <div class="popupBox" style="width: 400px">

            <div class="title" *ngIf="editYear">
                {{ 'EDITYEAR' | translate }}
                <a class="close pull-right" (click)="hideDeclartion()"><i class="fa fa-times"></i></a>
            </div>

            <div class="popupContent">
                <form #channelForm="ngForm">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{ 'YEAR' | translate }}</label>
                            <p *ngIf="editYear">{{financialStatement.Year}}<a class="links"><i class="fa fa-trash right icon" (click)="deleteYear()"></i></a></p>
                        </div>
                        <div class="form-group">
                            <label>{{ 'EMPLOYEES' | translate }}</label>
                            <input id="EmployeeName" type="text" [(ngModel)]="updateNewEmployee" class="form-control" name="Employee" placeholder="{{updateNewEmployee}}"
                                required>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group col-sm-6" style="padding-left: 0px">
                                    <label>{{ 'REVENUE' | translate }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>{{ 'INK' | translate }}</small></label>
                                    <input id="RevenueName" type="text" [(ngModel)]="updateNewRevunee" class="form-control" name="Revenue" placeholder="{{updateNewRevunee}}"
                                        required>
                                </div>
                                <div class="form-group col-sm-6" style="padding-right: 0px">
                                    <label>{{ 'CURRENCY' | translate }}</label>
                                    <!--<chosen *ngIf="!editYear" id="Currency" [width]="'100%'" [multiple]="false" [options]="currencyOptions" [(ngModel)]="financialStatement.CurrencyName" name="Currency"></chosen>-->
                                    <chosen *ngIf="editYear" id="Currency" [width]="'100%'" [multiple]="false" [options]="currencyOptions" [(ngModel)]="updateNewCurrency"
                                        name="Currency"></chosen>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="buttonRow">
                            <input id="accountDataUpdateeButton" type="button" class="btn pull-right" (click)="updateYear()" value="{{ 'SAVEBTN' | translate }}"
                            />
                            <input id="accountDataCancelButton" type="button" class="btn gray" value="{{ 'CANCELBTN' | translate }}" (click)="hideDeclartion()"
                            />
                            <!--<input id="accountDataCreateButton" type="button" *ngIf="!editYear" class="btn pull-right" (click)="addYear()" value="{{ 'CREATEBTN' | translate }}" />
                        <input id="accountDataCancelButton" type="button" *ngIf="!editYear" class="btn gray" value="{{ 'CANCELBTN' | translate }}" (click)="hideDeclartionOnAdd()" />                        -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>