<div class="customPopup medium" id="accountdetailspopup" [class.systemActive]="relationData != null" (click)="clickToClose($event)">
    <div class="popupBox">
        <div *ngIf="relationData != null">
            <div class="title">
                <span *ngIf="relationData.Id">
                    {{ relationData.FirstName }} {{ relationData.LastName }}
                </span>
                <span *ngIf="!relationData.Id">
                    {{'ADDCONTACT' | translate}}
                </span>
                <a class="close pull-right" (click)="close()"><i class="fa fa-times"></i></a>
            </div>
            <form #form="ngForm">
                <div class="row">
                    <div class="col-lg-6">

                        <!-- Personal Info -->
                        <div *ngIf="relationData.PersonEmail || relationData.PersonPhone || editperson">
                            <h5>{{ "RELATIONPERSONALINFO" | translate }}</h5>
                        </div>
                        <div class="relationRowContainer" [class.companySelected]="relationData.PersonId == timelineCompany">
                            <div *ngIf="!editperson && (relationData.PersonEmail || relationData.PersonPhone)" class="row clickable relationRow" (click)="!editperson && setTimelineFilter(relationData.PersonId)">
                                <div class="col-lg-2">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="col-lg-10" style="margin-left:-15px;">
                                    <div>
                                        <a *ngIf="relationData.PersonEmail" id="AccountEmail" (click)="modal.showMailModal(relationData.PersonEmail, account, actionGroupId, relationData);close();"
                                            class="link">
                                            <i class="fa fa-fw fa-envelope"></i>&nbsp;{{relationData.PersonEmail}}
                                        </a>
                                        <a class="pull-right" (click)="editperson = true" tooltip="{{ 'EDIT' | translate }}"><i class="fa fa-pencil"></i> </a>
                                    </div>
                                    <div>
                                        <click2call *ngIf="relationData.PersonPhone != ''" [number]="relationData.PersonPhone" [account]="relationData.companyId"
                                            [contact]="relationData.personId" [action]="relationData.actionId" [iconFixedWidth]="true"></click2call>
                                    </div>

                                </div>

                            </div>
                            <!-- Edit contact -->
                            <div *ngIf="editperson" class="row clickable relationRow">
                                <div class="col-lg-2">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="col-lg-10" style="margin-left:-15px;">
                                    <input class="form-control" name="firstname" type="text" placeholder="{{'FIRSTNAME' | translate}}" [(ngModel)]="relationData.FirstName"
                                    />
                                    <input class="form-control" name="lastname" type="text" placeholder="{{'LASTNAME' | translate}}" [(ngModel)]="relationData.LastName"
                                    />
                                    <input class="form-control" name="personemail" type="text" placeholder="{{'EMAIL' | translate}}" [(ngModel)]="relationData.PersonEmail"
                                    />
                                    <input class="form-control" name="personphone" type="text" placeholder="{{'PHONE' | translate}}" [(ngModel)]="relationData.PersonPhone"
                                    />

                                    <div *ngIf="relationData.PersonId" style="margin-bottom:15px;">
                                        <button [disabled]="!form.valid" class="btn pull-right" (click)="saveRelation()">{{ 'SAVE' | translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div>
                            <h5>{{ "RELATEDCOMPANYINFO" | translate }}</h5>
                        </div>

                        <!-- Current Company -->
                        <div class="relationRowContainer" [class.companySelected]="relationData.CompanyId == timelineCompany">
                            <div class="row clickable relationRow" (click)="!editmode && setTimelineFilter(relationData.CompanyId)">
                                <div class="col-md-2">
                                    <i class="fa fa-industry"></i>
                                </div>

                                <div class="col-md-10" style="margin-left:-15px;">
                                    <div>
                                        <div *ngIf="!editmode">
                                            <div>
                                                <a class="link" [routerLink]="['Accounts', relationData.CompanyId]" (click)="closeModal()">{{ relationData.CompanyName }}</a>
                                                <a class="pull-right" (click)="editmode = true" tooltip="{{ 'EDIT' | translate }}"><i class="fa fa-pencil"></i> </a>
                                            </div>
                                            <div class="relationTitle">{{ relationData.Title }}</div>
                                            <div>
                                                <a *ngIf="relationData.Email" id="AccountEmail" (click)="modal.showMailModal(relationData.Email, account, actionGroupId, relationData);close();"
                                                    class="link"><i class="fa fa-fw fa-envelope"></i>&nbsp;{{relationData.Email}}</a></div>
                                            <div>
                                                <click2call *ngIf="relationData.Phone != ''" [number]="relationData.Phone" [account]="relationData.companyId" [contact]="relationData.personId"
                                                    [action]="relationData.actionId" [iconFixedWidth]="true"></click2call>
                                            </div>
                                        </div>

                                        <div *ngIf="editmode">
                                            <div>{{ relationData.CompanyName }}</div>
                                            <input class="form-control" name="title" type="text" placeholder="{{'TITLE' | translate}}" [(ngModel)]="relationData.Title"
                                            />
                                            <input emailValidator class="form-control" name="eMail" placeholder="{{'EMAIL' | translate}}" type="text" [(ngModel)]="relationData.Email"
                                                #email="ngModel" />
                                            <input class="form-control" type="text" name="phone" placeholder="{{'PHONE' | translate}}" [(ngModel)]="relationData.Phone"
                                            />
                                        </div>
                                    </div>

                                    <!--Custom fields  -->
                                    <div *ngFor="let custom of customFields" evo-require [features]="['CustomFields']">
                                        <div class="contentRow">
                                            <label>{{custom.Name}}</label>
                                            <p *ngIf="relationData.CustomData[custom.Id] && !editmode">
                                                {{ custom.Type == "Date" ? (relationData.CustomData[custom.Id] | datetime) : relationData.CustomData[custom.Id] }}</p>
                                            <p *ngIf="!relationData.CustomData[custom.Id] && !editmode"> _ </p>
                                            <input *ngIf="editmode && custom.Type == 'Text'" class="form-control" type="text" [value]="relationData.CustomData[custom.Id] || ''"
                                                (input)="setCustom(custom.Id, $event.target.value)" />
                                            <input *ngIf="editmode && custom.Type == 'Number'" class="form-control" type="number" [value]="relationData.CustomData[custom.Id] || 0"
                                                (input)="setCustom(custom.Id, $event.target.value)" />
                                            <evo-datepicker *ngIf="editmode && custom.Type == 'Date'" [dateOnly]="true" (ngModelChange)="setCustom(custom.Id, $event)" [ngModel]='relationData.CustomData[custom.Id]' [ngModelOptions]="{standalone: true}"></evo-datepicker>
                                            <chosen *ngIf="editmode && custom.Type == 'Options'" width="100%" [ngModel]="relationData.CustomData[custom.Id]" (change)="setCustom(custom.Id, $event)"
                                                [stringOptions]="custom.Options" [ngModelOptions]="{standalone: true}"></chosen>
                                        </div>
                                    </div>
                                    <div *ngIf="editmode" style="margin-bottom:15px;">
                                        <button [disabled]="!form.valid" class="btn pull-right" (click)="saveRelation()">{{ 'SAVE' | translate }}</button>
                                    </div>


                                </div>

                            </div>
                        </div>

                        <!-- Other Companies -->
                        <div *ngIf="personsRelations.length">
                            <h5>{{ "RELATIONOTHERCOMPANIES" | translate }}</h5>
                        </div>

                        <div *ngFor="let rel of personsRelations" class="relationRowContainer" [class.companySelected]="rel.CompanyId == timelineCompany">
                            <div class="row relationRow clickable" (click)="!editmode && setTimelineFilter(rel.CompanyId)">
                                <div class="col-lg-2">
                                    <i class="fa fa-industry"></i>
                                </div>
                                <div class="col-lg-10" style="margin-left:-15px;">
                                    <div>
                                        <div>
                                            <div><a class="link" [routerLink]="['Accounts', rel.CompanyId]" (click)="closeModal()">{{ rel.CompanyName }}</a></div>
                                            <div class="relationTitle">{{ rel.Title }}</div>
                                            <div>
                                                <a *ngIf="rel.Email" id="AccountEmail" (click)="modal.showMailModal(rel.Email, account, actionGroupId, rel);close();" class="link"><i class="fa fa-fw fa-envelope"></i>&nbsp;{{rel.Email}}</a></div>
                                            <div>
                                                <click2call *ngIf="rel.Phone != ''" [number]="rel.Phone" [account]="rel.companyId" [contact]="rel.companyId" [action]="rel.actionId"
                                                    [iconFixedWidth]="true"></click2call>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Custom Fields -->
                                    <div class="row">
                                        <div class="col-lg-12" *ngFor="let custom of customFields" evo-require [features]="['CustomFields']">
                                            <div class="contentRow">
                                                <label>{{custom.Name}}</label>
                                                <p *ngIf="rel.CustomData[custom.Id] && !editmode">
                                                    {{ custom.Type == "Date" ? (rel.CustomData[custom.Id] | datetime) : rel.CustomData[custom.Id] }}</p>
                                                <p *ngIf="!rel.CustomData[custom.Id] && !editmode"> _ </p>
                                                <input *ngIf="editmode && custom.Type == 'Text'" class="form-control" type="text" [value]="rel.CustomData[custom.Id] || ''"
                                                    (input)="setCustom(custom.Id, $event.target.value)" />
                                                <input *ngIf="editmode && custom.Type == 'Number'" class="form-control" type="number" [value]="rel.CustomData[custom.Id] || 0"
                                                    (input)="setCustom(custom.Id, $event.target.value)" />
                                                <evo-datepicker *ngIf="editmode && custom.Type == 'Date'" (ngModelChange)="setCustom(custom.Id, $event)" [dateOnly]="true" [ngModel]='rel.CustomData[custom.Id]' [ngModelOptions]="{standalone: true}"></evo-datepicker>
                                                <chosen *ngIf="editmode && custom.Type == 'Options'" width="100%" [ngModel]="rel.CustomData[custom.Id]" (change)="setCustom(custom.Id, $event)"
                                                    [stringOptions]="custom.Options"></chosen>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Actions -->
                    <div class="col-lg-6">

                        <!-- Planed -->
                        <div *ngIf="displayOpenActions?.length > 0">
                            <h5>{{"PLANNEDACTIONS" | translate }}</h5>
                        </div>
                        <div class="timeline-outer-box">
                            <timeline-action *ngFor="let action of displayOpenActions" hideTimelineInfo="true" hideEdit="true" [action]="action" dateField="StartDate"></timeline-action>
                        </div>
                        <!-- Timeline -->
                        <div *ngIf="displayClosedActions?.length > 0">
                            <h5>{{"TIMELINE" | translate }}</h5>
                        </div>
                        <div class="timeline-outer-box">
                            <div class="timeline-box">
                                <timeline-action *ngFor="let action of displayClosedActions" hideTimelineInfo="true" hideEdit="true" hideConnection="true"
                                    [action]="action" dateField="StartDate"></timeline-action>
                            </div>
                        </div>

                    </div>
                </div>
            </form>

            <div style="margin-top:20px;">
                <!-- <a *ngIf="!editmode && account.IsPerson" class="link" (click)="closeModal()" [routerLink]="['/CRM/Accounts/', relationData.CompanyId]"><i class="fa fa-industry"></i> {{ "GOTOCOMPANY" | translate:{account:relationData.CompanyName} }}</a> -->
                <a *ngIf="account && !editmode && !account.IsPerson" class="link" (click)="closeModal()" [routerLink]="['/CRM/PersonAccounts/', relationData.PersonId]"><i class="fa fa-user"></i> {{ "GOTOPERSON" | translate:{account: relationData.FirstName + " " + relationData.LastName} }}</a>
            </div>
        </div>
    </div>
</div>