<left-panel></left-panel>
<div class="mainTitle">
  <h1>
    <span style="font-size: 20px; margin-right: 10px;">
      <i *ngIf="!_accountCollection.currentAccount.IsPerson" class="fa fa-industry"></i>
      <i *ngIf="_accountCollection.currentAccount.IsPerson" class="fa fa-user"></i>
    </span> 
    {{ _accountCollection.currentAccount.ShownName }}
  </h1>
</div>
<router-outlet></router-outlet>
<div class="rightPanelControl" (click)="toggleRightPanel()"></div>
<div class="popupOverlay"></div>