<div class="row" [hidden]="showEditAccountForm">
    <div class="col-sm-6 col-xs-12">
        <div class="contentRow">
            <label>{{ (!account.IsPerson ? 'ACCDISPLAYNAME' : 'NAME') | translate }}</label>
            <p id="AccountShownName" *ngIf="account && account.ShownName!=''">{{account.ShownName}}</p>
            <p id="AccountShownName" *ngIf="account && account.ShownName ==''"> _ </p>
        </div>

        <div *ngIf="!account.IsPerson" class="contentRow">
            <label>{{ 'FULLNAME' | translate }} </label>
            <p id="AccountFullName" *ngIf="account && account.FullName != ''">{{account.FullName}}</p>
            <p id="AccountFullName" *ngIf="account && account.FullName == ''"> _ </p>
        </div>
        <div class="contentRow">
            <label>{{ 'WEBSITE' | translate }}</label>
            <p id="AccountWebsite"><a *ngIf="account && account.Website != ''" href="{{account.Website | url}}" target="blank">{{account.Website}}</a></p>
            <p id="AccountWebsite" *ngIf="account && account.Website == ''"> _ </p>
        </div>
        <div class="contentRow">
            <label>{{ 'EMAIL' | translate }}</label>
            <div *ngIf="account && account.Email && account.Email != ''" class="click2call">
                <a id="AccountEmail" (click)="modal.showMailModal(account.Email, account)" class="link"><i class="fa fa-envelope"></i>&nbsp;{{account.Email}}</a>
            </div>
            <p id="AccountEmail" *ngIf="(account && account.Email === '') || !account.Email"> _ </p>
        </div>
        <div class="contentRow">
            <label>{{ 'PHONE' | translate }}</label>
            <p id="AccountPhone" *ngIf="account && account.Phone === ''"> _ </p>
            <click2call *ngIf="account && account.Phone != ''" [number]="account.Phone" [account]="account.Id"></click2call>
        </div>
        <div class="contentRow">
            <label>{{ 'PRICELIST' | translate }}</label>
            <p id="AccountPriceList" *ngIf="account && account.PriceList">{{account.PriceList.Name}}</p>
            <p id="AccountPriceList" *ngIf="account && !account.PriceList"> _ </p>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="contentRow">
            <label>{{ 'ACCTYPE' | translate }}</label>
            <p id="AccountType" *ngIf="account && account.AccountTypeName != ''">{{account.AccountTypeName}}</p>
            <p id="AccountType" *ngIf="account.AccountTypeName === ''"> _ </p>
        </div>
        <div class="contentRow">
            <label>{{ 'ACCMAN' | translate }}</label>
            <p id="AccountManager" *ngIf="account && account.AccountManagerName != ''">{{account.AccountManagerName}}</p>
            <p id="AccountManager" *ngIf="account && account.AccountManagerName == ''"> _ </p>
        </div>
        <div class="contentRow" *ngIf="!account.IsPerson">
            <label>{{ (account.IsPerson ? 'PARTOFACCOUNT' : 'PARENTACCOUNT') | translate }}</label>
            <p id="AccountParent" *ngIf="account && account.ParentAccountName != '' && account.ParentAccountName != null ">{{account.ParentAccountName}}</p>
            <p id="AccountParent" *ngIf="account && account.ParentAccountName == ''|| account.ParentAccountName == null"> _ </p>
        </div>

        <div class="contentRow">
            <label>{{ (account.IsPerson ? 'PERSONID' : 'ACCCOMPANYID') | translate }}</label>
            <p id="AccountCompanyId" *ngIf="account && account.CompanyNumber != ''">{{account.CompanyNumber}}</p>
            <p id="AccountCompanyId" *ngIf="account && account.CompanyNumber == ''"> _ </p>
        </div>

        <div class="contentRow">
            <label>{{ 'VATNUMBER' | translate }}</label>
            <p id="AccountVat" *ngIf="account && account.Vat != ''">{{account.Vat}}</p>
            <p id="AccountVat" *ngIf="account && account.Vat == ''"> _ </p>
        </div>

        <div class="contentRow">
            <label>{{ "REFERREDBY" | translate }}</label>
            <p *ngIf="account && account.ReferredBy">{{ account.ReferdByAccountName }}</p>
            <p *ngIf="account && !account.ReferredBy"> _ </p>
        </div>
    </div>
</div>

<div class="row" evo-require [features]="['CustomFields']">
    <div class="col-sm-6 col-xs-12" *ngFor="let custom of customFields">
        <div class="contentRow">
            <label>{{custom.Name}}</label>
            <p *ngIf="account && account.CustomData[custom.Id]">
                {{ custom.Type == "Date" ? (account.CustomData[custom.Id] | datetime) : account.CustomData[custom.Id] }}</p>
            <p *ngIf="account && !account.CustomData[custom.Id]"> _ </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-xs-12">
        <div class="contentRow">
            <label>{{ 'TAGS' | translate }}</label>
            <p id="AccountTags"><span *ngFor="let tag of account.Tags" class="label label-info">{{tag}}</span></p>
            <p id="AccountTags" *ngIf="account.Tags && account.Tags.length<=0"> _ </p>
        </div>
    </div>

    <div class="col-sm-12 col-xs-12">
        <a id="AccountDeleteButton" (click)="delete()" class="btn gray">{{ 'DELETE' | translate }}</a>
        <a id="AccountEditButton" *ngIf="enableEdit" (click)="edit()" class="btn pull-right">{{ 'EDIT' | translate }}</a>
    </div>
</div>