.relationTitle {
    font-size: 12px;
    color: #aaa;
}

.relationRowContainer {
    border: 1px solid rgba(55, 55, 55, 0.0);
    border-radius: 3px;
    padding-left: 10px;
}

.companySelected, .relationRowContainer:hover {
    background-color: rgba(200, 200, 200, 0.1);
    border: 1px solid rgba(55, 55, 55, 0.2);
}

.relationRow {
    padding: 10px 0;
}
