
<div class="contentPanel accountsView" scrollTracker scrollStart="1000" (scrollBottom)="newsScroll()">

    <div class="container-fluid">
        <div class="row" *ngIf="account">
            <div class="col-md-8 contentPanelLeft">
                <div class="projectBox ">
                    <tabset class="customTab">

                        <!--News Tab-->
                        <tab id="AccountNewsTab" heading="{{'NEWSFEED' | translate }}">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <div id="binding-container-newsfeed">
                                        <addnotes [account]="account.Id"> </addnotes>

                                        <div class="filterBox clearfix">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <label>{{ 'DISPLAYING' | translate }}</label>
                                                    <chosen id="NewsTypeDropdown" [width]="'100%'" [multiple]="false" [options]="activityArray" [(ngModel)]="Type" (change)="Type=$event;updateNews();"
                                                        [ngModelOptions]="{standalone: true}"></chosen>
                                                </div>
                                                <div class="form-group">
                                                    <label>{{ 'BY' | translate }}</label>
                                                    <chosen id="NewsFeedUserDropdown" [width]="'100%'" [multiple]="false" [options]="users" [(ngModel)]="UserId" (change)="UserId=$event;updateNews();"
                                                        [ngModelOptions]="{standalone: true}"></chosen>
                                                </div>
                                            </form>
                                        </div>

                                        <newsfeeds [newsSearch]='selectedNewsType' [showEdit]="canEdit"></newsfeeds>

                                    </div>
                                </div>
                            </div>
                        </tab>

                        <!--Details Tab-->
                        <tab id="AccountInfoTab" heading="{{'ACCOUNTINFO' | translate }}" class="accountsInfo">

                            <account-info [account]="account" [enableEdit]="true" (editAccount)="showEditAccount=$event" [hidden]="showEditAccount"></account-info>

                            <account-edit [hidden]="!showEditAccount" (showAccount)="showEditAccount=$event"></account-edit>

                            <address-list [account]="account" [enableAddButton]="true" [enableEditButton]="true"></address-list>

                            <account-data [account]="_accountCollection.currentAccount" *ngIf="!account.IsPerson"></account-data>  <!-- && auth.isEvolumi -->

                            <daughter-companies-list [account]="account" *ngIf="!account.IsPerson"></daughter-companies-list>

                            <referred-tree [account]="account" ></referred-tree>

                        </tab>

                        <!--Admin Tab-->
                        <tab *ngIf="auth.isEvolumi && customerSuccess" id="AccountAdminTab" heading="{{'ACCOUNTADMIN' | translate }}" class="accountsInfo">
                            <admin-account-data [account]="_accountCollection.currentAccount"></admin-account-data>
                        </tab>

                    </tabset>
                </div>
            </div>

            <div class="col-md-4 rightPanel">
                <!-- Work group Section Start-->
                <div class="projectBox">
                    <div class="title">
                        <h4>{{ 'WORKGROUPS' | translate }}</h4>
                        <a (click)="addWorkGroup.showAddWorkGroup(false)" class="btn pull-right">+</a>
                    </div>
                    <div class="content">
                        <ul class="iconList" *ngIf="accountWorkGroups.length!=0">
                            <li *ngFor="let workgroup of accountWorkGroups">
                                <i class="fa fa-users left icon"></i>
                                <a (click)="rightPanelChat.showChat(workgroup.id)"> {{workgroup.name}}</a>
                                <a class="icon dlt right " (click)="deleteWorkGroup(workgroup.id)"><i class="fa fa-trash"></i></a>
                            </li>
                        </ul>
                        <span *ngIf="accountWorkGroups.length==0">{{ 'NOWORKGROUPS' | translate }}</span>
                    </div>
                </div>

                <!--Relatives Section-->
                <div class="projectBox" *ngIf="account?.IsPerson">
                    <relativesblock [enableDelete]="true" [account]="account"></relativesblock>
                </div>

                <!--Contact Section-->
                <div class="projectBox" *ngIf="account">
                    <contactblock [enableDelete]="true" [account]="account"></contactblock>
                </div>

                <!--Deals Section -->
                <div class="projectBox">
                    <deals-by-account [enableDelete]="true" [search]="{accountId:account.Id}"></deals-by-account>
                </div>

                <!-- Actions Section -->
                <!--<div class="projectBox">
                    <ActionBlockByAccount [enableDelete]="true" [accountId]="account.Id"></ActionBlockByAccount>
                </div>-->

                <!-- ActionBlock Section -->
                <div class="projectBox">
                    <action-group-block [enableDelete]="true" [accountId]="account.Id"></action-group-block>
                </div>

                <!-- Files Section -->
                <div class="projectBox">
                    <file-box [account]="account"></file-box>
                </div>

                <!-- Documents Section -->
                <div class="projectBox" evo-require [features]="['ESign']" (onFail)="showESignFeature=true">
                    <!--<div class="projectBox" *ngIf="false">-->
                    <document-box [account]="account"></document-box>
                </div>
                
                <div class="projectBox" *ngIf="showESignFeature">
                    <div class="title">
                        <h4>{{ 'DOCUMENTS' | translate }}</h4>
                        <a class="btn pull-right" [featureLink]="'ESign'">+</a>
                    </div>
                    <div class="content">
                        <a [featureLink]="'ESign'">
                            <span class="link">{{'NUDGEESIGNATURES' | translate }}</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<chat *ngIf="account" #rightPanelChat></chat>

<add-work-group #addWorkGroup [accountId]="account?.Id"></add-work-group>
<chat #rightPanelChat></chat>

<router-outlet></router-outlet>