<form #settings="ngForm">
    <div class="myOverview">
        <div class="row">

            <div class="col-sm-8 col-md-8 col-lg-6">

                <div class="title">
                    {{ 'EMAIL' | translate }}
                </div>
                <div class="evo-information">
                    <p class="note">{{'EMAILSETTINGSEXPLAIN1' | translate}}</p>
                    <p class="note">{{'EMAILSETTINGSEXPLAIN2' | translate}}</p>
                    <p class="note">{{'EMAILSETTINGSEXPLAIN3' | translate}}</p>
                </div>
                <div class="form-group">
                    <label>{{ 'SENDER' | translate }}</label>
                    <button type="submit" (click)="validate()" [disabled]="!sender.valid" class="btn custom small pull-right" style="margin-right:0px;" *ngIf="!isValid && !smtpSettings.sendWithSMTP && smtpSettings.sender?.length > 0">{{ 'VALIDATEEMAIL' | translate }}</button>
                    <label *ngIf="!smtpSettings.sendWithSMTP" class="pull-right topnote">{{ isValid ? ('EMAILVALID' | translate) : ('EMAILNOTVALID' | translate ) }}</label>
                    <input type="email" [(ngModel)]="smtpSettings.sender" (keyup)="checkValidity()" name="sender" #sender="ngModel" class="form-control" placeholder="{{ 'SENDER' | translate }}" emailValidator>
                        <div [hidden]="sender.untouched || sender.valid" class="bg-danger">{{'INVALID' | translate }}</div>
                </div>

                <div class="form-group" *ngIf="smtpSettings.sendWithSMTP">
                    <label>{{ 'HOST' | translate }}</label>
                    <input type="text" [(ngModel)]="smtpSettings.host" name="host" #host="ngModel" controlGroupName="host" class="form-control"
                        placeholder="{{ 'HOST' | translate }}">
                        <div [hidden]="host.untouched || host.valid" class="bg-danger">{{'INVALID' | translate }}</div>
                </div>
                <div class="form-group" *ngIf="smtpSettings.sendWithSMTP">
                    <label>{{ 'PORT' | translate }}</label>
                    <input type="number" [(ngModel)]="smtpSettings.port" name="port" #port="ngModel" controlGroupName="port" class="form-control"
                        placeholder="{{ 'PORT' | translate }}">
                        <div [hidden]="port.untouched || port.valid" class="bg-danger">{{'INVALID' | translate }}</div>
                </div>
                <div class="form-group" *ngIf="smtpSettings.sendWithSMTP">
                    <label>{{ 'ENABLESSL' | translate }}</label>
                    <div class="checkbox material">
                        <label style="padding-left: 0px;">
                            <div class="customCheckBox">
                                <input type="checkbox" [(ngModel)]="smtpSettings.enableSSL" name="enableSSL" #enableSSL="ngModel" placeholder="{{ 'ENABLESSL' | translate }}">
                                <div class="custonCkeck"></div>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="form-group" *ngIf="smtpSettings.sendWithSMTP">
                    <label>{{ 'USERNAME' | translate }}</label>
                    <input type="text" [(ngModel)]="smtpSettings.userName" name="userName" #userName="ngModel" controlGroupName="userName" class="form-control"
                        placeholder="{{ 'USERNAME' | translate }}" required>
                        <div [hidden]="userName.untouched || userName.valid" class="bg-danger">{{'INVALID' | translate }}</div>
                </div>
                <div class="form-group" *ngIf="smtpSettings.sendWithSMTP">
                    <label>{{ 'PASSWORD' | translate }}</label>
                    <input type="password" [(ngModel)]="smtpSettings.password" name="password" #password="ngModel" controlGroupName="password"
                        class="form-control" placeholder="{{ 'PASSWORD' | translate }}" required>
                        <div [hidden]="password.untouched || password.valid" class="bg-danger">{{'INVALID' | translate }}</div>
                </div>

                <label>{{ 'SIGNATURE' | translate }}</label>
                <div evo-require [features]="['ESign']" (onFail)="showESignFeature=true" class="form-group">                    
                    <input type="hidden" [(ngModel)]="smtpSettings.signature" #signature="ngModel" name="signature" controlGroupName="signature"
                        class="form-control" placeholder="{{ 'SIGNATURE' | translate }}">
                        <div [hidden]="signature.untouched || signature.valid" class="bg-danger">{{'INVALID' | translate }}</div>
                        <textarea class="redactor" name="content"></textarea>
                </div>
                
                <div *ngIf="showESignFeature" class="form-group">
                    <a [featureLink]="'ESign'">
                        <span class="link">{{'NUDGEEMAILSIGNATURE' | translate}}</span>
                    </a>
                </div>

                <div class="form-group">

                    <label class="margin-top-10 customCheckBox pull-left">
                        <input id="ownSMTPcheckbox" type="checkbox" [(ngModel)]="smtpSettings.sendWithSMTP" [ngModelOptions]="{standalone: true}"/>
                        <div class="custonCkeck"></div>
                    </label>
                    <label class="margin-top-10 pull-left"> {{'USEOWNSMTP' | translate}}</label>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="buttonRow">
                            <button type="submit" (click)="update()" [disabled]="!settings.valid" class="btn pull-right" style="margin-left: 10px;">{{ 'SAVEBTN' | translate }}</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-4 col-md-4 col-lg-6" *ngIf="!smtpSettings.sendWithSMTP">
                <div class="title">
                    {{ 'YOURVALIDEMAILS' | translate }}
                </div>

                <div *ngFor="let email of validEmails" style="margin-bottom:15px;">
                    <a class="list-item link" (click)="smtpSettings.sender=email;checkValidity()">{{email}}</a>
                </div> 
                <div class="evo-notebox " style="max-width:400px;" *ngIf="!isValid && !smtpSettings.sendWithSMTP">
                    <label class="note-title">{{ 'INFORMATION' | translate }}</label>
                    <label class="note-content">{{'EMAILSETTINGSEXPLAIN4' | translate}}</label>
                </div>
            </div>
        </div>

    </div>
</form>