<div class="mainTitle">
    <h1>{{ 'SMTPSETTINGS' | translate }}</h1>
</div>
<div class="panelAction">

</div>
<div class="contentPanel settingsPage">
    <div class="contentWrapper">
        <div class="projectBox clearfix">
            <div *ngIf="loaded">
                <smtp-settings-form [smtpSettings]="smtpSettings" (sendForm)="update($event);"></smtp-settings-form>
                <!--    <input id="UserCancleButton" type="button" class="btn gray" value="{{ 'Test click to email' | translate }}" (click)="click2mail.showModal('lazurik321@gmail.com')" />-->
            </div>
            <div *ngIf="!loaded">
                <img class="loading" src="assets/images/preloader1.gif" />
            </div>
        </div>
    </div>
</div>
<!--<click-2-mail #click2mail> </click-2-mail>-->