<div class="customPopup systemActive small" id="editContact" (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title">
            {{ ( new ? 'ADDRELATIVE': 'EDITRELATIVE') | translate }} <a class="close pull-right" (click)="close()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent" [hidden]="edit" *ngIf="contact">
            <div class="row blockContent">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label >{{ 'FIRSTNAME' | translate }}</label>
                                <p *ngIf="contact.FirstName!=''">{{contact.FirstName}}</p>
                                <p *ngIf="contact.FirstName==''">_</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{ 'LASTNAME' | translate }}</label>
                                <p *ngIf="contact.LastName!=''">{{contact.LastName}}</p>
                                 <p *ngIf="contact.LastName==''"> _ </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{ 'RELATION' | translate }} </label>
                                <p *ngIf="contact.Title!=''">{{contact.Title}}</p>
                                 <p *ngIf="contact.Title==''"> _ </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{ 'ACCOUNT' | translate }} </label>                               
                                <a [routerLink]="['/CRM/Accounts', contact.AccountId]" (click)="close()"> 
                                 <p></p><div class="accountLabel" [style.background]="accountColor"></div>           
                                    <p *ngIf="contact.AccountName!=''">{{contact.AccountName}}</p>                                                         
                                    <p *ngIf="contact.AccountName==''"> _ </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{ 'EMAIL' | translate }}</label>
                                <div *ngIf="contact.Email!=''" class="click2call">
                                    <a id="ContactEmail" (click)="modalService.showMailModal(contact.Email, null,'', contact);cancel()" class="link"><i class="fa fa-envelope"></i>&nbsp;{{contact.Email}}</a>
                                </div>
                                <p *ngIf="contact.Email==''"> _ </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{ 'PHONE' | translate }}</label>
                                <click2call *ngIf="contact.PhoneNumber != ''" [number]="contact.PhoneNumber" [account]="contact.AccountId" [contact]="contact.Id"></click2call>
                                 <p *ngIf="contact.PhoneNumber==''"> _ </p>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>{{ 'NOTE' | translate }}</label>
                                <p *ngIf="contact.Notes!=''">{{contact.Notes}}</p>
                                 <p *ngIf="contact.Notes==''"> _ </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="buttonRow">
                <input id="ContactCancleButton" type="button" class="btn gray" value="{{ 'CANCELBTN' | translate }}" (click)="cancel()" />
                <input id="ContactEditButton" type="button" class="btn pull-right" (click)="edit=true" value="{{ 'EDIT' | translate }}" />
            </div>
        </div>

        <div class="popupContent" [hidden]="!edit">
            <div class="row blockContent">
                <form [formGroup]="contactForm" novalidate>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>{{ 'FIRSTNAME' | translate }}</label>
                                            <input id="ContactFirstName" formControlName="FirstName" type="text" class="form-control" placeholder="{{ 'FIRSTNAME' | translate }}" [(ngModel)]="_contactsCollection.contactData.FirstName" required>
                                            <div [hidden]="contactForm.controls.FirstName.untouched || contactForm.controls.FirstName.valid">{{'REQUIRED' | translate}}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>{{ 'LASTNAME' | translate }}</label>
                                            <input id="ContactLastName" type="text" class="form-control" placeholder="{{ 'LASTNAME' | translate }}" [(ngModel)]="_contactsCollection.contactData.LastName" [ngModelOptions]="{standalone: true}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>{{ 'RELATION' | translate }} </label>
                                            <input name="Title" id="ContactTitle" type="text" formControlName="Title" class="form-control" placeholder="{{ 'TITLE' | translate }}" [(ngModel)]="_contactsCollection.contactData.Title">
                                            <div [hidden]="contactForm.controls.Title.untouched || contactForm.controls.Title.valid">{{'REQUIRED' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>{{ 'EMAIL' | translate }}</label>
                                            <input name="Email" id="ContactEmail" type="text" class="form-control" formControlName="Email" placeholder="{{ 'EMAIL' | translate }}" [(ngModel)]="_contactsCollection.contactData.Email">
                                            <div [hidden]="contactForm.controls.Email.untouched || contactForm.controls.Email.valid">{{'INVALID' | translate}}</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>{{ 'PHONE' | translate }}</label>
                                            <input id="ContactPhone" type="text" class="form-control" placeholder="{{ 'PHONE' | translate }}" [(ngModel)]="_contactsCollection.contactData.PhoneNumber" [ngModelOptions]="{standalone: true}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>{{ 'NOTE' | translate }}</label>
                                            <textarea id="ContactNote" class="form-control" placeholder="{{ 'NOTE' | translate }}" [(ngModel)]="_contactsCollection.contactData.Notes" [ngModelOptions]="{standalone: true}"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="buttonRow">
                            <input id="ContactEditCancleButton" type="button" class="btn gray" value="{{ 'CANCELBTN' | translate }}" (click)="cancel();_contactsCollection.cancelEditContact();" />
                            <input id="ContactSaveButton" *ngIf="!new && edit" type="submit" (click)="updateContact()" [disabled]="!contactForm.valid" class="btn pull-right" value="{{ 'SAVEBTN' | translate }}" />
                            <input id="ContactSaveButton" *ngIf="new && edit" type="submit" (click)="addContact()" [disabled]="!contactForm.valid" class="btn pull-right" value="{{ 'ADDBTN' | translate }}" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>