<div class="customPopup systemActive" id="add"  (click)="OutClick($event)">
    <div class="popupBox">
        <div class="title" *ngIf="!editAddress">
            {{ 'NEWADDRESS' | translate }}
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <div class="title" *ngIf="editAddress">
            {{ 'EDITADDRESS' | translate}}
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="blockContent">
                <form #addressForm="ngForm">
                    <div class="form-group">
                        <label>{{ 'ADDRESSTYPE' | translate }}</label>
                        <select id="AddressType" class="form-control" [(ngModel)]="_accountCollection.currentAddress.Type" (change)="_accountCollection.currentAddress.Type = Type.value" name="Type" #Type="ngModel">
                           <option  *ngFor="let adTyp of addressTypes" [value]="adTyp">{{adTyp}}</option>
                         </select>
                    </div>
                    <div class="form-group">
                        <label>{{ 'DESCRIPTION' | translate }}</label>
                        <input id="AddressDescription" type="text" [(ngModel)]="_accountCollection.currentAddress.Description" class="form-control" name="Description" #Description="ngModel">
                        <div [hidden]="Description.untouched || Description.valid">{{ 'REQ' | translate }}</div>
                    </div>
                    <div class="form-group">
                        <label>{{ 'STREET' | translate }}</label>
                        <input id="AddressStreet" type="text" [(ngModel)]="_accountCollection.currentAddress.Street" class="form-control" name="Street" #Street="ngModel">
                        <div [hidden]="Street.untouched || Street.valid">{{ 'REQ' | translate }}</div>
                    </div>
                    <div class="form-group">
                        <label>{{ 'POSTALCODE' | translate }}</label>
                        <input id="AddressPostCode" type="text" [(ngModel)]="_accountCollection.currentAddress.PostalCode" class="form-control" name="PostalCode" #PostalCode="ngModel">
                        <div [hidden]="PostalCode.untouched || PostalCode.valid">{{ 'REQ' | translate }}</div>
                    </div>
                    <div class="form-group">
                        <label>{{ 'CITY' | translate }}</label>
                        <input id="AddressCity" type="text" [(ngModel)]="_accountCollection.currentAddress.City" class="form-control" name="City" #City="ngModel">
                        <div [hidden]="City.untouched || City.valid">{{ 'REQ' | translate }}</div>
                    </div>
                    <div class="form-group">
                        <label>{{ 'STATE' | translate }}</label>
                        <input id="AddressState" type="text" [(ngModel)]="_accountCollection.currentAddress.State" class="form-control" name="State" #State="ngModel">
                        <div [hidden]="State.untouched || State.valid">{{ 'REQ' | translate }}</div>
                    </div>
                    <div class="form-group">
                        <label>{{ 'COUNTRY' | translate }}</label>
                        <input id="AddressCountry" type="text" [(ngModel)]="_accountCollection.currentAddress.Country" class="form-control" name="Country" #Country="ngModel">
                        <div [hidden]="Country.untouched || Country.valid">{{ 'REQ' | translate }}</div>
                    </div>
                    <div class="buttonRow">
                        <input id="AddressCancleButton" type="button"  class="btn gray" value="{{ 'CANCELBTN' | translate }}" (click)="back();" />
                        <input id="AddressCreateButton" type="button" *ngIf="!editAddress" class="btn pull-right" (click)="addAddress()" value="{{ 'CREATEBTN' | translate }}" />
                        <input id="AddressSaveButton" type="button" *ngIf="editAddress" class="btn pull-right" (click)="updateAddress()" value="{{ 'SAVEBTN' | translate }}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>