<div class="title">
    <label>{{ title | translate }}</label>
</div>
<div *ngFor="let field of fields" class="row">

    <!--Name-->
    <div class="form-group col-md-4 col-lg-3 col-sm-6 contentRow">
        <label>{{'NAME' | translate }}</label>
        <input class="form-control" type="text" [(ngModel)]="field.Name" />
    </div>

    <!--Type-->
    <div class="form-group col-md-3 col-lg-2 col-sm-6 contentRow">
        <label>{{'FIELDTYPE' | translate }}</label>
        <select class="form-control" [(ngModel)]="field.Type">
            <option *ngFor="let type of fieldTypes" [value]="type.value">{{ type.label | translate }}</option>
        </select>
    </div>

    <!--Options-->
    <div class="form-group col-md-5 col-lg-7 col-sm-12 contentRow" >
        <label *ngIf="field.Type == 'Options'">{{'OPTIONS' | translate }}</label><a class="link pull-right" (click)="delete(field)"><i class="fa fa-trash fa-fw"></i></a>
        <tag-edit-text  *ngIf="field.Type == 'Options'" class="form-control boxify" [items]="field.Options" (itemsChange)="field.Options=$event"></tag-edit-text>
    </div>

    

</div>
<div class="row">
    <div class="col-md-12 buttonWrapperRow">
        <a class="link pull-left" (click)="newField()"><i class="fa fa-plus fa-1"></i>{{ 'ADDFIELD' | translate }}</a>
        <a class="btn pull-right" (click)="saveFields()">{{ 'SAVE' | translate }}</a>
    </div>
</div>