<left-panel #leftpanel></left-panel>

<div class="contentPanel">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="projectBox">
                {{ "CREATECHANNELMESSAGE" | translate }}
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>