﻿<div class="leftPanel">

    <div *ngIf="_orgService.userRole != 'Guest'">
        <h2>
            {{ 'CHANNELS' | translate }}
            <button id="LeftMenuAddChannelButton" class="btn" (click)="showAddChannel();">
                <i class="fa fa-plus"></i>
            </button>
        </h2>
        <ul class="menuItems">
            <li *ngFor="let channel of channels">
                <a (click)="removeOpenLeftPanel()" [routerLink]="['/CRM/Chat/WorkGroups',channel.id]"><i class="fa fa-bullhorn"></i> {{channel.name}}
                    <span *ngIf="channel.newMessages > 0" class="badge right" style="font-size:small">{{channel.newMessages}}</span>
                </a>
            </li>
            <li *ngIf="channels.length == 0">
                <span id="NoChannelsText"> {{ 'NOCHANNELS' | translate }}</span>
            </li>
        </ul>
        <h2>
            {{ 'CHANNELSPRIVATE' | translate }}
            <button id="LeftMenuAddPrivateChannelButton" class="btn" (click)="showAddWorkGroup()">
                <i class="fa fa-plus"></i>
            </button>
        </h2>
        <ul class="menuItems">
            <li *ngFor="let channel of privateChannels">
                <a (click)="removeOpenLeftPanel()" [routerLink]="['/CRM/Chat/WorkGroups',channel.id]">
                    <i class="fa fa-lock"></i> {{channel.name}}
                    <span *ngIf="channel.newMessages > 0" class="badge right" style="font-size:small">{{channel.newMessages}}</span>
                </a>
            </li>
            <li *ngIf="privateChannels.length == 0">
                <span id="NoChannelsText"> {{ 'NOCHANNELS' | translate }}</span>
            </li>
        </ul>
    </div>
    <h2>
        {{ 'WORKGROUPS' | translate }}
    </h2>
    <ul class="menuItems">

        <li *ngFor="let group of workGroups">
            <a (click)="removeOpenLeftPanel()" [routerLink]="['/CRM/Chat/WorkGroups',group.id]">
                <i class="fa fa-users"></i>{{group.name}}
                <span *ngIf="group.newMessages > 0" class="badge right" style="font-size:small">{{group.newMessages}}</span>
            </a>
        </li>
        <li *ngIf="workGroups.length == 0">
            <span id="NoWOrkGroupsText"> {{ 'NOWORKGROUPS' | translate }}</span>
        </li>

    </ul>
    <div class="mobileSideMenu" (click)="openLeftPanel();">
        <ul class="dots">
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
<div class="popupOverlay" id="SideMenuOverlayLeft" (click)="removeOpenLeftPanel();">
</div>

<div id="add-channel" class="customPopup" [class.systemActive]="displayAddChannel">
    <div class="popupBox">
        <div class="title">
            {{ 'ADDNEWCHANNEL' | translate }}
            <a class="close pull-right" (click)="hideAddChannel()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <form #channelForm="ngForm">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>{{ 'NAME' | translate }}</label>
                        <input id="conversationName" type="text" [(ngModel)]="conversationName" class="form-control channelName" #channelName="ngModel"
                            name="channelName" placeholder="{{ 'NAME' | translate }}" required>
                        <div [hidden]="channelName.valid || channelName.untouched">{{ 'REQ' | translate }}</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="buttonRow">
                        <input id="ChannelCancelButton" type="button" class="btn gray" value="{{ 'CANCELBTN' | translate }}" (click)="hideAddChannel()"
                        />
                        <input id="ChannelCreateButton" type="button" [disabled]="!channelForm.valid" class="btn pull-right" (click)="addChannel()"
                            value="{{ 'CREATEBTN' | translate }}" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="add-work-group" class="customPopup" [class.systemActive]="displayAddWorkGroup">
    <div class="popupBox">
        <div class="title">
            {{ 'ADDNEWCHANNEL' | translate }}
            <a class="close pull-right" (click)="hideAddWorkGroup()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <form #workGroupForm="ngForm">
                <div class="col-md-12">
                    <div class="form-group">
                        <input id="WorkgroupName" type="text" [(ngModel)]="conversationName" name="workGroupName" #workGroupName="ngModel" class="form-control workGroupName"
                            placeholder="{{ 'NAME' | translate }}" required/>
                        <div [hidden]="workGroupName.valid || workGroupName.untouched">{{ 'REQ' | translate }}</div>
                    </div>
                </div>
                <tabset class="customTab">
                    <!-- PRIVATE WORK GROUP -->
                    <tab>
                        <ng-template tab-heading>
                            <!--<i class="fa fa-bars fa-1"></i>-->
                            <font>{{ 'PRIVATE' | translate }}</font>
                        </ng-template>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="text-warning">
                                    {{ 'NOTE' | translate }} : {{ 'PRIVATENOTE' | translate }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{ 'ONLYVISIBLETOYOU' | translate }}</label>
                                <chosen id="WorkgroupUsersDropdown" [width]="'100%'" [multiple]="true" [options]="availableUsers" [(ngModel)]="userIds" [ngModelOptions]="{standalone: true}"></chosen>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="buttonRow">
                                <input id="WorkgroupCancleButton" type="button" class="btn gray" value="{{ 'CANCELBTN' | translate }}" (click)="hideAddWorkGroup()"/>
                                <input id="WorkgroupCreateButton" type="button" [disabled]="!workGroupForm.valid" class="btn pull-right" (click)="addPrivateWorkGroup()"
                                    value="{{ 'CREATEBTN' | translate }}" />
                            </div>
                        </div>
                    </tab>
                    <!-- PUBLIC WORK GROUP -->
                    <tab>
                        <ng-template tab-heading>
                            <!-- <i class="fa fa-bars fa-1"></i>-->
                            <font>{{ 'ACCOUNTS' | translate }}</font>
                        </ng-template>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="text-warning">
                                    {{ 'NOTE' | translate }} : {{ 'ACCOUNTNOTE' | translate }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{ 'ADDWORKGROUPTOTHISACCOUNT' | translate }}</label>
                                <account-select [value]="accountId" (selectAccount)="changeAccount($event);"></account-select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{ 'THISUSERSGETNOTIFICATIONS' | translate }}</label>
                                <chosen id="PublicWorkgroupUsersDropdown" [width]="'100%'" [multiple]="true" [options]="availableUsers" [(ngModel)]="userIds"
                                    [ngModelOptions]="{standalone: true}"></chosen>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{ 'INVITETHISCONTACTSASGUEST' | translate }}</label>
                                <chosen id="PublicWorkgroupGuestInviteDropdown" [width]="'100%'" [multiple]="true" [options]="availableGuestsUsers" [(ngModel)]="guestUserIds"
                                    [ngModelOptions]="{standalone: true}"></chosen>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="buttonRow">
                                <input id="PublicWorkgroupCancleButton" type="button" class="btn gray" value="{{ 'CANCELBTN' | translate }}" (click)="hideAddWorkGroup()"/>
                                <input id="PublicWorkgroupCreateButton" type="button" [disabled]="!workGroupForm.valid" class="btn pull-right" (click)="addPublicWorkGroup()" value="{{ 'CREATEBTN' | translate }}" />
                            </div>
                        </div>
                    </tab>
                </tabset>
            </form>
        </div>
    </div>
</div>