<!-- Top content -->
<div class="top-content loginPage">
    <div class="inner-bg ">
        <div class="container">
            <div class="col-lg-6 col-sm-6 col-lg-offset-3 col-sm-offset-3 form-box jumbotron">
                <div class="logo">
                    <img src="assets/images/evolumi_logo.png" alt="Evolumi" />
                </div>
                <div class="form-bottom">
                    <form [formGroup]="resetPass">
                        <div class="form-group">
                            <input id="NewPassword1" formControlName="newPassword" #pass [ngClass]={hasText:pass.value} type="password" class="form-control">
                            <label>{{ 'NEWPWD' | translate }}</label>
                        </div>

                        <div class="form-group">
                            <input id="NewPassword2" formControlName="confPassword" #passC [ngClass]={hasText:passC.value} type="password" class="form-control">
                            <label for="Email">{{ 'CONFIRMPWD' | translate }}</label>
                            <div class="bg-danger" [hidden]="!error">
                                {{'INVALID' | translate}}
                            </div>
                            <div class="newPassValidation">
                                <password-component [password]="pass.value"></password-component>
                            </div>
                        </div>

                        <button (click)="updatePass()" class="btn pull-right" [disabled]="!resetPass.valid">{{ 'SAVEBTN' | translate }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>