<div class="addLists" *ngFor="let adInfo of sponsorsArray ; let i = index">                          
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-4">
      <h4>{{adInfo.Title}}</h4>
      <a class="link">{{adInfo.Link}}</a>
      <p>
        {{adInfo.Description}}
      </p>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-3 links">
      <div class="uploadAd">
        <!--<img src="{{adInfo.AdImage}}">-->
        IMAGE PLACEHOLDER
      </div>
      <div class="row ">
        <div class="col-xs-4">
          <b>{{adInfo.PrevDays}}</b>
          <p>prev</p>
        </div>
        <div class="col-xs-4">
          <b>{{adInfo.PlanedDays}}</b>
          <p>planned</p>
        </div>
        <div class="col-xs-4">
          <b>{{adInfo.LeftDays}}</b>
          <p>left</p>
        </div>
      </div>
    </div>
     <div class="col-sm-4 col-md-4 col-lg-3 choosebtn">
      <button class="btn" *ngIf="agendaInfo.objId" (click) = "reSchedule(agendaInfo.objId,adInfo.Id,agendaInfo.date)">Choose</button>
      <button class="btn" *ngIf="!agendaInfo.objId" (click) = "addSchedule(adInfo.Id,agendaInfo.date)" >Choose</button>
    </div>   
  </div>
</div> 