<div class="addLists" *ngFor="let dateStr of agendaDateList">
  <div class="row" *ngIf="dateStr.objIndex>-1">
    <div class="col-sm-4 col-md-4 col-lg-2 schedulesLeft">
        <p>
          <b>{{stringAsDate(dateStr.date) | date}}</b>
        </p>
        <button class="btn" (click) = "reschedule()" >Override</button>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-4" *ngIf="activeAgendaArray.length > 0">
      <h4>{{activeAgendaArray[dateStr.objIndex].Title}}</h4>
      <a class="link">{{activeAgendaArray[dateStr.objIndex].Link}}</a>
      <p>
        {{activeAgendaArray[dateStr.objIndex].Description}}
      </p>
    </div>
  </div>
  <div class="row"  *ngIf="dateStr.objIndex==-1">
    <div class="col-sm-4 col-md-4 col-lg-2 schedulesLeft">
        <p>
          <b>{{stringAsDate(dateStr.date) | date}}</b>
        </p>
        
    </div>
    <div class="col-sm-8 col-md-8 col-lg-4">
      
      <p>
        No Scheduled sponsor
      </p>
      <button class="btn" (click) = addSchedule(activeAgendaArray[dateStr.objIndex].Id,activeAgendaArray[dateStr.objIndex].Date)>Choose this day</button>
    </div>
  </div> 
</div>