
/* HELPERS */

.full-width{
    width: 100%;
    min-width: 100%;
}

.display-none, .invisible{
    display: none !important;
}

.clickable {
    cursor: pointer;
}

/**/

.large-textbox{
    min-height: 150px;
}

.evo-sub-info{
    font-size: 13px;
    color: #888;
    margin: 0 0 5px 0;
}

.evo-inline-button{
    font-size: 14px;
    margin-left:5px;
    border: 1px solid #999;
    border-radius: 3px;
    background-color: #eee;
}

.evo-inline-button:hover{
    background-color: #ccc;
    color: black;
}

/* WYSYWIG Editor */
.small-redactor .redactor-box .redactor-editor{
    min-height: 60px !important;
    border: 1px solid #ccc !important;
}

.redactor-editor{
    min-height: 100px !important;
    font-family: 'Lato', sans-serif !important;
}

.redactor-box .redactor-editor p {
    font-weight: 300;
    color: #555;
}

.table-cell p {
    margin: 0;
}

/**/

.evo-add-link{
    color: #5fc764;
    display: inline-block;
    cursor: pointer;
}

.evo-add-link:hover{
    color: #333;
}

.evo-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;

    border-radius: 0;
    background: #5fc764;
    padding: 6px 16px;
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
}

.evo-btn:focus, .evo-btn:active, .evo-btn:hover {
    background: #429e47;
    color: #ffffff;
}

.evo-btn:disabled{
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: .65;
}

.evo-btn.small {
    border-radius: 0;
    height: 34px;
    font-size: 12px;
    padding: 6px 10px;
}

.evo-btn.blue {
    background-color: skyblue;
}

.evo-cancel-link{
    font-weight: 500;
    padding-top: 8px;
    padding-right: 20px;
}

.evo-btn-row{
    margin-top: 15px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.evo-btn-row button,
.evo-btn-row a,
.evo-btn-row input{
    float: right;
}

.evo-settings-link{

}

.evo-settings-link .evo-settings-active{
    background-color: #ffffff;
}

.evo-settings-link.locked{
    background-color: #eeeeff;
    color: #5555aa;
}


@media screen and (max-width: 767px) {
    .evo-btn-row {
        background: #eee none repeat scroll 0 0;
        border-top: 1px solid #ccc;
        bottom: 0;
        left: 0;
        padding: 5px;
        position: fixed;
        right: 0;
    }
}

.form-group label,
.customPopup .popupBox .form-group label {
    /*font-weight: 500;
    font-size: 12px;
    color: #727272;
    text-transform: uppercase;
    display: block;*/
}

.evo-cb-label,
.customPopup .popupBox .evo-cb-label,
.customPopup .popupBox .form-group .evo-cb-label,
.form-group .evo-cb-label{
    font-weight: 300;
    font-size: 16px;
    color: #333;
    text-transform: none;
    cursor: pointer;
    display: inline-block;
}

.evo-button-row{
    margin-top:-15px;
    padding-left: 0px;
}
.evo-button-box{
    float:left;
    margin-right: 30px;
}

/*CHOSEN POLISH*/
chosen .active-result.highlighted{
    border-radius: 3px;
    margin-right: 5px;
}

chosen .active-result{
    font-weight: 500;
}

.chosen-drop{
    padding-bottom: 5px;
}

.search.choise span{
    font-weight: 500;
}

/*TABLE AND FILTER*/

.evo-table-container{
    background-color: #e7e7e7;
    border: 1px solid #ccc;
    padding: 0 15px 5px 15px;
}

.evo-table{
    background-color: white;
    margin: 0 -15px -5px -15px;
    padding: 0px 20px 5px 20px;
    width: calc(100% + 30px);
    overflow: auto;
}

.evo-filter-container{
    background-color: #f4f4f4;
    margin: 0 -15px -5px -15px;
    padding: 0px 20px 5px 20px;
}

.projectBox .evo-filter-container{
    margin: -20px -20px 10px -20px;
    padding: 15px 15px 15px 15px;
}

@media screen and (max-width: 767px) {

    .evo-filter-container {
        position: fixed;
        bottom: -1px;
        margin: 0px;
        background: rgba(0, 0, 0, 0.8);
        color: #ffffff;
        border-radius: 500px 500px 500px 500px;
        -moz-border-radius: 500px 500px 500px 500px;
        -webkit-border-radius: 500px 500px 500px 500px;
        -o-border-radius: 500px 500px 500px 500px;
        width: 55px;
        height: 55px;
        bottom: 20px;
        right: 20px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        overflow: hidden;
        opacity: 0;
        z-index: 1000;
        left: 20px;
        top: 90%;
        right: 90%;
    }
        .evo-filter-container.visible {
            left: 0px;
            top: 50px;
            right: 0px;
            bottom: -1px;
            -moz-border-radius: 0 0 0 0;
            -webkit-border-radius: 0 0 0 0;
            border-radius: 0 0 0 0;
            overflow: auto;
            opacity: 1;
            width: auto;
            height: auto;
        }

        .filter-box a, .filter-box label{
            color: #ccc;
        }
        .filter-box a:hover, .filter-box label:hover{
            color: #5fc764;
        }
}



.evo-filter-btn{
    display: inline-block;
    background-color: #eee;
    border: 1px solid #ccc;
    color: #bbb;
    padding: 2px 2px 2px 2px;
    font-size: 16px;
    margin-bottom: 8px;
    cursor:not-allowed;
}

.evo-filter-btn.enabled{
    cursor:pointer;
    color: #333;
}

.evo-filter-btn.enabled:hover{
    color: #5fc764;
}

/*IMG*/

.evo-img-hover {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.evo-img-hover:hover img{
    opacity: 0.35;
}

.evo-img-hover:hover:after{
    content: "\f1f8";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-family: FontAwesome;
}

.evo-img-hover:after{
    content: "";
}

.evo-action-label{
    font-size: 15px;
    background-color: rgb(240, 173, 78);
}

/*ClickLabel*/

.evo-click-label{
    cursor: pointer;
    display: inline-block!important;
    padding: 3px 5px 3px 5px;
    border-radius: 3px;
    border: 1px solid #eee;
}

.evo-click-label.active{
    background-color: #a7feab;
    border: 1px solid #ccc;
}

/* Add box like on Account details right panel */

.evo-add-box h4{
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.evo-add-box .headline {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 10px;
}

.evo-add-box ul,
.evo-add-box li {
    padding: 0;
    list-style-type: none;
}

.evo-plus-btn {
    margin-top: 12px;
    padding: 4px 5px;
    line-height: 10px;
    background: #333;
    width: 22px;
    text-align: center;
}

.evo-plus-btn:hover {
    background: #5fc764;
    text-transform: none;
}
/**/

.evo-subtitle{
    font-size: 14px;
    color: #888;
}

/*NoteBox*/

.evo-notebox{
    padding: 10px;
    border: 2px solid #bce8f1;
    background-color: #d9edf7;
    color:#31708f;
}

.evo-notebox label{
    font-weight: 500;
}

.evo-notebox .note-title{
    font-weight:bold!important;
    font-size: 15px!important;
    margin-bottom: 3px!important;
}

.evo-notebox .note-content{
    font-size: 14px;
}

/*Sections*/

.evo-section{
  margin-bottom: 20px;
}

.evo-section-title{
  font-size: 18px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
}

.customTab.tab-container .nav.nav-tabs{
    display: flex;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}
.actionsPage .customTab.tab-container .nav.nav-tabs{
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
}

.button-row{
    margin-top: 20px;
}

.locked .projectBox{
    background-color: #eeeeff;
}

.locked .contentRow{
    background-color: #eeeeff;
}

/* DragAndDrop */

/*.drag-hover-top::before {
    content: 'Drop here';
    text-align: center;
    background-color: orchid;
    height: 25px;
    width: 100%;
    display: block;
}

.drag-hover-bottom::after {
    content: 'Drop here';
    text-align: center;
    background-color: olive;
    height: 25px;
    width: 100%;
    display: block;
}*/

.drag-drop-container{
    background-color: #eee;
    border: solid 1px #CCC;
    text-align: center;
    height: 30px;
}

.drag-placeholder-container{
    background-color: #87ceff;
    min-height: 100px;
    width: 100%;
    margin: auto;
    text-align: center;
    line-height: 100px;
}

.drag-hover-default {
    background: #6ca6cd;
}

/* end DragAndDrop*/

.addLink{
    color: black;
    display: block;
    padding-top: 5px;
    padding-bottom: 0px;
    font-size: 14px;
}

.addLink i{
    display: inline-block;
    width: 15px;
    height: 15px;
    font-size: 10px;
    padding: 2px 3px;
    border-radius: 10px;
}
.addLink:hover i{
    color: black;
}

.addLink:hover{
    text-decoration: none;
    color: #5fc764;
}

.action-status{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-right: 5px;
    padding: 2px;
}
.action-status:hover{
    background-color: #fafafa;
    cursor: pointer
}

.action-status.selected{
    background-color: #eee;
}

.no-filter-table-header{
    margin-top: 0;
}

.form-quick-select{
    font-size: 16px;
    cursor: pointer;
}

.form-quick-select .accountLabel{
    height: 14px;
    margin-top: 6px;
}


.align-right{
    text-align: right;
}

.tag-description{
    text-align: right;
    margin-top:-8px;
}

.tag-description span{
    color: #999;
    font-size: 12px;
}
.timeline-outer-box{
    position: relative;
}

.timeline-box::before {
    content: "";
    width: 115px;
    border-right: 2px solid #666;
    height: calc(100% - 50px);
    top: 20px;
    left:0;
    position: absolute;
    display: inline-block;
    z-index: -1;
}

.quick-select-label{
    display: inline-block;
}

.customPopup.tiny .popupBox {
    width: 300px;
    margin-left: calc(0% - 150px);
}

.close {
    margin-left: 10px;
}