@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,100italic,100,400italic,700,700italic,900,900italic);
/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.4.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 4, ../sass/_fontAwesome.scss */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-2x {
  font-size: 2em;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-3x {
  font-size: 3em;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-4x {
  font-size: 4em;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-5x {
  font-size: 5em;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-ul > li {
  position: relative;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: .14285714em;
  text-align: center;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-li.fa-lg {
  left: -1.85714286em;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-border {
  padding: .2em .25em .15em;
  border: solid .08em #eee;
  border-radius: .1em;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-pull-left {
  float: left;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-pull-right {
  float: right;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa.fa-pull-left {
  margin-right: .3em;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa.fa-pull-right {
  margin-left: .3em;
}

/* line 4, ../sass/_fontAwesome.scss */
.pull-right {
  float: right;
}

/* line 4, ../sass/_fontAwesome.scss */
.pull-left {
  float: left;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa.pull-left {
  margin-right: .3em;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa.pull-right {
  margin-left: .3em;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* line 4, ../sass/_fontAwesome.scss */
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* line 4, ../sass/_fontAwesome.scss */
:root .fa-rotate-90, :root .fa-rotate-180, :root .fa-rotate-270, :root .fa-flip-horizontal, :root .fa-flip-vertical {
  filter: none;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-stack-1x {
  line-height: inherit;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-stack-2x {
  font-size: 2em;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-inverse {
  color: #fff;
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-glass:before {
  content: "\f000";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-music:before {
  content: "\f001";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-search:before {
  content: "\\f002";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-envelope-o:before {
  content: "\f003";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-heart:before {
  content: "\f004";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-star:before {
  content: "\f005";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-star-o:before {
  content: "\f006";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-user:before {
  content: "\f007";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-film:before {
  content: "\f008";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-th-large:before {
  content: "\f009";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-th:before {
  content: "\f00a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-th-list:before {
  content: "\f00b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-check:before {
  content: "\f00c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-remove:before, .fa-close:before, .fa-times:before {
  content: "\f00d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-search-plus:before {
  content: "\f00e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-search-minus:before {
  content: "\f010";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-power-off:before {
  content: "\f011";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-signal:before {
  content: "\f012";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-gear:before, .fa-cog:before {
  content: "\f013";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-trash-o:before {
  content: "\f014";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-home:before {
  content: "\f015";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-file-o:before {
  content: "\f016";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-clock-o:before {
  content: "\f017";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-road:before {
  content: "\f018";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-download:before {
  content: "\f019";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-inbox:before {
  content: "\f01c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-play-circle-o:before {
  content: "\f01d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-rotate-right:before, .fa-repeat:before {
  content: "\f01e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-refresh:before {
  content: "\f021";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-list-alt:before {
  content: "\f022";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-lock:before {
  content: "\f023";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-flag:before {
  content: "\f024";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-headphones:before {
  content: "\f025";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-volume-off:before {
  content: "\f026";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-volume-down:before {
  content: "\f027";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-volume-up:before {
  content: "\f028";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-qrcode:before {
  content: "\f029";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-barcode:before {
  content: "\f02a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-tag:before {
  content: "\f02b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-tags:before {
  content: "\f02c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-book:before {
  content: "\f02d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-bookmark:before {
  content: "\f02e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-print:before {
  content: "\f02f";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-camera:before {
  content: "\f030";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-font:before {
  content: "\f031";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-bold:before {
  content: "\f032";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-italic:before {
  content: "\f033";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-text-height:before {
  content: "\f034";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-text-width:before {
  content: "\f035";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-align-left:before {
  content: "\f036";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-align-center:before {
  content: "\f037";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-align-right:before {
  content: "\f038";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-align-justify:before {
  content: "\f039";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-list:before {
  content: "\f03a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-dedent:before, .fa-outdent:before {
  content: "\f03b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-indent:before {
  content: "\f03c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-video-camera:before {
  content: "\f03d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-photo:before, .fa-image:before, .fa-picture-o:before {
  content: "\f03e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-pencil:before {
  content: "\f040";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-map-marker:before {
  content: "\f041";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-adjust:before {
  content: "\f042";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-tint:before {
  content: "\f043";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-edit:before, .fa-pencil-square-o:before {
  content: "\f044";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-share-square-o:before {
  content: "\f045";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-check-square-o:before {
  content: "\f046";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-arrows:before {
  content: "\f047";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-step-backward:before {
  content: "\f048";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-fast-backward:before {
  content: "\f049";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-backward:before {
  content: "\f04a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-play:before {
  content: "\f04b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-pause:before {
  content: "\f04c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-stop:before {
  content: "\f04d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-forward:before {
  content: "\f04e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-fast-forward:before {
  content: "\f050";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-step-forward:before {
  content: "\f051";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-eject:before {
  content: "\f052";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-chevron-left:before {
  content: "\f053";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-chevron-right:before {
  content: "\f054";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-plus-circle:before {
  content: "\f055";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-minus-circle:before {
  content: "\f056";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-times-circle:before {
  content: "\f057";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-check-circle:before {
  content: "\f058";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-question-circle:before {
  content: "\f059";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-info-circle:before {
  content: "\f05a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-crosshairs:before {
  content: "\f05b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-times-circle-o:before {
  content: "\f05c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-check-circle-o:before {
  content: "\f05d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-ban:before {
  content: "\f05e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-arrow-left:before {
  content: "\f060";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-arrow-right:before {
  content: "\f061";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-arrow-up:before {
  content: "\f062";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-arrow-down:before {
  content: "\f063";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-mail-forward:before, .fa-share:before {
  content: "\f064";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-expand:before {
  content: "\f065";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-compress:before {
  content: "\f066";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-plus:before {
  content: "\f067";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-minus:before {
  content: "\f068";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-asterisk:before {
  content: "\f069";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-exclamation-circle:before {
  content: "\f06a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-gift:before {
  content: "\f06b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-leaf:before {
  content: "\f06c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-fire:before {
  content: "\f06d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-eye:before {
  content: "\f06e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-eye-slash:before {
  content: "\f070";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-warning:before, .fa-exclamation-triangle:before {
  content: "\f071";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-plane:before {
  content: "\f072";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-calendar:before {
  content: "\f073";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-random:before {
  content: "\f074";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-comment:before {
  content: "\f075";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-magnet:before {
  content: "\f076";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-chevron-up:before {
  content: "\f077";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-chevron-down:before {
  content: "\f078";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-retweet:before {
  content: "\f079";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-shopping-cart:before {
  content: "\f07a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-folder:before {
  content: "\f07b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-folder-open:before {
  content: "\f07c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-arrows-v:before {
  content: "\f07d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-arrows-h:before {
  content: "\f07e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-bar-chart-o:before, .fa-bar-chart:before {
  content: "\f080";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-twitter-square:before {
  content: "\f081";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-facebook-square:before {
  content: "\f082";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-camera-retro:before {
  content: "\f083";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-key:before {
  content: "\f084";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-gears:before, .fa-cogs:before {
  content: "\f085";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-comments:before {
  content: "\f086";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-thumbs-o-up:before {
  content: "\f087";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-thumbs-o-down:before {
  content: "\f088";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-star-half:before {
  content: "\f089";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-heart-o:before {
  content: "\f08a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-sign-out:before {
  content: "\f08b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-linkedin-square:before {
  content: "\f08c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-thumb-tack:before {
  content: "\f08d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-external-link:before {
  content: "\f08e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-sign-in:before {
  content: "\f090";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-trophy:before {
  content: "\f091";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-github-square:before {
  content: "\f092";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-upload:before {
  content: "\f093";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-lemon-o:before {
  content: "\f094";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-phone:before {
  content: "\f095";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-square-o:before {
  content: "\f096";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-bookmark-o:before {
  content: "\f097";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-phone-square:before {
  content: "\f098";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-twitter:before {
  content: "\f099";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-facebook-f:before, .fa-facebook:before {
  content: "\f09a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-github:before {
  content: "\f09b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-unlock:before {
  content: "\f09c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-credit-card:before {
  content: "\f09d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-feed:before, .fa-rss:before {
  content: "\f09e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-hdd-o:before {
  content: "\f0a0";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-bullhorn:before {
  content: "\f0a1";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-bell:before {
  content: "\f0f3";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-certificate:before {
  content: "\f0a3";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-hand-o-right:before {
  content: "\f0a4";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-hand-o-left:before {
  content: "\f0a5";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-hand-o-up:before {
  content: "\f0a6";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-hand-o-down:before {
  content: "\f0a7";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-arrow-circle-left:before {
  content: "\f0a8";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-arrow-circle-right:before {
  content: "\f0a9";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-arrow-circle-up:before {
  content: "\f0aa";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-arrow-circle-down:before {
  content: "\f0ab";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-globe:before {
  content: "\f0ac";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-wrench:before {
  content: "\f0ad";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-tasks:before {
  content: "\f0ae";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-filter:before {
  content: "\f0b0";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-briefcase:before {
  content: "\f0b1";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-arrows-alt:before {
  content: "\f0b2";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-group:before, .fa-users:before {
  content: "\f0c0";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-chain:before, .fa-link:before {
  content: "\f0c1";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-cloud:before {
  content: "\f0c2";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-flask:before {
  content: "\f0c3";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-cut:before, .fa-scissors:before {
  content: "\f0c4";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-copy:before, .fa-files-o:before {
  content: "\f0c5";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-paperclip:before {
  content: "\f0c6";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-save:before, .fa-floppy-o:before {
  content: "\f0c7";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-square:before {
  content: "\f0c8";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  content: "\f0c9";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-list-ul:before {
  content: "\f0ca";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-list-ol:before {
  content: "\f0cb";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-strikethrough:before {
  content: "\f0cc";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-underline:before {
  content: "\f0cd";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-table:before {
  content: "\f0ce";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-magic:before {
  content: "\f0d0";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-truck:before {
  content: "\f0d1";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-pinterest:before {
  content: "\f0d2";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-pinterest-square:before {
  content: "\f0d3";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-google-plus-square:before {
  content: "\f0d4";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-google-plus:before {
  content: "\f0d5";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-money:before {
  content: "\f0d6";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-caret-down:before {
  content: "\f0d7";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-caret-up:before {
  content: "\f0d8";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-caret-left:before {
  content: "\f0d9";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-caret-right:before {
  content: "\f0da";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-columns:before {
  content: "\f0db";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-unsorted:before, .fa-sort:before {
  content: "\f0dc";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-sort-down:before, .fa-sort-desc:before {
  content: "\f0dd";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-sort-up:before, .fa-sort-asc:before {
  content: "\f0de";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-envelope:before {
  content: "\f0e0";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-linkedin:before {
  content: "\f0e1";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-rotate-left:before, .fa-undo:before {
  content: "\f0e2";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-legal:before, .fa-gavel:before {
  content: "\f0e3";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-dashboard:before, .fa-tachometer:before {
  content: "\f0e4";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-comment-o:before {
  content: "\f0e5";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-comments-o:before {
  content: "\f0e6";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-flash:before, .fa-bolt:before {
  content: "\f0e7";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-sitemap:before {
  content: "\f0e8";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-umbrella:before {
  content: "\f0e9";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-paste:before, .fa-clipboard:before {
  content: "\f0ea";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-lightbulb-o:before {
  content: "\f0eb";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-exchange:before {
  content: "\f0ec";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-cloud-download:before {
  content: "\f0ed";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-cloud-upload:before {
  content: "\f0ee";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-user-md:before {
  content: "\f0f0";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-stethoscope:before {
  content: "\f0f1";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-suitcase:before {
  content: "\f0f2";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-bell-o:before {
  content: "\f0a2";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-coffee:before {
  content: "\f0f4";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-cutlery:before {
  content: "\f0f5";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-file-text-o:before {
  content: "\f0f6";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-building-o:before {
  content: "\f0f7";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-hospital-o:before {
  content: "\f0f8";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-ambulance:before {
  content: "\f0f9";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-medkit:before {
  content: "\f0fa";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-fighter-jet:before {
  content: "\f0fb";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-beer:before {
  content: "\f0fc";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-h-square:before {
  content: "\f0fd";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-plus-square:before {
  content: "\f0fe";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-angle-double-left:before {
  content: "\f100";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-angle-double-right:before {
  content: "\f101";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-angle-double-up:before {
  content: "\f102";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-angle-double-down:before {
  content: "\f103";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-angle-left:before {
  content: "\f104";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-angle-right:before {
  content: "\f105";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-angle-up:before {
  content: "\f106";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-angle-down:before {
  content: "\f107";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-desktop:before {
  content: "\f108";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-laptop:before {
  content: "\f109";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-tablet:before {
  content: "\f10a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-mobile-phone:before, .fa-mobile:before {
  content: "\f10b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-circle-o:before {
  content: "\f10c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-quote-left:before {
  content: "\f10d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-quote-right:before {
  content: "\f10e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-spinner:before {
  content: "\f110";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-circle:before {
  content: "\f111";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-mail-reply:before, .fa-reply:before {
  content: "\f112";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-github-alt:before {
  content: "\f113";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-folder-o:before {
  content: "\f114";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-folder-open-o:before {
  content: "\f115";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-smile-o:before {
  content: "\f118";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-frown-o:before {
  content: "\f119";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-meh-o:before {
  content: "\f11a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-gamepad:before {
  content: "\f11b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-keyboard-o:before {
  content: "\f11c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-flag-o:before {
  content: "\f11d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-flag-checkered:before {
  content: "\f11e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-terminal:before {
  content: "\f120";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-code:before {
  content: "\f121";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-mail-reply-all:before, .fa-reply-all:before {
  content: "\f122";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-star-half-empty:before, .fa-star-half-full:before, .fa-star-half-o:before {
  content: "\f123";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-location-arrow:before {
  content: "\f124";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-crop:before {
  content: "\f125";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-code-fork:before {
  content: "\f126";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-unlink:before, .fa-chain-broken:before {
  content: "\f127";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-question:before {
  content: "\f128";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-info:before {
  content: "\f129";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-exclamation:before {
  content: "\f12a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-superscript:before {
  content: "\f12b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-subscript:before {
  content: "\f12c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-eraser:before {
  content: "\f12d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-puzzle-piece:before {
  content: "\f12e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-microphone:before {
  content: "\f130";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-microphone-slash:before {
  content: "\f131";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-shield:before {
  content: "\f132";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-calendar-o:before {
  content: "\f133";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-fire-extinguisher:before {
  content: "\f134";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-rocket:before {
  content: "\f135";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-maxcdn:before {
  content: "\f136";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-chevron-circle-left:before {
  content: "\f137";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-chevron-circle-right:before {
  content: "\f138";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-chevron-circle-up:before {
  content: "\f139";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-chevron-circle-down:before {
  content: "\f13a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-html5:before {
  content: "\f13b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-css3:before {
  content: "\f13c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-anchor:before {
  content: "\f13d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-unlock-alt:before {
  content: "\f13e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-bullseye:before {
  content: "\f140";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-ellipsis-h:before {
  content: "\f141";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-ellipsis-v:before {
  content: "\f142";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-rss-square:before {
  content: "\f143";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-play-circle:before {
  content: "\f144";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-ticket:before {
  content: "\f145";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-minus-square:before {
  content: "\f146";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-minus-square-o:before {
  content: "\f147";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-level-up:before {
  content: "\f148";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-level-down:before {
  content: "\f149";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-check-square:before {
  content: "\f14a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-pencil-square:before {
  content: "\f14b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-external-link-square:before {
  content: "\f14c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-share-square:before {
  content: "\f14d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-compass:before {
  content: "\f14e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-toggle-down:before, .fa-caret-square-o-down:before {
  content: "\f150";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-toggle-up:before, .fa-caret-square-o-up:before {
  content: "\f151";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-toggle-right:before, .fa-caret-square-o-right:before {
  content: "\f152";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-euro:before, .fa-eur:before {
  content: "\f153";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-gbp:before {
  content: "\f154";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-dollar:before, .fa-usd:before {
  content: "\f155";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-rupee:before, .fa-inr:before {
  content: "\f156";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-cny:before, .fa-rmb:before, .fa-yen:before, .fa-jpy:before {
  content: "\f157";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-ruble:before, .fa-rouble:before, .fa-rub:before {
  content: "\f158";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-won:before, .fa-krw:before {
  content: "\f159";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-bitcoin:before, .fa-btc:before {
  content: "\f15a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-file:before {
  content: "\f15b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-file-text:before {
  content: "\f15c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-sort-alpha-asc:before {
  content: "\f15d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-sort-alpha-desc:before {
  content: "\f15e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-sort-amount-asc:before {
  content: "\f160";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-sort-amount-desc:before {
  content: "\f161";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-sort-numeric-asc:before {
  content: "\f162";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-sort-numeric-desc:before {
  content: "\f163";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-thumbs-up:before {
  content: "\f164";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-thumbs-down:before {
  content: "\f165";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-youtube-square:before {
  content: "\f166";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-youtube:before {
  content: "\f167";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-xing:before {
  content: "\f168";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-xing-square:before {
  content: "\f169";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-youtube-play:before {
  content: "\f16a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-dropbox:before {
  content: "\f16b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-stack-overflow:before {
  content: "\f16c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-instagram:before {
  content: "\f16d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-flickr:before {
  content: "\f16e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-adn:before {
  content: "\f170";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-bitbucket:before {
  content: "\f171";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-bitbucket-square:before {
  content: "\f172";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-tumblr:before {
  content: "\f173";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-tumblr-square:before {
  content: "\f174";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-long-arrow-down:before {
  content: "\f175";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-long-arrow-up:before {
  content: "\f176";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-long-arrow-left:before {
  content: "\f177";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-long-arrow-right:before {
  content: "\f178";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-apple:before {
  content: "\f179";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-windows:before {
  content: "\f17a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-android:before {
  content: "\f17b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-linux:before {
  content: "\f17c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-dribbble:before {
  content: "\f17d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-skype:before {
  content: "\f17e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-foursquare:before {
  content: "\f180";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-trello:before {
  content: "\f181";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-female:before {
  content: "\f182";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-male:before {
  content: "\f183";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-gittip:before, .fa-gratipay:before {
  content: "\f184";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-sun-o:before {
  content: "\f185";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-moon-o:before {
  content: "\f186";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-archive:before {
  content: "\f187";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-bug:before {
  content: "\f188";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-vk:before {
  content: "\f189";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-weibo:before {
  content: "\f18a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-renren:before {
  content: "\f18b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-pagelines:before {
  content: "\f18c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-stack-exchange:before {
  content: "\f18d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-arrow-circle-o-left:before {
  content: "\f190";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-toggle-left:before, .fa-caret-square-o-left:before {
  content: "\f191";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-dot-circle-o:before {
  content: "\f192";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-wheelchair:before {
  content: "\f193";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-vimeo-square:before {
  content: "\f194";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-turkish-lira:before, .fa-try:before {
  content: "\f195";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-plus-square-o:before {
  content: "\f196";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-space-shuttle:before {
  content: "\f197";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-slack:before {
  content: "\f198";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-envelope-square:before {
  content: "\f199";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-wordpress:before {
  content: "\f19a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-openid:before {
  content: "\f19b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-institution:before, .fa-bank:before, .fa-university:before {
  content: "\f19c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-mortar-board:before, .fa-graduation-cap:before {
  content: "\f19d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-yahoo:before {
  content: "\f19e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-google:before {
  content: "\f1a0";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-reddit:before {
  content: "\f1a1";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-reddit-square:before {
  content: "\f1a2";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-stumbleupon-circle:before {
  content: "\f1a3";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-stumbleupon:before {
  content: "\f1a4";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-delicious:before {
  content: "\f1a5";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-digg:before {
  content: "\f1a6";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-pied-piper:before {
  content: "\f1a7";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-pied-piper-alt:before {
  content: "\f1a8";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-drupal:before {
  content: "\f1a9";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-joomla:before {
  content: "\f1aa";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-language:before {
  content: "\f1ab";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-fax:before {
  content: "\f1ac";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-building:before {
  content: "\f1ad";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-child:before {
  content: "\f1ae";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-paw:before {
  content: "\f1b0";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-spoon:before {
  content: "\f1b1";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-cube:before {
  content: "\f1b2";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-cubes:before {
  content: "\f1b3";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-behance:before {
  content: "\f1b4";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-behance-square:before {
  content: "\f1b5";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-steam:before {
  content: "\f1b6";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-steam-square:before {
  content: "\f1b7";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-recycle:before {
  content: "\f1b8";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-automobile:before, .fa-car:before {
  content: "\f1b9";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-cab:before, .fa-taxi:before {
  content: "\f1ba";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-tree:before {
  content: "\f1bb";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-spotify:before {
  content: "\f1bc";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-deviantart:before {
  content: "\f1bd";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-soundcloud:before {
  content: "\f1be";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-database:before {
  content: "\f1c0";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-file-pdf-o:before {
  content: "\f1c1";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-file-word-o:before {
  content: "\f1c2";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-file-excel-o:before {
  content: "\f1c3";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-file-powerpoint-o:before {
  content: "\f1c4";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-file-photo-o:before, .fa-file-picture-o:before, .fa-file-image-o:before {
  content: "\f1c5";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-file-zip-o:before, .fa-file-archive-o:before {
  content: "\f1c6";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-file-sound-o:before, .fa-file-audio-o:before {
  content: "\f1c7";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-file-movie-o:before, .fa-file-video-o:before {
  content: "\f1c8";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-file-code-o:before {
  content: "\f1c9";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-vine:before {
  content: "\f1ca";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-codepen:before {
  content: "\f1cb";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-jsfiddle:before {
  content: "\f1cc";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-life-bouy:before, .fa-life-buoy:before, .fa-life-saver:before, .fa-support:before, .fa-life-ring:before {
  content: "\f1cd";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-circle-o-notch:before {
  content: "\f1ce";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-ra:before, .fa-rebel:before {
  content: "\f1d0";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-ge:before, .fa-empire:before {
  content: "\f1d1";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-git-square:before {
  content: "\f1d2";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-git:before {
  content: "\f1d3";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-y-combinator-square:before, .fa-yc-square:before, .fa-hacker-news:before {
  content: "\f1d4";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-tencent-weibo:before {
  content: "\f1d5";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-qq:before {
  content: "\f1d6";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-wechat:before, .fa-weixin:before {
  content: "\f1d7";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-send:before, .fa-paper-plane:before {
  content: "\f1d8";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-send-o:before, .fa-paper-plane-o:before {
  content: "\f1d9";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-history:before {
  content: "\f1da";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-circle-thin:before {
  content: "\f1db";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-header:before {
  content: "\f1dc";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-paragraph:before {
  content: "\f1dd";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-sliders:before {
  content: "\f1de";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-share-alt:before {
  content: "\f1e0";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-share-alt-square:before {
  content: "\f1e1";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-bomb:before {
  content: "\f1e2";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-soccer-ball-o:before, .fa-futbol-o:before {
  content: "\f1e3";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-tty:before {
  content: "\f1e4";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-binoculars:before {
  content: "\f1e5";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-plug:before {
  content: "\f1e6";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-slideshare:before {
  content: "\f1e7";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-twitch:before {
  content: "\f1e8";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-yelp:before {
  content: "\f1e9";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-newspaper-o:before {
  content: "\f1ea";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-wifi:before {
  content: "\f1eb";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-calculator:before {
  content: "\f1ec";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-paypal:before {
  content: "\f1ed";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-google-wallet:before {
  content: "\f1ee";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-cc-visa:before {
  content: "\f1f0";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-cc-mastercard:before {
  content: "\f1f1";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-cc-discover:before {
  content: "\f1f2";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-cc-amex:before {
  content: "\f1f3";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-cc-paypal:before {
  content: "\f1f4";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-cc-stripe:before {
  content: "\f1f5";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-bell-slash:before {
  content: "\f1f6";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-bell-slash-o:before {
  content: "\f1f7";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-trash:before {
  content: "\f1f8";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-copyright:before {
  content: "\f1f9";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-at:before {
  content: "\f1fa";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-eyedropper:before {
  content: "\f1fb";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-paint-brush:before {
  content: "\f1fc";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-birthday-cake:before {
  content: "\f1fd";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-area-chart:before {
  content: "\f1fe";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-pie-chart:before {
  content: "\f200";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-line-chart:before {
  content: "\f201";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-lastfm:before {
  content: "\f202";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-lastfm-square:before {
  content: "\f203";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-toggle-off:before {
  content: "\f204";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-toggle-on:before {
  content: "\f205";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-bicycle:before {
  content: "\f206";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-bus:before {
  content: "\f207";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-ioxhost:before {
  content: "\f208";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-angellist:before {
  content: "\f209";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-cc:before {
  content: "\f20a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-shekel:before, .fa-sheqel:before, .fa-ils:before {
  content: "\f20b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-meanpath:before {
  content: "\f20c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-buysellads:before {
  content: "\f20d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-connectdevelop:before {
  content: "\f20e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-dashcube:before {
  content: "\f210";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-forumbee:before {
  content: "\f211";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-leanpub:before {
  content: "\f212";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-sellsy:before {
  content: "\f213";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-shirtsinbulk:before {
  content: "\f214";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-simplybuilt:before {
  content: "\f215";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-skyatlas:before {
  content: "\f216";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-cart-plus:before {
  content: "\f217";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-cart-arrow-down:before {
  content: "\f218";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-diamond:before {
  content: "\f219";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-ship:before {
  content: "\f21a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-user-secret:before {
  content: "\f21b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-motorcycle:before {
  content: "\f21c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-street-view:before {
  content: "\f21d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-heartbeat:before {
  content: "\f21e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-venus:before {
  content: "\f221";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-mars:before {
  content: "\f222";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-mercury:before {
  content: "\f223";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-intersex:before, .fa-transgender:before {
  content: "\f224";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-transgender-alt:before {
  content: "\f225";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-venus-double:before {
  content: "\f226";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-mars-double:before {
  content: "\f227";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-venus-mars:before {
  content: "\f228";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-mars-stroke:before {
  content: "\f229";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-mars-stroke-v:before {
  content: "\f22a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-mars-stroke-h:before {
  content: "\f22b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-neuter:before {
  content: "\f22c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-genderless:before {
  content: "\f22d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-facebook-official:before {
  content: "\f230";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-pinterest-p:before {
  content: "\f231";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-whatsapp:before {
  content: "\f232";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-server:before {
  content: "\f233";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-user-plus:before {
  content: "\f234";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-user-times:before {
  content: "\f235";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-hotel:before, .fa-bed:before {
  content: "\f236";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-viacoin:before {
  content: "\f237";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-train:before {
  content: "\f238";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-subway:before {
  content: "\f239";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-medium:before {
  content: "\f23a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-yc:before, .fa-y-combinator:before {
  content: "\f23b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-optin-monster:before {
  content: "\f23c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-opencart:before {
  content: "\f23d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-expeditedssl:before {
  content: "\f23e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-battery-4:before, .fa-battery-full:before {
  content: "\f240";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-battery-3:before, .fa-battery-three-quarters:before {
  content: "\f241";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-battery-2:before, .fa-battery-half:before {
  content: "\f242";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-battery-1:before, .fa-battery-quarter:before {
  content: "\f243";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-battery-0:before, .fa-battery-empty:before {
  content: "\f244";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-mouse-pointer:before {
  content: "\f245";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-i-cursor:before {
  content: "\f246";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-object-group:before {
  content: "\f247";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-object-ungroup:before {
  content: "\f248";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-sticky-note:before {
  content: "\f249";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-sticky-note-o:before {
  content: "\f24a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-cc-jcb:before {
  content: "\f24b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-cc-diners-club:before {
  content: "\f24c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-clone:before {
  content: "\f24d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-balance-scale:before {
  content: "\f24e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-hourglass-o:before {
  content: "\f250";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-hourglass-1:before, .fa-hourglass-start:before {
  content: "\f251";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-hourglass-2:before, .fa-hourglass-half:before {
  content: "\f252";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-hourglass-3:before, .fa-hourglass-end:before {
  content: "\f253";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-hourglass:before {
  content: "\f254";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-hand-grab-o:before, .fa-hand-rock-o:before {
  content: "\f255";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-hand-stop-o:before, .fa-hand-paper-o:before {
  content: "\f256";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-hand-scissors-o:before {
  content: "\f257";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-hand-lizard-o:before {
  content: "\f258";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-hand-spock-o:before {
  content: "\f259";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-hand-pointer-o:before {
  content: "\f25a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-hand-peace-o:before {
  content: "\f25b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-trademark:before {
  content: "\f25c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-registered:before {
  content: "\f25d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-creative-commons:before {
  content: "\f25e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-gg:before {
  content: "\f260";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-gg-circle:before {
  content: "\f261";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-tripadvisor:before {
  content: "\f262";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-odnoklassniki:before {
  content: "\f263";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-odnoklassniki-square:before {
  content: "\f264";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-get-pocket:before {
  content: "\f265";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-wikipedia-w:before {
  content: "\f266";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-safari:before {
  content: "\f267";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-chrome:before {
  content: "\f268";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-firefox:before {
  content: "\f269";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-opera:before {
  content: "\f26a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-internet-explorer:before {
  content: "\f26b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-tv:before, .fa-television:before {
  content: "\f26c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-contao:before {
  content: "\f26d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-500px:before {
  content: "\f26e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-amazon:before {
  content: "\f270";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-calendar-plus-o:before {
  content: "\f271";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-calendar-minus-o:before {
  content: "\f272";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-calendar-times-o:before {
  content: "\f273";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-calendar-check-o:before {
  content: "\f274";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-industry:before {
  content: "\f275";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-map-pin:before {
  content: "\f276";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-map-signs:before {
  content: "\f277";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-map-o:before {
  content: "\f278";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-map:before {
  content: "\f279";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-commenting:before {
  content: "\f27a";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-commenting-o:before {
  content: "\f27b";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-houzz:before {
  content: "\f27c";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-vimeo:before {
  content: "\f27d";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-black-tie:before {
  content: "\f27e";
}

/* line 4, ../sass/_fontAwesome.scss */
.fa-fonticons:before {
  content: "\f280";
}

/* line 2, ../sass/_icons.scss */
.icon {
  display: inline-block;
}
/* line 5, ../sass/_icons.scss */
.icon.lock {
  background: url(/assets/images/sprite.png) no-repeat -373px -17px;
  width: 12px;
  height: 16px;
}

/* line 1, ../sass/_common.scss */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  background: #ffffff;
  background: #b5d0dd;
  background: -moz-linear-gradient(-45deg, #b5d0dd 1%, white 100%);
  background: -webkit-linear-gradient(-45deg, #b5d0dd 1%, white 100%);
  background: linear-gradient(135deg, #b5d0dd 1%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5d0dd', endColorstr='#ffffff',GradientType=1 );
  background-repeat: no-repeat;
  height: 100%;
}

/* line 17, ../sass/_common.scss */
a {
  color: #333333;
}
/* line 20, ../sass/_common.scss */
a:hover {
  color: #5fc764;
}

/* line 26, ../sass/_common.scss */
img {
  max-width: 100%;
}

/* line 30, ../sass/_common.scss */
.header {
  background: #3c3c3c;
}

/* line 34, ../sass/_common.scss */
.projectBox {
  background: #fff;
  box-shadow: 0 0 5px 0 #ccc;
  -moz-box-shadow: 0 0 5px 0 #ccc;
  -webkit-box-shadow: 0 0 5px 0 #ccc;
  -o-box-shadow: 0 0 5px 0 #ccc;
  padding: 10px;
  margin-bottom: 15px;
}

/* line 41, ../sass/_common.scss */
.title {
  border-bottom: 1px solid #eeeeee;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
/* line 47, ../sass/_common.scss */
.title h4 {
  margin: 0;
}

/* line 54, ../sass/_common.scss */
.active {
  z-index: 20001 !important;
}

/* line 57, ../sass/_common.scss */
.popupOverlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
/* line 66, ../sass/_common.scss */
.popupOverlay.active {
  display: block;
  z-index: 20000 !important;
}

/* line 72, ../sass/_common.scss */
.btn {
  background: #5fc764;
  padding: 6px 16px;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  color: #ffffff;
  font-size: 18px;
}
/* line 79, ../sass/_common.scss */
.btn:hover {
  background: #429e47;
  color: #ffffff;
}

/* line 1, ../sass/_header.scss */
.header {
  background: #3c3c3c;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
/* line 9, ../sass/_header.scss */
.header.userDetailsActive, .header.menuActive {
  z-index: 10000;
}
/* line 13, ../sass/_header.scss */
.header .logo {
  padding: 10px 15px 10px 0;
  float: left;
}
/* line 17, ../sass/_header.scss */
.header .logo img {
  height: 41px;
}
@media screen and (max-width: 1023px) {
  /* line 13, ../sass/_header.scss */
  .header .logo {
    padding: 6px 15px 6px 0;
  }
}
@media screen and (max-width: 991px) {
  /* line 13, ../sass/_header.scss */
  .header .logo {
    display: none;
  }
}
/* line 30, ../sass/_header.scss */
.header .mobileMenu {
  background: rgba(255, 255, 255, 0.1);
  float: left;
  font-size: 35px;
  padding: 9px 15px;
  cursor: pointer;
  display: none;
  color: #ffffff;
}
@media screen and (max-width: 991px) {
  /* line 30, ../sass/_header.scss */
  .header .mobileMenu {
    display: block;
    background: none;
    padding: 9px 8px;
    margin-left: -11px;
  }
}
/* line 47, ../sass/_header.scss */
.header .avatar {
  float: right;
  margin-right: -15px;
}
/* line 51, ../sass/_header.scss */
.header .avatar img {
  height: 61px;
}
@media screen and (max-width: 1023px) {
  /* line 51, ../sass/_header.scss */
  .header .avatar img {
    height: 54px;
  }
}

/* line 62, ../sass/_header.scss */
.primaryMenu {
  left: 229px;
  position: fixed;
  top: 0;
}
/* line 67, ../sass/_header.scss */
.primaryMenu a {
  color: #cccccc;
  float: left;
  font-size: 20px;
  height: 61px;
  line-height: 56px;
  min-width: 60px;
  padding: 0 10px;
  text-align: center;
}
/* line 77, ../sass/_header.scss */
.primaryMenu a.active, .primaryMenu a:hover {
  background: #e7e7e7;
  color: #333333;
}
/* line 83, ../sass/_header.scss */
.primaryMenu a.dashBoard {
  font-size: 19px;
}
/* line 87, ../sass/_header.scss */
.primaryMenu a i {
  margin-top: 15px;
}
/* line 91, ../sass/_header.scss */
.primaryMenu a b {
  display: none;
}
/* line 96, ../sass/_header.scss */
.primaryMenu .userDetails {
  position: fixed;
  right: 0px;
  top: 61px;
  width: 200px;
  background: #ffffff;
  box-shadow: 0 0 10px 0 #666666;
  -moz-box-shadow: 0 0 10px 0 #666666;
  -webkit-box-shadow: 0 0 10px 0 #666666;
  -o-box-shadow: 0 0 10px 0 #666666;
  display: none;
}
/* line 105, ../sass/_header.scss */
.primaryMenu .userDetails.active {
  display: block;
}
/* line 109, ../sass/_header.scss */
.primaryMenu .userDetails .title {
  padding: 10px 15px 0;
  font-weight: 700;
  font-size: 15px;
  border: 0px;
  width: 100%;
  float: left;
  position: relative;
}
/* line 118, ../sass/_header.scss */
.primaryMenu .userDetails .title .viewSettings {
  display: none;
}
/* line 122, ../sass/_header.scss */
.primaryMenu .userDetails .title b {
  display: none;
}
/* line 126, ../sass/_header.scss */
.primaryMenu .userDetails .title .icon {
  width: 27px;
  height: 27px;
  margin: 0 10px 0 0;
  border-radius: 5px 0 5px 0;
  -moz-border-radius: 5px 0 5px 0;
  -webkit-border-radius: 5px 0 5px 0;
  -o-border-radius: 5px 0 5px 0;
  overflow: hidden;
  float: left;
}
/* line 137, ../sass/_header.scss */
.primaryMenu .userDetails ul {
  list-style: none;
  margin: 0px;
  padding: 0px 0px 5px 0;
  border-bottom: 1px solid #eeeeee;
  float: left;
  width: 100%;
}
/* line 145, ../sass/_header.scss */
.primaryMenu .userDetails ul li {
  display: block;
}
/* line 148, ../sass/_header.scss */
.primaryMenu .userDetails ul li a {
  display: block;
  float: none;
  text-align: left;
  height: auto;
  line-height: 21px;
  padding: 7px 15px;
  color: #333333;
  font-size: 15px;
  overflow: hidden;
}
/* line 159, ../sass/_header.scss */
.primaryMenu .userDetails ul li a:hover {
  text-decoration: none;
  color: #5fc764;
}
/* line 164, ../sass/_header.scss */
.primaryMenu .userDetails ul li a i {
  margin: 0;
  text-align: center;
  width: 35px;
}
@media screen and (max-width: 1023px) {
  /* line 62, ../sass/_header.scss */
  .primaryMenu {
    left: 200px;
  }
}
@media screen and (max-width: 991px) {
  /* line 62, ../sass/_header.scss */
  .primaryMenu {
    display: block;
    position: fixed;
    bottom: 0px;
    top: 0px;
    left: 0px;
    width: 280px;
    background: #333;
    z-index: 20001;
    overflow: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: All 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translate3d(-300px, 0, 0);
    -moz-transform: translate3d(-300px, 0, 0);
    -o-transform: translate3d(-300px, 0, 0);
    -ms-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
  }
  /* line 194, ../sass/_header.scss */
  .primaryMenu a {
    display: block;
    width: 100%;
    float: left;
    text-align: left;
    padding: 10px 15px;
    height: auto;
    font-size: 15px !important;
  }
  /* line 203, ../sass/_header.scss */
  .primaryMenu a b {
    display: block;
    float: left;
    font-weight: 300;
    line-height: 20px;
    padding: 0 0 0 10px;
  }
  /* line 211, ../sass/_header.scss */
  .primaryMenu a i {
    margin: 3px 0 0;
    float: left;
  }
  /* line 217, ../sass/_header.scss */
  .primaryMenu.active {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  /* line 220, ../sass/_header.scss */
  .primaryMenu.active .userDetails {
    position: static;
    display: block;
    width: 100%;
    background: none;
    color: #ffffff;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    border-bottom: 1px solid #222222;
    float: left;
  }
  /* line 235, ../sass/_header.scss */
  .primaryMenu.active .userDetails .title .icon {
    width: 40px;
    height: 40px;
  }
  /* line 240, ../sass/_header.scss */
  .primaryMenu.active .userDetails .title b {
    display: block;
    font-weight: 300;
    font-size: 13px;
  }
  /* line 246, ../sass/_header.scss */
  .primaryMenu.active .userDetails .title font {
    display: block;
  }
  /* line 250, ../sass/_header.scss */
  .primaryMenu.active .userDetails .title .viewSettings {
    display: block;
    font-size: 26px;
    height: 40px;
    padding-top: 8px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 7px;
    width: 40px;
  }
  /* line 263, ../sass/_header.scss */
  .primaryMenu.active .userDetails ul {
    display: none;
    opacity: 0;
    border-color: #222222;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: All 0.5s ease;
    transition: all 0.5s ease;
  }
  /* line 271, ../sass/_header.scss */
  .primaryMenu.active .userDetails ul li a {
    color: #cccccc;
  }
  /* line 274, ../sass/_header.scss */
  .primaryMenu.active .userDetails ul li a:hover {
    color: #333333;
  }
  /* line 278, ../sass/_header.scss */
  .primaryMenu.active .userDetails ul li a i {
    margin: 3px 0 0 0;
    text-align: left;
    width: 25px;
  }
  /* line 286, ../sass/_header.scss */
  .primaryMenu.active .userDetails ul.active {
    display: block;
    opacity: 1;
  }
}

/* line 296, ../sass/_header.scss */
.searchBox {
  position: fixed;
  right: 62px;
  top: 0;
  z-index: 101;
  height: 61px;
}
/* line 303, ../sass/_header.scss */
.searchBox .searchIcon {
  color: #ffffff;
  font-size: 25px;
  float: right;
  height: 61px;
  padding: 16px 16px;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
/* line 313, ../sass/_header.scss */
.searchBox input {
  border: 0px;
  padding: 5px;
  display: none;
}
/* line 319, ../sass/_header.scss */
.searchBox.active {
  background: #222222;
  height: 61px;
  position: fixed;
  right: 62px;
  top: 0;
  width: 266px;
  z-index: 300;
  box-shadow: 0 0 20px 0 #000000;
  -moz-box-shadow: 0 0 20px 0 #000000;
  -webkit-box-shadow: 0 0 20px 0 #000000;
  -o-box-shadow: 0 0 20px 0 #000000;
}
/* line 329, ../sass/_header.scss */
.searchBox.active input {
  display: block;
  float: right;
  margin: 11px -8px 0 10px;
  width: 208px;
}
/* line 336, ../sass/_header.scss */
.searchBox.active .searchIcon {
  background: #222222;
}
@media screen and (max-width: 1023px) {
  /* line 296, ../sass/_header.scss */
  .searchBox {
    height: 54px;
    right: 54px;
  }
  /* line 345, ../sass/_header.scss */
  .searchBox.active {
    right: 54px;
    height: 54px;
  }
  /* line 349, ../sass/_header.scss */
  .searchBox.active input {
    margin-top: 8px;
  }
  /* line 354, ../sass/_header.scss */
  .searchBox .searchIcon {
    height: 54px;
    padding: 12px 16px;
  }
}
@media screen and (max-width: 991px) {
  /* line 296, ../sass/_header.scss */
  .searchBox {
    right: 0px;
  }
  /* line 363, ../sass/_header.scss */
  .searchBox.active {
    right: 0px;
    z-index: 1100;
  }
  /* line 368, ../sass/_header.scss */
  .searchBox .searchIcon {
    background: none;
    padding: 12px;
  }
}
@media screen and (min-width: 400px) {
  /* line 376, ../sass/_header.scss */
  .searchBox.active {
    width: 370px;
  }
  /* line 379, ../sass/_header.scss */
  .searchBox.active input {
    width: 312px;
  }
}

/* line 407, ../sass/_header.scss */
.rightPanelControl {
  float: right;
  list-style: outside none none;
  margin: 0 -15px 0 0;
  padding: 9px 4px;
  width: 40px;
  corsor: pointer;
}
/* line 415, ../sass/_header.scss */
.rightPanelControl li {
  width: 5px;
  height: 5px;
  background: #ffffff;
  border-radius: 100% 100% 100% 100%;
  -moz-border-radius: 100% 100% 100% 100%;
  -webkit-border-radius: 100% 100% 100% 100%;
  -o-border-radius: 100% 100% 100% 100%;
  margin: 5px 10px;
}

/* line 1, ../sass/_leftPanel.scss */
.leftPanel {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 61px;
  width: 230px;
  background: #f7f7f7;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: All 0.5s ease;
  transition: all 0.5s ease;
  border-right: 1px solid #cccccc;
}
/* line 12, ../sass/_leftPanel.scss */
.leftPanel .mobileSideMenu {
  display: none;
}
@media screen and (max-width: 1023px) {
  /* line 1, ../sass/_leftPanel.scss */
  .leftPanel {
    border-right: 1px solid #ccc;
    top: 54px;
    -webkit-transform: translate3d(-205px, 0, 0);
    -moz-transform: translate3d(-205px, 0, 0);
    -o-transform: translate3d(-205px, 0, 0);
    -ms-transform: translate3d(-205px, 0, 0);
    transform: translate3d(-205px, 0, 0);
    overflow: hidden;
  }
  /* line 22, ../sass/_leftPanel.scss */
  .leftPanel .mobileSideMenu {
    display: block;
    width: 24px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    background: #ffffff;
  }
  /* line 32, ../sass/_leftPanel.scss */
  .leftPanel .mobileSideMenu ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }
  /* line 37, ../sass/_leftPanel.scss */
  .leftPanel .mobileSideMenu ul li {
    width: 10px;
    height: 10px;
    background: #333333;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
    margin: 5px 0;
  }
  /* line 47, ../sass/_leftPanel.scss */
  .leftPanel.active {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 20px 0 #000000;
    -moz-box-shadow: 0 0 20px 0 #000000;
    -webkit-box-shadow: 0 0 20px 0 #000000;
    -o-box-shadow: 0 0 20px 0 #000000;
    overflow: auto;
  }
  /* line 51, ../sass/_leftPanel.scss */
  .leftPanel.active .mobileSideMenu {
    display: none;
  }
}
/* line 57, ../sass/_leftPanel.scss */
.leftPanel .menuItems {
  list-style: none;
  padding: 0;
}
/* line 61, ../sass/_leftPanel.scss */
.leftPanel .menuItems li {
  display: block;
}
/* line 64, ../sass/_leftPanel.scss */
.leftPanel .menuItems li a {
  color: #333333;
  padding: 10px;
  display: block;
  border-bottom: 1px solid #eeeeee;
  font-size: 15px;
  font-weight: 400;
}
/* line 72, ../sass/_leftPanel.scss */
.leftPanel .menuItems li a:hover {
  color: #5fc764;
  text-decoration: none;
}

/* line 1, ../sass/_contentPanel.scss */
.mainTitle {
  border-bottom: 1px solid #ccc;
  box-shadow: 10px 5px 10px 0 #ccc;
  -moz-box-shadow: 10px 5px 10px 0 #ccc;
  -webkit-box-shadow: 10px 5px 10px 0 #ccc;
  -o-box-shadow: 10px 5px 10px 0 #ccc;
  left: 230px;
  margin-bottom: 30px;
  padding: 0 15px 5px;
  position: fixed;
  right: 0;
  top: 62px;
  background: #e7e7e7;
  z-idex: 100;
}
/* line 13, ../sass/_contentPanel.scss */
.mainTitle h1 {
  font-weight: 400;
  padding: 10px 0;
  margin: 0;
  font-size: 30px;
}
@media screen and (max-width: 767px) {
  /* line 13, ../sass/_contentPanel.scss */
  .mainTitle h1 {
    font-size: 22px;
  }
}
@media screen and (max-width: 1023px) {
  /* line 1, ../sass/_contentPanel.scss */
  .mainTitle {
    left: 24px;
    top: 55px;
  }
}
@media screen and (max-width: 991px) {
  /* line 1, ../sass/_contentPanel.scss */
  .mainTitle {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    left: 52px;
    position: relative;
    right: 370px;
    top: 0;
    width: 181px;
    z-index: 1000;
    padding: 0px;
    margin: 0px;
  }
  /* line 45, ../sass/_contentPanel.scss */
  .mainTitle h1 {
    color: #fff;
    font-size: 18px;
    padding: 16px 0;
  }
}

/* line 53, ../sass/_contentPanel.scss */
.contentPanel {
  bottom: 0;
  left: 230px;
  overflow: auto;
  padding: 15px 0;
  position: fixed;
  right: 0;
  top: 121px;
  z-index: 200;
  background: #e7e7e7;
  box-shadow: inset 0 0 5px 0 #ccc;
  -moz-box-shadow: inset 0 0 5px 0 #ccc;
  -webkit-box-shadow: inset 0 0 5px 0 #ccc;
  -o-box-shadow: inset 0 0 5px 0 #ccc;
}
@media screen and (max-width: 1023px) {
  /* line 53, ../sass/_contentPanel.scss */
  .contentPanel {
    left: 24px;
    top: 114px;
  }
}
@media screen and (min-width: 992px) {
  /* line 76, ../sass/_contentPanel.scss */
  .contentPanel.dashBoard .contentPanelLeft {
    padding-right: 0px;
  }
}
@media screen and (max-width: 991px) {
  /* line 53, ../sass/_contentPanel.scss */
  .contentPanel {
    top: 54px;
    padding-top: 15px;
  }
}
/* line 89, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds {
  float: left;
  display: block;
  margin-bottom: 20px;
  padding: 20px 20px 5px;
  width: 100%;
}
/* line 96, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .filterBox {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
  margin-bottom: 20px;
  overflow: hiiden;
}
/* line 102, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .filterBox .form-inline {
  margin: 0px;
}
/* line 105, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .filterBox .form-inline label {
  font-weight: 300;
  padding-right: 10px;
}
/* line 110, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .filterBox .form-inline select {
  margin-right: 10px;
}
/* line 116, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .panel {
  box-shadow: none;
  position: relative;
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  -o-border-radius: 0px 0px 0px 0px;
  margin-bottom: 35px;
  border: 0;
  border-bottom: 1px solid #ddd;
}
/* line 124, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .panel .panel-body {
  padding: 0 15px 12px;
}
/* line 128, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .panel h2 {
  font-size: 18px;
  margin: 0 0 10px 0;
  font-weight: 400;
}
/* line 133, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .panel h2 a {
  font-weight: bold;
  color: #333333;
}
/* line 137, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .panel h2 a:hover {
  color: #5fc764;
}
/* line 143, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .panel p {
  font-size: 15px;
}
/* line 147, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .panel .actionIcon {
  background: #1173cd;
  color: #fff;
  font-size: 25px;
  left: -4px;
  position: absolute;
  top: -4px;
  border-radius: 5px 0px 5px 0px;
  -moz-border-radius: 5px 0px 5px 0px;
  -webkit-border-radius: 5px 0px 5px 0px;
  -o-border-radius: 5px 0px 5px 0px;
  /* @include boxshadow(4px,4px,0,1px,$contentBg)*/
  width: 50px;
  overflow: hidden;
}
/* line 159, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .panel .actionIcon i {
  display: none;
}
/* line 164, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .panel .news {
  float: right;
  width: 100%;
  padding-left: 40px;
}
/* line 170, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .panel .panel-footer {
  overflow: hidden;
  background: none;
  border: 0px;
  padding: 0px;
}
/* line 176, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .panel .panel-footer .actions {
  float: left;
  margin-bottom: -1px;
}
/* line 180, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .panel .panel-footer .actions .elem {
  float: left;
  padding: 0;
  background: #fff;
  border: 1px solid #ccc;
  margin-right: 5px;
  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  overflow: hidden;
}
/* line 189, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .panel .panel-footer .actions .elem a {
  cursor: pointer;
  text-decoration: none;
  background: #eee;
  padding: 0 10px;
  float: left;
  color: #5fc764;
  border-right: 1px solid #ccc;
  background: #fff;
  height: 26px;
  position: relative;
}
/* line 201, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .panel .panel-footer .actions .elem a:after {
  content: "";
  height: 20px;
  right: -20px;
  position: absolute;
  top: 3px;
  width: 20px;
  background: url(/assets/images/sprite.png) no-repeat 0 0;
}
/* line 211, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .panel .panel-footer .actions .elem a:hover {
  background: #333333;
  color: #fff;
}
/* line 215, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .panel .panel-footer .actions .elem a:hover:after {
  background-position: 0 -23px;
}
/* line 224, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .panel .panel-footer .actions .elem.like i {
  margin-top: 4px;
}
/* line 229, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .panel .panel-footer .actions .elem.comment {
  margin: 0px;
}
/* line 232, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .panel .panel-footer .actions .elem.comment i {
  margin-top: 2px;
}
/* line 237, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .panel .panel-footer .actions .elem b {
  font-weight: 300;
  padding: 0 10px;
  background: #eee;
  float: left;
  font-size: 16px;
  height: 26px;
  line-height: 25px;
}
/* line 249, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .panel .panel-footer .actions .elem.comment {
  line-height: 22px;
}
/* line 256, ../sass/_contentPanel.scss */
.contentPanel .newsFeeds .panel .panel-footer .date {
  font-size: 13px;
}

/* line 267, ../sass/_contentPanel.scss */
.rightPanelControl {
  border-radius: 50%;
  bottom: 20px;
  height: 55px;
  position: fixed;
  right: 40px;
  width: 55px;
  z-index: 600;
  border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  -o-border-radius: 50% 50% 50% 50%;
  background: url(/assets/images/sprite.png) no-repeat 13px -45px;
  box-shadow: 0 0 5px 0 #666;
  -moz-box-shadow: 0 0 5px 0 #666;
  -webkit-box-shadow: 0 0 5px 0 #666;
  -o-box-shadow: 0 0 5px 0 #666;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: All 0.5s ease;
  transition: all 0.5s ease;
  background-color: #1173cd;
  border: 5px solid #1173cd;
}
/* line 282, ../sass/_contentPanel.scss */
.rightPanelControl.active {
  background-position: -19px -45px;
}

/* line 3, ../sass/_rightPanel.scss */
.rightPanel .projectBox {
  margin-bottom: 15px;
  float: left;
  width: 100%;
}
@media screen and (max-width: 991px) {
  /* line 1, ../sass/_rightPanel.scss */
  .rightPanel {
    background: #e7e7e7;
    bottom: 0;
    right: -450px;
    overflow: auto;
    padding: 10px;
    position: fixed;
    width: 400px;
    top: 54px;
    box-shadow: 0 0 10px 0 #000000;
    -moz-box-shadow: 0 0 10px 0 #000000;
    -webkit-box-shadow: 0 0 10px 0 #000000;
    -o-box-shadow: 0 0 10px 0 #000000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: All 0.5s ease;
    transition: all 0.5s ease;
  }
  /* line 21, ../sass/_rightPanel.scss */
  .rightPanel.active {
    right: 0px;
  }
}
@media screen and (max-width: 767px) {
  /* line 1, ../sass/_rightPanel.scss */
  .rightPanel {
    width: auto;
    left: 110%;
  }
  /* line 30, ../sass/_rightPanel.scss */
  .rightPanel.active {
    left: 25px;
  }
}

/* line 1, ../sass/_login.scss */
.loginPage {
  color: #455e6a;
  background: url(/assets/images/login-bg.png) no-repeat 0 0/100% auto;
  padding-top: 50px;
}
@media screen and (max-width: 767px) {
  /* line 1, ../sass/_login.scss */
  .loginPage {
    padding-top: 10px;
  }
}
/* line 10, ../sass/_login.scss */
.loginPage a {
  border-color: #455e6a;
}
/* line 15, ../sass/_login.scss */
.loginPage .form-bottom {
  float: left;
  width: 100%;
}
/* line 19, ../sass/_login.scss */
.loginPage .alert-danger {
  display: none;
}
/* line 23, ../sass/_login.scss */
.loginPage .logo {
  text-align: center;
  margin-bottom: 60px;
}
/* line 27, ../sass/_login.scss */
.loginPage .logo img {
  width: 200px;
}
/* line 32, ../sass/_login.scss */
.loginPage .jumbotron {
  background: none;
}
/* line 37, ../sass/_login.scss */
.loginPage .form-group {
  position: relative;
  height: 50px;
  margin-bottom: 25px;
}
/* line 42, ../sass/_login.scss */
.loginPage .form-group label {
  position: absolute;
  top: 0px;
  z-index: 1;
  font-weight: 300;
  font-size: 20px;
  color: #455e6a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: All 0.5s ease;
  transition: all 0.5s ease;
}
@media screen and (max-width: 767px) {
  /* line 42, ../sass/_login.scss */
  .loginPage .form-group label {
    font-size: 21px;
  }
}
/* line 56, ../sass/_login.scss */
.loginPage .form-group .form-control {
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  -o-border-radius: 0 0 0 0;
  border: 0px;
  border-bottom: 1px solid #7792a0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  position: relative;
  z-index: 2;
  background: none;
  padding: 6px 0;
  font-size: 22px;
  height: 47px;
  color: #455e6a;
}
/* line 73, ../sass/_login.scss */
.loginPage .form-group .form-control:focus + label {
  top: -20px;
  font-size: 13px;
}
/* line 79, ../sass/_login.scss */
.loginPage .form-group .form-control.ng-valid {
  border-color: #42a948;
  border-width: 2px;
  padding: 6px 0 5px 0;
}
/* line 84, ../sass/_login.scss */
.loginPage .form-group .form-control.ng-valid + label {
  top: -20px;
  font-size: 13px;
}
/* line 92, ../sass/_login.scss */
.loginPage .checkbox {
  float: left;
}
/* line 95, ../sass/_login.scss */
.loginPage .checkbox label {
  font-size: 15px;
}
@media screen and (max-width: 767px) {
  /* line 92, ../sass/_login.scss */
  .loginPage .checkbox {
    width: 100%;
    text-align: center;
    margin: -10px 0 25px 0;
    float: left;
  }
}
/* line 107, ../sass/_login.scss */
.loginPage .linksWrapper {
  text-align: center;
  margin: 50px 0 0 0;
  float: left;
  width: 100%;
}
/* line 113, ../sass/_login.scss */
.loginPage .linksWrapper .signUpLink {
  color: #42a948;
}
/* line 118, ../sass/_login.scss */
.loginPage .btn {
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  /* line 118, ../sass/_login.scss */
  .loginPage .btn {
    width: 100%;
  }
}
