/*
Errno::ENOENT: No such file or directory - /home/sujith/Codetok/Projects/Angula2/evolumi/src/webapp/src/app/assets/.sass-cache/71e85ac5bb24ac93fe4ce4727593ccacca623062/workgroup.scssc20160629-7734-6bgaes.lock

Backtrace:
/usr/lib/ruby/1.9.1/tempfile.rb:346:in `rmdir'
/usr/lib/ruby/1.9.1/tempfile.rb:346:in `rmdir'
/usr/lib/ruby/1.9.1/tempfile.rb:338:in `ensure in locking'
/usr/lib/ruby/1.9.1/tempfile.rb:338:in `locking'
/usr/lib/ruby/1.9.1/tempfile.rb:144:in `block in initialize'
/usr/lib/ruby/1.9.1/tmpdir.rb:133:in `create'
/usr/lib/ruby/1.9.1/tempfile.rb:134:in `initialize'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/util.rb:1228:in `new'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/util.rb:1228:in `atomic_create_and_write_file'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/cache_stores/filesystem.rb:39:in `_store'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/cache_stores/base.rb:51:in `store'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/cache_stores/chain.rb:19:in `block in store'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/cache_stores/chain.rb:19:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/cache_stores/chain.rb:19:in `store'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/engine.rb:417:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/engine.rb:281:in `render'
/var/lib/gems/1.9.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/var/lib/gems/1.9.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/var/lib/gems/1.9.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:294:in `watch'
/var/lib/gems/1.9.1/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/var/lib/gems/1.9.1/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/var/lib/gems/1.9.1/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/var/lib/gems/1.9.1/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/var/lib/gems/1.9.1/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/var/lib/gems/1.9.1/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/var/lib/gems/1.9.1/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/var/lib/gems/1.9.1/gems/compass-1.0.3/bin/compass:44:in `call'
/var/lib/gems/1.9.1/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/usr/local/bin/compass:23:in `load'
/usr/local/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - /home/sujith/Codetok/Projects/Angula2/evolumi/src/webapp/src/app/assets/.sass-cache/71e85ac5bb24ac93fe4ce4727593ccacca623062/workgroup.scssc20160629-7734-6bgaes.lock"; }
