<div class="customPopup big" [class.systemActive]="displayModal"  id="editSales"  (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title">
            {{ 'EDITSALEPROCESS' | translate }}
            <a id="CloseSaleProcessWindowButton" class="close pull-right" (click)="hideModal()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="blockContent">
                <form [formGroup]="salesProcessForm">
                    <div class="form-group">
                        <label>{{ 'SALESPROCESSNAME' | translate }}</label>
                        <input id="SaleProcessName" type="text" [(ngModel)]="saleProcessName" class="form-control"  placeholder="{{ 'SALESPROCESSNAME' | translate }}" formControlName="saleProcessName">
                        <div [hidden]="salesProcessForm.controls.saleProcessName.untouched || salesProcessForm.controls.saleProcessName.valid">{{'REQ' | translate}}</div>
                    </div>
                    <div class="buttonRow">
                        <input id="SaleProcessCancleButton"  type="button" class="btn gray" value="{{ 'CANCELBTN' | translate }}" (click)="hideModal()" />
                        <button id="SalePriocessSaveButton" type="button" [disabled]="!salesProcessForm.valid" class="btn pull-right" (click)="save()">
                            <span [hidden]="startApi">
                                {{ 'SAVEBTN' | translate }}
                            </span>
                            <div [hidden]="!startApi">
                                <img src="assets/images/preloader.gif" alt="loading" />
                            </div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>