<div class="customPopup systemActive" id="addSales"  (click)="clickToClose($event)">
    <div class="popupBox">
      <div class="title">
         {{ 'NEWSALESPROCESS' | translate }}
          <a id="NewSaleProcessButton" class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
       
      <div class="popupContent">
          <div class="blockContent">
	          <form [formGroup]="SalesProcessForm"> 
		            <div class="form-group">
		                  <label>{{ 'SALESPROCESSNAME' | translate }}</label>
		                    <input id="SaleProcessName" type="text"  class="form-control" placeholder="{{ 'SALESPROCESSNAME' | translate }}" formControlName="saleProcessName">
		                    <div [hidden]="SalesProcessForm.controls.saleProcessName.untouched || SalesProcessForm.controls.saleProcessName.valid">{{'REQ' | translate}}</div>

		             </div>
		             <div class="buttonRow">
		                  <input id="SaleProcessCancleButton" type="button" class="btn gray" value="{{ 'CANCELBTN' | translate }}" (click)="back()"/>
		                  
		                  <button id="SaleProcessCreateButton" type="button"   [disabled]="!SalesProcessForm.valid"  class="btn pull-right" (click)="createSalesProcess()" >
		                  <span [hidden]="startApi">
		                  	{{ 'CREATEBTN' | translate }}
		                  </span>
		                  	<div [hidden]="!startApi"   >
		                        		<img src="assets/images/preloader.gif" alt="loading"/>
		                   	</div>
		                  </button>
		                  
		               </div>   
				</form>
			</div>
		</div>
	</div>
</div>