<div class="mainTitle">
  <h1>{{ 'DOCUMENTTEMPLATES' | translate }}</h1>
</div>

<div class="contentPanel">
  <div class="contentWrapper">
    <div class="projectBox" style="min-height: 600px;">
      <tabset #tabset class="customTab">
        <tab heading="{{'NEWSLETTERS' | translate}}">
          TAB1
        </tab>
        <tab heading="{{'MAILLISTS' | translate}}">
          TAB2
        </tab>
      </tabset>
    </div>
  </div>
</div>