<div *ngIf="featureName" class="customPopup medium systemActive packageCustomPopupMedium" id="showOneFeature" (click)="clickToCloseSingelFeature($event)">
    <div class="popupBox packagePopupBox">

        <div class="title">
            {{ 'FEATUREDETAILS' | translate}}
            <a class="close pull-right" (click)="closeSingelFeature()"><i class="fa fa-times"></i></a>
        </div>

        <div class="row">

            <!--Feature Data-->
            <div class="col-md-12 evo-section">
                <feature-packages-selector [name]="featureName"></feature-packages-selector>
            </div>

            <!--Package Data-->
            <div class="col-md-12 evo-section">

                <div>
                    {{ 'FEATUREINCLUDEDIN' | translate }}
                </div>

                <div>
                    <tabset class="customTab tab-container">

                        <tab *ngFor="let package of _packageService.packagesWithFeature" heading="{{package.NameLabel | translate}}" (select)="choosenTab(package)"
                            style="z-index: 200 !important">

                            <show-packages-selector (closePopup)="featureName=false" [newPackage]="addPackageToCart" (showPricePayment)="choosenPayment" [chosenPackage]='package'></show-packages-selector>

                        </tab>
                    </tabset>
                </div>
 
            </div>
        </div>
    </div>
</div>