<div>
    <p style="font-weight:bold">
        {{feature?.NameLabel | translate}}
    </p>
    <div *ngIf="!displayOnlyName">
        <p>
            {{ feature?.DescriptionLabel | translate}}
            <a *ngIf="compact && this.feature.Information && this.feature.Information.length" (click)="displayAllFeatures()" class="link">{{ showMore ? 'READLESS' : 'READMORE' | translate}}</a>
        </p>

        <div *ngIf="!compact || (compact && showMore)">
            <div class="col-sm-12" id="pictureMoviesFeature">
                <div class="col-sm-4" *ngFor="let videoIds of allVideoId" style="height: 100px">
                    <span class="{{'wistia_embed wistia_async_' + videoIds + ' popover=true popoverAnimateThumbnail=true'}} packageDisplayVideo">&nbsp;</span>
                </div>
                <div class="col-sm-4" *ngFor="let images of imageArray" style="height: 100px">
                    <a (click)="selectImage(images)">
                        <img [src]="images" class="packageDisplayImage" />
                    </a>
                </div>
            </div>
            <div *ngFor="let information of feature?.Information">
                <a target="_blank" *ngIf="information?.Link" class="link" href="{{information.Link}}">
                        {{information?.Label | translate}}
                </a>
                <p *ngIf="!information?.Link">
                    {{information?.Label | translate}}
                </p>
            </div>
        </div>
    </div>
</div>