<div class="package-cart row">
    <div class="col-md-12">
        <div class="title">
            {{'SUMMARY' | translate}}
            <!-- Currency Select -->
            <div class="pull-right" *ngIf="!_packageService.ownedPackages.length">
                <label>{{'CURRENCY' | translate}}</label>
                <select class="header-dropdown" [(ngModel)]="_packageService.Currency" (change)="reCalculate()">
                    <option *ngFor="let cur of allcurrency" [value]="cur.value">{{cur.label}}</option>
                </select>
            </div>
        </div>

        <!--Packages in Cart-->
        <div *ngFor="let package of _packageService.cart">
            <span>
                {{package.choosenPackage.NameLabel | translate}}
            </span>
            <a class="evo-inline-button" (click)="editCurrenctPackage(package)"><i class="fa fa-pencil fa-fw"></i></a>
            <a class="evo-inline-button" (click)="deleteCurrentPackage(package)"><i class="fa fa-trash fa-fw"></i></a>

            <label *ngIf="package.Interval==='Yearly' && package.choosenPackage.YearlyPrices[_packageService.Currency]" class="pull-right">
                {{package.choosenPackage.YearlyPrices[_packageService.Currency] * package.Licences | bigNumber}} {{_packageService.Currency}} {{package.Interval}}
            </label>
            <label *ngIf="package.Interval==='Monthly' && package.choosenPackage.MonthlyPrices[_packageService.Currency]" class="pull-right">
                {{package.choosenPackage.MonthlyPrices[_packageService.Currency] * package.Licences | bigNumber}} {{_packageService.Currency}} {{package.Interval}}
            </label>
            <label *ngIf="package.choosenPackage.HasVolumePricing" class="pull-right">
                {{ package.volumePriceTotal | bigNumber}} {{_packageService.Currency}} {{package.Interval}}
            </label>

            <br>
            <span class="evo-sub-info" *ngIf="package.Licences">
                {{package.Licences}} {{'USERS' | translate}}
            </span>
            <span class="evo-sub-info" *ngIf="package.choosenPackage.HasVolumePricing">
                {{ 'VOLUMEPRICED' | translate}}
            </span>
        </div>

        <hr>

        <!--Payment Summary-->
        <div *ngIf="_packageService.cartSummary && !_packageService.loadingPrices">
            <div *ngIf="_packageService.cartSummary.YearlyTotal" style="margin-bottom:5px;">
                <span>{{'YEARLYPAYMENT' | translate}}</span>
                <label class="pull-right">{{_packageService.cartSummary.YearlyTotal | bigNumber}} {{_packageService.cartSummary.Currency}}</label>
            </div>
            <div *ngIf="_packageService.cartSummary.MonthlyTotal">
                <span>{{'MONTHLYPAYMENT' | translate}}</span>
                <label class="pull-right">{{_packageService.cartSummary.MonthlyTotal | bigNumber}} {{_packageService.cartSummary.Currency}}</label>
            </div>

            <hr>

            <!--First Payment-->
            <div *ngIf="_packageService.cartSummary.FirstPayment">
                <span>{{'FIRSTPAYMENT' | translate}}</span>
                <label class="pull-right"> {{_packageService.cartSummary.FirstPayment | bigNumber}} {{_packageService.cartSummary.Currency}}</label>
            </div>

            <div class="clearfix"></div>

            <!--VAT-->
            <div *ngIf="_packageService.cartSummary.Vat">
                <span> {{'VAT' | translate}}</span>
                <label class="pull-right">{{_packageService.cartSummary.Vat | bigNumber}} {{_packageService.cartSummary.Currency}}</label>
                <hr>
            </div>

            <div class="clearfix"></div>

            <!--To Pay-->
            <div *ngIf="_packageService.cartSummary.ToPay">
                <span>{{'PAYABLE' | translate}}</span>
                <label class="pull-right">{{_packageService.cartSummary.ToPay | bigNumber}} {{_packageService.cartSummary.Currency}}</label>
                <hr>
            </div>

            <div class="clearfix"></div>

        </div>

        <!--Loader-->
        <div class="preloaderWrapper cart-loader" *ngIf="_packageService.loadingPrices">
            <div class="preloader">
                <div class="cssload-container">
                    <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
                </div>
            </div>
        </div>

        <!--CreditCard-->
        <div *ngIf="!_packageService.creditCard">
            <span>{{'NOCARD' | translate}}</span>
            <button class="btn pull-right" (click)="showCardModal()">{{'ADDCARD' | translate}}</button>
        </div>

        <div class="clearfix"></div>

        <!--Activate Button-->
        <div *ngIf="_packageService.creditCard" id="buttonRow">
            <button class="btn pull-right" (click)="activatePackage()" [disabled]="lock">
                {{'ACTIVATENOW' | translate}}
            </button>
        </div>

        <div class="clearfix"></div>

    </div>
</div>

<!--Creditcard Modal-->
<div [class.systemActive]="showCard" class="customPopup" id="showCreditCard" (click)="clicktoCloseCreditCard($event)">
    <div class="popupBox packageCardPopup">
        <div class="title">
            {{'ADDNEWCARD' | translate}}
            <a class="close pull-right" (click)="clicktoCloseCreditCard($event)"><i class="fa fa-times"></i></a>
        </div>
        <credit-card-select [orgId]="orgId" (cardSelected)="cardSelected($event)"></credit-card-select>
    </div>
</div>