<div class="customPopup" [class.systemActive]="choosenPackageWithUser" id="popupActivatePackage" (click)="clickToCloseSelectedPackageWithUser($event)">
    <div class="popupBox">

        <div class="popupContent">
            <div class="title">
                {{ ( _packageService.buildingPackage.Licences > 0 ? 'WHICHUSERSSHOULDGETPACKAGE' : 'UPDATE' ) | translate}}
                <a class="close pull-right" (click)="closeSelectedPackageWithUser()"><i class="fa fa-times"></i></a>
            </div>

            <!--User Select-->
            <div class="form-group" (click)="showAvaUsersClose($event)" *ngIf="_packageService.buildingPackage.Licences > 0">

                <div class="user-select">

                    <div>
                        <label>{{ 'USERSWITHLICENCE' | translate:{ licenses : _packageService.buildingPackage.Licences} }}</label>
                    </div>
                    
                    <div *ngFor="let user of notAddedUsers" class="selectedUsers packageDisplayInline">
                        <img [profilepicture]="user.value" *ngIf="user" [tooltip]="user.label" [style.cursor]="full ? 'not-allowed' : 'pointer'" (click)="addUser(user)"
                        />
                    </div>
                    
                    <div>
                        <label>{{ 'CHOSENUSERS' | translate }}</label>
                    </div>
                </div>

                <div class="user-select">
                    <div *ngFor="let user of selectedUsersArray; let i=index" class="selectedUsers sc-img-hover packageDisplayInline" (click)="removeUser(i)">
                        <img [profilepicture]="user.value" *ngIf="user" (click)="removeUser(i)" [tooltip]="user.label">
                    </div>

                    <p class="packageCanChangeAfter" *ngIf="selectedUsersArray.length > _packageService.buildingPackage.Licences">
                        {{'TOMANYUSERS' | translate}}
                    </p>

                    <p class="packageCanChangeAfter">
                        {{'CANCHANGEUSERSAFTER' |translate}}
                    </p>
                </div>

            </div>

            <!--Add to Cart-->
            <div *ngIf="!orgHasPackage">
                <a class="btn" [routerLink]="['./Packages']" (click)="sendPackageToCart(choosenPackageWithUser)">
                    {{'ADDTOCART' | translate}}
                 </a>
            </div>

            <!--Update-->
            <div *ngIf="orgHasPackage">

                <!--Montly-->
                <div *ngIf="_packageService.buildingPackage.Interval == 'Monthly'">
                    <div class="row" *ngIf="showOldMontlyPayment">
                        <p class="col-sm-6">
                            {{'OLDMONTHLYPAYMENT' | translate}}
                        </p>
                        <label class="col-sm-6" style="text-align:right">
                            {{showOldMontlyPayment | bigNumber}} {{ _packageService.Currency }}
                        </label>
                    </div>
                    <div class="row" *ngIf="showNewMontlyPayment">
                        <p class="col-sm-6">
                            {{'NEWMONTHLYPAYMENT' | translate}}
                        </p>
                        <label class="col-sm-6" style="text-align:right">
                            
                            {{showNewMontlyPayment | bigNumber}} {{ _packageService.Currency }}
                        </label>
                    </div>
                </div>

                <!--Yearly-->
                <div *ngIf="_packageService.buildingPackage.Interval == 'Yearly'">

                    <div class="row">
                        <p class="col-sm-6">
                            {{'OLDYEARLYPAYMENT' | translate}}
                        </p>
                        <label class="col-sm-6" style="text-align:right">
                            {{showOldYearlyPayment | bigNumber}} {{ _packageService.Currency }}
                        </label>
                    </div>

                    <div class="row">
                        <p class="col-sm-6">
                            {{'NEWYEARLYPAYMENT' | translate}}
                        </p>
                        <label class="col-sm-6" style="text-align:right">
                            {{showNewYearlyPayment | bigNumber}} {{ _packageService.Currency }}
                        </label>
                    </div>
                
                </div>

                <div *ngIf="summary">

                    <hr>

                    <div class="row">
                        <p class="col-md-12">{{'FIRSTPAYMENTDATE' | translate:{ date: (summary.NextMonthlyPayDay | dateonly) } }}</p>
                        <p class="col-sm-6">
                            {{'FIRSTPAYMENT' | translate}}
                        </p>
                        <label class="col-sm-6" style="text-align:right">
                            {{ summary.MonthlyTotal | bigNumber}} {{ _packageService.Currency }}
                        </label>
                    </div>
                    <div class="row">
                        <p class="col-sm-6">
                            {{'VAT' | translate}}
                        </p>
                        <label class="col-sm-6" style="text-align:right">
                            {{ summary.Vat | bigNumber }} {{ _packageService.Currency }}
                        </label>
                    </div>
                    <hr>
                    <div class="row" >
                        <p class="col-sm-6">
                            {{'PAYABLE' | translate}}
                        </p>
                        <label class="col-sm-6" style="text-align:right">
                         {{ summary.ToPay | bigNumber}} {{ _packageService.Currency }}
                    </label>
                    </div>
                </div>

                <div>
                    <button [disabled]="selectedUsersArray.length > _packageService.buildingPackage.Licences" class="btn pull-right" (click)="updateAPackage(choosenPackageWithUser)">
                        {{ (_packageService.buildingPackage.Trial ? 'ACTIVATE' : 'UPDATE' ) | translate}}
                    </button>
                </div>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>