.evo-package-wrapper{
      margin-top: 10px;
}
    
.evo-package-card{
      text-align: center;
      padding:20px;
      margin:10px;
}
.evo-package-card a{
  color: white;
}

.cart-loader{
  min-height: 129px;
}

.package-cart{  
  min-height: 300px;
}

.package-cart hr{
  margin-top:10px;
  margin-bottom: 10px;
}

.user-select{
  display: inline-block;
  width: 100%;
  min-height: 35px;
}

.quantity-row.active{
  background-color: #efefef;
}
.quantity-row:hover{
  background-color: #eeeeee;
  cursor: pointer;
}

.header-dropdown{
  padding-left: 10px;
  margin-left: 10px;
  width: 100px;
  height: 25px;
}

    .packeSettings{
        border-radius: 5px;
        background: #e7fcff;
        padding: 20px;
        margin: 10px;
        position: absolute;
        z-index: 1;
        min-width: 150px;
        left: 105%;
        top:-68px;
        font-size: 20px;
        box-shadow: 0px 0px 20px #888;
    }
    .packeSettings img {
        max-width: 40px;
    }
    .selectedUsers img {
        max-width: 30px;
        border-radius: 2px;
    }
    .sc-img-hover {
    position: relative;
    cursor: pointer;
    }

    .sc-img-hover:hover img{
        opacity: 0.35;
    }

    .sc-img-hover:hover:after{
        content: "\f1f8";
        position: absolute;
        bottom: -3px;
        left: 7.5px;
        font-size: 16.5px;
        font-family: FontAwesome;
    }

    .sc-img-hover:after{
        content: "";
    }
        #btnPackage:hover  {
        opacity: 0.8;
        color: black;
        background-color: white;
    }
    #btnPackage{
        background: rgba(255,255,255,0.2);    
    }
    /*.switch {
  position: relative;
  display: block;
  vertical-align: top;
  width: 50px;
  height: 15px;
  padding: 3px;
  margin: 0 10px 10px 0;
  background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
  background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
  border-radius: 9px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 5px;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  background: turquoise;
  border-color: turquoise;
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 5px;
  color: #aaaaaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
  content: attr(data-on);
  left: 5px;
  color: #FFFFFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #0088cc;
  border-color: #0088cc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}
.switch-handle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 6px;
  height: 6px;
  background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
  background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
  border-radius: 3px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
  left: 37px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-label, .switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 30px;
  margin-right: 30px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.disabled{
  cursor: not-allowed;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input + .slider {
  background-color: turquoise;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.displayingShoppingCard{
    padding-right: 10px;
    padding-left: 10px;
}
.packageButtonCard{
  padding-bottom: 5px;
  padding-top: 5px;
}
.packagePerMonthCard{
  font-size: 9px; 
  color: white; 
  margin-bottom: 0px; 
  font-weight: lighter; 
  padding-bottom: 15px;
}
.packagePriceCard{
  color: white; 
  margin-bottom: 0px;
}
.packageInlineWhite{
  color: white; 
  display: inline
}
.packageFromCard{
  font-size: 10px; 
  color: white;
  margin-bottom: 0px;
  font-weight: lighter;
}
.packageDisplayCard{
  background-color: #e7e7e7; 
  padding-right: 0px; 
  padding-left: 0px;
}
.packageRemovePadding{
  padding-right: 0px; 
  padding-left: 0px;
}

.packageDisplayInlineFloatRight{
  display: inline; 
  float: right;
}
.packageDisplayInlineFloatLeft{
  display: inline; 
  float: left;
}
.packagePaddingBottom10{
  padding-bottom: 10px;
}
.packageDisplayInline{
  display: inline;
}
.packageTextAlignRightPaddingRight0{
  text-align: right; 
  padding-right: 0px;
}
.packageTextAlignLeftPaddingLeft0{
  text-align: left; 
  padding-left: 0px;
}
.packagePaddingBottom5{
  padding-bottom: 5px;
}
.packageCardPopup{
  padding-top: 10px; 
  width: 400px;
}
.packageDisplayName{
  margin-bottom: 0px; 
  margin-top: 0px; 
  padding-top: 20px;
  color: white;
  font-size: 16px;
}
.packageDisplayBorder{
  margin-bottom: 20px; 
  text-align: center;
}
.packageDisplayDesc{
  color: white; 
  font-size: 14px;
}
.packageCustomPopupMedium{
  z-index: 200 !important; 
  /*overflow-y: hidden;*/
}
.packagePopupBox{
  /*min-height: 80%; 
  height:300px; 
  padding-bottom: 80px*/
  /*height: 90%;
  padding-bottom: 0px;*/
}

.tab-content {
  height: inherit;
  overflow-y: scroll;
}
.packagePopupBoxButton{
  top: 70%; 
  margin-bottom: 10px;
  padding-bottom: 45px;
}
.packageTextAlignCenter{
  text-align: center;
}
.packageFontBold{
  margin-top: 25px;
  margin-bottom: 0;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 25px;
}
.packagePaddingBottom10PaddingLeft0{
  padding-bottom: 10px; 
  padding-left: 0px;
}
.packageDisplayVideo{
  display:inline-block;
  height:100px;
  width:100%;
}
.packageDisplayImage{
  height: 100px;
}
.packagePaddingLeft5{
  padding-left: 5px;
}
.packageDisplayUsers{
  padding-top: 3px;
  padding-right: 0px; 
  padding-left: 2px; 
  text-align: center;
}
.packageTextAlignCenterPaddingTop35{
  text-align: center; 
  padding-top: 35px;
}
.packageCanChangeAfter{
  font-size: 14px; 
  padding-top: 5px;
}
.packageBackgroundWhite{
  background-color: white;
}
.packageSwitchMonthYear{
  display: inline-block; 
  text-align: center; 
  cursor:not-allowed;
}
.packageDisplayInlineBlock {
  display: inline-block;
}
.packageInputLicences{
  display: inline-block;
  width: 80%;
  float: right;
  text-align: right;
}
.packageDisplayInlineFloatRight{
  display: inline-block; 
  float: right;
}
.packagePopupImage{
  z-index: 400 !important; 
  opacity: 2000;
}
.packageHeightAutoWidthAuto{
  height: auto; 
  width: auto;
}
.packagePaddingLeft0{
  padding-left: 0px;
}
