<div>
    <div class="mainTitle leftFree">
        <h1>
            {{ 'PACKAGES' | translate}}
        </h1>
    </div>

    <div class="contentPanel leftFree">
        <div class="contentWrapper">
            
            <!--Top Row-->
            <div class="row">
                
                <!--Package Cart-->
                <div class="col-sm-12 col-md-4">
                    <div class="projectBox" *ngIf="_packageService.cart?.length">
                        <package-cart (edit)="editCurrenctPackage($event)" (delete)="deleteCurrentPackage($event)"></package-cart>
                    </div>
                </div>

                <!--Avalible packages-->
                <div class="col-sm-12 col-md-{{_packageService.cart?.length ? '8' : '12' }}" *ngIf="_packageService.packagesToShow?.length">
                    <div class="projectBox">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="title">
                                    {{'PACKAGESAVAILABLE' | translate}}
                                    <!-- Currency Select -->
                                    <div class="pull-right" *ngIf="!_packageService.ownedPackages?.length">
                                        <label>{{'CURRENCY' | translate}}</label>
                                        <select class="header-dropdown" [(ngModel)]="_packageService.Currency">
                                            <option *ngFor="let cur of allcurrency" [value]="cur.value">{{cur.label}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <package-card *ngFor="let item of _packageService.packagesToShow" [package]="item" [currency]="_packageService.Currency" (select)="selectPackage($event)"></package-card>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--Bottom Row-->
            <!--Packages currently owned-->
            <div class="projectBox" *ngIf="_packageService.ownedPackages?.length">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title">
                            {{'PACKAGESOWNED' | translate}}
                        </div>
                        <package-card *ngFor="let item of _packageService.ownedPackages" [package]="item" [currency]="_packageService.Currency" (select)="selectPackage($event)"></package-card>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--popup choose && update a package-->
<div [class.systemActive]="selectedPackage" class="customPopup medium packageCustomPopupMedium" id="showPackages" (click)="clickToClosePackages($event)">
    <div class="popupBox packagePopupBox">
        <div *ngIf="selectedPackage" class="popupContent">
            <div *ngIf="showingTitel" class="title">
                {{selectedPackage?.NameLabel | translate}}
                <a class="close pull-right" (click)="closePackages()"><i class="fa fa-times"></i></a>
            </div>
            <show-packages-selector (closePopup)="selectedPackage=null" [newPackage]="addPackageToCart" [chosenPackage]='selectedPackage'></show-packages-selector>

        </div>
    </div>
</div>
<!--popup edit a package-->
<div [class.systemActive]="editingThisPackage" class="customPopup medium packageCustomPopupMedium" id="showPackageEdit" (click)="clickToCloseEdit($event)">
    <div class="popupBox packagePopupBox">
        <div *ngIf="editingThisPackage" class="popupContent">
            <div *ngIf="showingTitel" class="title">
                {{'EDIT'| translate}}
                <a class="close pull-right" (click)="closeEdit()"><i class="fa fa-times"></i></a>
            </div>
            <show-packages-selector (closePopup)="editingThisPackage=null" [newPackage]="addPackageToCart" [chosenPackage]='editingThisPackage'></show-packages-selector>

        </div>
    </div>
</div>
