<div class="col-sm-4 evo-package-wrapper" style="color: white;">
    <div [style.background]="package.Color" class="evo-package-card">
        <p class="plan">
            {{package.NameLabel | translate}}
        </p>
        <p class="velue">
            {{package.DescriptionLabel | translate}}
        </p>

        <div *ngIf="package.MonthlyPrices && package.MonthlyPrices[_packageService.Currency]">

            <h2>
                {{package.MonthlyPrices[_packageService.Currency] | bigNumber}} {{_packageService.Currency}}
            </h2>
            <p class="shortNote" style="font-size: 12px">
                {{'PERUSERPERMONTH' | translate}}
            </p>
        </div>

        <div *ngIf="package.HasVolumePricing">
            <p class="shortNote" >
                {{'FROM' | translate}}
            </p>
            <h2>
                {{ volumePrice | bigNumber}} {{_packageService.Currency}}
            </h2>
        </div>

        <div *ngFor="let feature of package.Features; let i = index" class="shortNote" style="display: inline">
            <a (click)="displayFeatureWithPackage(feature, package)" style="display: inline-block">
                <feature-packages-selector [displayOnlyName]="true" [name]="feature"></feature-packages-selector>
            </a><span *ngIf="package.Features?.length-1 != i">,</span>
        </div>
        <div class="">
            <a class="btn" id="btnPackage" (click)="selectPackage(package)">
                {{'READMORE' | translate}}
            </a>
        </div>
    </div>
</div>