<div *ngIf="chosenPackage">

    <div *ngIf="canceldPackage && !orgPackageActive?.Trial &&!orgPackageActive?.ManualPayment " class="evo-notebox">
        <label class="note-title">{{'TITLECANCELPACKAGE' | translate}}</label>
        <p class="note-content">{{'DESCRIPTIONONCANCELPACKAGE' | translate:{ date: orgPackageActive?.PaidUntil | dateonly } }}</p>
    </div>

    <div *ngIf="orgPackageActive?.Trial" class="evo-notebox">
        <label class="note-title">{{'TITLETRIALPACKAGE' | translate}}</label>
        <p class="note-content">{{'DESCRIPTIONONTRIALPACKAGE' | translate:{ date: orgPackageActive?.PaidUntil | dateonly, licences: _packageService.buildingPackage.Licences
            } }}</p>
    </div>

    <div *ngIf="orgPackageActive?.ManualPayment" class="evo-notebox">
        <label class="note-title">{{'TITLEMANUALPAYMENT' | translate}}</label>
        <p class="note-content">{{'DESCRIPTIONMANUALPAYMENT' | translate:{ date: orgPackageActive?.PaidUntil | dateonly, licences: _packageService.buildingPackage.Licences } }}</p>
    </div>

    <div class="row" style="margin-top:20px;">

        <!--Media-->
        <div class="col-md-12 evo-section " id="pictureMovies" *ngIf="allVideoId.length || imageArray.length">
            <div class="row">
                <div class="col-sm-4" *ngFor="let videoIds of allVideoId">
                    <span class="{{'wistia_embed wistia_async_' + videoIds + ' popover=true popoverAnimateThumbnail=true'}} packageDisplayVideo">&nbsp;</span>
                </div>

                <div class="col-sm-4" *ngFor="let images of imageArray">
                    <a (click)="selectImage(images)">
                        <img [src]="images" class="packageDisplayImage" />
                    </a>
                </div>

            </div>
        </div>

        <div class="clearfix"></div>

        <!--Information-->
        <div class="col-md-12 evo-section" *ngIf="chosenPackage.Information.length > 0">
            <div class="evo-section-title" style="background-color: white;">
                <h4>{{'SUMMARY' | translate}}</h4>
            </div>
            <div *ngFor="let information of chosenPackage.Information">
                <p *ngIf="!information.Link">{{information.Label | translate}}</p>
                <a *ngIf="information.Link" [href]="information.Link">{{information.Label | translate}}</a>
            </div>
        </div>

        <div class="clearfix"></div>

        <!--Package Pricing-->
        <div class="col-md-12 evo-section">
            <div class="evo-section-title">
                <h4>{{'PRICE' | translate}}</h4>
            </div>
            <div class="row" *ngIf="!chosenPackage?.HasVolumePricing && !orgPackageActive?.ManualPayment && (chosenPackage.MonthlyPrices && chosenPackage.MonthlyPrices[_packageService.Currency] || chosenPackage.YearlyPrices && chosenPackage.YearlyPrices[_packageService.Currency])">

                <!--Interval Select-->
                <div class="col-sm-6">

                    <div class="pull-left">
                        <span>{{'MONTHLY' | translate}}</span><br>
                        <span class="evo-sub-info">{{chosenPackage.MonthlyPrices[_packageService.Currency] | bigNumber}} {{_packageService.Currency}}</span>
                    </div>

                    <div class="pull-left">
                        <label class="switch" for="switch">
                            <input (click)="checkingValue()" id="switch" type="checkbox" [ngModel]="showYearlyPrice" [disabled]="orgHasPackage && !orgPackageActive?.Trial">
                            <div class="slider round" [class.disabled]="orgHasPackage && !orgPackageActive?.Trial"></div>
                        </label>
                    </div>

                    <div class="pull-left">
                        <span>{{'YEARLY'| translate}}</span><br>
                        <span class="evo-sub-info">{{chosenPackage.YearlyPrices[_packageService.Currency] | bigNumber}} {{_packageService.Currency}}</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="evo-sub-info"> {{ "PRICEPERUSER" | translate }} </div>
                </div>

                <!--Licences and Price-->
                <div class="col-sm-6">
                    <div class="row">

                        <!--Licences-->
                        <div class="col-sm-6">
                            <span >{{'USERSNUMBER' | translate}}</span>
                        </div>
                        <div class="col-sm-6">
                            <input OnlyNumber="true" [(ngModel)]="_packageService.buildingPackage.Licences" class="packageInputLicences">
                        </div>

                        <!--Price-->
                        <div class="col-sm-6">
                            <span>{{ ( showYearlyPrice ? 'PRICEYEARLY' : 'PRICEMONTHLY' ) | translate}}</span>
                        </div>

                        <div class="col-sm-6" style="text-align:right">
                            <span *ngIf="_packageService.buildingPackage.Licences > 0">
                                {{ (showYearlyPrice ? chosenPackage.YearlyPrices[_packageService.Currency] : chosenPackage.MonthlyPrices[_packageService.Currency]) 
                                    * _packageService.buildingPackage.Licences | bigNumber}} 
                                {{_packageService.Currency}}
                            </span>
                        </div>

                        <div *ngIf="!showYearlyPrice" class="col-md-12 text-warning">
                            {{'YEARLYYOUSAVETWOMONTH' | translate}}
                        </div>

                    </div>
                </div>
            </div>


            <!--Volume Based Pricing-->
            <div class="row" *ngIf="volumePricedFeatures.length">
                <div class="col-md-12" *ngFor="let feature of volumePricedFeatures">
                    <h4>{{ feature.NameLabel | translate }}</h4>
                    <div class="row">
                        <!--Price List-->
                        <div class="col-md-6" *ngIf="feature.VolumePricing && feature.VolumePricing[_packageService.Currency]">
                            <table class="table table-compact">
                                <tr>
                                    <th>
                                        {{ 'QUANTITY' | translate }}
                                    </th>
                                    <th>
                                        {{ 'COST' | translate }}
                                    </th>
                                </tr>
                                <tr *ngFor="let price of feature.VolumePricing[_packageService.Currency] | filterPriceList:feature.selectedValue" class="quantity-row"
                                    [class.active]="_packageService.buildingPackage.Volumes[feature.Name] == price.Max"
                                    (click)="clickRow(feature,price.Max)">
                                    <td> {{ price.Max | bigNumber}} {{feature.VolumeQuantityLabel | translate }}</td>
                                    <td> {{ price.Price | bigNumber }} {{ _packageService.Currency }}</td>
                                </tr>
                            </table>
                        </div>
                        <!--Quantity Select-->
                        <div class="col-md-6">
                            <div> 
                                <span>{{ feature.VolumeTextLabel | translate }}</span>
                                <div class="pull-right" style="width:100px">
                                    <input type="number" class="pull-right form-control" [(ngModel)]="feature.selectedValue" (ngModelChange)="setPrice(feature)">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="text-warning" style="text-align:right" *ngIf="limitExceeded">{{ 'VOLUMELIMITEXCEEDED' | translate }}</div>
                            <div class="row" style="margin-top:20px;">
                                <div class="col-md-6">
                                    {{ 'COSTPERMONTH' | translate }}
                                </div>
                                <div class="col-md-6" style="text-align:right">
                                    {{ feature.selectedPrice | bigNumber}} {{ _packageService.Currency }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <!--Button Row-->
                <div class="col-md-12">
                    <div class="row button-row" evo-require [permissions]="['HandlePayment']" (onFail)="noPermission=true">

                        <p *ngIf="_packageService.buildingPackage.Licences <= 0" class="col-md-12">
                            {{'VALUEMOSTBEPOSITIVE' | translate}}
                        </p>

                        <div *ngIf="!orgHasPackage" class="col-md-12">
                            <!--Add To Cart-->
                            <button [disabled]="_packageService.buildingPackage.Licences <= 0 && !volumePricedFeatures.length" (click)="chooseUsersWithPackage(chosenPackage)" class="btn pull-right">
                                {{ (newPackage ? 'ADDTOCART' : 'EDIT') | translate}}
                            </button>
                        </div>

                        <div *ngIf="orgHasPackage" class="col-md-12">

                            <!--CreditCard-->
                            <button *ngIf="!_packageService.creditCard && !orgPackageActive?.ManualPayment" class="btn pull-right" (click)="showCardModal()">
                                {{'ADDCARD' | translate}}
                            </button>

                            <!--Update Existing-->
                            <button *ngIf="_packageService.creditCard || orgPackageActive?.ManualPayment" [disabled]="_packageService.buildingPackage.Licences <= 0 && !volumePricedFeatures.length"
                                (click)="chooseUsersWithPackageToUpdate(chosenPackage)" class="btn pull-right">
                                {{ (orgPackageActive?.Trial ? 'ACTIVATESUBSCRIPTION' : orgPackageActive?.ManualPayment ? 'ADJUSTUSERES' : 'ADJUSTSUBSCRIPTION' ) | translate}}
                            </button>

                            <!--Cancle Existing-->
                            <a *ngIf="!canceldPackage && !orgPackageActive?.ManualPayment" class="evo-cancel-link pull-right" (click)="cancelSubscription(chosenPackage)">
                                {{'CANCELSUBSCRIPTION' | translate}}
                            </a>

                            <!--Reactivate Button-->
                            <button *ngIf="canceldPackage && !orgPackageActive?.ManualPayment && !orgPackageActive?.Trial" [disabled]="_packageService.buildingPackage.Licences <= 0 && !volumePricedFeatures.length"
                                (click)="reActivatePackage(chosenPackage)" class="btn pull-right">
                                {{ 'REACTIVATE' | translate}}
                            </button>

                        </div>
                    </div>
                </div>

                <div class="col-md-12" *ngIf="noPermission">
                    <span class="pull-right">{{ 'NOPAYMENTPERMISSION' | translate }}</span>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <!--Features-->
        <div *ngIf="chosenPackage.Features" class="col-md-12 evo-section">
            <div class="evo-section-title">
                <h4>{{'FEATURES' | translate}}</h4>
            </div>
            <div *ngFor="let feature of chosenPackage.Features">
                <feature-packages-selector compact="true" showPrices="true" (selectPrice)="setPrice(feature, $event)" [name]="feature"></feature-packages-selector>
            </div>
        </div>

    </div>

    <!--Creditcard Modal-->
    <div [class.systemActive]="showCard" class="customPopup" id="showCreditCard" (click)="clicktoCloseCreditCard($event)">
        <div class="popupBox small packageCardPopup">
            <div class="title">
                {{'ADDNEWCARD' | translate}}
                <a class="close pull-right" (click)="hideCardModal()"><i class="fa fa-times"></i></a>
            </div>
            <credit-card-select [orgId]="orgId" (cardSelected)="cardSelected($event)"></credit-card-select>
        </div>
    </div>