<div *ngIf="choosenImage" [class.systemActive]="choosenImage" class="customPopup medium packagePopupImage" id="popupImage" (click)="clickToCloseImage($event)">
    
    <div class="popupBox packageHeightAutoWidthAuto">
        <a class="close pull-right" (click)="closeImage()"><i class="fa fa-times"></i></a>
        <div class="popupContent">
            <img [src]="choosenImage" />
        </div>
    </div>
</div>
