<div class="mainTitle leftFree">
    <h1>{{ ( personAccounts ? 'PERSONACCOUNTS' : 'COMPANIES' ) | translate }}</h1>
</div>

<div class="contentPanel accountsPage leftFree" scrollTracker scrollStart="1000" (scrollBottom)="_accountsCollection.onScrollBottom()">
    <div class="contentWrapper">
        <div class="evo-table-container">

            <!--Filter Controls-->
            <div class="evo-filter-container">
                <div class="row">

                    <div class="col-sm-3 col-md-3 col-lg-2">
                        <div class="form-group">
                            <label for="">{{ 'SORTBY' | translate }}</label>
                            <chosen id="AccountSortDropdown" [width]="'100%'" [multiple]="false" [options]="sortOptions" [(ngModel)]="_accountsCollection.searchParams.SortingFieldName"
                                (change)="_accountsCollection.search()"></chosen>
                        </div>
                    </div>

                    <div class="col-sm-3 col-md-3 col-lg-2">
                        <div class="form-group">
                            <label for="">{{ 'FILTERBYACCNAME' | translate }}</label>
                            <input id="AccountNameFilter" type="text" [(ngModel)]="_accountsCollection.searchParams.Search" #accountName (keyup)="_accountsCollection.search()"
                                placeholder="{{ 'ACCNAME' | translate }}" class="form-control">
                        </div>
                    </div>

                    <div class="col-sm-3 col-md-3 col-lg-2">
                        <div class="form-group">
                            <label for="">{{ 'FILTERBYACCMAN' | translate }}</label>
                            <chosen class=" multichosen" id="AccountManagerFilter" [width]="'100%'" [multiple]="true" [options]="users" [(ngModel)]="_accountsCollection.searchParams.AccountManager"
                                (change)="_accountsCollection.search()"></chosen>
                        </div>
                    </div>

                    <div class="col-sm-3 col-md-3 col-lg-2">
                        <div class="form-group">
                            <label for="">{{ 'FILTERBYACCTYPE' | translate }}</label>
                            <chosen multiple class=" multichosen" id="AccountTypeFilter" [width]="'100%'" [multiple]="true" [options]="_accountsCollection.accountTypeList"
                                [(ngModel)]="_accountsCollection.searchParams.AccountTypeId" (change)="_accountsCollection.search()"></chosen>
                        </div>
                    </div>

                    <div class="col-sm-3 col-md-3 col-lg-2">
                        <div class="form-group">
                            <label>                                
                                <span class="clickable" (click)="quickselect.toggleQuickSelectBox()">{{ selectedTagFilter }}</span>
                            </label>
                            <quickselect #quickselect [items]="tagFilters" displayProperty="label" (select)="changeTagFilter($event)"></quickselect>
                            <!--<label>{{ 'FILTERBYTAGS' | translate }}</label>-->
                            <chosen *ngIf="!(_accountsCollection.tagList.length > 500)" class="multichosen" id="AccountTagsFilter" [width]="'100%'"
                                [multiple]="true" [options]="_accountsCollection.tagList" [(ngModel)]="_accountsCollection.searchParams.Tags"
                                (change)="_accountsCollection.search()"></chosen>
                            <tag-select *ngIf="_accountsCollection.tagList.length > 500" id="AccountTagsFilter" [value]="_accountsCollection.searchParams.Tags"
                                [options]="_accountsCollection.tagList" (onSelect)="_accountsCollection.searchParams.Tags=$event; _accountsCollection.search()"></tag-select>
                        </div>
                    </div>

                </div>
                <account-filterbar [enableButtons]="_accountsCollection.selectedAccounts.length || _accountsCollection.selectAll"
                    (command)="_accountsCollection.selectedOption=$event;accountOptions($event);" [searchFilter]="_accountsCollection.searchParams"></account-filterbar>
            </div>

            <!--Table-->
            <div class="evo-table gridWrapper" *ngIf="_accountsCollection.accounts.length > 0">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <label class="customCheckBox leftFolat" tooltip="{{ (_accountsCollection.selectAll ? 'DESELECTALL' : 'SELECTALL') | translate }}" placement="right">
                                    <input type="checkbox" id="checkAll" [(ngModel)]="_accountsCollection.selectAll" (change)="checkAll();" class="checker">
                                    <div class="custonCkeck"></div>
                                </label> {{ 'NAME' | translate }}
                            </th>
                            <th>
                                {{'ACCMAN' | translate}}
                            </th>
                            <th>
                                {{'ACCTYPE' | translate}}
                            </th>
                            <th>
                                {{'LASTACTION' | translate}}
                            </th>
                            <th>
                                {{'NEXTACTION' | translate}}
                            </th>
                            <th>
                                {{'TAGS' | translate}}
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let acc of _accountsCollection.accounts">
                            <td>
                                <label class="customCheckBox leftFolat" [class.inactive]="_accountsCollection.selectAll">
                                    <input type="checkbox" id="{{acc.Id}}" [disabled]="_accountsCollection.selectAll" [(ngModel)]="acc.IsChecked" (ngModelChange)="accountIdsChange(acc);" class="checker">
                                    <div class="custonCkeck"></div>
                                </label>
                                <div class="accountLabel" [style.background]="acc.AccountTypeCollor"></div>
                                <a [routerLink]="[acc.Id]">{{ acc.ShownName }}</a>
                            </td>

                            <td>
                                <span [tooltip]="acc.AccountManagerName" position="left" style="position:relative;">
                                    <img *ngIf="acc.AccountManagerId" [profilepicture]="acc.AccountManagerId"  style="height:30px;width:30px;border-radius:3px;"  />
                                </span>
                            </td>

                            <td>
                                {{ acc.AccountTypeName }}
                            </td>

                            <td>
                                <a *ngIf="acc.LastAction" (click)="clickAction(acc.LastAction)"><i class="fa fa-{{getIcon(acc.LastAction.Type)}} fa-fw"></i> {{acc.LastAction.Date | dateonly}}</a>
                                <a *ngIf="!acc.LastAction" (click)="newAction(acc.Id)">{{'NOPREVACTION' | translate}}</a>
                            </td>

                            <td>
                                <a *ngIf="acc.NextAction" (click)="clickAction(acc.NextAction)"><i class="fa fa-{{getIcon(acc.NextAction.Type)}} fa-fw"></i> {{acc.NextAction.Date | dateonly}}</a>
                                <a *ngIf="!acc.NextAction" (click)="newAction(acc.Id)">{{'NONEXTACTION' | translate}}</a>
                            </td>

                            <td>
                                <span><span *ngFor="let tag of acc.Tags" class="label label-info">{{tag}}</span></span>
                            </td>

                            <td>
                                <a (click)="delete(acc.Id)" class="link icon"><i class="fa fa-trash-o"></i></a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>

            <!--Loader-->
            <div class="preloaderWrapper evo-table" *ngIf="_accountsCollection.apiInProgress">
                <div class="preloader">
                    <div class="cssload-container">
                        <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
                    </div>
                </div>
            </div>

            <!--Placeholder-->
            <div class="evo-table gridWrapper" *ngIf="!_accountsCollection.apiInProgress && !_accountsCollection.accounts.length">{{'ACCOUNTINTRO' | translate}}</div>
            <div class="clearfix"></div>

        </div>

        <!--Mobile filter button-->
        <div class="filterController" (click)="toggleFiterbar()">
            <i class="fa fa-filter"></i>
        </div>

    </div>
</div>
<router-outlet></router-outlet>
<import></import>
<export [type]="personAccounts ? 'Person' : 'Company'" *ngIf="showExport" (close)="showExport = false"></export>