<div class="referredTree">
    <div class="title">
        <h4>{{ "REFERREDACCOUNTS" | translate }}</h4>
    </div>

    <div class="treeView">
        <ul>
            <li *ngFor="let account1 of referData">
                <a *ngIf="true" [routerLink]="['/CRM', 'PersonAccounts', account1.Id]">{{ account1.Name }}  </a>
                <a *ngIf="false" [routerLink]="['/CRM', 'Accounts', account1.Id]">{{ account1.Name }}  </a>
                <a class="icon" (click)="getTreeLevel(account1, $event)"><i class="fa fa-plus"></i></a>

                <ul *ngIf="account1.Referred?.length > 0 && account1.Expanded">
                    <li *ngFor="let account2 of account1.Referred">
                        <a *ngIf="true" [routerLink]="['/CRM', 'PersonAccounts', account2.Id]">{{ account2.Name }}  </a>
                        <a *ngIf="false" [routerLink]="['/CRM', 'Accounts', account2.Id]">{{ account2.Name }}  </a>
                        <a class="icon" (click)="getTreeLevel(account2, $event)"><i class="fa fa-plus"></i></a>

                        <ul *ngIf="account1.Referred?.length > 0 && account2.Expanded">
                            <li *ngFor="let account3 of account2.Referred">
                                <a *ngIf="true" [routerLink]="['/CRM', 'PersonAccounts', account3.Id]">{{ account3.Name }}  </a>
                                <a *ngIf="false" [routerLink]="['/CRM', 'Accounts', account3.Id]">{{ account3.Name }}  </a>
                                <a class="icon" (click)="getTreeLevel(account3, $event)"><i class="fa fa-plus"></i></a>

                                <ul *ngIf="account3.Referred?.length > 0 && account3.Expanded">
                                    <li *ngFor="let account4 of account3.Referred">
                                        <a *ngIf="true" [routerLink]="['/CRM', 'PersonAccounts', account4.Id]">{{ account4.Name }}  </a>
                                        <a *ngIf="false" [routerLink]="['/CRM', 'Accounts', account4.Id]">{{ account4.Name }}  </a>
                                        <a class="icon" (click)="getTreeLevel(account4, $event)"><i class="fa fa-plus"></i></a>

                                        <ul *ngIf="account4.Referred?.length > 0 && account4.Expanded">
                                            <li *ngFor="let account5 of account4.Referred">
                                                <a *ngIf="true" [routerLink]="['/CRM', 'PersonAccounts', account5.Id]">{{ account5.Name }}  </a>
                                                <a *ngIf="false" [routerLink]="['/CRM', 'Accounts', account5.Id]">{{ account5.Name }}  </a>
                                                <a class="icon" (click)="getTreeLevel(account5, $event)"><i class="fa fa-plus"></i></a>

                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>