.treeView li {
    margin: -4px 0px -4px 5px;
    position: relative;
}

.treeView > ul {
    padding-left: 0px !important;
    margin-top: 15px;
}

.treeView ul {
    padding-left: 18px;
    list-style: none;
    position: relative;
}

.treeView ul li:first-child:not(:last-child)::before {
    position: absolute;
    content: "";
    min-width: 8px;
    min-height: calc(100% - 2px);
    border-left: 1px solid black;
    top: 12px;
    left: -10px;
}

.treeView ul li:last-child:not(:first-child)::before {
    content: "";
    position: absolute;
    min-width: 8px;
    min-height: 8px;
    border-bottom: 1px solid black;
    top: 6px;
    left: -10px;
    border-radius: 0px 0px 0px 5px;
}

.treeView > ul > li:first-child:not(:last-child)::before {
    border-top: 1px solid black;
    border-radius: 5px 0px 0px 0px;
}

.treeView ul ul li:first-child:last-child::after {
    position: absolute;
    content: "";
    min-width: 8px;
    min-height: 10px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    top: 4px;
    left: -10px;
    border-radius: 0px 0px 0px 5px;
}

.treeView ul ul li:not(:last-child)::after {
    position: absolute;
    content: "";
    min-width: 8px;
    min-height: 10px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    top: 4px;
    left: -10px;
}

.treeView ul li:not(:first-child):not(:last-child)::before {
    position: absolute;
    content: "";
    min-width: 8px;
    min-height: calc(100% - 4px);
    border-left: 1px solid black;
    left: -10px;
    top: 14px;
}

.treeView ul li:not(:last-child):not(:first-child)::after {
    position: absolute;
    content: "";
    min-width: 8px;
    min-height: 10px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    top: 4px;
    left: -10px;
}

.treeView ul li:nth-last-of-type(2)::before {
    border-radius: 0px 0px 0px 5px;
}
.treeView > ul > li:first-child:nth-last-of-type(2)::before {
    border-radius: 5px 0px 0px 5px !important;
}