﻿.catalogueList {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin-top:20px;
}

.catalogueObject {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex:1;
    min-width: 250px;
    max-width: 250px;
    text-align:center;
    margin-bottom: 10px;
}

.catalogueName {
    font-size:16px;
}

.catalogueDescription {
    font-size:15px;
}

.catalogueProductCount {
    font-size:14px;
    color:#888;
}

.catalogueThumbnail{
    max-height:100px;
}
.priceListTable {
    table-layout: fixed;
}