﻿<div class="mainTitle">
    <h1>{{ "PRODUCTS" | translate }}</h1>
</div>

<div class="panelAction">
    <a class="btn" (click)="addcataloguemodal.showModal()">{{ "NEWCATALOGUE" | translate }}</a>
    <a class="btn" (click)="addproductmodal.showModal()">{{ "NEWPRODUCT" | translate }}</a>
    <a class="btn" (click)="addpricelistmodal.showModal()">{{ "NEWPRICELIST" | translate }}</a>
</div>

<div class="contentPanel settingsPage">
    <div class="contentWrapper">
        <div class="projectBox">
            <div class="row blockContent">
                <div class="col-lg-6">
                    <h4>{{"CATALOGUES" | translate}}</h4>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4"><input class="form-control" #searchFilter placeholder="{{'SEARCHFILTER' | translate}}" /> </div>
                    </div>
                    <div class="catalogueList">
                        <div *ngFor="let item of catalogues | CatalogueFilter: searchFilter.value ; let i = index" class="catalogueObject">
                            <div class="catalogueImage">
                                <img class="catalogueThumbnail clickable" (click)="cataloguemodal.showModal(item)" src="{{item.Image || '/assets/images/book.png'}}" />
                            </div>
                            <div class="catalogueDetails">
                                <div class="catalogueName"><a (click)="cataloguemodal.showModal(item)">{{item.Name}}</a></div>
                                <div class="catalogueProductCount">{{item.ProductsCount}} {{"PRODUCTS" | translate}}</div>
                                <div class="catalogueDescription">{{item.Description}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row blockContent">
                <div class="col-lg-12">
                    <h4>{{"PRICELISTS" | translate}}</h4>
                </div>
                <div class="col-lg-12 gridWrapper">
                    <table class="table priceListTable">
                        <tr>
                            <th>
                                {{ "NAME" | translate }}
                            </th>
                            <th>
                                {{"CURRENCY" | translate}}
                            </th>
                            <!--<th>{{ "PRICELISTAMOUNT" | translate }}</th>-->
                            <th colspan="3">{{ "DESCRIPTION" | translate }}</th>
                            <th></th>
                        </tr>
                        <tr *ngFor="let item of pricelists">
                            <td>
                                <span *ngIf="editingpricelist != item.Id || item.Editable == false" (click)="editPriceList(item)">{{item.Name}}</span>
                                <input *ngIf="editingpricelist == item.Id && item.Editable == true" (keydown.enter)="editPriceList(item)" class="form-control"
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="item.Name" />
                            </td>
                            <td>
                                <span *ngIf="editingpricelist != item.Id" (click)="editPriceList(item)">{{item.Currency}}</span>
                                <select *ngIf="editingpricelist == item.Id" (keydown.enter)="editPriceList(item)" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="item.Currency">
                                    <option *ngFor="let cur of selectedCurrencies" [value]="cur">{{cur}}</option>
                                </select>
                            </td>

                            <td colspan="3">
                                <span *ngIf="editingpricelist != item.Id || item.Editable == false" (click)="editPriceList(item)">{{item.Description}}</span>
                                <input *ngIf="editingpricelist == item.Id && item.Editable == true" (keydown.enter)="editPriceList(item)" class="form-control"
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="item.Description" />
                            </td>
                            <td>
                                <a *ngIf="editingpricelist != item.Id" class="link icon" (click)="editPriceList(item)">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <a *ngIf="editingpricelist == item.Id" class="link icon" (click)="editPriceList(item)">
                                    <i class="fa fa-floppy-o"></i>
                                </a>
                                <a class="link icon" *ngIf="item.Editable" (click)="confirmDeletePriceList(item.Id)">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<catalogue-modal #cataloguemodal (catalogueUpdated)="updateCatalogues()"></catalogue-modal>
<add-catalogue-modal #addcataloguemodal (catalogueSaved)="catalogueSaved($event)"></add-catalogue-modal>
<add-pricelist-modal #addpricelistmodal (priceListSaved)="priceListSaved($event)"></add-pricelist-modal>
<add-product-modal #addproductmodal (productSaved)="productSaved($event)" [catalogues]="catalogues" [pricelists]="pricelists"></add-product-modal>