<div class="popupOverlay in" [class.systemActive]="displayApply" (click)="back()"></div>
<div>
    <div class="sidePopup" [class.visible]="displayApply">
        <div class="contentWrapper row">
            <form #assignmentForm="ngForm">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>{{ 'PERSONALMESSAGE' | translate }}</label>
                        <textarea type="text" [(ngModel)]="assignmentPersonal" ngControl="personal" rows="10" class="form-control" id="input2" placeholder="{{ 'PERSONALMESSAGE' | translate }}" #personal="ngModel"></textarea>
                        <div [hidden]="hiddenErrorForPersonal()">{{ 'REQ' | translate }}</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="file-input"> {{ 'ATTACHMENTS' | translate }}</label>
                        <input id="file-input" multiple="multiple" name="image" type="file" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">{{ 'LINKS' | translate }}</label>
                        <ul class="list-undecorated links">
                            <li *ngFor="let link of links">
                                <a href="{{link.url}}" target="_blank">{{link.url}}</a> - {{link.name}}<a class="close" (click)="deleteLink(link)"><i class="fa fa-trash"></i></a>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="info-text press-enter "> {{ 'PRESSENTERTOADDLINK' | translate }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <input type="text" [(ngModel)]="newLink.url" class="form-control" placeholder="{{ 'LINKURL' | translate }}" (keyup)="addNewLink($event)">
                            </div>
                            <div class="col-xs-6">
                                <input type="text" [(ngModel)]="newLink.name" class="form-control" placeholder="{{ 'LINKNAME' | translate }}" (keyup)="addNewLink($event)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="buttonRow">
                        <input type="button" class="btn gray" value="{{ 'CANCELBTN' | translate }}" (click)="back()" />
                        <input type="button" [disabled]="disabledSubmit()" class="btn pull-right" (click)="applyForAssignment()" value="{{ 'ADDBTN' | translate }}" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
