.fa-money.rain {
    position: absolute;
    color:green;
    z-index: 1;
    background-color: #ddd;
    animation: 10s fall linear forwards, 5s wiggle  linear infinite forwards;
}

@-webkit-keyframes fall {
    0% {
        top:0px;
    }
    100% {
        top: 300px;
    }
}

@-webkit-keyframes wiggle {
    0% {
        transform: translateX(-4px) rotateX(90deg) rotate(10deg);
    }
    25% {
        transform: translateX(5px) rotateX(180deg) rotate(-10deg);
    }
    50% {
        transform: translateX(-4px) rotateX(270deg) rotate(10deg);
    }
    75% {    
        transform: translateX(5px) rotateX(360deg) rotate(-10deg);
    }
    100% {
        transform: translateX(-2px) rotateX(450deg) rotate(10deg);
    }
}