<div class="mainTitle leftFree">
    <h1>{{ 'DEALS' | translate }}</h1>
</div>

<div class="contentPanel leftFree dealsPage"  scrollTracker scrollStart="1000" (scrollBottom)="_listing.onScroll()">
    <div class="contentWrapper">

        <div class="selectSalesProsess" [class.hidden]='displayExport'>
            <select id="SaleprocessDropdown" #sale [(ngModel)]='salesProcess' (change)="salesProcess=sale.value;changeSale()">
                <option *ngFor="let status of saleProcessArray" [value]="status.Id">{{status.Name}}</option>
            </select>
            <div class="selIcon">
                <i class="fa fa-angle-down fa-2"></i>
            </div>
            <br />
            <select id="UserDropdown" #user [(ngModel)]='userFilter' (change)="changeUser(user.value)">
                <option value="">{{'ALLUSERS' |translate}}</option>
                <option *ngFor="let user of users" [value]="user.value">{{user.label}}</option>
            </select>
            <div class="selIcon" style="top:29px">
                <i class="fa fa-angle-down fa-2"></i>
            </div>
        </div>

        <div id="DealsTrelloSummary" class="trelloSummary" [class.hidden]='displayExport'>
            <b>{{ pipe == 'salePipe' ? dealCount.salePipe : dealCount.postSales }}</b> {{ 'DEALTOTALVALUE' | translate }} <b>{{ (pipe == 'salePipe' ? value.salePipe : value.postSales) | bigNumber }} {{currency}}</b> <br />
            <span *ngIf="pipe == 'salePipe'">{{ 'DEALTOTALFORCAST' | translate }}<b> {{ (pipe == 'salePipe' ? forecast.salePipe : forecast.postSales) | bigNumber }} {{currency}}</b></span>
        </div>

        <div class="planeTab">
            <tabset class="customTab fitTab fitButton-3 rightAligned">
                <tab id="SalespipeButton" heading="{{'SALESPIPE' | translate}}" (select)="displayExport=false;pipe='salePipe';">
                    <deal-overview [trello]="_deal.prerenderd" type="salePipe" [currency]="currency" (value)="value.salePipe=$event" (forecast)="forecast.salePipe=$event" (deals)="dealCount.salePipe=$event"></deal-overview>
                </tab>
                <tab id="PostSalesButton" heading="{{'POSTSALES' | translate}}" (select)="displayExport=false;pipe='postSale'">
                    <deal-overview [trello]="_deal.prerenderd" type="postSales" [currency]="currency" (value)="value.postSales=$event" (forecast)="forecast.postSales=$event" (deals)="dealCount.postSales=$event"></deal-overview>
                </tab>
                <tab id="ListButton" heading="{{'ACTIONLIST' | translate}}" (select)='displayExport=true;'>
                    <deal-listing #listing></deal-listing>
                </tab>
            </tabset>
        </div>
    </div>
</div>
 <actionright [closeFunc]="rightPanelCloseFunc" [display]='_deal.rightPanelAccount != null' [account]="_deal.rightPanelAccount"></actionright> 
<router-outlet></router-outlet>