<div class="contentPanel leftFree">
    <div class="contentWrapper">
        <div class="projectBox">
            <tabset class="customTab">

                <!-- Users -->
                <tab heading="All Users">
                    <div class="tab-content">
                        <div class="filterBox clearfix">

                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label for="">Filter by Name</label>
                                        <input type="text" [(ngModel)]="userfilterForm.UserName" placeholder="User Name" id="" class="form-control" (keyup)="getAdminUsersonFilter()">
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label for="">Filter by User Email</label>
                                        <input type="text" placeholder="User Email" id="" class="form-control" (keyup)="getAdminUsersonFilter()" [(ngModel)]="userfilterForm.UserEmail">
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label for="">Filter by Date Created</label>
                                        <evo-datepicker [range]="true" (valueChange)="onFilterDateChanged()" [(rangeStartDate)]='filterStartDate' [(rangeEndDate)]='filterLastLogin'></evo-datepicker>
                                    </div>
                                </div>

                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label for="">Filter by Last Login</label>
                                        <evo-datepicker [range]="true" (valueChange)="onFilterDateChanged()" [(rangeStartDate)]='filterStartDate' [(rangeEndDate)]='filterLastLogin'></evo-datepicker>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="contentPanel1" scrollTracker (scrollBottom)="onScrollusers($event)">
                            <div class="gridWrapper" id="users">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Avatar</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Date Created</th>
                                            <th>Date Last Login</th>
                                            <th>Latest Language</th>
                                        </tr>
                                    </thead>
                                    <p *ngIf="users.length==0">{{ 'NOUSERS' | translate }}</p>
                                    <tbody *ngIf="users.length!=0">
                                        <tr *ngFor="let user of users">
                                            <td><img *ngIf="!(user.ProfilePictureUrl)" width="40" height="40" src="assets/images/avatar.jpg"
                                                    (click)="passwordModal.showModal(user.Id, user.FullName)">
                                                <img *ngIf="user.ProfilePictureUrl" [src]="user.ProfilePictureUrl" width="40" height="40" (click)="passwordModal.showModal(user.Id, user.FullName)">
                                            </td>
                                            <td><a (click)="passwordModal.showModal(user.Id, user.FullName)"> {{user.FullName }} </a>                                                </td>
                                            <td>{{user.Email}}</td>
                                            <td>{{stringAsDate(user.DateCreated)| datetime}}</td>
                                            <td>{{stringAsDate(user.DateLastLogin)| datetime}}</td>
                                            <td>{{user.Language}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </tab>

                <!-- Organisations -->
                <tab heading="All Organisations">
                    <div class="filterBox clearfix">

                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-2">
                                <div class="form-group">
                                    <label>Filter by Name</label>
                                    <input type="text" [(ngModel)]="orgfilterForm.OrgName" name="OrgName" placeholder="Organisation Name" class="form-control"
                                        (keyup)="getOrganizationsonFilter()">
                                </div>
                            </div>

                            <div class="col-sm-3 col-md-3 col-lg-2">
                                <div class="form-group">
                                    <label>Filter by Created Person</label>
                                    <input type="text" name="CreatedBy" placeholder="Account Manager" [(ngModel)]="orgfilterForm.CreatedBy" class="form-control"
                                        (keyup)="getOrganizationsonFilter()">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="contentPanel1" scrollTracker (scrollBottom)="onScrollOrganization($event)">
                        <div class="gridWrapper">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Logo</th>
                                        <th>Organization Name</th>
                                        <th>Created by</th>
                                        <th>Date created</th>
                                        <th>Users</th>
                                        <th>Accounts</th>
                                        <th>Deals</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>

                                <p *ngIf="orgs.length==0">{{ 'NOORGS' | translate }}</p>
                                <tbody *ngIf="orgs.length!=0">
                                    <tr *ngFor="let org of orgs">
                                        <td><img *ngIf="!(org.HasImage)" width="40" height="40" src="assets/images/avatar.jpg">
                                            <img *ngIf="org.HasImage" [src]="org.ImageUrl" width="40" height="40"></td>
                                        <td><a (click)="showOptionsPopup(org)">{{org.OrganisationName }}</a></td>
                                        <td>{{org.CreatedBy}}</td>

                                        <td *ngIf="org.DateCreated">{{stringAsDate(org.DateCreated)| datetime}}</td>

                                        <td>{{org.NumberOfUsers}}</td>
                                        <td>{{org.NumberOfAccounts}}</td>
                                        <td>{{org.NumberOfDeals}}</td>
                                        <td>{{org.NumberOfActions}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </tab>
            </tabset>
        </div>
    </div>
</div>

<!-- Organisation Popup -->
<div class="customPopup small" [class.systemActive]="optionsPopup" id="PackageOrLoginPopup" (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title">
            {{ optionsPopup?.OrganisationName }}
        </div>
        <div class="popupContent">

            <div *ngFor="let package of optionsPopup?.Packages">
                <div class="row">
                    <div class="col-lg-12">
                        <h4>{{ packageNameLib[package.PackageId] }}</h4>
                    </div>
                    <div class="col-lg-6">
                        Active: {{ package.Active }}
                    </div>
                    <div class="col-lg-6">
                        Manual: {{ package.ManualPayment }}
                    </div>
                    <div class="col-lg-6">
                        Expires: {{ package.PaidUntil | dateonly }}
                    </div>
                    <div class="col-lg-6">
                        Licences: {{ package.Licences }}                        
                    </div>
                    <div class="col-lg-6">
                        Interval: {{ package.Interval }}
                    </div>
                    <div class="col-lg-6">
                        Currency: {{ package.Currency }}
                    </div>

                    <div class="col-md-12">
                        <a class="btn custom small pull-right" (click)="editPackage(package)">Change</a>
                    </div>
                </div>
                
            </div>

            <h4>{{ editPackMode ? packageNameLib[adminAddPackage.PackageId] : ("ADDPACKAGE" | translate) }}</h4>

            <div class="row">
                <div class="col-lg-6" *ngIf="!editPackMode">
                    <label> {{ "PACKAGE" | translate }}</label>
                    <div class="form-group">
                        <select *ngIf="!editPackMode" class="form-control" [ngModel]="adminAddPackage.PackageId" (ngModelChange)="setSelectedPackage($event)"> 
                            <option *ngFor="let package of packageList" [value]="package.Id">{{ package.NameLabel }}</option>
                        </select>
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <label> {{ "LICENCES" | translate }}</label>
                    <div class="form-group">
                        <input type="number" min="0" no-scroll class="form-control" [(ngModel)]="adminAddPackage.Licences" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>{{ 'ENDDATE' | translate }}</label>
                        <evo-datepicker id="PackageEndDate" [dateOnly]="true" [(ngModel)]="adminAddPackage.PaidUntil" [defaultDate]="today"></evo-datepicker>
                    </div>
                </div>

                <div class="col-lg-6" *ngIf="!editPackMode">
                    <div class="form-group">
                        <label> {{ "CURRENCY" | translate }}</label>
                        <select class="form-control" [(ngModel)]="adminAddPackage.Currency">
                            <!--<option *ngFor="let cur of currencyList" [value]="cur"> {{ cur }}</option>-->
                            <option value="USD">USD</option>
                            <option value="SEK">SEK</option>
                            <option value="EUR">EUR</option>
                        </select>
                    </div>
                    <div class="col-lg-6" *ngIf="!editPackMode">
                        <div class="form-group">
                            <label>{{ 'TRIAL' | translate }}</label>
                            <label class="customCheckBox leftFolat" id="custome-check">
                            <input type="checkbox" id="isTrial" [(ngModel)]="adminAddPackage.Trial" class="checker" name="isTrial">
                            <div class="custonCkeck"></div>
                        </label>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="adminAddPackage.PackageId">
                <label> {{ "ADDEDUSERS" | translate }} </label>
                <div class="userList">
                    <div *ngFor="let user of addedUsers">
                        <img [profilepicture]="user.value" [tooltip]="user.label" (click)="removeUserLicence(user)" />
                    </div>
                </div>
                <label> {{ "AVAILABLEUSERS" | translate }}</label>
                <div class="userList">
                    <div *ngFor="let user of avalibleUsers">
                        <img [profilepicture]="user.value" [tooltip]="user.label" (click)="addUserLicence(user)" />
                    </div>
                </div>
            </div>
            <hr />
            <a class="btn pull-right" (click)="addPackage()">{{ (editPackMode ? "SAVE" : "ADD") | translate }}</a>
            <span class="pull-right" *ngIf="adminAddPackage.Interval == 'Monthly'">
                Price: {{ adminAddPackage.Licences * selectedPackage.MonthlyPrices[adminAddPackage.Currency] }} {{ adminAddPackage.Currency }}
            </span>
            <span class="pull-right" *ngIf="adminAddPackage.Interval == 'Yearly'">
                Price: {{ adminAddPackage.Licences * selectedPackage.YearlyPrices[adminAddPackage.Currency] }} {{ adminAddPackage.Currency }}
            </span>

            <a class="link pull-left" (click)="changeOrganisation(optionsPopup?.Id)">Logga in på org</a>
        </div>
    </div>
</div>

<change-password #passwordModal></change-password>