<div [ngClass]="{'customPopup big contractsInfo systemActive' : !edit}" id="add" (click)="clickToClose($event)">
    <div [ngClass]="{'popupBox': !edit}">
        <div *ngIf="!edit" class="title">
            <span>{{ 'ADDCONTRACT' | translate }} </span>
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <div [ngClass]="{'popupContent': !edit, 'contracts-edit-container' : edit}">
            <div class="row">
                <i *ngIf="!editMode" style="cursor: pointer;" class="fa fa-pencil pull-right" tooltip="{{'EDIT' | translate}}" (click)="editMode = true;"></i>
            </div>
            <form #f="ngForm" class="row">
                <div [ngClass]="{'col-md-6' : !edit, 'col-md-12' : edit}">

                    <!-- Name -->
                    <div class="form-group">
                        <label for="contractsName">{{ 'NAME' | translate }}</label>
                        <input [style.display]="editMode ? 'initial' : 'none'" id="ContractsName" type="text" class="form-control" [(ngModel)]="contract.Name"
                            name="Name" #name="ngModel" required>
                        <p *ngIf="!editMode" class="contracts-edit-p">{{contract.Name}}</p>
                        <div [hidden]="name.untouched || name.valid" class="bg-danger">
                            {{ 'REQ' | translate }}
                        </div>
                    </div>

                    <!-- Dates -->
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>{{ 'STARTDATE' | translate }}</label>
                            <evo-datepicker *ngIf="editMode" [(ngModel)]="contract.StartDate" [dateOnly]="true" name="startDate" #startDate="ngModel"></evo-datepicker>
                            <p *ngIf="!editMode" class="contracts-edit-p">{{contract.StartDate | dateonly}}</p>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>{{ 'ENDDATE' | translate }}</label>
                            <evo-datepicker *ngIf="editMode" [(ngModel)]="contract.EndDate" [minDate]="contract.StartDate" [dateOnly]="true" [defaultDate]="contract.StartDate"
                                name="endDate" #endDate="ngModel" required></evo-datepicker>
                            <p *ngIf="!editMode" class="contracts-edit-p">{{contract.EndDate ? (contract.EndDate | dateonly) : ('NOENDDATE' | translate)}}</p>
                        </div>
                    </div>

                    <!-- Notes (edit-mode)-->
                    <div *ngIf="edit" class="form-group">
                        <label style="font-weight: normal;">{{ 'NOTE' | translate }}</label>
                        <textarea *ngIf="editMode" id="ContractsNote" [(ngModel)]="contract.Notes" name="Comments" #Comments="ngModel" class="form-control"></textarea>
                        <p *ngIf="!editMode" class="contracts-edit-p">{{contract.Notes}}</p>
                    </div>

                    <!-- MilestoneDates -->
                    <div class="form-group">
                        <label>{{'MILESTONEDATES' | translate}}</label><br>
                        <!--<div class="headline">
                                <h4>{{ 'MILESTONEDATES' | translate }}</h4>
                                <a (click)="openMilestone(); milestonePopup.open()" class="btn pull-right evo-plus-btn">+</a>
                            </div>-->
                        <div *ngFor="let date of contract?.MilestoneDates; let i = index;" (click)="openEditMilestone(i); milestonePopup.open();"
                            [style.cursor]="editMode ? 'pointer' : 'initial'">
                            <i class="fa fa-calendar" style="margin-right: 3px;"></i>
                            <span [tooltip]="date.Description">{{date.Name | shortstring:28}}</span>
                            <i *ngIf="editMode" class="fa fa-trash pull-right" (click)="deleteMilestone(i)"></i>
                            <div style="margin-left: 25px;">
                                <span class="evo-subtitle">{{date.Date | datetime}}</span>
                                <i *ngIf="date.ReminderDate" class="fa fa-bell" [tooltip]="date.ReminderDate | datetime"></i>
                            </div>
                        </div>
                        <a *ngIf="editMode" class="link" (click)="openMilestone(); milestonePopup.open();">
                                <i class="fa fa-plus"></i>
                            </a>
                        <!--<span *ngIf="!contract?.MilestoneDates?.length && !currentMilestone">{{ 'NOMILESTONEDATESYET' | translate }}</span>-->
                        <div #milestonePopup class="bubble-popup" classes="full-width" style="width: 100%" (closed)="closeMilestone()">
                            <form *ngIf="currentMilestone" #mileForm="ngForm" novalidate>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{ 'NAME' | translate }}</label>
                                            <input id="MilestoneName" type="text" class="form-control" [(ngModel)]="currentMilestone.Name" name="MilestoneName" #milestoneName="ngModel"
                                                required>
                                            <div [hidden]="milestoneName.untouched || milestoneName.valid" class="bg-danger">
                                                {{ 'REQ' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{ 'DESCRIPTION' | translate }}</label>
                                            <input id="MilestoneDescription" type="text" class="form-control" [(ngModel)]="currentMilestone.Description" name="MilestoneDescription"
                                                #milestoneDescription="ngModel">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ 'MILESTONEDATE' | translate }}</label>
                                            <evo-datepicker [(ngModel)]="currentMilestone.Date" [minDate]="contract.StartDate" [maxDate]="contract.EndDate" name="milestoneDate"
                                                #milestoneDate="ngModel"></evo-datepicker>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ 'REMINDERDATE' | translate }}</label>
                                            <evo-datepicker [(ngModel)]="currentMilestone.ReminderDate" [defaultDate]="currentMilestone.ReminderDate || currentMilestone.Date"
                                                [maxDate]="currentMilestone.Date" name="reminderDate" #reminderDate="ngModel"></evo-datepicker>
                                        </div>
                                    </div>
                                </div>
                                <button *ngIf="milestoneEdit" class="evo-btn small contracts-small pull-right" [disabled]="mileForm.invalid" style="bottom:0px;"
                                    (click)="editMilestone()">{{'SAVE' | translate}}</button>
                                <button *ngIf="!milestoneEdit" class="evo-btn small contracts-small pull-right" [disabled]="mileForm.invalid" style="bottom:0px;"
                                    (click)="addMilestone()">{{ 'ADD' | translate }}</button>
                                <div style="clear: both;"></div>
                            </form>
                        </div>
                    </div>

                    <!-- Categories -->
                    <div class="form-group">
                        <label>{{'CATEGORIES' | translate}}</label><br>
                        <!--<div class="headline">
                                <h4>{{ 'CATEGORIES' | translate }}</h4>
                                <a (click)="categoryPopup.open()" class="btn pull-right evo-plus-btn">+</a>
                            </div>-->
                        <div>
                            <span *ngFor="let cat of contract.Categories" class="label" [style.background-color]="getCatColor(cat.Id)" [style.color]="getCatFontColor(cat.Id)">{{cat.Name}}</span>
                            <!--<span *ngIf="!contract?.Categories?.length">{{ 'NOCATEGORIESYET' | translate }}</span>-->
                        </div>
                        <div class="clearfix"></div>
                        <a *ngIf="editMode" class="link" (click)="categoryPopup.open()">
                                <i class="fa fa-plus"></i>
                            </a>
                        <div #categoryPopup id="categoryAdd" class="bubble-popup" style="min-width: 350px;" classAvoidClose="prevent-close">
                            <div *ngIf="selectedCategoryGroups?.length" class="chosen-users">
                                <label>{{'CATEGORIESADDED' | translate}}</label>
                                <div class="contracts-category-added" *ngFor="let catGroup of selectedCategoryGroups; let i = index;">
                                    <span class="category-item prevent-close" [style.color]="catGroup.FontColor || '#FFF'" [style.background-color]="catGroup.Color">{{catGroup.Name}}</span>&nbsp;
                                    <i *ngIf="!catGroup.IsRequired" class="fa fa-minus prevent-close" (click)="deselectCategoryGroup(catGroup, i)"></i><br>
                                    <div class="tag-edit-cont">
                                        <tag-edit-text class="contracts-category-edit form-control boxify prevent-close" [items]="getCategoryItems(catGroup.Id)"
                                            (itemsChange)="onCategoryChange(catGroup.Id, $event)" [itemsSource]="catGroup.Categories"
                                            [bgColor]="catGroup.Color" [color]="catGroup.FontColor" [showFilter]="true" [singleSelect]="!catGroup.CanMultiSelect"
                                            [disableEdit]="!catGroup.IsEditable" [placeholder]="'CATEGORIES' | translate"></tag-edit-text>
                                    </div>
                                    <div class="contracts-clear"></div>
                                </div>
                            </div>
                            <hr *ngIf="selectedCategoryGroups?.length && notSelectedCategoryGroups?.length" class="contracts-hr">
                            <div *ngIf="notSelectedCategoryGroups?.length" class="addUsers">
                                <label>{{'CHOOSECATEGORYGROUP' | translate}}</label>
                                <div class="category-container">
                                    <span class="category-item prevent-close" *ngFor="let cat of notSelectedCategoryGroups; let i = index;" [style.color]="cat.FontColor || '#FFF'"
                                        [style.background-color]="cat.Color" (click)="selectCategoryGroup(cat, i)">{{cat.Name}}</span>
                                </div>
                            </div>
                            <div *ngIf="permission.handleContracts">
                                <hr class="contracts-hr">
                                <div>
                                    <a class="clickable evo-cancel-link" (click)="openAddCategoryGroup()">{{'ADDNEWCATEGORYGROUP' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Column 2 -->
                <div [ngClass]="{'col-md-6' : !edit, 'col-md-12' : edit}">

                    <!-- Notes (add-mode)-->
                    <div *ngIf="!edit" class="form-group">
                        <label style="font-weight: normal;">{{ 'NOTE' | translate }}</label>
                        <textarea *ngIf="editMode" id="ContractsNote" [(ngModel)]="contract.Notes" name="Comments" #Comments="ngModel" class="form-control"></textarea>
                        <p *ngIf="!editMode" class="contracts-edit-p">{{contract.Notes}}</p>
                    </div>

                    <!-- OurParties -->
                    <div class="form-group">
                        <label>{{'OURPARTIES' | translate}}</label><br>
                        <div style="margin-bottom: 3px;" *ngFor="let party of contract?.OurParties">
                            <img *ngIf="party.UserId" class="contracts-user-image-small contracts-user-icons" [profilepicture]="party.UserId" />
                            <i *ngIf="!party.UserId" class="fa fa-user contracts-big-icon contracts-user-icons"></i>
                            <span>{{ party.DisplayName }}</span>
                            <a *ngIf="party.UserId" (click)="onRemoveUser(party.UserId)"><i *ngIf="editMode" class="fa fa-trash contracts-add-trash pull-right"></i></a>
                            <a *ngIf="!party.UserId" (click)="onRemoveNonUser(party)"><i *ngIf="editMode" class="fa fa-trash contracts-add-trash pull-right"></i></a>
                        </div>
                        <a *ngIf="editMode" class="link" (click)="ourPopup.open()">
                            <i class="fa fa-plus"></i>
                        </a>
                        <!--<span *ngIf="!contract?.OurParties?.length">{{ 'NOPARTIESYET' | translate }}</span>-->
                        <div #ourPopup id="usersAdd" class="bubble-popup full-width" classAvoidClose="prevent-close" [classes]="selectedAddOur === SelectedUser.Nonuser ? 'full-width' : ''"
                            (closed)="closeAddOur()">
                            <div *ngIf="!selectedAddOur">
                                <a class="popup-text evo-cancel-link prevent-close" (click)="selectedAddOur = SelectedUser.User">{{'ADDUSER' | translate}}</a><br>
                                <a class="popup-text evo-cancel-link prevent-close" (click)="selectedAddOur = SelectedUser.Nonuser;">{{'ADDNONUSER' | translate}}</a>
                            </div>
                            <div *ngIf="selectedAddOur === SelectedUser.User" style="width: 215px; white-space: normal">
                                <div>
                                    <label style="display: block;">{{'ADDEDUSERS' | translate}}</label>
                                    <div class="evo-img-hover prevent-close" *ngFor="let user of contract?.OurParties | hasproperty:'UserId'" (click)="onRemoveUser(user.UserId)"
                                        [tooltip]="user.UserId | username">
                                        <img class="contracts-user-image-small prevent-close" [profilepicture]="user.UserId" />
                                    </div>
                                </div>
                                <hr>
                                <div>
                                    <label style="display: block;">{{'USERSTOADD' | translate}}</label>
                                    <div *ngFor="let user of userList; let i = index;" class="contracts-inline">
                                        <img class="contracts-user-image-small prevent-close" [profilepicture]="user.Id" tooltip="{{user.Id | username}}" (click)="onAddUser(user.Id, i)"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="selectedAddOur === SelectedUser.Nonuser" class="full-width">
                                <form #nonUserForm="ngForm" class="popup-form" novalidate>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label>{{'FIRSTNAME' | translate}}</label>
                                            <input class="form-control" required [(ngModel)]="nonUserParty.FirstName" id="firstNameNonUser" #firstNameNonUser="ngModel"
                                                type="text" name="firstNameNonUser" />
                                            <div [hidden]="firstNameNonUser.untouched || firstNameNonUser.valid" class="bg-danger">
                                                {{ 'REQ' | translate }}
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>{{'LASTNAME' | translate}}</label>
                                            <input class="form-control" required [(ngModel)]="nonUserParty.LastName" id="lastNameNonUser" type="text" #lastNameNonUser="ngModel"
                                                name="lastNameNonUser" />
                                            <div [hidden]="lastNameNonUser.untouched || lastNameNonUser.valid" class="bg-danger">
                                                {{ 'REQ' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label>{{'EMAIL' | translate}}</label>
                                            <input emailValidator class="form-control" [(ngModel)]="nonUserParty.Email" id="emailNonUser" type="text" #emailNonUser="ngModel"
                                                name="emailNonUser" />
                                            <div [hidden]="emailNonUser.untouched || emailNonUser.valid" class="bg-danger">
                                                {{ 'NOTVALIDEMAIL' | translate }}
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>{{'PERSONALNO' | translate}}</label>
                                            <input class="form-control" [(ngModel)]="nonUserParty.PersonalNo" id="personalNoNonUser" type="text" #personalNoNonUser="ngModel"
                                                name="personalNoNonUser" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label>{{'PHONE' | translate}}</label>
                                            <input class="form-control" [(ngModel)]="nonUserParty.Phone" id="phoneNonUser" type="text" #phoneNonUser="ngModel" name="phoneNonUser"
                                            />
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <button [disabled]="nonUserForm.invalid" class="btn evo-btn small pull-right" style="margin-top:22px;" (click)="onAddNonUser(); ourPopup.close()">{{ 'ADD' | translate }}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- TheirParties -->
                    <div class="form-group add-form">
                        <label>{{'THEIRPARTIES' | translate}}</label><br>
                        <!--<div class="headline">
                                <h4>{{ 'THEIRPARTIES' | translate }}</h4>
                                <a (click)="onOpenTheirPopup(); theirPopup.open()" class="btn pull-right evo-plus-btn">+</a>
                            </div>-->
                        <div class="list-cont" *ngFor="let party of contract?.TheirParties">
                            <i *ngIf="party.CompanyName" class="fa fa-building contracts-big-icon contracts-user-icons"></i>
                            <i *ngIf="party.FirstName && !party.CompanyName" class="fa fa-user-secret contracts-big-icon contracts-user-icons"></i>
                            <i *ngIf="party.AccountId && party.IsPerson" class="fa fa-user contracts-big-icon contracts-user-icons"></i>
                            <i *ngIf="party.AccountId && !party.IsPerson" class="fa fa-industry contracts-big-icon contracts-user-icons"></i>
                            <span>{{ party.DisplayName | shortstring:35}}</span>
                            <a *ngIf="editMode && party.FirstName" (click)="onRemoveNonUserTheir(party)"><i class="fa fa-trash contracts-add-trash pull-right"></i></a>
                            <a *ngIf="editMode && party.AccountId" (click)="onRemoveTheirAccount(party.AccountId)"><i class="fa fa-trash contracts-add-trash pull-right"></i></a>
                            <div class="contacts-container" *ngIf="party.CompanyName && party.FirstName">
                                <span class="contracts-user-icons">&nbsp;</span>
                                <span class="evo-subtitle">{{ party.FirstName + ' ' + party.LastName }}</span>
                            </div>
                            <div class="contacts-container" *ngFor="let contact of party.Contacts">
                                <span class="contracts-user-icons">&nbsp;</span>
                                <span class="evo-subtitle">{{ contact.DisplayName }}</span>
                            </div>
                        </div>
                        <a *ngIf="editMode" class="link" (click)="onOpenTheirPopup(); theirPopup.open()">
                                <i class="fa fa-plus"></i>
                            </a>
                        <!--<span *ngIf="!contract?.TheirParties?.length">{{ 'NOPARTIESYET' | translate }}</span>-->
                        <div #theirPopup id="theirAdd" class="bubble-popup" style="min-width: 450px;" classAvoidClose="prevent-close" classes="full-width"
                            (closed)="onTheirPopupClose()">
                            <div *ngIf="!selectedAddTheir">
                                <a class="popup-text evo-cancel-link prevent-close" (click)="selectedAddTheir = SelectedUser.Company">{{'ADDCOMPANYACCOUNT' | translate}}</a><br>
                                <a class="popup-text evo-cancel-link prevent-close" (click)="selectedAddTheir = SelectedUser.Person">{{'ADDPERSONACCOUNT' | translate}}</a><br>
                                <a class="popup-text evo-cancel-link prevent-close" (click)="selectedAddTheir = SelectedUser.Noncompany">{{'ADDNONCOMPANY' | translate}}</a><br>
                                <a class="popup-text evo-cancel-link prevent-close" (click)="selectedAddTheir = SelectedUser.Nonperson">{{'ADDNONPERSON' | translate}}</a>
                            </div>
                            <div [hidden]="selectedAddTheir !== SelectedUser.Company">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ 'COMPANY' | translate }}</label><br>
                                            <chosen id="ContractsAccount" class="prevent-close" [ngModelOptions]="{standalone: true}" [(ngModel)]="companyAccount" [width]="'100%'"
                                                [multiple]="false" [options]="accountList" [placeholderText]="('SELECTCOMPANY' | translate)"
                                                emitChosenModel="true" (onSearch)="companyListSearch($event)" (onScroll)="companyListSearch($event.term, true, $event.page)"
                                                (change)="onAccountChosen($event, false)"></chosen>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ 'CONTACTS' | translate }}</label><br>
                                            <chosen id="ContractsAccountContact" class="prevent-close" [ngModelOptions]="{standalone: true}" [(ngModel)]="contactsToAdd"
                                                [width]="'100%'" [multiple]="true" [options]="contactsList" [placeholderText]="('SELECTCONTACT' | translate)"
                                                emitChosenModel="true" (change)="onContactChosen($event)"></chosen>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div [hidden]="selectedAddTheir !== SelectedUser.Person">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{ 'PERSON' | translate }}</label><br>
                                            <chosen id="ContractsPersonAccount" [ngModelOptions]="{standalone: true}" [(ngModel)]="personAccountId" [width]="'100%'"
                                                [multiple]="false" [options]="personAccountList" [placeholderText]="('SELECTPERSON' | translate)"
                                                emitChosenModel="true" (onSearch)="personListSearch($event)" (onScroll)="personListSearch($event.term, true, $event.page)"
                                                (change)="onAccountChosen($event, true)"></chosen>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div [hidden]="selectedAddTheir !== SelectedUser.Noncompany && selectedAddTheir !== SelectedUser.Nonperson">
                                <form *ngIf="nonTheirUserParty" #nonUserTheirForm="ngForm" class="popup-form" novalidate>
                                    <div *ngIf="selectedAddTheir === SelectedUser.Noncompany" class="row">
                                        <div class="form-group col-sm-6">
                                            <label>{{'COMPANYNAME' | translate}}</label>
                                            <input class="form-control" required [(ngModel)]="nonTheirUserParty.CompanyName" #companyNameNonUserTheir="ngModel" id="companyNameNonUserTheir"
                                                type="text" name="companyNameNonUserTheir" />
                                            <div [hidden]="companyNameNonUserTheir.untouched || companyNameNonUserTheir.valid" class="bg-danger">
                                                {{ 'REQ' | translate }}
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>{{'COMPANYORGNO' | translate}}</label>
                                            <input class="form-control" [(ngModel)]="nonTheirUserParty.CompanyOrgNo" id="companyNoNonUserTheir" type="text" name="companyNoNonUserTheir"
                                            />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label>{{'FIRSTNAME' | translate}}</label>
                                            <input class="form-control" [attr.required]="selectedAddTheir !== SelectedUser.Nonperson" [(ngModel)]="nonTheirUserParty.FirstName"
                                                #firstNameNonUserTheir="ngModel" id="firstNameNonUserTheir" name="firstNameNonUserTheir"
                                                type="text" />
                                            <div [hidden]="firstNameNonUserTheir.untouched || firstNameNonUserTheir.valid" class="bg-danger">
                                                {{ 'REQ' | translate }}
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>{{'LASTNAME' | translate}}</label>
                                            <input class="form-control" [attr.required]="selectedAddTheir !== SelectedUser.Nonperson" [(ngModel)]="nonTheirUserParty.LastName"
                                                #lastNameNonUserTheir="ngModel" id="lastNameNonUserTheir" type="text" name="lastNameNonUserTheir"
                                            />
                                            <div [hidden]="lastNameNonUserTheir.untouched || lastNameNonUserTheir.valid" class="bg-danger">
                                                {{ 'REQ' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label>{{'EMAIL' | translate}}</label>
                                            <input class="form-control" emailValidator [(ngModel)]="nonTheirUserParty.Email" #emailNonUserTheir="ngModel" id="emailNonUserTheir"
                                                type="text" name="emailNonUserTheir" />
                                            <div [hidden]="emailNonUserTheir.untouched || emailNonUserTheir.valid" class="bg-danger">
                                                {{ 'NOTVALIDEMAIL' | translate }}
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label>{{'PHONE' | translate}}</label>
                                            <input class="form-control" [(ngModel)]="nonTheirUserParty.Phone" id="phoneNonUserTheir" type="text" name="phoneNonUserTheir"
                                            />
                                        </div>
                                    </div>
                                    <button [disabled]="nonUserTheirForm.invalid" class="btn evo-btn small pull-right" style="bottom:0px;" (click)="onAddNonUserTheir(); theirPopup.close();">{{ 'ADD' | translate }}</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Files -->
                    <div class="form-group add-form">
                        <label>{{'FILES' | translate}}</label><br>
                        <div>
                            <ul class="list-unstyled" *ngIf="contract?.Files?.length > 0">
                                <li *ngFor="let file of contract?.Files">
                                    <i class="fa fa-file left icon contracts-big-icon contracts-user-icons"></i>
                                    <a *ngIf="!edit" [downloadFile]="file">
                                            {{(file.Name || "Unknown file") | shortstring: 25}}
                                        </a>
                                    <a *ngIf="edit" (click)="onFileClick(file)">
                                            {{(file.Name || "Unknown file") | shortstring: 25}}
                                        </a>
                                    <!-- fileinput.value = null to be able to select the last delted file again -->
                                    <a (click)="deleteFile(file.Id); fileInput.value = null;">
                                            <i *ngIf="editMode" class="fa fa-trash pull-right"></i>
                                        </a>

                                    <a [downloadFile]="file">
                                            <i tooltip="{{'DOWNLOAD' | translate}}" class="fa fa-download pull-right"></i>
                                        </a>
                                </li>
                            </ul>
                            <img *ngIf="fileProcessing" style="width: 24px; display: block;" src="assets/images/preloader1.gif" />
                            <label *ngIf="editMode" for="contractDoc">
                                    <a class="link icon" style="font-size: 18px;">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </label>
                            <input #fileInput id="contractDoc" name="file" accept=".pdf" (change)="addFile($event.target.files)" type="file" class="display-none"
                            />

                            <!--<span *ngIf="!fileProcessing && !contract?.Files?.length">{{ 'NOFILESYET' | translate }}</span>-->
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div *ngIf="editMode" class="evo-btn-row">
                        <button *ngIf="!edit" type="button" class="evo-btn pull-right" (click)="addContract()" [disabled]="!f.valid">
                                {{'CREATE'}}
                            </button>
                        <button *ngIf="edit" type="button" class="evo-btn pull-right" (click)="editContract()" [disabled]="!f.valid">
                                {{'SAVE'}}
                            </button>
                        <a *ngIf="!edit" class="evo-cancel-link pull-right" (click)="back()">{{'CANCELBTN' | translate}}</a>
                        <a *ngIf="edit" class="evo-cancel-link pull-right" (click)="cancelChanges()">{{'CANCELBTN' | translate}}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<add-category-modal *ngIf="catSvc.currentCategoryGroupObs() | async"></add-category-modal>