<div class="tab-content" style="overflow:auto">
    <div class="cardLayout">
        <div class="cardsOuter">
            <div class="cardsWrapper" *ngIf="trello && laoded && pipeSelector">
                <div *ngIf="trello[pipeSelector].length==0">
                    {{ 'NODEALSAVALIBLE' | translate }}
                </div>
                <div class="cardBox" *ngFor='let group of trello[pipeSelector]'>
                    <div class="cardHead">
                        <div class="dealStatus" style="background:#5f67c7;">
                        </div>
                        <div class="quickContent">

                            <font class="pull-left">{{group.process.Name}} <span *ngIf="type == 'salePipe'">({{group.process.Percentage}} %)</span></font>

                            <font class="pull-right">{{group.deals.length}} {{'DEALS' | translate}}</font>
                            <label *ngIf="type == 'salePipe'"> {{ 'FORECAST' | translate }} &nbsp;{{currency}}&nbsp; {{group.forcast * group.process.Percentage/100 | bigNumber}}</label>
                        </div>
                    </div>
                    <div class="cardContent {{group.process.Id}}" [dragula]="'nested-bag'">
                        <div class="cards {{item.Id}}" *ngFor='let item of group.deals'>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="accountLabel" [style.background]="item.AccountTypeColor"></div>
                                    <a class="dealCardAccountName" (click)="showAccountInfo(item.AccountId)">
                                        <i class="fa {{ item.AccountIsPerson ? 'fa-user' : 'fa-industry' }}"> </i> {{ item.AccountName }}
                                    </a>
                                </div>
                                <div class="col-mg-6 card-owners">
                                    <img class="" *ngFor="let owner of item.Owners" style="max-width: 25px" [profilepicture]="owner.UserId" [alt]="owner.OwenerName" [tooltip]="owner.OwenerName"
                                        placement="left" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="dealCardDealName" (click)="_dealAddEdit.showDeal(item)">
                                        <font *ngIf="item.Name">{{item.Name}}</font>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" *ngIf="item && item.TotalInCompanyCurrency">
                                    <span class="dealCardDealValue">{{item.TotalInCompanyCurrency | bigNumber}}  {{currency}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 nextAction">
                                    <span *ngIf="!item.NextAction" tooltip="{{'NEXTACTION' | translate}}"><i class="fa fa-exclamation-circle"></i> {{ "NONEXTACTION" | translate }} </span>
                                    <span *ngIf="item.NextAction" ><i class="fa fa-{{actionTypeIcons[item.NextAction.Type]}}"></i> <span [class.datePassed]="item.ActionEarlier" [class.dateToday]="item.ActionToday" [class.dateThisWeek]="item.ActionThisWeek" class="link clickable" (click)="openAction(item.NextAction.Id)">{{ item.NextAction.StartDate | dateonly }}</span></span>
                                </div>
                                <div class="col-md-6 closeDate" *ngIf="item && item.ExpectedCloseDate">
                                    <span [tooltip]="'EXPECTEDCLOSEDATE' | translate" placement="left"><i class="fa fa-crosshairs"></i> <span [class.datePassed]="item.CloseDateMissed" [class.dateToday]="item.CloseDateToday" [class.dateThisWeek]="item.CloseDateThisWeek">{{ item.ExpectedCloseDate | dateonly }}</span></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--<div class="cardContent {{group.process.Id}}" [dragula]="'nested-bag'">
                        <div class="cards {{item.Id}}" *ngFor='let item of group.deals'>
                            <div>
                                <a (click)="_dealAddEdit.showDeal(item)">
                                    <b>{{item.AccountName}} </b>
                                </a>
                                <a (click)="_dealAddEdit.showDeal(item)">
                                    <font *ngIf="item.Name">{{item.Name}}</font>
                                </a>
                                <div *ngIf="item && item.TotalInCompanyCurrency">
                                    <b>{{item.TotalInCompanyCurrency | bigNumber}}  {{currency}}</b>
                                </div>
                            </div>
                            <div class="card-owners">
                                <img class="pull-right" *ngFor="let owner of item.Owners" [profilepicture]="owner.UserId" [alt]="owner.OwenerName" [tooltip]="owner.OwenerName" placement="top" />
                            </div>
                        </div>
                    </div>-->

                </div>
                <div *ngIf="type == 'salePipe' && trello.postSales[0]" class="cardBox finish">
                    <div class="cardHead">
                        <div class="dealStatus" style="background:#2e7a3b;">
                        </div>
                        <div class="quickContent">
                            <font class="pull-left">{{ 'WONDEAL' | translate }}</font>
                        </div>
                    </div>
                    <div class="cardContent {{trello.postSales[0].process.Id}}" [dragula]="'nested-bag'">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>