.closeDate {
    padding-right:0px;
    text-align: right;
}

.dealCardAccountName {
    font-size: 13px;
}

.dealCardDealName {
    font-size: 16px;
}

.dealCardDealValue {
    font-size: 14px;
    color: #aaa;
    font-weight: 400;
}

.datePassed {
    color: red;
}

.dateToday {
    color: #d3c512;
}

.dateThisWeek {
    color: #81c181;
}