<div class="customPopup  systemActive" id="add" (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title"> 
             <span *ngIf="task === 'AddTags'">{{ 'ADDTAGSTOMANY' | translate }}</span>
             <span *ngIf="task === 'RemoveTags'">{{ 'REMOVETAGSFROMMANY' | translate }}</span>
             <span *ngIf="task === 'ChangeAccountManager'">{{ 'CHANGEACCMANFORMANY' | translate }}</span>
                <span *ngIf="task === 'ChangeAccountType'">{{ 'CHANGEACCTYPEFORMANY' | translate }}</span>
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
        	<div *ngIf="task === 'AddTags'">
        		<div class="form-group">
                    <label for="exampleInputEmail1">{{ 'TAGS' | translate }}</label>
                    <tag-edit-text class="form-control boxify" [clear]="clear" [items]="tags" (itemsChange)="onitemsChange($event)"></tag-edit-text>
                    <div class="tag-description"><span>{{ 'SEPARATETAGS' | translate }}</span></div>
                </div>
                <input type="button" id="AddTagsButton" class="btn pull-right" (click)="add()" value="{{ 'ADDBTN' | translate }}" />
        		
        	</div>
        	<div *ngIf="task === 'RemoveTags'">
        		<div class="form-group">
                    <label for="exampleInputEmail1">{{ 'TAGS' | translate }}</label>
                    <tag-edit-text class="form-control boxify" [clear]="clear" [items]="tags" (itemsChange)="onitemsChange($event)"></tag-edit-text>
                    <div class="tag-description"><span>{{ 'SEPARATETAGS' | translate }}</span></div>
                </div>
                <input type="button" id="RemoveTagsButton" class="btn pull-right" (click)="removeTagsFromMany()" value="{{ 'REMOVEBTN' | translate }}" />
        		
        	</div>

        	<div *ngIf="task === 'ChangeAccountManager'">
        		<div class="form-group">
                    <label>{{ 'NEWACCMAN' | translate }}</label>
                    <chosen id="AccManagerDropdown" [width]="'100%'" [multiple]="false" [options]="users" [(ngModel)]="accManager" (change)="accManager=$event;"></chosen>
                </div>
                <input id="UpdateAccManagerButton" type="button"  class="btn pull-right" (click)="changeAccountManager()" value="{{ 'UPDATEBTN' | translate }}"  />
            </div>

            <div *ngIf="task === 'ChangeAccountType'">
                <div class="form-group">
                    <label>{{ 'NEWACCTYPE' | translate }}</label>
                    <chosen id="AccTyperDropdown" [width]="'100%'" [multiple]="false" [options]="accountTypes" [(ngModel)]="accType" (change)="accType=$event;"></chosen>
                </div>
                <input id="UpdateAccTypeButton" type="button" class="btn pull-right" (click)="changeAccountType()" value="{{ 'UPDATEBTN' | translate }}" />
            </div>
        </div>
    </div>
</div>