.template-body{
    display: table;
}

.template-body-columns {
    display: table-cell;
}

.template-row-hover:hover{
    outline: solid 3px #79e17e;
    position: relative;
    z-index: 1;
}

.template-row.template-selected {
    outline: solid 3px #46ae4b;
    position: relative;
    z-index: 1;
}

.row-extras,
.block-extras{
    display: none;
    position: absolute;
    color: #333;
    z-index: 1;
}

.row-extras.icons,
.block-extras.icons{
    bottom: 0;
    right: 0;
    border-top-left-radius: 8px;
    padding: 4px;
}

.row-extras.row-description{
    padding: 4px;
    border-bottom-right-radius: 8px;
}

.icon-events {
    padding: 0 4px;
    cursor: pointer;
}

.template-row-hover:hover .row-extras{
    display: inline-block;
    background-color: #79e17e;
}

.template-selected .row-extras,
.template-selected:hover .row-extras{
    display: inline-block;
    background-color: #46ae4b;
}

.template-block:hover{
    outline: solid 3px #79e17e;
    position: relative;
    z-index: 1;
}

.template-block.template-selected {
    outline: solid 3px #46ae4b;
    position: relative;
    z-index: 1;
}

.block-extras.block-description {
    top: -30px;
    left: -3px;
    border-top-right-radius: 10px;
    padding: 4px;
}

.template-block:hover .block-extras{
    display: inline-block;
    background-color: #79e17e;
}

.template-block.template-selected .block-extras{
    display: inline-block;
    background-color: #46ae4b;
}

.no-template-style {
    font-family: 'Lato', sans-serif !important;
    font-size: 14px !important;
    font-weight: 700 !important;
}

.hover-drop {
    display: none;
    background-color: #a1e8ff;
    border: solid 1px #6ca6cd;
    height: 25px;
    width: 100%;
    text-align: center;
}