<!-- TEMPLATE -->
<div [ngStyle]="template.Styles" id="template-body" class="full-width">
    <div *ngIf="template.HeaderRows">
        <div *ngIf="!template.HeaderRows.length" draganddrop="row" [dragArr]="template.HeaderRows" [drag]="false" [drop]="true" class="drag-placeholder-container">
            {{'STARTDRAGPLACEHOLDER' | translate}}
        </div>
        <template-row-builder *ngIf="template.HeaderRows.length" [template]="template" [rowArrProp]="'HeaderRows'" [editable]="!onlyShow"></template-row-builder>
        <hr>
    </div>
    <!-- ROWS -->
    <!-- placeholder -->
    <div *ngIf="!template.Rows.length" draganddrop="row" [dragArr]="template.Rows" [drag]="false" [drop]="true" class="drag-placeholder-container">
        {{'STARTDRAGPLACEHOLDER' | translate}}
    </div>
    <template-row-builder *ngIf="template.Rows.length" [template]="template" [rowArrProp]="'Rows'" [editable]="!onlyShow"></template-row-builder>
    <div *ngIf="template.FooterRows">
        <hr>
        <div *ngIf="!template.FooterRows.length" draganddrop="row" [dragArr]="template.FooterRows" [drag]="false" [drop]="true" class="drag-placeholder-container">
            {{'STARTDRAGPLACEHOLDER' | translate}}
        </div>
        <template-row-builder *ngIf="template.FooterRows.length" [template]="template" [rowArrProp]="'FooterRows'" [editable]="!onlyShow"></template-row-builder>
    </div>
</div>