<div draganddrop="row" [dragArr]="template[rowArrProp]" [drop]="true" [index]="i" [dragDisabled]="!editable" [class.template-row-hover]="editable"
  class="template-row template-row-hover" *ngFor="let row of template[rowArrProp]; let i = index">
  <div class="row-extras row-description no-template-style">
    <span>{{'ROW' | translate}}</span>
  </div>
  <div class="row-extras icons no-template-style">
    <span (click)="duplicateRow($event, row, i)" [tooltip]="('DUPLICATE' | translate)" class="icon-events"><i class="fa fa-copy"></i></span>
    <span (click)="deleteRow($event, row)" [tooltip]="('DELETE' | translate)" class="icon-events"><i class="fa fa-trash-o"></i></span>
  </div>
  <div class="hover-drop top">{{'DROPHERE' | translate}}</div>
  <div class="full-width template-body" [ngStyle]="row.Styles" (click)="onClickRow($event, row)">
    <div class="template-body-columns"></div>
    <div class="template-body-columns" [style.width.px]="template.ContentWidth" [style.backgroundColor]="template.ContentBackground"
      style="height: 100%">
      <!-- COLUMNS -->
      <div [style.backgroundColor]="row.ContentBackground || row.Styles['background-color']" style="height:100%">
        <div *ngFor="let column of row.Columns" [ngClass]="'col-xs-' + column.WidthRatio" style="height:100%" [ngStyle]="column.Styles">
          <!-- BLOCKS -->
          <!-- placeholder -->
          <div *ngIf="!column.Blocks.length" draganddrop="block" [dragArr]="column.Blocks" [drag]="false" [drop]="true" class="drag-placeholder-container">
            {{'BLOCKPLACEHOLDER' | translate}}
          </div>
          <div draganddrop="block" [dragArr]="column.Blocks" [drop]="true" [index]="j" [class.template-block]="!onlyShow" *ngFor="let block of column.Blocks; let j = index">
            <div class="block-extras block-description no-template-style">
              <span>{{'BLOCK' | translate}}</span>
            </div>
            <div class="block-extras icons no-template-style">
              <span (click)="duplicateBlock($event, column, block, j)" [tooltip]="('DUPLICATE' | translate)" class="icon-events"><i class="fa fa-copy"></i></span>
              <span (click)="deleteBlock($event, column, block)" [tooltip]="('DELETE' | translate)" class="icon-events"><i class="fa fa-trash-o"></i></span>
            </div>
            <div class="hover-drop top">{{'DROPHERE' | translate}}</div>
            <div class="full-width" (mouseenter)="onEnterBlock($event)" (mouseleave)="onLeaveBlock($event)" [ngStyle]="block.Styles"
              (click)="onClickBlock($event, block)">
              <!-- TEXTBLOCK -->
              <div class="textBlock" *ngIf="block.Type === 'TextBlock'">
                <div *ngIf="block.TemplateId === currentTemplateBlock?.TemplateId && redactorEdit" [attr.id]="block.TemplateId">
                  <template-redactor (destroy)="onRedactorDestroy(block)" [obj]="block"></template-redactor>
                </div>
                <div [attr.id]="block.TemplateId" *ngIf="!redactorEdit || block.TemplateId !== currentTemplateBlock?.TemplateId" [innerHtml]="block.LinkContent ? (block.LinkContent | safeHtml: 'html') : (block.Content | safeHtml: 'html')"></div>
              </div>
              <!-- BUTTON -->
              <div *ngIf="block.Type === 'Button'">
                <div style="display: inline-block" [ngStyle]="block.ContentStyles">
                  <div class="text-center" *ngIf="block.TemplateId === currentTemplateBlock?.TemplateId && redactorEdit" [attr.id]="block.TemplateId">
                    <template-redactor (destroy)="onRedactorDestroy(block)" [linkStyles]="template.LinkStyles" [obj]="block"></template-redactor>
                  </div>
                  <div [attr.id]="block.TemplateId" class="text-center" *ngIf="!redactorEdit || block.TemplateId !== currentTemplateBlock?.TemplateId"
                    [innerHtml]="block.Content">
                  </div>
                </div>
              </div>
              <!-- IMAGE -->
              <div *ngIf="block.Type === 'Image'">
                <img [class.clickable]="block.LinkUrl" [src]="block.BlobUrl ? (block.BlobUrl | safeHtml:'url') : (block.ImageFile?.Location | safeHtml: 'url')"
                  [attr.width]="(block.Width || 'auto')" [attr.height]="(block.Height || 'auto')" [alt]="block.AltText" [tooltip]="block.LinkUrl">
              </div>
              <!-- SOCIAL MEDIA -->
              <div *ngIf="block.Type === 'Social'">
                <span *ngFor="let icon of block.Icons; let first = first" [style.paddingLeft]="first ? 0 : block.Spacing"><span class="clickable" [tooltip]="icon.LinkUrl"><img [src]="icon.ImgSrc" [alt]="icon.AltText"></span></span>
              </div>
              <!-- DIVIDER -->
              <div *ngIf="block.Type === 'Divider'">
                <hr [ngStyle]="block.ContentStyles">
              </div>
              <!-- UNSUBSCRIBE -->
              <div *ngIf="block.Type === 'Unsubscribe'">
                <div *ngIf="block.TemplateId === currentTemplateBlock?.TemplateId && redactorEdit" [attr.id]="block.TemplateId">
                  <template-redactor (destroy)="onRedactorDestroy(block)" [obj]="block"></template-redactor>
                </div>
                <div [attr.id]="block.TemplateId" *ngIf="!redactorEdit || block.TemplateId !== currentTemplateBlock?.TemplateId" [innerHtml]="block.LinkContent ? (block.LinkContent | safeHtml: 'html') : (block.Content | safeHtml: 'html')"></div>
              </div>
              <!-- PRODUCT -->
              <div *ngIf="block.Type === 'Product'">
                <table [style.margin-left]="block.ProductStyles.TableAlign === 'left' || !block.ProductStyles.TableAlign ? 0 : 'auto'" [style.margin-right]="block.ProductStyles.TableAlign === 'center' ? 'auto' : 0"
                  [ngStyle]="block.ProductStyles.TableStyles">
                  <thead>
                    <tr [ngStyle]="block.ProductStyles.HeaderRowStyles">
                      <th [style.text-align]="col.CellAlign" *ngFor="let col of block.Columns" [style.padding-top]="block.ProductStyles.TableStyles['padding-top']"
                        [style.padding-bottom]="block.ProductStyles.TableStyles['padding-bottom']" [style.padding-left]="block.ProductStyles.TableStyles['padding-left']"
                        [style.padding-right]="block.ProductStyles.TableStyles['padding-right']">
                        {{col.Title}}
                      </th>
                    </tr>
                    <tr *ngFor="let row of [1,2,3]">
                      <td [style.text-align]="col.CellAlign" [ngStyle]="col.Styles" *ngFor="let col of block.Columns" [style.padding-top]="block.ProductStyles.TableStyles['padding-top']"
                        [style.padding-bottom]="block.ProductStyles.TableStyles['padding-bottom']" [style.padding-left]="block.ProductStyles.TableStyles['padding-left']"
                        [style.padding-right]="block.ProductStyles.TableStyles['padding-right']">
                        {{col.Fields.join(' ')}}
                      </td>
                    </tr>
                  </thead>
                </table>
                <table [style.margin-left]="block.ProductStyles.TotalTableAlign === 'left' || !block.ProductStyles.TotalTableAlign ? 0 : 'auto'"
                  [style.margin-right]="block.ProductStyles.TotalTableAlign === 'center' ? 'auto' : 0" [ngStyle]="block.ProductStyles.TotalTableStyles">
                  <tr *ngFor="let row of block.SumRows" [ngStyle]="row.Styles">
                    <td [ngStyle]="block.ProductStyles.LeftColumnStyles" [style.text-align]="block.LeftColAlign" [style.padding-top]="block.ProductStyles.TotalTableStyles['padding-top']"
                      [style.padding-bottom]="block.ProductStyles.TotalTableStyles['padding-bottom']" [style.padding-left]="block.ProductStyles.TotalTableStyles['padding-left']"
                      [style.padding-right]="block.ProductStyles.TotalTableStyles['padding-right']">{{row.Title}}</td>
                    <td [ngStyle]="block.ProductStyles.RightColumnStyles" [style.text-align]="block.RightColAlign" [style.padding-top]="block.ProductStyles.TotalTableStyles['padding-top']"
                      [style.padding-bottom]="block.ProductStyles.TotalTableStyles['padding-bottom']" [style.padding-left]="block.ProductStyles.TotalTableStyles['padding-left']"
                      [style.padding-right]="block.ProductStyles.TotalTableStyles['padding-right']">{{row.Fields.join(' ')}}</td>
                  </tr>
                </table>
              </div>
              <!-- ADDRESS -->
              <div *ngIf="block.Type === 'Address'">
                <div style="display: inline-block;" [ngStyle]="block.AddressBlock.ContentStyles">
                  <div *ngFor="let row of block.AddressBlock.Rows" [ngStyle]="row.Styles">{{row.Field}}</div>
                </div>
              </div>
              <!-- TABLE -->
              <div *ngIf="block.Type === 'Table'">
                <table [ngStyle]="block.TableBlock.ContentStyles" [style.margin-left]="block.TableBlock.TableAlign === 'left' || !block.TableBlock.TableAlign ? 0 : 'auto'" [style.margin-right]="block.TableBlock.TableAlign === 'center' ? 'auto' : 0">
                  <tr *ngFor="let row of block.TableBlock.Cells; let rowIndex = index" [ngStyle]="block.TableBlock.RowStyles[rowIndex]">
                    <td class="table-cell" [ngStyle]="block.TableBlock.ColumnStyles[columnIndex]" (click)="onClickCell($event, rowIndex, columnIndex)" *ngFor="let cell of row; let columnIndex = index">
                      <div *ngIf="block.TemplateId === currentTemplateBlock?.TemplateId && redactorEditCell.row === rowIndex && redactorEditCell.col === columnIndex" [attr.id]="block.TemplateId">
                        <template-redactor (destroy)="onRedactorCellDestroy()" [obj]="cell"></template-redactor>
                      </div>
                      <div [attr.id]="block.TemplateId" *ngIf="!(block.TemplateId === currentTemplateBlock?.TemplateId && redactorEditCell.row === rowIndex && redactorEditCell.col === columnIndex)" [innerHtml]="cell.Content"></div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="hover-drop bottom">{{'DROPHERE' | translate}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="template-body-columns"></div>
  </div>
  <div class="hover-drop bottom">{{'DROPHERE' | translate}}</div>
</div>