.template-container {
    border: solid 2px #CCC;
    width: 200px;
    height: 100px;
    margin: 20px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.template-name {
    display: table-cell;
    vertical-align: middle;
    margin: auto 0;
    text-align: center;
    width: 200px;
    height: 100px;
}

.template-container:hover {
    color: #5fc764;
}

.corner-trash{
    border-bottom: solid 1px #CCC;
    border-left: solid 1px #CCC;
    padding: 3px;
    position: absolute;
    top: 0;
    right: 0;
}

.menu-container a{
    font-size: 14px;
    font-weight: 500;
}

.menu-icon {
    padding: 0 10px;
}