<div class="mainTitle" [class.leftFree]="leftFree">
    <h1><ng-content select="[template-title]"></ng-content></h1>
</div>

<div class="contentPanel" [class.leftFree]="leftFree">
    <div class="contentWrapper">
            <div class="projectBox" *ngIf="!selectedTemplate && !goToBuilder">
                <h3>{{'CHOOSETEMPLATE' | translate}}</h3>
                <div (click)="selectTemplate(defaultTemplate)" class="template-container">
                    <span class="template-name"><i class="fa fa-3x fa-plus"></i></span>
                </div>
                <div (click)="selectTemplate(temp)" *ngFor="let temp of templateList" class="template-container">
                    <span class="template-name">{{temp.Name}}</span>
                    <a><i (click)="deleteTemplate(temp.Id, $event)" class="fa fa-trash-o corner-trash"></i></a>
                </div>
            </div>
            <div *ngIf="selectedTemplate" class="row">
                <div class="col-lg-8">
                    <div class="projectBox projectBox-fill">
                        <template-builder [template]="selectedTemplate"></template-builder>
                    </div>
                </div>
                <!-- STYLES -->
                <div class="col-lg-4">
                    <div class="projectBox">
                      <ng-content select="[template-styling]"></ng-content>
                        <!-- <newsletter-styling (saveTemplate)="showSaveTemplate = true" [template]="selectedTemplate" [newsletter]="currentNewsletter" (isUnsaved)="unsaved = $event"></newsletter-styling> -->
                    </div>
                </div>
            </div>
    </div>
</div>
<template-save *ngIf="showSave" [template]="selectedTemplate" (close)="showSave = false; showSaveChange.emit(false);"></template-save>
