<div class="customPopup systemActive" id="saveTemplate" (click)="clickToClose($event)">
    <div class="popupBox">
        <div *ngIf="!edit" class="title">
            <span>{{ 'SAVENEWSLETTERTEMPLATE' | translate }} </span>
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="row">
                <div class="col-md-12">
                    <p *ngIf="template.Id">{{'DOYOUWANTTOUPDATEORSAVENEW' | translate}}</p>
                    <p *ngIf="!template.Id">{{'DOUYOUWANTTOSAVE' | translate}}</p>
                    <div class="form-group">
                        <label>{{'NAME' | translate}}</label>
                        <input class="form-control" [(ngModel)]="template.Name" />
                    </div>
                    <div class="evo-btn-row">
                        <button [disabled]="!template.Name" (click)="save(true)" class="evo-btn pull-left">{{'SAVEBTN' | translate}}</button>
                        <button [disabled]="!template.Name" *ngIf="template.Id" (click)="save(false)" class="evo-btn pull-right">{{'UPDATEBTN' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>