<div class="top-content loginPage">
    <div class="inner-bg ">
        <div class="container">
            <div class="col-lg-6 col-sm-8 col-lg-offset-3 col-sm-offset-2 form-box jumbotron">
                <div class="logo">
                    <img src="assets/images/evolumi_logo.png" alt="Evolumi" />
                </div>

                <p class="loginLinks">
                    <b>{{ status | translate }}</b>
                </p>
            </div>
        </div>
    </div>
</div>