<div class="top-content loginPage signup">
    <div class="inner-bg ">
        <div class="container">
            <div class="row ">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1 form-box jumbotron">
                    <div class="logo">
                        <img src="assets/images/evolumi_logo.png" alt="Evolumi" />
                    </div>
                    <div class="tokenError" *ngIf="tokenInvalid">
                        <p>
                            {{ "TOKENINVALID" | translate:{ Token : token } }}
                        </p>
                    </div>
                    <p *ngIf="!tokenInvalid" class="inviteMessage">
                        {{ 'YOUAREINVITED' | translate:{organisation : invite?.OrganisationName } }}
                    </p>
                    <div *ngIf="!tokenInvalid" class="form-bottom">
                        <div class="selectButtons row" *ngIf="!useSignUp && !useLogin">
                            <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6 col-xs-6">
                                <a class="btn" (click)="useSignUp=true">{{ "INVITESIGNUP" | translate }}</a>
                            </div>
                            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
                                <a class="btn" (click)="useLogin=true">{{ "INVITELOGIN" | translate }}</a>
                            </div>
                        </div>
                        <div class="signUpForm" *ngIf="useSignUp">
                            <form [formGroup]="loginForm">
                                <div class="step1 basicDetails">
                                    <div class="row formRowWithPassword">
                                        <div class="col-sm-8 col-lg-8 col-md-8 col-xs-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" formControlName="Firstname">
                                                <label for="signUpFirstname">{{ 'FIRSTNAME' | translate }}</label>
                                                <div [hidden]="loginForm.controls.Firstname.untouched || loginForm.controls.Firstname.valid" class="bg-danger">
                                                    {{ 'REQ' | translate }}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <input type="text" class="form-control" formControlName="Lastname">
                                                <label for="signUpLastname">{{ 'LASTNAME' | translate }}</label>
                                                <div [hidden]="loginForm.controls.Lastname.untouched || loginForm.controls.Lastname.valid" class="bg-danger">
                                                    {{ 'REQ' | translate }}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <input type="email" class="form-control" #emailID [ngClass]={hasText:emailID.value} formControlName="Email">
                                                <label for="signUpEmail">{{ 'EMAIL' | translate }}</label>
                                                <div [hidden]="loginForm.controls.Email.untouched || loginForm.controls.Email.valid" class="bg-danger">
                                                    {{ 'INVALID' | translate }}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <input type="password" #pass class="form-control" [ngClass]={hasText:pass.value} formControlName="Password">
                                                <label for="signUpPassword">{{ 'PASSWORD' | translate }}</label>
                                                <div [hidden]="loginForm.controls.Password.untouched || loginForm.controls.Password.valid" class="bg-danger">
                                                    {{ 'INVALID' | translate }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="passwordComponent col-sm-4 col-md-4 col-lg-4 col-xs-6">
                                            <password-component [password]="pass.value"></password-component>
                                        </div>
                                    </div>
                                    <!--<div class="hint">
                                                <i class="fa fa-sort-asc fa-6"></i>{{ 'PASSWORDEXPLAIN' | translate}}
                                            </div>-->
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-sm-8 col-lg-8 col-md-8 col-xs-12">
                                            <button (click)="formSubmit($event)" [disabled]="!loginForm.valid" class="btn pull-right">
                                                        <span [hidden]="process">{{ 'GETSTARTED' | translate }}</span>
                                                        <div [hidden]="!process">
                                                            <img src="assets/images/preloader.gif" alt="loading" />
                                                        </div>
                                                    </button>
                                            <div class="loginLinks">
                                                <a (click)="useLogin = true; useSignUp=false;">{{ "LOGIN" | translate }}</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="loginForm" *ngIf="useLogin">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" required [(ngModel)]="login.Email" ngControl="username" name="Username" #LoginUsername="ngModel">
                                    <label for="username">{{ 'EMAIL' | translate }}</label>
                                    <div [hidden]="LoginUsername.valid" class="alert alert-danger ng-hide">
                                        {{ 'REQ' | translate }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" [(ngModel)]="login.Password" ngControl="password" required name="Password" #LoginPassword="ngModel">
                                    <label for="password">{{ 'PASSWORD' | translate }}</label>
                                    <div [hidden]="LoginPassword.valid" class="alert alert-danger">
                                        {{ 'REQ' | translate }}
                                    </div>
                                </div>

                                <div class="checkbox material">
                                    <label>
                                            <div class="customCheckBox">
                                                <input type="checkbox">
                                                <div class="custonCkeck"></div>
                                            </div>
                                            {{ 'KEEPLOGGEDIN' | translate }}
                                        </label>
                                </div>

                                <button type="submit" (click)="loginProcess()" class="btn pull-right">
                                        <span>{{ 'LOGIN' | translate }}</span>
                                        <div [hidden]="!process">
                                            <img src="assets/images/preloader.gif" alt="loading" />
                                        </div>
                                    </button>

                                <div class="loginLinks">
                                    <a (click)="useLogin = false; useSignUp=true;">{{ "SIGNUP" | translate }}</a>
                                    <a [routerLink]="['ForgotPassword']">{{ 'FORGOTPWD' | translate }}</a>
                                </div>

                            </form>
                        </div>


                    </div>
                    <div [hidden]="!error" class="wrongCredentials">
                        <p>Please check your email and password!</p>
                    </div>
                </div>
                <!--   <a [routerLink]="['Login']">Login!</a> -->
            </div>
        </div>
    </div>
</div>