.selectButtons a {
    white-space: normal;
    border: none;
    color: white;
}

.selectButtons {
    text-align: center;
}

.tokenError {
    padding: 20px;
    background: white;
    box-shadow: 1px 1px 10px #aaa;
}