<!-- Top content -->
        <div class="top-content loginPage">	
            <div class="inner-bg ">
                <div class="container">
                        <div class="col-lg-6 col-sm-8 col-lg-offset-3 col-sm-offset-2 form-box jumbotron">
                        	<div class="logo">
                        		<img src="assets/images/evolumi_logo.png" alt="Evolumi"/> 
                        	</div>
                        	
                            <form novalidate>
                            <div class="form-bottom">
							      <div class="form-group">
							        <input id="LoginUsername" type="text" class="form-control" [(ngModel)]="login.Username" #LoginUsername [ngModelOptions]="{standalone: true}" required>
							        <label for="username">{{ 'EMAIL' | translate }}</label>
							        <div [hidden]="LoginUsername.valid" class="alert alert-danger ng-hide">
							          {{ 'REQ' | translate }}
							        </div>
							      </div>
							      <div class="form-group">
							        <input id="LoginPassword" type="password" class="form-control" [(ngModel)]="login.Password" #LoginPassword [ngModelOptions]="{standalone: true}" required>
							          <label for="password">{{ 'PASSWORD' | translate }}</label>
							          <div [hidden]="LoginPassword.valid" class="alert alert-danger">
							          {{ 'REQ' | translate }} 
							          </div>
							      </div>

							      <button id="LoginButton" type="submit" (click)="onSubmit()" class="btn pull-right">
							      <span>{{ 'LOGIN' | translate }}</span>
							      	<div [hidden]="!authService.processing">
		                        		<img src="assets/images/preloader.gif" alt="loading"/>
		                    		</div>
							      </button>
							      
							      <div class="loginLinks">
							         
									<a routerLink="/ForgotPassword">{{ 'FORGOTPWD' | translate }}</a> | <a routerLink="/Signup">{{ 'SIGNUP' | translate }}</a>							      
								  </div>						    
		                    </div>
		                    <!--<div [hidden]="!authService.error" class="wrongCredentials">
                        		<p>{{ authService.error | translate}}</p>
                        	</div>-->
                            </form>
                        </div>
                </div>
            </div>
            
        </div>
