﻿<div class="top-content loginPage signup">
    <div class="inner-bg ">
        <div class="container">
            <div class="row ">
                <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1 form-box jumbotron">
                    <div class="logo">
                        <img src="assets/images/evolumi_logo.png" alt="Evolumi" (click)="logoClicked()" />
                    </div>
                    <div class="form-bottom">

                        <form [formGroup]="step1Form">
                            <div class="step1 basicDetails">
                                <div class="row formRowWithPassword">
                                    <div class="col-sm-8 col-lg-8 col-md-8 col-xs-12">
                                        <div class="form-group" *ngIf="presetFirstName">
                                            <h3>
                                                {{ "HELLOMESSAGE" | translate:{Name: presetFirstName} }}
                                            </h3>
                                        </div>
                                        <div class="form-group" *ngIf="!presetFirstName">
                                            <input id="SignupFirstNameText" type="text" class="form-control" formControlName="Firstname">
                                            <label for="signUpFirstname">{{ 'FIRSTNAME' | translate }}</label>
                                            <div [hidden]="step1Form.controls.Firstname.untouched || step1Form.controls.Firstname.valid" class="bg-danger">
                                                {{ 'REQ' | translate }}
                                            </div>
                                        </div>

                                        <div class="form-group" *ngIf="!presetLastName">
                                            <!--[ngClass]={hasText:step1Form.controls.Lastname != ''}-->
                                            <input id="SignupLastNameText" type="text" class="form-control" formControlName="Lastname">
                                            <label for="signUpLastname">{{ 'LASTNAME' | translate }}</label>
                                            <div [hidden]="step1Form.controls.Lastname.untouched || step1Form.controls.Lastname.valid" class="bg-danger">
                                                {{ 'REQ' | translate }}
                                            </div>
                                        </div>

                                        <div class="form-group" *ngIf="!presetEmail">
                                            <input id="SignupEmailText" type="email" class="form-control" #emailID [ngClass]={hasText:emailID.value} formControlName="Email"
                                                required>
                                            <label for="signUpEmail">{{ 'EMAIL' | translate }}</label>
                                            <div [hidden]="step1Form.controls.Email.untouched || step1Form.controls.Email.valid" class="bg-danger">
                                                {{ 'INVALID' | translate }}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <input id="SignupPasswordText" type="password" class="form-control" #pass [ngClass]={hasText:pass.value} formControlName="Password"
                                                required>
                                            <label for="signUpPassword">{{ 'PASSWORD' | translate }}</label>
                                            <div id="SignupPasswordInvalidField" [hidden]="step1Form.controls.Password.untouched || step1Form.controls.Password.valid"
                                                class="bg-danger">
                                                {{ 'INVALID' | translate }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="passwordComponent col-sm-4 col-md-4 col-lg-4 col-xs-6">
                                        <password-component [password]="pass.value"></password-component>
                                    </div>

                                </div>
                                <!--<div class="clearfix"></div>-->

                                <div class="row">

                                    <div class="terms col-md-8 col-sm-12">
                                        <a href="http://www.evolumi.se/villkor" style="font-size:15px" target="_blank">{{ 'APPROVETERMS' | translate}}</a>
                                        <label class="customCheckBox">
                                            <input id="TermsChekbox" type="checkbox" [(ngModel)]="acceptTerms" [ngModelOptions]="{standalone: true}" />
                                            <div class="custonCkeck"></div>
                                        </label>
                                    </div>

                                    <div class="col-md-4 col-sm-12">
                                        <button id="SignupSubmitButton" (click)="formSubmit($event)" [disabled]="!step1Form.valid || !acceptTerms" class="btn">
                                            <span [hidden]="process">{{ 'GETSTARTED' | translate }}</span>
                                            <div [hidden]="!process">
                                                <img src="assets/images/preloader.gif" alt="loading" />
                                            </div>
                                        </button>
                                    </div>

                                    <div class="col-sm-8 col-lg-8 col-md-8 col-xs-12" style="text-align:center">
                                        <a id="SignupLoginLink" [routerLink]="['/Login']" class="signInbtn loginLinks">{{ 'LOGIN' | translate }}</a>

                                        <div class="form-group" style="margin-top:40px;">
                                            <a (click)="setLanguage('en.'+ langVersion)">English </a>|
                                            <a (click)="setLanguage('sv-se.' + langVersion)">Svenska </a>|
                                            <!--<a (click)="setLanguage('nl.' + langVersion)">Nederlands</a>|-->
                                            <a (click)="setLanguage('de.' + langVersion)">Deutsch</a>
                                            <!--<a (click)="setLanguage('ja.' langVersion)">日本語</a>-->
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>