#authSelectWindow .btn {
    width: 70%;
    margin-top:20px;
    margin-left:0px;
}

#authSelectWindow .popupContent {
    text-align: center;
}

.syncRule {
    position: relative;
    margin-bottom: 10px;
}

.syncRule .form-control {
    padding: 5px 12px;
}

.connectButtons .row {
    margin: 10px 0px;
}
.connectButtons .row div {
    padding: 0px;
}

.connectButtons a {
    width: 100%;
}

.connectButtons a i {
    margin-right: 10px;
}

.waitIndicator {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 30px;
    height: 30px;
    background-image: url("/assets/images/evolumi-icon.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    /*animation: blink 3s linear infinite;*/
}
.blink {
    width: 100px;
    height: 100px;
    border: 10px solid #016aca;
    background: #598dae;
    border-radius: 100%;
    -webkit-animation: blink 1.5s infinite ease-in-out;
    animation: blink 1.5s infinite ease-in-out;
    position: fixed;
    top: calc(35% - 50px);
    left: calc(50% - 50px);
}

@-webkit-keyframes blink {
  from {
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    border-width: 1px;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    border-width: 6px;
    opacity: 0;
  }
}
@keyframes blink {
  from {
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    border-width: 1px;
    opacity: 1;
  }
  to {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    border-width: 6px;
    opacity: 0;
  }
}