<div class="mainTitle">
    <h1>{{ "CALENDARSETTINGS" | translate }}</h1>
</div>

<div class="panelAction">
    <a class="btn" *ngIf="settings && settings.ProvidersToUse.length != 0" (click)="showAuthWindow = true"> {{ "CONNECTCALENDARBTN" | translate }} </a>
    <!--<a class="btn"  (click)="showAuthWindow = true">Auth </a>-->
     <a class="btn" (click)="insertCode('Microsoft')">KODEN ms</a>
    <a class="btn" (click)="insertCode('Google')">KODEN google</a> 
</div>

<div class="contentPanel settingsPage">
    <div class="contentWrapper">
        <div class="projectBox">
            <!--<div class="form-group">
                <label class="margin-top-10 customCheckBox">
                            <input id="setting1" type="checkbox" [(ngModel)]="settings?.UseCalendarSync" [ngModelOptions]="{standalone: true}">
                            <div class="custonCkeck"></div>
                        </label>
                <span (click)="calendarSvc.syncActions()">{{ "ENABLECALENDARSYNC" | translate }}</span>
            </div>-->
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <h4>
                        <div *ngIf="microsoftCalendar">
                            <div><i class="fa fa-windows"></i> Microsoft</div>
                            <div>{{ microsoftCalendar }}</div>
                        </div>
                        <div *ngIf="googleCalendar">
                            <div><i class="fa fa-google"></i> Google</div>
                            <div>{{ googleCalendar }}</div>
                        </div>
                    </h4>
                    <div>
                        {{ "SYNCRULEDESCRIPTION" | translate }}
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="form-group connectButtons" *ngIf="settings?.ProvidersToUse.length == 0">
                        <h3> {{ "SYNCCALENDARLABEL" | translate }} </h3>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <a class="btn" (click)="showAuthPopup('Microsoft')"><i class="fa fa-windows"></i>   Microsoft</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <a class="btn" (click)="showAuthPopup('Google')"><i class="fa fa-google"></i> Google</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="settings && settings.ProvidersToUse.length != 0">
                        <syncrules (save)="saveClicked()" [currentOrg]="currentOrg" [actionTypes]="actionTypes" [settings]="settings"></syncrules>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="settings" id="authSelectWindow" class="customPopup small" [class.systemActive]="showAuthWindow" (click)="closeAuthSelect($event)">
    <div class="popupBox">
        <div class="title">
            {{ "AUTHWINDOWTITLE" | translate }}
            <a class="close pull-right" (click)="closeAuthSelect($event, true)"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <a class="btn" (click)="showAuthPopup('Microsoft')"><i class="fa fa-windows"></i> Microsoft</a>
            <a class="btn" (click)="showAuthPopup('Google')"><i class="fa fa-google"></i> Google</a>
        </div>
    </div>
</div>

<div id="authCompletePopup" class="customPopup medium" [class.systemActive]="showAuthCompletePopup" (click)="closeAuthCompletePopup($event)">
    <div class="popupBox">
        <div class="title">
            {{ "AUTHCOMPLETEPOPUPTITLE" | translate }}
            <a class="close pull-right" (click)="closeAuthCompletePopup($event, true)"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div>
                {{ "SYNCRULEDESCRIPTION" | translate }}
            </div>

            <div style="margin-top: 20px;" class="form-group" *ngIf="settings?.ProvidersToUse.length != 0">
                <syncrules (save)="saveClicked()" [popup]="true" [currentOrg]="currentOrg" [actionTypes]="actionTypes" [settings]="settings"></syncrules>
            </div>
        </div>
    </div>
</div>

<div class="waitIndicator" *ngIf="waitingForAuthResult"></div>
<div class="blink" *ngIf="waitingForAuthResult"></div>