<h4>
    {{ "SYNCRULES" | translate }}
</h4>

<div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" *ngIf="editmode"></div>
    <div [class.col-lg-5]="editmode" [class.col-md-5]="editmode" [class.col-sm-5]="editmode" [class.col-xs-5]="editmode" [class.col-lg-6]="!editmode" [class.col-md-6]="!editmode" [class.col-sm-6]="!editmode" [class.col-xs-6]="!editmode"><label>{{ "ACTIONTYPES" | translate }}</label></div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><label>{{ "ACTIONLISTS" | translate }}</label></div>
</div>
<div class="row syncRule" *ngFor="let rule of settings?.SyncRules; let i = index">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" *ngIf="editmode">
        <a class="link icon" style="margin-top:6px;" (click)="removeRule(i)"><i class="fa fa-trash-o"></i></a>
    </div>

    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" *ngIf="editmode">
        <chosen class="multichosen" id="ActionTypesToSync" [width]="'100%'" [multiple]="true" [options]="actionTypes" [(ngModel)]="rule.ActionTypes"
            [ngModelOptions]="{standalone: true}"></chosen>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" *ngIf="editmode">
        <tag-edit-text class="form-control boxify" [clear]="clear" [items]="rule.Tags" [itemsSource]="currentOrg?.Labels" showFilter="true"
            bgColor="#f0ad4e"></tag-edit-text>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" *ngIf="!editmode">
        <div class="ruleActionType" *ngFor="let type of rule.ActionTypes">
            <div>
                <i style="font-size:21px" class="fa" [class.fa-envelope-o]="type == 'Email'" [class.fa-phone]="type == 'Phone'" [class.fa-handshake-o]="type == 'Meeting'"
                    [class.fa-calendar-o]="type == 'Events'" [tooltip]="type" [class.fa-tree]="type == 'Other'"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" *ngIf="!editmode">
        <div class="ruleActionTag" *ngFor="let tag of rule.Tags">
            {{tag}}
        </div>
    </div>
</div>
<div *ngIf="editmode">
    <a class="link" (click)="addRule()">+ Add new rule</a>
</div>

<div style="margin-top: 20px">
    <a *ngIf="!editmode && popup" class="btn pull-right" (click)="saveClicked()"> {{ "USETHESESETTINGS" | translate }}</a>
    <a *ngIf="editmode" class="btn pull-right" (click)="saveClicked()">{{ settings?.SyncRules.length == 0 ? "SAVEALL" : "SAVE" | translate }}</a>
    <a *ngIf="!editmode" class="btn pull-right" (click)="editmode = true">{{ "EDIT" | translate }}</a>
</div>

<!--<div class="row">
    <div class="col-lg-6">
        <h4> {{ "SYNCRULESDESCRIPTION" | translate }} </h4>
    </div>
</div>
<div class="syncRule" *ngFor="let rule of settings?.SyncRules; let i = index">
    <div class="row" *ngIf="editmode">
        <a class="link icon" style="position: absolute; margin-top:6px; z-index: 1;" (click)="removeRule(i)"><i class="fa fa-trash-o"></i></a>
        <div class="col-lg-6 col-sm-12">
            <chosen class="multichosen" id="ActionTypesToSync" [width]="'100%'" [multiple]="true" [options]="actionTypes" [(ngModel)]="rule.ActionTypes"
                [ngModelOptions]="{standalone: true}"></chosen>
        </div>
        <div class="col-lg-6 col-sm-12">
            <tag-edit-text class="form-control boxify" [clear]="clear" [items]="rule.Tags" [itemsSource]="currentOrg?.Labels" showFilter="true"
                bgColor="#f0ad4e" placeholder="{{'LABELSTOSYNC' | translate}}"></tag-edit-text>
        </div>
    </div>

    <div class="ruleDisplayRow row" *ngIf="!editmode">
        <div class="ruleActionTypes col-lg-6">
            <div class="ruleActionType" *ngFor="let type of rule.ActionTypes">
                <div>
                    <i style="font-size:21px" class="fa" [class.fa-envelope-o]="type == 'Email'" [class.fa-phone]="type == 'Phone'" [class.fa-handshake-o]="type == 'Meeting'"
                        [class.fa-calendar-o]="type == 'Events'" [tooltip]="type" [class.fa-tree]="type == 'Other'"></i>
                </div>
            </div>
            <div class="ruleActionTag" *ngFor="let tag of rule.Tags">
                {{tag}}
            </div>
        </div>
    </div>
    <div *ngIf="i+1 != settings?.SyncRules.length">
        or
    </div>

</div>
<div *ngIf="editmode">
    <a class="link" (click)="addRule()">+ Add new rule</a>
</div>
<hr>
<div>
    <a *ngIf="!editmode && popup" class="btn pull-right" (click)="saveClicked()"> {{ "USETHESESETTINGS" | translate }}</a>
    <a *ngIf="editmode" class="btn pull-right" (click)="saveClicked()">{{ settings?.SyncRules.length == 0 ? "SAVEALL" : "SAVE" | translate }}</a>
    <a *ngIf="!editmode" class="btn pull-right" (click)="editmode = true">{{ "EDIT" | translate }}</a>
</div>-->