.ruleActionType {
    display: inline-block;
    margin: 0px 5px;
}

.ruleActionTag {
    display: inline-block;
    margin: 0px 1px;
    background-color: orange;
    color: white;
    font-weight: 700;
    border-radius: 0.25em;
    padding: 0px 5px;
}

.ruleActionType > div {
    text-align: center;
}

.syncRule {
    padding: 10px 0px;
    border-top: 1px solid #ddd;
}

.ruleActionTags .ruleActionTag:first-child, .ruleActionTypes .ruleActionType:first-child {
    margin-left: 0px;
}

.ruleActionTags .ruleActionTag:last-child, .ruleActiontypes .ruleActionType:last-child {
    margin-right: 0px;
}

.ruleActionType div:last-child {
    font-size: 15px;
}

syncrules .row > div {
    padding-left: 0px;
    padding-right: 0px;
}

syncrules .row {
    margin-left: 0px;
    margin-right: 0px;
}