<div class="mainTitle">
    <h1 class="pull-left">
        {{conversationName}}
    </h1>
</div>
<div class="contentPanel chatWindow" [class.activeRightPanel]="rightpanel">
    <div class="container-fluid">
        <conversation-chat [conversation]="conversation"></conversation-chat>
        <div class="chatRightPnl">
            <div *ngIf="_orgService.userRole != 'Guest'">
                <div class="title" *ngIf="isPublicWorkGroup()">
                    <h2>{{ 'ACCOUNT' | translate }}</h2>
                    <a [routerLink]="['/CRM', accountIsPerson ? 'PersonAccounts': 'Accounts', accountId]"><i class="fa fa-{{accountIsPerson ? 'user': 'industry'}}" style="margin-right:5px;"></i> {{accountName}}</a>
                </div>
            </div>
            <conversation-users *ngIf="showUsers" [conversation]="conversation"></conversation-users>
            <div class="title files">
                <h2>{{ 'SHAREDFILES' | translate }}</h2>
                <conversation-files [conversation]="conversation"></conversation-files>
            </div>
        </div>
    </div>
</div>
<channel-settings [conversation]="conversation"></channel-settings>
<add-users-to-conversation [conversation]="conversation"></add-users-to-conversation>