<div class="title">
    <h4>{{ ( account?.IsPerson ? 'COMPANIES' : 'CONTACTS') | translate }}</h4>

    <div class="bubble-popup contactblockbubble pull-right" #contbubble arrowPosition='right'>

        <div>
            <a class="link icon" (click)="addNewContact()"><i class="fa fa-plus"></i>{{"ADDCONTACT" | translate}}</a>
        </div>
        <div>
            <chosen id="contactChosen" [width]="'100%'" [multiple]="false" #chosencontacts [(ngModel)]="test" [options]="notContactAccounts"
                name="contactChosen" placeholderTextSingle="{{'FINDCONTACT' | translate}}" (onSearch)="accountListSearch($event)" (onScroll)="accountListScroll($event.term, $event.page)" (change)="addToContacts($event)"></chosen>
        </div>
    </div>
    <!--<a class="btn" *ngIf="account?.IsPerson" (click)="modal.showCreateContactModal(null, account.Id)">+</a>-->
    <a class="btn" *ngIf="!account?.IsPerson" (click)="contbubble.open();bubbleOpened();">+</a>

</div>

<div *ngIf="!account?.IsPerson" class="content">
    <ul class="iconList">
        <li *ngFor="let cont of accountRelations">
            <i class="fa fa-user left icon"></i>
            <a (click)="contactClicked(cont)">
                {{ cont.FirstName }} {{ cont.LastName }}
            </a>
            <p *ngIf="cont.Title" class="evo-subtitle">{{cont.Title | translate }}</p>
            <a class="icon mail right" *ngIf="cont.Email" (click)="modal.showMailModal(cont.Email, account, '', cont)"><i class="fa fa-envelope"></i></a>
            <a class="icon phone right" *ngIf="cont.Phone && auth.isEvolumi" (click)="callContact(cont)"><i class="fa fa-phone"></i></a>
            <a class="icon dlt right" *ngIf="enableDelete" (click)="deleteFromContacts(cont.Id)"><i class="fa fa-trash"></i></a>
        </li>
    </ul>

    <span *ngIf="accountRelations?.length==0">{{'NOCONTACTS' | translate }}</span>
</div>

<div *ngIf="account.IsPerson" class="content">
    <ul class="iconList">
        <li *ngFor="let cont of accountRelations">
            <i class="fa fa-industry left icon"></i>
            <a (click)="contactClicked(cont)">
                {{ cont.CompanyName }}
            </a>
            <p *ngIf="cont.Title" class="evo-subtitle">{{ cont.Title }}</p>
            <a class="icon dlt right" *ngIf="enableDelete" (click)="deleteFromContacts(cont.Id)"><i class="fa fa-trash"></i></a>
        </li>
    </ul>

    <span *ngIf="accountRelations?.length==0">{{'NORELATEDCOMPANIES' | translate }}</span>

</div>

<div class="celarFix"></div>