<!-- VERTICAL -->
<div [class.projectBox]="!horizontal">
    <!--<div class="title">
        <h4>{{ 'FILTER' | translate }}</h4>
    </div>-->

    <div class="content" [class.row]="horizontal" *ngIf="filter">

        <!-- Controls -->
        <div id="FilterControlls" class="filter-controls" [class.clearfix]="!horizontal" [class.col-lg-3]="horizontal" [class.col-md-4]="horizontal"
            [class.col-sm-12]="horizontal">
            <div>
                <button (click)="updateFilter()" class="btn" [class.filter-btn-hor]="horizontal" [class.filter-btn-full]="!horizontal">{{'UPDATEFILTER' | translate}}</button>
            </div>
        </div>

        <!-- Deal filters -->
        <div id="DealFilterBox" class="clearfix" *ngIf="type == 'Deals' || type == 'Deal'">
            <h4 class="title">
                {{'DEALFILTERS' | translate}}
            </h4>

            <div class="form-group">
                <label>{{'FILTERBYDEALOWNER' | translate}}</label>
                <chosen id="DealOwnerDropdown" class="multichosen" [width]="'100%'" [multiple]="true" [options]="users" [(ngModel)]="filter.dealOwnerId"
                    placeholderTextMultiple="{{'SHOWALL' | translate}}"></chosen>
            </div>

            <div class="form-group">
                <label>{{'FILTERBYDEALSTATUS' | translate}}</label>
                <chosen id="DealStatusDropdown" [width]="'100%'" class="multichosen" [multiple]="true" [options]="dealStatuses" [optionsGroups]="saleProcess"
                    [(ngModel)]="filter.dealStatusId" placeholderTextMultiple="{{'SHOWALL' | translate}}"></chosen>
            </div>

            <div class="form-group">
                <label>{{'FILTERDATE' | translate}}</label>
                <chosen id="dealDateField" [width]="'100%'" [multiple]="false" [options]="dealDateFieldValues" [(ngModel)]="filter.dateFieldName"
                    (change)="filter.dateFieldName=$event"></chosen>
            </div>

            <div class="form-group">
                <label>{{'TIMESPAN' | translate}}</label>
                <chosen id="dealTimespan" [width]="'100%'" [multiple]="false" [options]="timeSpans" [(ngModel)]="filter.dealDateTimespan"
                    (change)="setTimeSpan('dealDate', $event)" placeholderTextSingle="{{'SHOWALL' | translate}}"></chosen>
            </div>
            <div class="form-group" *ngIf="dateCustom.dealDate">
                <evo-datepicker *ngIf="dateCustom.dealDate" id="DealDatepicker" [iconTopZero]="true" [range]="true" [(rangeStartDate)]="filter.dealStart"
                    [(rangeEndDate)]="filter.dealEnd"></evo-datepicker>
            </div>

            <div class="form-group">
                <label>{{'GROUPBY' | translate}}</label>
                <chosen id="dealGroupByDropdown" [width]="'100%'" [multiple]="false" [options]="groupValues" [(ngModel)]="filter.groupingType"
                    (change)="filter.groupingType = $event" placeholderTextSingle="{{'WEEK' | translate}}"></chosen>
            </div>


        </div>

        <!-- Action filters -->
        <div id="ActionFilterBox" class="clearfix" *ngIf="type == 'Actions' || type == 'Action'">
            <h4 class="title">
                {{'ACTIONFILTERS' | translate}}
            </h4>

            <div class="form-group">
                <label>{{'TIMESPAN' | translate}}</label>
                <chosen id="actionTimespan" [width]="'100%'" [multiple]="false" [options]="timeSpans" [(ngModel)]="filter.actionDateTimespan"
                    (change)="setTimeSpan('actionDate',$event)"></chosen>
            </div>
            <div class="form-group" *ngIf="dateCustom.actionDate">
                <evo-datepicker *ngIf="dateCustom.actionDate" id="ActionDatepicker" [iconTopZero]="true" [range]="true" [(rangeStartDate)]="filter.actionDateStart"
                    [(rangeEndDate)]="filter.actionDateEnd"></evo-datepicker>
            </div>

            <div class="form-group">
                <label>{{'ASSIGNEDTO' | translate}}</label>
                <chosen id="ActionAssignedPropdown" [width]="'100%'" class="multichosen" [multiple]="true" [options]="users" [(ngModel)]="filter.actionAssignedUserId"
                    placeholderTextMultiple="{{'SHOWALL' | translate}}"></chosen>
            </div>

            <div class="form-group">
                <label>{{'ACTIONTYPE' | translate}}</label>
                <chosen id="ActionTypeDropdown" [width]="'100%'" class="multichosen" [multiple]="true" [options]="actionTypes" [(ngModel)]="filter.actionType"
                    placeholderTextMultiple="{{'SHOWALL' | translate}}"></chosen>
            </div>

            <div class="form-group">
                <label>{{'GROUPBY' | translate}}</label>
                <chosen id="actionGroupByDropdown" [width]="'100%'" [multiple]="false" [options]="groupValues" [(ngModel)]="filter.groupingType"
                    (change)="filter.groupingType = $event" placeholderTextSingle="{{'WEEK' | translate}}"></chosen>
            </div>

        </div>

        <!-- Account filters -->
        <div id="AccountFilterBox" class="clearfix" *ngIf="type == 'Actions' || type == 'Action' || type == 'Deals' || type == 'Deal' || type == 'Accounts' || type == 'Account'">

            <h4 class="title">
                {{'ACCOUNTFILTERS' | translate}}
                <div class="pull-right">
                    <label class="evo-click-label" [class.active]="filter.accountCompanies" (click)="filter.accountCompanies = !filter.accountCompanies"
                        tooltip="{{'COMPANIES' | translate }}" placement="bottom">
                    <i class="fa fa-industry fa-fw"></i>
                </label>
                    <label class="evo-click-label" [class.active]="filter.accountPersons" (click)="filter.accountPersons = !filter.accountPersons"
                        tooltip="{{'PERSONACCOUNTS' | translate }}" placement="bottom">
                    <i class="fa fa-user fa-fw"></i>
                </label>
                </div>
            </h4>


            <div class="form-group">
                <label>{{'ACCOUNT' | translate}}</label>
                <account-select required="true" [value]="filter.accountId" [multi]="true" (selectAccount)="filter.accountId=$event" placeholder="{{'SHOWALL' | translate}}"></account-select>
            </div>

            <div class="form-group" [hidden]="filter.accountId != ''">
                <label>{{'FILTERBYACCMAN' | translate}}</label>
                <chosen id="AccountManagerDropdown" [width]="'100%'" class="multichosen" [multiple]="true" [options]="users" [(ngModel)]="filter.accountManagerId"
                    placeholderTextMultiple="{{'SHOWALL' | translate}}"></chosen>
            </div>

            <div class="form-group" [hidden]="filter.accountId != ''">
                <label>{{'ACCTYPE' | translate}}</label>
                <chosen id="AccountTypeDropdown" [width]="'100%'" class="multichosen" [multiple]="true" [options]="accountTypes" [(ngModel)]="filter.accountTypeId"
                    placeholderTextMultiple="{{'SHOWALL' | translate}}"></chosen>
            </div>

            <div class="form-group" *ngIf="advancedAccountfilters" [hidden]="filter.accountId != ''">
                <label>{{'TAGS' | translate}}</label>
                <chosen id="AccountTagDropdown" [width]="'100%'" class="multichosen" [multiple]="true" [options]="accountTags" [(ngModel)]="filter.accountTag"
                    placeholderTextMultiple="{{'SHOWALL' | translate}}"></chosen>
            </div>

            <div class="form-group" *ngIf="advancedAccountfilters" [hidden]="filter.accountId != ''">
                <label>{{'CREATEDATE' | translate}}</label>
                <chosen id="accountCreateTimespan" [width]="'100%'" [multiple]="false" [options]="timeSpans" [(ngModel)]="filter.acountDateCreatedTimespan"
                    (change)="setTimeSpan('accountCreateDate',$event)" placeholderTextSingle="{{'SHOWALL' | translate}}"></chosen>
            </div>
            <div class="form-group" *ngIf="dateCustom.accountCreateDate">
                <evo-datepicker [range]="true" [(rangeStartDate)]="filter.accountCreateStart" [(rangeEndDate)]="filter.accountCreateEnd"
                    [iconTopZero]="true"></evo-datepicker>
            </div>

            <div [hidden]="filter.accountId != ''">
                <a style="float:right" class="link" (click)="advancedAccountfilters = !advancedAccountfilters">{{advancedAccountfilters ? 'LESSFILTERS' : 'MOREFILTERS' | translate }}</a>
            </div>
        </div>

        <!--Goal filters -->
        <div id="GoalsFilterBox" [class.clearfix]="!horizontal" [class.col-lg-9]="horizontal" [class.col-md-8]="horizontal" [class.col-sm-12]="horizontal"
            *ngIf="type == 'Goals' || type == 'Goal'">
            <div [class.row]="horizontal">
                <h4 *ngIf="!horizontal" class="title">
                    {{'GOALSFILTERS' | translate}}
                </h4>
                <div [class.col-lg-4]="horizontal" [class.col-md-6]="horizontal" class="form-group">
                    <label>{{'USERS' | translate}}</label>
                    <chosen id="GoalsUsersDropdown" [width]="'100%'" class="multichosen" [multiple]="true" [options]="users" [(ngModel)]="filter.goalsUserIds"></chosen>
                </div>

                <div [class.col-lg-3]="horizontal" [class.col-md-6]="horizontal" class="form-group" [hidden]="filter.accountId != ''">
                    <label>{{'NOOFINTERVALS' | translate}}</label>
                    <chosen id="IntervalsDropdown" [width]="'100%'" class="multichosen" [multiple]="false" [options]="goalIntervals" [(ngModel)]="filter.goalsIntervals"></chosen>
                </div>
            </div>
        </div>

        <!-- Sales Commission filter -->
        <div id="SaleScommissionFilterBox" class="clearfix" *ngIf="type == 'SalesCommission' || type == 'SalesCommissions'">
            <h4 class="title">
                {{'SALESCOMMISSIONFILTER' | translate}}
            </h4>

            <div class="form-group">
                <label>{{'TIMESPAN' | translate}}</label>
                <chosen id="salesCommTimespan" [width]="'100%'" [multiple]="false" [options]="timeSpans" [(ngModel)]="filter.salesCommissionDateTimespan"
                    (change)="setTimeSpanTimestamp('salesCommission', $event)"></chosen>
                <div class="row" *ngIf="dateCustom.salesCommissionDate">
                    <div class="col-md-6">
                        <evo-datepicker id="SalesCommissionStartDate" [(ngModel)]="filter.salesCommissionStartDate" name="salesCommissionStartDate"></evo-datepicker>
                    </div>
                    <div class="col-md-6">
                        <evo-datepicker [(ngModel)]="filter.salesCommissionStartDate" [minDate]="filter.salesCommissionStartDate" [defaultDate]="filter.salesCommissionStartDate"
                            name="endDate"></evo-datepicker>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>{{'USERS' | translate}}</label>
                <chosen id="salesCommUsersDropdown" [width]="'100%'" class="multichosen" [multiple]="true" [options]="users" [(ngModel)]="filter.salesCommissionUsers"
                    placeholderTextMultiple="{{'SHOWALL' | translate}}"></chosen>
            </div>

            <div class="form-group">
                <label>{{'SALESCOMMISSIONS' | translate}}</label>
                <chosen id="salesCommDropdown" class="multichosen" [width]="'100%'" [multiple]="true" [options]="salesCommissions" [(ngModel)]="filter.salesCommissionIds"
                    placeholderTextSingle="{{'SALESCOMMISSIONS' | translate}}"></chosen>
            </div>

            <div class="form-group">
                <label>{{'GROUPBY' | translate}}</label>
                <chosen id="salesCommGroupByDropdown" [width]="'100%'" [multiple]="false" [options]="groupValues" [(ngModel)]="filter.groupingType"
                    placeholderTextSingle="{{'WEEK' | translate}}"></chosen>
            </div>

        </div>

    </div>
</div>