.progress-chart{
    padding-bottom: 15px;
}

.progress-chart progress,
.progress-values
{
    width: 100%;
}

.progress-chart progress{
    height: 30px;
}

.column-chart-divider{
    padding: 50px;
}

.filter-controls {
    padding-top: 20px;
    padding-bottom: 10px;
}

.chart-container {
    padding-right: 20px
}

.filter-btn-full {
    margin: 0;
    width: 100%;
}

.filter-btn-hor {
    white-space: normal;
}

.column-pin {
    position: absolute;
    right: 0;
}