<div style="width:100%;">
    <div style="height:100%px;" [style.min-height]="minHeight">
        
        <tabset class="customTab withIcon" *ngIf="highchartService.options.length > 0">
            <tab *ngFor="let option of highchartService.options" (select)="highchartService.selectedOption = option.title.text" [class.active]="highchartService.selectedOption == option.title.text">
                <ng-template tabHeading>
                    <i [class]="'fa fa-' + option.icon"></i>
                    <font>{{ option.title.text | translate }}</font>
                </ng-template>

                <div *ngIf="option.chart.type == 'list'">
                    <item-list [items]="highchartService.documents" [columns]="option.xAxis.categories" [itemType]="highchartService.insightType"
                        [shortenedList]="highchartService.isDocumentListShortened"></item-list>
                </div>
                <div *ngIf="option.chart.type != 'list'">
                    <a class="pull-right" (click)="pin(option)"><i class="fa fa-thumb-tack" tooltip="{{ 'PINTODASHBOARD' | translate }}"></i></a>
                    <chart  style="display:block" [options]="option"></chart>
                </div>
            </tab>
        </tabset>
    </div>
</div>