<div class="customPopup systemActive" [class.big]="big" id="chartModal" (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title">
            <span>{{highchart.modalOption.title.text}}</span>
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent" [ngSwitch]="highchart.modalOption.chart.type">
            <item-list *ngSwitchCase="'list'" [items]="highchart.documents" [columns]="highchart.modalOption.xAxis.categories" [itemType]="highchart.insightType"
                [shortenedList]="highchart.isDocumentListShortened"></item-list>
            <progress-chart [chart]="highchart.modalOption" *ngSwitchCase="'progress'"></progress-chart>
            <chart *ngSwitchDefault [options]="highchart.modalOption" style="display: block; width:100%"></chart>
        </div>
    </div>
</div>