<ng-content select="[header]"></ng-content>
<div class="row">
    <div class="chart-container" *ngFor="let option of highchart.options; let i = index">
        <div class="col-md-6 col-sm-12" [style.padding-left.px]="i % 2 !== 0 ? 20 : 0" [ngSwitch]="option.chart.type">
            <a class="column-pin" (click)="pin.emit(option.id)"><i class="fa fa-thumb-tack" tooltip="{{ 'PINTODASHBOARD' | translate }}"></i></a>
            <item-list *ngSwitchCase="'list'" [items]="highchart.documents" [columns]="option.xAxis.categories" [itemType]="highchart.insightType"
                [shortenedList]="highchart.isDocumentListShortened"></item-list>
            <div *ngSwitchCase="'progress'" style="padding-left: 20px;">
                <progress-chart [chart]="option" [sliced]="2"></progress-chart>
                <a (click)="showModal(option)">{{'SHOWALL' | translate}}</a>
            </div>
            <chart *ngSwitchDefault [options]="option" style="display: block; width:100%"></chart>
        </div>
        <div *ngIf="i % 2 !== 0" class="clearfix column-chart-divider"></div>
    </div>
</div>