<div>
    <div *ngIf="shortenedList">
        <label class="error-text">{{ INFOTOP100 }}</label>
    </div>

        <div class="row" style="font-size:14px;">
            <div *ngFor="let col of columns" class="col-md-2">
                <b>{{ getColumnHeader(col) | translate}}</b>
            </div>
        </div>


        <div *ngFor="let item of items">

            <div class="row report-item-row" (click)="clickItem(item)">

                <div *ngFor="let col of columns" class="col-md-2">
                    <font>{{ getColumnText(col, item) | translate}}</font>
                </div>

            </div>
        </div>
    </div>


