<h4 class="text-center">
    {{chart.title.text}}</h4>
<div class="progress-chart" *ngFor="let serie of sliced ? (chart.series | slice:0:sliced) : (chart.series)">
    <h4>{{serie.name}}</h4>
    <progress [value]="serie.data[0] || 0" [max]="serie.data[1] || 0"></progress>
    <div class="progress-values">
        <span class="pull-left">{{serie.data[0] || 0}}</span>
        <span class="pull-right">{{serie.data[1] || 0}}</span>
    </div>
    <div class="clearfix"></div>
</div>