<div class="mydp" [ngStyle]="{'height': height, 'width': width}">
    <div class="selectiongroup">
        <input type='text' class="datepicker-here selection" [ngStyle]="{'height': height, 'line-height': height}" readonly/>
        <span class="selbtngroup" [style.height]="height">
            <button type="button" class="btnclear" *ngIf="isDateSelected()" (click)="removeBtnClicked()"><span class="icon icon-cross"></span></button>
            <button type="button" class="btnpicker" (click)="openBtnClicked()"><span class="icon icon-calendar"></span></button>
        </span>
    </div>   
</div>