.quickSelect {
    display: inline-block;
    position: relative;
}

.quickSelectBox {
    position: absolute;
    background: white;
    text-align: left;
    right:0;
    border:1px solid #aaa;
    display: inline-block;
    z-index: 2000;
}

.quickSelectIcon {
    /* font-size: 10px; */
}

.selectItem {
    padding: 1px 10px;
    border: 1px solid #eee;
}

.quick-select-item:hover{
    background-color: #EEE;
}