<div class="quickSelect">
    <div class="quickSelectIcon">
        <a (click)="toggleQuickSelectBox()"><i class="fa fa-caret-down"></i></a>
    </div>

    <div *ngIf="showQuickSelectBox" id="quickSelectItems" class="quickSelectBox" [style.width]="width">
        <div *ngFor="let item of items" class="clickable quick-select-item" (click)="itemSelected($event,item)">
            <div class="selectItem" *ngIf="displayProperty" [ngStyle]="item.styles">
                {{item[displayProperty]}}
            </div>
            <div class="selectItem" *ngIf="!displayProperty" [ngStyle]="item.styles">
                {{item}}
            </div>
        </div>
    </div>
</div>