<div class="customPopup systemActive " id="addGoals" (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title">
            {{ 'GOALSCREATE' | translate }}
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <form #goalsForm="ngForm">
                <div class="basicDetails">
                    <div class="form-group">
                        <label for="Name">{{ 'NAME' | translate }}</label>
                        <input id="Name" type="text" class="form-control" required [(ngModel)]="goal.Name" name="name" #name="ngModel">
                        <div [hidden]="name.untouched || name.valid" class="bg-danger">
                            {{ 'REQ' | translate }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Description">{{ 'DESCRIPTION' | translate }}</label>
                        <textarea id="Description" type="text" class="form-control" [(ngModel)]="goal.Description" name="description" #description="ngModel"></textarea>
                    </div>
                    <div class="form-group">
                        <label>{{ 'GOALSTYPES' | translate }}</label>
                        <chosen required id="GoalsType" name="goalsType" #goalsType [width]="'100%'" [multiple]="false" [options]="goalsTypes" [(ngModel)]="goal.SalesGoalType"
                            (change)="onTypeChanged($event)" placeholderText="{{'CHOOSEGOALTYPE' | translate}}"></chosen>
                    </div>

                    <div class="form-group" *ngIf="typeChosen && actionChosen">
                        <label>{{ 'GOALSOFACTIONTYPE' | translate }}</label>
                        <span (click)="chooseAll('ActionTypes')" *ngIf="goal.ActionTypes.length !== actionTypes.length" class="pull-right clickable">{{'CHOOSEALL' | translate}}</span><span (click)="goal.ActionTypes = [];" *ngIf="goal.ActionTypes.length === actionTypes.length" class="pull-right clickable">{{'REMOVEALL' | translate}}</span>
                        <chosen required id="GoalsActionType" name="goalsActionType" #goalsActionType [width]="'100%'" [multiple]="true" [options]="actionTypes"
                            [ngModel]="goal.ActionTypes" (ngModelChange)="onActionTypeChanged($event)"></chosen>
                    </div>
                    <div *ngIf="goal.SalesGoalType === 'ClosedActions' && goal.ActionTypes && goal.ActionTypes.length" class="form-group">
                        <label>{{'STATUS' | translate}}</label>
                        <span (click)="chooseAll('ActionStatuses')" *ngIf="goal.ActionStatuses.length !== actionStatusList.length" class="pull-right clickable">{{'CHOOSEALL' | translate}}</span><span (click)="goal.ActionStatuses = [];" *ngIf="goal.ActionStatuses.length === actionStatusList.length" class="pull-right clickable">{{'REMOVEALL' | translate}}</span>
                        <chosen id="goalActionStatuses" [(ngModel)]="goal.ActionStatuses" [width]="'100%'" [multiple]="true" [options]="actionStatusList"
                            name="actionStatus"></chosen>
                    </div>
                    <div *ngIf="goal.SalesGoalType === 'ClosedActions'" class="form-group">
                        <label for="useActualClose" class="evo-cb-label">{{ 'USEACTUALCLOSEDATE' | translate }}</label>
                        <label class="customCheckBox leftFolat" id="custome-check">
                            <input type="checkbox" id="useActualClose" [(ngModel)]="goal.UseActualCloseDate" class="checker" name="actualClose">
                            <div class="custonCkeck"></div>
                        </label>
                    </div>
                    <div class="form-group" *ngIf="typeChosen && actionChosen">
                        <label>{{ 'ACTIVITYLISTS' | translate }}</label>
                        <chosen id="GoalsLabels" name="goalsLabels" #goalsTags [width]="'100%'" [multiple]="true" [options]="labels" [(ngModel)]="goal.Labels"
                            placeholderText="{{'CHOOSEACTIVITYLIST' | translate}}"></chosen>
                    </div>
                    <div class="form-group" *ngIf="typeChosen && dealsWithStatusChosen && saleProcesses.length > 1">
                        <label>{{'SALESPROCESS' | translate}}</label>
                        <chosen required id="GoalsSalesProcess" name="goalsSalesProcess" [width]="'100%'" [multiple]="false" [options]="saleProcesses"
                            [(ngModel)]="goal.SalesProcessId" (change)="onSaleProcessChange($event)"></chosen>
                    </div>
                    <div class="form-group" *ngIf="typeChosen && goal.SalesProcessId">
                        <label>{{ 'GOALSOFDEALSTATUS' | translate }}</label>
                        <chosen required id="GoalsDealStatus" name="goalsDealStatus" #goalsDealStatus [width]="'100%'" [multiple]="false" [options]="dealsStatuses"
                            [(ngModel)]="goal.DealStatusId" [optionsGroups]="statusGroups"></chosen>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group" *ngIf="typeChosen && dealsWithValue">
                            <label>{{'CURRENCY' | translate}}</label><br>
                            <chosen required id="currency" name="currency" [width]="'100px'" [multiple]="false" [options]="currencies" [(ngModel)]="goal.Currency"></chosen>
                        </div>
                        <div [ngClass]="{'col-md-6' : dealsWithValue, 'col-md-12' : !dealsWithValue}" class="col-md-6 form-group" *ngIf="typeChosen">
                            <label>{{ 'GOALSTIMEINTERVAL' | translate }}</label>
                            <chosen required id="GoalsTimeInterval" name="goalsTimeInterval" #goalsTimeInterval [width]="'100%'" [multiple]="false" [options]="timeIntervals"
                                [(ngModel)]="goal.Interval"></chosen>
                        </div>
                    </div>

                    <div class="buttonRow">
                        <button id="GoalsCreateButton" type="button" (click)="createGoal()" [disabled]="goalsForm.invalid" class="btn pull-right">{{ 'CREATEBTN' | translate }}</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>