<div class="customPopup big systemActive " id="editGoals" (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title">
            {{ 'GOALSEDIT' | translate }}
            <a class="close pull-right" (click)="back()"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <h3 class="goals-edit-header">{{ goal?.Name }}</h3>
            <div class="col-md-6">
                <div class="text-center goals-edit-dates">
                    <i [ngClass]="{'goals-hide': !showPrev}" (click)="onPrevPeriod()" class="fa fa-arrow-left pull-left goals-pointer"></i>
                    <span>{{ firstDayOfPeriod | dateonly }} - {{ lastDayOfPeriod | dateonly}}</span>
                    <i (click)="onNextPeriod()" class="fa fa-arrow-right pull-right goals-pointer"></i>
                </div>
                <table class="table">
                    <tr>
                        <th style="min-width: 55px;"></th>
                        <th>{{ 'NAME' | translate }}</th>
                        <th style="max-width:135px; width: 135px;"><span *ngIf="goal.SalesGoalType !== 'DealsValueOf'">{{ 'QUANTITY' | translate }}</span><span *ngIf="goal.SalesGoalType === 'DealsValueOf'">{{'VALUE' | translate}}</span></th>
                        <th style="max-width: 20px;"></th>
                    </tr>
                    <tr *ngFor="let data of (goalDataList | goalDataActive); let i = index;" (onRemove)="removeUser($event)" (onSave)="saved()"
                        [timestamp]="currentDate" [goalData]="data" [index]="i">
                    </tr>
                    <tr>
                        <td></td>
                        <td style="font-weight: bold">{{'TOTAL' | translate}}</td>
                        <td style="text-align: right; padding-right: 20px;">{{totalSum}}</td>
                        <td></td>
                    </tr>
                </table>
                <div class="form-group">
                    <label>{{ 'USERADD' | translate }}</label><br>
                    <a class="link" (click)="popupPart.open()">
                    <i class="fa fa-plus"></i>
                </a>
                    <div #popupPart class="bubble-popup" arrowPosition="left" classAvoidClose="prevent-close">
                        <div class="addUsers">
                            <div>
                                <label>{{'USERSTOADD' | translate}}</label>
                            </div>
                            <div class="clickable" (click)="onAddAllUsers()">{{'ADDALL' | translate}}</div>
                            <div>
                                <div *ngFor="let user of userList; let i = index;" class="goals-img-cont" tooltip="{{user.value | username}}" (click)="onAddUser(user.value, i)">
                                    <img class="prevent-close" style="width: 40px;" [profilepicture]="user.value" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- DETAILS -->
            <div class="col-md-6" style="padding-left: 30px;">
                <div class="form-group" *ngIf="goal.Description">
                    <label>{{ 'DESCRIPTION' | translate }}</label>
                    <p>{{goal.Description}}</p>
                </div>
                <div class="form-group">
                    <label>{{ 'GOALSTYPES' | translate }}</label>
                    <p>{{'GOALS' + goal.SalesGoalType.toUpperCase() | translate}}</p>
                </div>
                <div class="form-group" *ngIf="goal.ActionTypes && goal.ActionTypes.length">
                    <label>{{ 'GOALSOFACTIONTYPE' | translate }}</label>
                    <p>{{actionTypes}}
                </div>
                <div *ngIf="goal.ActionStatuses && goal.ActionStatuses.length" class="form-group">
                    <label>{{'STATUS' | translate}}</label>
                    <p>{{actionStatuses}}</p>
                </div>
                <div *ngIf="goal.SalesGoalType === 'ClosedActions'" class="form-group">
                    <label for="useActualClose" class="evo-cb-label">{{ 'USEACTUALCLOSEDATE' | translate }}</label>
                    <label class="customCheckBox leftFolat" id="custome-check">
                        <input type="checkbox" id="useActualClose" [(ngModel)]="goal.UseActualCloseDate" class="checker" name="actualClose">
                        <div class="custonCkeck"></div>
                    </label>
                </div>
                <div class="form-group" *ngIf="goal.Labels && goal.Labels.length">
                    <label>{{ 'ACTIVITYLISTS' | translate }}</label>
                    <p>{{goal.Labels.join(', ')}}</p>
                </div>
                <div class="form-group" *ngIf="goal.SalesProcessId">
                    <label>{{'SALESPROCESS' | translate}}</label>
                    <p>{{salesProcessName}}
                </div>
                <div class="form-group" *ngIf="goal.DealStatusId">
                    <label>{{ 'GOALSOFDEALSTATUS' | translate }}</label>
                    <p>{{dealStatusName}}</p>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group" *ngIf="goal.Currency">
                        <label>{{'CURRENCY' | translate}}</label><br>
                        <p>{{goal.Currency}}</p>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>{{ 'GOALSTIMEINTERVAL' | translate }}</label>
                        <p>{{goal.Interval}}</p>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="buttonRow">
                <p *ngIf="showSaved" class="save-text-left">{{'SAVED' | translate}}</p>
                <button id="GoalsCloseButton" (click)="back()" class="btn pull-right">{{ 'CLOSEBTN' | translate }}</button>
            </div>
        </div>
    </div>
</div>