.goals-hide{
    visibility: hidden;
}

.goals-edit-header{
    margin-top: 10px;
    margin-bottom: 20px;
}

.goals-edit-input{
    text-align: right;
    width: 130px;
}

.goals-edit-dates{
    padding-bottom: 15px;
}

.goals-pointer{
    cursor: pointer;
}

.goals-img-cont{
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 3px;
    position: relative;
    cursor: pointer;
    min-width: 40px;
}