<div class="mainTitle">
    <h1>{{ 'CONTRACTSSETTINGS' | translate }}</h1>
</div>
<div class="contentPanel settingsPage">

    <div class="contentWrapper">

        <div class="projectBox clearfix">
            <div class="title">
                {{ 'CONTRACTSCATEGORIES' | translate }}
            </div>
            <div class="gridWrapper">
                 <table>
                    <thead>
                        <tr>
                            <th>{{'NAME' | translate}}</th>
                            <th>{{'COLOR' | translate}}</th>
                            <th>{{'CATEGORYCOUNT' | translate}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categoryGroups">
                            <td>
                                <a (click)="openEdit(category.Id)">{{category.Name}}</a>
                            </td>
                            <td>
                                <div style="width: 100px; height: 20px;" [style.background-color]="category.Color"></div>
                            </td>
                            <td>
                                {{category.Categories.length}}
                            </td>
                            <td>
                                <a (click)="openDelete(category.Id)" class="link icon"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<add-category-modal *ngIf="catSvc.currentCategoryGroupObs() | async"></add-category-modal>