<div class="row">
    <div class="col-md-2">{{feature.Name}}</div>
    <div class="col-md-10">
        <input type="text" [(ngModel)]="feature.NameLabel" placeholder="Label">
        <input type="text" [(ngModel)]="feature.DescriptionLabel" placeholder="Description">
        <input type="text" [(ngModel)]="feature.ImageUrl" placeholder="ImageUrl">
        <button (click)="save()">Save</button>
        <button (click)="editInfo = !editInfo">Info</button>
        <button (click)="editPrice = !editPrice">Prices</button>
    </div>
    <div class="col-md-12">
        <edit-info *ngIf="editInfo" [information]="feature.Information" (update)="feature.Information=$event;save()"></edit-info>
    </div>
    <div class="col-md-12">
        <volume-price-edit *ngIf="editPrice" [feature]="feature" (update)="feature=$event;save()"></volume-price-edit>
    </div>
</div>