<div>
    <select [(ngModel)]="currency" (ngModelChange)="changeCurrency()" class="pull-right">
        <option *ngFor="let cur of currencies" [value]="cur">{{cur}}</option>
    </select>
    <div>
        <input type="text" [(ngModel)]="feature.VolumeTextLabel" placeholder="Text">
        <input type="text" [(ngModel)]="feature.VolumeQuantityLabel" placeholder="Quantity">
    </div>
    <div *ngFor="let price of selectedList">
        <input type="number" placeholder="Max" [(ngModel)]="price.Max"/><input type="number" placeholder="price" [(ngModel)]="price.Price"/>
    </div>
    <button (click)="newPrice()">Add price</button><button (click)="save()">Save</button>
</div>