.helpContainer {
    white-space:nowrap;
    overflow:hidden;
    position:fixed;
    top:80%;
    z-index: 30000;
    transition:1s ease-in 2s;
    right:0px;
    width:initial;
}

.helpContainer:not(:hover){
    transition:1s ease-out 2s;
    width:30px;

}

.helpIcon {
    vertical-align:middle;
    display:table-cell;
    width:30px;
    height:100%;
    background-color:#e75480;
    border-radius:10px 0px 0px 10px;
    text-align:center;
}

.helpLinks {
    padding: 0px 10px 0px, 0px;
    font-size: 15px;
    margin-left:-25px;
    vertical-align:top;
    display:table-cell;
    background-color:#e75480;
}

a {
    color:white;
}
a:visited{
    text-decoration: none;
}
a:hover {
    color:white;
}

i {
    width:30px;
    color:white;
}
ul {
    list-style-type:none;
    padding: 10px 24px 0px 0px;
}

li{
    white-space:nowrap;
}
.innerHelpContainer {
    overflow: hidden;
    position: relative;
    width: 100%;
}