
    <div class="helpContainer" (mouseover)="expand()" (mouseleave)="collapse()">
        <div class="innerHelpContainer">
            <div class="helpIcon" (click)="toggleHelp()">
                <i *ngIf="!isExtended" class="fa fa-heart-o"></i>
                <div *ngIf="isExtended" class="helpLinks">
                    <div><i class="fa fa-wechat"></i></div>
                    <div><i class="fa fa-coffee"></i></div>
                </div> 
            </div>
            <div class="helpLinks">  
                <ul>
                    <li><a tabindex="-1" id="chatLauncher" (click)="openChat()">{{"OPENCHAT" | translate}}</a></li>
                    <li><a tabindex="-1" target="_blank" href="http://guide.evolumi.com">{{"OPENHELP" | translate}}</a></li>
                </ul> 
            </div> 
        </div>
    </div>
