<div class="contentPanel settingsPage">
    <div class="contentWrapper">
        <div class="projectBox clearfix">
            <div class="col-lg-12">
            </div>
            <div class="col-md-3">
                <label for="Firstname">{{ 'UNITVALUE' | translate }}</label>
                <div class="gridWrapper fltNon clearfix">
                    <table class="normal">
                        <tbody [dragula]="'nested-bag'" [dragulaModel]='vats'>
                            <tr *ngFor="let unit of units  let i = index">
                                <td> {{unit}}</td>
                                <td width="80">
                                    <a id="EditUnitButton" (click)="showEditUnitPopup(i)" class="link icon"><i class="fa fa-pencil-square-o"></i></a>
                                    <a id="DeleteUnitButton" (click)="showDeleteUnitPopup(i)" class="link icon"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix buttonWrapperRow">
                                <a id="UnitAddButton" (click)="showAddUnitPopup();" class="link pull-left"><i class="fa fa-plus fa-1"></i> {{ 'ADDUNIT' | translate }}</a>
                            </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="customPopup " id="addContact" [ngClass]="{systemActive: addUnitPopUp||editUnitPopup}" (click)="clickToClose($event,'add')">
    <div class="popupBox">
        <div class="title" *ngIf="addUnitPopUp">
            {{ 'ADDUNIT' | translate}}
            <a id="UnitCreateButton" class="close pull-right" (click)="cancel('add')"><i class="fa fa-times"></i></a>
        </div>
        <div class="title" *ngIf="editUnitPopup">
            {{ 'EDITUNIT' | translate}}
            <a id="UnitEditButton" class="close pull-right" (click)="cancel('edit')"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="blockContent">
                <form [formGroup]="UnitForm">
                    <div class="form-group">
                        <label> {{ 'UNIT' | translate }}</label>
                        <input id="UnitValue" type="text" class="form-control" placeholder="{{'UNIT' | translate}}" formControlName="unit" [(ngModel)]="unitValue">
                    </div>
                    <div class="">
                        <input id="UnitCancleButton" type="button" class="btn gray" value="{{ 'CANCELBTN' | translate }}" (click)="toggleUnitPopupDisplay()" />

                        <input id="UnitAddFieldButton" type="button" *ngIf="addUnitPopUp" class="btn pull-right" (click)="addUnit(unitValue)" value="{{ 'ADDBTN' | translate }}" [disabled]="!UnitForm.valid"/>
                        <input id="CarSaveButton" type="button" *ngIf="editUnitPopup" class="btn pull-right" (click)="editUnit(unitValue)" value="{{'SAVEBTN' | translate}}" />

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="customPopup " id="deleteunit" [ngClass]="{systemActive: deleteUnitPopup}" (click)="clickToClose($event,'add')">
    <div class="popupBox">
        <div class="title">
            {{'DELETEUNIT' | translate}}
            <a class="close pull-right" (click)="cancel('add')"><i class="fa fa-times"></i></a>
        </div>
        <div class="popupContent">
            <div class="blockContent">
                <form>
                    <div class="form-group">
                        <label for="deletetext">{{'WARNDELETEUNIT' | translate}}?</label>                        
                    </div>
                    <div>
                        <input id="CancleButton" type="button" class="btn gray" value="{{ 'CANCELBTN' | translate }}" (click)="toggleDeleteVatPopupDisplay()" />                        
                        <input id="DeleteButton" type="button"  class="btn pull-right" (click)="delete()" value="{{ 'DELETE' | translate }}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
