.accountsPage {

    .popupOverlay.in {

        @media screen and (max-width:991px) {
            display: none !important;
        }
    }

    .projectBox {
        position: absolute;
        left: 15px;
        top: 15px;
        bottom: 15px;
        right: 15px;
        margin: 0;
        width:auto;

        @media screen and (max-width:991px) {
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }
    }

    .gridWrapper {
        bottom: 20px;
        left: 20px;
        overflow: auto;
        position: absolute;
        right: 20px;
        top: 103px;
        width: auto;

        @media screen and (max-width:767px) {
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
        }

        table {
            @media screen and(max-width:800px) {
                tr {
                    display: table-row;

                    td {


                        &.accountname {
                            text-align: left;
                            font-size: &fontSize;
                            display: table-cell;
                            float: none;

                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .contentPanel {

        .filterController {
            left: 8px;
            bottom: 6px;
            width: 50px;
            height: 50px;
        }
    }
}

.sidePopup {

    &.addAccountPopup {

        .title {
            display: none;

            @media screen and (max-width:767px) {
                display: block;
            }
        }
    }
}

.accountsView {


    .tab-content {

        .filterBox {
            border-top: 1px solid $lightBorder;
            background: none;
            margin: 15px 0;
            padding: 10px 0;
        }

        .edit-permission {
            @media screen and (max-width:767px) {
                margin-bottom: 15px;
            }
        }
    }

    .accountsInfo {

        .contentRow {
            padding: 0 0 20px 0;

            label {
                font-size: $fontSize - 6;
                text-transform: uppercase;
                color: $lightText;
            }

            b {
                color: $linkHover;
            }

            .boxType {
                float: left;
                margin: 0 15px 10px 0;
                border: 1px solid #eee;
                padding: 10px;
            }
        }

        .blockContent {
            border-top: 1px solid $lightBorder;
            padding: 10px 0 15px;
            margin: 5px 0 0 0;
        }
    }
	
	.tab-content {

		.filterBox{
			border-top:1px solid $lightBorder;
			background:none;
			margin:15px 0;
			padding:10px 0;
		}

		.edit-permission{
			@media screen and (max-width:767px){
				margin-bottom:15px;
			}
		}
	}


	.contentRow{

		padding:0 0 20px 0;

		label {
			font-size:$fontSize - 6;
			text-transform:uppercase;
			color:$lightText;
		}

		b{
			color:$linkHover;
		}

		.boxType{
			float:left;
			margin:0 15px 10px 0;
			border:1px solid #eee;
			padding:10px;
		}
	}

	.blockContent {
		border-top:1px solid $lightBorder;
		padding:10px 0 15px;
		margin:5px 0 0 0;
	}

}

.hasAd {
    .accountsPage .projectBox {

        @media screen and (max-width:767px) {
            top:0px;
        }
    }
}

.accountLabel {
    float: left;
    height: 22px;
    margin-right: 5px;
    width: 5px;
}

.panelAction label[for="file-input"] input[type=file] {
    display: none;
}

.import-popup {
    .panel-body {
        padding: 15px !important;
        
        @media screen and (max-width:992px) {
            .form-group {
                float: right;
                width: 100%;
            }
        }
    }
}
