.actionsPage{
	@include animation(right,0.3s);

	&.showingAction{
		right:597px;

		@media screen and (max-width:1300px){
			right:500px;
		}

		@media screen and (max-width:1200px){
			right:400px;
		}

		@media screen and (max-width:767px){
			right:0px;
		}
	}


	&.accountsPage{
		.gridWrapper {
			@media screen and (min-width:768px){
				top:143px;
			}
		}
	} 

	.actionsDetails{
		
		h2 {
			margin-bottom:5px;
			font-size:$fontSize+2;
			font-weight:bold;
			display: inline-block;
		}

		a{
			display: inline-block;
		}

		p{

			&.date{
				margin-bottom:3px;
			}

			&.byUser{
				font-weight:bold;
			}
		}

		textarea{
			margin-bottom:15px;
		}

	}

	.customTab {
		
		.nav-tabs{
			margin-bottom:15px;
		}
	}

	.projectBox{
		.panel{
			border:0px;
		}
	}
	
	&.accountsPage .gridWrapper{
		@media screen and (max-width:767px){
			top:50px;
		}
	}
}

.sidePopup {

	&.showAction {
        .actionsTab > .nav-tabs > li {
			width:33.333333%;
			text-align:center;
		}
        
		@media screen and (max-width:1200px){
			width:400px;
		}

		@media screen and (max-width:1023px){
			width:400px;
		}

		@media screen and (max-width:767px){
			right:10px;
			width:auto;
			left:10px;
			top:10px;
			bottom:10px;
			display:none;

			&.activeInmobile{
				display:block;
			}
		}

		.tab-content ul li{
			margin-bottom:15px;

			font{
				font-size:12px;
				margin:0 0 0 37px;
				color:$lightText;
			}
		}
	}

	.tab-content{
        ul{
            padding:0px;
            list-style:none;

            li {
                font-size: 15px;
                padding: 5px 0;
            }

        } 
    }

    .title{
    	margin-bottom:5px;
    }

    .edit-permission{
    	margin-bottom:15px;
    	float:left;
    	width:100%;
    }
}

.actionsInfo{
	
	.contentRow{

		p{
			padding-bottom:5px;
			margin-bottom:25px;
			font-weight:400;
		}
	}
}

.btn.searchIconBtn{
	padding:2px 10px;

	@media screen and (max-width:991px){
		width:100%;
	}
}

.actionContactNumber{
	margin: 9px 0;
}

div#Act {
    z-index: 0;
} 