.adminPanel{
	.btn.overridebtn{
		background:#f39d48;
	}

	.choosebtn .btn {
		margin-top:30px;
	}
	canvas {
		max-width:100%;
		height:100%;
		width:100%;
		max-height:100%;
	}

	.graphFilter{
		margin-bottom:40px;
	}

	@media screen and (min-width:992px){

		&.statistics{
			top:50px;
		}

		.projectBox {
		    bottom: 15px;
		    left: 15px;
		    margin-bottom: 0;
		    position: absolute;
		    right: 15px;
		    top: 15px;
		    overflow:auto;

		    .graphCol{
		    	position:absolute;
		    	height:100%;
		    	top:0px;
		    	overflow:auto;

		    	.graphWrapper{
		    		position:absolute;
		    		top:80px;
		    		bottom:100px;
		    		left:15px;
		    		right:40px;
		    		overflow:auto;
		    	}

		    	.graphFilter{
		    		position:absolute;
		    		bottom:15px;
		    		left:15px;
		    		right:15px;
		    		border-top:1px solid $border-color;
		    		padding-top:10px;
		    		right:40px;
		    		margin:0px;
		    	}

		    	.title{
		    		margin-top:15px;

		    		font{
		    			background:$theme;
		    			margin:0 0 0 10px;
		    			@include border-radius(30px,30px,30px,30px);
		    			color:#fff;
		    			padding:0 15px;

		    			&.green {
		    				background:$highlight;
		    			}
		    		}
		    	}

				&.users{
					border-right:1px solid $lightBorder;
					padding-right:40px;
					left:0px;
				}

				&.orgs{
					padding-left:40px;
					right:0px;

					.graphWrapper{
						left:40px;
						right:15px;
					}

					.graphFilter{
						left:40px;
						right:15px;
					}
				}
			}

			h3{
				padding:20px 0;
				color:$theme;

				&.green{
					color:$highlight;
				}
			}
		}
	}

	.contentWrapper{
		@media screen and (max-width:991px){
			padding:0px;
		}
	}

	h3{
		font-weight:300;
		color:$mediumTextColor;
	}

	.uploadAd{
		float:left;
		width:100%;
		padding:10px;
		border:1px dashed $highlight;
		text-align:center;
		margin-bottom:10px;
		font-weight:300;
		color:$highlight;
		cursor:pointer;

		@media screen and (min-width:768px){
			height:94px;
			padding:33px;
		}
		

		input{
			opacity:0;
			height:0;
		}
	}

	textarea.form-control{
		height:60px;
	}

	.creatAd{
		width:100%;

		@media screen and (min-width:768px){
			padding:3px 10px;
		}
	}

	.links{
		text-align:center;
		border:1px solid $lightBorder;
		padding-top:15px;
		background:$lightWhite;

		.col-xs-4{
			border:1px solid $lightBorder;
			border-bottom:0px;
			background:$white;

			&:first-child{
				border-left:0px;
				border-right:0px;
			}
			&:last-child{
				border-left:0px;
				border-right:0px;
			}

			.link{
				padding:5px 0;
				float:left;
				width:100%;
			}

			b{
				padding:5px 0 0 0;
				display:block;
			}
		}
	}

	.addLists{
		margin-bottom:40px;
		padding-bottom:40px;
		border-bottom:1px solid $lightBorder;
		
		&:last-child{
			border-bottom:0px;
			margin-bottom:0px;
		}

		.uploadAd{
			background:#666;
			border:1px solid #444;
			color:#ffffff;
			margin-bottom:15px;
			height:auto;
			padding:10px;
		}
	}

	.addNewAd {
		float:right;

		@media screen and (max-width:991px){
			float:none;
		}
	}

	.listAllAds{
		border-right:1px solid $lightBorder;
	}

	.dropDownPopup{
		position:absolute;
		left:0px;
		bottom:-150px;
		background:#eee;
		padding:5px;
		width:100%;
		display:none;
		z-index:10;
		@include animation;

		&.systemActive{
			bottom:0px;
			display:block;
		}

		.btn {
			padding:5px 10px;
			font-size:15px;
			float:left;
		}
	}

	.schedulesLeft{
		padding-top:30px;
		text-align:center;
	}

	.schedulePopupOuter{
		float:left;
		width:100%;
		margin: 10px 0 0;
		display:none;

		.schedulePopup {
			position:relative;
		    background:#ffffff;
		    border: 1px solid #ddd;
		    margin:0 15px;
		    padding: 30px 0 30px;
			box-shadow:0 0 10px 0 #ccc inset;
		    @include animation;
		    opacity:0;
		    

		    .addLists{
		    	border-color: #ddd;
			    margin-bottom: 20px;
			    padding: 0 15px 20px;
		    	border-color:$border-color;

		    	&:last-child{
					border-bottom:0px;
				}
		    }

		    .close{
		    	background:#ccc;
			    height: 40px;
			    line-height: 37px;
			    position: absolute;
			    text-align: center;
			    width: 40px;
			    right:0px;
			    top:0px;
		    }
		}

		&.systemActive{
			display:block;

			.schedulePopup{
				opacity:1;
			}
		}
	}
}

.rollPopup{
	.form-horizontal .control-label{
		text-align:left;
	}
}

.contentPanel1 {
  bottom: 0; 
  left: 0px;
  overflow: auto;
  padding: 15px;
  position: fixed;
  right: 0;
  top:250px;
  background:#fff;
  margin:15px;
}