
.cardLayout{
	display: flex;
    flex-direction: column;
    height: 100%;

    .cardsOuter{
    	flex-grow: 1;
     	position: relative;

     	.cardsWrapper {
		    float: left;
		    height: 100%;
		    overflow-x: auto;
		    overflow-y: hidden;
		    white-space: nowrap;
		    width: 100%;
		    position:absolute;
		    left:0px;
		    top:0px;

		    .cardBox{
		    	width:300px;
		    	height:99%;
		    	display:inline-block;
		    	white-space: nowrap;
		    	position:relative;
		    	background:$white;
		    	@include border-radius(3px,3px,3px,3px);
		    	@include boxshadow(1px, 0, 4px, 0, #ccc);
		    	margin-right:10px;

		    	.cardHead{
		    		position:absolute;
		    		top:0px;
		    		right:0px;
		    		height:90px;
		    		left:0px;
		    		padding:2px;
		    		font-size:$fontSize - 2;

		    		.dealStatus{
		    			display:block;
		    			overflow:hidden;
		    			background:$highlight;
		    			color:$white;
		    			padding:5px 8px;
		    			font-weight:400;
		    		}

		    		.quickContent{
		    			float:left;
		    			width:100%;
		    			padding:7px;

		    			a {
		    				display:block;
		    				color:$linkHover;
		    				float:left;
		    				width:100%;
		    			}
		    		}

		    	}

		    	.cardContent{
		    		position:absolute;
		    		top:90px;
		    		left:0px;
		    		bottom:0px;
		    		right:0px;
		    		padding:7px;
		    		overflow:auto;
		    		border:3px solid $white;
		    		background:$cardBg;
		    		@include border-radius(6px,6px,6px,6px);

		    		.cards{
		    			width:100%;
		    			padding:10px;
		    			background:#fff;
		    			float:left;
		    			font-size:$fontSize - 3;
		    			margin-bottom:5px;
		    			@include border-radius(3px,3px,3px,3px);
		    			cursor:grab !important;
		    			cursor: -webkit-grab !important; 
		    			cursor: -moz-grab !important;
						cursor: -webkit-grabbing !important; 
						cursor: -moz-grabbing !important;
		    			@include animation(all,0.3s);
		    			border:1px solid $lightBorder;
		    			overflow:hidden;

		    			b{
		    				display:block;
		    				font-size:$fontSize;
		    				overfolw:hidden;
		    				text-overflow:ellipsis;
		    			}

		    			div{
		    				color:$lightText;
		    			}

		    			&:hover{
		    				@include boxshadow(0,0,5px,0,#ccc);
		    			}
		    		}
		    	}
		    }
		}
    }
}


.gu-mirror {
	position: fixed !important;
	margin: 0 !important;
	z-index: 9999 !important;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding: 10px;
	background: #fff;
	font-size: 16px;
	margin-bottom: 5px;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-o-border-radius: 3px 3px 3px 3px;
	-ms-transform: rotate(5deg); /* IE 9 */
	-webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
	transform: rotate(5deg);
	cursor:grab;

}

.gu-hide {
  display: none !important;
}
.gu-unselectable {
  
}
.gu-transit {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  background:#000 !important;
}

