.chatWindow {
    overflow: hidden;

    .chatBox {
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0;
        @include animation;
        z-index:5;

        .messageBox {
            position: absolute;
            top: 10px;
            right: 10px;
            left: 10px;
            overflow: auto;
            bottom: 75px; 
            
            .chatRow {
                display: block;
                position: relative;
                padding-left: 45px;
                width:99.5%;
                float: left;
                margin: 0 0 20px 0;
                font-size: $fontSize - 3;

                .userName {
                    color: #8e8e8e;
                    display: block;
                    font-size: 12px;
                    font-weight: 400;
                    height: 19px;
                }

                .avatar {
                    border: 2px solid #fff;
                    height: 35px;
                    left: 5px;
                    overflow: hidden;
                    position: absolute;
                    top: 10px;
                    width: 35px;
                    @include border-radius(8px, 8px, 0, 8px);
                    @include boxshadow(-1px, 4px, 3px, 0, #ccc);
                    
                }

                .chatmessage {
                    float: left;
                    padding: 5px 10px;
                    background: #fff;
                    @include border-radius(0,8px,8px,8px);
                    @include boxshadow(4px, 4px, 3px, 0, #cccccc);


                    .time {
                        color: #aaa;
                        display: block;
                        font-size: 11px;
                        text-align: right;
                    }
                }

                &.myChat {
                   
                    /*
                     padding: 0 45px 0 0;
                    .avatar {
                        left: auto;
                        right: 0;
                        @include border-radius(0,30px,30px,30px);
                    }

                    .chatmessage {
                        float: right;
                        @include border-radius(10px,0px,10px,10px);
                    }
                    */
                }
            }
        }

        .chattextarea {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            padding: 0px 10px 14px 10px;
            background: $lightBg;
            border-top:1px solid $border-color;

            label[for="file-input-chat"]{
                background: #fefefe;
                border-left: 1px solid #ddd;
                border-right: 1px solid #ccc;
                bottom: 0;
                font-size: 25px;
                left: 0;
                margin: 0;
                padding: 14px 0; 
                position: absolute;
                text-align: center;
                top: 0;
                width: 65px;
                cursor:pointer;

                input[type=file] {
                    display: none;
                }

                &:hover{
                    background:$theme;
                    color:#fff;
                }
            }
            .info-text{
                float: right;
                font-size: 65%;
            }

            .form-control.new-message {
                margin: 0;
                float: right;
                width: calc(100% - 68px);
                display: inline-block;
            }     
        }
    }

    .chatRightPnl {
        position: absolute;
        right: -300px;
        width: 300px;
        top: 0px;
        bottom: 0px;
        background: $leftPanelBg;
        @include animation;
        padding: 0 15px;
        font-size: $fontSize - 2;
        overflow: auto;
        @include boxshadow(0, 0, 5px, 0, #ccc);

        .search {
            position: relative;
            padding: 10px 0 0 0;

            .searchIcon {
                position: absolute;
                right: 7px;
                top: 13px;
                color: #ccc;
            }

            .form-control {
                padding-right: 30px;
            }

            .suggestionBox {
                background: #fff;
                border: 1px solid #ccc;
                box-shadow: 0 0 5px 0 #ccc;
                left: 0;
                padding: 10px;
                position: absolute;
                top: 44px;
                width: 100%;
                z-index: 10;
                border-top: 0px;

                ul {
                    list-style: none;
                    padding: 0;
                    display: block;
                    margin: 0;
                    disoplay: block;

                    li {
                        position: relative;
                        padding-left: 30px;
                        margin-bottom: 10px;

                        .avatar {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 25px;
                            height: 25px;
                            overflow: hidden;
                            @include border-radius(5px,5px,5px,5px);

                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .title {
            font-weight: normal;
            padding: 12px 0 15px;
            margin: 0;

            h2 {
                font-size: $fontSize - 1;
                margin: 0;
                cursor: pointer;
                position: relative;
                font-weight:bold;

                &:after {
                    content: "";
                    position: absolute;
                    right: 0px;
                    top: 10px;
                }
            }

            ul {
                list-style: none;
                padding: 0;
                //display:none;
                margin: 0;

                li {
                    position: relative;
                    padding-left: 30px;
                    margin-bottom: 10px;

                    .avatar {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 25px;
                        height: 25px;
                        overflow: hidden;
                        @include border-radius(5px,5px,5px,5px);

                        img {
                            width: 100%;
                        }
                    }
                }
            }

            &.accordionActive {
                ul {
                    display: block;
                }

                h2 {
                    margin-bottom: 10px;
                }
            }

            &.files{

                ul{
                    li {
                        padding-left:0px;
                        margin-bottom:0px;

                        a{
                            background: $theme;
                            color:#ffffff;
                            border-radius: 5px;
                            box-shadow: 0 0 3px 0 #c6c6c6;
                            display: inline-block;
                            margin-top: 10px;
                            padding: 0 11px 4px;
                            max-width:100%;
                            overflow:hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
            }

        }

        @media screen and (max-width:991px) {
        }
    }

    &.activeRightPanel {

        .chatBox {
            right: 300px;
        }

        .chatRightPnl {
            right: 0px;

            .col-xs-6 {
                padding: 0;

                button {
                    margin-top: 1px;
                    padding: 3px 16px;
                }
            }
        }
    }
}

.right-chat-overlay{

    margin: 98px 0px 0px 230px;
    width: calc(100% - 230px);
    height: calc(100% - 98px);
}

.tab-pane {
    .chatWindow {
        .chatBox {
            top: 109px !important;
        }
    }

    .files {

        ul {
            li {
                padding-left: 0px;
                margin-bottom: 0px;

                a {
                    background: $theme;
                    color: #ffffff;
                    border-radius: 5px;
                    box-shadow: 0 0 3px 0 #c6c6c6;
                    display: inline-block;
                    margin-top: 10px;
                    padding: 0 11px 4px;
                    max-width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }

    .title {
        font-weight: normal;
        padding: 12px 0 15px;
        margin: 0;

        h2 {
            font-size: $fontSize - 1;
            margin: 0;
            cursor: pointer;
            position: relative;
            font-weight: bold;

            &:after {
                content: "";
                position: absolute;
                right: 0px;
                top: 10px;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            //display:none;
            margin: 0;

            li {
                position: relative;
                padding-left: 30px;
                margin-bottom: 10px;

                .avatar {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 25px;
                    height: 25px;
                    overflow: hidden;
                    @include border-radius(5px,5px,5px,5px);

                    img {
                        width: 100%;
                    }
                }
            }
        }

        &.accordionActive {
            ul {
                display: block;
            }

            h2 {
                margin-bottom: 10px;
            }
        }
    }
}

.hasAd .chatWindow .chatBox {

    @media screen and (max-width:767px) {
        top: 50px;
    }
}

.chatrightPanelAccess {
    background: $leftPanelBg;
    font-size: 24px;
    height: 50px;
    line-height: 49px;
    margin-right: -15px;
    text-align: center;
    width: 50px;

    @media screen and (max-width:991px) {
        position: fixed;
        top: 0px;
        right: 62px;
        margin: 0px;
        height: 54px;
        color: #fff;
        background: none;
    }
}

chat{
    .sidePopup{
        .title{
            margin: 0 -20px !important;
            padding: 0 20px 7px;
            position: relative;
        }

        .chatWindow .chatBox .messageBox{
            background: #eee;
            bottom: 66px;
            left: 0;
            padding: 10px;
            right: 0;
            top: -7px;
        }

        .chatActions{
            margin-bottom:10px;
        }
    }
}

.popupBox .chosen-container-multi .chosen-choices{
    border-color:#ccc;
    padding:3px !important;
}
