html,body{
	height:100%;
}
body {
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:$fontSize;
	background:#e7e7e7;

height:100%;

}

.margin-top-10{
    margin-top:10px;
}

a {
	color:$linkColor;
  cursor:pointer;
  outline:none;

	&:hover{
		color:$linkHover;
	}

  &.link{
    color:$linkHover;

    &:hover{
      color:$linkColor;
    }
  }
}

img {
  max-width: 100%;
}

.padding-l-r-0 {
  padding-right:0px !important;
  padding-left:0px !important;
}

.padding-l-0 {
  padding-left:0px !important;
}

.padding-r-0 {
  padding-left:0px !important;
}

.header {
  background: #3c3c3c;
}

span.label{
  margin:0 5px 3px 0; 
  float:left;
}

.projectBox{
	background: #fff;
	@include boxshadow(0, 0, 5px, 0, #ccc);
	padding:20px;
	margin-bottom:15px;

  @media screen and (max-width:767px){
    margin-bottom:0;
    padding:10px;
  }
}

.clear{
    background: none;
    border: 1px solid lightgrey;
    @include boxshadow(0, 0, 5px, 0, #ccc);
    margin-bottom: 6px;
    float: right;
    padding: 0px 5px;
}

.right{
  float: right !important;
  clear: both;
}

.leftFolat{
  float: left !important;
}
	
.title {
	border-bottom:1px solid $lightBorder;
	display:block;
	padding-bottom:10px;
	margin-bottom:5px;
  font-weight:bold;

	h4 {
		margin:0;
	}
}	

.systemActive {
	z-index:20002 !important;
}
.popupOverlay {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.6);
	display:none;

	&.systemActive{
		display:block;
		z-index:19999 !important;
	}

	&.in{
		position:absolute;
		background:rgba(255,255,255,.8);
	}
}

.btn{
	background:$buttonBg;
	padding:6px 16px;
	color:$white;
	font-size:$fontSize;

	&:focus,
	&:active,
	&:hover{
		background:$buttonHover;
		color:$white;
	}

	&.gray{
		background:$linkColor;
	}

  &.white{
    background:$white;
    color:$highlight;

    &:hover{
      background:$highlight;
      color:$white;
    }
  }

  &.tiny{
    padding:3px 6px;
    font-size:$fontSize - 3;
  }

  &.activatebtn{
    float: right;
    font-size: 16px;
    margin-right: 5px;
    padding: 0 9px;
  }

  &.deactivatebtn{
    float: right;
    font-size: 16px;
    margin-right: 5px;
    padding: 0 9px;
    background:$detaivateColor;
  }
}

.buttonWrapperRow{
  display:block;
  overflow:hidden;
  padding-top:15px;
  padding-bottom:15px;
}

.form-control[disabled]{
  background:#fff;
}

.form-control {
  margin-bottom:5px;
  @include border-radius(0,0,0,0);

  &.ng-invalid{
    &.ng-touched{
      border-color:red;
    }
    
  }

  &+ div{
   color: red;
    font-size: 12px;
    position: static;
    text-align: right;
  }

  &.boxify{
    overflow:hidde;
    min-height:34px;
    height:auto;
    overflow:hidden;

    span.label {
      float: left;
      padding: 1px 1px 0 5px;
      margin:0 5px 2px 0;
    }

    input{
      border:0px;
    }

    label{
      display:block;
    }
  }
  
}

.fltNon{
    float:none !important;
}

.gridWrapper{

  table {
    border:none;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;

    .link.icon{
            float:right;
            margin-left:3px;
            @include border-radius(3px,3px,3px,3px);
            width:30px;
            height:30px;
            width: 25px;
            height: 25px;
            text-align: center;
            background:#eee;
            padding-top:2px;
            margin-bottom:3px;

            @media screen and (max-width:800px){
              float:none;
            }
          }

    tr{
      td{
        @media screen and (min-width:801px){
          max-width: 500px;
          word-wrap: break-word;
        }
      }
    }

    &.normal{

      @media screen and (max-width:800px)
      {
        tr{
          display:table-row;
          border-width:1px !important;

          td {
            display:table-cell;
            text-align:left;
          }
        }
      }
    }
  }

  table tr {
    border-bottom: 1px solid #ddd;
    padding: 5px;

  }

 table tbody tr{
      &:last-child{
        border:0px;
      }
    }

table th{
    background:none;
    &:first-child{
        padding-left: 0px;
    }
    
    &:last-child{
        padding-right: 0px;
    }
}


  table th, table td {
    padding: 10px;
    text-align: left;
    font-size:$fontSize - 3;

    @media screen and (max-width:800px){
      padding:10px 0;        
    }
  }

  table td{
    &:first-child{
      padding-left:0px;
    }
    &:last-child{
      padding-right:0px;
    }
  }

  table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }

  @media screen and (max-width: 800px) {

    table {
      border: 0;
    }

    table thead {
      display: none;
    }

    table tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 1px solid #ddd;
    }

    table td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: none;
    }


    
    table td:first-child{
        
    }

    table td:last-child {
      border-bottom: 0;
    }

    table td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
  .customCheckBox{
    width:20px;
    height:20px;
    position:relative;
    cursor:pointer;
    margin-right:14px;

    .custonCkeck {
      position:absolute;
      width:20px;
      top:0px;
      height:20px;
      left:0px;
      border:2px solid $border-color;
      @include animation(transform,0.2s);
    }

    input{
      opacity:0;

      &:checked + .custonCkeck{
        border-top:0px;
        border-right:0px;
        height:15px;
        width:25px;
        @include rotate(-50deg);
        border-color:$highlight;
      }
    }
  }

  .form-group{
    position:relative;

    label{
      font-weight:normal;
      font-size:$fontSize - 2;
    }
  }

.bg-danger {
    background:none;
    border-radius: 30px;
    bottom: 7px;
    color: red;
    font-size: 14px;
    position: absolute;
    right: 0;
    text-align: center;
}

.colorWrapper{
  position:relative;
  margin-left:15px;
  display:inline-block;

  input {
    border:0px;
    padding:5px;
    border:1px solid #ccc;
    width:100px;
  }

  .color-picker{
    position:absolute !important;
    top:40px !important;
    left:0 !important
  }

}

.hint{
  font-size:$fontSize - 4;
  color:#666;
  line-height:18px;
}


.iconList{
  margin-bottom:10px;

  li{
    position:relative;
    padding:0 30px !important;
    margin-bottom:5px;

    .icon{
      position:absolute;
      left:0px;
      top:4px;

      &.right{
        left:auto;
        right:0;
        top:auto;
        bottom:0px;
      }
    }

    p{
      margin:0 0 5px 0;
      color:#888888;
    }

    &:last-child{
      margin-bottom:0px;
    }
  }
}

.datepickerRow{
  height:64px;
}

textarea {
  resize: none;
}

textarea.form-control{
  height:60px;
}

.fullWidth{
  width:100% !important;
}


.popupContent .gridWrapper table td {
  text-align:left;
}

.text-warning{
  font-size:12px;
}

.clearFloat{
  float: none;
  clear: both;
}

.preloaderWrapper{
    overflow:hidden;

    .preloader{
      border-radius:5px;
      @include boxshadow(0 0 5px 0 #ccc inset);
      margin: 0 auto;
      max-width:300px;
      height:35px;
      border-radius: 5px;
      padding-top:2px;
    }
    
}


.cssload-container{
  display: table;
  margin:0 auto;
  width:90px
}

.cssload-loading i{
  width: 19px;
  height: 19px;
  display: inline-block;
  border-radius: 3px;
  border:2px solid #666;
}
.cssload-loading i:first-child{
  opacity: 0;
  animation:cssload-loading-ani2 0.445s linear infinite;
    -o-animation:cssload-loading-ani2 0.445s linear infinite;
    -ms-animation:cssload-loading-ani2 0.445s linear infinite;
    -webkit-animation:cssload-loading-ani2 0.445s linear infinite;
    -moz-animation:cssload-loading-ani2 0.445s linear infinite;
  transform:translate(-19px);
    -o-transform:translate(-19px);
    -ms-transform:translate(-19px);
    -webkit-transform:translate(-19px);
    -moz-transform:translate(-19px);
}
.cssload-loading i:nth-child(2),
.cssload-loading i:nth-child(3){
  animation:cssload-loading-ani3 0.445s linear infinite;
    -o-animation:cssload-loading-ani3 0.445s linear infinite;
    -ms-animation:cssload-loading-ani3 0.445s linear infinite;
    -webkit-animation:cssload-loading-ani3 0.445s linear infinite;
    -moz-animation:cssload-loading-ani3 0.445s linear infinite;
}
.cssload-loading i:last-child{
  animation:cssload-loading-ani1 0.445s linear infinite;
    -o-animation:cssload-loading-ani1 0.445s linear infinite;
    -ms-animation:cssload-loading-ani1 0.445s linear infinite;
    -webkit-animation:cssload-loading-ani1 0.445s linear infinite;
    -moz-animation:cssload-loading-ani1 0.445s linear infinite;
}




@keyframes cssload-loading-ani1{
  100%{
    transform:translate(39px);
    opacity: 0;
  }
}

@-o-keyframes cssload-loading-ani1{
  100%{
    -o-transform:translate(39px);
    opacity: 0;
  }
}

@-ms-keyframes cssload-loading-ani1{
  100%{
    -ms-transform:translate(39px);
    opacity: 0;
  }
}

@-webkit-keyframes cssload-loading-ani1{
  100%{
    -webkit-transform:translate(39px);
    opacity: 0;
  }
}

@-moz-keyframes cssload-loading-ani1{
  100%{
    -moz-transform:translate(39px);
    opacity: 0;
  }
}

@keyframes cssload-loading-ani2{
  100%{
    transform:translate(19px);
    opacity: 1;
  }
}

@-o-keyframes cssload-loading-ani2{
  100%{
    -o-transform:translate(19px);
    opacity: 1;
  }
}

@-ms-keyframes cssload-loading-ani2{
  100%{
    -ms-transform:translate(19px);
    opacity: 1;
  }
}

@-webkit-keyframes cssload-loading-ani2{
  100%{
    -webkit-transform:translate(19px);
    opacity: 1;
  }
}

@-moz-keyframes cssload-loading-ani2{
  100%{
    -moz-transform:translate(19px);
    opacity: 1;
  }
}

@keyframes cssload-loading-ani3{
  100%{
    transform:translate(19px);
  }
}

@-o-keyframes cssload-loading-ani3{
  100%{
    -o-transform:translate(19px);
  }
}

@-ms-keyframes cssload-loading-ani3{
  100%{
    -ms-transform:translate(19px);
  }
}

@-webkit-keyframes cssload-loading-ani3{
  100%{
    -webkit-transform:translate(19px);
  }
}

@-moz-keyframes cssload-loading-ani3{
  100%{
    -moz-transform:translate(19px);
  }
}