.mainTitle {
	    border-bottom: 1px solid #ccc;
	    @include boxshadow(10px, 15px, 10px, 0, #ccc);
	    left: 230px;
	    padding: 0 15px 5px;
	    position: fixed;
	    right: 0;
	    top:50px;
	    background:$contentBg;
	    z-idex:100;

	    @media screen and (min-width:992px){
		    &.leftFree{
		    	left:0px;
		    }
	    }

	    h1{
	    	font-weight:400;
	    	padding:5px 0;
	    	margin:0;
	    	font-size:$fontSize+12;

	    	@media screen and (max-width:767px){
				font-size:22px;
			}
	    }

	    @media screen and (max-width:1023px){
			left:24px;
			top:50px;
		}

		@media screen and (max-width:991px){
			background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		    border: 0 none;
		    box-shadow: none;
		    -moz-box-shadow: none;
		    -webkit-box-shadow: none;
		    -o-box-shadow: none;
		    left: 52px;
		    position: fixed;
		    right: 370px;
		    top: 0;
		    width: 181px;
		    z-index: 1000;
		    padding:0px;
		    margin:0px;

		    h1 {
		    	color:#fff;
		    	font-size:$fontSize;
		    	padding:16px 0;
		    }
		}

		&.whiteHeader{
			@media screen and (min-width:992px){
				background:#666666;
				h1{
					color:$white;
					font-weight:300;
				}
			}

			@media screen and (max-width:991px){
				h1{
					color:$black;
				}
			}
		}
	}

.contentPanel{
	bottom: 0;
    left: 230px;
    overflow: auto;
    padding:15px 0;
    position: fixed;
    right: 0;
    top: 99px;
	z-index:200;
	background:$contentBg;
	box-shadow:inset 0 0 5px 0 #ccc;
	-moz-box-shadow:inset 0 0 5px 0 #ccc;
	-webkit-box-shadow:inset 0 0 5px 0 #ccc;
	-o-box-shadow:inset 0 0 5px 0 #ccc;

	
    &.leftFree{
	    left:0px;
	}

	.contentPanelLeft {
		padding-right:0px;

		@media screen and (max-width:991px){
			padding:0;
		}
	}

	&.dashBoard{

		.contentPanelLeft {

			@media screen and (min-width:992px){
				padding-right:0px;
			}
		}
	}


	@media screen and (max-width:1023px){
		left:24px;
	}

	@media screen and (max-width:991px){
		top:50px;
		padding:0;
	}


	.newsFeeds {
		float:left;
	    display: block;
	    margin-bottom: 20px;
	    padding: 20px 20px 5px;
	    width:100%;
	    
	    @media screen and (max-width:991px){
	    	margin-bottom:0px;
	    }

	    @media screen and (max-width:767px){
	    	padding:10px;
	    	margin-top:0px;
	    }
	}

	.filterBox{
	    	border-bottom:1px solid $lightBorder;
	    	padding-bottom:10px;
	    	margin-bottom:20px;
	    	overflow:hiiden;
	    	margin:-20px -20px 20px -20px;
	    	padding:5px 20px;
	    	background:$filterBg;

	    	.form-control{
	    		maring-bottom:0px;
	    	}

	    	.form-inline{
	    		margin:0px;

	    		label {
	    			font-weight:300;
	    			padding-right:10px;
	    		}

	    		select{
	    			margin:0 10px 0 0;
	    		}
	    	}

	    	@media screen and (max-width:767px){
	    		position:fixed;
	    		bottom:-1px;	
	    		margin:0px;
	    		background:rgba(0,0,0,.8);
	    		color:$white;
	    		@include border-radius(500px,500px,500px,500px);
	    		width:55px;
	    		height:55px;
	    		bottom:20px;
	    		right:20px;
	    		@include animation;
	    		overflow:hidden;
	    		opacity:0;
	    		z-index:1000;
	    		left:20px;
	    		top:90%;
	    		right:90%;

	    		&.visible{
	    			left:25px;
		    		top:50px;
		    		right:0px;
		    		bottom:-1px;
		    		@include border-radius(0,0,0,0);
		    		overflow:auto;
		    		opacity:1;
		    		width:auto;
		    		height:auto;
	    		}
	    	}

	    	label{
	    		font-weight:300;
	    		font-size:$fontSize - 4;
	    	}

	    	.checkGroup{
	    		label {
	    			margin-right:25px;
	    		}
	    	}
	    }

	
	.customTab{
		.filterBox{
			@media screen and (min-width:768px){
				margin-top:-15px;
			}
		}
	}

	    &.leftFree{
	    	
	    	@media screen and (max-width:767px){
		    	.filterController{
		    		left:7px;
		    	}

		    	.filterBox{
		    		&.visible{
		    			left:0px !important;
		    		}
		    	}
		    }
	    }

		

	.contentWrapper{
		float:left;
		width:100%;
		padding:0 15px;

		@media screen and (max-width:991px){
			padding:0;
		}
	}

	
	.projectBox{

		position:relative;

		.panelAction{
			@media screen and (max-width:991px){
				position:absolute;
				top:-1px;
				right:-1px;
				maring:0;
				padding:0;

				.btn{
					margin:0 0 0 5px;
				}
			}
		}

		@media screen and (max-width:767px){
			margin-top:0px;
		}
	}
}


.panelAction {
		position: fixed;
	    right: 0px;
	    top: 50px;
	    transform: translateZ(0);
    	-webkit-transform: translateZ(0);

	    .btn {
	    	@include border-radius(0,0,0,0);
	    	padding:10px 15px;
	    	margin:0px;
	    	float:left;
	    	background:$lightWhite;
	    	border-left:1px solid $border-color;
	    	color:$linkColor;

	    	&:hover{
	    		background:$white;
	    	}

	    	&.tabactive{
	    		padding:16px 15px;
	    		background:$white;
	    	}


	    	i{
	    		margin-right:5px;

	    		@media screen and (max-width:991px){
	    			margin:0px;
	    		}
	    	}

	    	font{

	    		@media screen and (max-width:991px){
	    			display:none;
	    		}
	    	}


	    }

	    

	    

	    @media screen and (max-width:991px){
	    	padding:0 0 5px;
	    	position:fixed;
	    	top:0px;
	    	right:50px;

	    	.btn{
	    		background:none;
	    		padding:12px 17px !important;
	    		color:#fff;
	    		background:$mobileActionBtnBg;
	    		border:0px;

	    		&:hover{
	    			background:$mobileActionBtnBg;
	    		}
	    	}
	    }

	    input {
	    	margin:5px 15px 0 0;
	    	float:left;
	    }
	}

newsfeeds {
    .panel{
        	.panel-body {
                	a{
					color:$linkHover;
                    }
              }
        }
    }

.panel{
			box-shadow:none;
			position:relative;
			@include border-radius(0px,0px,0px,0px);
			margin-bottom:20px;
			border:0;
			border-bottom: 1px solid #ddd;

			@media screen and (max-width:767px){
				margin-bottom:10px;

				&:last-child{
					margin-bottom:0px;
				}
			}

			.panel-body {
			    padding: 0 0 12px 15px;
			}

			h2 {
				font-size:$fontSize - 2;
				margin:0 0 10px 0;
				font-weight:400;

				a{
					font-weight:bold;
					color:$linkColor;

					&:hover{
						color:$linkHover;
					}

					b{
						float: left;
					    margin-right: 10px;
					    overflow: hidden;
					    text-overflow: ellipsis;
					    width: 100%;
					    word-break: keep-all;
					}
				}
			}

			p {
				font-size:$fontSize - 3;
			}

			.actionIcon {
			    color: #fff;
			    font-size: 25px;
			    left: 0;
			    position: absolute;
			    top: 0;
			    @include border-radius(3px,0px,3px,0px);	
			    width:41px;
			    overflow:hidden;

			    img {
			    	float:left;
			    }

			    i {
			    	display:none;
			    }	

			    @media screen and (max-width:600px){
			    	width:35px;
			    }
			}

			.news {
				float:right;
				width:100%;
				padding:5px 10px 0 46px;
				position:relative;

				@media screen and (max-width:600px){
					padding-left:28px;
				}

				p{
					margin-bottom:5px;
					font-weight:400;
				}

				.date{
					font-size:$fontSize - 4;
					color:#888888;
					float:left;

					@media screen and (min-width:1260px){
						position:absolute;
						right:10px;
						bottom:-35px;
					}
				}
			}

			.commentsActions{
				float:right;
				maring-right:10px;

				a{
					float:left;
					margin:0 0 0 10px;
				}
			}

			.panel-footer{
				overflow:hidden;
				background:none;
				border:0px;
				padding:0px;

				.actions {
					float:left;
					margin:0 0 -1px 10px;


					.elem{
						float:left;
						padding:0;
						background:$white;
						margin-right:5px;
						@include border-radius(3px,3px,0,0);
						overflow:hidden;

						a {
							cursor:pointer;
							text-decoration:none;
							background:#eee;
							padding:0 5px;
							float:left;
							color:$linkHover;
							border-right:1px solid #ccc;
							background:#fff;
							height:26px;
							position:relative;
							font-size:$fontSize - 5;
							line-height:26px;

							&:hover{
								color:$linkColor;

								&:after{
									background-position:0 -23px;
								}
							}


						}

						&.like{
							i{
								margin-top:4px;
							}
						}

						&.comment{
							margin:0px;

							i{
								margin-top:2px;
							}
						}

						b {
							font-weight:300;
							padding:0 10px;
							float:left;
							font-size:$fontSize - 2;
							height:26px;
							line-height:25px;
							
							
						}

						&.comment{

							line-height:22px;
						}
					}
				}

				.date {
					font-size:$fontSize - 5;
					margin-right:10px;
				}

				.commentWrapper{
					float:left;
					width:100%;
					padding:0;
					background:#f9f9f9;
					@include border-radius(0,0,5px,5px);

					.textareaComment{
						position:relative;
						padding:10px 89px 10px 10px;
						margin:0px;

						textarea{
							height:31px;
							margin:0px;
						}

						.btn{
							position: absolute;
							right: 10px;
    						bottom: 10px;
							padding: 5px 8px;
							font-size: 13px;
							border-radius: 0px;
							height:31px;
						}
					}

					.commentRow{
						font-size:$fontSize - 5;
						position:relative;
						padding:5px 10px 10px 45px;
						border-top:1px solid $lightBorder;
						position:relative;

						&:last-child{
							border:0px;
							padding:5px 25px 0 0;
						}

						

						b{
							float: left;
						    margin-right: 10px;
						    overflow: hidden;
						    text-overflow: ellipsis;
						    max-width: 100%;
						    word-break: keep-all;

						}

						.delete{
							position:absolute;
							right:5px;
							bottom:5px;
							display:none;
						}

						.actionIcon{
							height: 25px;
						    left: 10px;
						    top: 5px;
						    width: 25px;
							@include border-radius(0,0,0,0);

							img {
								float:left;
							}
						}
					}
				}
			}
		}


.filterController {
	    	position: fixed;
		    left: 30px;
		    bottom:5px;
		    width: 55px;
		    height: 55px;
		    background: rgba(0, 0, 0, 0.7);
		    color: #fff;
		    text-align: center;
		    @include border-radius(50%,50%,50%,50%);
		    font-size: 25px;
		    padding-top: 10px;
		    display:none;
		    z-index:1001;

		    @media screen and (max-width:767px){
		    	display:block;
		    }
	    }
