.customPopup {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(30, 30, 40, 0.8);
    overflow: auto;
    z-index: 30000;
    display: none;
    padding-bottom: 20px;

    .popupBox {
        position: absolute;
        width: 500px;
        margin: 5% 0 0 -250px;
        left: 50%;
        background: $white;
        padding: 20px;
        @include boxshadow(0,0,10px,-10,#000000);
        @include animation;
        @include translate(0,-100%,0);
        opacity: 0;

        label {
            font-weight: 300;
            font-size: $fontSize - 6;
            color:$lightText;
            text-transform:uppercase;
        }

        @media screen and (max-width:767px) {
            width:auto;
            left:0;
            margin:0;
            position:fixed;
            bottom:0px;
            right:0px;
            top:0px;
        }

        .title {
            background: #eee;
            font-weight: bold;
            margin: -19px -20px 15px;
            overflow: hidden;
            padding: 15px 20px 10px;
            width: auto;

            @media screen and (max-width:767px){
                background:$headerBg;
                color: #fff;
                font-weight: bold;
                height: 50px;
                margin: -20px -20px 15px;
                overflow: hidden;
                padding: 12px 10px;
                width: auto;

                .close{
                    color:#fff;
                    opacity:.6;
                }
            }
        }

        .popupContent {
            float: left;
            width: 100%;

            @media screen and (max-width:767px){
                bottom: 60px;
                float: left;
                left: 10px;
                overflow-x: hidden;
                overflow-y: auto;
                position: absolute;
                right: 10px;
                top: 58px;
                width: auto;
            }
        }

        .gridWrapper {
            float: none;
            width: auto;
            overflow-x: hidden;
        }
    }


    &.systemActive {
        display: block;

        .popupBox {
            @include translate(0,0,0);
            opacity: 1;
        }
    }

    &.big {

        .popupBox {

            @media screen and (min-width:1025px){
                width: 1000px;
                margin: 5% 0 0 -500px;
            }

            @media screen and (max-width:1024px) and (min-width:768px){
                width: 90%;
                left: 5%;
                margin: 5% 0 0 0;
            }
        }
    }

    &.inside {
        position: absolute;
        background: rgba(0,0,0,0.9);
        height: auto;
        bottom: 0px;
        top: 0px;
        display: none;
        @include animation;

        &.systemActive {
            display: block;
        }

        .popupBox {
            width: 500px;
            margin: 20px 0 50px -250px;

            @media screen and (max-width:1024px) {
                width: 95%;
                left: 2.5%;
                margin: 20px 0 0 0;
            }
        }

        &.big {

            .popupBox {
                width: 90%;
                left: 5%;
                margin: 20px 0 0 0;
            }
        }
    }

    .customTab {

        .nav-tabs {
            margin: -5px 0 15px;
            padding: 0;

            &.nav > li > a {
                padding: 10px 0;
                margin-right: 30px;

                @media screen and (max-width:767px) {
                    padding: 10px 10px;
                    margin-right: 20px;
                }

                font {
                    padding-left: 15px;

                    @media screen and (max-width:767px) {
                        display: none;
                    }
                }
            }
        }
    }

    .btn {
        margin-left: 10px;

        &.gray {
            margin-left: 0px;
        }
    }

    .buttonRow {
        border-top: 1px solid #ccc;
        padding-top: 10px;

        @media screen and (max-width:767px){
            background: #eee none repeat scroll 0 0;
            border-top: 1px solid #ccc;
            bottom: 0;
            left: 0;
            padding: 5px;
            position: fixed;
            right: 0;
        }
    }
}

#add-work-group, #add-user {
    ul {
        list-style-type: none;
        padding-left: 0;
    }
}

