.customTab {
	
	.nav-tabs {
		background:$white;
	    border-bottom: 1px solid #ddd;
	    margin: -20px -20px 15px;
	    padding: 0 15px;
	    font-weight:500;

        @media screen and (max-width:767px){
            margin:-10px -10px 15px;
        }

	    &> li > a{
	    	border:0;
	    	
		    &:hover{
		    	background:none;
		    	border:0px;
		    }
	    }

	    &> li.active > a, 
	    &> li.active > a:focus, 
	    &> li.active > a:hover{
	    	border:0px;
	    	border-bottom:3px solid $highlight;
	    	background:none;
	    	color:$highlight;
	    	outline:none;
	    }
	}
        
        .panelAction{
            @media screen and (max-width:991px){
                margin:-50px -21px 0 0;
            }
            
            @media screen and (max-width:600px){
                margin:0 -21px -13px 0;
            }
        }

        &.fitTab{

            .tab-content{
                bottom: 15px;
                left: 15px;
                position: absolute;
                right: 15px;
                top: 75px;
                @media screen and (max-width:991px){
                    top:75px;
                }

                .tab-content{
                    position:absolute;
                    left:0px;
                    right:0px;
                    top:0px;
                    bottom:0px;
                }

                .projectBox{
                     position:absolute;
                    left:0px;
                    right:0px;
                    top:0px;
                    bottom:0px;
                    margin:0px;
                }

                .tab-pane{
                    position:absolute;
                    left:0px;
                    right:0px;
                    top:0px;
                    bottom:0px;

                    .tab-content{

                        .projectBox{
                            margin:0px;
                        }

                        @media screen and (max-width:767px){
                            top:10px;
                            bottom:0px;
                            border:0px;
                        }
                    }
                }
            }

            &.rightAligned{

                .nav-tabs{
                    float:right;

                    &> li{
                        a{
                        
                            @media screen and (min-width:768px){
                                 margin:0 0 0 10px;
                            }
                        }
                    }
                }
            }
        }

        &.withIcon{

            .nav-tabs{
                margin:-5px 0 15px;
                padding:0;

                &.nav > li > a{
                    padding:10px 0;
                    margin-right:30px;

                    @media screen and (max-width:767px){
                        padding:10px 10px;
                        margin-right:20px;
                    }

                    font{
                        padding-left:15px;

                        @media screen and (max-width:767px){
                            display:none;
                        }
                    }
                }
            }
        }
}

.planeTab{
    
    .customTab{
        
        .nav-tabs{
            background: none;
            margin:0 0 15px;
            border:0px;
            padding:0px;

            @media screen and (max-width:991px){
                position:fixed;
                top:64px;
            }
            
            &> li {
                
                &> a{
                    margin-right: 9px;
                    padding: 10px 12px;
                    background: $white;
                    border:0px !important;
                    @include border-radius(3px,3px,3px,3px);
                    @include boxshadow(0,0,5px,0,#cccccc);
                }
                
                &.active{
                    
                    a{
                         background: $highlight !important;
                         color:$white;
                    }
                }
            }

            @media screen and (max-width:767px){
                top:auto;
                bottom:0px;
                left:0px;
                right:0px;
                margin:0px;
                background:$white;

                li {

                    a{
                        padding:10px 7px;
                        margin:0px;
                        border-right:0px;
                        @include border-radius(0,0,0,0);
                        font-size:$fontSize - 3;
                    }
                }
            }
        }

        &.fitButton-3{
            @media screen and (max-width:767px){

                li {
                    width:33.3333%;
                    text-align:center;
                }
            }
        }

        &.fitTab {

            .tab-content{

                @media screen and (max-width:991px){
                    left:0;
                    bottom:0;
                    right:0;
                }

                @media screen and (max-width:767px){
                    bottom:40px;
                    left:0px;
                    right:0px;
                    top:50px;
                    border-bottom:2px solid $highlight;
                }
            }
        }
    }
}

.hasAd{
    
    @media screen and (max-width:767px){

        .planeTab .customTab.fitTab > .tab-content{
            top:97px;
        }
    }
}

.sidePopup{
    .customTab .nav-tabs{
        margin:-20px -20px 15px;
        border-bottom: 1px solid $lightBorder;
        poadding-bottom:10px;
    }
    .chat-tabs{
        .nav-tabs{
            margin-top: -4px;
        }
    }
    .customTab{
        &.deals {            
			 ul li {

                a font{
				    font-size:18px;
				    margin:auto;
				    color:$linkColor;
			     }

                .active{
                       font{
				      	    color:$highlight;
                      }
                 }
             }
        }
    }
}
