.dealsPage{
	
	.selectSalesProsess{
		float:left;
		width:auto;
		position:relative;
		maring-top:13px;

		.selIcon{
			position: absolute;
			right: 0px;
			width: 30px;
			height: 30px;
			z-index: 1;
			top: 2px;
			font-size: 20px;
			background: $white;
			text-align: center;
			border-radius: 30px;
			border: 1px solid #ccc;
			color:$highlight;

		}

		select{
			background:none;
			box-shadow: none;
			padding: 0px;
			font-size: $fontSize+2;
			font-weight: 400;
			border: 0px none;
			-webkit-appearance: none;
    		-moz-appearance: none;
    		position:relative;
    		z-index:5;
    		padding-right:35px;
    		width:100%;

			&:-ms-expand {
    			display: none; 
    		}
		}

		@media screen and (max-width:991px){
			left:15px;
			top:76px;
			position:fixed;

			select{
				font-size: $fontSize;
			}
		}
	}

	.planeTab .customTab .nav-tabs{

		@media screen and (min-width:768px) and (max-width:991px){
			left:auto;
			right:15px;
		}
	}
}

.hasAd{
	
	.dealsPage .selectSalesProsess {

		@media screen and (max-width:767px){
			left: 5px;
			top: 112px;
		}
	}

	.dealsPage .planeTab .customTab.fitTab > .tab-content{
		@media screen and (max-width:767px){
			top: 45px;
		}
	}
}

.edit-sale-process{
    margin-right: 10px;
}