.gridWrapper {
	float:left;
	width:100%;
	overflow-y:auto;
}
.ag-fresh .ag-body{
	background:none;
}

.ag-scrolls .ag-body-container{
	/*min-width:100%;*/
}
.ag-fresh .ag-root  {
	border:0px;
	font-family: "Lato",sans-serif;
}
.ag-header,
.ag-fresh .ag-header-container{
	background:$gridHeadBg;
	border:0;
}
.ag-fresh .ag-header{
	border-bottom:1px solid $border-color;
	background:$gridHeadBg;
}
.ag-fresh .ag-header-cell {
	text-align:left;
	border:0px;
	font-weight:bold;
	position:relative;
}
.ag-fresh .ag-header-icon {
    background:$white;
    border: 1px solid $border-color;
    border-radius: 2px;
    padding: 0 3px 3px;
    position: absolute;
    right: 5px;
    top: 7px;
}
.ag-fresh .ag-cell-no-focus{
	border:0px;
}

.ag-fresh .ag-body .ag-row-odd {
	background:$white;
}

.ag-fresh .ag-header-cell-text {
    float: left;
    padding: 5px 10px;
    width: 100%;
}

.ag-fresh .ag-cell{
	padding:6px 10px;
}

.ag-filter-header-container{
	label{
		font-weight:300;
		font-size:$fontSize - 3;
	}
}

.ag-fresh .ag-filter{
	margin-left:-181px;
	border:1px solid $border-color;
}

.ag-fresh .ag-header-cell-menu-button {
	opacity:.7 !important;
}

.ag-filter-filter {
    border: 1px solid #ccc;
    font-size:$fontSize - 5;
    margin: 4px;
    padding: 5px;
    width: 191px;
}

.ag-fresh .ag-filter-checkbox {
	margin:0 5px;
}

.ag-filter-list-container label {
	font-weight:300;
	font-size:$fontSize - 3;
}

.ag-scrolls .ag-row{
	/*min-width:100%;*/
	border-bottom:1px solid $lightBorder;

	&:hover{
		background:$gridRowHover;
	}
}