.searchBox {
    position: fixed;
    right: 50px;
    top: 0;
    z-index: 101;
    height:50px;

    .searchIcon{
		color: $white;
		font-size: 25px;
		float: right;
		height: 50px;
    	padding: 5px 16px;
		background:$mobileMenuIconBg;
		cursor: pointer;
    }

    input{
    	border:0px;
    	padding:5px;
    	display:none;
    }

    &.systemActive{
    	background:$darkBg;
	    height: auto;
	    position: fixed;
	    right:50px;
	    top: 0;
	    width: 266px;
	    z-index:300;
	    @include boxshadow(0,0,20px,0,$black);

	    input{
	    	display: block;
		    float: right;
		    margin:6px -8px 0 10px;
		    width: 208px;
	    }

	    .searchIcon{
	    	background:$darkBg;
	    }

	    .searchSuggestions{
	    	display:block;
	    	background:$darkBg;
	    }
    }

    @media screen and (max-width:1023px){
    	height:50px;
    	right:50px;

    	&.systemActive{
    		right:50px;
    		height:55px;

    		input{
    			margin-top:8px;
    		}
    	}

    	.searchIcon{
    		height:50px;
    		padding:12px 16px;
    	}
    }

    @media screen and (max-width:991px){
    	right:0px;

    	&.systemActive{
    		right:0px;
    		z-index:1100;
    	}

    	.searchIcon{
    		background:none;
    		padding:7px 12px;
    	}
    }

    .searchSuggestions{
    	float:left;
    	width:100%;
    	display:none;

	   a {
		    border-bottom: 1px solid #444;
		    display: block;
		    font-size: 14px;
		    padding:6px 0;
		    color:$white;
		    margin:0 10px;
		    line-height:15px;
		}

		.title {
		    border-bottom: 2px solid #666;
		    color: #fff;
		    margin: 0 10px;
		    padding:20px 0 5px 0;

		    &:first-child{
		    	padding-top:0px;
		    }
		}
    }

}

 @media screen and (max-width:767px){
	.hasAd{
		.contentPanel{
			top:100px;
		}
	}
}

