.leftPanel {
	bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 50px;
    width: 230px;
    background: $leftPanelBg;
    @include animation;

    .mobileSideMenu {
        display: none;
    }

    .menuItems {
        list-style: none;
        margin: 0;
        padding: 0;

        li {

            a, span {
                padding: 5px 10px 5px 10px; 
                display: block;
                border-bottom: 1px solid $lightBorder;
                font-size: $fontSize - 2;
                position: relative;

                &.router-link-active,
                &.active,
                &:hover {
                    text-decoration: none;
                    background: $white;
                }

                .notification {
                    position: absolute;
                    right: 6px;
                    top: 6px;
                    padding: 0px 6px;
                    background: $theme;
                    color: #FFF;
                    font-size: $fontSize - 4;
                    @include border-radius(15px,15px,15px,15px);
                }

                i {
                    margin-right:10px;
                }

                i.fa-lock {
                    margin-left: 4px;
                    margin-right: 12px;
                }
            }
        }
    }

    @media screen and (max-width:1023px) {
		border-right: 1px solid #ccc;
        z-index: 20000;
        top: 50px;
        @include translate(-205px,0,0);
        overflow: hidden;

        .mobileSideMenu {
            display: block;
            width: 24px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            background: $white;

            ul {
                margin: auto;
                padding: 0;
                list-style: none;

                li {
                    width: 10px;
                    height: 10px;
                    background: $linkColor;
                    @include border-radius(10px,10px,10px,10px);
                    margin: 5px 0;
                }
            }
        }

        &.systemActive {
            @include translate(0,0,0);
            @include boxshadow(0,0,20px,0,$black);
            overflow: auto;

            .mobileSideMenu {
                display: none;
            }
        }
	}

    .leftPanelFilter {
        padding: 10px;
        background: $white;

        select,
        input{
            width:100%;
            margin-bottom:0;
        }

        label{
            font-size:$fontSize - 3;
            margin-top:10px;
            font-weight:normal;

            &:first-child{
                margin-top:0px;
            }
        }
    }

    .leftPanelSerach {
        padding:0;
    }

    h2 {
        font-size: $fontSize - 2;
        padding: 10px 10px 0;
        text-transform: uppercase;
        margin: 10px 0 5px 0;
        position: relative;

        .notification {
            position: absolute;
            right: 6px;
            top: 0px;
            padding: 3px 6px;
            background: $theme;
            color: #FFF;
            font-size: $fontSize - 4;
            @include border-radius(15px,15px,15px,15px);
        }
        .btn {
            float: right;
            font-size: 12px;
            margin-top: -1px;
            padding: 0 5px;
        }
        button {
            margin-top: 0;
            padding: 0 6px;
        }
    }

    &.accordion {

        ul {
            /*display:none;*/
        }
    }
}