.spinner {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 10px solid #016aca;
    background: #598dae;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

.appLoader {
    .loader {
        position: absolute;
        width: 150px;
        height: 150px;
        left: 50%;
        top: 50%;
        margin: -75px 0 0 -75px;

        img {
            width: 60px;
            position: absolute;
            left: 45px;
            top: 50px;
        }
    }
}

img.loading {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
