.loginPage{
	background:$white;
	background: rgb(181,208,221);
	background: -moz-linear-gradient(-45deg,  rgba(181,208,221,1) 1%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(-45deg,  rgba(181,208,221,1) 1%,rgba(255,255,255,1) 100%);
	background: linear-gradient(135deg,  rgba(181,208,221,1) 1%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5d0dd', endColorstr='#ffffff',GradientType=1 );
	background-repeat:no-repeat;
	background-attachment: fixed;

	color:$logincolor;
	padding-top:50px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;

	.inner-bg {
		background:url(/assets/images/login-bg.png) no-repeat 0 0 / 100% auto fixed;
		position:fixed;
		left:0;
		top:0;
		width:100%;
		height:100%;
		overflow:auto;
	}

	@media screen and (max-width:767px){
		padding-top:10px;
	}

	a{
		border-color:$logincolor;
	}
	

	.form-bottom {
		float:left;
		width:100%;
		margin-bottom:20px;
	}
	.alert-danger {
		display:none;
	}	

	.logo {
		text-align:center;
		margin-bottom:60px;

		img {
			width:200px;
		}
	}

	.jumbotron{
		background:none;
	}


	.form-group {
		position:relative;
		height:50px;
		margin-bottom:25px;

		label{
			position:absolute;
			top:0px;
			z-index:1;
			font-weight:300;
			font-size:$fontSize + 7;
			color:$logincolor;
			@include animation;

			@media screen and (max-width:767px){
				font-size:$fontSize+3;
			}
		}

		.form-control {
			@include border-radius(0,0,0,0);
			border:0px;
			border-bottom:1px solid $loginBorder;
			box-shadow:none;
			-moz-box-shadow:none;
			-webkit-box-shadow:none;
			-o-box-shadow:none;
			position:relative;
			z-index:2;
			background:none;
			padding:6px 0;
			font-size:$fontSize+4;
			height:47px;
			color:$logincolor;
			outline:none;

			&:focus{
				&+label{
					top:-20px;
					font-size:$fontSize - 5;
				}
			}

			&.ng-valid{
				border-color:$validColor;
				padding:6px 0 5px 0;

				&+label{
					top:-20px;
					font-size:$fontSize - 5;
				}
			}

			&.hasText{
				border-color:$validColor;
				padding:6px 0 5px 0;

				&+label{
					top:-20px;
					font-size:$fontSize - 5;
				}
			}
		}
	}

	.checkbox {
		float:left;

		label{
			font-size:$fontSize - 3;
		}

		@media screen and (max-width:767px){
			width:100%;
			text-align:center;
			margin:-10px 0 25px 0;
			float:left;
		}
	}

	.linksWrapper {
		text-align:center;
		margin:50px 0 0 0;
		float:left;
		width:100%;

		a{
			padding:0 10px;

			&.signUpLink{
				color:$validColor;
			}
		}

		
	}

	.btn {

		span{
			float:left;
		}

		div{
		    float: right;
		    margin: -1px -5px 0 10px;
		}

		@media screen and (max-width:767px){
			width:100%;
			text-align:center;

			span{
				float:none;
			}

			div{
				margin:-27px -5px 0 10px;
			}
		}
		
	}

	.signInbtn {
	    font-size: 17px;
	    font-weight: bold;
	    margin: 0 10px;
	}

	.checkbox{
		label{
			padding:0px;
		}
	}

	.customCheckBox{
		float:left;
		
		.custonCkeck{
			border-color:$logincolor;
		}
	}

	.loginLinks{
		float:left;
		width:100%;
		margin-top:30px;
		text-align:center;

		a{
			margin:0 10px;
			color:$logincolor;
			font-size:17px;
			font-weight:bold;

			&:hover{
				color:$highlight;
				text-decoration:none;
			}
		}
	}

	.hint{
		border-left: 2px solid;
	    font-size: 15px;
	    line-height: 17px;
	    margin: -13px 0 24px 11px;
	    padding-left: 13px;
	    position: relative;

	    i{
	    	font-size: 18px;
		    left: -6px;
		    position: absolute;
		    top: -7px;
	    }
	}
}

.wrongCredentials{
	margin-bottom: 10px;
    float: left;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    background: $alertColor;
    color: white;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    line-height: 23px;
    padding-top: 10px;
    max-width: 100%;

    p{
     font-weight:400;
    }

    @media screen and (max-width:500px){
    	left:0px;
    	width:100%;
    	margin:0px;
    }
}
