.marketplace {

    .projectBox {
        position: initial;

        @media screen and (max-width:991px) {
            margin-top: 15px;
        }

        .profile-info {

            h2 {
                margin-top: 0;
            }
        }
    }

    .panel {
        display: block;

        &:hover {
            background: $lightBg;
            text-decoration: none;
        }
        
        h1 {
            font-size: $fontSize;
            margin: 10px 0 10px 0;
        }

        p {
            margin: 0;
        }
    }

    .basic-profile-details {
        padding-bottom: 15px;


        @media screen and (min-width:768px) {
            padding-right: 0;
        }

        .avatar {
            width: 100%;
            float: left;
            margin-bottom: 10px;
            border: 1px dashed #333333;
            cursor: pointer;
            padding: 10px;
            @include animation;

            @media screen and (max-width:768px) {
                margin-top: 15px;
            }

            &:hover {
                border-color: $highlight;
                padding: 12px;
            }

            img {
                width: 100%;
            }

            input {
                opacity: 0;
                width: 0px;
                height: 0px;
                display: none;
            }
        }

        .form-control {
            border: 0px;
            padding: 0px;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            -o-box-shadow: none;
            font-size: $fontSize + 3;

            &.username {
                color: $black;
                font-weight: 500;
            }

            &:focus {
                border: 1px solid $border-color;
                padding: 0 5px;
            }
        }
    }
}

.press-enter {
    font-size: 65%;
    float: right;
}


.list-undecorated {
    list-style-type: none;
    padding-left: 15px;

    &.links {
        a {
            color: $linkHover;
        }
    }
}

.list-padding {
    padding-left: 15px;
}

.assignment-right-panel {

    label {
        font-weight: 700 !important;
    }

    .list-undecorated {
        list-style-type: none !important;
        padding-left: 15px !important;
        margin-bottom: 10px !important;
    }

    .candidate-info {

        .contentRow {
            padding: 0 0 20px 0;

            label {
                font-size: $fontSize - 6;
                text-transform: uppercase;
                color: $lightText;
            }

            b {
                color: $linkHover;
            }

            .boxType {
                float: left;
                margin: 0 15px 10px 0;
                border: 1px solid #eee;
                padding: 10px;
            }
        }

        .blockContent {
            border-top: 1px solid $lightBorder;
            padding: 10px 0 15px;
            margin: 5px 0 0 0;
        }
    }
}
