@mixin spriteIcon ($top:0,$left:0){
	background:url(../../assets/images/sprite.png) no-repeat $top $left;
}
@mixin button ($bg-color:$button-color,$color:$extra-light-color) {
	border:0px;
	background:$bg-color;
	color:$color;
	cursor:pointer;
	padding:8px 20px;
}

@mixin border-radius($l,$r,$br,$bl){
	border-radius:$l $r $br $bl;
	-moz-border-radius:$l $r $br $bl;
	-webkit-border-radius:$l $r $br $bl;
	-o-border-radius:$l $r $br $bl;
}

@mixin animation($for:all,$speed:0.5s,$type:ease) {
    -webkit-transition: $for $speed $type;
    -moz-transition: $for $speed $type;
    -o-transition: $for $speed $type;
    transition: $for $speed $type;
}

@mixin translate($x,$y,$z){
	-webkit-transform: translate3d($x,$y,$z);
    -moz-transform: translate3d($x,$y,$z);
    -o-transform: translate3d($x,$y,$z);
    -ms-transform: translate3d($x,$y,$z);
    transform: translate3d($x,$y,$z);
}

@mixin rotate($deg){
	-ms-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin boxshadow($a:0,$b:2px,$c:7px,$d:0,$color:#070606){
	box-shadow: $a $b $c $d $color;
	-moz-box-shadow: $a $b $c $d $color;
	-webkit-box-shadow: $a $b $c $d $color;
	-o-box-shadow: $a $b $c $d $color;
}


@mixin gradient($from:top,$start-color: $extra-light-color, $end-color: #d3d0d1){
 
	background: $extra-light-color;
	background: -moz-linear-gradient($from,  $start-color 0%, $end-color 100%);
	background: -webkit-gradient(linear, left $from, left bottom, color-stop(0%,$start-color), color-stop(100%,$end-color));
	background: -webkit-linear-gradient($from,  $start-color 0%,$end-color 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient($from,  $start-color 0%,$end-color 100%);
	background: -ms-linear-gradient($from,  $start-color 0%,$end-color 100%);
	background: linear-gradient(to bottom,  $start-color 0%,$end-color 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=0 );



}


