.myOverview {

    .basicUserDetails {
        padding-bottom: 15px;

        @media screen and (min-width:768px) {
            padding-right: 0;
        }

        .avatar {
            width: 100%;
            float: left;
            margin-bottom: 10px;
            border: 1px dashed #333333;
            cursor: pointer;
            padding: 10px;
            @include animation;

            @media screen and (max-width:768px) {
                margin-top: 15px;
            }

            &:hover {
                border-color: $highlight;
                padding: 12px;
            }

            img {
                width: 100%;
            }

            input {
                opacity: 0;
                width: 0px;
                height: 0px;
                display: none;
            }
        }

        .form-control {
            border: 0px;
            padding: 0px;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            -o-box-shadow: none;
            font-size: $fontSize + 3;

            &.username {
                color: $black;
                font-weight: 500;
            }

            &:focus {
                border: 1px solid $border-color;
                padding: 0 5px;
            }
        }
    }

    .myAccountDetaisl {

        .title {
            h2 {
                margin: 0px;
            }

            p.email {
                font-size: $fontSize;
                font-weight: normal;
            }

            i {
                font-size: $fontSize - 3;
                cursor: pointer;
            }
        }

        h2 {
            margin: 20px 0 15px 0;
            font-size: $fontSize + 4;

            &.titles {
                margin: 20px 0 10px 0;
            }
        }

    .uplopadLogo {
        background: #eee;
        border: 1px solid #ccc;
        border-radius: 0 5px 0 0;
        bottom: 15px;
        left: 15px;
        margin: 0;
        padding: 2px 5px;
        position: absolute;
        text-align: center;
        width: 30px;
        z-index: 10;
        cursor: pointer;


        @media screen and (max-width:767px) {
            bottom: 0px;
        }

        input {
            display: none;
        }
    }
}

a.orginsationName:hover {
    text-decoration: none;
}

.inviteUsersRow {
    .row {

        label {
            display: none;

            @media screen and (max-width:767px) {
                display: block;
            }
        }

        &:first-child {
            label {
                display: block;
            }
        }
    }
}


.projectBox {
    float: left;
    width: 100%;

    @media screen and (max-width:991px) {
        margin-top: 15px;
    }
}

.basicUserDetails {
    @media screen and (max-width:991px) {
        margin-top: 15px;
    }
}

.avatar {
    width: 100%;

    @media screen and (max-width:991px) {
        margin-top: 15px;
    }

    img {
        width: 100%;
    }

    .basicUserDetails {
        padding-bottom: 15px;


        @media screen and (min-width:768px) {
            padding-right: 0;
        }

        .avatar {
            width: 100%;
            float: left;
            margin-bottom: 10px;
            border: 1px dashed #333333;
            cursor: pointer;
            padding: 10px;
            @include animation;

            @media screen and (max-width:768px) {
                margin-top: 15px;
            }

            &:hover {
                border-color: $highlight;
                padding: 12px;
            }

            img {
                width: 100%;
            }

            input {
                opacity: 0;
                width: 0px;
                height: 0px;
                display: none;
            }
        }

        .form-control {
            border: 0px;
            padding: 0px;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            -o-box-shadow: none;
            font-size: $fontSize + 3;

            &.username {
                color: $black;
                font-weight: 500;
            }

            &:focus {
                border: 1px solid $border-color;
                padding: 0 5px;
            }
        }
    }

    .myAccountDetaisl {

        .title {
            h2 {
                margin: 0px;
            }

            p.email {
                font-size: $fontSize;
                font-weight: normal;
            }

            i {
                font-size: $fontSize - 3;
                cursor: pointer;
            }
        }

        h2 {
            margin: 20px 0 15px 0;
            font-size: $fontSize + 4;

            &.titles {
                margin: 20px 0 10px 0;
            }
        }

        .orginsationName {
            background: $white;
            padding: 10px 30px 28px 10px;
            @include boxshadow(0,0,2px,0,$lightShadow);
            display: block;
            margin-bottom: 15px;
            min-height: 80px;
            border: 1px solid $border-color;

            h3 {
                font-size: $fontSize + 2;
                margin: 0 0 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            p {
                margin: 0px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            img {
                max-height: 45px;

                @media screen and (max-width:991px) {
                    margin-bottom: 10px;
                }
            }

            @media screen and (max-width:991px) {
                text-align: center;
            }
        }

        .addNewOrganisation {
            background: $white;
            padding: 29px 10px;
            display: block;
            border: 1px dashed $linkHover;
            color: $linkHover;
            margin-bottom: 15px;
            min-height: 93px;
            font-size: $fontSize - 2;
            font-weight: 300;
            text-align: center;

            @media screen and (max-width:991px) {
                padding: 61px 10px;
            }

            @media screen and (max-width:767px) {
                padding: 33px 10px;
            }
        }
    }

    .uplopadLogo {
        background: #eee;
        border: 1px solid #ccc;
        border-radius: 0 5px 0 0;
        bottom: 15px;
        left: 15px;
        margin: 0;
        padding: 2px 5px;
        position: absolute;
        text-align: center;
        width: 30px;
        z-index: 10;
        cursor: pointer;


        @media screen and (max-width:767px) {
            bottom: 0px;
        }

        input {
            display: none;
        }
    }
}
