.notificationDiv {
	position:fixed;
	width:400px;
	max-width:90%;
	top:10px;
	right:10px;
	z-index:30000;

	.notificationbar{
		margin:10px;
		display:block;
		padding:10px;
		@include border-radius(3px,3px,3px,3px);
		@include boxshadow(0, 0, 70px, -5px, #666);
		color:$white;
		font-size:$fontSize - 3;
		@include animation;
		opacity:0;
		@include translate(100%,0,0);



		&.success{
			background: rgb(110,204,115);
			background: -moz-linear-gradient(top,  rgba(110,204,115,1) 0%, rgba(110,204,115,1) 65%, rgba(84,174,87,1) 100%);
			background: -webkit-linear-gradient(top,  rgba(110,204,115,1) 0%,rgba(110,204,115,1) 65%,rgba(84,174,87,1) 100%);
			background: linear-gradient(to bottom,  rgba(110,204,115,1) 0%,rgba(110,204,115,1) 65%,rgba(84,174,87,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ecc73', endColorstr='#54ae57',GradientType=0 );

		}

		&.pending{
			background: rgb(195,204,109);
			background: -moz-linear-gradient(top,  rgba(195,204,109,1) 0%, rgba(195,204,109,1) 65%, rgba(157,166,79,1) 100%);
			background: -webkit-linear-gradient(top,  rgba(195,204,109,1) 0%,rgba(195,204,109,1) 65%,rgba(157,166,79,1) 100%);
			background: linear-gradient(to bottom,  rgba(195,204,109,1) 0%,rgba(195,204,109,1) 65%,rgba(157,166,79,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3cc6d', endColorstr='#9da64f',GradientType=0 );
		}

		&.error{
			background: rgb(204,112,109);
			background: -moz-linear-gradient(top,  rgba(204,112,109,1) 0%, rgba(204,112,109,1) 65%, rgba(199,98,95,1) 100%);
			background: -webkit-linear-gradient(top,  rgba(204,112,109,1) 0%,rgba(204,112,109,1) 65%,rgba(199,98,95,1) 100%);
			background: linear-gradient(to bottom,  rgba(204,112,109,1) 0%,rgba(204,112,109,1) 65%,rgba(199,98,95,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc706d', endColorstr='#c7625f',GradientType=0 );

		}

		&.notiActive{
			opacity:1;
			@include translate(0,0,0);
		}

		&.deleted{
			@include translate(-100%,0,0);
			opacity:0;
		}
	}
}