.accountsPage.reports{
	@media screen and (min-width:768px){
		.projectBox{
			top:15px;
		}
			
		.gridWrapper{
			top:69px;
		}
	}
	@media screen and (max-width:768px){
		.projectBox{
			top:0px;
		}
	}
	.gridWrapper {
	    top: 65px;
	}
}

.hasAd .accountsPage.reports .projectBox {
	@media screen and (max-width:768px){
		top: 51px;
	}
    
}