.rightPanel{
	
	.projectBox{
		margin-bottom:15px;
		float:left;
		width:100%;

		ul {
			list-style:none;
			padding:0px;

			li {
				padding:5px 0;
				font-size:$fontSize - 3;

				label {
					font-weight:normal;
					display:block;

					&.customCheckBox{
						float:left;
					}
				}

				font{
					color:$lightText;
				}
			}
		}

		.title{
			position:relative;

			.btn {
				padding:4px 5px;
				line-height:10px;
			    position: absolute;
			    right: 0;
			    top: -2px;
			    background:$linkColor;

			    &:hover{
			    	background:$highlight;
			    }
			}
		}


	}

	@media screen and (max-width:991px){
		background:$contentBg;
	    bottom: 0;
	    right:-450px;
	    overflow: auto;
	    padding: 10px;
	    position: fixed;
	   	width:400px;
	    top: 50px;
	    @include boxshadow(0,0,10px,0,$black);
	    @include animation;

	    &.systemActive{
	    	right:0px;
	    }
	}

	@media screen and (max-width:767px){
		width:auto;
		left:110%;

		&.systemActive{
	    	left:25px;
	    }
	}
}

.rightPanelControl {
	border-radius: 50%;
    bottom: 5px;
    height: 55px;
    position: fixed;
    right: 10px;
    width: 55px;
    z-index: 600;
	@include border-radius(50%,50%,50%,50%);
	@include spriteIcon(13px, -45px);
	@include boxshadow(0, 0, 5px, 0, #666);
	@include animation;
	background-color:$theme;
	border:5px solid $theme;
	display:none;

	&.systemActive{
		background-position:-19px -45px;
	}


	@media screen and (max-width:991px){
		display:block;
	}
}

ul.checkList {
			list-style:none;
			padding:0px;

			li {
				padding:5px 0;
				font-size:$fontSize - 3;

				label {
					font-weight:normal;
					display:block;

					&.customCheckBox{
						float:left;
					}
				}

				font{
					color:$lightText;
				}
			}
		}
