.settingsPage{
    
    .form-group{
        
        label{
            font-weight:normal;
            font-size: $fontSize;
        }
    }

    .dealsStatus{

    	&> div{
    		@media screen and (min-width:992px){
	    		border-right:1px solid $border-color;
                border-left:1px solid $border-color;
                margin-left:-1px;

	    		&:last-child{
	    			border-right:0px;
	    		}
                &:first-child{
                    border-left:0px;
                }
    		}
    	}
    }

    .salesProcess{

    	h3 {
    		display: block;
			overflow: hidden;
			margin: -19px -20px 15px;
			position: relative;
			z-index: 10;
			background: #F7F7F7 none repeat scroll 0% 0%;
			padding: 11px 15px 10px;
			border-bottom: 1px solid #DDD;
			font-weight: 300;
    	}
    }

    .paymentCard{
        border: 1px solid #ddd;
        border-radius: 5px;
        float: left;
        margin-bottom: 15px;
        max-width: 100%;
        padding: 50px 30px;
        width: 400px;
        @include border-radius(5px,5px,5px,5px);
       
        b{
            display:block;
            font-size:32px;
        }

        @media screen and (max-width:480px){
            padding:20px;

            b{
                font-size:23px;
            }
        }
    }
    .paymentHistory{
        
        &.gridWrapper{
            border: 1px solid #ddd;
            margin-bottom: 30px;
            padding: 10px;

            table tr{
                &:last-child{
                    border:0px;
                }
            }

        }
    }

    h3{
        margin:0 0 15px 0;
        font-size:$fontSize;
    }
}



.margin-10 {
    margin-top: -10px;
}