.sidePopup{
	background: #fff none repeat scroll 0 0;
    bottom: 0;
    @include boxshadow(0,10px,10px,0,#666);
    padding: 20px;
    position: fixed;
    right: -597px;
    top: 99px;
    width: 597px;
    border-left:1px solid $border-color;
    z-index: 20000;
    overflow:auto;
    @include animation;

    &.visible{
    	right:0px;
    }

    label{
    	font-weight:300;
    }

    .title{
    	font-size:$fontSize+3;
        margin-bottom:20px;
    }

    .buttonRow {
        margin:10px 0 20px 0;
    }

    @media screen and (max-width:1023px){
        &.addOrganisation{
            top:104px;
        }
    }

    @media screen and (max-width:991px){
        top:50px;
        width:100%;
        right:-100%;
        box-shadow:none;
        -moz-box-shadow:none;
        -webkit-box-shadow:none;
        -o-box-shadow:none;

        &.addOrganisation{
            top:50px;
        }

    }

    @media screen and (max-width:767px){
        top:50px;
    }

    .title{
        position:relative;

        .btn{
            padding: 1px 10px;
            position: absolute;
            right: 0;
            top: -3px;
            fontSize:12px;
        }
    }

    &.showAction{

        .title{
            background:$leftPanelBg;
            border-bottom: 1px solid $lightBorder;
            margin: -20px -20px 15px;
            padding: 20px;
        }

        @media screen and (max-width:1300px){
            width:500px;
        }
    }

    .tab-content ul{
        margin-bottom:30px;
    }
    
}
.contentPanel .contentWrapper{
	@include animation;
}
.contentPanel .contentWrapper.sidePopupVisible{
	//@include translate(-597px,0,0);
}