.signup{
	.chooseAvatar{
		display:block;
		position:static;
		text-align:center;

		font{
			display:block;
			font-weight:300;
			font-size:$fontSize - 3;
		}

		&.chsLogo {
			img{
				max-height:80px;
			}
		}
	}

	.inviteMessage{
		font-size: 18px;
	    font-weight: 400;
	    text-align: center;
	    margin-bottom:40px;
	}

	.inviteUsers {
		padding:25px 20px 20px;
		border:1px dashed $loginBorder;
		margin:-10px 0 20px 0;
		float:left;
		width:100%;
	}

	h3 {
		padding:0 0 20px 0;
	}

	.btn {
		width:auto;
		margin-left:5px;

		&.gray{
			margin:0px;
		}
	}

	.customTab .nav-tabs{
		background:none;
		margin:-20px 0 25px;
		padding:15px 0 0;
		border-bottom:1px solid #666;

		&> li{

			width:50%;
			text-align:center;

			&> a {
			    border: 0 none;
			    padding: 10px 0;
			}
		} 
	}
}