$headerBg:#3c3c3c;
$fontSize:18px;
$border-color:#cccccc;
$darkBorder:#222222;
$lightBorder:#eeeeee;
$menuColor:#cccccc;
$mobileMenuIconBg:rgba(256,256,256,0.1);
$textColor:#333333;
$mediumTextColor:#666666;
$lightText:#727272;
$menuBg:#e7e7e7;
$black:#000000;
$white:#ffffff;
$leftPanelBg:#f7f7f7;
$contentBg:#e7e7e7;
$theme:#1173cd;
$linkColor:#333333;
$linkHover:#5fc764;
$highlight:#5fc764;
$buttonBg:#5fc764;
$buttonHover:#429e47;
$darkBg:#222222;
$shadowColor:#666666;
$lightShadow:#bebebe;
$validColor:#42a948;
$logincolor:#455e6a;
$loginBorder:#7792a0;
$lightBg:#eeeeee;
$filterBg:#f4f4f4;
$lightWhite:#efefef;
$gridHeadBg:#f6f6f6;
$gridOddRowBg:#fafafa;
$gridRowHover:#eeeeee;
$cardBorder:#eeeeee;
$cardHeader:#eeeeee;
$planOne:#1abc9c;
$planTwo:#e67e22;
$planThree:#9b59b6;
$lightRed:#f0d7d7;
$darkRed:#cc4646;
$cardBg:#f7f7f7;
$alertColor:#CA2963;
$detaivateColor:#e2242e;
$mobileActionBtnBg:#333;




