<div class="mainTitle">
    <h1>{{ 'USERS' | translate }}</h1>
</div>
<div class="panelAction">
    <a class="btn" (click)="orgSvc.toggleInviteUserPopup()">
        <i class="fa fa-plus"></i>
        <font>{{ 'USERADD' | translate }}</font>
    </a>
</div>
<div class="contentPanel settingsPage">
    <div class="contentWrapper">
        <div class="projectBox clearfix">
            <tabset class="customTab withIcon">
                <!-- ActiveUsers -->
                <tab>
                    <ng-template tabHeading>
                        <i class="fa fa-users"></i>
                        <font>{{ 'USERSACTIVE' | translate }}</font>
                    </ng-template>
                    <div class="title visible-xs">{{ 'USERSACTIVE' | translate }}</div>
                    <div class="row" *ngIf="activeUsers?.length">
                        <div class="col-md-12">
                            <div class="evo-filter-btn" (click)="onOpenModal('Delete', 'Active')" [class.enabled]="anyUserChecked?.Active" placement="right" tooltip="{{'DELETE' | translate}}">
                                <i class="fa fa-trash fa-fw"></i>
                            </div>
                            <div class="evo-filter-btn" (click)="onOpenModal('Deactivate', 'Active')" [class.enabled]="anyUserChecked?.Active" placement="right" tooltip="{{'DEACTIVATE' | translate}}">
                                <i class="fa fa-plug fa-fw"></i>
                            </div>
                            <div class="evo-filter-btn" *ngIf="permissions.isEvolumiAdmin" (click)="onOpenModal('SalesCommission', 'Active')" [class.enabled]="anyUserChecked?.Active" placement="right" tooltip="{{'CHANGESALESCOMMISSION' | translate}}">
                                <i class="fa fa-usd fa-fw"></i>
                            </div>
                        </div>
                    </div>
                    <p *ngIf="!activeUsers || activeUsers?.length === 0">{{'NOUSERS' | translate }}</p>
                    <div class="gridWrapper" *ngIf="activeUsers?.length">
                        <table>
                            <thead>
                                <tr>
                                    <th>                                        
                                        <label class="customCheckBox leftFolat" id="custome-check-active" tooltip="{{'SELECTALL' | translate }}"
                                            placement="right">
                                            <input type="checkbox" id="checkAllInvite" [ngModel]="checkAll.Active" (ngModelChange)="onCheckAll($event, 'Active')" class="checker">
                                            <div class="custonCkeck"></div>
                                        </label>
                                        {{'NAME' | translate}}
                                    </th>
                                    <th>{{'EMAIL' | translate}}</th>
                                    <th>{{'ROLE' | translate}}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of activeUsers">
                                    <td>                                            
                                        <label class="customCheckBox leftFolat" id="custome-check-active-user">
                                                <input type="checkbox" id="{{user.Id}}" [ngModel]="user.IsChecked" (ngModelChange)="onCheck($event, user.Id, 'Active')" class="checker">
                                                <div class="custonCkeck"></div>
                                        </label>
                                        <a (click)="openEdit(user)">{{user.FirstName}} {{user.LastName}}</a>
                                    </td>
                                    <td>{{user.Email}}</td>
                                    <td>{{user.OrganisationRole}}</td>
                                    <td>
                                        <a (click)="delete(user.Id)" class="link icon"><i class="fa fa-trash-o"></i></a>
                                        <button (click)="changeStatusUser(user.Id,'Inactive')" *ngIf="user.Id !== loggedInUserId" 
                                            class="btn deactivatebtn">{{ 'DEACTIVATE' | translate }}</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </tab>
                <!-- InactiveUsers -->
                <tab>
                    <ng-template tabHeading>
                        <i class="fa fa-user-times"></i>
                        <font>{{ 'USERSINACTIVE' | translate }} </font>
                    </ng-template>
                    <div class="title visible-xs">{{ 'USERSINACTIVE' | translate }}</div>
                    <div class="row" *ngIf="inactiveUsers?.length">
                        <div class="col-md-12">
                            <div class="evo-filter-btn" (click)="onOpenModal('Delete', 'Inactive')" [class.enabled]="anyUserChecked?.Inactive" placement="right" tooltip="{{'DELETE' | translate}}">
                                <i class="fa fa-trash fa-fw"></i>
                            </div>
                            <div class="evo-filter-btn" (click)="onOpenModal('Deactivate', 'Inactive')" [class.enabled]="anyUserChecked?.Inactive" placement="right" tooltip="{{'ACTIVATE' | translate}}">
                                <i class="fa fa-plug fa-fw"></i>
                            </div>
                        </div>
                    </div>
                    <p *ngIf="!inactiveUsers || inactiveUsers?.length == 0">{{'NOUSERS' | translate }}</p>
                    <div class="gridWrapper" *ngIf="inactiveUsers?.length">
                        <table>
                            <thead>
                                <tr>
                                    <th>                                        
                                        <label class="customCheckBox leftFolat" id="custome-check-inactive" tooltip="{{'SELECTALL' | translate }}"
                                            placement="right">
                                            <input type="checkbox" id="checkAllInactive" [ngModel]="checkAll.Inactive" (ngModelChange)="onCheckAll($event, 'Inactive')" class="checker">
                                            <div class="custonCkeck"></div>
                                        </label>
                                        {{'NAME' | translate}}
                                    </th>
                                    <th>{{'EMAIL' | translate}}</th>
                                    <th>{{'ROLE' | translate}}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of inactiveUsers">
                                    <td>                                            
                                        <label class="customCheckBox leftFolat" id="custome-check-active-user">
                                                <input type="checkbox" id="{{user.Id}}" [ngModel]="user.IsChecked" (ngModelChange)="onCheck($event, user.Id, 'Active')" class="checker">
                                                <div class="custonCkeck"></div>
                                        </label>
                                        <a [routerLink]="['./Edit', user.Id]">{{user.FirstName}} {{user.LastName}}</a>
                                    </td>
                                    <td>{{user.Email}}</td>
                                    <td>{{user.OrganisationRole}}</td>
                                    <td>
                                        <a (click)="delete(user.Id)" class="link icon"><i class="fa fa-trash-o"></i></a>
                                        <button (click)="changeStatusUser(user.Id,'Active')" *ngIf="user.Id !== loggedInUserId" 
                                            class="btn deactivatebtn">{{ 'ACTIVATE' | translate }}</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </tab>
                <!-- InvitedUsers -->
                <tab>
                    <ng-template tabHeading>
                        <i class="fa fa-smile-o"></i>
                        <font>{{ 'USERSINVITED' | translate }} </font>
                    </ng-template>
                    <div class="title visible-xs">{{ 'USERSINVITED' | translate }}</div>
                    <div class="row" *ngIf="invitedUsers?.length">
                        <div class="col-md-12">
                            <div class="evo-filter-btn" (click)="onOpenModal('Delete', 'Invited')" [class.enabled]="anyUserChecked?.Invited" placement="right" tooltip="{{'DELETE' | translate}}">
                                <i class="fa fa-trash fa-fw"></i>
                            </div>
                            <div class="evo-filter-btn" (click)="onOpenModal('Reinvite', 'Invited')" [class.enabled]="anyUserChecked?.Invited" placement="right" tooltip="{{'REINVITE' | translate}}">
                                <i class="fa fa-coffee fa-fw"></i>
                            </div>
                        </div>
                    </div>
                    <p *ngIf="invitedUsers.length==0">{{'NOUSERS' | translate}}</p>
                    <div class="gridWrapper" *ngIf="invitedUsers.length!=0">
                        <table>
                            <thead>
                                <tr>
                                    <th>                                        
                                        <label class="customCheckBox leftFolat" id="custome-checkInvite" tooltip="{{'SELECTALL' | translate }}"
                                            placement="right">
                                            <input type="checkbox" id="checkAllInvite" [ngModel]="checkAll.Invited" (ngModelChange)="onCheckAll($event, 'Invited')" class="checker">
                                            <div class="custonCkeck"></div>
                                        </label>
                                        {{'NAME' | translate}}
                                    </th>
                                    <th>{{'EMAIL' | translate}}</th>
                                    <th>{{'ROLE' | translate}}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of invitedUsers; let i = index">
                                    <td>                                            
                                        <label class="customCheckBox leftFolat" id="custome-check">
                                                <input type="checkbox" id="{{user.Id}}" [ngModel]="user.IsChecked" (ngModelChange)="onCheck($event, user.Id, 'Invited')" class="checker">
                                                <div class="custonCkeck"></div>
                                        </label>
                                        <a [routerLink]="['./EditInvited', user.Id]">{{user.FirstName}} {{user.LastName}}</a>
                                    </td>
                                    <td>{{user.Email}}</td>
                                    <td>{{user.RoleName}}</td>
                                    <td>
                                        <a (click)="deleteInvitedUser(user.Id)" class="link icon"><i class="fa fa-trash-o"></i></a>
                                        <button (click)="reinviteUser(user.Id)" class="btn activatebtn">{{ 'REINVITE' | translate }}</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<assign-sales-comm *ngIf="openAssignSalesCommission" (close)="onCloseModal('SalesCommission')" [users]="salesCommissionUsers"></assign-sales-comm>
<edit-user-role [user]="editUser" (close)="editClosed($event)"></edit-user-role>