<div class="mainTitle">
    <h1>{{ 'CHOOSEPLAN' | translate }}</h1>
</div>
<div class="contentPanel settingsPage">
    <div class="contentWrapper">
        <div class="projectBox clearfix">
            <div class="title">
                {{ 'PLAN' | translate }}
            </div>

            <h3 class="text-center planHeade">{{ 'FREETOUSE' | translate }}</h3>

            <div class="centerDiv">
                <div class="card planOne" *ngIf="subModel.Free">
                    <div class="colorBox text-center">
                        <p class="plan">{{ 'PLANFREE' | translate }}</p>
                        <h1>0 {{currency ? currency : defaultCurrency}}</h1>
                        <p class="velue">{{ 'PERUSERPERMONTH' | translate }}</p>

                        <div class="actions" *ngIf="subScribedPlan.Plan === 'Free'">
                            ({{ 'YOUHAVETHISPLAN' | translate }})
                        </div>
                        <div class="actions" *ngIf="subScribedPlan.Plan != 'Free'">
                            <a class="btn transparent block" (click)="active('Free')">
                                {{ 'PLANACTIVATEFREE' | translate }}
                            </a>
                        </div>
                        <div class="shortNote">
                            {{ 'PLANTOTALCOST' | translate }}
                            <p class="velue">0 {{currency ? currency : defaultCurrency}}</p>
                        </div>
                    </div>  
                    <div class="card-block">
                        <h4 class="card-title">
                            {{ 'PLANINCLUDEFREE' | translate }}:
                            <font>{{ 'PLANFREEFULLCRM' | translate }}</font>
                            <font>+ {{ 'PLANFREECLICKTOEMAIL' | translate }}</font>
                        </h4>
                        <h4 class="card-title">
                            {{ 'COMINGSOON' | translate }}:
                            <font>+ {{ 'PLANFREEAPPS' | translate }}</font>
                        </h4>
                    </div>
                </div>

                <div class="card planTwo" *ngIf="subModel.Standard">
                    <div class="colorBox text-center">
                        <p class="plan">{{ 'PLANSTANDARD' | translate }}</p>
                        <h1>{{subModel.Standard.Amount}} {{subModel.Standard.Currency}}</h1>
                        <p class="velue">{{ 'PERUSERPERMONTH' | translate }}</p>
                        <div class="actions" *ngIf="subScribedPlan.Plan === 'Standard'">
                            ({{ 'YOUHAVETHISPLAN' | translate }})
                        </div>
                        <div class="actions" *ngIf="subScribedPlan.Plan != 'Standard'">
                            <a class="btn transparent block" (click)="active('Standard')">
                                {{ 'PLANACTIVATESTANDARD' | translate }}
                            </a>
                        </div>
                        <div class="shortNote">
                            {{ 'PLANTOTALCOST' | translate }}
                            <p class="velue">{{subModel.Standard.Amount * activeUsers}} {{subModel.Standard.Currency}}</p>
                        </div>
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">
                            {{ 'PLANINCLUDESTANDARD' | translate }}:
                            <font>+ {{ 'PLANSTANDARDNOADS' | translate }}</font>
                            <font>+ {{ 'PLANSTANDARDUPLOADLOGO' | translate }}</font>
                            <font>+ {{ 'PLANSTANDARDBRANDING' | translate }}</font>
                        </h4>
                        <!--<h4 class="card-title">
                            {{ 'COMINGSOON' | translate }}:
                        </h4>-->
                    </div>
                </div>

                <div class="card planThree" *ngIf="subModel.Plus">
                    <div class="colorBox text-center">
                        <p class="plan">{{ 'PLANPLUS' | translate }}</p>
                        <!--<h1>{{'COMINGSOON' | translate}}</h1>-->
                        <h1>{{subModel.Plus.Amount}} {{subModel.Plus.Currency}}</h1>
                        <p class="velue">{{ 'PERUSERPERMONTH' | translate }}</p>
                        <div class="actions" *ngIf="subScribedPlan.Plan === 'Plus'">
                            ({{ 'YOUHAVETHISPLAN' | translate }})
                        </div>
                        <div class="actions" *ngIf="subScribedPlan.Plan != 'Plus'">
                            <a class="btn transparent block" (click)="active('Plus')">
                                {{ 'PLANACTIVATEPLUS' | translate }}
                            </a>
                        </div>
                        <div class="shortNote">
                            {{ 'PLANTOTALCOST' | translate }}
                            <p class="velue">{{subModel.Plus.Amount * activeUsers}} {{subModel.Plus.Currency}}</p>
                        </div>
                    </div>

                    <div class="card-block">
                        <h4 class="card-title">
                            {{ 'PLANINCLUDEPLUS' | translate }}:
                            <font>+ {{ 'PLANPLUSGUESTUSERS' | translate }}</font>
                            <font>+ {{ 'PLANPLUSMAILTEMPLATES' | translate }}</font>
                        </h4>
                        <h4 class="card-title">
                            {{ 'COMINGSOON' | translate }}:
                            <font>+ {{ 'PLANPLUSCUSTOMFIELDS' | translate }}</font>
                            <font>+ {{ 'PLANPLUSCLICKTOCALL' | translate }}</font>
                        </h4>
                    </div>
                </div>
            </div>
            <div *ngIf="!isSubscribed" class="centerDiv">
                <label style="margin-right:5px;">{{'CURRENCY' | translate}} </label>
                <chosen id="Currency" [width]="'100px'" [multiple]="false" [options]="currencyOptions" [(ngModel)]="currency" (change)="setCurrency($event)"></chosen>
            </div>
        </div>
    </div>
</div>

<div class="customPopup small " id="pay" (click)="clickToClose($event)">
    <div class="popupBox">
        <div class="title">
            {{ 'BILLING' | translate }}
            <a class="close pull-right" (click)="close()"><i class="fa fa-times"></i></a>
        </div>
        <tabset class="customTab withIcon">
            <tab>
                <ng-template tab-heading>
                    <i class="fa fa-map-o"></i>
                    <font>{{ 'BILLINGDETAILS' | translate }}</font>
                </ng-template>
                <div class="title visible-xs ">{{ 'BILLINGDETAILS' | translate }}</div>
                <div class="popupContent">
                    <form [formGroup]="paymentBasic" *ngIf="!creditCard">
                        <div class="tab-content">
                            <div>

                                <div class="form-group">
                                    <label>{{ 'CARDHOLDER' | translate }}</label>
                                    <input type="text" formControlName="cardholdername" class="form-control" placeholder="{{ 'CARDHOLDER' | translate }}">
                                </div>
                                <div class="form-group">
                                    <label>{{ 'CARDNUMBER' | translate }}</label>
                                    <input type="text" formControlName="cardnumber" class="form-control" placeholder="{{ 'CARDNUMBER' | translate }}">
                                </div>
                                <div class="form-group">
                                    <label>{{ 'CARDEXPIRATION' | translate }}</label>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <select formControlName="month" [(ngModel)]="selectedMonth" class="form-control">
                                                <option *ngFor="let val of month" [value]="val">{{val}}</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-6">
                                            <select formControlName="year" [(ngModel)]="selectedYear" class="form-control">
                                                <option *ngFor="let v of year" [value]="v">{{v}}</option>
                                            </select>
                                        </div>
                                    </div>


                                </div>
                                <div class="form-group">
                                    <label>{{ 'CARDCVV' | translate }}</label>
                                    <input type="text" formControlName="cvv" class="form-control" placeholder="{{ 'CARDCVV' | translate }}">
                                </div>
 
                                <div class="buttonRow">
                                    <button class="btn pull-right" (click)="updatePayment()">{{ 'SAVEBTN' | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div *ngIf="creditCard" class="settingsPage">
                        <div class="paymentCard fullWidth">
                            <b>
                                <a (click)="subscribe()">
                                    <i class="fa fa-cc-visa" *ngIf="creditCard.CardType === 'Visa'"></i>
                                    <i class="fa fa-cc-mastercard" *ngIf="creditCard.CardType === 'MasterCard'"></i>
                                    <i class="fa fa-cc-amex" *ngIf="creditCard.CardType === 'American Express'"></i>
                                    XXXX XXXX {{creditCard.Last4Digits}}
                                </a>
                            </b>
                            {{'EXPIRATIONDATE' | translate}}: {{creditCard.CardExpireDate}}
                        </div>
                        <div><button class="btn pull-right" (click)="edit()">{{'UPDATECARD' | translate}}</button></div>
                    </div>

                </div>
            </tab>

        </tabset>
    </div>
</div>
