.centerDiv {
    display: table;
    margin: 0 auto;
}


.btn.transparent {
    border: 2px solid white;
    background-color: transparent;
    color: white;
}

    .btn.transparent:hover {
        background-color: white;
        color: black;
    }